Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Update 05_japan.txt
  common/national_focus/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Clean up legacy JAP demographic assets, add gauge gates & AI/loc pass (#2566)
  .claude/docs/md-custom-modifiers.md
  common/decisions/05_japan.txt
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/ideas/05_japan.txt
  common/modifier_definitions/JAP_modifier_definitions.txt
  common/national_focus/05_japan.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

test
  tools/standardization/standardize_focus_tree.py
  tools/standardization/tests/standardize_focus_tree_test.py
Due: none

fra ideas
  common/decisions/France.txt
  common/ideas/French.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on Switzerland
  common/national_focus/05_switzerland.txt
  interface/MD_ideas.gfx
  tools/standardize_staged.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refactor SIA Thailand: economy, defence, tourism
  common/decisions/Thailand.txt
  common/decisions/categories/99_SIA_decision_categories.txt
  common/dynamic_modifiers/99_SIA_dynamic_modifiers.txt
  common/ideas/Thailand.txt
  common/national_focus/05_thailand.txt
  events/Thailand.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

e
  common/ideas/Turkish.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

r
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/decisions/05_japan.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Work
  common/decisions/05_japan.txt
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Consolidate JAP_economy_modifier for economic sectors backbone (#2570)
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add JAP agriculture economic sector (#2571)
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add automotive economic sector column (#2572)
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

save
  common/units/names_divisions/SYR_names_divisions.txt
  history/units/IRQ_2000_nsb.txt
  history/units/ISR_2000_nsb.txt
  history/units/NKO_2000_nsb.txt
  history/units/SOV_2000_nsb.txt
  history/units/SYR_2000_nsb.txt
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add JAP electronics & semiconductors sector with Model Competition mechanic (#2573)
  common/decisions/05_japan.txt
  common/decisions/categories/99_JAP_decision_categories.txt
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  common/on_actions/99_JAP_on_actions.txt
  common/opinion_modifiers/Japan.txt
  events/Japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Some Fixes and Additions
  common/ideas/Philippines.txt
  common/scripted_effects/99_PHI_scripted_effects.txt
  common/scripted_effects/PHI_political_leaders.txt
  events/Philippines.txt
  localisation/english/MD_focus_PHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed some more stuff
  common/national_focus/05_switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Thailand focus tree: add Ministry of Defence
  common/national_focus/05_thailand.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Switzerland: fix federation/AI-plan regressions, add referendum mechanic
  common/decisions/05_SWI_decisions.txt
  common/decisions/categories/00_SWI_categories.txt
  common/national_focus/05_switzerland.txt
  events/05_switzerland_events.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add JAP Resources & Energy economic sector branch (#2574)
  common/decisions/05_japan.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Switzerland: remove the referendum decisions/events for now
  common/decisions/05_SWI_decisions.txt
  common/decisions/categories/00_SWI_categories.txt
  common/national_focus/05_switzerland.txt
  events/05_switzerland_events.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add JAP Rail / Shinkansen economic sector column (#2575)
  Changelog.txt
  common/decisions/05_japan.txt
  common/decisions/categories/99_JAP_decision_categories.txt
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  common/opinion_modifiers/Japan.txt
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/decisions/05_SWI_decisions.txt
  common/ideas/05_switzerland_ideas.txt
  common/ideas/AA_law_expanded_economics.txt
  common/national_focus/05_switzerland.txt
  events/05_switzerland_events.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
  tools/standardization/standardize.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/tests/standardize_cli_test.py
  tools/standardization/tests/standardize_focus_tree_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Thailand force-model focus fork and modifiers
  common/dynamic_modifiers/99_SIA_dynamic_modifiers.txt
  common/national_focus/05_thailand.txt
  common/on_actions/99_SIA_on_actions.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed opinion check for enforce peace - Closes #2579
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  common/decisions/05_SWI_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Clean up Japan economic sectors: orphaned modifier, loc, AI & gating (#2576)
  common/decisions/05_japan.txt
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

t
  localisation/english/MD_focus_TUR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update settings.json
  .claude/settings.json
Due: none

Replace Japan NPL/corporate system with Zombie Companies backbone (#2581)
  common/bookmarks/blitzkrieg.txt
  common/decisions/05_japan.txt
  common/decisions/categories/99_JAP_decision_categories.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  common/on_actions/99_JAP_on_actions.txt
  common/scripted_triggers/99_JAP_scripted_triggers.txt
  events/Japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Implement Japan Karoshi backbone (Starting Spirit) (#2582)
  common/bookmarks/blitzkrieg.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  common/on_actions/99_JAP_on_actions.txt
  common/scripted_triggers/99_JAP_scripted_triggers.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

stuff
  common/ideas/Turkish.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed the regression with add_relative_party_popularity
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

documentation updoot
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Updates the branch and fix Issues
  common/decisions/Saudi Arabia.txt
  common/factions/templates/99_SAU.txt
  common/national_focus/sau_focus.txt
  events/SAU_arms.txt
  events/SAU_banking.txt
  events/SAU_bop_events.txt
  events/SAU_economy.txt
  events/SAU_events.txt
  events/SAU_military.txt
  events/SAU_reform.txt
  events/SAU_tadawul.txt
  history/countries/SAU - Saudi Arabia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on Switzerland
  .claude/skills/standardize/SKILL.md
  common/decisions/05_SWI_decisions.txt
  common/national_focus/05_switzerland.txt
  events/05_switzerland_events.txt
  localisation/english/MD_focus_SWI_l_english.yml
  tools/standardization/standardize.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/tests/standardize_cli_test.py
  tools/standardization/tests/standardize_focus_tree_test.py
  tools/standardize_staged.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
