Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Fixed minor issues
  common/on_actions/MD_event_on_actions.txt
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

removed unused decision categories
  common/decisions/Political Desicions.txt
  common/decisions/categories/00_decision_categories.txt
  common/decisions/categories/01_american_decision_categories.txt
  common/decisions/categories/05_GER_decision_categories.txt
  common/decisions/categories/05_danish_decision_categories.txt
  common/decisions/categories/99_AFG_decision_categories.txt
  common/decisions/categories/BSH_bop_decision_categories.txt
  common/decisions/categories/Netherlands_decision_categories.txt
  common/decisions/categories/belarus_decision_categories.txt
  common/decisions/categories/central_asian_narcotraffic_categories.txt
  common/decisions/categories/donetsk_bop_decision_categories.txt
  common/decisions/categories/greece_decisions_categories.txt
  common/decisions/categories/ukraine_decision_categories.txt
  common/decisions/jihadist.txt
  common/national_focus/05_afghanistan.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work style and declining birthrate fix
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/JAP.txt
  common/national_focus/JAP.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  common/scripted_localisation/99_JAP_scripted_localisation.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/equipment_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Foreign policy work
  common/decisions/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  common/raids/special_forces_raids.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

game rules
  common/game_rules/00_game_rules.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Solomon_Islands.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_pacific_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Loc edit
  localisation/english/MD_pacific_events_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH old megastate files cleanup
  common/characters/AFD.txt
  common/characters/ASE.txt
  common/characters/CHN.txt
  common/characters/CRU.txt
  common/characters/EAC.txt
  common/characters/ERF.txt
  common/characters/EUF.txt
  common/characters/ODU.txt
  common/characters/RCA.txt
  common/characters/USM.txt
  common/characters/USN.txt
  common/countries/EUF.txt
  common/countries/colors.txt
  common/countries/cosmetic.txt
  common/country_tags/00_countries.txt
  common/names/00_names.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  history/countries/AFD - African Defense Point.txt
  history/countries/ASE - South Eastern Republic.txt
  history/countries/CHN - People's Republic of the Three Peaks.txt
  history/countries/CRU - Eastern Continental Union.txt
  history/countries/EAC - East Asian Coalition.txt
  history/countries/ERF - Eurasian Federation.txt
  history/countries/EUF - European Federation.txt
  history/countries/ODU - Oceanic Defense Union.txt
  history/countries/RCA - Republic of Central America.txt
  history/countries/USM - Union of South American Nations.txt
  history/countries/USN - United States of North America.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH more files cleanup
  common/countries/AFD.txt
  common/countries/ASE.txt
  common/countries/CHN.txt
  common/countries/CRU.txt
  common/countries/EAC.txt
  common/countries/ERF.txt
  common/countries/ODU.txt
  common/countries/RCA.txt
  common/countries/USM.txt
  common/countries/USN.txt
  gfx/leaders/EUF/EUF_HQ.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH new megastates load focus tree
  common/national_focus/EH_generic.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix reserve decision
  common/decisions/Cascadia.txt
  common/decisions/Free States of America.txt
  common/decisions/New England.txt
  common/decisions/Republic of Lakota.txt
  common/decisions/Southern Republic of America.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Test Quicksort
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_power_ranking_effects.txt
  common/scripted_localisation/01_ledger_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

extracted logic
  common/scripted_effects/00_power_ranking_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

enjoy doolittle
  common/scripted_effects/00_power_ranking_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Monthly migration array refactor
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_startup_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH megastate prefers strong nation
  common/scripted_triggers/99_EH_scripted_triggers.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH megastate formation events polishing
  common/scripted_effects/99_EH_scripted_effects.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed more Cyber warfare and cleaned up additional things
  common/ideas/Cyber Warfare.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_microchip_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_startup_effects.txt
  events/Cyber Warfare.txt
  localisation/english/MD_ideas_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

removed cyber warfare effect
  common/scripted_effects/01_cyber_warfare_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog
  Changelog.txt
  docs/misc/authors.md
Due: none

Whatever this schizo ass shit is
  common/scripted_effects/00_power_ranking_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

logic
  common/scripted_effects/00_power_ranking_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

defensive posturing on inflation rate growth to solve large scale inflation issues
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_economic_effects.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

cleanup comments
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

code go brrrrrrrrrrrrr
  common/scripted_effects/00_power_ranking_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing the larger for_each_scope_loops to for_each loops
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

so, we're kinda cooking with gas now, thanks to the mighty power of the bird and a retard
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_power_ranking_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

cleared all set_country_flags w/o useage that did appear unused in code when searched for, left ones unsure about removal or that did return a false positive
  events/Afghanistan.txt
  events/Central African Republic.txt
  events/France.txt
  events/Hezbollah.txt
  events/Iran.txt
  events/Israel_events.txt
  events/Mali.txt
  events/Nigeria_Niger_Delta.txt
  events/San Marino.txt
  events/Singapore.txt
  events/SubjectRussia.txt
  events/Switzerland.txt
  events/Tajikistan.txt
  events/Vitebsk.txt
  events/bashkiria.txt
  events/netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more cleanup
  common/decisions/05_SWE_decision.txt
  common/decisions/05_egypt_decisions.txt
  common/decisions/Azerbaijan.txt
  common/decisions/Burma.txt
  common/decisions/Country Flag Decisions.txt
  common/decisions/Czech_Republic.txt
  common/decisions/GER.txt
  common/decisions/Gulf.txt
  common/decisions/India.txt
  common/decisions/Israel.txt
  common/decisions/Kurdistan.txt
  common/decisions/Political Desicions.txt
  common/decisions/Russia.txt
  common/decisions/Syria.txt
  common/decisions/USA.txt
  common/decisions/Ukraine.txt
  common/decisions/categories/01_american_decision_categories.txt
  common/decisions/categories/NATO_decision_categories.txt
  common/decisions/categories/argentina_decision_categories.txt
  common/decisions/categories/canada_decisions_category.txt
  common/decisions/categories/chechnya_categories.txt
  common/decisions/categories/czech_republic.txt
  common/decisions/categories/iran_decision_categories.txt
  common/decisions/categories/israel_categories.txt
  common/decisions/categories/kurdistan_decision_categories.txt
  common/decisions/categories/libya_decision_categories.txt
  common/decisions/categories/poland_decision_categories.txt
  common/decisions/categories/russia_decision_categories.txt
  common/decisions/categories/transnistria_decision_categories.txt
  common/decisions/categories/turkey_decision_categories.txt
  common/decisions/categories/ukraine_decision_categories.txt
  common/decisions/karabakh.txt
  common/decisions/libya.txt
  common/decisions/taiwan.txt
  common/decisions/transnistria.txt
  common/on_actions/01_tfv_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/01_NATO_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed dupe allowed
  common/decisions/05_SWE_decision.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

else_if
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing a few oopsies and trying some more techniques for improvement
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_effects/00_power_ranking_effects.txt
  common/scripted_localisation/01_ledger_localisation.txt
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Algeria fixes for localisation and decisions
  common/decisions/Algeria.txt
  common/decisions/categories/99_ALG_decision_categories.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

scripted localisation work; all cleared are empty, all remaining are unknown / false positive
  common/scripted_localisation/00_EU_parliament_scripted_localisation.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  common/scripted_localisation/01_ledger_localisation.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  common/scripted_localisation/02_conditional_peace_deal_scripted_localisation.txt
  localisation/english/MD_focus_USR_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

scripted localization work, adding base ai_will_do to all missions in pmc decisions to clear validation errors
  common/decisions/02_pmc_decisions.txt
  interface/MD_israel_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

pmc decision ai errors fixed
  common/decisions/01_pmc_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

clearing more failed validations
  common/decisions/Nigeria.txt
  common/on_actions/05_lar_on_actions.txt
  events/Generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
