Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Add files via upload
  md_carrier_direct_raids/common/raids/carrier_raids.txt
  md_carrier_direct_raids/localisation/english/carrier_raids_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Publish workshop tool
  tools/publish_workshop.py
Due: none

work
  common/decisions/mercosur_decisons.txt
  common/factions/templates/99_BRA.txt
  common/ideas/Factions.txt
  common/national_focus/06_MERCOSUR_shared.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  common/scripted_triggers/00_scripted_triggers.txt
  events/mercosur.txt
  localisation/english/MD_focus_MERCOSUR_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
  localisation/japanese/MD_focus_MERCOSUR_l_japanese.yml
  localisation/japanese/replace/replaced_from_faction_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/decisions/Political Desicions.txt
  common/decisions/categories/MERCOSUR_decison_categories.txt
  common/decisions/mercosur_decisons.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/06_MERCOSUR_shared.txt
  common/scripted_effects/05_MERCOSUR_effects.txt
  events/mercosur.txt
  localisation/english/MD_focus_MERCOSUR_l_english.yml
  localisation/japanese/MD_focus_MERCOSUR_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

picture
  events/mercosur.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/national_focus/05_bolivia.txt
  common/national_focus/06_MERCOSUR_shared.txt
  events/mercosur.txt
  localisation/english/MD_focus_MERCOSUR_l_english.yml
  localisation/japanese/MD_focus_MERCOSUR_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/national_focus/05_singapore.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Git setup guide, design principles, and consolidate Discord developer docs
  docs/src/content/home/index.yml
  docs/src/content/release/index.yml
  docs/src/content/resources/art-standards.md
  docs/src/content/resources/authentication-failed-cloning-repo.md
  docs/src/content/resources/content-review-guide.md
  docs/src/content/resources/focus-tree-design-principles.md
  docs/src/content/resources/knowledge-based-resources.md
  docs/src/content/tutorials/manual-install-instructions.md
Due: none

Clean up tools directory: remove junk scripts, convert shell to Python
  CLAUDE.md
  tools/README.md
  tools/convert to utf8.py
  tools/create_modifiers.py
  tools/find_idea_references.py
  tools/find_idea_references.sh
  tools/find_scripted_loc_references.py
  tools/find_scripted_loc_references.sh
  tools/fix_helicopter_dlc.py
  tools/fix_indentation_and_spacing.py
  tools/merge_ai_equipment.py
  tools/normalize_national_content.py
  tools/review-branch.sh
  tools/review_branch.py
  tools/to_focus_name.py
Due: none

Organize tools directory into categorized subdirectories
  .github/workflows/coding-pipeline.yml
  .pre-commit-config.yaml
  CLAUDE.md
  tools/README.md
  tools/analysis/calculate_days.py
  tools/analysis/count_of_focuses.py
  tools/analysis/estimate_gdp.py
  tools/analysis/find_idea_references.py
  tools/analysis/find_scripted_loc_references.py
  tools/analysis/review_branch.py
  tools/analysis/search_add_ideas.py
  tools/assets/batchDDS.py
  tools/assets/batchdds-2.py
  tools/assets/convert_to_legacy_dds.py
  tools/assets/duplicate_icon.py
  tools/assets/find_duplicate_textures.py
  tools/assets/flag-reference-checker.py
  tools/assets/gfxEntryGenerator.md
  tools/assets/gfx_entry_generator.py
  tools/assets/gfx_entry_generator_gui.py
  tools/assets/gfx_entry_generator_linux.py
  tools/assets/state_gfx.py
  tools/generate_tribute_ideas.py
  tools/generators/generate_tribute_ideas.py
  tools/generators/text_to_focus_and_focus_to_loc.py
  tools/linting/check_basic_style.py
  tools/linting/check_basic_style_2.py
  tools/linting/check_braces.py
  tools/linting/check_common_mistakes.py
  tools/linting/coding_standards.py
  tools/linting/fix_line_endings.py
  tools/linting/fix_loc_yaml.py
  tools/linting/fix_styling.py
  tools/linting/validate_localization_encoding.py
  tools/linting/validate_mod_encoding.py
  tools/publishing/publish_workshop.py
  tools/tests/staged_validators_real_test.py
  tools/tests/staged_validators_test.py
Due: none

Add tools/run.py launcher for cross-platform tool access
  tools/README.md
  tools/run.py
Due: none

Add one-command developer setup script
  CONTRIBUTING.md
  docs/src/content/tutorials/manual-install-instructions.md
  tools/setup.py
Due: none

Improve developer setup documentation across all guides
  CONTRIBUTING.md
  docs/src/content/pages/getting-started.md
  docs/src/content/resources/content-review-guide.md
  docs/src/content/tutorials/manual-install-instructions.md
Due: none

Rewrite Git Setup Guide for beginner-friendly readability
  docs/src/content/tutorials/manual-install-instructions.md
Due: none

Add pre-commit hook behavior docs for GitKraken, GitHub Desktop, and CLI
  docs/src/content/tutorials/manual-install-instructions.md
Due: none

Document special project ai_will_do base=0 crash in common errors
  docs/src/content/resources/common-errors.md
Due: none

Improve USA foreign policy decision AI and simplify Belarus effect
  common/decisions/USA.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Document three common crash/corruption issues in common errors
  docs/src/content/resources/common-errors.md
Due: none

Fix pre-existing bugs across USA decisions and events
  common/decisions/USA.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix two pre-existing logic bugs in Belarus reauthorization effect
  common/scripted_effects/99_USA_main_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Simplify BLG guard to country_exists check
  common/scripted_effects/99_USA_main_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix: remove duplicate AI scoring, fix validator staged mode
  common/ai_strategy/MD_combat_ai_strategies.txt
  common/scripted_effects/99_AI_investment_scripted_effects.txt
  tools/validation/validate_ai_roles.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/national_focus/usa.txt
  events/United States.txt
  events/united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

special forces fix
  history/units/BRA_2000_nonnsb.txt
  history/units/BRA_2000_nsb.txt
  history/units/HOL_2000_nonnsb.txt
  history/units/HOL_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

submarine fix
  history/units/EGY_buy_german_subs_MTG.txt
  history/units/ISR_buy_german_subs_MTG.txt
  history/units/ISR_buy_german_subs_again_MTG.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix NOT block scope bugs, log messages, and add TT_IF tooltips in merged DoS decisions
  common/decisions/USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Improve AI weighting and fix bugs in Department of State decisions
  common/decisions/USA.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add missing TT_IF tooltips for all cross-country DoS events
  common/decisions/USA.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize older USA decisions to match project conventions
  common/decisions/USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix review findings: logs, NOT blocks, scoping, and localisation
  common/decisions/USA.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix missing loc keys, spelling errors, and duplicate idea names
  localisation/english/MD_focus_USA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add cost, pictures, and restructure Ukraine tooltip
  common/decisions/USA.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Improve AI weighting for DoS decisions and fix event AI chance bugs
  common/decisions/USA.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Afghanistan withdrawal trigger on Iraq war failure
  events/Iraq.txt
  localisation/english/MD_focus_IRQ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix MNF capitulation bug and war support campaign timing
  common/decisions/War on Terror.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_middle_east_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

usa fix
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

GNSS fix
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

name fix
  history/units/EGY_buy_german_subs_MTG.txt
  history/units/ISR_buy_german_subs_again_MTG.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix: resolve MD028 blank-line-inside-blockquote lint errors
  docs/src/content/tutorials/manual-install-instructions.md
Due: none
