Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Remove duplicate entries in Changelog
  Changelog.txt
Due: none

Fixes
  history/countries/HUN - Hungary.txt
  history/countries/ROM - Romania.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Improve changelog conflict fixer merge driver (#5038)
  .github/workflows/changelog-conflict-fixer.yml
  tools/README.md
  tools/merge_changelog.py
  tools/tests/merge_changelog_test.py
Due: none

Next gen equipment names
  gfx/interface/equipmentdesigner/graphic_db/00_afv_icons.txt
  gfx/interface/equipmentdesigner/graphic_db/00_plane_icons.txt
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Localise negated trigger tooltips and scripted-trigger flags, and gate both in validation
  .claude/docs/decision-reference.md
  .claude/docs/validation-pipeline.md
  Changelog.txt
  localisation/english/MD_focus_BOS_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_SIA_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_focus_TAJ_l_english.yml
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/MD_influence_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/MD_muslim_brotherhood_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
  localisation/english/replace/replaced_from_vanilla_triggers_l_english.yml
  tools/tests/validation/negated_trigger_tooltip_test.py
  tools/tests/validation/unlocalised_available_flag_test.py
  tools/tests/validation/variables_scan_edge_case_test.py
  tools/validation/validate_variables.py
Due: validate-localization-encoding, fix-localization-encoding

Extend requirement-line checks to raids, tech sharing, factions and other player-facing folders
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/factions/goals/faction_goals_long_term.txt
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_technology_sharing_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
  localisation/english/replace/replaced_from_scripted_triggers_l_english.yml
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Rebalance reverse engineering bonuses by education and hull type
  Changelog.txt
  common/scripted_effects/00_reverse_engineering_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardise the Finland AI path game rule (#5025)
  Changelog.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_finland.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_FIN_scripted_triggers.txt
  events/Finland.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Validate tooltip aliases and explicit negative keys
  .claude/docs/validation-pipeline.md
  tools/tests/validation/negated_trigger_tooltip_test.py
  tools/validation/validate_variables.py
Due: none

Localise negated tooltips and flags in requirement lines, gate in validation (#5041)
  .claude/docs/decision-reference.md
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/factions/goals/faction_goals_long_term.txt
  localisation/english/MD_focus_BOS_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_SIA_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_focus_TAJ_l_english.yml
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/MD_influence_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/MD_muslim_brotherhood_l_english.yml
  localisation/english/MD_technology_sharing_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
  localisation/english/replace/replaced_from_scripted_triggers_l_english.yml
  localisation/english/replace/replaced_from_vanilla_triggers_l_english.yml
  tools/tests/validation/negated_trigger_tooltip_test.py
  tools/tests/validation/unlocalised_available_flag_test.py
  tools/tests/validation/variables_scan_edge_case_test.py
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix equipment name lookup keys and localisation conflicts
  Changelog.txt
  localisation/english/equipment_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Next gen equipment names (#5040)
  Changelog.txt
  gfx/interface/equipmentdesigner/graphic_db/00_afv_icons.txt
  gfx/interface/equipmentdesigner/graphic_db/00_art_icons.txt
  gfx/interface/equipmentdesigner/graphic_db/00_helicopter_icons.txt
  gfx/interface/equipmentdesigner/graphic_db/00_mlrs_icons.txt
  gfx/interface/equipmentdesigner/graphic_db/00_plane_icons.txt
  gfx/interface/equipmentdesigner/graphic_db/00_tank_icons.txt
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add military bonuses for Qusay's designation
  Changelog.txt
  common/ideas/Iraqi.txt
  common/national_focus/05_iraq.txt
  localisation/english/MD_focus_IRQ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed Saudi Supreme Ruler Council focus path - Closes #4070
  common/national_focus/05_saudi_arabia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed PMC and Malorossiya decision category images overlapping the header
  Changelog.txt
  localisation/english/MD_focus_MLR_l_english.yml
  localisation/english/MD_international_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Added a decisions validator warning for category description images overlapping the header
  .claude/docs/validation-pipeline.md
  Changelog.txt
  localisation/english/MD_focus_SUB_l_english.yml
  tools/tests/validation/validate_decisions_desc_image_test.py
  tools/validation/README.md
  tools/validation/validate_decisions.py
Due: validate-localization-encoding, fix-localization-encoding

Reverse engineering event
  common/scripted_effects/00_reverse_engineering_effects.txt
  events/MD_reverse_engineering_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Regular update
  localisation/russian/MD_automation_settings_l_russian.yml
  localisation/russian/MD_focus_BOS_l_russian.yml
  localisation/russian/MD_focus_CHI_l_russian.yml
  localisation/russian/MD_focus_EH_l_russian.yml
  localisation/russian/MD_focus_GEO_l_russian.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/russian/MD_focus_IRQ_l_russian.yml
  localisation/russian/MD_focus_JAP_l_russian.yml
  localisation/russian/MD_focus_NKO_l_russian.yml
  localisation/russian/MD_focus_POL_l_russian.yml
  localisation/russian/MD_focus_SIA_l_russian.yml
  localisation/russian/MD_focus_SOV_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_focus_TAJ_l_russian.yml
  localisation/russian/MD_focus_UKR_l_russian.yml
  localisation/russian/MD_focus_USB_l_russian.yml
  localisation/russian/MD_game_rules_l_russian.yml
  localisation/russian/MD_influence_l_russian.yml
  localisation/russian/MD_internal_factions_l_russian.yml
  localisation/russian/MD_money_l_russian.yml
  localisation/russian/MD_muslim_brotherhood_l_russian.yml
  localisation/russian/MD_operations_l_russian.yml
  localisation/russian/MD_politics_view_parties_l_russian.yml
  localisation/russian/MD_technology_sharing_l_russian.yml
  localisation/russian/MD_tooltips_l_russian.yml
  localisation/russian/equipment_l_russian.yml
Due: none

typo
  localisation/english/equipment_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  common/national_focus/05_poland.txt
  localisation/english/0_energy_l_english.yml
  localisation/english/MD_africa_events_l_english.yml
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_POL_l_english.yml
  localisation/english/MD_investments_l_english.yml
  localisation/english/MD_laws_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/agrarian_economy_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Keep the changelog merge driver from merging edits into the wrong entry
  tools/merge_changelog.py
  tools/tests/merge_changelog_test.py
Due: none

Clarify Japan's repeating Article 9 mission tooltips (#5046)
  common/national_focus/05_japan.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Add changelog ordering check
  .claude/skills/changelog/SKILL.md
  .github/workflows/changelog-lint.yml
  .pre-commit-config.yaml
  tools/linting/check_changelog.py
  tools/tests/linting/check_changelog_test.py
Due: none

Fix changelog check review findings
  .claude/docs/validation-pipeline.md
  .gitattributes
  .github/workflows/changelog-conflict-fixer.yml
  .github/workflows/changelog-lint.yml
  Changelog.txt
  tools/linting/check_changelog.py
  tools/tests/linting/check_changelog_test.py
Due: none

small fix
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove unused ENG_increase_agitation_1 and add changelog line
  Changelog.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fetch origin/main before branching in /party-names
  .claude/skills/party-names/SKILL.md
Due: none

Standardize party localisation for GER
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/Germany.txt
  history/countries/GER - Germany.txt
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add South Korea AI path game rule
  Changelog.txt
  common/decisions/Korea.txt
  common/decisions/categories/00_korea_category.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_south_korea.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_KOR_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed typos, grammar and copy-pasted text in Algerian localization
  Changelog.txt
  docs/src/content/misc/authors.md
  localisation/english/MD_focus_ALG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Added AI elections, historical path, leader gfx, tweaked and fixed bugs and balance issues.
  common/ai_strategy_plans/AST_strategy_plans.txt
  common/decisions/05_australia.txt
  common/game_rules/00_game_rules.txt
  common/ideas/05_Australia.txt
  common/national_focus/05_Australia.txt
  common/national_focus/beazley_tree_TEMP.txt
  common/on_actions/05_AST_on_actions.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/AST_political_leaders.txt
  events/05_australia_events.txt
  gfx/leaders/AST/Kim_Beazley.dds
  gfx/leaders/AST/bill_shorten_1.dds
  gfx/leaders/AST/kim_beazley_1.dds
  gfx/leaders/AST/mark_latham_1.dds
  localisation/english/MD_focus_AST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Changelog additions
  Changelog.txt
Due: none

Cleanup
  common/scripted_effects/00_reverse_engineering_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed typos, grammar and wrong references in Australian localization
  Changelog.txt
  localisation/english/MD_focus_AST_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Tab fix
  common/ai_strategy_plans/AST_strategy_plans.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed typos, grammar and party names in Southern Republic localization
  Changelog.txt
  localisation/english/MD_focus_CSA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

PR fixes
  common/game_rules/00_game_rules.txt
  events/05_australia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
