Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Rename generic_spy_67.dds.dds to generic_spy_67.dds (#4424)
  gfx/leaders/generic_operatives/generic_spy_67.dds
Due: none

Remove the duplicated CAT_agriculture_tech_research key (#4425)
  localisation/english/MD_traits_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Hold the audit to art-standards.md
  tools/assets/dds_compression_audit.py
  tools/tests/assets/dds_compression_audit_test.py
Due: none

Clear two redundant focus flags and standardize the Nigeria decision category
  common/decisions/categories/nigeria_decisions_categories.txt
  common/national_focus/05_nigeria.txt
  events/Nigeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add a changelog note for the Nigeria religious conversion fix
  Changelog.txt
Due: none

Add changelog entry for the zombie spawn-delay fix
  Changelog.txt
Due: none

Add a DDS compression audit tool (#4421)
  tools/assets/dds_compression_audit.py
  tools/tests/assets/dds_compression_audit_test.py
  tools/tests/validation/change_groups_test.py
  tools/validation/change_groups.py
Due: none

Restore South African party hooks and fix focus references
  common/country_tag_aliases/tag_aliases.txt
  common/decisions/Greenland.txt
  common/scripted_effects/99_SAF_scripted_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add three Portuguese defence manufacturers (#4386)
  Changelog.txt
  common/military_industrial_organization/organizations/MD_POR_organizations.txt
  interface/MD_ideas.gfx
  localisation/english/MD_defence_companies_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_generic.txt
  common/ai_templates/MD_generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Required workforce display fix
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix microchip production oscillation
  common/scripted_effects/00_microchip_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gate the automation Satellites tab on a completed Space Program
  common/scripted_guis/01_automation_settings_scripted_gui.txt
  interface/MD_automation_settings.gui
  localisation/english/MD_automation_settings_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_plane_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ruling party tooltip fix
  interface/MD_countrypoliticsview.gui
  interface/countrypoliticsview.gui
Due: none

Bugfixes
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Ukraine.txt
  localisation/english/MD_techs_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ruling party tooltip fix (#4430)
  interface/MD_countrypoliticsview.gui
  interface/countrypoliticsview.gui
Due: none

Required workforce display fix (#4428)
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Streamline the Nigeria religious conversion system (#4412)
  Changelog.txt
  common/ai_strategy_plans/NIG_strategy_plans.txt
  common/decisions/Nigeria.txt
  common/decisions/categories/nigeria_decisions_categories.txt
  common/national_focus/05_nigeria.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/99_NIG_scripted_effects.txt
  events/Nigeria.txt
  localisation/english/MD_focus_NIG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

R3D AI Templates (#4419)
  Changelog.txt
  common/ai_templates/MD_generic.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Define the UK historical path strictly from its flag and restore the 2010 coalition
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_triggers/99_ENG_scripted_triggers.txt
  events/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Restoring Order boosting the FLN when not in power (#4077)
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix UK staying in the EU after the military takeover (#4397)
  events/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

Fix the Algerian Sahara Desertification spirit showing a raw key (#4078)
  localisation/english/MD_focus_ALG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/simp_chinese/MD_focus_FRA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_NIG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_UKR_l_simp_chinese.yml
  localisation/simp_chinese/MD_politics_view_parties_l_simp_chinese.yml
Due: none

typo
  localisation/english/MD_focus_HEZ_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_HOL_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Blocked faction change for Aus. Added new ideas and focuses for Army tree. Work in progress
  common/ideas/05_Australia.txt
  common/ideas/AA_law_internal_factions.txt
  common/national_focus/05_Australia.txt
  common/scripted_triggers/00_internal_factions_trigger.txt
  history/countries/AST - Australia.txt
  localisation/english/MD_focus_AST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Thailand path gating and drives
  common/decisions/Thailand.txt
  common/ideas/Thailand.txt
  common/national_focus/05_thailand.txt
  common/on_actions/99_SIA_on_actions.txt
  common/scripted_effects/SIA_thailand_effects.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  events/Thailand.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Thailand: refactor sufficiency & royalist logic
  common/decisions/Thailand.txt
  common/ideas/Thailand.txt
  common/national_focus/05_thailand.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix EU map mode colours for colourblind players (#4065)
  common/map_modes/EU_map_mode.txt
  localisation/english/MD_map_modes_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Election events tweak. Fixed broken focus icons. Added starting info event.
  common/ideas/05_Australia.txt
  common/national_focus/05_Australia.txt
  common/on_actions/05_AST_on_actions.txt
  events/05_australia_events.txt
  gfx/event_pictures/oceania/australia - AST/aus_kangaroo.dds
  interface/MD_eventpictures.gfx
  interface/goals.gfx
  localisation/english/MD_focus_AST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_map_modes_l_english.yml
  localisation/english/MD_map_modes_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding
