Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

redesign some ui elements
  gfx/interface/big_button_232.dds
  gfx/interface/button_123x34.dds
  gfx/interface/button_148x34.dds
  gfx/interface/button_221x34.dds
  gfx/interface/button_261x34.dds
  gfx/interface/button_359x34.dds
  gfx/interface/button_94x31.dds
  gfx/interface/button_reset_123x34.dds
  gfx/interface/custom_set_button_2.dds
  gfx/interface/diplo_actions_bg.dds
  gfx/interface/diplo_filter_entry.dds
  gfx/interface/international_market/land_equipment_market_entry.dds
  gfx/interface/main_lobby_button.dds
  gfx/interface/play_button.dds
  gfx/interface/play_button_ready.dds
  gfx/interface/sat_target_button.dds
  gfx/interface/topic_big_button_232.dds
  interface/frontendmainview.gui
Due: none

EH scientists update
  common/ideas/Event Horizon.txt
  common/scripted_guis/EH_scripted_gui.txt
  gfx/interface/project_treshold/scripted_gui/EH_Jennifer_Doudna.png
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes + matching the MD Developer Content Review
  common/decisions/categories/algeria_decision_categories.txt
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
  common/scripted_effects/99_ALG_scripted_effects.txt
  common/scripted_effects/ALG_political_leaders.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_GER_organizations.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/dynamic_modifiers/10_belarus_dynamic_modifiers.txt
  common/ideas/Belarusian.txt
  common/national_focus/Belarus.txt
  localisation/english/MD_focus_BLR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Work nat focus
  common/national_focus/georgia.txt
  localisation/english/MD_focus_GEO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

stuff
  common/ideas/Belarusian.txt
  common/national_focus/Belarus.txt
  localisation/english/MD_focus_BLR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes n' shit
  common/autonomous_states/MD_IRQ_autonomies.txt
  common/decisions/Iran.txt
  common/decisions/Political Desicions.txt
  common/ideas/Azerbaijan.txt
  common/scripted_effects/99_PER_scripted_effects.txt
  events/Iran.txt
  events/Middle East Peace Plan.txt
  interface/MD_autonomy_icons.gfx
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_IRQ_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH scientist loc text
  common/scripted_guis/EH_scripted_gui.txt
  common/scripted_localisation/99_EH_scripted_locallisation.txt
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Create generic_mio_trait_icon_lg_attack.dds
  gfx/interface/military_industrial_organization/trait_icons/generic_mio_trait_icon_lg_attack.dds
Due: none

removed remaining costs and day_remove
  common/decisions/99_lar_agent_recruitment_decisions.txt
  common/decisions/Armenia.txt
  common/decisions/Cascadia.txt
  common/decisions/Coalition Decisions.txt
  common/decisions/Country Flag Decisions.txt
  common/decisions/Czech_Republic.txt
  common/decisions/Free States of America.txt
  common/decisions/Iran.txt
  common/decisions/Israel.txt
  common/decisions/Italy.txt
  common/decisions/New England.txt
  common/decisions/Poland.txt
  common/decisions/Political Desicions.txt
  common/decisions/Republic of Lakota.txt
  common/decisions/Sanmarino.txt
  common/decisions/Southern Republic of America.txt
  common/decisions/Tajikistan.txt
  common/decisions/Turkey.txt
  common/decisions/USA.txt
  common/decisions/formable_nation_decisions.txt
  common/national_focus/fiji.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

add shared african focus + removed a civ factory
  common/national_focus/AfricanUnion_shared.txt
  common/national_focus/Algeria.txt
  history/states/386-Algerois.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MIO trait icons and bonuses for consistency
  common/military_industrial_organization/organizations/MD_AST_organizations.txt
  common/military_industrial_organization/organizations/MD_BRA_organizations.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/military_industrial_organization/organizations/MD_HOL_organizations.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/military_industrial_organization/organizations/MD_ROM_organizations.txt
  common/military_industrial_organization/organizations/MD_VEN_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  interface/military_industrial_organization/industrial_organization_policies_and_traits_icons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_PER_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixed a couple minor localization problems
  Changelog.txt
  common/national_focus/russia.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

some changes
  gfx/interface/custom_set_button_2.dds
  gfx/interface/difficulty_button_civilian.dds
  gfx/interface/difficulty_button_elite.dds
  gfx/interface/difficulty_button_recruit.dds
  gfx/interface/difficulty_button_regular.dds
  gfx/interface/difficulty_button_veteran.dds
  interface/countrypoliticsview.gui
  interface/frontendgamesetupview.gui
  interface/military_industrial_organization/industrial_organization_detail.gui
Due: none

fixed some romanian stuff
  localisation/english/MD_focus_ROM_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixed the focus tree to match the MD content guide
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/national_focus/iran.txt
  events/Iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update saddam_hussein.dds
  gfx/leaders/IRQ/saddam_hussein.dds
Due: none

fixes in the focus tree and add dynamic modifier
  common/dynamic_modifiers/ALG_dynamic_modifiers.txt
  common/national_focus/Algeria.txt
  common/scripted_effects/99_ALG_scripted_effects.txt
  history/countries/ALG - Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

revert-revert
  interface/mdult_inf.gfx
  interface/mdult_land.gfx
  localisation/english/equipment_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

add new focuses and ideas and events + loc
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_HOL_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

new gfx for algeria
  gfx/interface/goals/algeria/alg_PT.dds
  gfx/interface/goals/algeria/alg_dinar1.dds
  gfx/interface/goals/algeria/alg_dostor.dds
  gfx/interface/goals/algeria/alg_guard.dds
  gfx/interface/goals/algeria/alg_invest.dds
  gfx/interface/goals/algeria/alg_morocco.dds
  gfx/interface/goals/algeria/alg_morocco1.dds
  gfx/interface/goals/algeria/alg_pharma1.dds
  gfx/interface/goals/algeria/algeria_50dinar.dds
  gfx/interface/goals/algeria/algeria_airforce1.dds
  gfx/interface/goals/algeria/algeria_indp.dds
  gfx/interface/goals/algeria/algeria_navy1.dds
  gfx/interface/goals/algeria/algeria_riots.dds
Due: none

Revert "Merge branch 'master' into mio-additions"
  Changelog.txt
  common/autonomous_states/MD_IRQ_autonomies.txt
  common/decisions/99_lar_agent_recruitment_decisions.txt
  common/decisions/Armenia.txt
  common/decisions/Cascadia.txt
  common/decisions/Coalition Decisions.txt
  common/decisions/Country Flag Decisions.txt
  common/decisions/Czech_Republic.txt
  common/decisions/Free States of America.txt
  common/decisions/Iran.txt
  common/decisions/Israel.txt
  common/decisions/Italy.txt
  common/decisions/New England.txt
  common/decisions/Poland.txt
  common/decisions/Political Desicions.txt
  common/decisions/Republic of Lakota.txt
  common/decisions/Sanmarino.txt
  common/decisions/Southern Republic of America.txt
  common/decisions/Tajikistan.txt
  common/decisions/Turkey.txt
  common/decisions/USA.txt
  common/decisions/formable_nation_decisions.txt
  common/ideas/Azerbaijan.txt
  common/national_focus/fiji.txt
  common/national_focus/iran.txt
  common/national_focus/russia.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_PER_scripted_effects.txt
  events/Iran.txt
  events/Middle East Peace Plan.txt
  gfx/leaders/IRQ/saddam_hussein.dds
  interface/MD_autonomy_icons.gfx
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_IRQ_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_ROM_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typ
  localisation/english/MD_focus_HOL_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

HM ships marshalled out of the MD folder
  gfx/entities/MD4_ships.gfx
  gfx/entities/MD4_units_ships.asset
  gfx/models/units/ships/ENG_frigate.mesh
Due: none

fixed parties
  gfx/texticons/parties_icons/algeria/ALG_Neutral_green_small.dds
  gfx/texticons/parties_icons/algeria/KBY_socialism_small.dds
  interface/MD_parties_icons.gfx
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

added ceo selecting window
  common/on_actions/CAC_on_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  gfx/interface/companies_and_corporations/cac_ceo_button.dds
  gfx/interface/companies_and_corporations/ceo/portrait_generic_ceo_1.dds
  gfx/interface/companies_and_corporations/ceo/portrait_generic_ceo_2.dds
  gfx/interface/companies_and_corporations/ceo/portrait_generic_ceo_3.dds
  gfx/interface/companies_and_corporations/ceo/portrait_generic_ceo_4.dds
  interface/CAC_company_detail.gui
  interface/CAC_scripted_guis.gfx
  localisation/english/CAC_companies_names_l_english.yml
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed focuses
  common/national_focus/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Regular update
  localisation/russian/MD_focus_BOL_l_russian.yml
  localisation/russian/MD_focus_GEO_l_russian.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/russian/MD_focus_HOL_l_russian.yml
  localisation/russian/MD_focus_IRQ_l_russian.yml
  localisation/russian/MD_focus_KOR_unified_l_russian.yml
  localisation/russian/MD_focus_NKO_l_russian.yml
  localisation/russian/MD_focus_PER_l_russian.yml
  localisation/russian/MD_focus_RAJ_l_russian.yml
  localisation/russian/MD_focus_SIN_l_russian.yml
  localisation/russian/MD_focus_SOV_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_focus_UKR_l_russian.yml
  localisation/russian/MD_focus_VEN_l_russian.yml
  localisation/russian/MD_money_l_russian.yml
  localisation/russian/countries_l_russian.yml
  localisation/russian/loading_tips_l_russian.yml
Due: none

typo
  events/United States.txt
  gfx/event_pictures/asia/china - CHI/chinese_siberia.dds
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

MIO keyword localization
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/military_industrial_organization/organizations/MD_HOL_organizations.txt
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
