Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

fixing the last bug
  common/decisions/netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

The Economy Tree Part 2
  common/ideas/Greenlandic.txt
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed the name lists
  common/units/names_divisions/CHE_names_divisions.txt
  common/units/names_divisions/HOL_names_divisions.txt
  common/units/names_divisions/ISR_names_divisions.txt
  common/units/names_divisions/ROM_names_divisions.txt
  common/units/names_divisions/TUR_names_divisions.txt
  common/units/names_ships/AST_ship_names.txt
  common/units/names_ships/TAI_ship_names.txt
  common/units/names_ships/USA_Confederate_ship_names.txt
  common/units/names_ships/YUG_ship_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated
  .github/workflows/coding-pipeline.yml
  .github/workflows/release.yml
  common/ai_equipment/CHI_tank.txt
  common/ai_equipment/CRO_tank.txt
  common/ai_equipment/DEN_tank.txt
  common/ai_equipment/ENG_tank.txt
  common/ai_equipment/FRA_tank.txt
  common/ai_equipment/GER_tank.txt
  common/ai_equipment/ISR_tank.txt
  common/ai_equipment/ITA_tank.txt
  common/ai_equipment/JAP_tank.txt
  common/ai_equipment/KOR_tank.txt
  common/ai_equipment/NATO_tank.txt
  common/ai_equipment/NKO_tank.txt
  common/ai_equipment/PER_tank.txt
  common/ai_equipment/POL_tank.txt
  common/ai_equipment/RAJ_tank.txt
  common/ai_equipment/SER_tank.txt
  common/ai_equipment/SOV_tank.txt
  common/ai_equipment/SWE_tank.txt
  common/ai_equipment/UKR_tank.txt
  common/ai_equipment/USA_plane.txt
  common/ai_equipment/USA_tank.txt
  common/ai_equipment/generic_afv.txt
  common/ai_equipment/generic_naval.txt
  common/ai_equipment/generic_plane.txt
  common/ai_equipment/generic_tank.txt
  common/ai_equipment/zz_md_battleships_big5_one.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  common/scripted_localisation/00_subideology_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update MD_dm_modifiers_l_english.yml
  localisation/english/MD_dm_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/simp_chinese/MD_focus_AST_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ENG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_JAP_l_simp_chinese.yml
Due: validate-localization-encoding, fix-localization-encoding

The Economy Tree Part 3
  common/dynamic_modifiers/GRN_dynamic_modifiers.txt
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Removed naval spec
  specs/naval-ai-optimization-spec.md
Due: none

Clean Up
  common/ideas/Greenlandic.txt
  common/national_focus/greenland.txt
  history/countries/GRN - Greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  .github/workflows/tools-validation.yml
  tools/find_naval_duplicates.py
  tools/fix_max_tier_priorities.py
  tools/fix_missing_naval_priorities.py
  tools/fix_naval_ai.py
  tools/remove_shared_destroyer_groups.py
  tools/remove_shared_sub_groups.py
  tools/shared_utils.py
  tools/validation/validate_decisions.py
Due: none

Pre-Merge Tweaks
  history/countries/GRN - Greenland.txt
  localisation/english/MD_autonomy_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Removed deprecated code
  common/ai_strategy/TUR.txt
  common/decisions/Ukraine.txt
  common/decisions/libya.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/ideas/Generic Ideas.txt
  common/national_focus/00_generic.txt
  common/national_focus/05_georgia.txt
  common/national_focus/bulgaria.txt
  common/national_focus/russia.txt
  common/national_focus/sweden.txt
  common/operation_phases/lar_infiltration.txt
  common/raids/air_raids.txt
  common/raids/cruise_missile_strike.txt
  common/raids/drone_strike_raids.txt
  common/raids/naval_raids.txt
  common/raids/special_forces_raids.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/99_AI_influence_scripted_effects.txt
  common/scripted_effects/99_AI_investment_scripted_effects.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_triggers/00_continent_triggers.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/99_HOL_scripted_triggers.txt
  common/scripted_triggers/99_SOV_scripted_triggers.txt
  common/scripted_triggers/MD_regional_owned_triggers.txt
  events/Arab Spring.txt
  events/Econ_events.txt
  events/Iraq.txt
  events/Libya.txt
  events/Mali.txt
  events/Sudan.txt
  events/Syria_Focus_Events.txt
  localisation/english/MD_focus_GENERIC_l_english.yml
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Improved generic tree availables
  common/decisions/Afghanistan.txt
  common/decisions/bulgaria.txt
  common/national_focus/israel_tree.txt
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Significant code simplification
  common/continuous_focus/generic.txt
  common/decisions/Russia.txt
  common/decisions/SubjectsOfRussia.txt
  common/ideas/Russian.txt
  common/national_focus/russia.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_triggers/00_influence_scripted_triggers.txt
  common/scripted_triggers/99_SOV_scripted_triggers.txt
  common/scripted_triggers/99_SUB_scripted_triggers.txt
  resources/documentation/console_commands_documentation.md
  resources/documentation/dynamic_variables_documentation.md
  resources/documentation/effects_documentation.md
  resources/documentation/loc_formatter_documentation.md
  resources/documentation/loc_objects_documentation.md
  resources/documentation/modifiers_documentation.md
  resources/documentation/script_collection_input.md
  resources/documentation/script_collection_operator.md
  resources/documentation/script_concept_documentation.md
  resources/documentation/triggers_documentation.md
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improved skills and claude structure
  .claude/rules/dynamic-modifiers.md
  .claude/rules/general-rules.md
  .claude/rules/hoi4-data-structures.md
  .claude/skills/dynamic-modifiers/SKILL.md
  .claude/skills/oob-variants/SKILL.md
  .claude/skills/review-branch/SKILL.md
  .gitignore
Due: none

leader
  common/scripted_effects/JAP_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed
  common/scripted_triggers/00_influence_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleanup and improvements
  Changelog.txt
  common/ai_strategy/BLR.txt
  common/ai_strategy/SOV.txt
  common/decisions/War on Terror.txt
  common/national_focus/05_belarus.txt
  common/national_focus/iran.txt
  common/national_focus/russia.txt
  common/on_actions/00_on_actions.txt
  events/Iraq.txt
  localisation/english/MD_War_on_terror_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Custom Alerts
  common/ideas/zzz_alerts.txt
  common/scripted_effects/!_energy_effects.txt
  common/scripted_effects/00_MD_alert_scripted_effect.txt
  common/scripted_effects/00_expected_spending_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/00_MD_alerts_scripted_gui.txt
  common/scripted_localisation/00_MD_alerts_scripted_localisation.txt
  common/scripted_triggers/00_alert_triggers.txt
  gfx/interface/alerts/md/alert_available_researchslot.dds
  gfx/interface/alerts/md/alert_government.dds
  gfx/interface/alerts/md/alert_negative_electricity.dds
  gfx/interface/alerts/md/alert_nuclear_fuel.dds
  interface/MD_alerts.gfx
  interface/MD_alerts.gui
  localisation/english/MD_alerts_l_english.yml
  resources/GFX templates/alerts/blank.dds
  resources/GFX templates/alerts/green_template.dds
  resources/GFX templates/alerts/red_template.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

changelog reformatting and claude skill
  .claude/skills/changelog/SKILL.md
  CONTRIBUTING.md
  Changelog.txt
Due: none

massive rework
  common/decisions/Algeria.txt
  common/decisions/categories/99_ALG_decision_categories.txt
  common/ideas/Algerian.txt
  common/ideas/Kabylian.txt
  common/national_focus/05_algeria.txt
  common/national_focus/06_AfricanUnion_shared.txt
  common/opinion_modifiers/Algeria.txt
  events/Algeria.txt
  history/countries/ALG - Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  common/decisions/Algeria.txt
  common/ideas/Algerian.txt
  common/national_focus/05_algeria.txt
  common/on_actions/99_ALG_on_actions.txt
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/ideas/Greenlandic.txt
  history/countries/GRN - Greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

agri tech fix
  common/technologies/industry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

replcaement for BUL
  common/dynamic_modifiers/BUL_dynamic_modifiers.txt
  common/ideas/bulgarian.txt
  common/national_focus/bulgaria.txt
  common/scripted_localisation/99_BUL_scripted_localisation.txt
  events/Bulgarian.txt
  history/countries/BUL - Bulgaria.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_BUL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

clean up ideas
  common/ideas/Greenlandic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed localization
  common/autonomous_states/MD_danish_autonomies.txt
  common/scripted_triggers/00_diplo_action_valid_triggers.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
  events/Denmark.txt
  history/countries/FAO - Faroe Islands.txt
  history/countries/GRN - Greenland.txt
  localisation/braz_por/MD_autonomy_l_braz_por.yml
  localisation/english/MD_autonomy_l_english.yml
  localisation/french/MD_autonomy_l_french.yml
  localisation/german/MD_autonomy_l_german.yml
  localisation/japanese/MD_autonomy_l_japanese.yml
  localisation/korean/MD_autonomy_l_korean.yml
  localisation/polish/MD_autonomy_l_polish.yml
  localisation/russian/MD_autonomy_l_russian.yml
  localisation/simp_chinese/MD_autonomy_l_simp_chinese.yml
  localisation/spanish/MD_autonomy_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  localisation/english/MD_autonomy_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fix...fix
  history/countries/GRN - Greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix again
  history/countries/FAO - Faroe Islands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

TLC to Faroe Isles
  history/countries/FAO - Faroe Islands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
