Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Wrong font fix
  interface/MD_auto_agency_queue.gui
Due: none

Fixed the UAR induced crash - Closes #2779 (#2803)
  Changelog.txt
  common/autonomous_states/MD_colored_autonomies.txt
  common/autonomous_states/MD_default_autonomies.txt
  common/scripted_triggers/00_diplomacy_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes from review
  common/decisions/Iraq.txt
  common/decisions/Israel.txt
  common/decisions/netherlands.txt
  common/national_focus/05_belarus.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_greece.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_north_korea.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/tajikistan.txt
  common/on_actions/07_italy_on_actions.txt
  common/on_actions/99_middle_east_on_actions.txt
  common/scripted_effects/99_ISI_scripted_effects.txt
  common/special_projects/projects/air_projects.txt
  events/Iraq.txt
  events/Israel_events.txt
  history/countries/TUR - Turkey.txt
  history/units/CHI_naval_varyag.txt
  localisation/english/MD_focus_IRQ_l_english.yml
  localisation/english/MD_focus_ISR_l_english.yml
  tools/shared_utils.py
  tools/tests/shared_utils_extract_block_test.py
  tools/validation/naval_module_slots.py
  tools/validation/tests/validate_dlc_guards_test.py
  tools/validation/tests/validate_oob_variant_refs_test.py
  tools/validation/validate_dlc_guards.py
  tools/validation/validate_oob_units.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Bulgarian division namelist alignment (Closes #2333)
  common/units/names_divisions/BUL_names_divisions.txt
  history/units/BUL_2000_nonnsb.txt
  history/units/BUL_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Iran, Iraq and India event and decision fixes
  common/decisions/Iran.txt
  common/decisions/Iraq.txt
  common/decisions/categories/99_PER_decision_categories.txt
  common/ideas/Iranian.txt
  common/national_focus/05_india.txt
  common/national_focus/05_iran.txt
  common/on_actions/99_PER_on_actions.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/99_PER_scripted_effects.txt
  events/Indian.txt
  events/Internal Faction Events.txt
  events/Iran.txt
  events/Middle East Peace Plan.txt
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
  localisation/english/MD_internal_factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove MEK insurgency mechanic from Iran fixes
  common/decisions/Iran.txt
  common/decisions/Iraq.txt
  common/decisions/categories/99_PER_decision_categories.txt
  common/ideas/Iranian.txt
  common/national_focus/05_iran.txt
  common/on_actions/99_PER_on_actions.txt
  common/scripted_effects/99_PER_scripted_effects.txt
  events/Iran.txt
  localisation/english/MD_focus_PER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing errors
  history/countries/CHI - China.txt
  history/countries/HOL - Holland.txt
  history/countries/SIA - Thailand.txt
  history/countries/TUR - Turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Bulgarian division namelist translations (#2807)
  common/units/names_divisions/BUL_names_divisions.txt
  history/units/BUL_2000_nonnsb.txt
  history/units/BUL_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Iranian and Indian event and decision fixes (#2787)
  common/decisions/Iran.txt
  common/national_focus/05_india.txt
  common/national_focus/05_iran.txt
  common/on_actions/MD_event_on_actions.txt
  events/Indian.txt
  events/Internal Faction Events.txt
  events/Iran.txt
  events/Middle East Peace Plan.txt
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
  localisation/english/MD_internal_factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

save
  history/units/CHI_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more fixes
  history/countries/SIA - Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Elec/Nuke engine tune up
  common/units/equipment/MD_tank_chassis.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  .claude/docs/validation-pipeline.md
  .github/workflows/coding-pipeline.yml
  .github/workflows/tools-validation.yml
  tools/precommit_validate.py
  tools/tests/precommit_validate_test.py
  tools/validation/README.md
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_mios_test.py
  tools/validation/validate_mios.py
Due: none

Set executable bit on shebang-carrying tools scripts
  tools/analysis/tick_audit.py
  tools/cleanup_effect_tooltip.py
  tools/standardization/_common.py
  tools/validation/gen_vanilla_paths_manifest.py
  tools/validation/validate_file_paths.py
Due: none

Clear content validation backlogs (date-gated events, MIO trait loc, style)
  common/factions/templates/99_LBY.txt
  common/military_industrial_organization/organizations/MD_ARG_organizations.txt
  common/military_industrial_organization/organizations/MD_FRA_organizations.txt
  common/military_industrial_organization/organizations/MD_VEN_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  common/on_actions/99_ALG_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Germany.txt
  events/UN_Voting_Events.txt
  localisation/english/MD_focus_AST_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_ROM_l_english.yml
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix docs-quality CI, red since 2026-07-27
  .github/dependabot.yml
  docs/bun.lock
  docs/package.json
  docs/src/content/resources/developer-setup.md
  tools/docs_checks/check_docs.py
  tools/docs_checks/tests/check_docs_test.py
Due: none

Fix tools CI on sparse checkouts
  .github/workflows/tools-validation.yml
  tools/docs_checks/tests/check_docs_test.py
Due: none

Extend validators: severity flips, typo watchlist, style-check fixes
  .claude/docs/validation-pipeline.md
  tools/validation/tests/loc_typo_watchlist_test.py
  tools/validation/tests/validate_decisions_missing_log_test.py
  tools/validation/tests/validate_events_fire_only_once_test.py
  tools/validation/tests/validate_mios_test.py
  tools/validation/tests/validate_style_event_log_test.py
  tools/validation/validate_decisions.py
  tools/validation/validate_events.py
  tools/validation/validate_localisation.py
  tools/validation/validate_mios.py
  tools/validation/validate_style.py
Due: none

Color Changed
  localisation/english/SAU_focus_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed the validation
  tools/tests/precommit_validate_test.py
Due: none

save
  history/countries/USA - USA.txt
  history/units/ARG_2000_nsb.txt
  history/units/BEN_2000_nsb.txt
  history/units/BUR_2000.txt
  history/units/CHI_2000_nsb.txt
  history/units/COL_2000.txt
  history/units/COL_2000_bba.txt
  history/units/CUB_2000_bba.txt
  history/units/DOM_2000.txt
  history/units/GRE_2000_nsb.txt
  history/units/GUA_2000_nsb.txt
  history/units/ISR_2000_nsb.txt
  history/units/MAD_2000.txt
  history/units/MEX_2000_nsb.txt
  history/units/PAR_2000_nsb.txt
  history/units/PRU_2000_nsb.txt
  history/units/SEN_2000.txt
  history/units/SIA_2000_bba.txt
  history/units/TOG_2000_nsb.txt
  history/units/VEN_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Adjust the localisation - Closes #2805
  localisation/english/events_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix AI accepting full annexation of tiny nations in peace deals
  common/scripted_diplomatic_actions/01_peace_deal_diplomatic_actions.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix AI accepting full annexation of tiny nations in peace deals (#2809)
  common/scripted_diplomatic_actions/01_peace_deal_diplomatic_actions.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix economy panel refresh exploit on interest rate and EU seigniorage
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_currency_effects.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Updated flavor
  localisation/english/MD_focus_PER_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

e
  events/Iran.txt
  localisation/english/MD_focus_PER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

FPV equipment adjustment, org adjustment to normal support
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/units/MD_division_support.txt
  common/units/MD_regimental_support.txt
  history/countries/POR - Portugal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Teach date-gated scheduling check random_events pools and chance-rolled polls
  .claude/docs/validation-pipeline.md
  tools/validation/tests/validate_events_date_scheduling_test.py
  tools/validation/validate_events.py
Due: none

Add regression tests for date-gated scheduling fire-path detection
  tools/validation/tests/validate_events_date_scheduling_test.py
Due: none

Teach date-gated scheduling check random_events pools and chance-rolled polls (#2814)
  .claude/docs/validation-pipeline.md
  tools/validation/tests/validate_events_date_scheduling_test.py
  tools/validation/validate_events.py
Due: none

more work
  common/decisions/Arab Spring.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/01_tfv_on_actions.txt
  common/on_actions/99_LBA_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_middle_east_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_power_ranking_effects.txt
  common/scripted_effects/00_space_automation_effects.txt
  common/scripted_effects/99_neigbour_system_effects.txt
  events/00_arab_spring.txt
  events/Libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work
  common/scripted_effects/00_middle_east_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_ship_modules.txt
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix defects found in pre-merge audit
  common/ideas/Afghanistani.txt
  common/national_focus/05_afghanistan.txt
  events/Afghanistan.txt
  gfx/flags/AFG_NRY_state.tga
  gfx/flags/medium/AFG_NRY_state.tga
  gfx/flags/small/AFG_NRY_state.tga
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  common/decisions/Afghanistan.txt
  common/ideas/Afghanistani.txt
  common/national_focus/05_afghanistan.txt
  events/Afghanistan.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
