Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

staring the div fixign
  common/doctrines/subdoctrines/land/land_doctrines_combat.txt
  history/countries/ASK - Alaska.txt
  history/countries/DRU - Druze State.txt
  history/countries/TRA - Transylvania.txt
  history/countries/WLC - Wallachia.txt
  history/units/ALB_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix UK Nigeria operation granting resource rights on wrong state (#657)
  common/decisions/05_ENG_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for UK Nigeria resource rights fix
  Changelog.txt
Due: none

Fix NKO-Russia friendship decline still granting friendship idea (#233)
  events/Korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for NKO-Russia friendship decline fix
  Changelog.txt
Due: none

Fix nuclear path blocking Red Dawn military path (#233)
  common/national_focus/korea_north.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for NKO Red Dawn nuclear block fix
  Changelog.txt
Due: none

Turkey's Shia Organization
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix expected spending spiking to max and protest drift overspending bug
  common/scripted_effects/00_protests_effects.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix 29 event option name copy-paste errors across 20 event files
  events/Afghanistan.txt
  events/Armenia.txt
  events/Chechnya.txt
  events/China.txt
  events/Czech Republic.txt
  events/DPR.txt
  events/Econ_events.txt
  events/Global Reactions.txt
  events/Internal Faction Events.txt
  events/Israel_events.txt
  events/Italy.txt
  events/Ivory_Coast.txt
  events/Kuban.txt
  events/Nigeria.txt
  events/Russia.txt
  events/Sahrawi.txt
  events/SubjectRussia.txt
  events/bosnia_events.txt
  events/cartel_events.txt
  events/netherlands.txt
  localisation/english/MD_focus_BOS_l_english.yml
  localisation/english/MD_focus_CZE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update changelog for event option name fixes
  Changelog.txt
Due: none

Fix swap_ideas no-op bugs where remove_idea didn't match the active idea
  common/decisions/05_SWE_decision.txt
  common/decisions/Germany.txt
  common/national_focus/05_belarus.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for swap_ideas no-op fixes
  Changelog.txt
Due: none

Fixes from PR feedback
  common/bop/ALG.txt
  common/decisions/Algeria.txt
  common/decisions/categories/99_ALG_decision_categories.txt
  common/dynamic_modifiers/99_ALG_dynamic_modifiers.txt
  common/ideas/Algerian.txt
  common/ideas/Kabylian.txt
  common/national_focus/05_Kabyle.txt
  common/national_focus/05_algeria.txt
  common/on_actions/99_ALG_on_actions.txt
  common/opinion_modifiers/Algeria.txt
  common/scripted_effects/KBY_political_leaders.txt
  events/Algeria.txt
  events/Algeria_Hirak.txt
  events/Kabyle.txt
  history/countries/ALG - Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix decision bugs: contradictory triggers, wrong flag, duplicate allowed
  common/decisions/05_SMA_decisions.txt
  common/decisions/Romania.txt
  common/decisions/Singapore.txt
  common/decisions/categories/05_SMA_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove redundant triggers already guaranteed by allowed blocks
  common/decisions/05_LAT_decisions.txt
  common/decisions/Free States of America.txt
  common/decisions/Free_syrian_army.txt
  common/decisions/Republic of Lakota.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

doctrine fixes
  .claude/skills/fix-issue/SKILL.md
  common/doctrines/grand_doctrines/air_doctrine.txt
  common/doctrines/grand_doctrines/land_doctrine.txt
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/grand_doctrines/naval_doctrine.txt
  common/doctrines/subdoctrines/air/air.txt
  common/doctrines/subdoctrines/land/land_doctrines_combat.txt
  common/doctrines/subdoctrines/land/land_doctrines_dedicated.txt
  common/doctrines/subdoctrines/land/land_doctrines_supporting.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/doctrines/subdoctrines/sea/naval.txt
  history/units/ALB_2000_nsb.txt
  history/units/BLR_2000_nsb.txt
  history/units/CHI_2000_nonnsb.txt
  history/units/CHI_2000_nsb.txt
  history/units/EGY_2000_nonnsb.txt
  history/units/EGY_2000_nsb.txt
  history/units/FRA_2000_nsb.txt
  history/units/FSA_2000_nonnsb.txt
  history/units/FSA_2000_nsb.txt
  history/units/GER_2000_nonnsb.txt
  history/units/GER_2000_nsb.txt
  history/units/IRQ_2000_nonnsb.txt
  history/units/IRQ_2000_nsb.txt
  history/units/IRQ_PMU.txt
  history/units/IRQ_PMU_nsb.txt
  history/units/ISR_2000_nonnsb.txt
  history/units/JAP_2000_nsb.txt
  history/units/KOR_2000_nonnsb.txt
  history/units/KOR_2000_nsb.txt
  history/units/NEP_2000.txt
  history/units/NKO_2000_nonnsb.txt
  history/units/NKO_2000_nsb.txt
  history/units/NPM_2000.txt
  history/units/PAK_2000_nonnsb.txt
  history/units/PAK_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Iraq decline event sent to wrong country and UKR police point calculation
  common/on_actions/99_UKR_on_actions.txt
  events/Iraq.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed
  common/decisions/Algeria.txt
  common/ideas/Algerian.txt
  common/ideas/Kabylian.txt
  common/national_focus/05_algeria.txt
  common/on_actions/99_ALG_on_actions.txt
  common/opinion_modifiers/Algeria.txt
  common/scripted_effects/00_protests_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_ALG_trigger_protest_scripted_effects.txt
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for Iraq event target and UKR police point fixes
  Changelog.txt
Due: none

fixing more shit in the histories
  history/units/BAN_2000_nonnsb.txt
  history/units/PER_2000_nonnsb.txt
  history/units/PER_2000_nsb.txt
  history/units/PHI_2000_nonnsb.txt
  history/units/PHI_2000_nsb.txt
  history/units/POL_2000_nsb.txt
  history/units/RAJ_2000_nonnsb.txt
  history/units/RAJ_2000_nsb.txt
  history/units/SIA_2000_nonnsb.txt
  history/units/SIA_2000_nsb.txt
  history/units/SIN_2000_nonnsb.txt
  history/units/SIN_2000_nsb.txt
  history/units/SOV_2000_nonnsb.txt
  history/units/SOV_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed the last division setup
  history/units/SOV_2000_nsb.txt
  history/units/SRI_2000_nonnsb.txt
  history/units/SRI_2000_nsb.txt
  history/units/SYR_2000_nonnsb.txt
  history/units/SYR_2000_nsb.txt
  history/units/TAI_2000_nonnsb.txt
  history/units/TAI_2000_nsb.txt
  history/units/UKR_2000_nsb.txt
  history/units/USA_2000_nonnsb.txt
  history/units/VIE_2000_nonnsb.txt
  history/units/VIE_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/decisions/Algeria.txt
  common/dynamic_modifiers/99_ALG_dynamic_modifiers.txt
  common/ideas/Algerian.txt
  common/national_focus/05_algeria.txt
  common/on_actions/99_ALG_on_actions.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

diplomacy tree days
  common/national_focus/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add and expand BETA player guides for economy, EU, and international systems
  docs/src/content/tutorials/economy-guide.md
  docs/src/content/tutorials/eu-tutorial.md
  docs/src/content/tutorials/international-systems.md
Due: none

Add advanced industrial buildings section to economy guide
  docs/src/content/tutorials/economy-guide.md
Due: none

Add dynamic resource pricing section to economy guide
  docs/src/content/tutorials/economy-guide.md
Due: none

Expand Productivity section in economy guide
  docs/src/content/tutorials/economy-guide.md
Due: none

chore: update dependencies and refactor schema imports
  docs/bun.lock
  docs/package-lock.json
  docs/package.json
  docs/src/content.config.ts
  docs/src/schemas/base.ts
  docs/src/schemas/data.ts
Due: none

chore: add Node.js setup to workflows and update package.json engines
  .github/workflows/docs-quality.yml
  .github/workflows/github-pages.yml
  docs/.nvmrc
  docs/package.json
Due: none

Fix
  common/technologies/industry.txt
  localisation/english/0_energy_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

chore: update documentation links and prerequisites
  CONTRIBUTING.md
  README.md
  docs/CONTRIBUTING.md
Due: none

Update Changelog.txt
  Changelog.txt
Due: none

AI
  common/ai_focuses/JAP.txt
  common/ai_strategy_plans/JAP_strategy_plans.txt
  common/decisions/JAP.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/military_industrial_organization/organizations/MD_ALG_organizations.txt
  common/national_focus/05_algeria.txt
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  common/units/names_ships/ENG_ship_names.txt
  common/units/names_ships/GER_ship_name.txt
  common/units/names_ships/JAP_ship_names.txt
  common/units/names_ships/PHI_ship_names.txt
  common/units/names_ships/SOV_ship_names.txt
  common/units/names_ships/USA_ship_names.txt
  docs/src/content/misc/authors.md
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed broken URL
  docs/src/content/tutorials/eu-tutorial.md
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
