Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Remove redundant date bounds from yearly-scheduled events
  events/05_australia_events.txt
  events/Afghanistan.txt
  events/Algeria.txt
  events/Brazilian.txt
  events/Central African Republic.txt
  events/Egypt.txt
  events/France.txt
  events/Germany.txt
  events/Gulf.txt
  events/Indian.txt
  events/Iran.txt
  events/Italy.txt
  events/Ivory_Coast.txt
  events/Russia.txt
  events/Senegal.txt
  events/Spain.txt
  events/Sweden.txt
  events/Taliban.txt
  events/Ukraine.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix education facility tooltip using unset education_index
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Walker tank doctrine incon
  common/doctrines/subdoctrines/land/land_equipment.txt
  gfx/interface/doctrines/icons/land/doctrine_walker.dds
  interface/doctrines/doctrines.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove redundant date bounds from yearly-scheduled events (#4021)
  events/05_australia_events.txt
  events/Afghanistan.txt
  events/Algeria.txt
  events/Brazilian.txt
  events/Central African Republic.txt
  events/Egypt.txt
  events/France.txt
  events/Germany.txt
  events/Gulf.txt
  events/Indian.txt
  events/Iran.txt
  events/Italy.txt
  events/Ivory_Coast.txt
  events/Russia.txt
  events/Senegal.txt
  events/Spain.txt
  events/Sweden.txt
  events/Taliban.txt
  events/Ukraine.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed last minute money system changes (#4020)
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_decisions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed model selection UI bug
  interface/plane_designer_view.gui
Due: none

Urkaine - Final Fixes
  common/characters/UKR.txt
  common/decisions/Ukraine.txt
  gfx/interface/decisions/ukraine/categories/decision_category_UKR_mig29.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_2s22_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_stuhna_p_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_vilkha_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_bastion03_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_bm21k_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_bureviy_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_an_bfv_development_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_an_lbl_development_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_mig29mu1_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_mig29mu2_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_su25m1_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_su271m_for_tooltip.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_stuhna_p.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_antonov_logo.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_mig29mu1.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_su25m1.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_su27s1m.dds
  gfx/leaders/scientists/UKR/Oleh_Korosteliov.dds
  history/units/UKR_2000_nsb.txt
  interface/MD_decisions.gfx
  interface/MD_decisions_desc.gfx
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ukraine quick fix (#4022)
  common/characters/UKR.txt
  common/decisions/Ukraine.txt
  gfx/interface/decisions/ukraine/categories/decision_category_UKR_mig29.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_2s22_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_stuhna_p_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_vilkha_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_bastion03_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_bm21k_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_bureviy_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_an_bfv_development_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_an_lbl_development_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_mig29mu1_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_mig29mu2_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_su25m1_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_su271m_for_tooltip.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_stuhna_p.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_antonov_logo.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_mig29mu1.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_su25m1.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_su27s1m.dds
  gfx/leaders/scientists/UKR/Oleh_Korosteliov.dds
  history/units/UKR_2000_nsb.txt
  interface/MD_decisions.gfx
  interface/MD_decisions_desc.gfx
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Version increment
  descriptions/descriptions_BR.txt
  descriptions/descriptions_DE.txt
  descriptions/descriptions_EN.txt
  descriptions/descriptions_ES.txt
  descriptions/descriptions_FR.txt
  descriptions/descriptions_JP.txt
  descriptions/descriptions_KR.txt
  descriptions/descriptions_PL.txt
  descriptions/descriptions_RU.txt
  descriptions/descriptions_SC.txt
  descriptions/descriptions_TC.txt
  docs/src/content/release/index.yml
  localisation/braz_por/MD_frontend_l_braz_por.yml
  localisation/english/MD_frontend_l_english.yml
  localisation/french/MD_frontend_l_french.yml
  localisation/german/MD_frontend_l_german.yml
  localisation/japanese/MD_frontend_l_japanese.yml
  localisation/korean/MD_frontend_l_korean.yml
  localisation/polish/MD_frontend_l_polish.yml
  localisation/russian/MD_frontend_l_russian.yml
  localisation/simp_chinese/MD_frontend_l_simp_chinese.yml
  localisation/spanish/MD_frontend_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

bookmark
  common/bookmarks/blitzkrieg.txt
  descriptions/descriptions_BR.txt
  descriptions/descriptions_DE.txt
  descriptions/descriptions_EN.txt
  descriptions/descriptions_ES.txt
  descriptions/descriptions_FR.txt
  descriptions/descriptions_JP.txt
  descriptions/descriptions_KR.txt
  descriptions/descriptions_PL.txt
  descriptions/descriptions_RU.txt
  descriptions/descriptions_SC.txt
  descriptions/descriptions_TC.txt
  docs/src/content/release/index.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Making Ports useful
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Making Gun Ports Useful (#4025)
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Doklam Road Standoff war goal direction
  events/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rewrote Changelog on website, moved to v2.0.1, removed cores from Melilla and Ceuta for Morocco
  Changelog.txt
  docs/src/content/changelogSections/v2-0-changes.md
  history/states/495-Ceuta.txt
  history/states/632-Melilla.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

task #1898
  gfx/interface/scripted_gui/investments/investment/build_fob.dds
  gfx/interface/scripted_gui/investments/investment/expand_lcoal_coastal_infrastructure.dds
  gfx/interface/scripted_gui/investments/investment/expand_local_fortifications.dds
  interface/MD_countryeconomyview.gfx
  interface/investments_window.gui
Due: none

Point Paradox formatter at CWTools MD edition with tabs
  .vscode/hoi4_millennium_dawn.code-workspace
Due: none

Stop ignoring .vscode; keep the personal workspace local
  .gitignore
Due: none

Point Paradox formatter at CWTools MD edition with tabs (#4053)
  .gitignore
  .vscode/hoi4_millennium_dawn.code-workspace
Due: none

Fixed Enrichment Facility for France - Closes #4038
  Changelog.txt
  common/ideas/Greenlandic.txt
  common/national_focus/05_france.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed Enrichment Facility for France - Closes #4038 (#4054)
  Changelog.txt
  common/ideas/Greenlandic.txt
  common/national_focus/05_france.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

yyyyyyyyooooooooooooooooo
  common/ideas/Turkish.txt
  common/national_focus/05_turkey.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

e
  gfx/event_pictures/middle_east/turkey - TUR/turkish_azeri_excercises.dds
  interface/MD_eventpictures.gfx
Due: none

Update MD_regimental_support.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

e
  common/national_focus/05_turkey.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix duplicated party loc after main merges
  localisation/english/0_political_system_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Remove abstracted currency clamp
  common/decisions/00_monetary_policy_decisions.txt
  common/scripted_effects/00_currency_effects.txt
  common/scripted_guis/00_MD_economyview_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

WIP Work
  common/scripted_effects/02_african_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  history/countries/SWA - Swaziland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ukraine - Scientists update +
  common/characters/UKR.txt
  common/decisions/Ukraine.txt
  common/dynamic_modifiers/99_UKR_dynamic_modifiers.txt
  common/national_focus/05_ukraine.txt
  common/units/names_divisions/UKR_names_divisions.txt
  common/units/names_ships/UKR_ship_names.txt
  events/Ukraine.txt
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_project_133_for_tooltip.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_reorganize_navy_coast_guards.dds
  gfx/interface/equipmentdesigner/graphic_db/MD_ship_icons.txt
  gfx/interface/technologies/UKR/NAV/Corvette-02-Project-11451.dds
  gfx/interface/technologies/UKR/NAV/Corvette-03_Project_133.dds
  gfx/interface/technologies/UKR/NAV/Corvette-04-Project-58250.dds
  gfx/leaders/scientists/UKR/Ivan_Vyshnevskyi.dds
  gfx/leaders/scientists/UKR/Oleh_Hayduk.dds
  gfx/leaders/scientists/UKR/Serhiy_Kryvko.dds
  gfx/leaders/scientists/UKR/Volodymyr_Komanov.dds
  history/countries/UKR - Ukraine.txt
  history/states/1030-Donetsk Oblast.txt
  history/states/693-Donetsk.txt
  history/states/696-Kharkiv.txt
  history/states/698-Kyiv.txt
  history/units/UKR_2000_naval_mtg.txt
  history/units/UKR_2000_nonnsb.txt
  history/units/UKR_2000_nsb.txt
  interface/MD_decisions.gfx
  interface/MD_decisions_desc.gfx
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/replace/replaced_from_vanilla_designer_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

First iteration of SMRM
  common/decisions/Ukraine.txt
  common/technologies/NSB_anti_air.txt
  common/units/equipment/modules/MD_arty_modules.txt
  history/countries/SOV - Russia.txt
  history/countries/USA - USA.txt
  interface/artillery_modules_icons.gfx
  localisation/english/equipment_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add changelog entry for #4029
  Changelog.txt
Due: none

R3D regimental support balanace (#4058)
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Doklam Road Standoff war goal direction (#4032)
  Changelog.txt
  events/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stylized all turkish portraits
  common/national_focus/05_turkey.txt
  gfx/leaders/TUR/Abdullah_Gul.dds
  gfx/leaders/TUR/Abdullah_Levent_Tuzel.dds
  gfx/leaders/TUR/Abdullah_Ocalan.dds
  gfx/leaders/TUR/Ali_Talip_Ozdemir.dds
  gfx/leaders/TUR/Alper_Tas.dds
  gfx/leaders/TUR/Aykut_Edibali.dds
  gfx/leaders/TUR/Ayman_Al_Zawahiri.dds
  gfx/leaders/TUR/Bayezid_III.dds
  gfx/leaders/TUR/Besim_Tibuk.dds
  gfx/leaders/TUR/Bulent_Ecevit.dds
  gfx/leaders/TUR/Cazim_Gurbuz.dds
  gfx/leaders/TUR/Cem_Toker.dds
  gfx/leaders/TUR/Cem_Uzan.dds
  gfx/leaders/TUR/Dundar_I.dds
  gfx/leaders/TUR/Husamettin_Ozkan.dds
  gfx/leaders/TUR/Ibrahim_Celebi.dds
  gfx/leaders/TUR/Leyla_Zana.dds
  gfx/leaders/TUR/Masum_Turker.dds
  gfx/leaders/TUR/Mehmet_Abbasoglu.dds
  gfx/leaders/TUR/Mehmet_Agar.dds
  gfx/leaders/TUR/Namik_Kemal_Zeybek.dds
  gfx/leaders/TUR/Nesrin_Nas.dds
  gfx/leaders/TUR/Numan_Kurtulmus.dds
  gfx/leaders/TUR/Onder_Aksakal.dds
  gfx/leaders/TUR/Osman_Pamukoglu.dds
  gfx/leaders/TUR/Pervin_Buldan.dds
  gfx/leaders/TUR/Portrait_Levent_Kose.dds
  gfx/leaders/TUR/Recai_Kutan.dds
  gfx/leaders/TUR/Salih_Mirzabeyoglu.dds
  gfx/leaders/TUR/Salih_Uzun.dds
  gfx/leaders/TUR/Selma_Gurkan.dds
  gfx/leaders/TUR/Temel_Karamollaoglu.dds
  gfx/leaders/TUR/Zeki_Sezer.dds
  gfx/leaders/TUR/fethullah_gulen.dds
  gfx/leaders/TUR/osman_v.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add heavy utility buffs where appropriate
  common/country_leader/defense_company_traits.txt
  common/equipment_groups/mio_equipment_groups.txt
  common/ideas/05_armenia.txt
  common/ideas/05_bulgaria.txt
  common/ideas/05_france.txt
  common/ideas/05_switzerland_ideas.txt
  common/ideas/Afghanistani.txt
  common/ideas/Belarusian.txt
  common/units/equipment/equipment_archetypes.md
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Skip full-repo work in commit-stage validators
  tools/tests/validation/validate_common_mistakes_test.py
  tools/tests/validation/validate_events_metadata_checks_test.py
  tools/tests/validation/validate_events_undefined_fire_test.py
  tools/tests/validation/validate_oob_validator_test.py
  tools/validation/validate_common_mistakes.py
  tools/validation/validate_events.py
  tools/validation/validate_oob_units.py
Due: none

Clear pre-existing black and jscpd failures that gate tools PRs
  tools/tests/report_lib/markdown_test.py
  tools/tests/validation/validate_events_date_scheduling_test.py
Due: none

Descriptions update
  descriptions/descriptions_BR.txt
  descriptions/descriptions_DE.txt
  descriptions/descriptions_EN.txt
  descriptions/descriptions_ES.txt
  descriptions/descriptions_FR.txt
  descriptions/descriptions_JP.txt
  descriptions/descriptions_KR.txt
  descriptions/descriptions_PL.txt
  descriptions/descriptions_RU.txt
  descriptions/descriptions_SC.txt
  descriptions/descriptions_TC.txt
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
