Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

EH loc fix
  common/decisions/EH_decisions.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add the Linux ecosystem system
  common/decisions/MD_linux_system_decisions.txt
  common/decisions/categories/MD_linux_system_categories.txt
  common/game_rules/00_game_rules.txt
  common/ideas/MD_linux_system_ideas.txt
  common/on_actions/02_linux_system_on_actions.txt
  common/scripted_effects/MD_linux_system_effects.txt
  common/scripted_triggers/MD_linux_system_triggers.txt
  docs/src/content/misc/authors.md
  events/MD_linux_system_events.txt
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_FRA_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_linux_system_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Scope the Linux monthly driver and surface real option effects
  common/scripted_effects/MD_linux_system_effects.txt
  common/scripted_triggers/MD_linux_system_triggers.txt
  events/MD_linux_system_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Address the remaining Linux review findings
  common/ideas/MD_linux_system_ideas.txt
  common/scripted_effects/MD_linux_system_effects.txt
  events/MD_linux_system_events.txt
  localisation/english/MD_linux_system_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Restore Australia historical event scheduling
  .claude/docs/validation-pipeline.md
  common/national_focus/05_Australia.txt
  common/on_actions/05_AST_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  events/05_australia_events.txt
  tools/validation/tests/validate_events_undefined_fire_test.py
  tools/validation/tests/validate_on_actions_date_poll_test.py
  tools/validation/validate_events.py
  tools/validation/validate_on_actions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Format event validators
  tools/validation/validate_events.py
  tools/validation/validate_on_actions.py
Due: none

formatting
  tools/validation/validate_on_actions.py
Due: none

Eh new event (#3174)
  common/decisions/EH_decisions.txt
  common/decisions/categories/EH_decision_category.txt
  common/dynamic_modifiers/EH_dynamic_modifiers.txt
  common/on_actions/99_EH_on_actions.txt
  events/Event Horizon.txt
  gfx/event_pictures/event_horizon/defense_line_europe.dds
  gfx/event_pictures/event_horizon/defense_line_europe_fallen.dds
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Simplify the Ericsson chain per review
  common/on_actions/99_SWE_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/SWE_ericsson_effects.txt
  common/scripted_triggers/MD_corporate_history_triggers.txt
  events/SWE_ericsson_events.txt
  events/Sweden.txt
  localisation/english/MD_focus_SWE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Hewlett-Packard Corporate History for the United States
  common/game_rules/00_game_rules.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/USA_hp_effects.txt
  docs/src/content/misc/authors.md
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Dell Corporate History for the United States
  common/game_rules/00_game_rules.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/USA_dell_effects.txt
  docs/src/content/misc/authors.md
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add ATI/AMD Corporate History for Canada
  common/game_rules/00_game_rules.txt
  common/ideas/CAN_ati_ideas.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/CAN_ati_effects.txt
  docs/src/content/misc/authors.md
  events/Canada.txt
  localisation/english/MD_focus_CAN_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Guard the ATI terminal milestone on the awarded idea
  events/Canada.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Oracle Corporate History for the United States
  common/game_rules/00_game_rules.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/USA_oracle_effects.txt
  docs/src/content/misc/authors.md
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Ukrainian Strategic Industry
  common/game_rules/00_game_rules.txt
  common/ideas/UKR_strategic_industry_ideas.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/UKR_strategic_industry_effects.txt
  common/scripted_triggers/UKR_strategic_industry_triggers.txt
  docs/src/content/misc/authors.md
  events/Ukraine.txt
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Russian Computing Sovereignty
  common/game_rules/00_game_rules.txt
  common/ideas/SOV_computing_sovereignty_ideas.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/SOV_computing_sovereignty_effects.txt
  common/scripted_triggers/SOV_computing_sovereignty_triggers.txt
  docs/src/content/misc/authors.md
  events/Russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix validation warning backlog
  .secrets.baseline
  common/ideas/05_france.txt
  common/ideas/Polish.txt
  common/national_focus/03_china_north_korea_joint.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_china.txt
  common/national_focus/05_france.txt
  common/scripted_effects/00_yearly_effects.txt
  events/05_united_kingdom.txt
  events/Czech Republic.txt
  events/Event Horizon.txt
  events/France.txt
  events/pandemics.txt
  interface/MD_eventpictures.gfx
  interface/MD_parties_icons.gfx
  tools/validation/tests/validate_on_actions_date_poll_test.py
  tools/validation/validate_on_actions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix party icon reference casing
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Log Event Horizon country event
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Recognize state-driven date polls
  tools/validation/tests/validate_on_actions_date_poll_test.py
  tools/validation/validate_on_actions.py
Due: none

Add Foxconn Corporate History for Taiwan
  common/game_rules/00_game_rules.txt
  common/ideas/TAI_foxconn_ideas.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/TAI_foxconn_effects.txt
  common/scripted_triggers/TAI_foxconn_triggers.txt
  docs/src/content/misc/authors.md
  events/Taiwan.txt
  localisation/english/MD_focus_TAI_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra fix
  common/dynamic_modifiers/99_FRA_dynamic_modifiers.txt
  common/ideas/05_france.txt
  common/national_focus/05_france.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix validation warning backlog (#3182)
  .secrets.baseline
  common/ideas/05_france.txt
  common/ideas/Polish.txt
  common/national_focus/03_china_north_korea_joint.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_china.txt
  common/national_focus/05_france.txt
  common/scripted_effects/00_yearly_effects.txt
  events/05_united_kingdom.txt
  events/Czech Republic.txt
  events/Event Horizon.txt
  events/France.txt
  events/pandemics.txt
  interface/MD_eventpictures.gfx
  interface/MD_parties_icons.gfx
  localisation/english/MD_politics_view_parties_l_english.yml
  tools/validation/tests/validate_on_actions_date_poll_test.py
  tools/validation/validate_on_actions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Siemens corporate history for Germany
  common/game_rules/00_game_rules.txt
  common/ideas/GER_siemens_ideas.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/GER_siemens_effects.txt
  common/scripted_triggers/GER_siemens_triggers.txt
  docs/src/content/misc/authors.md
  events/Germany.txt
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Match the Ukraine chain's option labels to their outcomes
  events/Ukraine.txt
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Match the Russia chain's option labels to their outcomes
  events/Russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Ericsson Corporate History for Sweden (#3149)
  common/game_rules/00_game_rules.txt
  common/national_focus/05_sweden.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/SWE_ericsson_effects.txt
  docs/src/content/misc/authors.md
  events/Sweden.txt
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Match the Foxconn chain's option text to what the options do
  events/Taiwan.txt
  localisation/english/MD_focus_TAI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Offer two routes in the Ukraine engine milestone description
  localisation/english/MD_focus_UKR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Offer two routes in the Russia embargo milestone description
  localisation/english/MD_focus_SOV_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Match the Oracle chain's option text to what the options do
  localisation/english/MD_focus_USA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Name the ATI capstone options after the outcomes they grant
  events/Canada.txt
  localisation/english/MD_focus_CAN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Name the HP services option after the route it takes
  localisation/english/MD_focus_USA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Apply the bankruptcy AI gate to the option that spends
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
