Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Add Chinese carrier focuses
  05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Squashed commit of the following:
  common/scripted_guis/01_influence_scripted_guis.txt
  interface/MD_influence.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

Grant carrier hulls and variants from the CHI carrier focuses
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix ENG productivity mission timeout and duplicate decision tooltips
  common/decisions/05_ENG_decisions.txt
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Influence Buttons Scope Lock (#4595) (#4596)
  common/scripted_guis/01_influence_scripted_guis.txt
  interface/MD_influence.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Tighten AI license acceptance so cutting-edge tech is not handed out (Issue #4512) (#4588)
  Changelog.txt
  common/defines/MD_defines.lua
Due: none

Add equipment variant availability validator
  .claude/docs/validation-pipeline.md
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/equipment_variants_test.py
  tools/tests/validation/validator_batches_test.py
  tools/validation/validate_equipment_variants.py
  tools/validation/validator_batches.py
Due: none

Work
  common/decisions/05_ENG_decisions.txt
  common/national_focus/05_china.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_triggers/99_ENG_scripted_triggers.txt
  gfx/interface/goals/overlays/focus_overlay_uk_flag.dds
  gfx/texticons/uk_flag_icon.dds
  interface/MD_texticons.gfx
  interface/goals_overlays.gfx
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix equipment validator scope and branch flow
  .claude/docs/validation-pipeline.md
  tools/tests/validation/equipment_variants_test.py
  tools/validation/validate_equipment_variants.py
Due: none

Recognize tooltip-wrapped equipment technology guards
  tools/tests/validation/equipment_variants_test.py
  tools/validation/validate_equipment_variants.py
Due: none

validator fixes
  common/decisions/05_ENG_decisions.txt
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix debt loan, repay and auto-repay clicks
  Changelog.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_guis/00_MD_economyview_scripted_guis.txt
  interface/MD_countryeconomyview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Create Brusselklasse frigates without local hull research
  Changelog.txt
  events/05_netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Create granted Danish Israeli and Cuban variants immediately
  Changelog.txt
  common/national_focus/05_denmark.txt
  common/national_focus/05_israel.txt
  history/countries/CUB - Cuba.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  common/characters/ENG.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Create Belarus export variants before stockpile grants
  Changelog.txt
  events/belarus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed the localisation validation error
  localisation/english/tank_modules_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixing errors/bugs found in PR.
  events/SAU_events.txt
  history/countries/BUL - Bulgaria.txt
  history/countries/EGY - Egypt.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added more equipment decisions
  common/decisions/Ukraine.txt
  gfx/interface/equipmentdesigner/graphic_db/00_afv_icons.txt
  gfx/interface/equipmentdesigner/graphic_db/00_tank_icons.txt
  history/countries/UKR - Ukraine.txt
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Work
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update authors.md
  docs/src/content/misc/authors.md
Due: none

fiux
  common/decisions/categories/united_kingdom_categories.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work
  common/dynamic_modifiers/99_ENG_dynamic_modifiers.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 05_ENG_decisions.txt
  common/decisions/05_ENG_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update ENG - United Kingdom.txt
  history/countries/ENG - United Kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove redundant variant overrides covered by technology guarantees
  Changelog.txt
  common/national_focus/05_israel.txt
  events/belarus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

two additional equipments
  common/decisions/Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Resolve history and country context for equipment variant warnings
  .claude/docs/validation-pipeline.md
  tools/tests/validation/equipment_variants_test.py
  tools/validation/equipment_variant_context.py
  tools/validation/validate_equipment_variants.py
Due: none

Keep ambiguous event recipients conservative
  tools/tests/validation/equipment_variants_test.py
  tools/validation/equipment_variant_context.py
  tools/validation/validate_equipment_variants.py
Due: none

Fix ENG referendum vote label, settlement cooldown, and decision preview bugs
  common/decisions/05_ENG_decisions.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix swapped bonus scaling and mislabeled modifier in UK focuses, dedupe Edinburgh reward
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove dead else branch in CHI_the_fujian_catapults carrier tech bonus
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_plane_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
