Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

More work on AFghanistan
  Changelog.txt
  common/ai_strategy/AFG.txt
  common/ai_strategy_plans/AFG_strategy_plans.txt
  common/decisions/Afghanistan.txt
  common/decisions/categories/99_AFG_decision_categories.txt
  common/dynamic_modifiers/99_AFG_dynamic_modifiers.txt
  common/game_rules/00_game_rules.txt
  common/ideas/Afghanistani.txt
  common/national_focus/05_afghanistan.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/99_AFG_scripted_effects.txt
  common/scripted_guis/99_AFG scripted_gui.txt
  events/Afghanistan.txt
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Afghanistan: fix content review findings
  Changelog.txt
  common/decisions/Afghanistan.txt
  common/decisions/categories/99_AFG_decision_categories.txt
  common/ideas/Afghanistani.txt
  common/national_focus/05_afghanistan.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/99_AFG_scripted_effects.txt
  common/scripted_guis/99_AFG scripted_gui.txt
  common/technologies/custom_tech.txt
  events/Afghanistan.txt
  localisation/english/MD_focus_AFG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on Afghanistan
  common/national_focus/05_afghanistan.txt
  history/countries/AFG - Afghanistan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Afghanistan: price the Safed Koh supply system and cut the toll recalculation
  common/decisions/Afghanistan.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_AFG_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

reset the non standard values
  localisation/braz_por/MD_focus_AFG_l_braz_por.yml
  localisation/braz_por/MD_money_l_braz_por.yml
  localisation/french/MD_focus_AFG_l_french.yml
  localisation/french/MD_money_l_french.yml
  localisation/german/MD_focus_AFG_l_german.yml
  localisation/german/MD_money_l_german.yml
  localisation/japanese/MD_focus_AFG_l_japanese.yml
  localisation/japanese/MD_money_l_japanese.yml
  localisation/korean/MD_focus_AFG_l_korean.yml
  localisation/korean/MD_money_l_korean.yml
  localisation/polish/MD_focus_AFG_l_polish.yml
  localisation/polish/MD_money_l_polish.yml
  localisation/russian/MD_focus_AFG_l_russian.yml
  localisation/russian/MD_money_l_russian.yml
  localisation/simp_chinese/MD_focus_AFG_l_simp_chinese.yml
  localisation/simp_chinese/MD_money_l_simp_chinese.yml
  localisation/spanish/MD_focus_AFG_l_spanish.yml
  localisation/spanish/MD_money_l_spanish.yml
Due: none

More AFghanistan cleanup
  common/country_leader/AFG_traits.txt
  common/decisions/05_afghanistan.txt
  common/decisions/categories/99_AFG_decision_categories.txt
  common/national_focus/05_afghanistan.txt
  localisation/english/MD_focus_AFG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Afghanistan: fix review findings and give the toll panel its own dirty variable
  common/ai_strategy_plans/AFG_strategy_plans.txt
  common/decisions/Afghanistan.txt
  common/national_focus/05_afghanistan.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_civil_war_effects.txt
  common/scripted_effects/99_AFG_scripted_effects.txt
  common/scripted_guis/99_AFG scripted_gui.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  events/Afghanistan.txt
  interface/gui_afghan.gui
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Afghanistan: fix pre-merge review findings
  common/ai_strategy/AFG.txt
  common/decisions/Afghanistan.txt
  common/decisions/categories/99_AFG_decision_categories.txt
  common/ideas/Afghanistani.txt
  common/national_focus/05_afghanistan.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/99_AFG_scripted_effects.txt
  common/scripted_guis/99_AFG scripted_gui.txt
  events/Afghanistan.txt
  history/countries/AFG - Afghanistan.txt
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

restored graphics
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_Burhanuddin_Rabbani1.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_FEB8_2000.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_Hezb_i_islami_coup.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_Mohammad_Qasim.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_Peshawar_Accords.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_Peshawar_Accords2.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_Yunus_Qanuni.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_dostum_assassinated.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_dostum_assassinated2.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_econ_tree_state_recovery.dds
  gfx/event_pictures/middle_east/afghanistan - AFG/AFG_northern_alliace_event.dds
  resources/AA_graphics_dump/scripted_gui/afghan_gui/AFG_Road_Tax_background.dds
  resources/AA_graphics_dump/scripted_gui/afghan_gui/OTT_crush_corruption.dds
  resources/AA_graphics_dump/scripted_gui/afghan_gui/OTT_focus_relief.dds
  resources/AA_graphics_dump/scripted_gui/afghan_gui/OTT_increase_tax_burden.dds
  resources/AA_graphics_dump/scripted_gui/afghan_gui/OTT_loosen_tax_burden.dds
  resources/AA_graphics_dump/scripted_gui/afghan_gui/OTT_purge_disloyal_elements.dds
  resources/AA_graphics_dump/scripted_gui/afghan_gui/progress_bar_afg.dds
Due: none

fixed Afghanistan findings
  Changelog.txt
  common/decisions/05_afghanistan.txt
  common/national_focus/05_afghanistan.txt
  common/scripted_effects/99_AFG_scripted_effects.txt
  events/Afghanistan.txt
  interface/gui_afghan.gui
  localisation/english/MD_focus_AFG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing regressions
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

expressions fun
  .claude/docs/un-system-reference.md
  common/collections/generic_collections.txt
  common/national_focus/05_algeria.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_effects/01_recog_ai_effects.txt
  common/scripted_effects/99_AFG_scripted_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/International Recognition.txt
  localisation/english/replace/replaced_from_collections_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing the multiplier
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

UN math expression additions
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing bugs
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing even more bugs
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

UN Fixes (#2812)
  .claude/docs/un-system-reference.md
  common/collections/generic_collections.txt
  common/national_focus/05_algeria.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_effects/01_recog_ai_effects.txt
  common/scripted_effects/99_AFG_scripted_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/International Recognition.txt
  localisation/english/replace/replaced_from_collections_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

doing all the work, the speed brother, the *speed*
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_AI_scripted_effects.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/00_expected_spending_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more expresssssssiiiooonnnssss
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Performance Improvements (#2815)
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_AI_scripted_effects.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/00_expected_spending_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updoot
  common/on_actions/00_on_actions.txt
  common/on_actions/01_tfv_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_space_automation_effects.txt
  common/scripted_effects/99_neigbour_system_effects.txt
  events/Libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on Nigeria delta crisis issues
  common/decisions/Nigeria.txt
  common/national_focus/05_nigeria.txt
  events/Nigeria_Niger_Delta.txt
  localisation/english/MD_focus_NIG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

updated custom cost for peaceful path
  common/decisions/Nigeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Faisalite Branch Finished as whole
  common/decisions/Saudi Arabia.txt
  common/dynamic_modifiers/99_SAU_dynamic_modifiers.txt
  common/ideas/Saudi_Arabia.txt
  common/national_focus/sau_focus.txt
  events/SAU_events.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/SAU_focus_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Added historical Canadian leaders
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Canada.txt
  gfx/leaders/CAN/Justin_Trudeau.dds
  gfx/leaders/CAN/Mark_Carney.dds
  gfx/leaders/CAN/Paul_Martin.dds
  gfx/leaders/CAN/Stephen_Harper.dds
  localisation/braz_por/MD_focus_CAN_l_braz_por.yml
  localisation/english/MD_focus_CAN_l_english.yml
  localisation/french/MD_focus_CAN_l_french.yml
  localisation/german/MD_focus_CAN_l_german.yml
  localisation/japanese/MD_focus_CAN_l_japanese.yml
  localisation/korean/MD_focus_CAN_l_korean.yml
  localisation/polish/MD_focus_CAN_l_polish.yml
  localisation/russian/MD_focus_CAN_l_russian.yml
  localisation/simp_chinese/MD_focus_CAN_l_simp_chinese.yml
  localisation/spanish/MD_focus_CAN_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Added myself to authors.md
  docs/src/content/misc/authors.md
Due: none

Fixing MD_focus_CAN_l_english.yml
  localisation/english/MD_focus_CAN_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixing MD_focus_CAN_l_french.yml
  localisation/french/MD_focus_CAN_l_french.yml
Due: none

Fixing MD_focus_CAN_l_german.yml
  localisation/german/MD_focus_CAN_l_german.yml
Due: none

Fixing MD_focus_CAN_l_japanese.yml
  localisation/japanese/MD_focus_CAN_l_japanese.yml
Due: none

Fixing MD_focus_CAN_l_korean.yml
  localisation/korean/MD_focus_CAN_l_korean.yml
Due: none

Fixing MD_focus_CAN_l_polish.yml
  localisation/polish/MD_focus_CAN_l_polish.yml
Due: none

Fixing MD_focus_CAN_l_russian.yml
  localisation/russian/MD_focus_CAN_l_russian.yml
Due: none

Fixing MD_focus_CAN_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CAN_l_simp_chinese.yml
Due: none

Fixing MD_focus_CAN_l_spanish.yml
  localisation/spanish/MD_focus_CAN_l_spanish.yml
Due: none

event cleanup
  events/Gulf.txt
  events/Karabakh.txt
  events/Kuban.txt
  events/Palestine.txt
  events/Russia.txt
  events/SubjectRussia.txt
  events/Tajikistan.txt
  events/Union State.txt
  events/centralasia_events.txt
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_CES_l_english.yml
  localisation/english/MD_focus_ISR_l_english.yml
  localisation/english/MD_focus_MLR_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
  localisation/english/MD_focus_TAJ_l_english.yml
  localisation/english/MD_focus_USR_l_english.yml
  localisation/english/MD_middle_east_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

alg
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

event cleanup (#2820)
  events/Algeria.txt
  events/Gulf.txt
  events/Karabakh.txt
  events/Kuban.txt
  events/Palestine.txt
  events/Russia.txt
  events/SubjectRussia.txt
  events/Tajikistan.txt
  events/Union State.txt
  events/centralasia_events.txt
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_CES_l_english.yml
  localisation/english/MD_focus_ISR_l_english.yml
  localisation/english/MD_focus_MLR_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
  localisation/english/MD_focus_TAJ_l_english.yml
  localisation/english/MD_focus_USR_l_english.yml
  localisation/english/MD_middle_east_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
