Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Fix Chen Shui-bian unelectable in Taiwan 2000 election (#2791)
  common/country_leader/TAI_traits.txt
  common/scripted_effects/TAI_political_leaders.txt
  events/Taiwan.txt
  localisation/english/MD_new_traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Expaned faction goal quanity for more faction goals
  common/defines/MD_defines.lua
Due: none

work
  common/national_focus/05_greece.txt
  history/countries/CHI - China.txt
  history/countries/HOL - Holland.txt
  history/countries/TUR - Turkey.txt
  history/countries/USA - USA.txt
  history/units/CHI_naval_varyag_MTG.txt
  history/units/IND_purchase_ships_mtg.txt
  history/units/IND_purchase_ships_two_mtg.txt
  history/units/SIA_2000_nonnsb.txt
  history/units/SIA_2000_nsb.txt
  tools/validation/naval_module_slots.py
  tools/validation/tests/validate_oob_variant_refs_test.py
  tools/validation/validate_oob_units.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix war support inverting war refugee outflow
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix war support inverting war refugee outflow (#2793)
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Austria improvements
  common/dynamic_modifiers/99_AUS_dynamic_modifiers.txt
  common/national_focus/05_austria.txt
  localisation/english/MD_focus_AUS_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix CTD on China's Project J-XX focus and add a DLC-guard validator (#2790)
  .github/workflows/coding-pipeline.yml
  common/national_focus/05_china.txt
  tools/validation/tests/validate_dlc_guards_test.py
  tools/validation/validate_dlc_guards.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add changelog entry for the Project J-XX crash fix (#2790)
  Changelog.txt
Due: none

Update Changelog.txt
  Changelog.txt
Due: none

Reformat and sort 00_yearly_effects.txt
  common/scripted_effects/00_yearly_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove accidental PER_mek state writes from yearly reformat
  common/scripted_effects/00_yearly_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reformat and sort 00_yearly_effects.txt (#2786)
  common/scripted_effects/00_yearly_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Missing Walker Division Icon Fix
  gfx/interface/counters/divisions_large/Walker.dds
  gfx/interface/counters/divisions_small/onmap_unit_walker_icon.dds
  interface/subuniticons.gfx
Due: none

Missing Walker Division Icon Fix (#2795)
  gfx/interface/counters/divisions_large/Walker.dds
  gfx/interface/counters/divisions_small/onmap_unit_walker_icon.dds
  interface/subuniticons.gfx
Due: none

Style fix
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  localisation/english/MD_defence_companies_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

delete the wrong placed icon
  gfx/interface/ideas/companies/LDARZ.dds
Due: none

delete the unused icons
  gfx/interface/ideas/companies/Ukraine/61 Communards.dds
Due: none

Rename gfx/interface/ideas/companies/Fort.dds to gfx/interface/ideas/companies/Ukraine/Fort.dds
  gfx/interface/ideas/companies/Ukraine/Fort.dds
Due: none

MIO icons
  gfx/interface/ideas/companies/Aviakon.dds
  gfx/interface/ideas/companies/Fort.dds
  gfx/interface/ideas/companies/KBAO.dds
  gfx/interface/ideas/companies/KhTZ.dds
  gfx/interface/ideas/companies/KrAZ.dds
  gfx/interface/ideas/companies/Kyiv_Plant.dds
  gfx/interface/ideas/companies/LDARZ.dds
  gfx/interface/ideas/companies/Luch.dds
  gfx/interface/ideas/companies/MigRemont.dds
  gfx/interface/ideas/companies/More_Shipyard.dds
  gfx/interface/ideas/companies/Mykolayiv_Plant.dds
  gfx/interface/ideas/companies/Mykolayiv_Shipyard.dds
  gfx/interface/ideas/companies/NARP.dds
  gfx/interface/ideas/companies/Praktyka.dds
  gfx/interface/ideas/companies/Zhytomyr_Plant.dds
  gfx/interface/ideas/companies/fire_point.dds
Due: none

fixed a series of issues and add a new moidifer for streamlining math for the missile system
  .claude/docs/md-custom-modifiers.md
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  common/modifier_definitions/missile_modifier_definitions.txt
  common/scripted_effects/00_missiles_models.txt
  common/scripted_effects/00_space_automation_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  common/technologies/custom_tech.txt
  common/technologies/space.txt
  interface/MD_ideas.gfx
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

delete the wrong placed icon
  gfx/interface/ideas/companies/Praktyka.dds
Due: none

Rename gfx/interface/ideas/companies/KrAZ.dds to gfx/interface/ideas/companies/Ukrainre/KrAZ.dds
  gfx/interface/ideas/companies/Ukrainre/KrAZ.dds
Due: none

delete the wrong placed icon
  gfx/interface/ideas/companies/Kyiv_Plant.dds
Due: none

UKR-MIO gfx-fix
  interface/MD_ideas.gfx
Due: none

Add files via upload
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

MIO loc fix
  localisation/english/MD_mio_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

MIO icons
  gfx/interface/ideas/companies/Ukraine/Deviro.dds
  gfx/interface/ideas/companies/Ukraine/fire_point.dds
  gfx/interface/ideas/companies/Ukraine/pivdenne.dds
Due: none

delete the wrong placed icon
  gfx/interface/ideas/companies/KhTZ.dds
Due: none

delete the wrong placed icon
  gfx/interface/ideas/companies/More_Shipyard.dds
Due: none

4 space tech fix
  common/technologies/custom_tech.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

delete the wrong placed icon3
  gfx/interface/ideas/companies/Zhytomyr_Plant.dds
Due: none

DeViRo icon
  gfx/interface/ideas/companies/Ukraine/Deviro.dds
Due: none

Rename gfx/interface/ideas/companies/Aviakon.dds to gfx/interface/ideas/companies/Ukraine/Aviakon.dds
  gfx/interface/ideas/companies/Ukraine/Aviakon.dds
Due: none

UKR MIO Localisation
  localisation/english/MD_mio_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

UKR MIO tech
  common/technologies/custom_tech.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Delete the skill issue
  gfx/interface/ideas/companies/Ukrainre/KrAZ.dds
Due: none

fixed the remaining loose issues
  common/decisions/Ukraine.txt
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  common/national_focus/05_ukraine.txt
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

delete the wrong placed icon
  gfx/interface/ideas/companies/Mykolayiv_Shipyard.dds
Due: none

Rename gfx/interface/ideas/companies/KBAO.dds to gfx/interface/ideas/companies/Ukraine/KBAO.dds
  gfx/interface/ideas/companies/Ukraine/KBAO.dds
Due: none

mio gfx
  interface/MD_ideas.gfx
Due: none
