Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

update
  common/ideas/Algerian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

pushing up even more work on cyber
  common/intelligence_agency_upgrades/intelligence_agency_upgrades.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

no radicalization
  common/national_focus/EH_generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/decisions/Algeria.txt
  common/decisions/categories/99_ALG_decision_categories.txt
  common/national_focus/05_algeria.txt
  common/scripted_guis/Algeria_hirak_gui.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

rename
  common/decisions/Algeria.txt
  common/decisions/categories/99_ALG_decision_categories.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more cyber work being bushed up
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more cyberwarfare progress
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adding the missing operations
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

eeeven more cyber work
  common/ideas/Various.txt
  interface/MD_countrymissilesview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

pushing up even more cyber work! almost there bby
  common/ideas/Various.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

dynamic modifier
  common/dynamic_modifiers/ALG_dynamic_modifiers.txt
  common/national_focus/05_algeria.txt
  events/Algeria.txt
  history/countries/ALG - Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

pushing up the files, pushing up the files, hi ho cherrio, pushing up the files
  common/decisions/00_cyberwarfare_decisions.txt
  common/decisions/categories/00_cyber_decision_categories.txt
  common/ideas/Various.txt
  common/modifier_definitions/cyber_modifier_definitions.txt
  common/scripted_effects/00_cyber_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_triggers/00_cyber_triggers.txt
  events/CyberWarfare.txt
  localisation/english/MD_cyberwarfare_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

even more work
  common/scripted_effects/00_cyber_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/CyberWarfare.txt
  localisation/english/MD_cyberwarfare_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

doing more work
  common/ideas/Various.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  localisation/english/MD_cyberwarfare_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

oh god no fucky wucky please claude
  common/decisions/00_cyberwarfare_decisions.txt
  common/scripted_effects/00_cyber_effects.txt
  localisation/english/MD_cyberwarfare_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

pushing the last bits of work hopefully
  common/on_actions/00_cyber_ai_on_actions.txt
  common/scripted_effects/00_cyber_ai_effects.txt
  common/scripted_effects/00_cyber_effects.txt
  localisation/english/MD_cyberwarfare_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

checkpoint push
  common/on_actions/00_cyber_ai_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_cyber_ai_effects.txt
  common/scripted_effects/00_cyber_effects.txt
  history/countries/CAN - Canada.txt
  history/countries/CHI - China.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/ISR - Israel.txt
  history/countries/KOR - Korea.txt
  history/countries/SOV - Russia.txt
  history/countries/TAI - Taiwan.txt
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

consolidation and cleanup of AI and stratgies. Taxes shifted to monthly pulse.
  common/ai_strategy/00_market_access.txt
  common/ai_strategy/AST.txt
  common/ai_strategy/CHI.txt
  common/ai_strategy/FRA.txt
  common/ai_strategy/GER.txt
  common/ai_strategy/GRE.txt
  common/ai_strategy/HEZ.txt
  common/ai_strategy/MD_combat_ai_strategies.txt
  common/ai_strategy/NOR.txt
  common/ai_strategy/PER.txt
  common/ai_strategy/POL.txt
  common/ai_strategy/RAJ.txt
  common/ai_strategy/ROM.txt
  common/ai_strategy/SER.txt
  common/ai_strategy/SOV.txt
  common/ai_strategy/SPR.txt
  common/ai_strategy/SWE.txt
  common/ai_strategy/TUR.txt
  common/ai_strategy/UKR.txt
  common/ai_strategy/USA.txt
  common/ai_strategy/WAG.txt
  common/ai_strategy/default.txt
  common/ai_strategy/planes.txt
  common/ai_strategy/stockpile.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more cyber work
  history/countries/ALG - Algeria.txt
  history/countries/BEL - Belgium.txt
  history/countries/BLR - Belarus.txt
  history/countries/BRA - Brazil.txt
  history/countries/CUB - Cuba.txt
  history/countries/EGY - Egypt.txt
  history/countries/FIN - Finland.txt
  history/countries/HOL - Holland.txt
  history/countries/IND - Indonesia.txt
  history/countries/IRQ - Iraq.txt
  history/countries/ITA - Italy.txt
  history/countries/JAP - Japan.txt
  history/countries/NKO - North Korea.txt
  history/countries/NOR - Norway.txt
  history/countries/PAK - Pakistan.txt
  history/countries/PER - Iran.txt
  history/countries/RAJ - India.txt
  history/countries/SAF - South Africa.txt
  history/countries/SER - Serbia.txt
  history/countries/SIN - Singapore.txt
  history/countries/SPR - Spain.txt
  history/countries/SWE - Sweden.txt
  history/countries/TUR - Turkey.txt
  history/countries/UKR - Ukraine.txt
  history/countries/VIE - Vietnam.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

its jover
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_cyber_ai_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

OOBs and that
  .claude/skills/oob-variants/SKILL.md
  Changelog.txt
  common/ideas/Ukrainian.txt
  history/countries/UKR - Ukraine.txt
  history/states/695-Odesa.txt
  history/states/696-Kharkiv.txt
  history/units/UKR_2000_bba.txt
  history/units/UKR_2000_naval_mtg.txt
  history/units/UKR_2000_nonbba.txt
  interface/mdult_air.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated documentation
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

removed value = 0
  common/ai_strategy/AST.txt
  common/ai_strategy/CAN.txt
  common/ai_strategy/CHI.txt
  common/ai_strategy/DEN.txt
  common/ai_strategy/EGY.txt
  common/ai_strategy/GER.txt
  common/ai_strategy/GRE.txt
  common/ai_strategy/HOL.txt
  common/ai_strategy/HPR.txt
  common/ai_strategy/IND.txt
  common/ai_strategy/NKO.txt
  common/ai_strategy/PER.txt
  common/ai_strategy/POR.txt
  common/ai_strategy/SIA.txt
  common/ai_strategy/SPR.txt
  common/ai_strategy/TAI.txt
  common/ai_strategy/galicia_republics.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on supressing decision validation and improving performancegst
  common/decisions/Political Desicions.txt
  common/decisions/categories/00_research_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix for UN decision
  common/decisions/Korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Guide
  docs/src/content/resources/content-review-guide.md
Due: none

Fixed sanctions being agy
  common/decisions/un_voting_decisions.txt
  common/on_actions/07_nsb_on_actions.txt
  common/scripted_effects/01_international_systems_effects.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Cleanup
  common/scripted_effects/00_cyber_ai_effects.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed more force update dyanmic modifiers
  common/scripted_effects/00_education_effects.txt
  common/scripted_effects/00_public_war_weariness.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
  common/scripted_effects/99_SPR_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Optimization for FIJ and SIN
  common/decisions/Singapore.txt
  common/national_focus/05_fiji.txt
  common/national_focus/05_singapore.txt
  common/scripted_effects/99_FIJ_scripted_effects.txt
  common/scripted_effects/99_SIN_scripted_effects.txt
  localisation/english/MD_focus_FIJ_l_english.yml
  localisation/english/MD_focus_SIN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Japanese
  localisation/japanese/MD_subideology_parties_l_japanese.yml
Due: none

more cleanup
  common/national_focus/Cascadia.txt
  common/national_focus/Republic of Lakota.txt
  common/national_focus/Southern_Republic_of_America.txt
  common/national_focus/free_states_of_america.txt
  common/national_focus/sweden.txt
  common/scripted_effects/99_CAS_scripted_effects.txt
  common/scripted_effects/99_CSA_scripted_effects.txt
  common/scripted_effects/99_LKT_scripted_effects.txt
  common/scripted_effects/99_SWE_scripted_effects.txt
  common/scripted_effects/99_USB_scripted_effects.txt
  events/Cascadia.txt
  events/Free States of America.txt
  events/Republic of Lakota.txt
  events/Southern Republic of America.txt
  events/United States.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_CAS_l_english.yml
  localisation/english/MD_focus_CSA_l_english.yml
  localisation/english/MD_focus_LKT_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_focus_USB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

cleanup
  events/Sweden.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed
  common/national_focus/05_singapore.txt
  common/national_focus/sweden.txt
  events/Cascadia.txt
  events/Free States of America.txt
  events/Sweden.txt
  events/United States.txt
  localisation/english/MD_dm_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

adjustment
  common/bop/JAP.txt
  common/decisions/JAP.txt
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/JAP.txt
  common/national_focus/05_japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

pushing up the last bits of the work
  common/decisions/00_cyberwarfare_decisions.txt
  common/intelligence_agency_upgrades/intelligence_agency_upgrades.txt
  common/scripted_effects/00_cyber_ai_effects.txt
  common/scripted_effects/00_cyber_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  common/scripted_triggers/00_cyber_triggers.txt
  localisation/english/MD_cyberwarfare_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

clean up
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/on_actions/99_JAP_on_actions.txt
  common/scripted_effects/mdmosjap_JAP_scripted_effects.txt
  common/scripted_localisation/z_mdmosjap_JAP_scripted_localisation.txt
  common/scripted_triggers/mdmosjap_JAP_scripted_triggers.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardized remaining dynamic modiifers
  common/decisions/France.txt
  common/decisions/Iran.txt
  common/decisions/USA.txt
  common/decisions/netherlands.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/iran.txt
  common/national_focus/korea_north.txt
  common/national_focus/korea_unified.txt
  common/national_focus/usa.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_effects/99_HOL_Scripted_Effects.txt
  common/scripted_effects/99_KOR_scripted_effects.txt
  common/scripted_effects/99_PER_scripted_effects.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  common/special_projects/projects/civilian_projects.txt
  events/Germany.txt
  events/Iran.txt
  events/United States.txt
  localisation/english/MD_focus_FRA_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_KOR_unified_l_english.yml
  localisation/english/MD_focus_NKO_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed some bugs with the conversion
  common/decisions/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_dm_modifiers_l_english.yml
  localisation/english/MD_dm_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding
