Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Fixed more same_ideology
  events/05_netherlands.txt
  events/Sweden.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more fixed
  common/decisions/France.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/ideas/Various.txt
  common/ideologies/00_ideologies.txt
  common/national_focus/05_poland.txt
  common/on_actions/99_USA_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_power_ranking_effects.txt
  common/scripted_effects/05_MERCOSUR_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix regressions from the any_country conversions, convert more scans
  common/ai_strategy/MD_combat_ai_strategies.txt
  common/decisions/05_CHI_decisions.txt
  common/decisions/Algeria.txt
  common/decisions/EU_POTEF_decisions.txt
  common/decisions/EU_USoE_decisions.txt
  common/decisions/France.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_france.txt
  common/national_focus/05_nigeria.txt
  common/on_actions/07_nsb_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_power_ranking_effects.txt
  common/scripted_effects/00_scripted_effects.txt
  events/05_japan.txt
  events/05_switzerland_events.txt
  events/BRICS_system.txt
  events/Libya.txt
  events/Sweden.txt
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_FRA_l_english.yml
  music/MD_songs.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/scripted_effects/00_leader_setup_scripted_effects.txt
  common/scripted_effects/99_election_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed more work
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove redundant has_political_power triggers in Algeria decisions
  common/decisions/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed more stuff
  common/decisions/05_CHI_decisions.txt
  common/decisions/05_GRE_decisions.txt
  common/decisions/05_japan.txt
  common/decisions/France.txt
  common/decisions/Hezbollah.txt
  common/decisions/USA.txt
  common/national_focus/05_afghanistan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed POTEF
  common/decisions/EU_POTEF_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Saudi faction opinion event effects
  events/SAU_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Saudi faction opinion event effects (#3305)
  events/SAU_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixedmo
  common/decisions/05_north_korea.txt
  common/decisions/Armenia.txt
  common/decisions/Cartel Decisions.txt
  common/decisions/categories/99_ARM_decision_categories.txt
  common/decisions/categories/99_HOL_decisions_categories.txt
  common/decisions/categories/99_NKO_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Resync diplo arrays via scripted effect, loc keys for available flags
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_scripted_effects.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_EU_POTEF_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/simp_chinese/MD_focus_ALG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_AST_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CAN_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CHI_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CUB_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ENG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_FRA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_HOL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ITA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_JAP_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_NKO_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_POL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_RAJ_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_TUR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_UKR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_USA_l_simp_chinese.yml
  localisation/simp_chinese/MD_game_rules_l_simp_chinese.yml
  localisation/simp_chinese/MD_politics_view_parties_l_simp_chinese.yml
  localisation/simp_chinese/countries_l_simp_chinese.yml
  localisation/simp_chinese/equipment_l_simp_chinese.yml
  localisation/simp_chinese/state_names_l_simp_chinese.yml
Due: none

Harden Armenia AI paths (issue #3162)
  common/ai_strategy/ARM.txt
  common/ai_strategy_plans/ARM_strategy_plans.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_armenia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/99_ARM_scripted_effects.txt
  common/scripted_effects/ARM_political_leaders.txt
  events/Armenia.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden Bahrain AI paths (issue #3162)
  common/ai_strategy/BHR.txt
  common/ai_strategy_plans/BHR_strategy_plans.txt
  common/decisions/Gulf.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/gulf.txt
  common/on_actions/999_game_rules_on_actions.txt
  events/Gulf.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_middle_east_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Consolidate Swedish MIOs to one org per company
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_sweden.txt
  events/05_netherlands.txt
  events/Sweden.txt
  history/countries/SWE - Sweden.txt
  localisation/english/MD_focus_SWE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden Belarus AI paths (issue #3162)
  common/ai_strategy/BLR.txt
  common/ai_strategy_plans/BLR_strategy_plans.txt
  common/decisions/Belarus.txt
  common/decisions/categories/99_BLR_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_belarus.txt
  common/national_focus/05_tatarstan.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_BLR_scripted_triggers.txt
  events/belarus.txt
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden Bosnia and Herzegovina AI paths (issue #3162)
  common/ai_strategy/BOS.txt
  common/ai_strategy_plans/BOS_strategy_plans.txt
  common/decisions/Bosnia.txt
  common/decisions/Yugoslavia.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_bosnia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_BOS_scripted_triggers.txt
  events/bosnia_events.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Count adjacency rules flag reads in CI validation
  .github/workflows/coding-pipeline.yml
  tools/shared_utils.py
  tools/tests/shared_utils_io_test.py
  tools/tests/validation/adjacency_flag_reads_test.py
Due: none

Harden Botswana AI paths (issue #3162)
  common/ai_strategy/BOT.txt
  common/ai_strategy_plans/BOT_strategy_plans.txt
  common/decisions/Botswana.txt
  common/decisions/categories/99_BOT_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_botswana.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_BOT_on_actions.txt
  events/Botswana.txt
  localisation/english/MD_focus_BOT_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden Bosnia and Herzegovina AI paths (issue #3162) (#3309)
  common/ai_strategy/BOS.txt
  common/ai_strategy_plans/BOS_strategy_plans.txt
  common/decisions/Bosnia.txt
  common/decisions/Yugoslavia.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_bosnia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_BOS_scripted_triggers.txt
  events/bosnia_events.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden Belarus AI paths (issue #3162) (#3308)
  common/ai_strategy/BLR.txt
  common/ai_strategy_plans/BLR_strategy_plans.txt
  common/decisions/Belarus.txt
  common/decisions/categories/99_BLR_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_belarus.txt
  common/national_focus/05_tatarstan.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_BLR_scripted_triggers.txt
  events/belarus.txt
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden Botswana AI paths (issue #3162) (#3311)
  common/ai_strategy/BOT.txt
  common/ai_strategy_plans/BOT_strategy_plans.txt
  common/decisions/Botswana.txt
  common/decisions/categories/99_BOT_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_botswana.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_BOT_on_actions.txt
  events/Botswana.txt
  localisation/english/MD_focus_BOT_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Anchor the adjacency_rules exception to the mod root
  tools/shared_utils.py
  tools/tests/shared_utils_io_test.py
Due: none

Gate BHR_legalise_the_opposition with allowed instead of visible
  common/decisions/Gulf.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Harden Armenia AI paths (issue #3162) (#3306)
  common/ai_strategy/ARM.txt
  common/ai_strategy_plans/ARM_strategy_plans.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_armenia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/99_ARM_scripted_effects.txt
  common/scripted_effects/ARM_political_leaders.txt
  events/Armenia.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Count adjacency rules flag reads in CI validation (#3312)
  .github/workflows/coding-pipeline.yml
  tools/shared_utils.py
  tools/tests/shared_utils_io_test.py
  tools/tests/validation/adjacency_flag_reads_test.py
Due: none

Harden Bahrain AI paths (issue #3162) (#3307)
  common/ai_strategy/BHR.txt
  common/ai_strategy_plans/BHR_strategy_plans.txt
  common/decisions/Gulf.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/gulf.txt
  common/on_actions/999_game_rules_on_actions.txt
  events/Gulf.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_middle_east_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

updaetd CODEOWNERS
  CODEOWNERS
Due: none

typo
  localisation/english/MD_focus_BLR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Ban available on slotless country ideas
  .claude/docs/idea-reference.md
  AGENTS.md
  common/ideas/!_generic_faction_goals.txt
  common/ideas/05_japan.txt
  common/ideas/AIDS.txt
  common/ideas/Cuban.txt
  common/ideas/Kuban.txt
  common/ideas/Ukrainian.txt
  tools/standardization/README.md
  tools/standardization/strip_idea_allowed_gates.py
  tools/tests/standardization/strip_idea_allowed_gates_test.py
  tools/tests/validation/validate_ideas_slotless_available_test.py
  tools/validation/validate_ideas.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Harden Brazil AI paths (issue #3162)
  common/ai_strategy/BRA.txt
  common/ai_strategy_plans/BRA_strategy_plans.txt
  common/decisions/Brazil.txt
  common/decisions/categories/99_BRA_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_brazil.txt
  common/on_actions/999_game_rules_on_actions.txt
  events/Brazilian.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ban available on slotless country ideas (#3313)
  .claude/docs/idea-reference.md
  AGENTS.md
  common/ideas/!_generic_faction_goals.txt
  common/ideas/05_japan.txt
  common/ideas/AIDS.txt
  common/ideas/Cuban.txt
  common/ideas/Kuban.txt
  common/ideas/Ukrainian.txt
  tools/standardization/README.md
  tools/standardization/strip_idea_allowed_gates.py
  tools/tests/standardization/strip_idea_allowed_gates_test.py
  tools/tests/validation/validate_ideas_slotless_available_test.py
  tools/validation/validate_ideas.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Regular update
  localisation/simp_chinese/MD_automation_settings_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ALG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_BLR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_BOT_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CHI_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_EU_POTEF_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_FRA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_HUN_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_NKO_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_PHI_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_POL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_USA_l_simp_chinese.yml
  localisation/simp_chinese/MD_game_rules_l_simp_chinese.yml
  localisation/simp_chinese/MD_middle_east_content_l_simp_chinese.yml
  localisation/simp_chinese/MD_tooltips_l_simp_chinese.yml
Due: none

Exempt AI-only decisions from localisation validation
  .claude/docs/decision-reference.md
  localisation/english/MD_currency_l_english.yml
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_focus_BOT_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_EU_POTEF_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_ITA_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_middle_east_content_l_english.yml
  tools/shared/suite.py
  tools/tests/validation/validate_decisions_ai_only_loc_test.py
  tools/validation/validate_decisions.py
Due: validate-localization-encoding, fix-localization-encoding

Gate strategic bombing behind war for better performance
  common/factions/goals/faction_goals_long_term.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
