Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Error fixes
  common/decisions/JAP.txt
  common/ideas/JAP.txt
  common/ideas/Japanese.txt
  common/national_focus/05_japan.txt
  common/raids/special_forces_raids.txt
  common/scripted_localisation/99_JAP_scripted_localisation.txt
  gfx/leaders/ENG/Robert_Walmsley.dds
  gfx/leaders/ENG/Sir_John_Chisholm.dds
  gfx/leaders/ENG/Sir_Kevin_Tebbit.dds
  gfx/leaders/ENG/Sir_Richard_Evans.dds
  gfx/leaders/ENG/small/Robert_Walmsley_small.dds
  gfx/leaders/ENG/small/Sir_John_Chisholm_small.dds
  gfx/leaders/ENG/small/Sir_Kevin_Tebbit_small.dds
  gfx/leaders/ENG/small/Sir_Richard_Evans_Small.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/decisions/United_Kingdom.txt
  common/decisions/categories/united_kingdom_categories.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_guis/ENG_British_guis.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

more devolution adjustments
  common/scripted_guis/ENG_British_guis.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

chore(docs): remove duplicate/conflict-artifact docs/assets/js/site.js
  docs/assets/js/site.js
Due: none

chore(docs): remove duplicated theme bootstrap script in head.html
  docs/_includes/head.html
Due: none

stuff
  common/national_focus/05_japan.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: enhance code block and callout styles for better handling of long content
  docs/_sass/_code.scss
  docs/_sass/components/_buttons-cards-callouts.scss
Due: none

Refactor code structure for improved readability and maintainability
  docs/_config.yml
  docs/_includes/hero.html
  docs/_sass/_components.scss
  docs/_sass/_layout.scss
  docs/_sass/components/_buttons-cards-callouts.scss
  docs/_sass/components/_hero.scss
  docs/index.md
  docs/uploads/hero.jpeg
  docs/uploads/og-image.png
Due: none

contont
  common/factions/templates/99_ENG.txt
  common/ideas/Factions.txt
  common/national_focus/05_united_kingdom.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Irish integration
  common/decisions/United_Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

doing more work on UN aid
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_triggers/MD_economic_triggers.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

2000 parties
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_subideology_parties_l_english.yml
  localisation/japanese/MD_subideology_parties_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix quotation marks
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

political events fix
  events/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_united_kingdom.txt
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Popularities
  history/countries/JAP - Japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

uk done
  common/autonomous_states/MD_british_autonomies.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_guis/ENG_British_guis.txt
  events/Influence.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

political events
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
  localisation/japanese/MD_subideology_parties_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Code standardization 1
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/JAP.txt
  common/national_focus/05_japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Code standardization 2
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/national_focus/05_japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_dm_modifiers.txt
  localisation/english/MD_dm_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Code standardization 3
  common/national_focus/05_japan.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  events/JAP.txt
  localisation/english/MD_misc_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardization Code 4
  common/national_focus/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

First batch of cleanup and that
  common/decisions/Bosnia.txt
  common/decisions/South_Ossetia.txt
  common/ideas/Polish.txt
  common/national_focus/05_afghanistan.txt
  common/national_focus/05_belarus.txt
  common/national_focus/05_ethiopia.txt
  common/national_focus/05_georgia.txt
  common/national_focus/05_san_marino.txt
  common/national_focus/05_south_ossetia.txt
  common/national_focus/Crimea.txt
  common/national_focus/india.txt
  common/national_focus/russia.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_triggers/99_SOV_scripted_triggers.txt
  events/Poland.txt
  events/Romania.txt
  events/Russia.txt
  events/Syria_Focus_Events.txt
  events/Ukraine.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Focus FIlters
  common/national_focus/05_japan.txt
  localisation/braz_por/replace/replaced_from_focus_filter_tag_l_braz_por.yml
  localisation/french/replace/replaced_from_focus_filter_tag_l_french.yml
  localisation/german/replace/replaced_from_focus_filter_tag_l_german.yml
  localisation/japanese/replace/replaced_from_focus_filter_tag_l_japanese.yml
  localisation/korean/replace/replaced_from_focus_filter_tag_l_korean.yml
  localisation/polish/replace/replaced_from_focus_filter_tag_l_polish.yml
  localisation/russian/replace/replaced_from_focus_filter_tag_l_russian.yml
  localisation/simp_chinese/replace/replaced_from_focus_filter_tag_l_simp_chinese.yml
  localisation/spanish/replace/replaced_from_focus_filter_tag_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_japan.txt
  common/national_focus/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardizations
  common/ideas/Generic Ideas.txt
  common/on_actions/00_on_actions.txt
  docs/dev-resources/code-stylization-guide.md
  tools/standardization/standardize_focus_tree.py
  tools/standardization/standardize_ideas.py
  tools/validation/validate_unused_textures.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Idea Standardization
  common/ideas/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Last fixes and code standardization
  Changelog.txt
  common/ideas/United_Kingdom.txt
  common/ideas/netherlands.txt
  common/national_focus/05_netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

LKT General Focus Tweaks
  common/ideas/Republic of Lakota.txt
  common/national_focus/Republic of Lakota.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

bugfix trying
  gfx/interface/equipmentdesigner/graphic_db/00_plane_icons.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Armenia/Artsakh integration bugs
  common/decisions/Armenia.txt
  common/decisions/karabakh.txt
  common/ideas/Armenian.txt
  events/Karabakh.txt
  localisation/english/MD_focus_ARM_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

standartize country pages
  docs/national-content/Afghan-Northern-Alliance.md
  docs/national-content/Armenia.md
  docs/national-content/Azerbaijan.md
  docs/national-content/Botswana.md
  docs/national-content/Brazil.md
  docs/national-content/Canada.md
  docs/national-content/China.md
  docs/national-content/Comoros.md
  docs/national-content/Denmark.md
  docs/national-content/Ethiopia.md
  docs/national-content/Finland.md
  docs/national-content/France.md
  docs/national-content/Georgia.md
  docs/national-content/Germany.md
  docs/national-content/Greece.md
  docs/national-content/Iran.md
  docs/national-content/Italy.md
  docs/national-content/Japan.md
  docs/national-content/Liechtenstein.md
  docs/national-content/Myanmar.md
  docs/national-content/Nigeria.md
  docs/national-content/North-Korea.md
  docs/national-content/Norway.md
  docs/national-content/Poland.md
  docs/national-content/Russia.md
  docs/national-content/South-Korea.md
  docs/national-content/Spain.md
  docs/national-content/Sweden.md
  docs/national-content/Switzerland.md
  docs/national-content/Syria.md
  docs/national-content/Ukraine.md
  docs/national-content/United-Kingdom.md
  docs/national-content/United-States.md
  scripts/normalize_national_content.py
Due: none

doing even more work
  common/ideas/Various.txt
  common/opinion_modifiers/new_opinion_modifiers.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
  interface/core.gfx
  localisation/english/MD_ideas_l_english.yml
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
