Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Let the Thailand AI reach its People's Republic and Orange Revolution paths
  common/decisions/Thailand.txt
  common/decisions/categories/99_SIA_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Let the reform and communist trunks relieve Two Thailands
  common/national_focus/05_thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Seat Thailand's historical governments in 2011, 2014 and 2023 under historical AI
  common/scripted_effects/00_yearly_effects.txt
  events/Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_helicopter_modules.txt
  common/units/equipment/modules/MD_helicopter_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Changelog.txt merge-conflict auto-fixer (#4528)
  .claude/docs/validation-pipeline.md
  .gitattributes
  .github/workflows/changelog-conflict-fixer.yml
Due: none

Weight Thailand's military focuses up when the AI is threatened
  common/national_focus/05_thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

Standardize party localisation for BRM
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/Burma.txt
  localisation/english/MD_focus_BRM_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Changelog.txt merge-conflict auto-fixer (#4528) (#4914)
  .claude/docs/validation-pipeline.md
  .gitattributes
  .github/workflows/changelog-conflict-fixer.yml
Due: none

Whitelist Collaboration Variable And Fix Hidden Bushfire Event (#4912)
  Changelog.txt
  events/05_australia_events.txt
  tools/tests/validation/validate_localisation_checks_test.py
  tools/validation/validate_localisation.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix surface VLS module stats and ammunition icons
  Changelog.txt
  common/units/equipment/modules/MD_ship_modules.txt
  interface/equipmentdesignermoduleicons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Balance the STALKER artifact economy and emissions
  Changelog.txt
  common/decisions/STALKER_decisions.txt
  common/scripted_effects/99_STALKER_economy_effects.txt
  common/scripted_effects/99_STALKER_pulse_effects.txt
  common/scripted_effects/99_STALKER_scripted_effects.txt
  localisation/english/MD_STALKER_economy_l_english.yml
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Gate the artifact price recovery on the Kaymanov market flag instead of a zero check
  common/scripted_effects/99_STALKER_economy_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix VLS changelog formatting
  Changelog.txt
Due: none

Move validator suppression lists to validation_config.json and flag non-instant equipment bonuses
  .claude/docs/validation-pipeline.md
  .github/workflows/test-suite.yml
  .github/workflows/validator-cache.yml
  .pre-commit-config.yaml
  tools/linting/check_common_mistakes.py
  tools/publishing/publish_workshop.py
  tools/shared_utils.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/validate_ideas_run_test.py
  tools/tests/validation/validate_ideas_scan_test.py
  tools/tests/validation_config_test.py
  tools/validation/change_groups.py
  tools/validation/disk_cache.py
  tools/validation/staged_sparse_profile.txt
  tools/validation/validate_cosmetic_tags.py
  tools/validation/validate_decisions.py
  tools/validation/validate_equipment_upkeep.py
  tools/validation/validate_events.py
  tools/validation/validate_focus_tree.py
  tools/validation/validate_ideas.py
  tools/validation/validate_localisation.py
  tools/validation/validate_mios.py
  tools/validation/validate_modifiers.py
  tools/validation/validate_on_actions.py
  tools/validation/validate_scripted_localisation.py
  tools/validation/validate_set_variables.py
  tools/validation/validate_style.py
  tools/validation/validate_unused_scripted.py
  tools/validation/validate_variables.py
  validation_config.json
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Name STALKER countries in text through global variables, since text cannot read global event targets
  Changelog.txt
  common/decisions/STALKER_belarus_decisions.txt
  common/decisions/STALKER_global_decisions.txt
  common/decisions/STALKER_international_decisions.txt
  common/scripted_effects/99_STALKER_world_effects.txt
  localisation/english/MD_STALKER_belarus_l_english.yml
  localisation/english/MD_STALKER_economy_l_english.yml
  localisation/english/MD_STALKER_international_l_english.yml
  localisation/english/MD_STALKER_world_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Run focus style checks on validation config edits
  .claude/docs/validation-pipeline.md
  .github/workflows/test-suite.yml
  tools/tests/validation/change_groups_test.py
  tools/tests/validation/config_drift_test.py
  tools/validation/change_groups.py
Due: none

Standardize party localisation for BRM (#4917)
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/Burma.txt
  localisation/english/MD_focus_BRM_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

R3D Twin Heli Engine (Addresses #4547) (#4915)
  common/units/equipment/modules/MD_helicopter_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Libya Chad focus bypass
  Changelog.txt
  common/national_focus/05_libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Map focus tree form answers to labels and drop legacy focus tree template
  .github/ISSUE_TEMPLATE/focus_tree_work.md
  .github/wish-management.md
  .github/workflows/issue-triage.yml
Due: none

Keep the Focus Trees and Task templates and add the wish fields to them
  .github/ISSUE_TEMPLATE/focus-tree.yml
  .github/ISSUE_TEMPLATE/focus_tree_work.md
  .github/ISSUE_TEMPLATE/task.yml
  .github/ISSUE_TEMPLATE/team_work.md
  .github/wish-management.md
Due: none

Turn the Focus Trees and Task templates into issue forms
  .github/ISSUE_TEMPLATE/focus_tree_work.md
  .github/ISSUE_TEMPLATE/focus_tree_work.yml
  .github/ISSUE_TEMPLATE/team_work.md
  .github/ISSUE_TEMPLATE/team_work.yml
  .github/wish-management.md
Due: none

Explain the workforce math in building tooltips
  Changelog.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_country_economy_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Address review: No Path rule, thailand.437 junta state and party check, reformist rally outlook
  common/decisions/Thailand.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  events/Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Guard Great AI Race repair clamps against unset variables
  Changelog.txt
  common/scripted_effects/00_great_ai_race_effects.txt
  tools/tests/great_ai_race_state_model_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Explain the workforce math in building tooltips (#4771) (#4921)
  Changelog.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_country_economy_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Drop pre-founding clamps from three corporate reconstructions
  Changelog.txt
  common/scripted_effects/FRA_mistral_corporate_effects.txt
  common/scripted_effects/USA_anduril_corporate_effects.txt
  common/scripted_effects/USA_palantir_corporate_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Move validator suppression lists to validation_config.json and flag non-instant equipment bonuses (#4919)
  .claude/docs/validation-pipeline.md
  .github/workflows/test-suite.yml
  .github/workflows/validator-cache.yml
  .pre-commit-config.yaml
  tools/linting/check_common_mistakes.py
  tools/publishing/publish_workshop.py
  tools/shared_utils.py
  tools/tests/validation/change_groups_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/validate_ideas_run_test.py
  tools/tests/validation/validate_ideas_scan_test.py
  tools/tests/validation_config_test.py
  tools/validation/change_groups.py
  tools/validation/disk_cache.py
  tools/validation/staged_sparse_profile.txt
  tools/validation/validate_cosmetic_tags.py
  tools/validation/validate_decisions.py
  tools/validation/validate_equipment_upkeep.py
  tools/validation/validate_events.py
  tools/validation/validate_focus_tree.py
  tools/validation/validate_ideas.py
  tools/validation/validate_localisation.py
  tools/validation/validate_mios.py
  tools/validation/validate_modifiers.py
  tools/validation/validate_on_actions.py
  tools/validation/validate_scripted_localisation.py
  tools/validation/validate_set_variables.py
  tools/validation/validate_style.py
  tools/validation/validate_unused_scripted.py
  tools/validation/validate_variables.py
  validation_config.json
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Libya Chad bypass indentation
  common/national_focus/05_libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Only remove applied U.S. real-options tier modifiers
  Changelog.txt
  common/scripted_effects/USA_oem_real_options_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Point SOV computing sovereignty at real tech IDs and icon
  Changelog.txt
  common/technologies/SOV_computing_sovereignty.txt
  interface/SOV_computing_sovereignty_technologies.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize party localisation for BUL
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/05_bulgaria.txt
  localisation/english/MD_focus_BUL_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Own Australian focus forks per AI path and weight military focuses under threat
  common/national_focus/05_Australia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Steer the Howard succession and AI elections for the Costello path
  events/05_australia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Australia AI path game rule with Historical, Costello and Independent paths
  common/game_rules/00_game_rules.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_AST_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add AST to the AI path game rule changelog line
  Changelog.txt
Due: none

Standardize party localisation for CAN
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/Canada.txt
  localisation/english/MD_focus_CAN_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

small fix
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Apply idea equipment bonuses to existing designs
  Changelog.txt
  common/ideas/!_special_project_ideas.txt
  common/ideas/05_bulgaria.txt
  common/ideas/05_china.txt
  common/ideas/05_france.txt
  common/ideas/05_japan.txt
  common/ideas/05_sweden.txt
  common/ideas/05_switzerland_ideas.txt
  common/ideas/05_united_kingdom.txt
  common/ideas/Afghanistani.txt
  common/ideas/Belarusian.txt
  common/ideas/Bosnian.txt
  common/ideas/Brazilian.txt
  common/ideas/Canadian.txt
  common/ideas/Cascadia.txt
  common/ideas/Ethiopian.txt
  common/ideas/Greek.txt
  common/ideas/Greenlandic.txt
  common/ideas/Iranian.txt
  common/ideas/Iraqi.txt
  common/ideas/Korea.txt
  common/ideas/Libyan.txt
  common/ideas/arab_spirits.txt
  common/ideas/czech_republic.txt
  common/ideas/north_korea.txt
  common/ideas/saudi_arabia.txt
  common/ideas/southern_republic_of_america.txt
  common/ideas/tajik.txt
  common/ideas/united_states.txt
  tools/standardization/README.md
  tools/standardization/add_idea_equipment_bonus_instant.py
  tools/tests/standardization/add_idea_equipment_bonus_instant_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
