Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Add wacky random events pool (#103)
  common/on_actions/MD_event_on_actions.txt
  events/MD_wacky_events.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_wacky_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Rewire the PMR sub-behavior game rule into the focus weights
  common/national_focus/05_transnistria.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give wacky event options distinct effects
  common/ideas/MD_wacky_ideas.txt
  events/MD_wacky_events.txt
  gfx/event_pictures/generic/events/event_shooting_down_santa.dds
  interface/MD_eventpictures.gfx
  localisation/english/MD_wacky_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Register GFX_ukr_oun event picture
  interface/MD_eventpictures.gfx
Due: none

Gate doctrine-exclusive naval hulls behind their doctrine
  common/units/equipment/MD_mtg_ships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_wacky_events_l_english.yml
  localisation/english/MD_wacky_events_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Exempt Hong Kong from the patrol boat doctrine gate
  common/units/equipment/MD_mtg_ships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add raise, lower, and entrenchment decisions for every internal faction (#459)
  common/decisions/05_ENG_decisions.txt
  common/decisions/Internal Factions Entrenchment.txt
  common/decisions/Internal Factions.txt
  common/scripted_effects/00_internal_faction_effects.txt
  common/scripted_triggers/00_internal_factions_trigger.txt
  localisation/english/MD_internal_factions_new_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

standardization
  common/decisions/00_internal_factions.txt
  common/decisions/Internal Factions Entrenchment.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gate doctrine-exclusive naval hulls behind their doctrine (#3738)
  common/units/equipment/MD_mtg_ships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_wacky_events.txt
  events/MD_wacky_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rebuild Transnistria: AI path rule, dynamic modifiers, and saving General Lebed (#3728)
  Changelog.txt
  common/ai_strategy/PMR.txt
  common/bookmarks/blitzkrieg.txt
  common/decisions/categories/99_PMR_decision_categories.txt
  common/decisions/transnistria.txt
  common/dynamic_modifiers/99_PMR_dynamic_modifiers.txt
  common/game_rules/00_game_rules.txt
  common/ideas/05_transnistria.txt
  common/national_focus/05_transnistria.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_PMR_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_PMR_scripted_effects.txt
  common/scripted_guis/99_SOV_scripted_guis.txt
  common/scripted_localisation/99_PMR_scripted_localisation.txt
  common/scripted_triggers/99_PMR_scripted_triggers.txt
  events/05_transnistria.txt
  events/Russia.txt
  gfx/interface/scripted_gui/transnistria/transnistria_council_gui.dds
  history/countries/PMR - Transnistria.txt
  interface/MD_SUB_subjects_guis.gui
  interface/MD_SUB_subjects_interface.gfx
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_PMR_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_event_on_actions.txt
  common/on_actions/MD_event_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added Icons + 1 OOB change
  gfx/interface/equipmentdesigner/graphic_db/00_afv_icons.txt
  gfx/interface/equipmentdesigner/graphic_db/00_art_icons.txt
  gfx/interface/equipmentdesigner/graphic_db/00_tank_icons.txt
  gfx/interface/technologies/UKR/INF/2P22-Bohdana-BG.dds
  gfx/interface/technologies/UKR/INF/KBA-27.dds
  gfx/interface/technologies/UKR/LAND/LuAZ-1901.dds
  gfx/interface/technologies/UKR/LAND/LuAZ-967M.dds
  gfx/interface/technologies/UKR/LAND/MT-LBu.dds
  gfx/interface/technologies/UKR/LAND/MVP-4K.dds
  gfx/interface/technologies/UKR/LAND/PTS-2-KBA-27.dds
  history/units/UKR_2000_nsb.txt
  interface/mdult_land.gfx
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add wacky random events pool (#103) (#3737)
  common/ideas/MD_wacky_ideas.txt
  common/on_actions/MD_event_on_actions.txt
  events/MD_wacky_events.txt
  gfx/event_pictures/generic/events/event_shooting_down_santa.dds
  interface/MD_eventpictures.gfx
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_wacky_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Tie unemployment national spirits into the unemployment mechanic
  common/ideas/05_japan.txt
  common/ideas/German.txt
  common/ideas/estonia.txt
  localisation/english/MD_focus_EST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes and some work done
  common/defines/MD_defines.lua
  common/scripted_guis/01_MD_protests_system.txt
  gfx/interface/energy_gui/energy_icon_green.dds
  gfx/interface/energy_gui/energy_icon_red.dds
  interface/MD_automation_settings.gui
  interface/MD_countrypoliticsview.gui
  interface/MD_energy_scripted.gfx
  interface/MD_energy_scripted.gui
  interface/MD_protests_system.gui
  interface/countrypoliticsview.gui
  interface/countrystateview.gui
  localisation/english/0_energy_l_english.yml
  localisation/english/MD_better_protests_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add subideology map mode (#691)
  common/map_modes/02_subideology_map_mode.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_localisation/02_subideology_map_mode_scripted_localisation.txt
  interface/MD_map_modes.gfx
  localisation/english/MD_map_modes_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Tie unemployment national spirits into the unemployment mechanic (#3740)
  common/ideas/05_japan.txt
  common/ideas/German.txt
  common/ideas/estonia.txt
  localisation/english/MD_focus_EST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update the subideology map mode only on government change (#691)
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  localisation/english/MD_map_modes_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Reorganize game rules into sorted, unified groups
  common/game_rules/00_game_rules.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fold custom scenario rules into Millennium Dawn Options
  common/game_rules/00_game_rules.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Group scenario and cheat rules under Custom Scenarios and MD_RULES
  common/game_rules/00_game_rules.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Eisen hotfix
  common/national_focus/05_ukraine.txt
  common/scripted_effects/UKR_history_dispatch.txt
  common/scripted_effects/UKR_political_leaders.txt
  history/countries/UKR - Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reuse the existing party scripted loc in the subideology map mode (#691)
  common/scripted_localisation/02_subideology_map_mode_scripted_localisation.txt
  localisation/english/MD_map_modes_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_map_modes.gfx
  interface/MD_map_modes.gfx
Due: none

Standardize internal faction decision effect order
  common/decisions/00_internal_factions.txt
  common/scripted_effects/00_internal_faction_effects.txt
  events/Internal Faction Events.txt
  localisation/english/MD_internal_factions_new_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Revert naval hull can_be_produced gates (boot crash)
  common/units/equipment/MD_mtg_ships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix custom flag category hidden globally in Event Horizon (#2672)
  common/decisions/categories/different_country_flags.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix legacy office core spirits after grand doctrine switch (#3028)
  .claude/docs/idea-reference.md
  common/ideas/zzz_air_spirits.txt
  common/ideas/zzz_army_spirits.txt
  common/ideas/zzz_navy_spirits.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add a standardization validator and an in-memory standardizer API (#1496)
  .claude/docs/validation-pipeline.md
  .github/workflows/test-suite.yml
  .pre-commit-config.yaml
  tools/precommit_validate.py
  tools/standardization/README.md
  tools/standardization/common_utils.py
  tools/standardization/standardize_api.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/standardize_ideas.py
  tools/standardize_staged.py
  tools/tests/precommit_validate_test.py
  tools/tests/standardization/standardize_api_test.py
  tools/tests/standardization/standardize_focus_tree_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/standardization_validator_test.py
  tools/validation/README.md
  tools/validation/validate_standardization.py
  tools/validation/validator_batches.py
Due: none

Rebalance submarine nuclear reactors (#3137)
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rebalance surface and fusion reactor cost scaling
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix submarine diesel-electric tier 7 fuel consumption
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added fuel tank limitation from - Closes #3136
  common/units/equipment/MD_mtg_ships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Move the map mode ruling party string into localisation (#691)
  common/scripted_localisation/02_subideology_map_mode_scripted_localisation.txt
  localisation/english/MD_map_modes_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove dead MBS influence blocks and duplicate GFX_ukr_oun sprite
  common/decisions/Gulf.txt
  common/national_focus/gulf.txt
  interface/MD_eventpictures.gfx
  localisation/english/MD_middle_east_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Doctrine Spirit Cancel (#3028) (#3746)
  .claude/docs/idea-reference.md
  common/ideas/zzz_air_spirits.txt
  common/ideas/zzz_army_spirits.txt
  common/ideas/zzz_navy_spirits.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rebalance naval reactor cost scaling (#3748)
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove dead MBS influence blocks and duplicate GFX_ukr_oun sprite (#3749)
  common/decisions/Gulf.txt
  common/national_focus/gulf.txt
  interface/MD_eventpictures.gfx
  localisation/english/MD_middle_east_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
