Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Removed unneeded code
  common/ideas/!_special_project_ideas.txt
  common/scripted_triggers/00_unit_medals_scripted_triggers.txt
  common/special_projects/project_tags/tags.txt
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/civilian_projects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

reset another file
  common/ideas/AA_law_military_ideas.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added
  common/decisions/Denmark.txt
  common/national_focus/05_comoros.txt
  common/national_focus/05_singapore.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More fixed and cleanup in here
  common/ai_strategy/WAG.txt
  common/decisions/Algeria.txt
  common/decisions/Greece.txt
  common/decisions/Political Desicions.txt
  common/decisions/categories/99_SOU_decision_categories.txt
  common/decisions/categories/greece_decisions_categories.txt
  common/dynamic_modifiers/00_raid_dynamic_modifiers.txt
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/dynamic_modifiers/99_ENG_dynamic_modifiers.txt
  common/dynamic_modifiers/99_HEZ_dynamic_modifiers.txt
  common/dynamic_modifiers/99_KOR_dynamic_modifiers.txt
  common/dynamic_modifiers/99_SIN_dynamic_modifiers.txt
  common/dynamic_modifiers/99_SUB_dynamic_modifiers.txt
  common/dynamic_modifiers/99_USB_dynamic_modifiers.txt
  common/ideas/Russian.txt
  common/ideas/Wagner.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_tatarstan.txt
  common/national_focus/05_united_kingdom.txt
  common/occupation_laws/occupation_laws.txt
  common/raids/special_forces_raids.txt
  common/scripted_effects/00_ct_ai_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_PER_scripted_effects.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  events/Algeria.txt
  events/Tajikistan.txt
  events/belarus.txt
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_military_raids_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix adversarial review findings across decisions, ideas, focuses, and standardizer
  common/decisions/Belarus.txt
  common/ideas/Russian.txt
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_tatarstan.txt
  common/scripted_triggers/99_SUB_scripted_triggers.txt
  tools/standardization/common_utils.py
  tools/standardization/standardize_decisions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Restore decision categories dropped during standardization
  common/decisions/Belarus.txt
  common/decisions/Canada.txt
  common/decisions/categories/99_CAS_decision_categories.txt
  common/decisions/categories/99_CHE_decision_categories.txt
  common/decisions/categories/99_CSA_decision_categories.txt
  common/decisions/categories/99_UKR_decision_categories.txt
  common/decisions/categories/99_USA_decision_categories.txt
  common/decisions/categories/99_ai_templates_category.txt
  common/decisions/categories/MERCOSUR_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix ALG missile tech bonus name for cwtools config
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changed buttons colors
  gfx/interface/big_button_232.dds
  gfx/interface/button_123x34.dds
  gfx/interface/button_148x34.dds
  gfx/interface/button_221x34.dds
  gfx/interface/button_261x34.dds
  gfx/interface/button_359x34.dds
  gfx/interface/button_94x31.dds
  gfx/interface/button_reset_123x34.dds
  gfx/interface/diplo_actions_bg.dds
  gfx/interface/diplo_filter_entry.dds
  gfx/interface/international_market/land_equipment_market_entry.dds
  gfx/interface/main_lobby_button.dds
  gfx/interface/play_button.dds
  gfx/interface/play_button_ready.dds
  gfx/interface/sat_target_button.dds
  gfx/interface/topic_big_button_232.dds
Due: none

cleanup
  common/scripted_guis/01_construction_menu_gui.txt
  interface/MD_countryconstructionsview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More cleanup on the files here
  common/dynamic_modifiers/WUW_dynamic_modifiers.txt
  common/frontend/backgrounds/base_backgrounds.txt
  common/ideas/zombies.txt
  history/countries/ZOM - Zombies.txt
  history/units/ZOM_2000.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more UI
  interface/zombie_game_mode.gfx
  tools/linting/check_basic_style_2.py
  tools/validation/run_all_validators.sh
Due: none

stuff in retainer
  common/on_actions/02_dod_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/01_subideology_scripted_guis.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed building_construction_speeds
  common/scripted_guis/01_MD_countryconstructionview_scripted_gui.txt
  interface/countryconstructionsview.gfx
  interface/countryconstructionsview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

reset the merge conflcits
  interface/military_industrial_organization/industrial_organization_detail.gui
Due: none

- fixed unemployment threshold display value to correct one - fixed unemployment display value to correct one - fixed Arial12_bold error
  interface/MD_countryeconomyview.gui
  localisation/english/MD_countryeconomyview_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Improved the tooling configuration
  .github/workflows/coding-pipeline.yml
  .pre-commit-config.yaml
  common/names/00_names.txt
  tools/README.md
  tools/linting/check_basic_style.py
  tools/linting/check_braces.py
  tools/linting/check_common_mistakes.py
  tools/linting/coding_standards.py
  tools/linting/fix_styling.py
  tools/shared_utils.py
  tools/standardization/common_utils.py
  tools/validation/README.md
  tools/validation/disk_cache.py
  tools/validation/validate_cosmetic_tags.py
  tools/validation/validate_decisions.py
  tools/validation/validate_events.py
  tools/validation/validate_localisation.py
  tools/validation/validate_style.py
  tools/validation/validator_common.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More validation speed up and fixes
  .github/workflows/coding-pipeline.yml
  tools/linting/check_common_mistakes.py
  tools/linting/fix_styling.py
  tools/path_utils.py
  tools/run.py
  tools/validate_tools.py
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validator_bug_regressions_test.py
  tools/validation/validate_events.py
  tools/validation/validate_scripted_localisation.py
  tools/validation/validate_set_variables.py
  tools/validation/validate_style.py
  tools/validation/validate_variables.py
  tools/validation/validator_common.py
Due: none

fixed
  .github/workflows/coding-pipeline.yml
  .pre-commit-config.yaml
  tools/linting/check_common_mistakes.py
  tools/validation/validate_style.py
Due: none

Re-enable economy top bar AI and clean up UI overhaul leftovers
  common/on_actions/00_on_actions.txt
  common/scripted_guis/00_MD_economyview_scripted_guis.txt
  common/scripted_localisation/01_construction_menu_scripted_localisation.txt
  localisation/english/MD_countryeconomyview_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

init
  common/scripted_guis/01_influence_scripted_guis.txt
  gfx/interface/diplo_actions_bg.dds
  gfx/interface/diplo_upper_win_bg.dds
  gfx/interface/win_header_short.dds
  interface/MD_general_stuff.gfx
  interface/MD_influence.gui
  interface/countrydiplomacyview.gui
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add power-source efficiency-over-time chart tool
  tools/analysis/renewable_power_per_cost.py
Due: none

Make power-generation tech modifiers S-curves
  .claude/docs/energy-power-balance.md
  .claude/rules/general-rules.md
  common/technologies/industry.txt
  tools/balance/set_energy_tech_scurves.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changes
  common/scripted_guis/00_MD_politicalview_scripted_guis.txt
  interface/MD_countrypoliticsview.gfx
  interface/MD_countrypoliticsview.gui
  interface/MD_countrytradeview2.gfx
  interface/countrypoliticsview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added income
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

removed IRA stuff for time being
  common/scripted_guis/01_subideology_scripted_guis.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Align and de-colour dynamic modifier tooltips
  localisation/braz_por/replace/replaced_from_vanilla_modifiers_l_braz_por.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
  localisation/french/replace/replaced_from_vanilla_modifiers_l_french.yml
  localisation/german/replace/replaced_from_vanilla_modifiers_l_german.yml
  localisation/japanese/replace/replaced_from_vanilla_modifiers_l_japanese.yml
  localisation/korean/replace/replaced_from_vanilla_modifiers_l_korean.yml
  localisation/polish/replace/replaced_from_vanilla_modifiers_l_polish.yml
  localisation/russian/replace/replaced_from_vanilla_modifiers_l_russian.yml
  localisation/simp_chinese/replace/replaced_from_vanilla_modifiers_l_simp_chinese.yml
  localisation/spanish/replace/replaced_from_vanilla_modifiers_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

Add downstream-branch reward summaries focuses
  Changelog.txt
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_tooltips_l_english.yml
  tools/generators/generate_branch_summary_tooltip.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Shit
  common/ideas/05_united_kingdom.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  gfx/interface/diplo_actions_bg.dds
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Limit modifier tooltip indent to dynamic-modifier entries
  localisation/braz_por/replace/replaced_from_vanilla_modifiers_l_braz_por.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
  localisation/french/replace/replaced_from_vanilla_modifiers_l_french.yml
  localisation/german/replace/replaced_from_vanilla_modifiers_l_german.yml
  localisation/japanese/replace/replaced_from_vanilla_modifiers_l_japanese.yml
  localisation/korean/replace/replaced_from_vanilla_modifiers_l_korean.yml
  localisation/polish/replace/replaced_from_vanilla_modifiers_l_polish.yml
  localisation/russian/replace/replaced_from_vanilla_modifiers_l_russian.yml
  localisation/simp_chinese/replace/replaced_from_vanilla_modifiers_l_simp_chinese.yml
  localisation/spanish/replace/replaced_from_vanilla_modifiers_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

ui and bug fix
  common/scripted_effects/99_ENG_scripted_effects..txt
  gfx/interface/big_button_232.dds
  gfx/interface/button_123x34.dds
  gfx/interface/button_148x34.dds
  gfx/interface/button_221x34.dds
  gfx/interface/button_261x34.dds
  gfx/interface/button_359x34.dds
  gfx/interface/button_94x31.dds
  gfx/interface/button_reset_123x34.dds
  gfx/interface/main_lobby_button.dds
  gfx/interface/play_button.dds
  gfx/interface/play_button_ready.dds
  gfx/interface/sat_target_button.dds
  gfx/interface/topic_big_button_232.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/bookmarks/blitzkrieg.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

icons buttonjs
  gfx/interface/tiles/tiled_window2_border.dds
  gfx/interface/tradeview/trade_filter_btn_big.dds
  gfx/interface/tradeview/trade_filter_btn_small.dds
Due: none

Removed and cleaned up dead events
  events/Gulf.txt
  events/Russia.txt
  events/Sweden.txt
  events/United States.txt
  events/War.txt
  events/investments_events.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more work
  common/scripted_effects/00_yearly_effects.txt
  events/Algeria.txt
  events/Armenia.txt
  events/bashkiria.txt
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more work on the validate_events
  tools/validation/validate_events.py
Due: none
