Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

typo
  localisation/english/MD_focus_NKO_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Restore the upstream focus position that #275 moved
  common/national_focus/05_usa.txt
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Enable redundant-focus-flag warnings in CI
  .claude/docs/validation-pipeline.md
  tools/tests/validation/run_all_validators_test.py
  tools/tests/validation/run_validator_batch_test.py
  tools/tests/validation/validator_batches_test.py
  tools/validation/run_all_validators.py
  tools/validation/validator_batches.py
Due: none

Remove redundant allowed from SAU Among Major Powers decisions
  common/decisions/Saudi Arabia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Parachim Class
  gfx/interface/technologies/SOV/NAV/97P.dds
  history/countries/IND - Indonesia.txt
  history/countries/SOV - Russia.txt
  history/units/BHR_2000_naval_mtg.txt
  history/units/IND_2000_naval_mtg.txt
  history/units/SOV_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

event
  gfx/event_pictures/europe/serbia - SER/SER_montenegro_crackdown.dds
  interface/MD_eventpictures.gfx
Due: none

Move PER election weekly tick to on_weekly_PER (#3951)
  common/decisions/Iran.txt
  common/on_actions/99_PER_on_actions.txt
  common/scripted_effects/99_PER_scripted_effects.txt
  events/Iran.txt
  localisation/english/MD_focus_PER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix/sau redundant decision allowed (#3954)
  common/decisions/Saudi Arabia.txt
  gfx/event_pictures/europe/serbia - SER/SER_montenegro_crackdown.dds
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Kabylia unrest spirit cleanup (#3952)
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Move the fork's election ladder clear of the Shepard branch
  common/national_focus/05_usa.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Greek Polish: Focus Ideas to Dynamic Modifiers (#3941)
  common/decisions/EU_voting_decisions.txt
  common/decisions/categories/99_GRE_decision_categories.txt
  common/dynamic_modifiers/99_GRE_dynamic_modifiers.txt
  common/ideas/Greek.txt
  common/national_focus/05_greece.txt
  events/Greece.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_GRE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Petya Class
  history/countries/RAJ - India.txt
  history/countries/SOV - Russia.txt
  history/units/AZE_2000_naval_mtg.txt
  history/units/SYR_2000_naval_mtg.txt
  history/units/VIE_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize party localisation for Abkhazia, Aceh, Adjara and Andorra (#3945)
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added missing dynamic_modifiers and Decisions icons
  common/decisions/Ukraine.txt
  common/dynamic_modifiers/99_UKR_dynamic_modifiers.txt
  gfx/interface/decisions/ukraine/categories/decision_category_UKR_btr4.dds
  gfx/interface/decisions/ukraine/categories/decision_category_UKR_t64.dds
  gfx/interface/decisions/ukraine/categories/decision_category_UKR_t84.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_atgms.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_bmp1.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_brdm2.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_btr3.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_btr60.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_btr70.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_btr94.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_donets.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_mt_lb.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_planes.dds
  gfx/interface/decisions/ukraine/decision_category_UKR_t55.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_2s22_bohdana.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_btr3.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_btr4.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_btr94.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_donets.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_kba27.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_t84.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_bm21.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_bmp1.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_brdm2.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_btr60.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_btr70.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_mt_lb.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_t55.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_t64.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_t72.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_reorganize_navy_simferopol_recon_ship.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_reorganize_navy_ternopil_corvette.dds
  gfx/interface/state_modifiers/modifiers_ukr_warehouse_big_explosion.dds
  gfx/interface/state_modifiers/modifiers_ukr_warehouse_medium_explosion.dds
  gfx/interface/state_modifiers/modifiers_ukr_warehouse_small_explosion.dds
  interface/MD_decisions.gfx
  interface/MD_dynamic_modifiers.gfx
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add missing UKR/SOV equipment variants and fix UKR namelists
  common/units/names/00_UKR_names.txt
  common/units/names_divisions/UKR_names_divisions.txt
  history/countries/SOV - Russia.txt
  history/countries/UKR - Ukraine.txt
  history/units/UKR_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Move UKR land unit labels into names_divisions
  common/units/names/00_UKR_names.txt
  common/units/names_divisions/UKR_names_divisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed namelist
  common/units/names_divisions/UKR_names_divisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Algeria disaster contingency spirit cleanup
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Module Interaction fixes
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/tracks/air.txt
  common/units/equipment/modules/MD_plane_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Keep EH flags; swap the two UKR completion latches
  common/ai_strategy/SOV.txt
  common/ai_strategy/UKR.txt
  common/decisions/EH_decisions.txt
  common/decisions/Ukraine.txt
  common/decisions/Union State.txt
  common/decisions/categories/EH_decision_category.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_ukraine.txt
  common/national_focus/06_event_horizon_generic.txt
  common/on_actions/99_EH_on_actions.txt
  common/scripted_guis/99_EH_scripted_gui.txt
  common/scripted_localisation/99_USR_scripted_localisation.txt
  common/scripted_triggers/99_UKR_scripted_triggers.txt
  events/Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Module Interaction fixes (#3959)
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/tracks/air.txt
  common/units/equipment/modules/MD_plane_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Algeria disaster contingency spirit cleanup (#3958)
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed Denmark category error -- Close #3957
  common/national_focus/05_denmark.txt
  localisation/english/MD_focus_DEN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_plane_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

R3d module interaction fixes /2 (#3962)
  common/units/equipment/modules/MD_plane_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Require Python 3.12 for tools and CI
  .github/actions/setup-md-python/action.yml
  .github/workflows/validator-cache.yml
  docs/CONTRIBUTING.md
  docs/src/content/resources/developer-setup.md
  docs/src/content/resources/gfx-entry-generator.md
  pyproject.toml
  tools/README.md
  tools/dev_setup.py
  tools/summarize_game_log.py
  tools/tests/dev_setup_test.py
  tools/tests/validation/config_drift_test.py
Due: none

Fix Algeria oil crash spirit cleanup
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Tweaks
  common/units/MD_land_units.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Assault Cannon/Marines Tweaks (#3966)
  common/units/MD_land_units.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Python 3.12 drift test against tools CI checkout
  .github/workflows/test-suite.yml
  tools/tests/dev_setup_test.py
  tools/tests/validation/config_drift_test.py
Due: none

Standardize party localisation for ADY, AFG, AFR and AGL
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Belt and Road events resolving FROM as China (#3968)
  common/scripted_effects/05_CHI_scripted_effects.txt
  events/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix China factional balance range modifiers (#3903)
  common/bop/CHI.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize party localisation for ADY, AFG, AFR and AGL (#3969)
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Lock EU111/EU112 to one council path and stop office polling
  common/scripted_guis/01_european_union_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_UKR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix the Targeted Operations security badge layout
  interface/targeted_operations_security.gui
Due: none

Update Changelog.txt
  Changelog.txt
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
