Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

tooltips
  common/decisions/05_CHI_decisions.txt
  common/national_focus/05_china.txt
  common/scripted_triggers/00_economic_triggers.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden orphan money-setter check: quote-aware comment strip, cancel_effect container, tooltip masking
  tools/validation/tests/orphan_money_setter_test.py
  tools/validation/validate_variables.py
Due: none

comment removing
  common/decisions/categories/99_CHI_decision_categories.txt
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/ideas/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Apply adversarial review findings: multi-outcome friendship mirrors, missing treasury-spend guards, reject-mirror completeness, pre-existing scope and idea-name fixes
  common/national_focus/05_brazil.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/05_venezuela.txt
  events/Sweden.txt
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

validator fixes
  common/decisions/05_CHI_decisions.txt
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_china.txt
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Apply second-pass review fixes: NATO access-direction corrections with mirror sync, dead-USA bypass, alt-outcome mirror completeness, will_lead_to_war_with on union invites, log-ID and cleanup fixes
  common/national_focus/05_brazil.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_united_kingdom.txt
  events/Germany.txt
  events/Sweden.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on this
  common/ideas/Brazilian.txt
  common/ideas/Swedish.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_brazil.txt
  common/national_focus/05_georgia.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_singapore.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/05_venezuela.txt
  events/05_united_kingdom.txt
  events/Brazilian.txt
  events/Germany.txt
  events/Sweden.txt
  events/Venezuela.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
  tools/validation/tests/orphan_money_setter_test.py
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

OOS token sync
  common/synchronized_dynamic_tokens/MD_tokens.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Operation Carwash improvements
  common/national_focus/brazil.txt
  events/Brazilian.txt
  localisation/english/MD_focus_BRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed orphaned treasury/internatioanal investments/debt effects
  common/national_focus/05_azerbaijan.txt
  common/national_focus/05_egypt.txt
  common/national_focus/05_georgia.txt
  common/national_focus/05_india.txt
  common/national_focus/05_israel.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_syria.txt
  common/national_focus/Crimea.txt
  common/national_focus/denmark.txt
  common/national_focus/iraq2.txt
  common/national_focus/turkey.txt
  events/SubjectRussia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix bailout donor events paying $0 while still granting influence (#2464)
  .claude/docs/hoi4-data-structures.md
  common/scripted_effects/00_budget_effects.txt
  events/Econ_events.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix AMF bailout clamp bounds and never-set display variable
  common/decisions/bankruptcy_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Changelog: bailout and treasury effect fixes
  Changelog.txt
Due: none

Hoist FROM reads out of math expressions repo-wide, keep expression style
  .claude/docs/hoi4-data-structures.md
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_budget_effects.txt
  common/scripted_effects/00_education_effects.txt
  events/Econ_events.txt
  events/United States.txt
  events/agricultural_events.txt
  events/raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Changelog: FROM-read math expression fixes
  Changelog.txt
Due: none

Fixed Thailand correctness issues from playtest review
  common/national_focus/05_thailand.txt
  events/Thailand.txt
  history/countries/SIA - Thailand.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Switzerland rework audit fixes
  Changelog.txt
  common/ai_strategy/SWI.txt
  common/ai_strategy_plans/SWI_strategy_plans.txt
  common/country_leader/defense_company_traits.txt
  common/decisions/05_SWI_decisions.txt
  common/dynamic_modifiers/99_SWI_dynamic_modifiers.txt
  common/ideas/05_switzerland_ideas.txt
  common/ideas/zz_defence_companies.txt
  common/military_industrial_organization/organizations/MD_SWI_organizations.txt
  common/national_focus/05_switzerland.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  events/05_switzerland_events.txt
  history/countries/SWI - Switzerland.txt
  interface/MD_ideas.gfx
  interface/factions/factions.gfx
  interface/goals.gfx
  interface/goals_shine.gfx
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_custom_defence_companies_l_english.yml
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
  localisation/english/replace/replaced_from_focus_filter_tag_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Converted Thai event and decision building grants to paid effects
  common/decisions/Thailand.txt
  events/Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove orphaned Swiss sprites and opinion modifier
  common/opinion_modifiers/SWI_opinion_modifiers.txt
  interface/MD_ideas.gfx
  interface/goals.gfx
  interface/goals_shine.gfx
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Added rules and manifest for nig_islamic_states
  common/factions/templates/99_NIG.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

'
  common/national_focus/turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed Thai realignment detector soft-lock against extraordinary elections
  common/on_actions/99_SIA_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rebalanced flagged Thai event options from playtest review
  events/Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Converted Thai focus building grants to paid effects and applied the building nerf
  common/national_focus/05_thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reworked Thai succession, hardened political trunk gates, added royalist no-coup path
  common/decisions/Thailand.txt
  common/decisions/categories/99_SIA_decision_categories.txt
  common/ideas/Thailand.txt
  common/national_focus/05_thailand.txt
  common/on_actions/99_SIA_on_actions.txt
  common/scripted_effects/SIA_thailand_effects.txt
  events/Thailand.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

save
  gfx/interface/technologies/CHI/AIR/Y-8.dds
  gfx/interface/technologies/CHI/LAND/WZ523.dds
  gfx/interface/technologies/CHI/LAND/ZTZ-98.dds
  gfx/interface/technologies/SOV/LAND/HAT2.dds
  gfx/interface/technologies/SOV/LAND/U2.dds
  history/countries/CHI - China.txt
  history/countries/NKO - North Korea.txt
  history/countries/SOV - Russia.txt
  history/units/ABK_2000_nsb.txt
  history/units/AFG_2000_nsb.txt
  history/units/ARM_2000_nsb.txt
  history/units/AZE_2000_nsb.txt
  history/units/BLR_2000_nsb.txt
  history/units/CHE_2000_nsb.txt
  history/units/CHI_2000_nsb.txt
  history/units/CUB_2000_nsb.txt
  history/units/EGY_2000_nsb.txt
  history/units/FIN_2000_nonnsb.txt
  history/units/GEO_2000_nsb.txt
  history/units/IRQ_2000_nsb.txt
  history/units/KYR_2000_nsb.txt
  history/units/LAT_2000_nsb.txt
  history/units/LBA_2000_nsb.txt
  history/units/MLV_2000_nsb.txt
  history/units/NKO_2000_nsb.txt
  history/units/NKR_2000_nsb.txt
  history/units/PER_2000_nsb.txt
  history/units/PMR_2000_nsb.txt
  history/units/POL_2000_nsb.txt
  history/units/SOO_2000_nsb.txt
  history/units/SOV_2000_nsb.txt
  history/units/SYR_2000_nsb.txt
  history/units/TAJ_2000_nsb.txt
  history/units/TAL_2000_nsb.txt
  history/units/TRK_2000_nsb.txt
  history/units/UKR_2000_nsb.txt
  history/units/USA_2000_nsb.txt
  history/units/UZB_2000_nsb.txt
  resources/archived-branches/md-railway-guns/common/units/MD_land_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gated Thai nuclear and war branches; assigned real pictures to every Thai event
  common/national_focus/05_thailand.txt
  events/PreahVihear.txt
  events/Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Diversified Thai rewards with MD-native effects across focuses, ideas, and events
  common/ideas/Thailand.txt
  common/national_focus/05_thailand.txt
  events/Thailand.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Updated changelog for the Thailand playtest rework and fixed an empty decision effect
  Changelog.txt
  common/decisions/Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  common/decisions/05_CHI_decisions.txt
  common/decisions/taiwan.txt
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/ideas/AA_law_expanded_economics.txt
  common/national_focus/03_china_north_korea_joint.txt
  common/national_focus/05_china.txt
  common/national_focus/05_netherlands.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  events/05_china.txt
  history/countries/CHI - China.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add GPU development history events
  common/ideas/00_gpu_development.txt
  common/scripted_effects/00_gpu_development_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  events/00_gpu_development.txt
  localisation/english/MD_gpu_development_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Woprk
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_technology_sharing_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Work
  common/decisions/05_CHI_decisions.txt
  common/resistance_compliance_modifiers/compliance_modifiers.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix focus tree validation issues, pt. 8
  common/national_focus/05_canada.txt
  common/national_focus/05_free_states_of_america.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_libya.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_switzerland.txt
  events/05_netherlands.txt
  events/Canada.txt
  events/Free States of America.txt
  events/Iraq.txt
  events/Libya.txt
  localisation/english/MD_focus_IRQ_l_english.yml
  localisation/english/MD_focus_LBA_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/decisions/05_CHI_decisions.txt
  common/national_focus/05_china.txt
  common/resistance_compliance_modifiers/compliance_modifiers.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  events/05_china.txt
  history/countries/CHI - China.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Validator fix
  common/decisions/05_CHI_decisions.txt
  common/national_focus/03_china_north_korea_joint.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed Missing European Union Starting Penalties
  common/decisions/EU_voting_decisions.txt
  common/ideas/German.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  history/countries/EUU - EU.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
