Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Restore religion-law picker gates (#3339)
  .claude/docs/idea-reference.md
  common/ideas/AA_law_religion.txt
  docs/src/content/resources/code-stylization-guide.md
  docs/src/content/resources/developer-setup.md
  tools/standardization/README.md
  tools/standardization/standardize_ideas.py
  tools/tests/standardization/standardize_ideas_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardise and harden the Denmark AI path game rule (#3162)
  common/ai_strategy/DEN.txt
  common/ai_strategy_plans/DEN_strategy_plans.txt
  common/decisions/Denmark.txt
  common/decisions/categories/99_DEN_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_denmark.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_DEN_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Localise GER_airbus_change flag for MIO trait tooltip
  localisation/english/MD_focus_GER_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Standardise and harden the Denmark AI path game rule (#3162) (#3341)
  common/ai_strategy/DEN.txt
  common/ai_strategy_plans/DEN_strategy_plans.txt
  common/decisions/Denmark.txt
  common/decisions/categories/99_DEN_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_denmark.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_DEN_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add the France corporate systems history (#3331)
  common/ideas/05_france.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_triggers/99_FRA_scripted_triggers.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

German MIO Rework (#3340)
  Changelog.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/on_actions/99_GER_on_actions.txt
  common/scripted_effects/00_mio_scripted_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Germany.txt
  history/countries/GER - Germany.txt
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add an Ericsson military industrial organization for Sweden
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
  localisation/english/MD_focus_SWE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Various fixes
  common/decisions/Ukraine.txt
  events/Ukraine.txt
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_APC_Modules.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_Engines.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_IFV_Modules.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_Production.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_Role.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_Tests.dds
  history/countries/UKR - Ukraine.txt
  interface/MD_eventpictures.gfx
  interface/mdult_inf.gfx
  interface/mdult_land.gfx
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/equipment_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Raise tools coverage floor to 95%
  pyproject.toml
  tools/tests/publishing_coverage_test.py
  tools/tests/standardization/standardize_ideas_test.py
Due: none

Cover the Steam workshop publish CLI and retry path
  tools/tests/publishing_coverage_test.py
Due: none

Cover remaining tools modules below 95%
  tools/tests/assets_coverage_test.py
  tools/tests/assign_mio_icons_test.py
  tools/tests/cli_tools_coverage_test.py
  tools/tests/docs_checks/coverage_edges_test.py
  tools/tests/generate_tribute_ideas_test.py
  tools/tests/publishing_coverage_test.py
  tools/tests/report_lib/baseline_check_test.py
  tools/tests/report_lib/dedupe_test.py
  tools/tests/validate_tools_test.py
Due: none

fixed
  tools/tests/assets_coverage_test.py
  tools/tests/cli_tools_coverage_test.py
  tools/tests/docs_checks/coverage_edges_test.py
  tools/tests/report_lib/baseline_check_test.py
  tools/tests/validate_tools_test.py
Due: none

Measure namespace tools in coverage
  pyproject.toml
  tools/tests/validation/config_drift_test.py
Due: none

Cut the token cost of the country AI path skill (#3162)
  .claude/skills/README.md
  .claude/skills/country-ai-path/SKILL.md
  .claude/skills/country-ai-path/references/audit.md
  .claude/skills/country-ai-path/references/write.md
  tools/README.md
  tools/analysis/ai_path_report.py
  tools/standardization/README.md
  tools/standardization/apply_ai_path_weights.py
  tools/tests/ai_path_report_test.py
  tools/tests/standardization/apply_ai_path_weights_test.py
Due: none

test(analysis): cover tools/analysis/_shared.py
  tools/tests/analysis/__init__.py
  tools/tests/analysis/_shared_test.py
Due: none

Cover analysis tools below 95% branch coverage
  tools/tests/analysis/conftest.py
  tools/tests/analysis/estimate_gdp_test.py
  tools/tests/analysis/pre_place_power_plants_test.py
  tools/tests/analysis/redistribute_productivity_test.py
Due: none

Cover the currently unmeasured asset scripts
  tools/tests/assets/batchdds_2_test.py
  tools/tests/assets/convert_to_legacy_dds_test.py
  tools/tests/assets/duplicate_icon_test.py
  tools/tests/assets/find_duplicate_textures_test.py
  tools/tests/assets/flag_reference_checker_test.py
  tools/tests/assets/gfx_entry_generator_gui_test.py
Due: none

Test the remaining linting, standardization, and vanilla-refresh modules
  tools/tests/linting/fix_line_endings_test.py
  tools/tests/linting/fix_log_ids_test.py
  tools/tests/standardization/standardize_wrapper_test.py
  tools/tests/validation/refresh_vanilla_data_test.py
Due: none

fixing the validator issues
  common/scripted_guis/01_expected_spending.txt
  common/scripted_localisation/00_protests_scripted_localisation.txt
  common/scripted_localisation/02_expected_spending_scripted_localisation.txt
  interface/MD_protests_system.gui
  localisation/english/MD_better_protests_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Scope Ericsson MIO tech bonuses via FROM
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Give every icon definition a real value
  common/scripted_effects/CAS_political_leaders.txt
  common/scripted_effects/CSA_political_leaders.txt
  common/scripted_effects/FIJ_political_leaders.txt
  common/scripted_effects/USB_political_leaders.txt
  interface/factions/countryfactionview.gui
  interface/inner_circles/ENG_inner_circle_scripted_gui.gui
  interface/military_raids/country_raids_view.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Extend the Microsoft corporate history with twelve events
  common/scripted_effects/99_USA_main_scripted_effects.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give every icon definition a real value (#3349)
  common/scripted_effects/CAS_political_leaders.txt
  common/scripted_effects/CSA_political_leaders.txt
  common/scripted_effects/FIJ_political_leaders.txt
  common/scripted_effects/USB_political_leaders.txt
  interface/factions/countryfactionview.gui
  interface/inner_circles/ENG_inner_circle_scripted_gui.gui
  interface/military_raids/country_raids_view.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Protests ui rework + ui fixes (#3321)
  common/scripted_guis/01_expected_spending.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  common/scripted_localisation/00_protests_scripted_localisation.txt
  common/scripted_localisation/02_expected_spending_scripted_localisation.txt
  common/scripted_triggers/00_desired_law_triggers.txt
  gfx/interface/add_national_goal_button.dds
  gfx/interface/protests_system/chart.dds
  gfx/interface/protests_system/protest_spending_levels.dds
  gfx/interface/protests_system/protests_icon.dds
  gfx/interface/protests_system/protests_title_background.dds
  gfx/interface/protests_system/separator.dds
  gfx/interface/scripted_gui/expected_spending/blue.dds
  gfx/interface/scripted_gui/expected_spending/empty.dds
  gfx/interface/scripted_gui/expected_spending/expected_spending.dds
  gfx/interface/scripted_gui/expected_spending/green.dds
  gfx/interface/scripted_gui/expected_spending/red.dds
  gfx/interface/scripted_gui/expected_spending/white.dds
  gfx/interface/scripted_gui/protest/black_protest.dds
  gfx/interface/scripted_gui/protest/black_protest.png
  gfx/interface/scripted_gui/protest/blue_protest.dds
  gfx/interface/scripted_gui/protest/blue_protest.png
  gfx/interface/scripted_gui/protest/green_protest.dds
  gfx/interface/scripted_gui/protest/green_protest.png
  gfx/interface/scripted_gui/protest/red_protest.dds
  gfx/interface/scripted_gui/protest/red_protest.png
  gfx/interface/scripted_gui/protest/yellow_protest.dds
  gfx/interface/scripted_gui/protest/yellow_protest.png
  interface/MD_countrypoliticsview.gui
  interface/MD_protest_decision.gfx
  interface/MD_protest_decision.gui
  interface/MD_protests_system.gfx
  interface/MD_protests_system.gui
  interface/countryconstructionsview.gui
  interface/countrydiplomacyview.gui
  interface/countrystateview.gui
  interface/frontendgamesetupview.gui
  localisation/english/MD_better_protests_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Test optional analysis tools
  .github/workflows/tools-validation.yml
  tools/tests/analysis/renewable_power_per_cost_test.py
  tools/tests/balance/set_energy_tech_scurves_test.py
  tools/tests/balance/set_renewable_hotspots_test.py
Due: none

Update Turkey.txt
  events/Turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Restore argv after vanilla refresh tests
  tools/tests/validation/refresh_vanilla_data_test.py
Due: none

Address the review findings on the Microsoft chain
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Format coverage tests
  tools/tests/analysis/_shared_test.py
  tools/tests/analysis/conftest.py
  tools/tests/analysis/estimate_gdp_test.py
  tools/tests/analysis/pre_place_power_plants_test.py
  tools/tests/analysis/redistribute_productivity_test.py
  tools/tests/assets/batchdds_2_test.py
  tools/tests/assets/convert_to_legacy_dds_test.py
  tools/tests/assets/duplicate_icon_test.py
  tools/tests/assets/find_duplicate_textures_test.py
  tools/tests/assets/gfx_entry_generator_gui_test.py
  tools/tests/cli_tools_coverage_test.py
  tools/tests/linting/fix_log_ids_test.py
  tools/tests/standardization/standardize_wrapper_test.py
  tools/tests/validation/refresh_vanilla_data_test.py
Due: none

Pre-beta release fixes for error log spamming
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  localisation/english/MD_focus_GER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add the SpaceX corporate history for the United States
  common/ideas/united_states.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  common/scripted_triggers/99_USA_scripted_triggesrs.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix remaining Windows path expectations
  tools/tests/validation/validate_ideas_run_test.py
  tools/tests/validation/validate_scripted_localisation_test.py
Due: none

Normalize staged idea paths across platforms
  tools/tests/validation/validate_ideas_run_test.py
  tools/validation/validate_ideas.py
Due: none

fixed
  tools/tests/analysis/pre_place_power_plants_test.py
  tools/tests/assets/batchdds_2_test.py
  tools/tests/assets/duplicate_icon_test.py
  tools/tests/report_lib/checks_api_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/focus_tree_structural_checks_test.py
  tools/tests/validation/validate_history_validator_test.py
  tools/tests/validation/validate_localisation_checks_test.py
Due: none

Fix Bosnia flag assets and Chechnya FSB path (#3345)
  common/national_focus/05_chechnya.txt
  events/Chechnya.txt
  gfx/flags/BOS_gov_old_name.tga
  gfx/flags/BOS_islamic_revolt.tga
  gfx/flags/BOS_islamic_upper.tga
  gfx/flags/medium/BOS_gov_old_name.tga
  gfx/flags/medium/BOS_islamic_revolt.tga
  gfx/flags/medium/BOS_islamic_upper.tga
  gfx/flags/small/BOS_gov_old_name.tga
  gfx/flags/small/BOS_islamic_revolt.tga
  gfx/flags/small/BOS_islamic_upper.tga
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
