Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

More work on the AI investment scripted effect
  .gitignore
  common/scripted_effects/99_AI_investment_scripted_effects.txt
  events/AC_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog
  Changelog.txt
Due: none

adding the start of the sway system
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/UN_Voting_Events.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

doing more work
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/UN_Voting_Events.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

rmeoved pointless invest scripted effectS
  common/scripted_effects/99_AI_investment_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

sfuff
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more cleanup on the AI investment scripted effects
  common/scripted_effects/99_AI_investment_scripted_effects.txt
  events/AC_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

disabled agriculture districts
  events/AC_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

doing more voting and UI setup stuff
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

setting up the sway event chains for the voting system
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  events/UN_Voting_Events.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

a little side econ work
  common/ideas/Organizations.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
  events/UN_Voting_Events.txt
  interface/MD_ideas.gfx
  interface/MD_money.gui
  localisation/english/MD_ideas_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

setting up a bit of the budget / un aid aspects
  common/ideas/Organizations.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_united_kingdom.txt
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

focus icon
  common/national_focus/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/country_leader/00_traits.txt
  common/national_focus/05_united_kingdom.txt
  events/united_kingdom.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_new_traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_dm_modifiers_l_english.yml
  localisation/english/MD_dm_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixxes for 4 issues
  Changelog.txt
  common/ai_strategy_plans/HOL_strategy_plans.txt
  common/national_focus/05_netherlands.txt
  events/United States.txt
  events/netherlands.txt
  history/countries/HOL - Holland.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

updated AC events
  common/scripted_effects/99_AI_investment_scripted_effects.txt
  events/AC_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stuff
  Changelog.txt
  common/characters/BOL.txt
  common/ideas/Bolivian.txt
  common/national_focus/05_bolivia.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  history/countries/HOL - Holland.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

updated
  common/scripted_effects/99_AI_investment_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed
  events/AC_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

small fix
  common/ideas/Bolivian.txt
  localisation/english/MD_focus_BOL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more work being done
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/UN_Voting_Events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work and fixes
  Changelog.txt
  common/decisions/!_energy_decisions.txt
  common/decisions/Israel.txt
  common/national_focus/israel_tree.txt
  common/national_focus/libya.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
  events/Israel_events.txt
  events/Russia.txt
  history/units/SOV_naval_baku_MTG.txt
  localisation/english/MD_focus_ISR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/decisions/!_energy_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/decisions/United_Kingdom.txt
  common/decisions/categories/united_kingdom_categories.txt
  common/ideas/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/Commonwealth_Shared.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/united_kingdom.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update United_Kingdom.txt
  common/decisions/United_Kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/decisions/United_Kingdom.txt
  common/national_focus/Commonwealth_Shared.txt
  localisation/english/MD_dm_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

USA party pop effects fix
  common/national_focus/usa.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/characters/ENG.txt
  common/decisions/United_Kingdom.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

finishing up effects for the offer effects for nations giving up stuff
  common/opinion_modifiers/new_opinion_modifiers.txt
  common/scripted_effects/01_international_systems_effects.txt
  events/UN_Voting_Events.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

finalized UNSC vote sway event effectx
  common/ideas/Various.txt
  events/UN_Voting_Events.txt
  localisation/english/MD_ideas_l_english.yml
  localisation/english/MD_international_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

AI applied to all sway events, added all UNGA sway events for voting now
  events/UN_Voting_Events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing some effect stuff to make effects clear properly
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

un budget and aid setup
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

morework
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/ideas/Organizations.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing the calcuations
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adding new icons, implementing icons
  gfx/interface/scripted_gui/missiles/ledger_icon_small_cyber.dds
  gfx/interface/scripted_gui/missiles/ledger_icon_small_ga.dds
  gfx/interface/scripted_gui/missiles/ledger_icon_small_sc.dds
  gfx/interface/scripted_gui/missiles/ledger_icon_small_space.dds
  gfx/interface/scripted_gui/missiles/ledger_icon_small_spaceorbit.dds
  gfx/interface/scripted_gui/missiles/ledger_icon_small_sr.dds
  gfx/interface/scripted_gui/missiles/ledger_icon_small_unaid.dds
  interface/MD_countrymissilesview.gfx
  interface/MD_countrymissilesview.gui
Due: none

doing even more work
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/UN_Voting_Events.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
