Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

fixing the bugs, fixing the bugs!
  common/scripted_effects/00_ct_effects.txt
  common/scripted_effects/00_power_ranking_effects.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_ledger_localisation.txt
  events/UN_Voting_Events.txt
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

a push to save my sanity
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Declining Birthrate Event Chain
  common/decisions/JAP.txt
  common/decisions/categories/JAP_decision_categories.txt
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/JAP.txt
  common/national_focus/05_japan.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/mdmosjap_JAP_scripted_effects.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

some changes
  common/national_focus/05_japan.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Missing decision added back
  common/decisions/USA.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

air range update
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/technologies/BBA_aircraft.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

political parties
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

air range update
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/ITA - Italy.txt
  history/countries/KOR - Korea.txt
  history/countries/PER - Iran.txt
  history/countries/USA - USA.txt
  localisation/japanese/plane_designer_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revert "air range update"
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/ITA - Italy.txt
  history/countries/KOR - Korea.txt
  history/countries/PER - Iran.txt
  history/countries/USA - USA.txt
  localisation/japanese/plane_designer_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

air range update
  history/countries/ENG - United Kingdom.txt
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/ITA - Italy.txt
  history/countries/KOR - Korea.txt
  history/countries/PER - Iran.txt
  history/countries/USA - USA.txt
  localisation/japanese/plane_designer_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

update
  common/decisions/categories/99_ALG_decision_categories.txt
  common/ideas/Algerian.txt
  events/Algeria.txt
  interface/Algeria_hirak.gui
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

whatever is this
  gfx/interface/technologies/SOV/LAND/btr152.dds
  gfx/interface/technologies/SOV/LAND/btr40.dds
Due: none

Work on the general validations
  common/decisions/00_missile_decisions.txt
  common/decisions/05_comoros_decisions.txt
  common/decisions/AC_decisions.txt
  common/decisions/Arab Spring.txt
  common/decisions/China.txt
  common/decisions/EU_voting_decisions.txt
  common/decisions/Italy.txt
  common/decisions/Political Desicions.txt
  common/decisions/Uzebkistan.txt
  common/decisions/bankruptcy_decisions.txt
  common/decisions/categories/01_investment_decisions_category.txt
  common/decisions/subparty_policies_decisions.txt
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_focus_ITA_l_english.yml
  tools/validation/validate_decisions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes
  common/ideas/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/06_Commonwealth_Shared.txt
  common/scripted_triggers/99_Commonwealth_Triggers.txt
  events/united_kingdom.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Keeping this validation cleanup maintainable in size
  Changelog.txt
  common/decisions/!_energy_decisions.txt
  common/decisions/00_research_slot_decisions.txt
  common/decisions/Civil War Decisions.txt
  common/decisions/Georgia.txt
  common/decisions/India.txt
  common/decisions/Poland.txt
  common/decisions/Political Desicions.txt
  common/decisions/USA.txt
  common/decisions/central_asian_narcotraffic.txt
  common/decisions/subparty_policies_decisions.txt
  common/decisions/transnistria.txt
  common/ideas/centralasian.txt
  docs/dev-resources/code-resource.md
  localisation/english/MD_focus_CES_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed thingies
  common/decisions/India.txt
  common/decisions/categories/central_asian_narcotraffic_categories.txt
  common/decisions/categories/transnistria_decision_categories.txt
  events/centralasia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

new stuff
  common/bop/ALG.txt
  common/decisions/Algeria.txt
  common/ideas/Algerian.txt
  events/Algeria.txt
  gfx/interface/ideas/Algeria/ethnic_content.dds
  gfx/interface/ideas/Algeria/ethnic_discontent.dds
  interface/MD_ideas.gfx
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/national_focus/05_algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Another round of fixes
  common/decisions/United_Kingdom.txt
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/dynamic_modifiers/Commonwealth_Dynamic_Modifiers.txt
  common/game_rules/00_game_rules.txt
  common/ideas/United_Kingdom.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/06_Commonwealth_Shared.txt
  common/scripted_triggers/99_Commonwealth_Triggers.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  common/technologies/industry.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_CMW_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

saving pushed up work
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work
  .vscode/hoi4_millennium_dawn.code-workspace
  common/autonomous_states/MD_caliphate_autonomies.txt
  common/autonomous_states/MD_colored_autonomies.txt
  common/autonomous_states/MD_default_autonomies.txt
  common/autonomous_states/MD_france_autonomies.txt
  common/country_tag_aliases/tag_aliases.txt
  common/decisions/Nigeria.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_diplomatic_actions/01_peace_deal_diplomatic_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  common/technologies/missile_defense.txt
  common/units/equipment/MD_sam_missile.txt
  events/Internal Faction Events.txt
  events/Russia.txt
  localisation/english/MD_focus_NIG_l_english.yml
  localisation/english/MD_focus_TUR_l_english.yml
  localisation/english/MD_money_l_english.yml
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed
  .github/workflows/coding-pipeline.yml
  scripts/normalize_national_content.py
  tools/fix_helicopter_dlc.py
  tools/normalize_national_content.py
Due: none

Update MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

economic tree
  common/decisions/JAP.txt
  common/decisions/categories/JAP_decision_categories.txt
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/JAP.txt
  common/national_focus/05_japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

little diplomacy tree
  common/ideas/JAP.txt
  common/national_focus/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

GRN political parties
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

NATO CFE Treaty Fix
  Changelog.txt
  common/decisions/categories/NATO_decision_categories.txt
  common/scripted_effects/01_NATO_effects.txt
  events/NATO_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes for UK
  Changelog.txt
  common/ideas/United_Kingdom.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  common/technologies/industry.txt
  gfx/interface/goals/overlays/focus_overlay_northern_ireland.dds
  gfx/interface/goals/overlays/focus_overlay_scotland.dds
  gfx/interface/goals/overlays/focus_overlay_wales.dds
  gfx/interface/ideas/britain/ENG_space_command.dds
  interface/MD_ideas.gfx
  interface/goals_overlays.gfx
  interface/inner_circles/ENG_inner_circle_scripted_gui.gui
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixing Dutch Bugs
  common/characters/HOL.txt
  common/national_focus/05_netherlands.txt
  events/netherlands.txt
  localisation/english/MD_focus_HOL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Validation Fixes
  common/decisions/Denmark.txt
  common/decisions/GER.txt
  common/decisions/Turkey.txt
  common/decisions/netherlands.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_effects/00_yearly_effects.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

decision clean up
  common/decisions/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Puppet Changes to Serbia
  common/autonomous_states/MD_MNT_autonomies.txt
  gfx/flags/MNT_autonomy_SER_constituent_republic.tga
  gfx/flags/UN_KOS.tga
  gfx/flags/medium/MNT_autonomy_SER_constituent_republic.tga
  gfx/flags/medium/UN_KOS.tga
  gfx/flags/small/MNT_autonomy_SER_constituent_republic.tga
  gfx/flags/small/UN_KOS.tga
  history/countries/KOS - Kosovo.txt
  history/countries/MNT - Montenegro.txt
  history/countries/SER - Serbia.txt
  history/states/134-Montenegro.txt
  localisation/english/MD_autonomy_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more validation fixes
  common/country_tag_aliases/peace_deal_tag_aliases.txt
  common/decisions/00_missile_decisions.txt
  common/decisions/Bosnia.txt
  common/decisions/Cheat Decisions.txt
  common/decisions/Indonesia.txt
  common/decisions/Iran.txt
  common/decisions/Russia.txt
  common/national_focus/05_azerbaijan.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/russia.txt
  common/scripted_effects/!_cwtools_dummy_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_guis/ENG_British_guis.txt
  common/scripted_triggers/01_international_triggers.txt
  common/scripted_triggers/99_EU_voting_scripted_triggers.txt
  events/China.txt
  events/Southern Republic of America.txt
  events/United States.txt
  localisation/english/MD_focus_CSA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

CSA
  events/Southern Republic of America.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Delete the duplicate event files
  events/Japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Clean up
  common/ideas/AA_corruption_laws.txt
  common/ideas/JAP.txt
  common/on_actions/99_JAP_on_actions.txt
  common/scripted_effects/mdmosjap_JAP_scripted_effects.txt
  common/scripted_triggers/mdmosjap_JAP_scripted_triggers.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_ideas_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Teaching the AI, doing things, teaching the AI to do things
  .claude/rules/code_styling.md
  .claude/rules/codebase.md
  .claude/skills/new-focus/SKILL.md
  .claude/skills/review-branch/SKILL.md
  .claude/skills/standardize/SKILL.md
  .claude/skills/validate/SKILL.md
  CLAUDE.md
Due: none
