Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Standardise and harden China's AI path game rule (#3162) (#3327)
  common/ai_strategy/CHI.txt
  common/ai_strategy_plans/CHI_strategy_plans.txt
  common/decisions/05_CHI_decisions.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_china.txt
  common/on_actions/999_game_rules_on_actions.txt
  events/05_china.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden Canada AI paths + replace 306 dead declare_war strategies (issue #3162) (#3326)
  .claude/docs/ai-strategy-reference.md
  common/ai_strategy/BUL.txt
  common/ai_strategy/CAN.txt
  common/ai_strategy/CHI.txt
  common/ai_strategy/COL.txt
  common/ai_strategy/CUB.txt
  common/ai_strategy/ENG.txt
  common/ai_strategy/ETH.txt
  common/ai_strategy/GER.txt
  common/ai_strategy/GUY.txt
  common/ai_strategy/HOL.txt
  common/ai_strategy/IND.txt
  common/ai_strategy/ITA.txt
  common/ai_strategy/JAP.txt
  common/ai_strategy/KOR.txt
  common/ai_strategy/LIC.txt
  common/ai_strategy/MD_war_declaration_ai.txt
  common/ai_strategy/SWE.txt
  common/ai_strategy/TUR.txt
  common/ai_strategy/VEN.txt
  common/ai_strategy_plans/CAN_strategy_plans.txt
  common/decisions/Canada.txt
  common/decisions/categories/99_CAN_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_canada.txt
  common/on_actions/999_game_rules_on_actions.txt
  events/Canada.txt
  localisation/english/MD_focus_CAN_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

event: New event for the homeless evenmt 2018
  common/ideas/Hungarian.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Hungary.txt
  localisation/english/MD_focus_HUN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden Comoros AI paths (issue #3162)
  common/ai_strategy/COM.txt
  common/ai_strategy_plans/COM_strategy_plans.txt
  common/decisions/05_comoros_decisions.txt
  common/decisions/categories/99_COM_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_comoros.txt
  common/on_actions/999_game_rules_on_actions.txt
  events/Italy.txt
  events/comoros.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

AI was smoking crack -- These were just tabbed wrong -- Closes #3234
  common/ideas/Israeli.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gate Antarctica blizzard news to station owners
  events/MD_Antarctica.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove an invalid doctrine cost modifier and the regex that hid it
  common/ideas/05_netherlands.txt
  tools/tests/validation/validate_modifiers_test.py
  tools/validation/validate_modifiers.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

events
  events/MD_Antarctica.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gate Antarctica blizzard news to station owners (#3329)
  events/MD_Antarctica.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add the France corporate systems history
  common/ideas/05_france.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_triggers/99_FRA_scripted_triggers.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harvest doctrine folder cost factors instead of deleting a valid modifier
  common/ideas/05_netherlands.txt
  tools/tests/validation/validate_modifiers_test.py
  tools/validation/validate_modifiers.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Address review on Comoros AI paths
  .claude/docs/ai-strategy-reference.md
  common/ai_strategy/CHI.txt
  common/ai_strategy/COM.txt
  common/decisions/categories/99_BLR_decision_categories.txt
  common/decisions/categories/99_BOT_decision_categories.txt
  common/decisions/categories/99_BUL_decision_categories.txt
  common/decisions/categories/99_CAN_decision_categories.txt
  common/decisions/categories/99_COM_decision_categories.txt
  common/decisions/categories/99_HOL_decisions_categories.txt
  common/decisions/categories/99_ITA_decision_categories.txt
  common/decisions/categories/99_JAP_decision_categories.txt
  common/decisions/categories/united_kingdom_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Harvest doctrine folder cost factors in the modifier validator (#3330)
  tools/tests/validation/validate_modifiers_test.py
  tools/validation/validate_modifiers.py
Due: none

Harden Comoros AI paths (issue #3162) (#3328)
  .claude/docs/ai-strategy-reference.md
  common/ai_strategy/CHI.txt
  common/ai_strategy/COM.txt
  common/ai_strategy_plans/COM_strategy_plans.txt
  common/decisions/05_comoros_decisions.txt
  common/decisions/categories/99_BLR_decision_categories.txt
  common/decisions/categories/99_BOT_decision_categories.txt
  common/decisions/categories/99_BUL_decision_categories.txt
  common/decisions/categories/99_CAN_decision_categories.txt
  common/decisions/categories/99_COM_decision_categories.txt
  common/decisions/categories/99_HOL_decisions_categories.txt
  common/decisions/categories/99_ITA_decision_categories.txt
  common/decisions/categories/99_JAP_decision_categories.txt
  common/decisions/categories/united_kingdom_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_comoros.txt
  common/on_actions/999_game_rules_on_actions.txt
  events/Italy.txt
  events/comoros.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

resolves #3262
  gfx/flags/BOS_gov_old_name.tga
  gfx/flags/BOS_islamic_revolt.tga
  gfx/flags/BOS_islamic_upper.tga
  gfx/flags/medium/BOS_gov_old_name.tga
  gfx/flags/medium/BOS_islamic_revolt.tga
  gfx/flags/medium/BOS_islamic_upper.tga
  gfx/flags/small/BOS_gov_old_name.tga
  gfx/flags/small/BOS_islamic_revolt.tga
  gfx/flags/small/BOS_islamic_upper.tga
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Standardise and harden Cuba's AI path game rule (#3162)
  common/ai_strategy/CUB.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_cuba.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_CUB_on_actions.txt
  common/scripted_triggers/99_CUB_scripted_triggers.txt
  events/Cuba.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

resolves #3291
  common/national_focus/05_chechnya.txt
  events/Chechnya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/equipment_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add policy icons for 12 unillustrated MIO policies
  common/military_industrial_organization/policies/_air_policies.txt
  common/military_industrial_organization/policies/_land_policies.txt
  common/military_industrial_organization/policies/_navy_policies.txt
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_carrier_strike_integration.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_cross_branch_standardization.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_deepstrike_guidance.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_dispersed_light_flotilla.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_export_grade_variants.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_extended_range_bunkerage.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_heavy_lift_assembly.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_lightweight_frames.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_raider_hull_optimization.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_rapid_deployment_kits.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_reinforced_hull.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_shock_hardened_systems.dds
  interface/military_industrial_organization/industrial_organization_policies_and_traits_icons.gfx
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add missing opinion modifier localisation
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add Balanced Procurement Program policy icon
  common/military_industrial_organization/policies/_land_policies.txt
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_balanced_procurement_program.dds
  interface/military_industrial_organization/industrial_organization_policies_and_traits_icons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Restore MIO trait-queue sprites and clear error.log failures
  common/ai_strategy_plans/BRA_strategy_plans.txt
  common/decisions/France.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_scripted_effects.txt
  history/countries/SOV - Russia.txt
  interface/core.gfx
  interface/mdult_land.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Drop Cuba's AI daily-flag cache and collapse its path gating
  .claude/docs/performance-patterns.md
  .claude/rules/general-rules.md
  common/ai_strategy/CUB.txt
  common/national_focus/05_cuba.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_CUB_on_actions.txt
  common/scripted_triggers/99_CUB_scripted_triggers.txt
  tools/linting/check_common_mistakes.py
  tools/tests/linting/check_common_mistakes_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Address France corporate history review feedback
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_triggers/99_FRA_scripted_triggers.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add policy icons for 12 unillustrated MIO policies (#3334)
  common/military_industrial_organization/policies/_air_policies.txt
  common/military_industrial_organization/policies/_land_policies.txt
  common/military_industrial_organization/policies/_navy_policies.txt
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_balanced_procurement_program.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_carrier_strike_integration.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_cross_branch_standardization.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_deepstrike_guidance.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_dispersed_light_flotilla.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_export_grade_variants.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_extended_range_bunkerage.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_heavy_lift_assembly.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_lightweight_frames.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_raider_hull_optimization.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_rapid_deployment_kits.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_reinforced_hull.dds
  gfx/interface/military_industrial_organization/policy_icons/mio_policy_shock_hardened_systems.dds
  interface/military_industrial_organization/industrial_organization_policies_and_traits_icons.gfx
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed the model sprite name
  common/units/MD_land_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardise and harden the Czech Republic AI path game rule (#3162)
  common/ai_strategy/CZE.txt
  common/ai_strategy_plans/CZE_strategy_plans.txt
  common/decisions/Czech_Republic.txt
  common/decisions/categories/99_CZE_decision_categories.txt
  common/dynamic_modifiers/99_CZE_dynamic_modifiers.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_czech_republic.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/99_CZE_scripted_effects.txt
  common/scripted_triggers/99_CZE_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Restore MIO trait-queue sprites and clear error.log failures (#3336)
  common/ai_strategy_plans/BRA_strategy_plans.txt
  common/decisions/France.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_scripted_effects.txt
  history/countries/SOV - Russia.txt
  interface/core.gfx
  interface/mdult_land.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Restore religion-law picker gates
  .claude/docs/idea-reference.md
  common/ideas/AA_law_religion.txt
  common/ideas/AA_religion.txt
  docs/src/content/resources/code-stylization-guide.md
  docs/src/content/resources/developer-setup.md
  tools/standardization/README.md
  tools/standardization/standardize_ideas.py
  tools/tests/standardization/standardize_ideas_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed redundant
  common/ideas/AA_religion.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add missing opinion modifier localisation (#3335)
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Apply black formatting to the new AI-path checks
  tools/linting/check_common_mistakes.py
  tools/tests/linting/check_common_mistakes_test.py
Due: none

Standardise and harden the Czech Republic AI path game rule (#3162) (#3338)
  common/ai_strategy/CZE.txt
  common/ai_strategy_plans/CZE_strategy_plans.txt
  common/decisions/Czech_Republic.txt
  common/decisions/categories/99_CZE_decision_categories.txt
  common/dynamic_modifiers/99_CZE_dynamic_modifiers.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_czech_republic.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/99_CZE_scripted_effects.txt
  common/scripted_triggers/99_CZE_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

German MIO rework: custom trait trees, Haenel and Airbus events
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/on_actions/99_GER_on_actions.txt
  common/scripted_effects/00_mio_scripted_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Germany.txt
  history/countries/GER - Germany.txt
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Move country-specific religion laws into AA_law_religion.txt
  common/ideas/AA_law_religion.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix France corporate milestone date gates
  common/scripted_triggers/99_FRA_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardise and harden Cuba's AI path game rule (#3162) (#3333)
  .claude/docs/performance-patterns.md
  .claude/rules/general-rules.md
  common/game_rules/00_game_rules.txt
  common/national_focus/05_cuba.txt
  common/on_actions/999_game_rules_on_actions.txt
  events/Cuba.txt
  localisation/english/MD_game_rules_l_english.yml
  tools/linting/check_common_mistakes.py
  tools/tests/linting/check_common_mistakes_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix ARTEC availability gate
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
