Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

EH zenobia defense lines loc + better trigger
  common/decisions/EH_decisions.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH loc fix
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

more security council gui and work setup
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  events/International Recognition.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Improved the productivity calculation
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added another check to check if industry size changes.
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

loc adjustments
  common/scripted_localisation/00_IS_scripted_localisation.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Optimized is_african_nation call
  Changelog.txt
  common/ai_strategy/Africa.txt
  common/decisions/bankruptcy_decisions.txt
  common/factions/rules/war_declaration_rules.txt
  common/ideas/African.txt
  common/ideas/Chinese.txt
  common/occupation_laws/occupation_laws.txt
  common/on_actions/99_FRA_on_actions.txt
  common/scripted_effects/00_startup_effects.txt
  common/scripted_effects/99_African_Union_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  events/AfricanUnion.txt
  events/Econ_events.txt
  events/MD_Elections.txt
  events/Nigeria.txt
  events/Serbia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed a series of case based issues for linux
  common/national_focus/italy.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/00_middle_east_scripted_effects.txt
  common/scripted_effects/99_IRQ_scripted_effects.txt
  common/scripted_effects/HKG_political_leaders.txt
  common/scripted_effects/HUN_political_leaders.txt
  common/scripted_effects/MLR_political_leaders.txt
  common/scripted_effects/MLV_political_leaders.txt
  common/scripted_effects/MOR_political_leaders.txt
  common/scripted_effects/PHI_political_leaders.txt
  common/scripted_guis/01_investment_scripted_gui.txt
  common/scripted_guis/01_ledger_scripted_guis.txt
  common/scripted_localisation/00_investment_scripted_localisation.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  events/AC_events.txt
  events/Central African Republic.txt
  events/Iraq.txt
  events/LaR_espionage_operations.txt
  events/NewsEvents.txt
  events/Somalia.txt
  events/Syria_Focus_Events.txt
  history/countries/ITA - Italy.txt
  localisation/english/MD_focus_ITA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

morework and cleanup
  .github/workflows/coding-pipeline.yml
  .gitignore
  .pre-commit-config.yaml
  common/decisions/Ethiopia.txt
  common/decisions/Hezbollah.txt
  common/decisions/Iraq.txt
  common/decisions/Sudan.txt
  common/decisions/War on Terror.txt
  common/national_focus/iran.txt
  common/national_focus/kosovo.txt
  common/on_actions/99_LBA_on_actions.txt
  common/scripted_effects/00_economic_effects.txt
  common/scripted_effects/00_microchip_effects.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_ITA_scripted_effects.txt
  common/scripted_effects/99_LBA_scripted_effects.txt
  common/special_projects/projects/nuclear_projects.txt
  events/China.txt
  events/Ethiopia.txt
  events/Influence.txt
  events/Iran.txt
  events/Italy.txt
  events/bashkiria.txt
  events/cartel_events.txt
  events/netherlands.txt
  history/countries/CYR - Cyrenaica.txt
  history/countries/FEZ - Fezzan.txt
  history/countries/ISR - Israel.txt
  history/countries/KOS - Kosovo.txt
  history/countries/TRP - Tripolitania.txt
  history/countries/USA - USA.txt
  localisation/english/MD_War_on_terror_content_l_english.yml
  localisation/english/MD_investments_l_english.yml
  tools/validation/validate_scripted_localisation.py
  tools/validation/validate_set_variables.py
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

coding-pipeline
  .github/workflows/coding-pipeline.yml
Due: none

pre-commit config
  .pre-commit-config.yaml
Due: none

more work on the reporting and validation
  .github/workflows/coding-pipeline.yml
Due: none

another coding
  .github/workflows/coding-pipeline.yml
Due: none

report cuz I forgot
  tools/generate_validation_report.py
Due: none

removed continue on-error
  .github/workflows/coding-pipeline.yml
Due: none

README and Contributing
  CONTRIBUTING.md
  README.md
Due: none

Removed redundant USAGE and example shell script. Missed this
  tools/validation/USAGE.md
  tools/validation/pre-commit-hook-example.sh
Due: none

Update occupation_laws.txt
  common/occupation_laws/occupation_laws.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Pol/Eco tree empty focuses created and loc completed
  common/national_focus/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Denmark and Israel events giving helicopter designs
  common/national_focus/denmark.txt
  common/national_focus/israel_tree.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more cleanpu in various
  common/national_focus/ukraine.txt
  common/scripted_effects/!_cwtools_dummy_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_triggers/99_EU_voting_scripted_triggers.txt
  events/Internal Faction Events.txt
  events/Italy.txt
  events/Korea.txt
  events/LaR_espionage_operations.txt
  localisation/english/MD_focus_ITA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix to unused country flags
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed cosmetic tags
  common/decisions/Country Flag Decisions.txt
  common/decisions/categories/different_country_flags.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More redundancy and cleanup while simplifying yet more math
  common/scripted_effects/00_money_system.txt
  common/scripted_triggers/MD_economic_triggers.txt
  events/Brazilian.txt
  events/China.txt
  events/belarus.txt
  localisation/english/MD_focus_BLR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

GA UI setup stuff
  common/decisions/un_voting_decisions.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/07_nsb_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/00_IS_scripted_localisation.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  events/International Recognition.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

AU work
  Changelog.txt
  common/on_actions/99_AU_on_actions.txt
  common/on_actions/MD_event_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/99_AU_scripted_effects.txt
  common/scripted_triggers/99_AU_scripted_triggers.txt
  localisation/english/MD_focus_African_Union_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

annual check is actually checking annually
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_middle_east_scripted_effects.txt
  common/scripted_effects/99_neigbour_system_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on monthly tick
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/00_middle_east_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Optimizations and removed force update dynamic modifiers
  common/national_focus/05_germany.txt
  common/national_focus/singapore.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/!_energy_effects.txt
  common/scripted_effects/00_internal_faction_effects.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_BRA_scripted_effects.txt
  common/scripted_effects/99_SIN_scripted_effects.txt
  common/scripted_guis/01_energy_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more force_update_dynamic_modifer removal
  common/scripted_effects/00_CAN_scripted_effects.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/01_cartels_terror_scripted_effects.txt
  common/scripted_effects/99_SIN_scripted_effects.txt
  common/scripted_effects/99_SYR_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Removed force_update_dynamic_modifier from Libyan events
  docs/dev-resources/code-stylization-guide.md
  events/Libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Removed the force_update_dynamic_modifier from other stuff and replaced more stuff w/ for_each_scope_loop
  common/scripted_effects/99_CAS_scripted_effects.txt
  common/scripted_effects/99_CSA_scripted_effects.txt
  common/scripted_effects/99_FIJ_scripted_effects.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  common/scripted_effects/99_USB_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix scripted dynam modifiers
  common/scripted_effects/99_LKT_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

GER - Helicopter events fixes
  events/Germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed resource modifiers
  common/decisions/Country Flag Decisions.txt
  common/dynamic_modifiers/02_republic_of_lakota_dynamic_modifiers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes and ground work for more stuff
  common/decisions/north_korea.txt
  common/ideas/North Korea.txt
  common/national_focus/korea_north.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  history/states/601-Hamgyong.txt
  localisation/english/MD_focus_KOR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

SYR standardization
  common/ai_strategy/SYR.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
