Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Update MD_arty_modules.txt
  common/units/equipment/modules/MD_arty_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_plane_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_tank_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Doctrine fixes
  common/doctrines/subdoctrines/land/land_doctrines_combat.txt
  common/doctrines/subdoctrines/land/land_doctrines_dedicated.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Regular update
  localisation/japanese/MD_politics_view_parties_l_japanese.yml
  localisation/russian/MD_focus_CHI_l_russian.yml
Due: none

Fix Japan Galapagos dangling modifier keys, AI weights and filters (#2608)
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  .claude/settings.json
  common/decisions/05_japan.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 05_japan.txt
  common/decisions/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Map related update
  map/buildings.txt
  map/unitstacks.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

mio
  .claude/settings.json
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/characters/JAP.txt
  common/national_focus/05_japan.txt
  history/countries/JAP - Japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  .claude/settings.json
  Changelog.txt
  common/countries/cosmetic.txt
  common/country_leader/00_traits.txt
  common/national_focus/05_japan.txt
  events/Japan.txt
  gfx/flags/JAP_EMPIRE.tga
  gfx/flags/JAP_EMPIRE_NAVAL.tga
  gfx/flags/medium/JAP_EMPIRE.tga
  gfx/flags/medium/JAP_EMPIRE_NAVAL.tga
  gfx/flags/small/JAP_EMPIRE.tga
  gfx/flags/small/JAP_EMPIRE_NAVAL.tga
  interface/MD_texticons.gfx
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_new_traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/ideas/AA_law_expanded_economics.txt
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/national_focus/05_china.txt
  common/national_focus/hongkong.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  events/05_china.txt
  history/countries/CHI - China.txt
  history/countries/HKG - Hong Kong.txt
  history/countries/MAC - Macau.txt
  history/countries/OMG - Outer Mongolia.txt
  history/states/1106-Macau.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Switzerland: fix pre-merge audit findings, standardizer corruption, loc cleanup
  .pre-commit-config.yaml
  common/ai_strategy_plans/SWI_strategy_plans.txt
  common/decisions/05_SWI_decisions.txt
  common/decisions/categories/00_SWI_categories.txt
  common/ideas/AA_law_expanded_economics.txt
  common/national_focus/05_switzerland.txt
  common/opinion_modifiers/SWI_opinion_modifiers.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  events/05_switzerland_events.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
  tools/standardization/standardize.py
  tools/standardization/standardize_decisions.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/tests/standardize_decisions_test.py
  tools/standardization/tests/standardize_focus_tree_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed 200% ROI for China
  common/ideas/AA_law_expanded_economics.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the Zombie AI strategy being incorrect - Closes #2609
  common/ai_strategy/ZOM.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/France.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ergo Doors
  common/units/equipment/modules/MD_tank_modules.txt
  history/countries/CAN - Canada.txt
  history/countries/CAS - Cascadia.txt
  history/countries/FLA - Florida.txt
  history/countries/GER - Germany.txt
  history/countries/HWI - Hawaii.txt
  history/countries/IDH - Idaho.txt
  history/countries/ISR - Israel.txt
  history/countries/KAN - Kansas.txt
  history/countries/NYK - New York.txt
  history/countries/PTR - Puerto Rico.txt
  history/countries/TEX - Texas.txt
  history/countries/UDT - Union of Deseret.txt
  history/countries/USA - USA.txt
  history/countries/USB - Free States of America.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add air OOB for all country in A and B
  history/countries/ARG - Argentina.txt
  history/countries/BEN - Benin.txt
  history/countries/ISR - Israel.txt
  history/states/1093-Brest.txt
  history/states/211-Zarqa.txt
  history/states/443-Cuyo.txt
  history/states/450-Cordoba.txt
  history/states/702-Grodno.txt
  history/units/AGL_2000_bba.txt
  history/units/ALB_2000_bba.txt
  history/units/ARG_2000_bba.txt
  history/units/ARM_2000_bba.txt
  history/units/AST_2000_bba.txt
  history/units/AUS_2000_bba.txt
  history/units/BAN_2000_bba.txt
  history/units/BAN_2000_nsb.txt
  history/units/BEL_2000_bba.txt
  history/units/BEN_2000_bba.txt
  history/units/BEN_2000_nsb.txt
  history/units/BHR_2000_bba.txt
  history/units/BLR_2000_bba.txt
  history/units/BOL_2000.txt
  history/units/BOL_2000_bba.txt
  history/units/BOT_2000_bba.txt
  history/units/JOR_2000_bba.txt
  history/units/JOR_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update land_equipment.txt
  common/doctrines/grand_doctrines/land_equipment.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs and other
  common/dynamic_modifiers/99_FRA_dynamic_modifiers.txt
  common/national_focus/france.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardizer fixes: atomic writes, opt-in MODIFIER naming check, single-line block handling
  tools/standardization/standardize.py
  tools/standardization/standardize_decisions.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/tests/standardize_cli_test.py
  tools/standardization/tests/standardize_decisions_test.py
  tools/standardization/tests/standardize_focus_tree_test.py
  tools/standardize_staged.py
Due: none

Regular update
  localisation/japanese/MD_decisions_l_japanese.yml
  localisation/japanese/MD_focus_EU_l_japanese.yml
  localisation/japanese/MD_politics_view_parties_l_japanese.yml
  localisation/japanese/events_l_japanese.yml
  localisation/russian/MD_focus_CHI_l_russian.yml
  localisation/russian/MD_investments_l_russian.yml
Due: none

fixes
  common/decisions/05_japan.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_localisation/99_JAP_scripted_localisation.txt
  events/Japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

added productivity to toolbar and added lists for each dropdown category
  common/ideas/zzz_topbar_tokens.txt
  common/scripted_effects/BI_dynamic_topbar_effects.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  interface/MD_dynamic_topbar.gfx
  localisation/english/MD_dynamic_topbar_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix topbar submenu and investment rule errors
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/BI_dynamic_topbar_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  common/countries/cosmetic.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/national_focus/05_japan.txt
  gfx/leaders/JAP/generals/gen_Eiji_Kimizuka.dds
  gfx/leaders/JAP/generals/gen_Hajime_Massaki.dds
  gfx/leaders/JAP/generals/gen_Kenichiro_Nagumo.dds
  gfx/leaders/JAP/generals/gen_Ryoichi_Oriki.dds
  gfx/leaders/JAP/generals/gen_Shinichi_Aoki.dds
  gfx/leaders/JAP/generals/gen_Yasunori_Morishita.dds
  gfx/leaders/JAP/generals/gen_Yoshifumi_Hibako.dds
  gfx/leaders/JAP/generals/gen_Yoshihide_Yoshida.dds
  gfx/leaders/JAP/generals/gen_Yuji_Fujinawa.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Sat automation
  Changelog.txt
  common/decisions/00_missile_decisions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_space_automation_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_missiles_scripted_localisation.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

RAAF
  history/states/745-South Australia.txt
  history/units/AST_2000_bba.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  common/decisions/France.txt
  common/national_focus/france.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Collapse multi-statement temp math in the CT panel
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Counter-Terrorism panel letting a nation target itself
  Changelog.txt
  common/scripted_effects/00_ct_ai_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_triggers/01_international_triggers.txt
  events/Counter Terror.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
