Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Update Changelog.txt
  Changelog.txt
Due: none

second iteration of spaa missiles
  common/ai_equipment/NATO_tank.txt
  common/decisions/Ukraine.txt
  common/technologies/NSB_anti_air.txt
  common/units/equipment/modules/MD_arty_modules.txt
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_1.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_2.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_3.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_4.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_5.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_6.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_7.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_8.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_9.dds
  history/countries/ITA - Italy.txt
  history/countries/NRY - Norway.txt
  history/countries/SOV - Russia.txt
  history/countries/USA - USA.txt
  interface/artillery_modules_icons.gfx
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

GFX Bugfixes/Changes
  gfx/interface/counters/divisions_large/combat_maintenance_company.dds
  gfx/interface/technologies/0_modules/tank_builder/helicopter_medium_chassis.dds
  gfx/interface/technologies/0_modules/tank_builder/special_modules/EQ_MOD_CAT_tank_aa_module.dds
  gfx/interface/technologies/0_modules/tank_builder/special_modules/aa_launchers_gen1.dds
  gfx/interface/technologies/0_modules/tank_builder/special_modules/aa_launchers_gen2.dds
  gfx/interface/technologies/0_modules/tank_builder/special_modules/aa_launchers_gen3.dds
  gfx/interface/technologies/0_modules/tank_builder/special_modules/aa_launchers_gen4.dds
  gfx/interface/technologies/0_modules/tank_builder/special_modules/aa_launchers_gen5.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_helicopter_medium_chassis.dds
  interface/mdult_land.gfx
Due: none

Fix unreadable railway level number on the map (#4294)
  interface/mapicons.gui
Due: none

Make Changelog.txt entries standard for game-file PRs
  AGENTS.md
Due: none

Let the Netherlands resolve its cartel investigations
  events/cartel_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ungate the raid results event as well
  events/cartel_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Return on Investment cap game rule (#4372)
  common/game_rules/00_game_rules.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Reduce permanent ROI rewards in China, Switzerland, and Sweden (#4376)
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/dynamic_modifiers/99_SWE_dynamic_modifiers.txt
  common/ideas/05_china.txt
  common/ideas/Swedish.txt
  common/national_focus/05_china.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_switzerland.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reduce Permanent ROI Rewards in China, Switzerland, and Sweden (#4376) (#4471)
  Changelog.txt
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/dynamic_modifiers/99_SWE_dynamic_modifiers.txt
  common/ideas/05_china.txt
  common/ideas/Swedish.txt
  common/national_focus/05_china.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_switzerland.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Return on Investment Cap Game Rule (#4372) (#4470)
  Changelog.txt
  common/game_rules/00_game_rules.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix typo in legacy doctrines comment
  localisation/english/MD_techs_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Restore diplomatic AI anchoring to the formed United States of Europe (#4391)
  Changelog.txt
  common/ai_strategy/EUU.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Make the cartel investigation previews match what happens (#4449)
  common/decisions/Cartel Decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove equipment_type definition from MD_ALG_organizations.txt
  common/military_industrial_organization/organizations/MD_ALG_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Give Russia the support ship variants Ukraine's navy events need
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Drop the tooltip separators the removed rewards left behind
  common/national_focus/05_germany.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_norway.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Inherit the Seriana roster instead of restating it
  common/military_industrial_organization/organizations/MD_ALG_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix the legacydoctrine comment typo in the category list
  common/technology_tags/00_technology.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Make Ukraine's navy events actually deliver their support ships (#4473)
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix unreadable railway level number on the map (#4294) (#4468)
  AGENTS.md
  Changelog.txt
  interface/mapicons.gui
Due: none

Address review: keep the tech-category checks as errors, trim, document
  common/scripted_triggers/99_SWI_scripted_triggers.txt
  localisation/english/MD_focus_SWI_l_english.yml
  tools/tests/validation/tech_categories_test.py
  tools/validation/validate_tech_categories.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 05_turkey.txt
  common/national_focus/05_turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix log-only validation wiring
  .claude/docs/validation-pipeline.md
  tools/linting/check_common_mistakes.py
  tools/tests/linting/check_common_mistakes_entrypoints_test.py
  tools/tests/validation/change_groups_test.py
  tools/validation/change_groups.py
Due: none

Standardize party localisation for BOT (#4457)
  .claude/docs/party-loc-reference.md
  .claude/skills/party-names/SKILL.md
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/Botswana.txt
  localisation/english/MD_focus_BOT_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Let the Algerian arms MIOs build what their traits improve (#4450)
  common/military_industrial_organization/organizations/MD_ALG_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/tank_modules_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

R3D Various Changes and Fixes (#4465)
  Changelog.txt
  common/national_focus/05_japan.txt
  common/technologies/infantry.txt
  common/units/MD_division_support.txt
  common/units/MD_land_units.txt
  common/units/equipment/MD_infantry_equipment.txt
  common/units/equipment/modules/MD_tank_modules.txt
  gfx/interface/counters/divisions_large/inf_hvy_mot.dds
  gfx/interface/counters/divisions_small/onmap_unit_inf_hvy_mot_bat_icon.dds
  history/countries/POR - Portugal.txt
  interface/countrytechtreeview.gui
  interface/subuniticons.gfx
  localisation/english/MD_units_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed category error for IMV
  common/technologies/infantry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Increase Special Force Raid Size from 5 max units to 10 (go off kings)
  Changelog.txt
  common/raids/land_infiltration_raids.txt
  common/raids/naval_raids.txt
  common/raids/special_forces_raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Let the Netherlands resolve its cartel investigations (#4469)
  events/cartel_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog
  Changelog.txt
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
