Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

website picture update
  docs/assets/images/roadmaps/custom-mio.png
  docs/src/assets/images/roadmaps/current-focus-tree.png
  docs/src/assets/images/roadmaps/current-shared-focus-tree.png
  docs/src/assets/images/roadmaps/custom-mio.png
  docs/src/assets/images/roadmaps/upcoming-content.png
Due: none

Drop duplicate v2.0 Content changelog sections
  Changelog.txt
  docs/src/content/changelogSections/v2-0-changes.md
  docs/src/content/misc/beta-changelogs.md
Due: none

Drop duplicate v2.0 Content changelog sections (#3828)
  Changelog.txt
  docs/src/content/changelogSections/v2-0-changes.md
  docs/src/content/misc/beta-changelogs.md
Due: none

Saudi feedbacks fix 2026,9,7 (#3827)
  common/ideas/saudi_arabia.txt
  common/national_focus/05_saudi_arabia.txt
  events/SAU_events.txt
  history/countries/SAU - Saudi Arabia.txt
  localisation/english/MD_focus_SAU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix non-Randallite validator warnings (#3826)
  common/military_industrial_organization/organizations/MD_BEL_organizations.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/military_industrial_organization/organizations/MD_GRE_organizations.txt
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  common/national_focus/05_egypt.txt
  common/on_actions/08_bba_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_HKG_scripted_effects.txt
  localisation/english/MD_focus_HKG_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden dispatched validation trust boundary
  .claude/docs/validation-pipeline.md
  .github/workflows/test-suite.yml
  tools/tests/validation/config_drift_test.py
Due: none

[GFX] Fix Swedish APC medium texture reference
  interface/mdult_land.gfx
Due: none

Potential fix for pull request finding 'CodeQL / Cache Poisoning via caching of untrusted files'
  .github/workflows/test-suite.yml
Due: none

Potential fix for pull request finding 'CodeQL / Cache Poisoning via execution of untrusted code'
  .github/workflows/test-suite.yml
Due: none

Potential fix for pull request finding 'CodeQL / Cache Poisoning via execution of untrusted code'
  .github/actions/setup-md-python/action.yml
Due: none

Error Fixes and Event Images updates
  common/decisions/Ukraine.txt
  common/ideas/Ukrainian.txt
  events/Ukraine.txt
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_APC_Modules.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_Engines.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_IFV_Modules.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_Modules.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_Role.dds
  gfx/event_pictures/europe/ukraine - UKR/BTR4_Development_Tests.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Buy_Lithuanian_1124.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Choose_Future_Corvette.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Finish_11451.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Finish_Ukrayina.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Hayduk_21_Corvette.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Maintain_1135.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Maintain_1241.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Maintain_1241_Khmelnytskyi.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Maintain_1241_Kremenchuk.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Maintain_1241_Uzhhorod.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Maintain_641_Submarine.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Mirazh_Corvette.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Mistral_1500T_Corvette.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Muson_Corvette.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Project_58250_Corvette.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Repair_Rivne.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Repair_Support_Ships.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Restore_1124.dds
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/plane_designer_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add event picture format validation (#3829)
  .claude/docs/event-reference.md
  .claude/docs/validation-pipeline.md
  AGENTS.md
  events/Counter Terror.txt
  events/Iran.txt
  events/Space_GFXlaunches.txt
  events/United States.txt
  tools/tests/validation/validate_events_picture_format_test.py
  tools/validation/README.md
  tools/validation/validate_events.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Pre-Final Fixes
  events/Ukraine.txt
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Repair sync validation workflows and docs checks
  .github/workflows/nightly-pr-validation.yml
  .github/workflows/test-suite.yml
  .github/workflows/tools-validation.yml
  docs/assets/images/roadmaps/custom-mio.png
  docs/src/assets/images/roadmaps/current-focus-tree.png
  docs/src/assets/images/roadmaps/current-shared-focus-tree.png
  docs/src/assets/images/roadmaps/custom-mio.png
  docs/src/assets/images/roadmaps/upcoming-content.png
  docs/src/content/changelogSections/v2-0-changes.md
  docs/src/content/home/index.yml
  docs/src/content/misc/beta-changelogs.md
  docs/src/shared/lib/markdown/rehype-table-wrapper.ts
  tools/docs_checks/check_perf_budgets.py
  tools/tests/docs_checks/coverage_edges_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/validate_scripted_localisation_test.py
  tools/validation/validate_scripted_localisation.py
Due: none

Pre-final round of error updates
  common/decisions/Ukraine.txt
  events/Ukraine.txt
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix sync validation regressions
  .github/workflows/nightly-pr-validation.yml
  .github/workflows/test-suite.yml
  common/scripted_effects/01_great_ai_race_capacity_effects.txt
  common/scripted_effects/USA_oem_real_options_effects.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_map_modes_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
  tools/tests/great_ai_race_state_model_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/validate_scripted_localisation_test.py
  tools/validation/validate_scripted_localisation.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix visit execution and crisis escalation
  common/scripted_effects/04_targeted_operations_cases.txt
  common/scripted_effects/05_targeted_operations_runtime.txt
  common/scripted_triggers/04_targeted_operations_cases.txt
  common/scripted_triggers/05_targeted_operations_runtime.txt
  events/Targeted Operations Runtime.txt
  tools/tests/targeted_operations_core_test.py
  tools/tests/targeted_operations_runtime_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Keep batch reports compatible with trusted tooling
  tools/report_lib/loader.py
  tools/tests/report_lib/loader_test.py
  tools/tests/validation/run_validator_batch_test.py
  tools/validation/run_validator_batch.py
Due: none

Include Targeted Operations test fixtures
  .github/workflows/test-suite.yml
  .github/workflows/tools-validation.yml
  tools/tests/validation/config_drift_test.py
Due: none

[GFX] Fix Swedish APC medium texture reference (#3831)
  interface/mdult_land.gfx
Due: none

Event Picture Format Validation (#3829) (#3832)
  .claude/docs/event-reference.md
  .claude/docs/validation-pipeline.md
  AGENTS.md
  events/Counter Terror.txt
  events/Iran.txt
  events/Space_GFXlaunches.txt
  events/United States.txt
  tools/tests/validation/validate_events_picture_format_test.py
  tools/validation/README.md
  tools/validation/validate_events.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Match crisis news events to wide art
  events/Targeted Operations Runtime.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

First Batch
  common/ai_templates/MD_generic.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add validation for missing group class
  tools/generators/generate_targeted_operations.py
Due: none

Fix Targeted Operations review findings
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/01_targeted_operations_registry.txt
  common/scripted_effects/01_targeted_operations_world.txt
  common/scripted_effects/NKO_political_leaders.txt
  common/scripted_triggers/03_targeted_operations_political_roster.txt
  tools/generators/generate_targeted_operations.py
  tools/tests/targeted_operations_generator_test.py
  tools/tests/targeted_operations_political_test.py
  tools/tests/targeted_operations_runtime_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

AI Division Targets update (#3834)
  common/ai_templates/MD_generic.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the Lebanese/Iranian Support being incorrectly scope flipped -- Closes #3823
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the parent daisy chain for Patrol Boats + removed the last version - Closes #3752
  common/script_enums.txt
  common/units/equipment/MD_mtg_ships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Inflation math expressions pt. 1
  common/scripted_effects/00_economic_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

GFX adjustment
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Finish inflation math expression conversion
  common/scripted_effects/00_economic_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix runtime script errors from the upstream sync merge
  common/ideas/05_china.txt
  common/ideas/05_japan.txt
  common/ideas/Ukrainian.txt
  common/ideas/united_states.txt
  common/on_actions/99_ENG_on_actions.txt
  common/scripted_effects/00_CAN_scripted_effects.txt
  common/scripted_effects/00_targeted_operations_effects.txt
  common/scripted_effects/02_targeted_operations_authorization_effects.txt
  common/scripted_effects/04_targeted_operations_cases.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  common/scripted_effects/SWE_ericsson_effects.txt
  common/scripted_triggers/99_CAN_scripted_triggers.txt
  events/Targeted Operations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Consolidate quarterly inflation arithmetic
  common/scripted_effects/00_economic_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Drive the corporate chains from the fork dispatcher, not the yearly milestones
  common/scripted_effects/00_CAN_scripted_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  common/scripted_effects/SWE_ericsson_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

1
  events/United States.txt
  gfx/event_pictures/africa/algeria - ALG/Algerian_CW.dds
  gfx/event_pictures/africa/angola - AGL/news_angolan_civil_war.dds
  gfx/event_pictures/africa/liberia - LIB/news_liberian_civil_war.dds
  gfx/event_pictures/africa/south_sudan - SSU/news_south_sudan_civil_war.dds
  gfx/event_pictures/americas/north_america/united_states - USA/abraham_accords_expanded.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_faciliated_korean_unification_talks.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_intervention_yemen.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_investments_carribean.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_phillipines_cooperation.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_recognition_of_golan_heights.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_west_africa_initiative.dds
  gfx/event_pictures/americas/north_america/united_states - USA/aukus_alliance_formed.dds
  gfx/event_pictures/americas/north_america/united_states - USA/chips_act.dds
  gfx/event_pictures/americas/north_america/united_states - USA/jcpoa_withdrawal.dds
  gfx/event_pictures/americas/north_america/united_states - USA/news_hillary_clinton_young.dds
  gfx/event_pictures/americas/north_america/united_states - USA/news_national_prayer_service_2001.dds
  gfx/event_pictures/americas/north_america/united_states - USA/quad_partnership.dds
  gfx/event_pictures/americas/north_america/united_states - USA/recognize_jerusalem.dds
  gfx/event_pictures/americas/north_america/united_states - USA/rejoin_paris_agreement.dds
  gfx/event_pictures/americas/north_america/united_states - USA/thaad_south_korea.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_african_trade_program.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_arms_taiwan.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_forces_in_haiti.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_mali_support.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_nigeria_support.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_north_korea_summit.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_pacific_islands_support.dds
  gfx/event_pictures/generic/elections/GFX_election_rally.dds
  gfx/event_pictures/generic/elections/news_election_rally.dds
  interface/MD_eventpictures.gfx
  localisation/german/MD_focus_AFG_l_german.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Playtest fixes and adjustments (#3837)
  events/United States.txt
  gfx/event_pictures/africa/algeria - ALG/Algerian_CW.dds
  gfx/event_pictures/africa/angola - AGL/news_angolan_civil_war.dds
  gfx/event_pictures/africa/liberia - LIB/news_liberian_civil_war.dds
  gfx/event_pictures/africa/south_sudan - SSU/news_south_sudan_civil_war.dds
  gfx/event_pictures/americas/north_america/united_states - USA/abraham_accords_expanded.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_faciliated_korean_unification_talks.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_intervention_yemen.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_investments_carribean.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_phillipines_cooperation.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_recognition_of_golan_heights.dds
  gfx/event_pictures/americas/north_america/united_states - USA/american_west_africa_initiative.dds
  gfx/event_pictures/americas/north_america/united_states - USA/aukus_alliance_formed.dds
  gfx/event_pictures/americas/north_america/united_states - USA/chips_act.dds
  gfx/event_pictures/americas/north_america/united_states - USA/jcpoa_withdrawal.dds
  gfx/event_pictures/americas/north_america/united_states - USA/news_hillary_clinton_young.dds
  gfx/event_pictures/americas/north_america/united_states - USA/news_national_prayer_service_2001.dds
  gfx/event_pictures/americas/north_america/united_states - USA/quad_partnership.dds
  gfx/event_pictures/americas/north_america/united_states - USA/recognize_jerusalem.dds
  gfx/event_pictures/americas/north_america/united_states - USA/rejoin_paris_agreement.dds
  gfx/event_pictures/americas/north_america/united_states - USA/thaad_south_korea.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_african_trade_program.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_arms_taiwan.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_forces_in_haiti.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_mali_support.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_nigeria_support.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_north_korea_summit.dds
  gfx/event_pictures/americas/north_america/united_states - USA/us_pacific_islands_support.dds
  gfx/event_pictures/generic/elections/GFX_election_rally.dds
  gfx/event_pictures/generic/elections/news_election_rally.dds
  interface/MD_eventpictures.gfx
  interface/gdp_graph.gui
  interface/ledger.gui
  localisation/german/MD_focus_AFG_l_german.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add USA compute and semiconductor manufacturers as MIOs
  common/military_industrial_organization/organizations/MD_USA_compute_organizations.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

renamed the focus name and the icon dds just incase
  common/national_focus/05_france.txt
  gfx/interface/goals/france/FRA_crusader_icon.dds
  interface/goals.gfx
  interface/goals_shine.gfx
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
