Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Update validate_unused_scripted.py
  tools/validation/validate_unused_scripted.py
Due: none

Update changelog for #1414
  Changelog.txt
Due: none

update
  common/national_focus/03_china_north_korea_joint.txt
  common/national_focus/03_china_sar_joint.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

standardized political_triggers for government_coalition_strength
  common/decisions/Iran.txt
  common/decisions/Tajikistan.txt
  common/decisions/USA.txt
  common/decisions/UnitedArabRepublic.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_italy.txt
  common/national_focus/05_japan.txt
  common/national_focus/romania.txt
  common/scripted_triggers/01_political_triggers.txt
  common/scripted_triggers/99_ITA_scripted_triggers.txt
  common/scripted_triggers/99_ROM_scripted_triggers.txt
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_ITA_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_ROM_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update CHI.txt
  common/ai_strategy/CHI.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update misc.txt
  common/ideas/misc.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/scripted_localisation/99_CHI_BRI_projects_scripted_localisation.txt
  common/scripted_localisation/99_CHI_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra napoleon
  common/decisions/France.txt
  common/ideas/French.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

main fix
  interface/inner_circles/ENG_inner_circle.gfx
  resources/portrait_dump/CHI/Chen_Liangyu.dds
  resources/portrait_dump/CHI/Great_Hall_of_the_People.dds
  resources/portrait_dump/CHI/Han_Zheng.dds
  resources/portrait_dump/CHI/Hu_Chunhua.dds
  resources/portrait_dump/CHI/Hu_jintao_alt.dds
  resources/portrait_dump/CHI/Wang_Bingzhang.dds
  resources/portrait_dump/CHI/Wang_Xinhui.dds
  resources/portrait_dump/CHI/Wang_Yang.dds
  resources/portrait_dump/CHI/Wu_Bangguo.dds
  resources/portrait_dump/CUB/National_Assembly_of_Peoples_Power.png
  resources/portrait_dump/DEN/least_racist_dane.png
  resources/portrait_dump/GER/prince_reuss.png
  resources/portrait_dump/JAP/nobuyuki_baba.png
  resources/portrait_dump/KEN/Portrait_David_Musuguri.png
  resources/portrait_dump/KEN/Portrait_Jimson_Mutai.png
  resources/portrait_dump/PER/hashem_boushehri.png
  resources/portrait_dump/POL/POL_Jaroslaw_Kaczynski.tga
  resources/portrait_dump/POL/POL_Lech_Kaczynski.tga
  resources/portrait_dump/POL/POL_Marian_Kowalski.tga
  resources/portrait_dump/POL/POL_Roman_Giertych.tga
  resources/portrait_dump/POL/POL_Tomasz_Dorosz.tga
  resources/portrait_dump/RWA/Portrait_Template.png
  resources/portrait_dump/TNZ/Portrait_David_Musuguri.png
  resources/portrait_dump/TNZ/Portrait_Jimson_Mutai.png
  resources/portrait_dump/UGA/Portrait_David_Musuguri.png
  resources/portrait_dump/UGA/Portrait_Jimson_Mutai.png
Due: none

Update sweden.txt
  common/national_focus/sweden.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

validator fixes
  .claude/docs/decision-reference.md
  AGENTS.md
  common/decisions/05_CHI_decisions.txt
  common/ideas/Factions.txt
  common/ideas/hong_kong.txt
  common/ideas/political_reform.txt
  common/national_focus/iraq2.txt
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
  common/scripted_effects/00_money_system.txt
  history/countries/CHI - China.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Bulgaria focus tree modernization: diverse rewards, AI strategy plans, debt relief
  common/ai_strategy_plans/BUL_strategy_plans.txt
  common/dynamic_modifiers/BUL_dynamic_modifiers.txt
  common/national_focus/05_bulgaria.txt
  history/countries/BUL - Bulgaria.txt
  localisation/english/MD_focus_BUL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

UN overhaul: fix vote storm/freeze, correctness + perf fixes, event consolidation
  .claude/docs/tokenization-patterns.md
  common/decisions/un_voting_decisions.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_effects/01_recog_ai_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_triggers/01_international_triggers.txt
  events/International Recognition.txt
  events/UN_Voting_Events.txt
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

validator fixes
  common/decisions/05_CHI_decisions.txt
  common/decisions/Korea.txt
  common/decisions/USA.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/national_focus/05_belarus.txt
  common/national_focus/05_china.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/01_tfv_on_actions.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  events/05_china.txt
  events/Hong Kong.txt
  events/Taiwan.txt
  events/War.txt
  history/countries/CHI - China.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

can staff fixes
  common/national_focus/03_china_north_korea_joint.txt
  common/national_focus/03_china_russia_joint.txt
  common/national_focus/03_china_sar_joint.txt
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

UN overhaul round 2: adversarial-review fixes, system docs, player guide
  .claude/docs/simplification-patterns.md
  .claude/docs/un-system-reference.md
  AGENTS.md
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_triggers/01_international_triggers.txt
  docs/src/content/tutorials/international-systems.md
  docs/src/content/tutorials/united-nations.md
  events/International Recognition.txt
  events/UN_Voting_Events.txt
  localisation/english/MD_international_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

unbork eq upgrade designer
  interface/equipmentupgradedesignerwindow.gui
Due: none

bug fixign
  common/national_focus/00_generic.txt
  common/national_focus/03_china_russia_joint.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_guis/00_MD_politicsview_scripted_guis.txt
  events/05_north_korea_events.txt
  history/countries/CHI - China.txt
  interface/core.gfx
  interface/scripted_gui/CHI/chi_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Serbia focus tree modernization: diverse rewards, AI strategy plans, debt relief
  common/ai_strategy/SER.txt
  common/ai_strategy_plans/SER_strategy_plans.txt
  common/dynamic_modifiers/99_SER_dynamic_modifiers.txt
  common/ideas/Serbian.txt
  common/national_focus/serbia.txt
  history/countries/SER - Serbia.txt
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Greece AI fixes: enable strategy plans on DEFAULT rule, add missing bankruptcy guards
  common/national_focus/05_greece.txt
  common/on_actions/999_game_rules_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Romania focus tree modernization: diverse rewards, AI strategy plans, treasury fix
  common/ai_strategy_plans/ROM_strategy_plans.txt
  common/military_industrial_organization/organizations/MD_ROM_organizations.txt
  common/national_focus/romania.txt
  history/countries/ROM - Romania.txt
  localisation/english/MD_focus_ROM_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add focus tree modernization guide to docs
  docs/src/content/resources/focus-tree-lifecycle-checklist.md
  docs/src/content/resources/focus-tree-modernization-guide.md
Due: none

Fixed and finalized improving MNT, KOS, and other bug fixes in here
  Changelog.txt
  common/ai_strategy_plans/BUL_strategy_plans.txt
  common/ai_strategy_plans/MNT_strategy_plans.txt
  common/decisions/bulgaria.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_bulgaria.txt
  common/national_focus/05_greece.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_montenegro.txt
  common/national_focus/romania.txt
  common/national_focus/serbia.txt
  common/on_actions/999_game_rules_on_actions.txt
  events/05_bulgaria.txt
  events/Romania.txt
  events/Serbia.txt
  history/countries/BUL - Bulgaria.txt
  history/countries/ROM - Romania.txt
  history/countries/SER - Serbia.txt
  localisation/english/MD_focus_BUL_l_english.yml
  localisation/english/MD_focus_ROM_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Slim always-loaded agent instructions; move validation pipeline detail to docs
  .claude/docs/scripting-edge-cases.md
  .claude/docs/validation-pipeline.md
  .claude/rules/general-rules.md
  AGENTS.md
  CLAUDE.md
Due: none

Dedupe agent definitions against auto-injected context; restrict reviewer agents to read-only tools
  .claude/agents/bug-fixer.md
  .claude/agents/code-quality-reviewer.md
  .claude/agents/event-builder.md
  .claude/agents/focus-tree-builder.md
  .claude/agents/head-mod-developer.md
  .claude/agents/localisation-editor.md
  .claude/agents/performance-analyzer.md
  .claude/agents/simplify-analyzer.md
  .claude/agents/tools-reviewer.md
  .claude/docs/agent-conventions.md
Due: none

Add path-scoped tripwire rules; expand read-only permission allows
  .claude/rules/ai-strategy.md
  .claude/rules/intel-agency.md
  .claude/rules/localisation.md
  .claude/rules/namelists.md
  .claude/rules/scripted-gui.md
  .claude/rules/un-system.md
  .claude/settings.json
Due: none

Add skill frontmatter, dedupe skill bodies against docs, move oob-variants reference to docs
  .claude/docs/bug-patterns.md
  .claude/docs/oob-equipment-reference.md
  .claude/docs/oob-variants-reference.md
  .claude/skills/README.md
  .claude/skills/add-leader/SKILL.md
  .claude/skills/additional-income/SKILL.md
  .claude/skills/adversarial-review/SKILL.md
  .claude/skills/audit/SKILL.md
  .claude/skills/changelog/SKILL.md
  .claude/skills/close-issue/SKILL.md
  .claude/skills/content-review/SKILL.md
  .claude/skills/dev-diary-mdx/SKILL.md
  .claude/skills/fix-issue/SKILL.md
  .claude/skills/lifecycle-check/SKILL.md
  .claude/skills/md-tick-profiler/SKILL.md
  .claude/skills/new-focus/SKILL.md
  .claude/skills/new-namelist/SKILL.md
  .claude/skills/review-branch/SKILL.md
  .claude/skills/search-filter-check/SKILL.md
  .claude/skills/standardize/SKILL.md
  .claude/skills/update-claude/SKILL.md
  .claude/skills/validate/SKILL.md
Due: none

Docs cleanup: complete the index, merge MIO docs, rename two, drop dead docs, fix stale references
  .claude/docs/ai-strategy-reference.md
  .claude/docs/changelog-guide.md
  .claude/docs/decision-reference.md
  .claude/docs/documentation-references.md
  .claude/docs/dynamic-modifier-tooltips.md
  .claude/docs/event-reference.md
  .claude/docs/focus-tree-reference.md
  .claude/docs/idea-reference.md
  .claude/docs/meta-effect-patterns.md
  .claude/docs/mio-modifiers-reference.md
  .claude/docs/mio-reference.md
  .claude/docs/namelist-reference.md
  .claude/docs/performance-patterns.md
  .claude/docs/pr-conventions.md
  .claude/docs/refactor-checklist.md
  .claude/docs/scripted-gui-patterns.md
  .claude/docs/scripted-gui-rules.md
  .claude/docs/unemployment-reform-plan.md
Due: none

Fixed the remaining and standardization here
  common/national_focus/05_bulgaria.txt
  common/national_focus/05_greece.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_montenegro.txt
  common/national_focus/05_romania.txt
  common/national_focus/05_serbia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the United States coallpse from splitting out of the United States doesn't control the states
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

joint focus tree fixes
  common/national_focus/03_china_north_korea_joint.txt
  common/national_focus/03_china_russia_joint.txt
  common/national_focus/03_china_sar_joint.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  localisation/english/MD_focus_CHI_SAR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 03_china_sar_joint.txt
  common/national_focus/03_china_sar_joint.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/decisions/05_CHI_decisions.txt
  common/national_focus/03_china_sar_joint.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Decision icons code
  .vscode/hoi4_millennium_dawn.code-workspace
  common/decisions/05_CHI_decisions.txt
  localisation/english/MD_focus_CHI_SAR_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
