Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Update POR - Portugal.txt
  history/countries/POR - Portugal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix SOV repair ship variant name to Pr. 300
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ukraine decisions updates (#4454)
  Changelog.txt
  events/Ukraine.txt
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Finish_Ukrayina_Construction.dds
  gfx/event_pictures/europe/ukraine - UKR/Reorganize_Navy_Maintain_641_Submarine_Finish.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_btr3da_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_btr3e1_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_btr3e_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_btr3u_for_tooltip.dds
  gfx/leaders/UKR/Andriy_Maksymenko.dds
  gfx/leaders/UKR/Oleksandr_Dublian.dds
  gfx/leaders/UKR/small/Andriy_Maksymenko_small.dds
  gfx/leaders/UKR/small/Oleksandr_Dublian_small.dds
  history/countries/SOV - Russia.txt
  history/states/698-Kyiv.txt
  history/units/SOV_2000_naval_mtg.txt
  history/units/UKR_2000_naval_mtg.txt
  interface/MD_decisions_desc.gfx
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix United States AI path enforcement
  common/game_rules/00_game_rules.txt
  common/scripted_triggers/99_USA_scripted_triggers.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Restore the default United States AI behavior
  common/game_rules/00_game_rules.txt
  common/scripted_triggers/99_USA_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardise United States AI path game rule (#4461)
  Changelog.txt
  common/decisions/USA.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_usa.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/USA_political_leaders.txt
  common/scripted_triggers/99_USA_scripted_triggers.txt
  common/scripted_triggers/99_USA_scripted_triggesrs.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_plane_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix shared USA breakaway variants
  Changelog.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  tools/tests/validation/validate_mios_test.py
  tools/validation/validate_mios.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Streamline AI debt repayment and debt crisis tax handling
  Changelog.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_mtg_ships.txt
  common/units/equipment/MD_mtg_ships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

Share USA starting equipment variants with breakaways (#4400)
  Changelog.txt
  common/military_industrial_organization/organizations/MD_USA_organizations.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  common/scripted_triggers/99_USA_scripted_triggers.txt
  history/countries/ASK - Alaska.txt
  history/countries/CAL - California.txt
  history/countries/CAS - Cascadia.txt
  history/countries/CSA - Confederate States.txt
  history/countries/FLA - Florida.txt
  history/countries/GLC - Great Lakes Confederation.txt
  history/countries/HWI - Hawaii.txt
  history/countries/IDH - Idaho.txt
  history/countries/KAN - Kansas.txt
  history/countries/LKT - Lakota.txt
  history/countries/NEN - New England.txt
  history/countries/NYK - New York.txt
  history/countries/PTR - Puerto Rico.txt
  history/countries/TEX - Texas.txt
  history/countries/UDT - Union of Deseret.txt
  history/countries/USA - USA.txt
  history/countries/USB - Free States of America.txt
  history/countries/WVA - West Virginia.txt
  tools/tests/validation/validate_mios_test.py
  tools/validation/validate_mios.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Streamline AI debt repayment and debt crisis tax handling (#4477)
  Changelog.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

R3D drone sub module fix (#4298) (#4479)
  Changelog.txt
  common/units/equipment/MD_mtg_ships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Flag redundant owner scopes in focuses and decisions
  tools/tests/validation/validate_simplifications_test.py
  tools/validation/validate_simplifications.py
Due: none

Flag redundant owner scopes in focuses and decisions (#4480)
  tools/tests/validation/validate_simplifications_test.py
  tools/validation/validate_simplifications.py
Due: none

Fix JAP renewable energy idea build bonus (Closes #4475)
  Changelog.txt
  common/ideas/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Japan's renewable energy idea build bonus (#4481)
  Changelog.txt
  common/ideas/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add opt-in unbalanced-modifier balance check
  tools/tests/validation/validate_modifiers_unbalanced_test.py
  tools/validation/README.md
  tools/validation/validate_modifiers.py
Due: none

Add opt-in unbalanced-modifier balance check (#4482)
  tools/tests/validation/validate_modifiers_unbalanced_test.py
  tools/validation/README.md
  tools/validation/validate_modifiers.py
Due: none

Update 05_turkey.txt
  common/national_focus/05_turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update content-review-guide.md
  docs/src/content/resources/content-review-guide.md
Due: none

Added Russian repair ships
  Changelog.txt
  history/units/SOV_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Changelog and 1 tweak I missed.
  Changelog.txt
  events/05_australia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Map legacy technology categories to their replacements in the validator (#4472)
  tools/tests/validation/tech_categories_test.py
  tools/validation/validate_tech_categories.py
Due: none

Standardise the Venezuela AI path rule, wiring and triggers
  common/game_rules/00_game_rules.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_VEN_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Weight the Venezuela focus tree by AI path and brake its war focuses
  common/national_focus/05_venezuela.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add the AI-only popularity ramp for Venezuela's opposition and junta paths
  common/decisions/Venezuela.txt
  common/decisions/categories/99_VEN_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Weight Venezuela's recall referendum for the AI and let it decline war over Curacao
  events/Venezuela.txt
  localisation/english/MD_focus_VEN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Venezuela to the AI path changelog line
  Changelog.txt
Due: none

Standardize party localisation for BRA
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/Brazilian.txt
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

SOV reon ships update (#4486)
  Changelog.txt
  history/countries/SOV - Russia.txt
  history/units/SOV_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

AST Fix to ai election events and opening info event (#4440)
  Changelog.txt
  common/ideas/05_Australia.txt
  common/national_focus/05_Australia.txt
  common/on_actions/05_AST_on_actions.txt
  events/05_australia_events.txt
  gfx/event_pictures/oceania/australia - AST/aus_kangaroo.dds
  interface/MD_eventpictures.gfx
  interface/goals.gfx
  localisation/english/MD_focus_AST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Drop doctrine _research loc keys and reuse track names for doctrine categories
  Changelog.txt
  common/technology_tags/00_technology.txt
  localisation/english/MD_doctrines_ncns_l_english.yml
  localisation/english/MD_techs_l_english.yml
  tools/tests/validation/tech_categories_test.py
  tools/validation/README.md
  tools/validation/validate_tech_categories.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardise the Yugoslavia AI path rule, wiring and triggers
  common/game_rules/00_game_rules.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_SER_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Weight the Yugoslavia focus tree by AI path and brake its war focuses
  common/national_focus/05_serbia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
