Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Test
  .pre-commit-config.yaml
  common/aces/00_aces.txt
  common/decisions/free_russia.txt
  common/ideas/Bolivian.txt
  common/national_focus/05_bosnia.txt
  common/scripted_effects/BOL_political_leaders.txt
  events/Bolivia.txt
  events/Germany.txt
  history/states/627-Riau Islands.txt
  tools/__pycache__/path_utils.cpython-312.pyc
  tools/coding_standards.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Test
  .gitignore
  common/decisions/USA.txt
  tools/check_basic_style_2.py
  tools/convert naval oobs 1.6.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

quick change before code gestapo takes over
  history/states/1144-Qom.txt
  history/states/976-Isfahan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/ideas/Belarusian.txt
  common/national_focus/Belarus.txt
  events/belarus.txt
  localisation/english/MD_focus_BLR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  common/scripted_effects/NCO_scripted_effects.txt
  common/scripted_guis/NCO_scripted_guis.txt
  interface/NCO_company_detail.gui
  localisation/english/NCO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

FRA_COMMIES again
  common/dynamic_modifiers/00_FRA_dynamic_modifiers.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

TEst
  tools/check_basic_style_2.py
Due: none

Working on the Prague Conference - Unifcation branch
  common/decisions/Czech_Republic.txt
  common/decisions/categories/czech_republic.txt
  common/ideas/Czech Republic.txt
  common/national_focus/czech_republic.txt
  common/on_actions/99_CZE_on_actions.txt
  events/Czech Republic.txt
  localisation/english/MD_focus_CZE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

tool clean up and standardization
  tools/LoggingAdd.py
  tools/LoggingRemove.py
  tools/MDTOOL.py
  tools/README.md
  tools/add in naval oobs.py
  tools/calculate_days.py
  tools/duplicate_icon.py
  tools/empty ship name files.py
  tools/find_internal_faction_flag_replace.py
  tools/fix_line_endings.py
  tools/generate influence.py
  tools/generate politics.py
  tools/generate-tt-for-law-block.py
  tools/generate_leader_IDs.py
  tools/logging_tool.py
  tools/old/EDIT.py
  tools/old/MDTOOL.py
  tools/old/add in naval oobs.py
  tools/old/check oob errors.py
  tools/old/check_ids.py
  tools/old/check_mock.py
  tools/old/empty ship name files.py
  tools/old/find_internal_faction_flag_replace.py
  tools/old/focus_gfx_shine.py
  tools/old/generate influence.py
  tools/old/generate politics.py
  tools/old/generate-tt-for-law-block.py
  tools/old/generate_leader_IDs.py
  tools/requirements.txt
  tools/text_to_focus_and_focus_to_loc.py
  tools/to_focus_name.py
  tools/who doesnt have airbases.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed CODEOWNERS
  CODEOWNERS
Due: none

Additions to the Koreas
  common/autonomous_states/MD_korea_autonomies.txt
  common/decisions/north_korea.txt
  common/ideas/Korea.txt
  common/military_industrial_organization/organizations/MD_NKO_organizations.txt
  common/national_focus/korea_confederation.txt
  common/national_focus/korea_north.txt
  common/national_focus/korea_south.txt
  common/national_focus/korea_sub_kim_yo_jong.txt
  common/national_focus/korea_unified.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  common/technologies/custom_tech.txt
  common/technology_sharing/00_tech_sharing_groups.txt
  events/Korea.txt
  gfx/interface/autonomy/NKO_autonomies.dds
  history/countries/NKO - North Korea.txt
  history/states/604-Gyeonggi.txt
  interface/MD_autonomy_icons.gfx
  interface/MD_eventpictures.gfx
  localisation/english/MD_autonomy_l_english.yml
  localisation/english/MD_focus_KOR_l_english.yml
  localisation/english/MD_focus_KOR_unified_l_english.yml
  localisation/english/MD_focus_NKO_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/replaced_from_vanilla_research_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add company management system with dynamic modifiers and localization
  common/dynamic_modifiers/MD_cac_dynamic_modifiers.txt
  common/dynamic_modifiers/NCO_dynamic_modifiers.txt
  common/ideas/AA_corruption_laws.txt
  common/ideas/AA_law_economics.txt
  common/modifier_definitions/MD_cac_modifier_definitions.txt
  common/modifier_definitions/NCO_modifier_definitions.txt
  common/on_actions/MD_cac_on_actions.txt
  common/scripted_effects/00_MD_cac_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/NCO_scripted_effects.txt
  common/scripted_guis/NCO_scripted_guis.txt
  common/scripted_localisation/MD_cnc_scripted_localisation.txt
  common/scripted_localisation/money_scripted_localisation.txt
  interface/MD_cnc__company_detail.gui
  interface/MD_cnc_interface.gui
  localisation/english/MD_cac_companies_names_l_english.yml
  localisation/english/MD_cac_l_english.yml
  localisation/english/MD_cnc_companies_names_l_english.yml
  localisation/english/MD_cnc_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Revamped PHI Generals as well as the history file
  common/characters/PHI.txt
  gfx/leaders/PHI/Portrait_Angelo_Reyes.dds
  gfx/leaders/PHI/Portrait_Benjamin_Defensor.dds
  gfx/leaders/PHI/Portrait_Caesar_Taccad.dds
  gfx/leaders/PHI/Portrait_Dionisio_Santiago.dds
  gfx/leaders/PHI/Portrait_Edgar_Fallorina.dds
  gfx/leaders/PHI/Portrait_Gregorio_Catapang.dds
  gfx/leaders/PHI/Portrait_Hernando_Iriberri.dds
  gfx/leaders/PHI/Portrait_Jaime_Delossantos.dds
  gfx/leaders/PHI/Portrait_Jessie_Dellosa.dds
  gfx/leaders/PHI/Portrait_Jesus_Millano.dds
  gfx/leaders/PHI/Portrait_Joel_Velarmino.dds
  gfx/leaders/PHI/Portrait_Narciso_Abaya.dds
  gfx/leaders/PHI/Portrait_Ronald_Mercado.dds
  gfx/leaders/PHI/Portrait_Roy_Cimatu.dds
  gfx/leaders/PHI/small/Portrait_Angelo_Reyes_small.dds
  gfx/leaders/PHI/small/Portrait_Benjamin_Defensor_small.dds
  gfx/leaders/PHI/small/Portrait_Caesar_Taccad_small.dds
  gfx/leaders/PHI/small/Portrait_Dionisio_Santiago_small.dds
  gfx/leaders/PHI/small/Portrait_Edgar_Fallorina_small.dds
  gfx/leaders/PHI/small/Portrait_Gregorio_Catapang_small.dds
  gfx/leaders/PHI/small/Portrait_Hernando_Iriberri_small.dds
  gfx/leaders/PHI/small/Portrait_Jaime_Delossantos_small.dds
  gfx/leaders/PHI/small/Portrait_Jessie_Dellosa_small.dds
  gfx/leaders/PHI/small/Portrait_Jesus_Millano_small.dds
  gfx/leaders/PHI/small/Portrait_Joel_Velarmino_small.dds
  gfx/leaders/PHI/small/Portrait_Narciso_Abaya_small.dds
  gfx/leaders/PHI/small/Portrait_Ronald_Mercado_small.dds
  gfx/leaders/PHI/small/Portrait_Roy_Cimatu_small.dds
  history/countries/PHI - Philippines.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed some stuff at the Characters file for PHI
  common/characters/PHI.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/replaced_from_vanilla_research_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_DEN_l_english.yml
  localisation/english/MD_focus_FRA_l_english.yml
  localisation/english/MD_focus_GEO_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_focus_TUR_l_english.yml
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_techs_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

test
  test.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_NKO_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

test
  test2.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

test
  test3.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  common/national_focus/germany.txt
  common/scripted_triggers/00_scripted_triggers.txt
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

test
  test4.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_money_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Korean errorlog fix
  common/national_focus/korea_north.txt
  common/national_focus/korea_south.txt
  common/national_focus/korea_unified.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Test
  test5.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Test
  test2.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

TEst
  test2.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed yaml
  .github/workflows/coding-pipeline.yml
  test.txt
  test2.txt
  test3.txt
  test4.txt
  test5.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Pages
  .github/workflows/coding-pipeline.yml
  .github/workflows/github-pages.yml
  .gitlab-ci.yml
Due: none

Starting more documentation
  .github/workflows/coding-pipeline.yml
  .github/workflows/github-pages.yml
  docs/_config.yml
  docs/_layouts/default.html
  docs/assets/css/main.css
  docs/getting-started.md
  docs/guides.md
  docs/index.md
Due: none

updated with new file structure
  docs/_config.yml
Due: none

Refactored and adjusted pathing
  .github/workflows/coding-pipeline.yml
  docs/_config.yml
  docs/_sidebar.md
  docs/changelogs.md
  docs/countries-list.md
  docs/dev-diaries-list.md
Due: none

Fixed
  descriptions/descriptions_EN.txt
  descriptions/descriptions_RU.txt
  descriptions/descriptions_SC.txt
  docs/TUTORIAL-EUROPEAN-UNION-–-VERSION-1.5.0.md
  docs/User-Tutorials.md
  docs/User-Tutorials/Military-Tutorial.md
  docs/_config.yml
  docs/changelogs.md
  docs/dev-resources/add-missile-icons.md
  docs/dev-resources/art-stanadards.md
  docs/dev-resources/authentication-failed-cloning-repo.md
  docs/dev-resources/code-resource.md
  docs/dev-resources/error-debug-codes.md
  docs/dev-resources/focus-tree-lifecycle-checklist.md
  docs/dev-resources/focus-tree-tool.md
  docs/dev-resources/gfx-entry-generator.md
  docs/dev-resources/knowledge-based-resources.md
  docs/dev-resources/localization-tool.md
  docs/dev-resources/logging-tool.md
  docs/dev-resources/new-general-guidelines.md
  docs/dev-resources/unit-name-lists.md
  docs/guides/European-Union-Law-Flowchart.md
  docs/index.md
  docs/misc/unique-cheats.md
  docs/player-tutorials/economy-tutorial.md
  docs/player-tutorials/eu-law-flowchart.md
  docs/player-tutorials/eu-tutorial.md
  docs/player-tutorials/military-tutorial.md
  docs/player-tutorials/troubleshooting-guide.md
Due: none
