Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

SOV 1965_SAM Fix
  gfx/interface/technologies/SOV/MISSILE/1965_SAM.dds
Due: none

Update zz_mio_unlock_catalog.gui
  interface/military_industrial_organization/zz_mio_unlock_catalog.gui
Due: none

still hating scripted gui
  common/scripted_guis/00_mio_unlock_catalog.txt
  interface/military_industrial_organization/zz_mio_unlock_catalog.gui
  localisation/english/MD_mio_catalog_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 00_mio_unlock_catalog.txt
  common/scripted_guis/00_mio_unlock_catalog.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Naval Fusion Engines - Naval Jet Engines
  gfx/interface/technologies/0_generic/naval/TREACTOR5.dds
  gfx/interface/technologies/0_generic/naval/TREACTOR6.dds
  gfx/interface/technologies/0_modules/ship_builder/JET1.dds
  gfx/interface/technologies/0_modules/ship_builder/JET2.dds
  gfx/interface/technologies/0_modules/ship_builder/JET3.dds
  gfx/interface/technologies/0_modules/ship_builder/JET4.dds
  gfx/interface/technologies/0_modules/ship_builder/JET5.dds
  gfx/interface/technologies/0_modules/ship_builder/JET6.dds
  gfx/interface/technologies/0_modules/ship_builder/tech_naval_fusion_engine_2.dds
  gfx/interface/technologies/0_modules/ship_builder/tech_naval_fusion_engine_3.dds
  gfx/interface/technologies/0_modules/ship_builder/tech_naval_fusion_engine_4.dds
  interface/equipmentdesignermoduleicons.gfx
  interface/mdult_Naval_Technologies_mtg.gfx
  interface/mdult_missiles.gfx
Due: none

POL double effects from DoFI fixed
  common/decisions/Poland.txt
  events/Poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ALG & BUL decisions double effects fixed
  common/decisions/Algeria.txt
  common/decisions/bulgaria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL more fixes
  common/decisions/Poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix duplicate OR conditions, simplify UAR strategy, flatten nested OR
  common/achievements/MD_achievements.txt
  common/ai_strategy/MD_econ_ai.txt
  common/ai_strategy/UAR.txt
  common/autonomous_states/MD_russian_autonomies.txt
  common/decisions/Italy.txt
  common/decisions/free_russia.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/02_EU_POTEF_shared.txt
  common/national_focus/05_italy.txt
  common/national_focus/poland.txt
  common/national_focus/spain.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_triggers/05_misc_mechanic_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Replace TAG = { exists = yes/no } with flat country_exists trigger
  common/decisions/05_japan.txt
  common/decisions/Belarus.txt
  common/decisions/Burma.txt
  common/decisions/China.txt
  common/decisions/Syria.txt
  common/decisions/UnitedArabRepublic.txt
  common/decisions/netherlands.txt
  common/ideas/Belarusian.txt
  common/ideas/netherlands.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/military_industrial_organization/organizations/MD_ROM_organizations.txt
  common/national_focus/05_india.txt
  common/national_focus/05_israel.txt
  common/national_focus/05_japan.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/Cascadia.txt
  common/national_focus/Republic of Lakota.txt
  common/national_focus/Southern_Republic_of_America.txt
  common/national_focus/armenia.txt
  common/national_focus/bulgaria.txt
  common/national_focus/centralasia.txt
  common/national_focus/free_states_of_america.txt
  common/national_focus/greenland.txt
  common/national_focus/poland.txt
  common/national_focus/sweden.txt
  common/national_focus/syria.txt
  common/national_focus/usa.txt
  common/on_actions/99_CHI_on_actions.txt
  common/on_actions/99_KOR_on_actions.txt
  common/scripted_effects/99_AI_influence_scripted_effects.txt
  common/scripted_guis/99_CZE_scripted_gui.txt
  events/Syria_Focus_Events.txt
  events/United States.txt
  events/investments_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix garbled FROM/THIS scope keywords in country_exists conversion
  common/decisions/UnitedArabRepublic.txt
  common/scripted_effects/99_AI_influence_scripted_effects.txt
  events/investments_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix audit issues in optimization branch
  common/autonomous_states/MD_russian_autonomies.txt
  common/decisions/05_ENG_decisions.txt
  common/decisions/UnitedArabRepublic.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/02_EU_POTEF_shared.txt
  common/on_actions/99_SER_on_actions.txt
  common/scripted_triggers/00_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add is_X_nation runtime check to common mistakes validator
  tools/linting/check_common_mistakes.py
Due: none

Reverting some uneneded checks
  common/ai_strategy/LBA.txt
  common/ai_strategy/NATO.txt
  common/ai_strategy/NIG.txt
  common/autonomous_states/MD_default_autonomies.txt
  common/autonomous_states/MD_uar_autonomies.txt
  common/decisions/Political Desicions.txt
  common/decisions/categories/00_arab_spring.txt
  common/decisions/categories/NATO_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated defines + removed defunct scripted GUIs
  common/defines/MD_defines.lua
  common/scripted_guis/99_PER_scripted_guis.txt
  common/scripted_guis/99_SWE_scripted_guis.txt
  interface/MD_PER_decision.gfx
  interface/MD_SWE_gui.gui
  interface/iran_revolution_recovery.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed findings from the reveiw
  common/ai_strategy/LBA.txt
  common/ai_strategy/NATO.txt
  common/ai_strategy/NIG.txt
  common/autonomous_states/MD_default_autonomies.txt
  common/autonomous_states/MD_uar_autonomies.txt
  common/decisions/Political Desicions.txt
  common/decisions/Sudan.txt
  common/decisions/Syria.txt
  common/decisions/Turkey.txt
  common/decisions/categories/00_arab_spring.txt
  common/decisions/categories/NATO_decision_categories.txt
  common/decisions/transnistria.txt
  common/national_focus/05_belarus.txt
  common/national_focus/05_netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL party popularity fixes
  common/decisions/Poland.txt
  events/Poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL state run economy overhaul + fixes in progress
  common/decisions/Poland.txt
  common/decisions/categories/poland_decision_categories.txt
  common/scripted_guis/99_POL_scripted_gui.txt
  common/scripted_localisation/99_POL_scripted_localization.txt
  interface/pol_scripted_gui.gui
  localisation/english/MD_focus_POL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

POL sre fixes + changelog
  Changelog.txt
  common/decisions/categories/poland_decision_categories.txt
  common/ideas/Polish.txt
  common/scripted_guis/99_POL_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

quick fix
  common/decisions/Poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

idk maybe it will be better
  common/decisions/Poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL polsa and dofi events skip payment + all number_state_building and number_random_building scripted effects have a skip_payment check
  Changelog.txt
  common/decisions/Poland.txt
  common/scripted_effects/00_scripted_effects.txt
  events/Poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog
  Changelog.txt
Due: none

fix
  common/scripted_effects/00_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix 2
  common/scripted_effects/00_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

refactor: adjust unit equipment, clean up equipment variants, comment out gfx data, and update division templates
  common/doctrines/subdoctrines/land/land_equipment.txt
  gfx/train_gfx_database/NSB_generic.txt
  history/countries/FRA - France.txt
  history/countries/ROM - Romania.txt
  history/units/AGL_2000_nonbba.txt
  history/units/SWE_2000_nonnsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix raid categories scope crash (Fixes #1223)
  common/raids/categories/raid_categories.txt
  common/scripted_triggers/01_raids_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

military character fixes
  common/characters/GRN.txt
  common/national_focus/greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Colonial Subsidy Loc Fix
  localisation/braz_por/MD_focus_GRN_l_braz_por.yml
  localisation/english/MD_focus_GRN_l_english.yml
  localisation/french/MD_focus_GRN_l_french.yml
  localisation/german/MD_focus_GRN_l_german.yml
  localisation/korean/MD_focus_GRN_l_korean.yml
  localisation/polish/MD_focus_GRN_l_polish.yml
  localisation/simp_chinese/MD_focus_GRN_l_simp_chinese.yml
  localisation/spanish/MD_focus_GRN_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

refactor: replace state variable pointers with event targets for improved investment calculation scoping
  common/scripted_effects/99_investment_scripted_effects.txt
  events/investments_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

military ideas fixes
  common/ideas/Greenlandic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

refactor: move investment duration calculations into a precompute scripted effect and replace any_state with random_state for consistency
  common/scripted_effects/99_investment_scripted_effects.txt
  events/investments_events.txt
  history/countries/CHI - China.txt
  history/countries/USA - USA.txt
  history/units/ENG_2000_nonnsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix: address PR review feedback - remove unnecessary comments and commented-out code
  common/raids/categories/raid_categories.txt
  gfx/train_gfx_database/NSB_generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix formables
  common/decisions/categories/formable_nations.txt
  common/decisions/formable_nation_decisions.txt
  common/scripted_localisation/03_formable_names_scripted_localisation.txt
  localisation/braz_por/MD_formable_nations_l_braz_por.yml
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_formable_nations_l_english.yml
  localisation/french/MD_formable_nations_l_french.yml
  localisation/german/MD_formable_nations_l_german.yml
  localisation/japanese/MD_formable_nations_l_japanese.yml
  localisation/korean/MD_formable_nations_l_korean.yml
  localisation/polish/MD_formable_nations_l_polish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Angevin Empire formable
  common/decisions/categories/formable_nations.txt
  common/decisions/formable_nation_decisions.txt
  common/scripted_localisation/03_formable_names_scripted_localisation.txt
  common/scripted_triggers/MD_regional_owned_triggers.txt
  docs/src/content/tutorials/formable-nations.md
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_formable_nations_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
