Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

doctrines are finished
  common/doctrines/grand_doctrines/air_doctrine.txt
  common/doctrines/subdoctrines/air/air.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed an Indonesian politican name
  Changelog.txt
  common/scripted_effects/IND_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleanup and money income on Russian content
  Changelog.txt
  common/national_focus/russia.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed some minor issues with Iran Parliament and add a new internal faction decisions
  Changelog.txt
  common/decisions/Internal Factions.txt
  events/Iran.txt
  localisation/english/MD_internal_factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes for UAE, KOR, UAE
  common/ideas/Arab Spirits.txt
  common/ideas/Korea.txt
  common/ideas/Singapore.txt
  common/national_focus/korea_south.txt
  common/national_focus/singapore.txt
  events/Singapore.txt
  localisation/english/MD_focus_KOR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Final MP Addition Before Merge
  Changelog.txt
  common/decisions/99_mp_decisions.txt
  common/ideas/MP_ideas.txt
  localisation/english/MD_decisions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

CZE koruna party and focus triggers update
  common/national_focus/czech_republic.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  gfx/texticons/parties_icons/czechia/CZE_Monarchism.dds
  interface/MD_parties_icons.gfx
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Final Fix Before Merge
  common/national_focus/singapore.txt
  localisation/english/MD_focus_SIN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Converted GCA to new faction system
  common/ai_strategy/VEN.txt
  common/factions/goals/faction_manifests.txt
  common/factions/rules/custom_faction_rules.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/templates/99_VEN.txt
  common/ideas/Factions.txt
  common/national_focus/venezuela.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  events/Venezuela.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes
  common/buildings/00_buildings.txt
  common/decisions/05_Sweden_decision.txt
  common/ideas/Generic Ideas.txt
  common/ideas/Russian.txt
  common/ideas/Swedish.txt
  common/ideas/Swiss.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  common/national_focus/sweden.txt
  history/countries/SWE - Sweden.txt
  localisation/english/MD_doctrines_ncns_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

CZE koruna triggers and filters
  common/national_focus/czech_republic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Converted Japanese faction to new faction system
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_goals_short_term.txt
  common/factions/templates/99_JAP.txt
  common/script_constants/country_groups.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleaned up the error log some more
  common/factions/goals/faction_sco_goals.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/templates/00_GCC.txt
  common/factions/templates/99_ARM.txt
  common/factions/templates/99_BLR.txt
  common/factions/templates/99_BRA.txt
  common/factions/templates/99_CHI.txt
  common/factions/templates/99_COM.txt
  common/factions/templates/99_EGY.txt
  common/factions/templates/99_ENG.txt
  common/factions/templates/99_FRA.txt
  common/factions/templates/99_GER.txt
  common/factions/templates/99_JAP.txt
  common/factions/templates/99_KOR.txt
  common/factions/templates/99_NIG.txt
  common/factions/templates/99_SOO.txt
  common/factions/templates/99_SOV.txt
  common/national_focus/uk.txt
  common/peace_conference/cost_modifiers/faction_peace_action_modifiers.txt
  events/Korea.txt
  history/countries/CHE - Chechnya.txt
  interface/countryintelligenceagencyview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on factions
  common/factions/rules/groups/rule_groups.txt
  common/factions/rules/joining_rules.txt
  common/factions/templates/99_ENG.txt
  common/factions/templates/99_IRQ.txt
  common/factions/templates/99_TUR.txt
  common/ideas/Factions.txt
  common/national_focus/iraq2.txt
  common/national_focus/uk.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on factions
  common/factions/rules/custom_faction_rules.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/templates/99_SOV.txt
  common/ideas/Factions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  common/scripted_triggers/00_scripted_triggers.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed
  common/factions/rules/custom_faction_rules.txt
  common/factions/templates/99_SYR.txt
  common/ideas/Factions.txt
  common/national_focus/syria.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  events/Syria_Focus_Events.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

CZE royal alliance event polished
  common/national_focus/czech_republic.txt
  events/Czech Republic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

SCO Goals
  common/doctrines/subdoctrines/air/air.txt
  common/factions/goals/faction_goals_short_term.txt
  common/factions/goals/faction_sco_goals.txt
  common/factions/rules/call_to_war_rules.txt
  common/factions/rules/dismissal_rules.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/rules/joining_rules.txt
  common/factions/rules/war_declaration_rules.txt
  common/factions/templates/99_CHI.txt
  common/national_focus/china.txt
  gfx/interface/equipmentdesigner/graphic_db/00_tank_icons.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

add more nato stuff, prepare NATO CSTO decisions
  common/decisions/NATO.txt
  common/decisions/categories/NATO_decision_categories.txt
  common/factions/goals/faction_goals_long_term.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_nato_goals.txt
  common/scripted_effects/01_NATO_effects.txt
  events/NATO_system.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Removed all of the unused factions I can find
  common/ideas/Factions.txt
  common/ideas/Russian.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

yet more completion
  common/factions/rules/custom_faction_rules.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/templates/00_EU.txt
  common/factions/templates/00_multiplayer.txt
  common/factions/templates/99_BUL_.txt
  common/factions/templates/99_CUB.txt
  common/factions/templates/99_GEO.txt
  common/factions/templates/99_GRE.txt
  common/factions/templates/99_ISR.txt
  common/factions/templates/99_LBY.txt
  common/factions/templates/99_PER.txt
  common/factions/templates/99_RAJ.txt
  common/factions/templates/99_SOV.txt
  common/factions/templates/99_SWI.txt
  common/factions/templates/99_SYR.txt
  common/factions/templates/99_TAJ.txt
  common/factions/templates/99_UAR.txt
  common/factions/templates/99_UKR.txt
  common/factions/templates/99_USA.txt
  common/ideas/Factions.txt
  common/national_focus/ukraine.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  events/Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More cleanup and work
  common/factions/templates/00_multiplayer.txt
  common/factions/templates/99_BUL_.txt
  common/factions/templates/99_COM.txt
  common/factions/templates/99_CUB.txt
  common/factions/templates/99_ISR.txt
  common/factions/templates/99_RAJ.txt
  common/factions/templates/99_SOO.txt
  common/ideas/Cuban.txt
  common/ideas/Factions.txt
  common/national_focus/05_cuba.txt
  common/national_focus/israel_tree.txt
  events/comoro_events.txt
  localisation/english/MD_focus_CUB_l_english.yml
  localisation/english/MD_focus_ISR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more cleanup
  common/factions/templates/99_ARM.txt
  common/factions/templates/99_BUL.txt
  common/factions/templates/99_ENG.txt
  common/factions/templates/99_FRA.txt
  common/factions/templates/99_GEO.txt
  common/factions/templates/99_GER.txt
  common/factions/templates/99_GRE.txt
  common/factions/templates/99_IRQ.txt
  common/factions/templates/99_ISR.txt
  common/factions/templates/99_JAP.txt
  common/factions/templates/99_LBY.txt
  common/factions/templates/99_NIG.txt
  common/national_focus/armenia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

errorlog fix
  common/factions/rules/groups/rule_groups.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

faction screen unfucked
  interface/factions/countryfactionview.gui
  interface/factions/faction_ping_window.gui
  interface/factions/new_faction_window.gui
  interface/frontendgamesetupview.gui
Due: none

errorlog fix
  Millennium_Dawn-ncns.mod
  descriptor.mod
  gfx/interface/bg_rangers.dds
  interface/countrydoctrinetreeview.gui
  interface/countrytechnologyview.gfx
  interface/doctrines/doctrines_view.gui
  interface/factions/factions.gfx
  interface/goals.gfx
Due: check-mod-file-encoding

POL REP decisions and events optimized
  common/decisions/Poland.txt
  events/Poland.txt
  localisation/english/MD_focus_POL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Faction button on topbar
  interface/topbar.gui
Due: none

POL REP rail baltica decision and events optimized
  common/decisions/Poland.txt
  events/Poland.txt
  localisation/english/MD_focus_POL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

now fixed
  events/Poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing SPR decision SPR_install_the_carlists_decision visibility when country flag SPR_carlist_rising is set
  common/decisions/Spain.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revert some SCO
  common/factions/templates/99_CHI.txt
  common/national_focus/china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Topbar button adjustment
  interface/MD_countrymissilesview.gui
  interface/eu.gui
Due: none

Update china.txt
  common/national_focus/china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Assign group to faction goal
  common/factions/goals/faction_goals.txt
  common/factions/goals/faction_goals_long_term.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_goals_short_term.txt
  common/factions/goals/faction_nato_goals.txt
  common/factions/goals/faction_sco_goals.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

SCO Fixes
  common/factions/goals/faction_sco_goals.txt
  common/factions/rules/joining_rules.txt
  common/national_focus/china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed crashing factions menu
  common/decisions/China.txt
  common/factions/goals/faction_goals_long_term.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_goals_short_term.txt
  common/factions/rules/change_leader_rules.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/templates/99_SOV.txt
  common/national_focus/china.txt
  common/scripted_effects/01_NATO_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/decisions/China.txt
  common/factions/goals/faction_goals_long_term.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/rules/call_to_war_rules.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/templates/99_CHI.txt
  common/national_focus/china.txt
  common/national_focus/india.txt
  common/national_focus/singapore.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Small Fix
  common/ideas/Factions.txt
  common/national_focus/china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
