Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

fixed UI for the medium tank
  interface/equipmentdesigner/tanks/tank_chassis_medium_tank_jap.gui
Due: none

fixed minor issues
  Changelog.txt
  interface/equipmentdesigner/tanks/tank_chassis_medium_tank_flame_jap.gui
  interface/equipmentupgradedesignerwindow.gui
Due: none

Fixed broken repeatable decision
  Changelog.txt
  common/decisions/Bolivia.txt
  localisation/english/MD_focus_BOL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed a minor issue
  Changelog.txt
  common/scripted_effects/00_influence_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed annexed nations from influence arrays
  common/national_focus/spain.txt
  common/on_actions/03_wtt_on_actions.txt
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work on loc and stuff
  common/on_actions/99_CHI_on_actions.txt
  common/technologies/engineering.txt
  events/Taiwan.txt
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed decision AI
  Changelog.txt
  common/decisions/Influence Decisions.txt
  common/decisions/Internal Factions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adjusting starting production amounts, adding techs to adjust production of chip
  Changelog.txt
  common/buildings/00_buildings.txt
  common/scripted_effects/00_economic_effects.txt
  common/technologies/engineering.txt
  localisation/english/replace/replaced_from_vanilla_buildings_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

adding additional ideas to TAI, changelog updates
  Changelog.txt
  common/ideas/Chinese.txt
  common/technologies/engineering.txt
  history/countries/TAI - Taiwan.txt
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

comoros work
  common/decisions/05_comoros_decisions.txt
  common/decisions/categories/05_comoros_categories.txt
  common/national_focus/05_comoros.txt
  events/France.txt
  events/Italy.txt
  events/comoros.txt
  history/countries/COM - Comoros.txt
  localisation/english/MD_focus_COM_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

finalized techs, tweaked some values, added loc for all techx
  common/ideas/Chinese.txt
  common/technologies/engineering.txt
  localisation/english/MD_techs_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed a few loc errors
  localisation/english/MD_techs_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

setup basic TSMC graphics, setting up TSMC for TAI
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/scripted_effects/00_economic_effects.txt
  gfx/interface/ideas/companies/China/tsmc_company.dds
  gfx/interface/ideas/economy/tsmc.dds
  interface/MD_ideas.gfx
  localisation/english/MD_focus_CHE_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add new country-specific achievements and localization entries
  Changelog.txt
  common/achievements/MD_achievements.txt
  localisation/english/MD_custom_achievements_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/scripted_effects/00_yearly_effects.txt
  events/comoros.txt
  localisation/english/MD_focus_COM_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

added tsmc for TAI
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/scripted_effects/00_microchip_effects.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

added inflation effects, fixed dynamic modifier errors, fixed errors in MIO
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/scripted_effects/00_economic_effects.txt
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

auto-enabled AI for drawing from storage, final inital UI tweaks for implementation
  common/scripted_effects/resource_storage_effects.txt
  interface/resource_storage.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Comments
  common/decisions/00_resource_storage_missions.txt
  common/decisions/categories/00_resource_storage_category.txt
  common/on_actions/MD_resource_storage_on_actions.txt
  common/scripted_effects/00_resource_storage_effects.txt
  common/scripted_guis/00_resource_storage_gui.txt
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

on_actions
  common/on_actions/00_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed comoros from the annexations
  common/on_actions/999_game_rules_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Converted Naxalite event triggers from MTTH to `on_monthly_RAJ` for improved performance and consistency
  Changelog.txt
  common/on_actions/99_RAJ_on_actions.txt
  events/Indian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add new achievements for various countries
  common/achievements/MD_achievements.txt
  localisation/english/MD_custom_achievements_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More history file cleanup
  common/special_projects/projects/tank_module_projects.txt
  common/technologies/NSB_armor.txt
  history/countries/CAS - Cascadia.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/FLA - Florida.txt
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/HWI - Hawaii.txt
  history/countries/IDH - Idaho.txt
  history/countries/IOM - Isle of Mann.txt
  history/countries/ISR - Israel.txt
  history/countries/ITA - Italy.txt
  history/countries/KAN - Kansas.txt
  history/countries/LKT - Lakota.txt
  history/countries/NYK - New York.txt
  history/countries/PTR - Puerto Rico.txt
  history/countries/TEX - Texas.txt
  history/countries/UDT - Union of Deseret.txt
  history/countries/USB - Free States of America.txt
  interface/special_projects/MD_project.gfx
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed public war weariness system not properly triggering
  Changelog.txt
  common/dynamic_modifiers/02_AFG_dynamic_modifiers.txt
  common/dynamic_modifiers/06_CHI_dynamic_modifiers.txt
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/dynamic_modifiers/15_cuba_dynamic_modifiers.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/00_public_war_weariness.txt
  common/scripted_triggers/MD_Anti_Bully_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleanup AB trigger
  common/scripted_triggers/MD_Anti_Bully_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed a few errors in money system
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

test
  common/map_modes/00_influence_map_mode.txt
  common/map_modes/01_economy_energy_map_modes.txt
  common/map_modes/EU_map_mode.txt
  common/map_modes/GCC_map_mode.txt
  common/map_modes/SCO_map_mode.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the color scheme
  common/map_modes/00_influence_map_mode.txt
  common/map_modes/01_economy_energy_map_modes.txt
  common/map_modes/EU_map_mode.txt
  common/map_modes/GCC_map_mode.txt
  common/map_modes/SCO_map_mode.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more removal of division
  common/abilities/generic_leader_abilities.txt
  common/resistance_compliance_modifiers/resistance_modifiers.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_effects/99_afghanistan_scripted_effects.txt
  common/scripted_effects/99_generic_focus_tree.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more divisions
  events/Econ_events.txt
  events/Syria_Focus_Events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

guides and documentation
  docs/dev-resources/code-resource.md
  docs/dev-resources/code-stylization-guide.md
Due: none

changelog
  Changelog.txt
Due: none

Match the font settings to vanilla
  interface/core.gfx
Due: none

Fix: Addressed investment exploit by implementing runtime validation to prevent treasury bypass while paused (Issue #374)
  Changelog.txt
  common/scripted_guis/01_investment_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix main menu scaling issue on large monitors
  Changelog.txt
  interface/frontendmainview.gui
Due: none

Fix main menu scaling issue on large monitors
  interface/frontendmainview.gui
Due: none
