Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Update USA.txt
  common/decisions/USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Azerbaijan.txt
  common/ideas/Azerbaijan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update zz_ROM_Defence_Companies.txt
  common/ideas/zz_ROM_Defence_Companies.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update fiji.txt
  common/national_focus/fiji.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 00_money_system.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 99_PER_scripted_effects.txt
  common/scripted_effects/99_PER_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Delete 99_ROM_scripted_localisation.txt
  common/scripted_localisation/99_ROM_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_tank_chassis.txt
  common/units/equipment/MD_tank_chassis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_utility_vehicle.txt
  common/units/equipment/MD_utility_vehicle.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_x_tank_chassis.txt
  common/units/equipment/MD_x_tank_chassis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Iran.txt
  events/Iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Middle East Peace Plan.txt
  events/Middle East Peace Plan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update saddam_hussein.dds
  gfx/leaders/IRQ/saddam_hussein.dds
Due: none

Update MD_autonomy_icons.gfx
  interface/MD_autonomy_icons.gfx
Due: none

Update MD_countries_cosmetic_l_english.yml
  localisation/english/MD_countries_cosmetic_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update MD_money_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Style fix
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  events/Romania.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_CHI_organizations.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix
  common/decisions/Germany.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/national_focus/indonesia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/military_industrial_organization/organizations/MD_AST_organizations.txt
  common/military_industrial_organization/organizations/MD_BRA_organizations.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/military_industrial_organization/organizations/MD_ROM_organizations.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes
  common/on_actions/99_HOL_on_actions.txt
  interface/equipmentupgradedesignerwindow.gui
  interface/military_industrial_organization/industrial_organization_policies_and_traits_icons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

add initial faction stuff
  common/factions/goals/faction_goals.txt
  common/factions/goals/faction_goals_long_term.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_goals_short_term.txt
  common/factions/goals/faction_manifests.txt
  common/factions/icons/pool.txt
  common/factions/member_upgrades/member_groups/member_upgrade_groups.txt
  common/factions/member_upgrades/member_upgrades.txt
  common/factions/rules/call_to_war_rules.txt
  common/factions/rules/change_leader_rules.txt
  common/factions/rules/dismissal_rules.txt
  common/factions/rules/goverment_in_exile_rules.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/rules/joining_rules.txt
  common/factions/rules/manpower_contribution_rule.txt
  common/factions/rules/peace_rules.txt
  common/factions/rules/war_declaration_rules.txt
  common/factions/templates/USA.txt
  common/factions/templates/allies.txt
  common/factions/templates/axis.txt
  common/factions/templates/chinese_united_front.txt
  common/factions/templates/generic_factions.txt
  common/factions/templates/government_of_national_defense.txt
  common/factions/templates/japanese_factions.txt
  common/factions/templates/soviet_factions.txt
  common/factions/templates/unique_minor_factions.txt
  common/factions/upgrades/groups/upgrade_groups.txt
  common/factions/upgrades/upgrades.txt
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

some basic nato stuff
  common/defines/MD_defines.lua
  common/factions/rules/joining_rules.txt
  common/factions/rules/peace_rules.txt
  common/factions/templates/allies.txt
  common/factions/templates/axis.txt
  common/factions/templates/chinese_united_front.txt
  common/factions/templates/generic_factions.txt
  common/factions/templates/government_of_national_defense.txt
  common/factions/templates/japanese_factions.txt
  common/factions/templates/nato.txt
  common/factions/templates/soviet_factions.txt
  common/factions/templates/unique_minor_factions.txt
  history/countries/USA - USA.txt
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

default NATO goals
  common/factions/goals/faction_goals_long_term.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_goals_short_term.txt
  common/factions/templates/nato.txt
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

AOR stuff
  common/collections/collections.txt
  common/factions/goals/faction_manifests.txt
  common/factions/rules/joining_rules.txt
  common/factions/templates/aor.txt
  history/countries/PER - Iran.txt
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Simplifcation of common code, removed a ton of ancient code
  common/collections/generic_collections.txt
  common/decisions/Political Desicions.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/01_tfv_on_actions.txt
  common/scripted_effects/00_budget_effects.txt
  common/scripted_effects/00_internal_faction_effects.txt
  common/scripted_effects/00_middle_east_scripted_effects.txt
  common/scripted_effects/00_scriptlanguage.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
  common/scripted_effects/01_NATO_effects.txt
  common/scripted_effects/01_statehood_effects.txt
  common/scripted_effects/99_afghanistan_scripted_effects.txt
  common/scripted_effects/99_china_effects.txt
  events/protests.txt
  gfx/interface/equipmentdesigner/afv/Countries/italy/ita_apc_blueprint.dds
  gfx/interface/equipmentdesigner/afv/Countries/italy/ita_apc_gun.dds
  gfx/interface/equipmentdesigner/afv/Countries/italy/ita_apc_suspension.dds
  gfx/interface/equipmentdesigner/afv/Countries/italy/ita_apc_turret.dds
  interface/countrystateview.gui
  localisation/english/MD_collections_l_english.yml
  localisation/english/MD_dynamic_scripting_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

stuff
  Millennium_Dawn-ncns.mod
  common/factions/goals/faction_manifests.txt
  common/factions/rules/call_to_war_rules.txt
  common/factions/rules/change_leader_rules.txt
  common/factions/rules/dismissal_rules.txt
  common/factions/rules/goverment_in_exile_rules.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/rules/joining_rules.txt
  common/factions/rules/manpower_contribution_rule.txt
  common/factions/rules/peace_rules.txt
  common/factions/rules/war_declaration_rules.txt
  common/factions/templates/aor.txt
  common/factions/templates/nato.txt
  common/peace_conference/cost_modifiers/faction_peace_action_modifiers.txt
  common/scripted_triggers/00_scripted_triggers.txt
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Stuff
  common/factions/goals/faction_goals_long_term.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_goals_short_term.txt
  common/factions/goals/faction_manifests.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/rules/joining_rules.txt
  common/factions/rules/war_declaration_rules.txt
  common/factions/templates/HOL_brotherhood
  common/national_focus/netherlands.txt
  common/script_constants/country_groups.txt
  common/scripted_effects/00_lar_effects.txt
  common/unit_leader/01_army_leader_traits.txt
  events/netherlands.txt
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/factions_l_english.yml
  localisation/english/traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

updated a Bosnian focus
  Changelog.txt
  common/national_focus/05_bosnia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL rep template
  common/factions/templates/POL_rep.txt
  common/national_focus/poland.txt
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

POL rep goals and rules
  common/factions/templates/POL_rep.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

special forces gui fixes
  common/idea_tags/00_idea.txt
  common/ideas/zzz_army_spirits.txt
  common/technology_tags/00_technology.txt
  interface/countrydoctrinetreeview.gui
  interface/countryofficercorpview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update china.txt
  common/national_focus/china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more cleanup
  common/factions/goals/faction_goals_long_term.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_manifests.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL rep new goal
  common/factions/goals/faction_goals_long_term.txt
  common/factions/templates/POL_rep.txt
  common/ideas/Polish.txt
  localisation/english/MD_focus_POL_l_english.yml
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix error causing crashes
  common/factions/templates/99_BRA.txt
  common/factions/templates/99_CHI.txt
  common/factions/templates/99_EGY.txt
  common/factions/templates/99_FRA.txt
  common/factions/templates/99_GER.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix typo
  localisation/english/factions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
