Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

fixes
  common/on_actions/99_ENG_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 99_ENG_on_actions.txt
  common/on_actions/99_ENG_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

intro focus tree change
  common/national_focus/Republic of Lakota.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/national_focus/Republic of Lakota.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

tech and focus fixes
  common/national_focus/Republic of Lakota.txt
  history/countries/LKT - Lakota.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Some more FP Stuff & removed HoC
  common/decisions/United_Kingdom.txt
  common/decisions/categories/ENG_decision_categories.txt
  common/decisions/netherlands.txt
  common/national_focus/05_united_kingdom.txt
  common/raids/special_forces_raids.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/united_kingdom.txt
  history/countries/ENG - United Kingdom.txt
  history/states/25-Ascension.txt
  history/states/26-Falkland Islands.txt
  history/states/824-Diego Garcia.txt
  interface/MD_autonomy_icons.gfx
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/dynamic_modifiers/02_republic_of_lakota_dynamic_modifiers.txt
  common/scripted_effects/99_LKT_scripted_effects.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More FP stuff
  common/decisions/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  common/raids/special_forces_raids.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 05_united_kingdom.txt
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

pushing befofre merging
  common/on_actions/07_nsb_on_actions.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Start events
  common/scripted_effects/00_yearly_effects.txt
  events/AIDS.txt
  events/pandemics.txt
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add files via upload
  history/units/ENG_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  common/units/names_divisions/ENG_names_divisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

started expanded FP stuff
  common/national_focus/05_united_kingdom.txt
  common/national_focus/Commonwealth_Shared.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

left tree
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/national_focus/JAP.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

tweak
  common/national_focus/Republic of Lakota.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/decisions/Political Desicions.txt
  common/decisions/formable_nation_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Union of African States (UAS) formable nation (#462)
  common/decisions/categories/different_country_flags.txt
  common/decisions/categories/formable_nations.txt
  common/decisions/formable_nation_decisions.txt
  common/scripted_triggers/MD_regional_owned_triggers.txt
  common/scripted_triggers/MD_regional_triggers.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_formable_nations_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add files via upload
  Changelog.txt
Due: none

Add files via upload
  docs/misc/authors.md
Due: none

Add UAS flag assets
  gfx/flags/UAS.tga
  gfx/flags/medium/UAS.tga
  gfx/flags/small/UAS.tga
Due: none

Updated Denmark to new POC
  common/decisions/Denmark.txt
  common/national_focus/denmark.txt
  common/scripted_effects/99_DEN_scripted_effects.txt
  history/units/ENG_2000_nsb.txt
  interface/MD_israel_gui.gui
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_DEN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more updates
  common/national_focus/denmark.txt
  localisation/english/MD_focus_DEN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Modifiers
  localisation/english/MD_dm_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

e
  gfx/leaders/ENG/Charles_Guthrie.dds
Due: none

Add files via upload
  common/units/names_divisions/SCO_names_divisions.txt
  common/units/names_divisions/SWE_names_divisions.txt
  common/units/names_divisions/WAS_names_divisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

more cleanup and solidifcation
  common/ai_strategy/00_market_access.txt
  common/ai_strategy/USA.txt
  common/dynamic_modifiers/03_italy_dynamic_modifiers.txt
  common/ideas/AA_law_budget.txt
  common/ideas/AA_law_military_ideas.txt
  common/national_focus/gulf.txt
  common/national_focus/syria.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/01_tfv_on_actions.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/TAT_political_leaders.txt
  common/scripted_triggers/00_scripted_triggers.txt
  docs/dev-resources/code-resource.md
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

singapore
  common/national_focus/singapore.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more cleanup
  common/ai_strategy/00_market_access.txt
  common/decisions/categories/poland_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

gui
  gfx/interface/scripted_gui/eng/check_uk.dds
  gfx/interface/scripted_gui/eng/square_uk.dds
Due: none

stuff
  common/decisions/United_Kingdom.txt
  common/decisions/categories/cheat_decision_categories.txt
  common/decisions/categories/united_kingdom_categories.txt
  common/national_focus/05_united_kingdom.txt
  common/on_actions/99_ENG_on_actions.txt
  common/scripted_guis/ENG_British_guis.txt
  events/united_kingdom.txt
  interface/ENG_British_guis.gui
  interface/MD_ENG_decisions.gfx
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add files via upload
  gfx/leaders/ENG/Robert_Walmsley.dds
  gfx/leaders/ENG/Sir_John_Chisholm.dds
  gfx/leaders/ENG/Sir_Kevin_Tebbit.dds
  gfx/leaders/ENG/Sir_Richard_Evans.dds
Due: none

e
  common/decisions/categories/united_kingdom_categories.txt
  interface/ENG_British_guis.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  gfx/leaders/ENG/small/Robert_Walmsley_small.dds
  gfx/leaders/ENG/small/Sir_John_Chisholm_small.dds
  gfx/leaders/ENG/small/Sir_Kevin_Tebbit_small.dds
  gfx/leaders/ENG/small/Sir_Richard_Evans_Small.dds
Due: none

Add files via upload
  common/units/names_divisions/SCO_names_divisions.txt
  common/units/names_divisions/WAS_names_divisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  common/characters/ENG.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Left and article 9 tree
  common/decisions/JAP.txt
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/JAP.txt
  common/national_focus/JAP.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

r
  gfx/interface/scripted_gui/eng/x_uk.dds
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
