Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Eurozone crisis fix (#3997)
  common/decisions/EU_voting_decisions.txt
  common/scripted_triggers/99_EU_voting_scripted_triggers.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Final Update
  common/characters/UKR.txt
  common/national_focus/05_ukraine.txt
  events/Ukraine.txt
  gfx/leaders/scientists/UKR/Oleksandr_Dehtiarev.dds
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove future prediction texts
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update 00_UKR_names.txt
  common/units/names/00_UKR_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update UKR_2000_nsb.txt
  history/units/UKR_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

validator Errors corrections
  history/units/UKR_2000_nsb.txt
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rework Armenia and Australia party localisation (#3895) (#3995)
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Italian Roman expansion tension charges
  common/national_focus/05_italy.txt
  common/scripted_effects/99_ITA_scripted_effects.txt
  localisation/english/MD_focus_ITA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More
  common/national_focus/05_libya.txt
  events/Ukraine.txt
  gfx/interface/technologies/SOV/NAV/T43.dds
  history/countries/ALB - Albania.txt
  history/countries/CHI - China.txt
  history/countries/RAJ - India.txt
  history/countries/SOV - Russia.txt
  history/countries/YEM - Yemen.txt
  history/units/ALB_2000_naval_mtg.txt
  history/units/ALG_2000_naval_mtg.txt
  history/units/BAN_2000_naval_mtg.txt
  history/units/BUL_2000_naval_mtg.txt
  history/units/CHI_2000_naval_mtg.txt
  history/units/EGY_2000_naval_mtg.txt
  history/units/LBA_2000_naval_mtg.txt
  history/units/NKO_2000_naval_mtg.txt
  history/units/PER_2000_naval_mtg.txt
  history/units/POL_2000_naval_mtg.txt
  history/units/RAJ_2000_naval_mtg.txt
  history/units/ROM_2000_naval_mtg.txt
  history/units/SOV_2000_naval_mtg.txt
  history/units/SYR_2000_naval_mtg.txt
  history/units/UKR_2000_naval_mtg.txt
  history/units/VIE_2000_naval_mtg.txt
  history/units/YEM_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove duplicated gfx call
  gfx/event_pictures/europe/ukraine - UKR/ukr_oun_flags.dds
  interface/MD_eventpictures.gfx
Due: none

Ukraine - Remove duplicated gfx call
  gfx/event_pictures/europe/ukraine - UKR/ukr_oun_flags.dds
  interface/MD_eventpictures.gfx
Due: none

Fix Algeria drug crisis spirit cleanup
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ukraine - Remove duplicated gfx call (#4001)
  gfx/event_pictures/europe/ukraine - UKR/ukr_oun_flags.dds
  interface/MD_eventpictures.gfx
Due: none

fixes
  common/scripted_guis/01_MD_protests_system.txt
  interface/MD_automation_settings.gui
  interface/MD_energy_scripted.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/scripted_localisation/00_protests_scripted_localisation.txt
  common/scripted_triggers/00_desired_law_triggers.txt
  interface/MD_automation_settings.gui
  interface/MD_countrytradeview.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Guard Algeria drug crisis spirit cleanup
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  interface/MD_energy_scripted.gui
Due: none

Fix Algeria drug crisis spirit cleanup (#3990)
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Hide WIP energy view and drop duplicate protest loc
  common/scripted_guis/01_MD_protests_system.txt
  common/scripted_guis/01_energy_gui.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  common/scripted_localisation/00_protests_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Do not register the WIP energy view
  common/scripted_guis/01_energy_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes for ui (#3994)
  common/defines/MD_defines.lua
  common/scripted_guis/01_MD_protests_system.txt
  common/scripted_triggers/00_desired_law_triggers.txt
  gfx/interface/add_national_goal_button.dds
  gfx/interface/buildings/building_icon_without_bg_strip.dds
  gfx/interface/energy_gui/energy_icon_green.dds
  gfx/interface/energy_gui/energy_icon_red.dds
  gfx/interface/tiles/md_tiled_window1.dds
  gfx/interface/tiles/md_tiled_window1_close.dds
  gfx/interface/tiles/md_tiled_window1_scrollbar.dds
  interface/MD_automation_settings.gui
  interface/MD_countryeconomyview.gui
  interface/MD_countrypoliticsview.gui
  interface/MD_countrytradeview.gfx
  interface/MD_energy_scripted.gfx
  interface/MD_energy_scripted.gui
  interface/MD_influence.gui
  interface/MD_protests_system.gui
  interface/countryconstructionsview.gui
  interface/countrydiplomacyview.gui
  interface/countryintelledger.gui
  interface/countrypoliticsview.gui
  interface/countrystateview.gfx
  interface/countrystateview.gui
  interface/countrytradeview.gui
  interface/frontendmainview.gui
  interface/ingamemenu.gui
  localisation/english/0_energy_l_english.yml
  localisation/english/MD_better_protests_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ukraine - Airforce units Names update
  common/units/names/00_UKR_names.txt
  common/units/names_ships/UKR_ship_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added 7 desctext images for Planes Modernization Decisions
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_an_bfv_development_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_an_lbl_development_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_mig29mu1_modernization_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_mig29mu2_modernization_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_planes_modernization_main.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_su25m1_modernization_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_su271m_modernization_for_tooltip.dds
  interface/MD_decisions_desc.gfx
  localisation/english/MD_focus_UKR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

adjusted artillery regiment model
  common/units/MD_land_units.txt
  common/units/MD_regimental_support.txt
  common/units/MD_special_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Convert multi-option news events to country events (#3993)
  common/decisions/05_CHI_decisions.txt
  common/national_focus/05_china.txt
  common/national_focus/05_japan.txt
  common/scripted_effects/00_yearly_effects.txt
  events/05_china.txt
  events/05_japan.txt
  events/Korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

save
  events/Ukraine.txt
  history/countries/SOV - Russia.txt
  history/units/NKO_2000_naval_mtg.txt
  history/units/SOV_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize party localisation for ALT, ANT, AQY and ARG (#3989)
  common/national_focus/05_algeria.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  history/countries/ANT - Antigua and Barbuda.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Save more ship
  history/countries/SOV - Russia.txt
  history/units/ALG_2000_naval_mtg.txt
  history/units/BUL_2000_naval_mtg.txt
  history/units/LBA_2000_naval_mtg.txt
  history/units/SER_2000_naval_mtg.txt
  history/units/SOV_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize party localisation for AUS and AZE
  common/scripted_effects/AZE_political_leaders.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  history/countries/AZE - Azerbaijan.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Point the SOO Caliphate description hook at the description key
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Event validator: placeholder art, date bound, and scheduling checks with content fixes
  .claude/docs/event-reference.md
  .claude/docs/validation-pipeline.md
  common/decisions/05_CHI_decisions.txt
  common/decisions/Algeria.txt
  common/national_focus/03_china_north_korea_joint.txt
  common/national_focus/05_armenia.txt
  common/national_focus/05_china.txt
  common/national_focus/06_MERCOSUR_shared.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/05_MERCOSUR_effects.txt
  events/05_armenia.txt
  events/05_china.txt
  events/05_japan.txt
  events/05_north_korea_events.txt
  events/05_united_kingdom.txt
  events/Afghanistan.txt
  events/Algeria.txt
  events/Azerbaijan.txt
  events/Cuba.txt
  events/Czech Republic.txt
  events/EU_news.txt
  events/Estonia.txt
  events/France.txt
  events/Hong Kong.txt
  events/Israel_events.txt
  events/Kurdistan.txt
  events/NATO_system.txt
  events/Pakistan.txt
  events/Russia.txt
  events/Sweden.txt
  events/Thailand.txt
  events/Zombies.txt
  events/balkan_history.txt
  events/mercosur.txt
  events/waronterror.txt
  tools/tests/validation/validate_events_call_scan_test.py
  tools/tests/validation/validate_events_date_scheduling_test.py
  tools/tests/validation/validate_events_metadata_checks_test.py
  tools/validation/validate_events.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

Added missing descriptions and spiced up the focus titles
  localisation/english/MD_focus_PMR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Additional Decision Icons and localization file rearrangement
  common/decisions/Ukraine.txt
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_bm_oplot.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_btr94.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_nota.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_yatahan.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_sov_mi24pu1.dds
  interface/MD_decisions.gfx
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix event picture references and news event dispatch
  common/scripted_effects/00_yearly_effects.txt
  events/05_china.txt
  events/05_japan.txt
  events/05_netherlands.txt
  events/05_north_korea_events.txt
  events/05_transnistria.txt
  events/05_united_kingdom.txt
  events/Algeria.txt
  events/Bolivia.txt
  events/Colombia.txt
  events/Counter Terror.txt
  events/Cyprus.txt
  events/Denmark.txt
  events/Econ_events.txt
  events/Event Horizon.txt
  events/bosnia_events.txt
  events/croatia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
