Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Fixy
  common/national_focus/korea_north.txt
  localisation/english/MD_focus_NKO_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on the European Union
  common/ai_strategy/SOV.txt
  common/decisions/EU_POTEF_decisions.txt
  common/decisions/EU_USoE_decisions.txt
  common/decisions/EU_voting_decisions.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  common/scripted_triggers/99_EU_voting_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

cleanup and improvements
  common/abilities/generic_leader_abilities.txt
  common/decisions/EU_POTEF_decisions.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more cleanup and work on the EU
  common/abilities/generic_leader_abilities.txt
  common/decisions/EU_voting_decisions.txt
  localisation/english/MD_doctrines_ncns_l_english.yml
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed loc
  localisation/english/MD_focus_NKO_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Removed silly extra checks
  common/ai_strategy/FRA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Removed more excessive checks
  common/ai_strategy/FRA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

speeeeeed
  common/scripted_effects/00_resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleanup
  common/national_focus/syria.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixy
  common/national_focus/korea_north.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

regional power
  common/scripted_guis/01_european_union_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleanup
  common/decisions/north_korea.txt
  common/ideas/north_korea.txt
  common/national_focus/korea_north.txt
  events/Korea.txt
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work and cleanup
  common/decisions/EU_voting_decisions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Removed Algerian flags
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fikxed content here
  common/abilities/generic_leader_abilities.txt
  common/ai_strategy/default.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_regimental_support.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Adjusted regimental support
  common/units/MD_land_units.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Removed foot infantry from motorized
  common/units/MD_land_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT diary save 1
  docs/src/content/devDiaries/059-antarctica.mdx
Due: none

ANT dev diary finish
  docs/src/assets/images/dev-diaries/059/image-01.png
  docs/src/assets/images/dev-diaries/059/image-02.png
  docs/src/assets/images/dev-diaries/059/image-03.png
  docs/src/assets/images/dev-diaries/059/image-04.png
  docs/src/assets/images/dev-diaries/059/image-05.png
  docs/src/assets/images/dev-diaries/059/image-06.png
  docs/src/content/devDiaries/059-antarctica.mdx
Due: none

ANT dev diary 2
  docs/src/content/devDiaries/059-antarctica.mdx
Due: none

ANT newline
  docs/src/content/devDiaries/059-antarctica.mdx
Due: none

Cache GDP/c bracket once in expected_spending loops (#1848)
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Consolidate copy-paste ITA volunteer spawn loops (#1852)
  common/scripted_effects/99_ITA_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Re-center productivity bonuses on the global average instead of a fixed 1000
  Changelog.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_productivity_effects.txt
  localisation/english/MD_country_economy_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Guard remove_dynamic_modifier and duplicate leader trait to cut error.log noise (#1820)
  common/ideas/international_recognition.txt
  common/national_focus/05_india.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Hide Bulgarian coring decisions once Macedonian Anschluss cores the states (#2037)
  common/decisions/bulgaria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Guard Diyarbakir PKK dynamic-modifier removal in Turkish_mafia.1200 (#1820)
  events/Turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix frozen overall_productivity: weight was multiplied by unset temp_pop
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Moved all of the icons in
  gfx/interface/politicsview/aid_button.dds
  gfx/interface/politicsview/aid_button_inactive.dds
  gfx/interface/politicsview/aid_military_button.dds
  gfx/interface/politicsview/aid_military_button_inactive.dds
  gfx/interface/politicsview/coup_button.dds
  gfx/interface/politicsview/coup_button_inactive.dds
  gfx/interface/politicsview/economic_exploitation_button.dds
  gfx/interface/politicsview/economic_exploitation_button_inactive.dds
  gfx/interface/politicsview/influence_action_button.dds
  gfx/interface/politicsview/influence_action_button_inactive.dds
  gfx/interface/politicsview/make_puppet_button.dds
  gfx/interface/politicsview/make_puppet_button_inactive.dds
  gfx/interface/politicsview/manipulate_politics_button_inactive.dds
  gfx/interface/politicsview/target_other_button.dds
  gfx/interface/politicsview/target_other_button_inactive.dds
  interface/MD_influence.gfx
Due: none

eu europeanism fixes
  common/decisions/EU_voting_decisions.txt
  common/ideas/EU_ideas.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/armenia.txt
  common/national_focus/poland.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  events/Denmark.txt
  events/Italy.txt
  history/countries/EUU - EU.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

MOre optimization and rewrites on this shit system
  common/ideas/AA_corruption_laws.txt
  common/modifier_definitions/influence_modifier_definitions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_guis/01_influence_scripted_guis.txt
  events/Econ_events.txt
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More cleanup and improvements to Influence
  common/on_actions/00_on_actions.txt
  common/on_actions/01_tfv_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/00_scripted_effects.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

influence work
  common/scripted_localisation/01_influence_scripted_localisation.txt
  events/Influence.txt
  localisation/english/MD_influence_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_guis/01_influence_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Updated
  common/scripted_localisation/01_influence_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Indonesia.txt
  events/Indonesia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed
  common/decisions/bankruptcy_decisions.txt
  common/scripted_effects/00_money_system.txt
  events/Econ_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update protests.txt
  common/decisions/protests.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
