Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Improvements and cleanup
  common/scripted_triggers/99_ALG_scripted_triggers.txt
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT changelog
  Changelog.txt
Due: none

More fixes
  common/doctrines/subdoctrines/sea/naval.txt
  common/units/MD_land_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT performance update
  common/on_actions/MD_antarctica_on_actions.txt
  common/scripted_effects/00_antarctica_effects.txt
  localisation/english/MD_antarctica_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

ANT decreased effects upper cap
  common/scripted_effects/00_antarctica_effects.txt
  localisation/english/MD_antarctica_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix additional expenses display after inflation
  localisation/english/MD_money_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

ANT changelog polishing
  Changelog.txt
Due: none

Corrected some more bugs with EU voting
  common/countries/Zombies.txt
  common/decisions/EU_voting_decisions.txt
  common/frontend/backgrounds/base_backgrounds.txt
  common/national_focus/05_canada.txt
  common/national_focus/05_germany.txt
  common/national_focus/germany.txt
  common/national_focus/spain.txt
  common/national_focus/tajikistan.txt
  common/national_focus/turkey.txt
  common/national_focus/zz_zombies.txt
  common/scripted_effects/!_cwtools_dummy_effects.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_triggers/99_EU_voting_scripted_triggers.txt
  common/units/equipment/zombie.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed interest rate, updated math format
  common/scripted_effects/00_protests_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleanup and fixed more of the EU fixes
  .claude/docs/debug-commands.md
  .claude/docs/simplification-patterns.md
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/france.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  history/countries/EUU - EU.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT removed unused variables
  common/scripted_effects/00_antarctica_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Removed EU
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_localisation/00_EU_budget_scripted_localisation.txt
  common/scripted_localisation/00_EU_scripted_localisation.txt
  interface/eu.gui
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

ANT removed unused scripted loc
  common/scripted_localisation/00_MD_antarctica_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT loc fix
  common/scripted_triggers/MD_antarctica_station_module_triggers.txt
  localisation/english/MD_antarctica_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

ANT events fix
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_antarctica_ai_effects.txt
  common/scripted_effects/00_antarctica_effects.txt
  events/MD_Antarctica.txt
  localisation/english/MD_antarctica_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Commit to refresh hallucinating validator
  localisation/english/MD_antarctica_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

ANT extra scripted station validators
  common/scripted_effects/00_yearly_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT another validator
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT styling
  common/scripted_guis/01_gdp_scripted_guis.txt
  common/special_projects/projects/antarctica_projects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes and more improvements and working flow
  common/decisions/EU_voting_decisions.txt
  common/ideas/Organizations.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/02_EU_POTEF_shared.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_localisation/00_EU_parliament_scripted_localisation.txt
  common/scripted_localisation/00_EU_voting_scripted_localisation.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  common/scripted_triggers/99_EU_voting_scripted_triggers.txt
  common/units/names_ships/EUU_ship_names.txt
  history/countries/EUU - EU.txt
  interface/eu.gui
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed EU bugs and cleaned up voting/GUI performance
  common/decisions/EU_voting_decisions.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_localisation/00_EU_parliament_scripted_localisation.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed EU header loc reference and cleaned up voting GUI redundancy
  Changelog.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed and cleaned up more content
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/02_EU_POTEF_shared.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix frontend difficulty labels: Luristan -> Republic of Logone
  localisation/braz_por/MD_frontend_l_braz_por.yml
  localisation/english/MD_frontend_l_english.yml
  localisation/french/MD_frontend_l_french.yml
  localisation/german/MD_frontend_l_german.yml
  localisation/japanese/MD_frontend_l_japanese.yml
  localisation/polish/MD_frontend_l_polish.yml
  localisation/russian/MD_frontend_l_russian.yml
  localisation/simp_chinese/MD_frontend_l_simp_chinese.yml
  localisation/spanish/MD_frontend_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

ANT changelog cleanup
  Changelog.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT removed empty scripted loc
  common/opinion_modifiers/00_Antarctica.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  common/scripted_localisation/99_LBA_scripted_localisation.txt
  resources/Dread UAR/00_UAR_scripted_localisation.txt
  resources/National Content/Old Indian Parliament/99_indian_scripted_loc.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT decision fix
  common/decisions/categories/00_antarctica_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT styling
  common/decisions/categories/00_antarctica_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT indentations
  common/decisions/00_antarctica_decisions.txt
  common/scripted_effects/00_antarctica_effects.txt
  common/scripted_localisation/00_MD_antarctica_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT styling warnings fix
  common/ideas/AA_antarctica_ideas.txt
  common/national_focus/poland.txt
  common/scripted_effects/00_antarctica_ai_effects.txt
  common/scripted_effects/00_antarctica_effects.txt
  events/MD_Antarctica.txt
  history/countries/FRA - France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ANT more code styling
  common/dynamic_modifiers/05_antarctica_modifiers.txt
  common/scripted_effects/01_international_systems_effects.txt
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/units/names_ships/EUU_ship_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

commenting out unknown
  common/national_focus/01_EU_USoE_shared.txt
  common/scripted_guis/01_european_union_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Influence system: O(N) dedup, consolidated redistribution, faster triggers
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_triggers/00_influence_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EU voting/POTEF cleanup and performance pass
  common/ai_strategy/default.txt
  common/decisions/EU_POTEF_decisions.txt
  common/decisions/EU_voting_decisions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_AI_investment_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_effects/99_investment_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_localisation/00_EU_parliament_scripted_localisation.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  docs/src/content/knownSubmods/index.yml
  docs/src/content/misc/authors.md
  docs/src/content/misc/known-submods.md
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Cleanup
  common/national_focus/05_iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed more content and issues
  common/decisions/Russia.txt
  common/decisions/categories/99_SOV_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EU draft flags to global; restore dropped POTEF/Iran gates; faction leader AI fix
  common/ai_strategy/default.txt
  common/decisions/EU_POTEF_decisions.txt
  common/decisions/EU_voting_decisions.txt
  common/national_focus/05_iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
