Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Add will_lead_to_war_with to focuses that create wargoals (mod-wide)
  common/national_focus/05_algeria.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_chechnya.txt
  common/national_focus/05_comoros.txt
  common/national_focus/05_cuba.txt
  common/national_focus/05_egypt.txt
  common/national_focus/05_georgia.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_israel.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_transnistria.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/05_ural.txt
  common/national_focus/Cascadia.txt
  common/national_focus/Crimea.txt
  common/national_focus/Hezbollah.txt
  common/national_focus/Kuban.txt
  common/national_focus/Republic of Lakota.txt
  common/national_focus/armenia.txt
  common/national_focus/centralasia.txt
  common/national_focus/france.txt
  common/national_focus/greenland.txt
  common/national_focus/gulf.txt
  common/national_focus/iraq2.txt
  common/national_focus/libya.txt
  common/national_focus/romania.txt
  common/national_focus/sweden.txt
  common/national_focus/tajikistan.txt
  common/national_focus/ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add war_with_on_* hints to decisions that declare war (clear cases)
  common/decisions/Afghanistan.txt
  common/decisions/Poland.txt
  common/decisions/Political Desicions.txt
  common/decisions/South_Ossetia.txt
  common/decisions/Syria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

RAJ AI: prioritize clearing negative starting ideas + Gujarat fallback
  .claude/docs/ai-strategy-reference.md
  common/ai_strategy/RAJ.txt
  common/decisions/India.txt
  common/national_focus/05_india.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

AI for International Hezbollah
  common/on_actions/99_HEZ_on_actions.txt
  common/scripted_effects/99_HEZ_scripted_effects.txt
  common/scripted_triggers/99_HEZ_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

RAJ: regional unrest tied to majority-faith harmony
  common/decisions/India.txt
  common/ideas/Indian.txt
  common/national_focus/05_india.txt
  common/on_actions/99_RAJ_on_actions.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

RAJ: retune faith bands (harmony 75 / unhappy 35 / crisis 20) + clearer descs
  common/decisions/India.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  history/countries/RAJ - India.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

RAJ: faith events consistent with retune + AI proactively balances opinion
  common/decisions/India.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  common/scripted_triggers/99_RAJ_scripted_triggers.txt
  events/Indian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

RAJ: restore small Christian-opinion penalty in indian_event.8 option B
  events/Indian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/scripted_effects/99_HKG_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed sylizxation and owner based inferred will lead to war with
  common/decisions/India.txt
  common/decisions/Poland.txt
  common/ideas/Indian.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_chechnya.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_india.txt
  common/national_focus/05_iran.txt
  common/national_focus/Cascadia.txt
  common/national_focus/denmark.txt
  common/national_focus/greenland.txt
  common/national_focus/libya.txt
  common/national_focus/tajikistan.txt
  common/scripted_effects/01_BRICS_effects.txt
  pyproject.toml
  tools/linting/check_common_mistakes.py
  tools/linting/tests/check_common_mistakes_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

First Try
  common/decisions/categories/99_NKO_decision_categories.txt
  common/decisions/north_korea.txt
  common/dynamic_modifiers/99_KOR_dynamic_modifiers.txt
  common/ideas/north_korea.txt
  common/national_focus/korea_north.txt
  common/on_actions/99_NKO_on_actions.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  common/scripted_guis/99_NKO_scripted_guis.txt
  common/scripted_localisation/99_NKO_scripted_localisation.txt
  common/scripted_triggers/99_NKO_scripted_triggers.txt
  events/Korea.txt
  interface/MD_NKO_guis.gui
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Items:
  common/ideas/05_united_kingdom.txt
  common/on_actions/99_ENG_on_actions.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

puwsh
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fuix loc
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixing validation errors
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

docs: add devDiaryExternal collection and version schema field
  docs/src/content.config.ts
  docs/src/content/devDiaryExternal/index.yml
  docs/src/schemas/data.ts
Due: none

docs: add version frontmatter to in-repo dev diaries
  docs/src/content/devDiaries/053-military-of-japan.mdx
  docs/src/content/devDiaries/054-performance-of-the-md-beta.mdx
  docs/src/content/devDiaries/055-algeria-le-pouvoir.mdx
  docs/src/content/devDiaries/056-technology-and-eu-expansions.mdx
  docs/src/content/devDiaries/057-geenland-holiday-paradise.mdx
  docs/src/content/devDiaries/058-the-united-kingdom.mdx
Due: none

docs: remove devDiaryArchive collection
  docs/src/content.config.ts
  docs/src/content/devDiaryArchive/index.yml
Due: none

docs: add dev diary semver sort and truncate helpers
  docs/src/shared/lib/content/dev-diary-version.ts
  docs/src/shared/lib/content/truncate-at-word.ts
Due: none

More work on Indian stuff per blazer's feedback
  common/ai_strategy/RAJ.txt
  common/decisions/India.txt
  common/decisions/categories/99_RAJ_decision_categories.txt
  common/dynamic_modifiers/99_RAJ_dynamic_modifiers.txt
  common/ideas/Indian.txt
  common/national_focus/05_india.txt
  common/on_actions/99_RAJ_on_actions.txt
  common/scripted_effects/00_startup_effects.txt
  common/scripted_effects/01_BRICS_effects.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  common/scripted_guis/01_india_scripted_guis.txt
  common/scripted_triggers/99_RAJ_scripted_triggers.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  events/BRICS_system.txt
  events/Indian.txt
  interface/india_brics_invite.gui
  localisation/english/MD_focus_RAJ_l_english.yml
  localisation/english/replace/replaced_from_goe_focus_l_english.yml
  tools/linting/check_common_mistakes.py
  tools/linting/tests/check_common_mistakes_test.py
  tools/validation/tests/validate_war_hint_test.py
  tools/validation/validate_decisions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

docs: build dev diary index from frontmatter version groups
  docs/src/pages/dev-diaries/index.astro
Due: none

docs: show date and excerpt on dev diary index cards
  docs/src/widgets/dev-diary-list/ui/DevDiaryList.astro
Due: none

docs: show version badge on dev diary article pages
  docs/src/entities/dev-diary/ui/DevDiaryArticleShell.astro
Due: none

docs: update dev diary contributor workflow for dynamic index
  docs/src/content/resources/contributing.md
  docs/templates/dev-diary-template.mdx
Due: none

docs: add dev diary version and URL collision checks
  tools/docs_checks/check_dev_diaries.py
  tools/docs_checks/check_docs.py
  tools/docs_checks/tests/check_dev_diaries_test.py
Due: none

docs: fix optional description on dev diary index cards
  docs/src/pages/dev-diaries/index.astro
Due: none

fixed some more misc issues
  localisation/english/MD_focus_RAJ_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed
  common/decisions/India.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

docs: bring index and economy-guide pages within perf budgets
  docs/src/features/toc/lib/render.ts
  docs/src/styles/app.css
  docs/src/styles/components/site-nav.css
  docs/src/styles/components/toc-tree.css
  docs/src/widgets/site-shell/ui/Header.astro
Due: none

fix: use stdlib parsing in dev diary docs check
  tools/docs_checks/check_dev_diaries.py
Due: none

Fixed more Indian issues
  common/ai_strategy/RAJ.txt
  common/decisions/India.txt
  common/decisions/categories/99_RAJ_decision_categories.txt
  common/factions/templates/99_RAJ.txt
  common/ideas/Indian.txt
  common/national_focus/05_india.txt
  common/on_actions/99_RAJ_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/01_BRICS_effects.txt
  common/scripted_triggers/99_RAJ_scripted_triggers.txt
  events/BRICS_system.txt
  events/Indian.txt
  localisation/english/MD_BRICS_events_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed more indian issues
  common/dynamic_modifiers/99_RAJ_dynamic_modifiers.txt
  common/national_focus/05_india.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed more of the issues as flagged by Blazer
  common/decisions/categories/00_decision_categories.txt
  common/decisions/categories/00_internal_faction_categories.txt
  common/decisions/categories/00_research_categories.txt
  common/decisions/categories/01_investment_decisions_category.txt
  common/decisions/categories/02_pmc_decision_categories.txt
  common/decisions/categories/coalition_decisions_categories.txt
  common/decisions/categories/different_country_flags.txt
  common/decisions/categories/free_russia_categories.txt
  common/decisions/categories/influence_decision_category.txt
  common/decisions/categories/protests.txt
  common/decisions/categories/subparty_policies.txt
  common/decisions/categories/un_voting_categories.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_effects/01_BRICS_effects.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  events/BRICS_system.txt
  events/Indian.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/decisions/categories/99_RAJ_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Convert USA resource expansion to per-state variable, drop dead clamp
  common/decisions/USA.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove dead uss_*_resolve functions and orphaned SSG conflict events (#1850)
  common/scripted_effects/99_SOV_scripted_effects.txt
  events/Russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

loc
  localisation/english/MD_focus_USA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

RAJ Validator Fixed
  common/decisions/India.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

deleted redundant variable setters
  common/scripted_effects/99_BUL_scripted_effects.txt
  common/scripted_effects/99_USR_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
