Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

trying to fix operations so they actually work
  common/operations/CT_operations.txt
  common/scripted_triggers/01_international_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH chimera AI improvemetns and bug fixes
  common/ai_strategy/ALN.txt
  common/national_focus/EH_generic.txt
  common/national_focus/generic.txt
  common/special_projects/projects/zz_event_horizon_special_projects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more operations work
  common/operations/01_operations.txt
  common/operations/CT_operations.txt
  common/raids/special_forces_raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

doing more work
  common/operation_tokens/CT_OperationTokens.txt
  common/operations/01_operations.txt
  common/raids/special_forces_raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more train stuff
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

finalizing raids and operations, starting adding loc
  common/operations/01_operations.txt
  common/raids/special_forces_raids.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

even more work on the CT system
  common/operations/01_operations.txt
  common/raids/drone_strike_raids.txt
  common/raids/special_forces_raids.txt
  events/Counter Terror.txt
  interface/countryintelligenceagencyview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_military_raids_l_english.yml
  localisation/english/MD_operations_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

adding ideas and preparing the final loc adding to the events
  common/ideas/Various.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

doing the last bit of ideas and loc for events
  common/ideas/Various.txt
  events/Counter Terror.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

push for first round of testing
  common/ideas/Various.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

First expansion path for the generic tree
  Changelog.txt
  common/buildings/00_buildings.txt
  common/national_focus/generic.txt
  common/scripted_triggers/00_doctrines_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Extended Generic Tree
  common/national_focus/AfricanUnion_shared.txt
  common/national_focus/czechoslovakia_shared.txt
  common/national_focus/generic.txt
  common/national_focus/sahrawi.txt
  history/countries/ALB - Albania.txt
  history/countries/ALG - Algeria.txt
  history/countries/ARM - Armenia.txt
  history/countries/AUS - Austria.txt
  history/countries/AZE - Azerbaijan.txt
  history/countries/BEL - Belgium.txt
  history/countries/BLR - Belarus.txt
  history/countries/BUL - Bulgaria.txt
  history/countries/CUB - Cuba.txt
  history/countries/CZE - Czech Republic.txt
  history/countries/DEN - Denmark.txt
  history/countries/EST - Estonia.txt
  history/countries/FIN - Finland.txt
  history/countries/GEO - Georgia.txt
  history/countries/GRE - Greece.txt
  history/countries/HOL - Holland.txt
  history/countries/HUN - Hungary.txt
  history/countries/IRQ - Iraq.txt
  history/countries/LAT - Latvia.txt
  history/countries/LIT - Lithuania.txt
  history/countries/MAL - Mali.txt
  history/countries/MLV - Moldova.txt
  history/countries/NOR - Norway.txt
  history/countries/ROM - Romania.txt
  history/countries/SAF - South Africa.txt
  history/countries/SER - Serbia.txt
  history/countries/SIA - Thailand.txt
  history/countries/SLO - Slovakia.txt
  history/countries/SWI - Switzerland.txt
  history/countries/SYR - Syria.txt
  history/countries/TRK - Turkmenistan.txt
  history/countries/UZB - Uzbekistan.txt
  history/countries/VIE - Vietnam.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more gui work for the next phase
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/00_IS_scripted_localisation.txt
  gfx/interface/scripted_gui/missiles/ledger_icon_small_ct.dds
  gfx/interface/scripted_gui/missiles/ledger_icon_small_pmc.dds
  gfx/interface/scripted_gui/missiles/ledger_icon_small_un.dds
  interface/MD_countrymissilesview.gfx
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

final gui move for space, preparing for UN Aid & CYBER
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/00_IS_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

GER - Allow most of the Green NF when Greens are in coalition
  common/national_focus/05_germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

GER - Open the FDP tree to LKR (western liberals) to match the condition in the granted ideas
  common/national_focus/05_germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

GER - allow to pick opener foci for the parties if they are in coalition
  common/national_focus/05_germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH hacs balance
  common/units/MD_land_units.txt
  common/units/equipment/EH_HACS_mech.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

GER - minor FDP focus tree buff
  common/national_focus/05_germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH fallen cities events
  events/Event Horizon.txt
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH units balance 2
  common/units/MD_land_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Generic
  common/national_focus/generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

modulessss
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH mechs equipment work
  common/script_enums.txt
  common/units/equipment/EH_HACS_mech.txt
  common/units/equipment/modules/MD_tank_modules.txt
  common/units/equipment/tank_filters.txt
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

ok
  common/units/equipment/EH_HACS_mech.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

hacs walker modules
  common/units/equipment/EH_HACS_mech.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_nigeria.txt
  common/national_focus/05_nigeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

cleanup
  common/script_enums.txt
  common/units/equipment/EH_HACS_mech.txt
  common/units/equipment/tank_filters.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing crash
  common/script_enums.txt
  common/units/equipment/EH_HACS_mech.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Generic tree and other mis cwork
  Changelog.txt
  common/national_focus/00_generic.txt
  common/national_focus/00_generic_dummy.txt
  common/national_focus/05_comoros.txt
  common/national_focus/05_cuba.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_focus_COM_l_english.yml
  localisation/english/MD_focus_GENERIC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

new modifiers for hydroelectric and power energy generation
  common/modifier_definitions/energy_modifier_definitions.txt
  common/scripted_effects/!_energy_effects.txt
  docs/dev-resources/code-resource.md
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Finished With Trains
  common/ideas/Republic of Lakota.txt
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

this shit finally works
  common/characters/00_generic_intel_advisors.txt
  common/characters/ENG.txt
  common/characters/FRA.txt
  common/characters/GER.txt
  common/characters/SOV.txt
  common/characters/USA.txt
  common/country_leader/01_military_advisor_traits.txt
  common/idea_tags/00_idea.txt
  common/on_actions/00_on_actions.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/SOV - Russia.txt
  history/countries/USA - USA.txt
  localisation/english/MD_traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more work on the generic tree
  common/characters/SOV.txt
  common/ideas/Generic Ideas.txt
  common/national_focus/00_generic.txt
  common/scripted_effects/00_ledger_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_guis/00_money_scripted_guis.txt
  interface/MD_money.gui
  localisation/english/MD_focus_African_Union_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_ideas_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/MD_scripted_diplomatic_actions_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on generic extended tree
  common/ideas/Generic Ideas.txt
  common/national_focus/00_generic.txt
  common/scripted_effects/!_energy_effects.txt
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

eco tree part2
  common/national_focus/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Western Containment Plan
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Optimize Muslim Brotherhood relations handling
  events/muslim_brotherhood_events.py
Due: none

Optimize Muslim Brotherhood relations handling
  history/muslim_brotherhood_history.py
Due: none

finalized extended generic tree
  common/decisions/Iran.txt
  common/doctrines/grand_doctrines/special_forces.txt
  common/doctrines/subdoctrines/special_forces/special_forces.txt
  common/ideas/Generic Ideas.txt
  common/national_focus/00_generic.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_triggers/00_doctrines_scripted_triggers.txt
  common/units/unit_modifiers/unit_modifiers.txt
  events/Generic.txt
  history/states/874-Maracaibo.txt
  localisation/english/MD_ideas_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
