Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

fixes
  common/decisions/05_north_korea.txt
  common/ideas/north_korea.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  common/scripted_localisation/99_NKO_scripted_localisation.txt
  common/scripted_triggers/NKO_spa_triggers.txt
  events/05_north_korea_events.txt
  localisation/english/MD_focus_NKO_l_english.yml
  localisation/english/research_slots_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more fixes
  common/scripted_effects/99_NKO_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog fixes
  Changelog.txt
Due: none

Add missing georg.3 event for the Javakheti compromise (#1999)
  common/national_focus/05_georgia.txt
  events/Georgia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Collapse resolve_gdp_c_deltas tier chain into lookup arrays (#1447)
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Topbar: proper text icons for EU entries, add Workforce Fulfillment (#2267)
  common/ideas/zzz_topbar_tokens.txt
  common/scripted_effects/BI_dynamic_topbar_effects.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  interface/MD_dynamic_topbar.gfx
  localisation/english/MD_dynamic_topbar_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix unreachable fallback bar on faction unlock goals (#2206)
  common/factions/goals/faction_goals_short_term.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Apply owner opinion penalty reliably when recognition is granted (#2111)
  common/scripted_effects/01_recog_ai_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more fixes
  common/scripted_effects/99_NKO_scripted_effects.txt
  common/scripted_triggers/99_NKO_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Keep agency automation dropdown inside the queue window (#1718)
  interface/MD_auto_agency_queue.gui
Due: none

Fix a batch of recurring error-log entries (#1820)
  common/national_focus/05_comoros.txt
  common/scripted_guis/01_european_union_guis.txt
  events/05_united_kingdom.txt
  events/Sudan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Sync EU membership across civil-war tag changes (#1326)
  common/ideas/Organizations.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/99_eu_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix PER_attack_ikr: release IKR before declaring war
  common/decisions/Iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix CI: restore missing BOM and whitelist 3 unused regional flags
  localisation/english/MD_focus_NKO_l_english.yml
  tools/validation/validate_variables.py
Due: validate-localization-encoding, fix-localization-encoding

Make Greenland content robust to civil-war tag changes (#1326)
  common/decisions/Greenland.txt
  common/national_focus/greenland.txt
  events/Greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Address review: drop comments, guard end_puppet with exist+puppet check
  common/decisions/Iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Address review: remove unused flags instead of whitelisting
  common/scripted_effects/00_country_group_flags.txt
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

reverting mechanic
  common/decisions/05_CHI_decisions.txt
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

AI of China
  common/ai_strategy/CHI.txt
  common/ai_strategy_plans/CHI_strategy_plans.txt
  common/bop/CHI.txt
  common/decisions/05_CHI_decisions.txt
  common/doctrines/grand_doctrines/naval_doctrine.txt
  common/focus_inlay_windows/chi_national_committee_inlay_window.txt
  common/national_focus/03_china_sar_joint.txt
  common/national_focus/05_china.txt
  interface/scripted_gui/CHI/chi_scripted_gui.gfx
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Whitehall MIO stranded trait from mutually-exclusive parent (#2272)
  common/military_industrial_organization/organizations/MD_generic_organization.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for Whitehall MIO fix (#2272)
  Changelog.txt
Due: none

Fix Italian MIO merge granting no size (#2074)
  common/national_focus/05_italy.txt
  localisation/english/MD_focus_ITA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update changelog for #2074
  Changelog.txt
Due: none

work
  Changelog.txt
  common/doctrines/subdoctrines/special_forces/special_forces_subdoctrines.txt
  common/scripted_effects/01_recog_ai_effects.txt
  gfx/interface/technologies/0_generic/Land_Doctrines/rangers_jaegers_training_medium.dds
  gfx/interface/technologies/0_generic/Land_Doctrines/rangers_jungle_training_medium.dds
  gfx/interface/technologies/0_generic/Land_Doctrines/rangers_recon_terrain_training_medium.dds
  interface/doctrines/doctrines.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix economic aid event popup showing 0 billion (#2306)
  events/Influence.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for #2306
  Changelog.txt
Due: none

Fix Spanish helicopter licenses not appearing in inventory (#2290)
  common/national_focus/05_spain.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_USA_organizations.txt
  common/military_industrial_organization/organizations/MD_USA_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for #2290
  Changelog.txt
Due: none

Fix self-influence error toast in Hezbollah base-attack event (#2297)
  events/Hezbollah.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for #2297
  Changelog.txt
Due: none

Fix Brazil communist focuses with no effects (#2240)
  common/national_focus/brazil.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for #2240
  Changelog.txt
Due: none

Update brazil.txt
  common/national_focus/brazil.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix AI backing both sides of the same war via attaché (#2276)
  common/scripted_diplomatic_actions/02_ai_attach_diplomatic_actions.txt
  common/scripted_triggers/00_diplo_action_valid_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for #2276
  Changelog.txt
Due: none

Update validate_unused_scripted.py
  tools/validation/validate_unused_scripted.py
Due: none

Fix indistinguishable country colors on political map screenshot (#2099)
  common/countries/colors.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for #2099
  Changelog.txt
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
