Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Fix Arab Spring lottery deadlock blocking Syria civil war (#4560)
  Changelog.txt
  common/decisions/Arab Spring.txt
  common/on_actions/99_SYR_on_actions.txt
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Value
  interface/MD_countrymissilesview.gui
Due: none

gfx
  gfx/event_pictures/middle_east/turkey - TUR/DSP_turkey.dds
  gfx/event_pictures/middle_east/turkey - TUR/devlet_bahceli.dds
  gfx/event_pictures/middle_east/turkey - TUR/erdojawn.dds
  gfx/event_pictures/middle_east/turkey - TUR/fp_turkey.dds
  gfx/event_pictures/middle_east/turkey - TUR/gulen_global.dds
  gfx/event_pictures/middle_east/turkey - TUR/turkey_chp.dds
  interface/MD_eventpictures.gfx
Due: none

Show UNSC vote progress, veto state, and permanent-bid stage (Issue #4444) (#4506)
  Changelog.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  events/UN_Voting_Events.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix CT self-target intel tokens that corrupt saves (#4563)
  Changelog.txt
  common/operation_tokens/CT_OperationTokens.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_triggers/01_international_triggers.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added placeholder to supress errors
  common/operations/SIA_operations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_regimental_support.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Wire docs-quality into test report, cover validator gaps, expand standardizer check
  .github/workflows/docs-quality.yml
  .github/workflows/test-suite.yml
  Changelog.txt
  docs/src/content/changelogSections/v2-0-changes.md
  tools/docs_checks/check_perf_budgets.py
  tools/standardization/standardize_api.py
  tools/standardization/standardize_history.py
  tools/tests/docs_checks/deprecated_buffer_test.py
  tools/tests/linting/check_common_mistakes_entrypoints_test.py
  tools/tests/standardization/standardize_api_test.py
  tools/tests/validation/change_groups_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/redundant_focus_flag_test.py
  tools/tests/validation/standardization_validator_test.py
  tools/validation/change_groups.py
  tools/validation/validate_standardization.py
Due: none

Made India actually respond to Chinese aggression.
  common/national_focus/05_india.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

R3D naval landing detachment bug fix (#4583)
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

offloading for main tests
  common/ideas/05_Australia.txt
  common/national_focus/05_Australia.txt
  common/opinion_modifiers/AST.txt
  common/scripted_triggers/00_investment_scripted_triggers.txt
  events/05_australia_events.txt
  localisation/english/MD_focus_AST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

added a missile category
  Changelog.txt
  common/units/equipment/modules/MD_arty_modules.txt
  interface/artillery_modules_icons.gfx
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

localisation fix
  localisation/english/tank_modules_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixed starting events not properly starting on game start
  common/on_actions/00_on_actions.txt
  events/05_australia_events.txt
  history/countries/AST - Australia.txt
  history/countries/ITA - Italy.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix satellite capacity and reuse vacant orbital slots
  Changelog.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Validation batch: docs-quality wiring, focus-flag test gaps, history standardizer, perf audit, Buffer guard (#4584)
  .github/workflows/docs-quality.yml
  .github/workflows/test-suite.yml
  Changelog.txt
  docs/src/content/changelogSections/v2-0-changes.md
  tools/docs_checks/check_perf_budgets.py
  tools/standardization/standardize_api.py
  tools/standardization/standardize_history.py
  tools/tests/docs_checks/deprecated_buffer_test.py
  tools/tests/linting/check_common_mistakes_entrypoints_test.py
  tools/tests/standardization/standardize_api_test.py
  tools/tests/validation/change_groups_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/redundant_focus_flag_test.py
  tools/tests/validation/standardization_validator_test.py
  tools/validation/change_groups.py
  tools/validation/validate_standardization.py
Due: none

Update MD_arty_modules.txt
  common/units/equipment/modules/MD_arty_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ghana: review fixes for the Western Togoland chain
  events/Ghana.txt
  localisation/english/MD_focus_GAH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Additional SPAA missiles modules (#4586)
  Changelog.txt
  common/ai_equipment/NATO_tank.txt
  common/decisions/Ukraine.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  common/technologies/NSB_anti_air.txt
  common/units/equipment/modules/MD_arty_modules.txt
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_1.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_2.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_3.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_4.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_5.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_6.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_7.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_8.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_1.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_2.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_3.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_4.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_5.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_6.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_7.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_8.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_medium_range_missiles_9.dds
  gfx/interface/technologies/SOV/LAND/S-300V.dds
  gfx/interface/technologies/UKR/LAND/S-300V1.dds
  history/countries/ITA - Italy.txt
  history/countries/NRY - Norway.txt
  history/countries/SOV - Russia.txt
  interface/artillery_modules_icons.gfx
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Clamp the productivity-centre divisor so a missing global cannot explode GDP (Issue #4415) (#4539)
  Changelog.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_productivity_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Tighten AI license acceptance so cutting-edge tech is not handed out (Issue #4512)
  Changelog.txt
  common/defines/MD_defines.lua
Due: none

Update MD_plane_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Pushed Stuff for Sheep
  common/decisions/000_coup_decisions.txt
  common/scripted_triggers/000_coup_triggers.txt
  common/scripted_triggers/01_political_triggers.txt
  events/000_coup_events.txt
  localisation/english/000_coup_loc_l_english.yml
  localisation/english/MD_country_politics_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

e
  common/dynamic_modifiers/99_TUR_dynamic_modifiers.txt
  common/national_focus/05_turkey.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update SSU_John_Garang.dds
  gfx/leaders/SSU/SSU_John_Garang.dds
Due: none

PR fixes and tweaks
  common/ideas/05_Australia.txt
  common/national_focus/05_Australia.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_AST_scripted_effects.txt
  events/05_australia_events.txt
  history/countries/AST - Australia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Moved variable change to on_actions, fixed election date oversight
  common/on_actions/00_on_actions.txt
  events/05_australia_events.txt
  history/countries/AST - Australia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Simplify no_building_slots
  common/scripted_triggers/00_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Simplify max_1__building_slot
  common/scripted_triggers/00_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

M-ATGM and Unit Consistency
  common/units/MD_land_units.txt
  common/units/equipment/MD_anti_tank.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_division_support.txt
  common/units/MD_division_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Temp Push
  common/decisions/000_coup_decisions.txt
  common/scripted_localisation/000_coup_scripted_localisation.txt
  common/scripted_triggers/000_coup_triggers.txt
  events/000_coup_events.txt
  localisation/english/000_coup_loc_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Changelog
  Changelog.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/countries_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

work
  Changelog.txt
  common/decisions/05_ENG_decisions.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_triggers/99_ENG_scripted_triggers.txt
  events/05_united_kingdom.txt
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix influence buttons locking onto one nation (#4595)
  common/scripted_guis/01_influence_scripted_guis.txt
  interface/MD_influence.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

AST Variable and election date fixes (#4591)
  common/on_actions/00_on_actions.txt
  events/05_australia_events.txt
  history/countries/AST - Australia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
