Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Gate infrastructure levels behind industry research (#1400)
  common/technologies/industry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

Update type-03.dds
  gfx/interface/goals/00_army/type-03.dds
Due: none

Add changelog entry for #1515
  Changelog.txt
Due: none

Update general-rules.md
  .claude/rules/general-rules.md
Due: none

Fix internal faction preview tooltips showing 0% on inactive factions (#1516)
  localisation/english/MD_internal_factions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add changelog entry for #1516 internal faction preview tooltips
  Changelog.txt
Due: none

Consolidate three capitalisation accumulation clusters (#1452)
  common/scripted_effects/99_SOV_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add changelog entry for #1452 cluster consolidation
  Changelog.txt
Due: none

Add localisation for elite_forces and equipment doctrine cost modifiers (#662)
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add changelog entry for #662 elite_forces and equipment doctrine cost modifiers
  Changelog.txt
Due: none

Add state energy generation modifiers and dockyard energy use modifier (#84)
  common/buildings/00_buildings.txt
  common/modifier_definitions/energy_modifier_definitions.txt
  common/scripted_effects/!_energy_effects.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/0_energy_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
  tools/analysis/pre_place_power_plants.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add changelog entry for #84 state energy modifiers and dockyard split
  Changelog.txt
Due: none

audit fixes
  .claude/rules/general-rules.md
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  history/countries/ENG - United Kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add auto-reject toggle for AI satellite-access requests (#1243)
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add changelog entry for #1243
  Changelog.txt
Due: none

small fix
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_missiles_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
  map/buildings.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update SKILL.md
  .claude/skills/open-pr/SKILL.md
Due: none

Update MD_internal_factions_l_english.yml
  localisation/english/MD_internal_factions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix GER El Radii Class using tier-3 modules without backing tech
  Changelog.txt
  history/countries/GER - Germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

small fix
  localisation/english/MD_missiles_l_english.yml
  tools/validation/validate_localisation.py
Due: validate-localization-encoding, fix-localization-encoding

Fix ENG inner-circle ascension focus pause + AI watchdog
  common/national_focus/05_united_kingdom.txt
  common/on_actions/99_ENG_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Performance fixy
  common/scripted_effects/00_protests_effects.txt
  common/scripted_guis/01_expected_spending.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Audit fixes
  common/decisions/categories/protests.txt
  common/decisions/protests.txt
  common/scripted_effects/00_protests_effects.txt
  common/scripted_guis/01_expected_spending.txt
  events/protests.txt
  localisation/english/MD_better_protests_l_english.yml
  localisation/english/MD_decisions_l_english.yml
  localisation/english/victory_points_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed Kal people idea
  common/ideas/Finnish.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

1
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  events/Influence.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reuse shared pool in set_variables pass 1
  tools/validation/validate_set_variables.py
Due: none

Content-cache per-file parsing in 5 tree-scanning validators
  tools/validation/validate_events.py
  tools/validation/validate_ideas.py
  tools/validation/validate_localisation.py
  tools/validation/validate_on_actions.py
  tools/validation/validate_scripted_localisation.py
Due: none

Content-cache parsing in 7 more validators (Tier 2)
  tools/validation/validate_agency_upgrades.py
  tools/validation/validate_cosmetic_tags.py
  tools/validation/validate_focus_tree.py
  tools/validation/validate_history_techs.py
  tools/validation/validate_scripted_params.py
  tools/validation/validate_unused_textures.py
  tools/validation/validate_variables.py
Due: none

Make combined report deterministic; join scripted_loc pools
  tools/validation/run_all_validators.py
  tools/validation/validate_scripted_localisation.py
Due: none

Fix invalid modifier blocks inside random effect in 4 files
  common/decisions/Arab Spring.txt
  common/decisions/Internal Factions.txt
  common/on_actions/99_ALG_on_actions.txt
  events/Econ_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix auto-agency queue permanently blocking agency upgrades (#1549)
  common/scripted_effects/00_MD_auto_agency_scripted_effects.txt
  common/scripted_guis/00_MD_auto_agency_scripted_gui.txt
  common/scripted_localisation/00_MD_auto_agency_scripted_localisation.txt
  localisation/english/MD_auto_agency_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Reworked the focus to be about investing in non-european countries.
  common/national_focus/05_italy.txt
  events/Italy.txt
  localisation/english/MD_focus_ITA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Changed event gfx
  events/Italy.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Drop auto-agency pre-fix save healing from verify_queue
  common/scripted_effects/00_MD_auto_agency_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
