Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

naval gfx fixes
  gfx/interface/technologies/0_generic/naval/HELIPAD4.dds
  gfx/interface/technologies/0_generic/naval/tech_carrier_2.dds
  interface/Tank_Technologies.gfx
  interface/mdult_Naval_Technologies_mtg.gfx
Due: none

Focus effects standardized
  common/national_focus/greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Eastern Continental Foothold
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

requirement fixes
  common/national_focus/greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Naval Recon Drone - Naval Anti Torpedo
  gfx/interface/technologies/0_generic/naval/tech_naval_anti_torpedo_1.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_anti_torpedo_2.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_anti_torpedo_3.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_anti_torpedo_4.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_anti_torpedo_5.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_anti_torpedo_6.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_recon_drone_1.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_recon_drone_2.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_recon_drone_3.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_recon_drone_4.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_recon_drone_5.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_recon_drone_6.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_recon_drone_7.dds
  gfx/interface/technologies/0_generic/naval/tech_naval_recon_drone_8.dds
Due: none

Fixes and other minor improvements
  common/achievements/MD_achievements.txt
  common/ideas/United States.txt
  common/operations/00_operations.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_LBA_scripted_effects.txt
  common/technologies/industry.txt
  localisation/english/MD_custom_achievements_l_english.yml
  localisation/english/MD_ideas_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/replace/replaced_from_vanilla_buildings_l_english.yml
  tools/publishing/publish_workshop.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Celtic Isles Focuses
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more tech gfx work
  interface/Technologies.gfx
  interface/equipmentdesignermoduleicons.gfx
  interface/mdult_Naval_Technologies_mtg.gfx
Due: none

More work
  common/decisions/USA.txt
  common/scripted_effects/00_money_system.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more
  common/decisions/USA.txt
  common/modifiers/00_static_modifiers.txt
  common/opinion_modifiers/Diplomatic.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

faction tweaks
  common/factions/templates/99_GRN.txt
  common/ideas/Greenlandic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

sonatrach fix for algeria
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

unused flag fix
  common/decisions/Algeria.txt
  common/national_focus/05_algeria.txt
  common/on_actions/99_ALG_on_actions.txt
  common/scripted_effects/99_ALG_scripted_effects.txt
  common/scripted_triggers/99_ALG_scripted_triggers.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Western European Focuses
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix check
  common/decisions/Algeria.txt
  common/national_focus/05_Kabyle.txt
  common/scripted_localisation/99_ALG_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update mdult_Naval_Technologies_mtg.gfx
  interface/mdult_Naval_Technologies_mtg.gfx
Due: none

for my sweet love kenneth
  gfx/leaders/PER/sepanta_niknam.dds
Due: none

work
  .claude/docs/mio-reference.md
  .claude/skills/mio-builder/SKILL.md
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Iberian Intro Focus
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Russian separatism simplification, changelog tooling, and pipeline fixes
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Changelog.md
  Changelog.txt
  common/decisions/SubjectsOfRussia.txt
  common/on_actions/99_SOV_on_actions.txt
  common/on_actions/99_SubjectRussia_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
  common/scripted_triggers/99_SUB_scripted_triggers.txt
  docs/src/content/changelogSections/v2-0-0.md
  docs/src/content/resources/content-review-guide.md
  docs/src/content/resources/focus-tree-lifecycle-checklist.md
  docs/src/pages/changelogs/index.astro
  events/SubjectRussia.txt
  localisation/english/MD_focus_SUB_l_english.yml
  tools/README.md
  tools/changelog/format_changelog.py
  tools/changelog/publish_changelog_page.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Work
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Radar jammers resize
  gfx/interface/technologies/0_generic/naval/anti_ship_drone_torpedoes_3.dds
  gfx/interface/technologies/0_generic/naval/asw_nuclear_torpedoes_1.dds
  gfx/interface/technologies/0_generic/naval/asw_nuclear_torpedoes_3.dds
  gfx/interface/technologies/0_generic/naval/radar_jammer_1.dds
  gfx/interface/technologies/0_generic/naval/radar_jammer_2.dds
  gfx/interface/technologies/0_generic/naval/radar_jammer_3.dds
  gfx/interface/technologies/0_generic/naval/radar_jammer_4.dds
  gfx/interface/technologies/0_generic/naval/radar_jammer_5.dds
  gfx/interface/technologies/0_generic/naval/radar_jammer_6.dds
Due: none

More garbage in the Russian content removed
  common/decisions/Influence Decisions.txt
  common/decisions/SubjectsOfRussia.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/national_focus/05_bashkiriya.txt
  common/national_focus/Tatarstan.txt
  common/national_focus/Ural.txt
  common/national_focus/chechnya.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
  common/scripted_effects/99_USR_scripted_effects.txt
  common/scripted_localisation/01_SubjectRussia_scripted_localisation.txt
  common/scripted_triggers/99_ARM_scripted_triggers.txt
  common/scripted_triggers/99_SOV_scripted_triggers.txt
  common/scripted_triggers/99_SUB_scripted_triggers.txt
  events/Armenia.txt
  events/SubjectRussia.txt
  history/countries/SOV - Russia.txt
  localisation/english/MD_focus_SUB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Iberian Focuses Complete
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on Russia
  CONTRIBUTING.md
  common/decisions/Influence Decisions.txt
  common/decisions/SubjectsOfRussia.txt
  common/ideas/Russian.txt
  common/ideas/Subject_Russia.txt
  common/national_focus/05_russia.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/99_SOV_on_actions.txt
  common/on_actions/99_SubjectRussia_on_actions.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
  common/scripted_effects/99_USR_scripted_effects.txt
  common/scripted_localisation/01_SubjectRussia_scripted_localisation.txt
  common/scripted_triggers/99_SOV_scripted_triggers.txt
  common/scripted_triggers/99_SUB_scripted_triggers.txt
  events/Russia.txt
  events/SubjectRussia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on tooling and fixing stuff from code review
  .github/workflows/release.yml
  common/factions/goals/faction_goals_medium_term.txt
  common/national_focus/05_russia.txt
  localisation/english/MD_focus_SUB_l_english.yml
  tools/standardization/common_utils.py
  tools/standardization/standardize_decisions.py
  tools/standardization/standardize_events.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/standardize_ideas.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More standardization
  tools/standardization/common_utils.py
  tools/standardization/standardize_decisions.py
  tools/standardization/standardize_events.py
  tools/standardization/standardize_ideas.py
Due: none

standardized =
  tools/standardization/standardize_events.py
  tools/standardization/standardize_focus_tree.py
Due: none

Update MD_focus_PER_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Work
  .claude/docs/mio-reference.md
  .claude/skills/mio-builder/SKILL.md
  common/ideas/Italian.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  localisation/english/MD_focus_ITA_l_english.yml
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardizer
  common/equipment_groups/mio_equipment_groups.txt
  common/military_industrial_organization/organizations/MD_ALG_organizations.txt
  common/military_industrial_organization/organizations/MD_BRA_organizations.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/military_industrial_organization/organizations/MD_HOL_organizations.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/military_industrial_organization/organizations/MD_ROM_organizations.txt
  common/military_industrial_organization/organizations/MD_USA_organizations.txt
  common/national_focus/05_italy.txt
  common/scripted_effects/99_ITA_scripted_effects.txt
  common/units/equipment/equipment_archetypes.md
  gfx/interface/ideas/companies/Italy/ITA_company_astra.dds
  interface/MD_ideas.gfx
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_focus_ITA_l_english.yml
  resources/GFX templates/gude-2026-04-21.log
  tools/standardization/standardize_mio.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Italy Done
  common/national_focus/05_italy.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_ITA_organizations.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work work work
  common/national_focus/korea_confederation.txt
  common/national_focus/korea_north.txt
  common/national_focus/korea_south.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Murica
  .claude/docs/mio-modifiers-reference.md
  .claude/skills/mio-builder/SKILL.md
  common/military_industrial_organization/organizations/MD_USA_organizations.txt
  common/military_industrial_organization/organizations/documentation.info
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

techs
  gfx/interface/technologies/0_generic/naval/rail_battery_2.dds
  gfx/interface/technologies/0_generic/naval/rail_battery_3.dds
  gfx/interface/technologies/0_generic/naval/rail_battery_4.dds
  gfx/interface/technologies/0_generic/naval/tech_anti_drone_laser_2.dds
  gfx/interface/technologies/0_generic/naval/tech_anti_drone_laser_3.dds
  gfx/interface/technologies/0_generic/naval/tech_anti_drone_laser_4.dds
  gfx/interface/technologies/0_generic/naval/tech_anti_drone_laser_5.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_drone_artillery_ammo_1.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_drone_artillery_ammo_2.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_drone_artillery_ammo_3.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_drone_artillery_ammo_4.dds
  gfx/interface/technologies/0_modules/tech_nsb_engine_tech_1.dds
  gfx/interface/technologies/0_modules/tech_nsb_engine_tech_2.dds
  gfx/interface/technologies/0_modules/tech_nsb_engine_tech_3.dds
  gfx/interface/technologies/0_modules/tech_nsb_engine_tech_4.dds
  interface/artillery_modules_icons.gfx
  interface/mdult_Naval_Technologies_mtg.gfx
  interface/plane_modules_icons.gfx
Due: none

fix(RUS): add symmetric mutually_exclusive between SOV_yavlinskiy and SOV_navalny
  .pre-commit-config.yaml
  common/national_focus/05_russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
