Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Fixed the Europeanism findings
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  events/EU_news.txt
  history/countries/EUU - EU.txt
  interface/eu.gui
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Refactor scripted localisation for Peace Deals
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_diplomatic_actions/01_peace_deal_diplomatic_actions.txt
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_localisation/02_conditional_peace_deal_scripted_localisation.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
  docs/src/content/tutorials/conditional-peace-deals.md
  localisation/english/MD_scripted_diplomatic_actions_l_english.yml
  localisation/english/conditional_peace_deals_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Refactor CSTO removing operations
  common/scripted_effects/01_NATO_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated resoucre storage
  common/scripted_effects/00_resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

test
  common/scripted_effects/00_resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/scripted_guis/00_MD_politicsview_scripted_guis.txt
  interface/MD_energy_scripted.gui
  interface/countrydiplomacyview.gui
  interface/countrystateview.gui
  localisation/english/MD_country_politics_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixeD
  common/scripted_effects/00_resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix peace deal correctness, unify cost math, floor resource storage
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_diplomatic_actions/01_peace_deal_diplomatic_actions.txt
  common/scripted_effects/00_resource_storage_effects.txt
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_localisation/02_conditional_peace_deal_scripted_localisation.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/scripted_guis/00_MD_politicsview_scripted_guis.txt
  common/scripted_guis/01_investment_scripted_gui.txt
  interface/MD_countrypoliticsview.gui
  interface/countryconstructionsview.gui
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/scripted_guis/01_investment_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  interface/MD_energy_scripted.gui
Due: none

Update Changelog.txt
  Changelog.txt
Due: none

Fix investment building selectors always-enabled, restore building tooltips, clean up dead building code
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_investment_scripted_effects.txt
  common/scripted_guis/01_investment_scripted_gui.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
  interface/MD_investments.gfx
  interface/MD_investments.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix investment prerequisite tooltips after trigger rename
  localisation/english/MD_investments_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixes
  interface/MD_countrypoliticsview.gui
  interface/MD_energy_scripted.gui
  interface/countrystateview.gui
Due: none

Cladue Doc improvementS
  .claude/agents/ai-debugger.md
  .claude/agents/bug-fixer.md
  .claude/agents/code-quality-reviewer.md
  .claude/agents/event-builder.md
  .claude/agents/focus-tree-builder.md
  .claude/agents/head-mod-developer.md
  .claude/agents/localisation-editor.md
  .claude/agents/performance-analyzer.md
  .claude/agents/simplify-analyzer.md
  .claude/agents/tools-reviewer.md
  .claude/settings.json
  .claude/skills/adversarial-review/SKILL.md
  .claude/skills/audit/SKILL.md
  .claude/skills/fix-issue/SKILL.md
  .claude/skills/open-pr/SKILL.md
  .claude/skills/review-branch/SKILL.md
  .claude/skills/test-plan/SKILL.md
  .mcp.json
  CLAUDE.md
  opencode.json
Due: none

Cleanup
  .claude/agents/ai-debugger.md
  .claude/agents/bug-fixer.md
  .claude/agents/code-quality-reviewer.md
  .claude/agents/event-builder.md
  .claude/agents/focus-tree-builder.md
  .claude/agents/localisation-editor.md
  .claude/agents/performance-analyzer.md
  .claude/agents/simplify-analyzer.md
  .claude/agents/tools-reviewer.md
  .claude/docs/agent-conventions.md
  .claude/docs/changelog-guide.md
  .claude/docs/localisation-rules.md
  .claude/docs/pr-conventions.md
  .claude/docs/scripted-gui-patterns.md
  .claude/docs/scripted-gui-rules.md
  .claude/docs/scripting-edge-cases.md
  .claude/rules/general-rules.md
  .claude/skills/audit/SKILL.md
  .claude/skills/fix-issue/SKILL.md
  .claude/skills/lifecycle-check/SKILL.md
  .claude/skills/review-branch/SKILL.md
  .claude/skills/update-claude/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: none

Validation for Change Influence Percantage
  common/decisions/05_ENG_decisions.txt
  common/defines/MD_defines.lua
  common/national_focus/05_algeria.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_canada.txt
  common/national_focus/05_israel.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_singapore.txt
  common/national_focus/denmark.txt
  events/05_united_kingdom.txt
  events/Libya.txt
  events/Union State.txt
  tools/validation/disk_cache.py
  tools/validation/tests/validate_scripted_params_test.py
  tools/validation/validate_scripted_params.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Improved scripted parfams
  tools/validation/validate_scripted_params.py
Due: none

European Union
  common/decisions/EU_voting_decisions.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  events/EU_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

final
  common/decisions/north_korea.txt
  common/dynamic_modifiers/99_KOR_dynamic_modifiers.txt
  common/ideas/north_korea.txt
  common/on_actions/99_NKO_on_actions.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  events/Korea.txt
  interface/MD_NKO_guis.gui
  localisation/english/MD_focus_NKO_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Aladin Fixes
  Changelog.txt
  common/decisions/north_korea.txt
  common/dynamic_modifiers/99_KOR_dynamic_modifiers.txt
  common/ideas/north_korea.txt
  common/on_actions/99_NKO_on_actions.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  events/Korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rail fixes
  common/technologies/industry.txt
  events/Iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

validator fixes
  common/decisions/north_korea.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Docs + Money System + Politics
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  docs/src/content/tutorials/coalition-guide.md
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

dev stuff
  .claude/skills/dev-diary-mdx/SKILL.md
  docs/src/assets/images/dev-diaries/060/picture-1.png
  docs/src/assets/images/dev-diaries/060/picture-10.png
  docs/src/assets/images/dev-diaries/060/picture-11.png
  docs/src/assets/images/dev-diaries/060/picture-12.png
  docs/src/assets/images/dev-diaries/060/picture-13.png
  docs/src/assets/images/dev-diaries/060/picture-14.png
  docs/src/assets/images/dev-diaries/060/picture-15.png
  docs/src/assets/images/dev-diaries/060/picture-16.png
  docs/src/assets/images/dev-diaries/060/picture-17.png
  docs/src/assets/images/dev-diaries/060/picture-18.png
  docs/src/assets/images/dev-diaries/060/picture-19.png
  docs/src/assets/images/dev-diaries/060/picture-2.png
  docs/src/assets/images/dev-diaries/060/picture-20.png
  docs/src/assets/images/dev-diaries/060/picture-21.png
  docs/src/assets/images/dev-diaries/060/picture-22.png
  docs/src/assets/images/dev-diaries/060/picture-23.png
  docs/src/assets/images/dev-diaries/060/picture-24.png
  docs/src/assets/images/dev-diaries/060/picture-3.png
  docs/src/assets/images/dev-diaries/060/picture-4.png
  docs/src/assets/images/dev-diaries/060/picture-5.png
  docs/src/assets/images/dev-diaries/060/picture-6.png
  docs/src/assets/images/dev-diaries/060/picture-7.png
  docs/src/assets/images/dev-diaries/060/picture-8.png
  docs/src/assets/images/dev-diaries/060/picture-9.png
  docs/src/assets/images/roadmaps/custom-mio.png
  docs/src/content/devDiaries/060-china-will-grow-larger.mdx
Due: none

International rEcognition
  common/ideas/international_recognition.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_triggers/01_international_triggers.txt
  events/International Recognition.txt
  events/UN_Voting_Events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Improvements to the itnernational faction and MIO catalogs
  common/ideas/AA_law_internal_factions.txt
  common/scripted_effects/00_internal_faction_effects.txt
  common/scripted_guis/01_counter_ui.txt
  common/scripted_triggers/00_mio_catalog_triggers.txt
  docs/src/content/misc/authors.md
  interface/Counter_UI.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

restor to main
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_localisation/00_EU_voting_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Staged Changes
  common/ideas/zzz_topbar_tokens.txt
  gfx/interface/topbar/dynamic_topbar/EAI_checkbox_off.dds
  gfx/interface/topbar/dynamic_topbar/EAI_checkbox_on.dds
  gfx/interface/topbar/dynamic_topbar/EAI_sort_button.dds
  gfx/interface/topbar/dynamic_topbar/expand_button.dds
  gfx/interface/topbar/dynamic_topbar/selected_topbar_slot_highlight.dds
  gfx/interface/topbar/dynamic_topbar/topbar_icons.tga
  gfx/interface/topbar/dynamic_topbar/topbar_menu_bg.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed and improved the cutomized toolbar
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/BI_dynamic_topbar_effects.txt
  common/scripted_guis/01_counter_ui.txt
  common/scripted_guis/BI_dynamic_topbar.txt
  common/scripted_localisation/00_counter_ui_scripted_localisation.txt
  common/scripted_localisation/BI_dynamic_topbar_scripted_loc.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  gfx/interface/topbar/dynamic_topbar/EAI_checkbox_off.dds
  gfx/interface/topbar/dynamic_topbar/EAI_checkbox_on.dds
  gfx/interface/topbar/dynamic_topbar/EAI_sort_button.dds
  interface/BI_dynamic_topbar.gui
  interface/Counter_UI.gfx
  interface/Counter_UI.gui
  interface/MD_dynamic_topbar.gfx
  localisation/english/MD_counter_ui_l_english.yml
  localisation/english/MD_dynamic_topbar_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on performance
  common/decisions/formable_nation_decisions.txt
  common/decisions/free_russia.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_country_group_flags.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed
  common/collections/generic_collections.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_productivity_effects.txt
  localisation/english/replace/replaced_from_collections_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Audit fixes + recognition spam review
  common/decisions/formable_nation_decisions.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_productivity_effects.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/BI_dynamic_topbar.txt
  common/scripted_localisation/BI_dynamic_topbar_scripted_loc.txt
  docs/src/content/misc/authors.md
  events/International Recognition.txt
  localisation/english/MD_dynamic_topbar_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

I
  common/scripted_effects/01_international_systems_effects.txt
  events/International Recognition.txt
  localisation/english/MD_international_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on systems
  .github/workflows/coding-pipeline.yml
  common/ideas/AA_law_internal_factions.txt
  common/scripted_guis/BI_dynamic_topbar.txt
  common/scripted_localisation/00_investment_scripted_localisation.txt
  docs/src/content/devDiaries/060-china-will-grow-larger.mdx
  docs/src/content/tutorials/coalition-guide.md
  docs/src/content/tutorials/conditional-peace-deals.md
  events/International Recognition.txt
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_investments_l_english.yml
  tools/linting/check_common_mistakes.py
  tools/validation/tests/validator_bug_regressions_test.py
  tools/validation/validate_style.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed the issues from the issue here
  common/defines/MD_defines.lua
  common/ideas/subparty_policies.txt
  common/military_industrial_organization/organizations/MD_USA_organizations.txt
  common/special_projects/projects/air_projects.txt
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/modules/MD_arty_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
  interface/MD_ideas.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
