Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Replace permanent open-borders protest stability hits with a timed idea
  common/ideas/generic_ideas.txt
  common/on_actions/MD_on_actions.txt
  events/Migration Events.txt
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add changelog entry for the open-borders protest fix
  Changelog.txt
Due: none

Debt to GDP ratio currency fix
  common/scripted_effects/00_currency_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Debt to GDP ratio currency fix (#4340)
  common/scripted_effects/00_currency_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_plane_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
  gfx/leaders/SIA/Banharn_Silpa-archa.dds
  gfx/leaders/SIA/Paetongtarn_Shinawatra.dds
  gfx/leaders/SIA/Srettha_Thavisin.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix mixed ammunition compatibility and formatting
  Changelog.txt
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refinement and Tech Unlcoks
  common/technologies/infantry.txt
  common/units/equipment/modules/MD_plane_modules.txt
  history/countries/POR - Portugal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update POR - Portugal.txt
  history/countries/POR - Portugal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

SIA Thailand: red-road gating and effects
  common/decisions/Thailand.txt
  common/decisions/categories/99_SIA_decision_categories.txt
  common/ideas/Thailand.txt
  common/national_focus/05_thailand.txt
  common/on_actions/99_SIA_on_actions.txt
  common/scripted_effects/SIA_thailand_effects.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  events/Thailand.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/simp_chinese/MD_country_economy_view_l_simp_chinese.yml
  localisation/simp_chinese/MD_currency_l_simp_chinese.yml
  localisation/simp_chinese/MD_decisions_l_simp_chinese.yml
  localisation/simp_chinese/MD_defence_companies_l_simp_chinese.yml
  localisation/simp_chinese/MD_dm_modifiers_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ALG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_AST_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_BRA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CHI_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CMW_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CRO_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CZE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_EH_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ENG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_EU_USoE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_FRA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_GRE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_HKG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ITA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_JAP_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_POL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ROM_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SOV_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SWE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_UKR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_USA_l_simp_chinese.yml
  localisation/simp_chinese/MD_frontend_l_simp_chinese.yml
  localisation/simp_chinese/MD_game_rules_l_simp_chinese.yml
  localisation/simp_chinese/MD_politics_view_parties_l_simp_chinese.yml
  localisation/simp_chinese/MD_units_l_simp_chinese.yml
  localisation/simp_chinese/countries_l_simp_chinese.yml
  localisation/simp_chinese/education_l_simp_chinese.yml
  localisation/simp_chinese/replace/replaced_from_special_projects_l_simp_chinese.yml
  localisation/simp_chinese/tank_modules_l_simp_chinese.yml
  localisation/simp_chinese/victory_points_l_simp_chinese.yml
Due: none

Replace open-borders protest stability drain with a timed idea (#4339)
  Changelog.txt
  common/ideas/generic_ideas.txt
  common/on_actions/MD_on_actions.txt
  events/Migration Events.txt
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add generic MIO catalog access for custom MIO nations (#3973)
  common/military_industrial_organization/organizations/MD_generic_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organizations_old.txt
  common/scripted_guis/00_mio_unlock_catalog.txt
  common/scripted_localisation/00_mio_catalog_scripted_loc.txt
  common/scripted_triggers/00_mio_catalog_triggers.txt
  common/scripted_triggers/00_mio_generic_gap_triggers.txt
  history/countries/ALG - Algeria.txt
  history/countries/AST - Australia.txt
  history/countries/BEL - Belgium.txt
  history/countries/BOS - Bosnia.txt
  history/countries/BRA - Brazil.txt
  history/countries/CHI - China.txt
  history/countries/CRO - Croatia.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/GRE - Greece.txt
  history/countries/HOL - Holland.txt
  history/countries/ITA - Italy.txt
  history/countries/JAP - Japan.txt
  history/countries/NKO - North Korea.txt
  history/countries/POL - Poland.txt
  history/countries/ROM - Romania.txt
  history/countries/SLV - Slovenia.txt
  history/countries/SOV - Russia.txt
  history/countries/SWE - Sweden.txt
  history/countries/USA - USA.txt
  interface/military_industrial_organization/zz_mio_unlock_catalog.gui
  localisation/english/MD_mio_catalog_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Drop contract tokens for CHI, ENG and USA (#3973)
  history/countries/CHI - China.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardise Syria AI path game rule to Historical / alternate paths / Random Path / No Path
  Changelog.txt
  common/ai_strategy/SYR.txt
  common/ai_strategy_plans/SYR_strategy_plans.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_syria.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_SYR_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Syria recall intelligence focus being zeroed by the wrong Lebanon flag
  common/national_focus/05_syria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gate Syria path events and succession decisions on the path triggers
  common/decisions/Syria.txt
  common/on_actions/99_SYR_on_actions.txt
  events/00_arab_spring.txt
  events/Syria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

contont
  common/national_focus/05_chechnya.txt
  localisation/english/MD_focus_CHE_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Hide MIO contract token requirement for non-token nations and show remaining count (#3973)
  common/scripted_guis/00_mio_unlock_catalog.txt
  localisation/english/MD_mio_catalog_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Cache catalog button visibility at startup and fix token loc (#3973)
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/military_industrial_organization/organizations/MD_generic_organizations_old.txt
  common/on_actions/00_on_actions.txt
  common/scripted_guis/00_mio_unlock_catalog.txt
  common/scripted_triggers/00_mio_generic_gap_triggers.txt
  localisation/english/MD_mio_catalog_l_english.yml
  tools/validation/validate_mios.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Drop added comments (#3973)
  common/military_industrial_organization/organizations/MD_generic_organizations_old.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/00_mio_generic_gap_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

audit ifxes
  common/military_industrial_organization/organizations/MD_generic_organizations_old.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_generic_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardise Ukraine AI path game rule to Historical / alternate paths / Random Path / No Path
  Changelog.txt
  common/decisions/Ukraine.txt
  common/decisions/categories/99_UKR_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_ukraine.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/99_UKR_scripted_effects.txt
  common/scripted_triggers/99_UKR_scripted_triggers.txt
  events/Ukraine.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Walk the historical Ukrainian AI through Yushchenko, Yanukovych, Poroshenko and Zelensky
  common/scripted_effects/00_yearly_effects.txt
  events/Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Brake Ukrainian AI war declarations while it is losing a war
  common/ai_strategy/UKR.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Start China at local debt tier 1 with a visible category and fix CI validator errors
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
  history/countries/CHI - China.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Show exact local debt values, keep treasury change last, and explain the local debt category
  common/decisions/05_CHI_decisions.txt
  common/national_focus/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add removal footers to China's fixable national spirits with per-tier descriptions
  common/ideas/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardise United Kingdom AI path game rule to Historical / alternate paths / Random Path / No Path
  Changelog.txt
  common/ai_strategy_plans/ENG_strategy_plans.txt
  common/decisions/05_ENG_decisions.txt
  common/decisions/categories/united_kingdom_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_united_kingdom.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_ENG_scripted_triggers.txt
  events/05_united_kingdom.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Deliver Liz Truss to the historical British AI and brake war declarations while it is losing
  common/ai_strategy/ENG.txt
  common/scripted_effects/00_yearly_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize party localisation for BOL
  Changelog.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Exempt cartel map icons from the decision icon slot check and fix more decision icons
  .claude/docs/validation-pipeline.md
  common/decisions/05_india.txt
  common/decisions/05_japan.txt
  common/decisions/Algeria.txt
  common/decisions/Bosnia.txt
  common/decisions/Botswana.txt
  common/decisions/Brazil.txt
  common/decisions/CYP_decisions.txt
  common/decisions/Chechnya.txt
  common/decisions/Czech_Republic.txt
  tools/assets/resize_decision_icons.py
  tools/tests/validation/validate_decisions_icon_type_test.py
  tools/validation/validate_decisions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Show building names in the local debt category, sharpen monthly drift, and add a five-year mission that retires the system
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

decisions
  common/decisions/Czech_Republic.txt
  common/decisions/Denmark.txt
  common/decisions/EH_decisions.txt
  common/decisions/France.txt
  common/decisions/Germany.txt
  common/decisions/Greenland.txt
  common/decisions/Hong Kong.txt
  common/decisions/Influence Decisions.txt
  common/decisions/Israel.txt
  common/decisions/Liechtenstein.txt
  common/decisions/NATO.txt
  common/decisions/Nigeria.txt
  common/decisions/Poland.txt
  common/decisions/Romania.txt
  common/decisions/Thailand.txt
  common/decisions/USA.txt
  common/decisions/Ukraine.txt
  gfx/interface/decisions/decision_generic_leave_nato_small.dds
  gfx/interface/decisions/decision_nato.dds
  interface/MD_decisions.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
  localisation/english/MD_focus_UKR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

decision categories
  common/decisions/Poland.txt
  common/decisions/Romania.txt
  common/decisions/categories/00_zombie_decisions_categories.txt
  common/decisions/categories/99_ALG_decision_categories.txt
  common/decisions/categories/99_AZE_decision_categories.txt
  common/decisions/categories/99_BLR_decision_categories.txt
  common/decisions/categories/99_BRA_decision_categories.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/decisions/categories/99_CZE_decision_categories.txt
  common/decisions/categories/99_GER_decision_categories.txt
  common/decisions/categories/99_HUN_decision_categories.txt
  common/decisions/categories/99_ITA_decision_categories.txt
  common/decisions/categories/99_PER_decision_categories.txt
  common/decisions/categories/99_POL_decision_categories.txt
  common/decisions/categories/99_RAJ_decision_categories.txt
  common/decisions/categories/99_ROM_decision_categories.txt
  common/decisions/categories/99_SYR_decision_categories.txt
  common/decisions/categories/99_TAJ_decision_categories.txt
  common/decisions/categories/99_VEN_decision_categories.txt
  common/decisions/categories/SAU_decision_categories.txt
  common/decisions/categories/israel_categories.txt
  common/decisions/categories/liechtenstein_decisions_category.txt
  common/decisions/categories/united_kingdom_categories.txt
  common/decisions/karabakh.txt
  common/decisions/libya.txt
  common/decisions/netherlands.txt
  common/decisions/un_voting_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revise SIA 'Red Road' strike mechanics
  common/decisions/Thailand.txt
  common/decisions/categories/99_SIA_decision_categories.txt
  common/ideas/Thailand.txt
  common/national_focus/05_thailand.txt
  common/on_actions/99_SIA_on_actions.txt
  common/scripted_effects/SIA_thailand_effects.txt
  common/scripted_localisation/99_SIA_scripted_localisation.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  events/Thailand.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
