Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Read the display Zone in the Tearling exchange text trigger
  common/scripted_triggers/99_STALKER_faction_wars_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop the Zone display helpers calling themselves
  common/scripted_effects/99_STALKER_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Algeria: put the FIS in power under Belhadj when its victory focus completes
  Changelog.txt
  common/national_focus/05_algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Algeria: give Abassi Madani a real portrait
  events/Algeria.txt
  gfx/leaders/ALG/ALG_Abassi_Madani.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Algeria: guard FIS leadership swaps and hold elections after the takeover
  Changelog.txt
  common/national_focus/05_algeria.txt
  events/Algeria.txt
  gfx/leaders/ALG/ALG_Abbassi_Madani.dds
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Name the true leading faction across all ten and redraw the Zone overview only when Zones change
  common/scripted_effects/99_STALKER_scripted_effects.txt
  common/scripted_effects/99_STALKER_society_effects.txt
  common/scripted_guis/01_STALKER_zone_overview_gui.txt
  common/scripted_localisation/00_STALKER_scripted_localisation.txt
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EU subsidy population fix
  common/scripted_effects/99_eu_scripted_effects.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Article 50 fix
  Changelog.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Keep the cached Zone leader current and show ties as Contested
  common/scripted_effects/99_STALKER_society_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Name STALKER event Zones through globals and a literal-ID name table, since text cannot read state event targets
  common/scripted_effects/99_STALKER_footprint_effects.txt
  common/scripted_effects/99_STALKER_scripted_effects.txt
  common/scripted_effects/99_STALKER_world_effects.txt
  common/scripted_localisation/00_STALKER_faction_wars_scripted_localisation.txt
  common/scripted_localisation/00_STALKER_factions_scripted_localisation.txt
  common/scripted_localisation/00_STALKER_scripted_localisation.txt
  common/scripted_triggers/99_STALKER_faction_wars_triggers.txt
  events/STALKER.txt
  events/STALKER_factions.txt
  events/STALKER_world.txt
  localisation/english/MD_STALKER_2022_l_english.yml
  localisation/english/MD_STALKER_aftermath_l_english.yml
  localisation/english/MD_STALKER_faction_wars_l_english.yml
  localisation/english/MD_STALKER_factions_l_english.yml
  localisation/english/MD_STALKER_footprint_l_english.yml
  localisation/english/MD_STALKER_intel_l_english.yml
  localisation/english/MD_STALKER_international_l_english.yml
  localisation/english/MD_STALKER_l_english.yml
  localisation/english/MD_STALKER_monolith_l_english.yml
  localisation/english/MD_STALKER_mutants_l_english.yml
  localisation/english/MD_STALKER_regional_l_english.yml
  localisation/english/MD_STALKER_world_l_english.yml
  localisation/english/MD_STALKER_xlabs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Log the STALKER Tearling exchange result like the scenario's other events
  Changelog.txt
  events/STALKER_faction_wars.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refresh the cached Zone leader after SIRCAA sabotage weakens the Ward
  common/scripted_effects/99_STALKER_top_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop two validators masking non-I/O errors as unreadable files (#4901)
  tools/linting/check_common_mistakes.py
  tools/tests/validation/variables_validator_run_test.py
  tools/validation/validate_variables.py
Due: none

EU Budget Population and Article 50 fix (#4906)
  Changelog.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give Israel's Periphery Pact the Middle East manifest (#4900)
  Changelog.txt
  common/factions/templates/99_ISR.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reduce starting inflation for Russia, Belarus, Iran, and Turkey (#4890)
  Changelog.txt
  docs/src/content/resources/data-sources.md
  history/countries/BLR - Belarus.txt
  history/countries/PER - Iran.txt
  history/countries/SOV - Russia.txt
  history/countries/TUR - Turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Energy load sharing fix (#4898)
  Changelog.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/!_energy_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Improve Libya intelligence agency focus (#4745) (#4856)
  Changelog.txt
  common/national_focus/05_libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed tabulation for Fresh
  common/national_focus/05_libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ghana: Western Togoland Rebellion event chain (#4544)
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_triggers/GAH_scripted_triggers.txt
  events/Ghana.txt
  localisation/english/MD_focus_GAH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Record the footprint Zone for event text only when a spread actually fires
  common/scripted_effects/99_STALKER_footprint_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Log the Tearling exchange where it resolves instead of in STALKER.151's no-op option
  Changelog.txt
  common/scripted_effects/99_STALKER_faction_wars_effects.txt
  events/STALKER_faction_wars.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Treat Project X and MDST as the STALKER 2 canon they are, and fix two lines that contradicted it
  .claude/docs/stalker-scenario.md
  Changelog.txt
  localisation/english/MD_STALKER_l_english.yml
  localisation/english/MD_STALKER_mdst_l_english.yml
  localisation/english/MD_STALKER_xlabs_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix ENG devolution referendums, Finalise tooltips, timers and London mission (#4827, #4895, #4896, #4881)
  common/decisions/05_ENG_decisions.txt
  common/national_focus/05_united_kingdom.txt
  common/on_actions/99_ENG_on_actions.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give the STALKER Monolith and smugglers a Targeted Operations discovery route each
  Changelog.txt
  common/scripted_effects/99_STALKER_international_effects.txt
  common/scripted_effects/99_STALKER_top_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

Fix SOV Bring Democracy focuses not bypassing democracies (#4880)
  common/national_focus/05_russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop Ansar al-Sharia respawning in Benghazi
  Changelog.txt
  common/on_actions/99_LBA_on_actions.txt
  events/Libya.txt
  gfx/event_pictures/africa/libya - LBA/WIP_libya_civil_war_rebels_country_event.dds
  gfx/event_pictures/africa/libya - LBA/WIP_libya_extremist_militia_country_event.dds
  gfx/event_pictures/africa/libya - LBA/WIP_libya_reformist_brigade_country_event.dds
  gfx/event_pictures/africa/libya - LBA/WIP_zintan_brigade_country_event.dds
  gfx/event_pictures/africa/libya - LBA/libya_civil_war_rebels.dds
  gfx/event_pictures/africa/libya - LBA/libya_extremist_militia.dds
  gfx/event_pictures/africa/libya - LBA/libya_reformist_brigade.dds
  gfx/event_pictures/africa/libya - LBA/libya_zintan_brigade.dds
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add path hints to French Republic spirits and Commune focus (#4731, #4696)
  common/national_focus/05_france.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Let STALKER reference Zones split into their borderlands and let a Zone's edge drift
  .claude/docs/stalker-scenario.md
  Changelog.txt
  common/scripted_effects/99_STALKER_footprint_effects.txt
  common/scripted_localisation/00_STALKER_scripted_localisation.txt
  events/STALKER_footprint.txt
  localisation/english/MD_STALKER_footprint_l_english.yml
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Bypass SOV Bring Democracy Focuses for Democracies (#4880) (#4908)
  Changelog.txt
  common/national_focus/05_russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add a Randomized option to the STALKER Kaymanov global Zones rule
  .claude/docs/stalker-scenario.md
  Changelog.txt
  common/game_rules/00_game_rules.txt
  common/scripted_effects/99_STALKER_regional_effects.txt
  common/scripted_effects/99_STALKER_scripted_effects.txt
  common/scripted_effects/99_STALKER_zone_placements.txt
  common/scripted_localisation/00_STALKER_scripted_localisation.txt
  common/scripted_triggers/99_STALKER_scripted_triggers.txt
  localisation/english/MD_STALKER_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_focus_FRA_l_english.yml
  localisation/english/MD_focus_FRA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Stop Ansar al-Sharia respawning in Benghazi (#4910)
  Changelog.txt
  common/on_actions/99_LBA_on_actions.txt
  events/Libya.txt
  gfx/event_pictures/africa/libya - LBA/WIP_libya_civil_war_rebels_country_event.dds
  gfx/event_pictures/africa/libya - LBA/WIP_libya_extremist_militia_country_event.dds
  gfx/event_pictures/africa/libya - LBA/WIP_libya_reformist_brigade_country_event.dds
  gfx/event_pictures/africa/libya - LBA/WIP_zintan_brigade_country_event.dds
  gfx/event_pictures/africa/libya - LBA/libya_civil_war_rebels.dds
  gfx/event_pictures/africa/libya - LBA/libya_extremist_militia.dds
  gfx/event_pictures/africa/libya - LBA/libya_reformist_brigade.dds
  gfx/event_pictures/africa/libya - LBA/libya_zintan_brigade.dds
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ENG devolution and London mission fixes (#4827, #4895, #4896, #4881) (#4907)
  Changelog.txt
  common/decisions/05_ENG_decisions.txt
  common/national_focus/05_united_kingdom.txt
  common/on_actions/99_ENG_on_actions.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add path hints to French Republic spirits and Commune focus (#4731, #4696) (#4911)
  Changelog.txt
  common/national_focus/05_france.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Whitelist collaboration_formed_by and drop hidden bushfire event option
  Changelog.txt
  events/05_australia_events.txt
  tools/tests/validation/validate_localisation_checks_test.py
  tools/validation/validate_localisation.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardise Thailand AI path rule to Historical / alternate paths / Random Path / No Path
  common/ai_strategy/SIA.txt
  common/ai_strategy_plans/SIA_strategy_plans.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_thailand.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
