Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Test
  docs/_config.yml
  docs/dev-resources/code-stylization-guide.md
  docs/team-resources.md
  docs/tutorials.md
Due: none

Fixed more file pathing
  docs/_config.yml
  docs/dev-resources/code-stylization-guide.md
Due: none

more fixes to new website
  docs/countries-list.md
  docs/dev-diaries-list.md
  docs/dev-resources/code-stylization-guide.md
  docs/player-tutorials/economy-tutorial.md
  docs/player-tutorials/military-tutorial.md
  docs/player-tutorials/troubleshooting-guide.md
Due: none

Fixed
  common/dynamic_modifiers/0_dynamic_modifiers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed
  .github/workflows/coding-pipeline.yml
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  docs/assets/css/main.css
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the issues that were there and further fix in coding-pipeline
  .github/workflows/coding-pipeline.yml
  common/ai_strategy_plans/SWE_strategy_plans.txt
  common/bop/SWE.txt
  common/national_focus/sweden.txt
  events/Korea.txt
  events/Sweden.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Fixed some final issues
  .github/workflows/coding-pipeline.yml
Due: none

Update issue templates (#3)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

i hate my life
  common/dynamic_modifiers/MD_cac_dynamic_modifiers.txt
  common/modifier_definitions/cac_modifier_definitions.txt
  common/on_actions/MD_cac_on_actions.txt
  common/scripted_effects/00_MD_cac_scripted_effects.txt
  common/scripted_guis/02_cac_scripted_guis.txt
  common/scripted_guis/02_cac_type_0_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  events/cac_events.txt
  gfx/interface/companies_and_corporations/cnc_generic_bg.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_bills.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_blueprints.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_blueprints2.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_cash.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_cash2.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_circular_arrows.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_circular_arrows2.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_documents.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_documents2.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_factory.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_fallen_piece.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_gold.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_handshake.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_paper.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_people.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_people2.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_silver.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_trade.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_unknown.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_white_house.dds
  history/countries/POL - Poland.txt
  interface/MD_cac_type_0.gui
  interface/MD_cnc.gfx
  interface/MD_cnc_company_detail.gui
  interface/MD_cnc_interface.gui
  localisation/english/MD_cac_companies_names_l_english.yml
  localisation/english/MD_cac_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed some minor issues, review changelog
  Changelog.txt
  common/achievements/MD_ribbons.txt
  common/national_focus/korea_confederation.txt
  common/national_focus/korea_south.txt
  common/scripted_guis/sco_gui.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  docs/index.md
  events/Iraq.txt
  events/Russia.txt
  history/units/SOV_2000_nsb.txt
  history/units/UKR_2000_bba.txt
  history/units/USA_2000_nsb.txt
  interface/MD_SCO_gui.gui
  localisation/english/MD_influence_l_english.yml
  tools/__pycache__/path_utils.cpython-312.pyc
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  tools/__pycache__/path_utils.cpython-312.pyc
Due: none

Fixed some minor issues and other oddities in the new GitHub Website (#4)
  Changelog.txt
  common/achievements/MD_ribbons.txt
  common/national_focus/korea_confederation.txt
  common/national_focus/korea_south.txt
  common/scripted_guis/sco_gui.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  docs/index.md
  events/Iraq.txt
  events/Russia.txt
  history/units/SOV_2000_nsb.txt
  history/units/UKR_2000_bba.txt
  history/units/USA_2000_nsb.txt
  interface/MD_SCO_gui.gui
  localisation/english/MD_influence_l_english.yml
  tools/__pycache__/path_utils.cpython-312.pyc
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed an arab spring event
  Changelog.txt
  events/Arab Spring.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update china_sar.txt
  common/national_focus/china_sar.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

missing changes
  common/ideas/AA_corruption_laws.txt
  common/ideas/AA_law_economics.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update chechnya.txt
  common/national_focus/chechnya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add new GUI elements and sprite definitions for company details and selection
  gfx/interface/companies_and_corporations/cnc_branch_left.dds
  gfx/interface/companies_and_corporations/cnc_branch_right.dds
  gfx/interface/companies_and_corporations/cnc_branch_straight.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_cash.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_cash2.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_circular_arrows.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_circular_arrows2.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_fallen_piece.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_handshake.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_paper.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_people.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_people2.dds
  gfx/interface/companies_and_corporations/upgrades/cac_upgrade_icon_white_house.dds
  interface/MD_cac_company_detail.gui
  interface/MD_cac_scripted_guis.gfx
  interface/MD_cac_scripted_guis.gui
  interface/MD_cac_type_0.gui
  interface/MD_cnc.gfx
Due: none

Update Millennium_Dawn.mod
  Millennium_Dawn.mod
Due: check-mod-file-encoding

Refactor company upgrade GUI and localization for upgrades 0-30
  common/on_actions/MD_cac_on_actions.txt
  common/scripted_effects/00_MD_cac_scripted_effects.txt
  common/scripted_guis/02_cac_type_0_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  interface/MD_cac_type_0.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

MIO
  common/equipment_groups/mio_equipment_groups.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  gfx/interface/military_industrial_organization/department_icons/mio_cat_destroyers.dds
  gfx/interface/military_industrial_organization/department_icons/mio_cat_small_ships.dds
  interface/military_industrial_organization/zMD_military_industrial_icons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

MIO
  common/equipment_groups/mio_equipment_groups.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/military_industrial_organization/organizations/MD_HOL_organizations.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/military_industrial_organization/organizations/MD_ROM_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  common/technologies/NSB_artillery.txt
  common/technologies/artillery.txt
  common/technologies/industry.txt
  common/technology_tags/00_technology.txt
  interface/military_industrial_organization/zMD_military_industrial_icons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_KOR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Mio
  Changelog.txt
  common/military_industrial_organization/organizations/MD_BRA_organizations.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  common/national_focus/brazil.txt
  common/national_focus/netherlands.txt
  gfx/interface/military_industrial_organization/department_icons/mio_cat_destroyers.dds
  gfx/interface/military_industrial_organization/department_icons/mio_cat_small_ships.dds
  interface/military_industrial_organization/zMD_military_industrial_icons.gfx
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Changed companys system to work like mio nad code refactor
  common/on_actions/CAC_on_actions.txt
  common/on_actions/MD_cac_on_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_effects/00_MD_cac_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_guis/02_cac_scripted_guis.txt
  common/scripted_guis/CAC_type_0_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  interface/CAC_company_detail.gui
  interface/CAC_scripted_guis.gfx
  interface/CAC_scripted_guis.gui
  interface/CAC_type_0.gui
  interface/military_industrial_organization/industrial_organization_detail.gui
  localisation/english/CAC_companies_names_l_english.yml
  localisation/english/CAC_l_english.yml
  localisation/english/MD_cac_companies_names_l_english.yml
  localisation/english/MD_cac_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

small fix
  interface/CAC_company_detail.gui
Due: none

Create Lebanon events file and added first event
  events/Lebanon
Due: none

Enhance company management UI with sorting options and update localization for new features
  common/on_actions/CAC_on_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  interface/CAC_scripted_guis.gui
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

upgrades desc and some small changes
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_guis/CAC_type_0_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  interface/CAC_company_detail.gui
  interface/CAC_scripted_guis.gui
  interface/CAC_type_0.gui
  localisation/english/CAC_l_english.yml
  localisation/english/CAC_upgrades_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Brazilian MIO
  common/ideas/Brazilian.txt
  common/military_industrial_organization/organizations/MD_BRA_organizations.txt
  interface/military_industrial_organization/zMD_military_industrial_icons.gfx
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

added the second event for lebanon
  events/Lebanon
Due: none

added back deleted portraits
  gfx/leaders/PER/amir_hatami.dds
  gfx/leaders/PER/amir_hatami_pol.dds
  gfx/leaders/PER/small/amir_hatami_small.dds
Due: none

implemented
  common/characters/PER.txt
  events/Iran.txt
  history/countries/PER - Iran.txt
  localisation/braz_por/MD_focus_PER_l_braz_por.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

tags
  events/Project Threshold.txt
  localisation/english/countries_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

history tab and some smaller improvments
  common/on_actions/CAC_on_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_guis/CAC_type_0_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  gfx/interface/companies_and_corporations/cnc_branch_left.dds
  gfx/interface/companies_and_corporations/cnc_branch_right.dds
  gfx/interface/companies_and_corporations/cnc_branch_straight.dds
  gfx/texticons/complex.dds
  interface/CAC_company_detail.gui
  interface/CAC_company_history.gui
  interface/CAC_scripted_guis.gfx
  interface/CAC_scripted_guis.gui
  interface/CAC_type_0.gui
  localisation/english/CAC_l_english.yml
  localisation/english/CAC_upgrades_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH drone mission icons
  gfx/interface/project_treshold/scripted_gui/EH_gui_drone_button.png
  gfx/interface/project_treshold/scripted_gui/EH_gui_drone_picture.png
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH fixes
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
Due: none
