Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Fix validation false positives and clear script warnings
  Changelog.txt
  common/national_focus/05_singapore.txt
  common/national_focus/06_AfricanUnion_shared.txt
  common/national_focus/turkey.txt
  common/scripted_effects/QUE_political_leaders.txt
  events/Brazilian.txt
  events/EU_events.txt
  events/Iraq.txt
  events/MD_Elections.txt
  localisation/english/MD_focus_UKR_l_english.yml
  tools/tests/validation/validate_localisation_checks_test.py
  tools/validation/validate_localisation.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

temp
  Changelog.txt
  common/ideas/Iranian.txt
  common/resistance_activity/resistance_activity.txt
  common/scripted_effects/CSA_political_leaders.txt
  tools/tests/validation/validate_localisation_checks_test.py
  tools/validation/validate_localisation.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ukraine misc fixes&changes (#4742)
  common/decisions/Ukraine.txt
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

small loc addition to salafist propaganda
  common/scripted_effects/00_resource_storage_effects.txt
  localisation/english/MD_country_politics_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix validation false positives and clear script warnings (#4756)
  Changelog.txt
  common/ideas/Iranian.txt
  common/national_focus/05_singapore.txt
  common/national_focus/06_AfricanUnion_shared.txt
  common/national_focus/turkey.txt
  common/resistance_activity/resistance_activity.txt
  common/scripted_effects/CSA_political_leaders.txt
  common/scripted_effects/QUE_political_leaders.txt
  events/Brazilian.txt
  events/EU_events.txt
  events/Iraq.txt
  events/MD_Elections.txt
  localisation/english/MD_focus_UKR_l_english.yml
  tools/tests/validation/validate_localisation_checks_test.py
  tools/validation/validate_localisation.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EU + Rss storage fixes (#4757)
  common/decisions/EU_voting_decisions.txt
  common/ideas/AA_law_expanded_economics.txt
  common/scripted_effects/00_resource_storage_effects.txt
  interface/resource_storage.gui
  localisation/english/MD_country_politics_view_l_english.yml
  localisation/english/resource_storage_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix farmers opinion modifier math and wire the monthly modifier
  common/modifier_definitions/internal_factions_modifier_definitions.txt
  common/scripted_effects/00_internal_faction_effects.txt
  localisation/english/MD_internal_factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Apply farmers opinion modifiers with decay off
  common/modifier_definitions/internal_factions_modifier_definitions.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/00_internal_faction_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use a fixed factor for faction acceptance modifiers
  common/scripted_effects/00_internal_faction_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Compute internal faction dynamic modifiers as math expressions
  common/scripted_effects/00_internal_faction_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Extend internal faction opinion modifiers to every faction
  common/ideas/05_Australia.txt
  common/ideas/AA_law_internal_factions.txt
  common/ideas/AA_law_military_ideas.txt
  common/ideas/Brazilian.txt
  common/ideas/Comorosian.txt
  common/ideas/Singapore.txt
  common/ideas/Spain.txt
  common/ideas/arab_spirits.txt
  common/ideas/denmark.txt
  common/modifier_definitions/internal_factions_modifier_definitions.txt
  common/national_focus/05_Australia.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_internal_faction_effects.txt
  localisation/english/MD_focus_AST_l_english.yml
  localisation/english/MD_focus_SIN_l_english.yml
  localisation/english/MD_internal_factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  history/countries/ERI - Eritrea.txt
  history/countries/ETH - Ethiopia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ethiopia
  common/synchronized_dynamic_tokens/MD_tokens.txt
  localisation/english/MD_focus_ETH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Added hardkill icon
  common/decisions/Ukraine.txt
  common/units/equipment/modules/MD_tank_modules.txt
  gfx/interface/technologies/0_modules/tank_builder/special_modules/hardkill_system_gen5.dds
  history/countries/SOV - Russia.txt
  history/countries/UKR - Ukraine.txt
  interface/tank_modules_icons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Scale internal faction bonuses linearly with influence and opinion
  .claude/docs/internal-factions-reference.md
  Changelog.txt
  common/scripted_effects/01_internal_factions_v3_ecosystem.txt
  common/scripted_effects/01_internal_factions_v3_modifier_feeds.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changed startup tech to UKR
  history/countries/UKR - Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Sync internal faction ideas with the v3 active set
  .claude/docs/internal-factions-reference.md
  Changelog.txt
  common/ideas/AA_law_internal_factions.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/00_internal_faction_effects.txt
  common/scripted_effects/01_internal_factions_v3_effects.txt
  common/scripted_effects/01_internal_factions_v3_modifier_feeds.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Drop the internal faction changelog line
  Changelog.txt
Due: none

Move internal faction idea bonuses into presence-scaled dynamic modifiers
  .claude/docs/internal-factions-reference.md
  common/dynamic_modifiers/05_internal_factions_modifiers.txt
  common/ideas/AA_law_internal_factions.txt
  common/scripted_effects/01_internal_factions_v3_modifier_feeds.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Show internal faction bonuses in the faction window and add debug tools
  common/decisions/00_internal_factions.txt
  common/decisions/categories/00_internal_faction_categories.txt
  common/scripted_localisation/01_internal_factions_scripted_loc.txt
  interface/MD_internal_factions.gui
  localisation/english/MD_internal_factions_v3_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add an Effects button to faction rows and default opinion targets to 50
  common/scripted_effects/01_internal_factions_v3_effects.txt
  interface/MD_internal_factions.gui
  localisation/english/MD_internal_factions_v3_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Show faction effects on the faction icon hover
  interface/MD_internal_factions.gui
  localisation/english/MD_internal_factions_v3_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Route internal faction window tooltips through loc keys and make the icon non-clickable
  interface/MD_internal_factions.gui
  localisation/english/MD_internal_factions_v3_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Missile Icon Changes
  gfx/interface/technologies/SOV/MISSILE/SAM_2025.dds
  gfx/interface/technologies/SOV/MISSILE/SAM_2035.dds
  gfx/interface/technologies/SOV/MISSILE/SAM_2045.dds
  gfx/interface/technologies/SOV/MISSILE/SAM_2055.dds
  gfx/interface/technologies/SOV/MISSILE/SAM_2065.dds
  gfx/interface/technologies/TUR/MISSILE/SAM_2015.dds
  gfx/interface/technologies/TUR/MISSILE/SAM_2025.dds
  gfx/interface/technologies/TUR/MISSILE/SAM_2055.dds
  gfx/interface/technologies/TUR/MISSILE/SAM_2065.dds
  gfx/interface/technologies/TUR/MISSILE/SAM_2075.dds
  gfx/interface/technologies/UKR/MISSILE/SAM_2055.dds
  gfx/interface/technologies/UKR/MISSILE/SAM_2065.dds
  gfx/interface/technologies/UKR/MISSILE/SAM_2075.dds
Due: none

changelog
  Changelog.txt
Due: none

Eritrea/Ethiopian starting rebalance for national content
  Changelog.txt
  common/bookmarks/blitzkrieg.txt
  common/decisions/bankruptcy_decisions.txt
  common/decisions/categories/00_decision_categories.txt
  common/dynamic_modifiers/99_ERI_dynamic_modifiers.txt
  common/ideas/AA_law_economics.txt
  common/ideas/Ethiopian.txt
  common/national_focus/05_ethiopia.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/99_ERI_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  events/Ethiopia.txt
  history/countries/ERI - Eritrea.txt
  history/countries/ETH - Ethiopia.txt
  history/states/1019-Afar.txt
  history/states/228-Eritrean Coast.txt
  history/states/229-Eritrean Interior.txt
  history/states/231-Tigray.txt
  history/states/232-Amhara.txt
  history/states/233-Oromia.txt
  history/states/234-East Oromia.txt
  history/states/235-Southern Ethiopia.txt
  history/states/236-Ogaden.txt
  localisation/english/MD_focus_ERI_ETH_l_english.yml
  localisation/english/MD_focus_ERI_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Chinese Missiles Rework
  gfx/interface/technologies/CHI/MISSILE/GLCM_2035.dds
  gfx/interface/technologies/CHI/MISSILE/GLCM_2045.dds
  gfx/interface/technologies/CHI/MISSILE/GLCM_2055.dds
  gfx/interface/technologies/CHI/MISSILE/GLCM_2065.dds
  gfx/interface/technologies/CHI/MISSILE/HSCM_2055.dds
  gfx/interface/technologies/CHI/MISSILE/HSCM_2065.dds
  gfx/interface/technologies/CHI/MISSILE/HSCM_2075.dds
  gfx/interface/technologies/CHI/MISSILE/ICBM_2035.dds
  gfx/interface/technologies/CHI/MISSILE/ICBM_2045.dds
  gfx/interface/technologies/CHI/MISSILE/ICBM_2055.dds
  gfx/interface/technologies/CHI/MISSILE/ICBM_2065.dds
  gfx/interface/technologies/CHI/MISSILE/ICBM_2075.dds
  gfx/interface/technologies/CHI/MISSILE/SAM_2045.dds
  gfx/interface/technologies/CHI/MISSILE/SAM_2055.dds
  gfx/interface/technologies/CHI/MISSILE/SAM_2065.dds
  gfx/interface/technologies/CHI/MISSILE/SAM_2075.dds
Due: none

Changed localisation
  Changelog.txt
  localisation/braz_por/MD_techs_l_braz_por.yml
  localisation/english/MD_techs_l_english.yml
  localisation/french/MD_techs_l_french.yml
  localisation/german/MD_techs_l_german.yml
  localisation/japanese/MD_techs_l_japanese.yml
  localisation/korean/MD_techs_l_korean.yml
  localisation/polish/MD_techs_l_polish.yml
  localisation/russian/MD_techs_l_russian.yml
  localisation/simp_chinese/MD_techs_l_simp_chinese.yml
  localisation/spanish/MD_techs_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

Update MD_techs_l_russian.yml
  localisation/russian/MD_techs_l_russian.yml
Due: none

Add EPLF coup system and Ethiopian mega-infrastructure decisions
  Changelog.txt
  common/decisions/Ethiopia.txt
  common/decisions/categories/99_ETH_decision_categories.txt
  common/national_focus/05_ethiopia.txt
  common/opinion_modifiers/Russia.txt
  common/scripted_effects/99_ETH_scripted_effects.txt
  common/scripted_effects/ERI_political_leaders.txt
  common/scripted_guis/01_influence_scripted_guis.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
  common/scripted_triggers/99_ERI_scripted_triggers.txt
  common/scripted_triggers/99_ETH_scripted_triggers.txt
  events/Ethiopia.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_ERI_ETH_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

coax_mg fix
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rename T-55AMD-1 to T-55MD-1 and update ATGM version
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update SOV - Russia.txt
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/national_focus/05_south_ossetia.txt
  history/countries/SOV - Russia.txt
  history/countries/URA - Ural Republic.txt
  history/units/CUB_2000_nsb.txt
  history/units/FIN_2000_nsb.txt
  history/units/ROM_2000_nsb.txt
  history/units/SOO_2000_nsb.txt
  history/units/SYR_2000_nsb.txt
  history/units/UKR_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Compute the law tolerance caps in one place
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Starting Tech + NERA
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/tank_modules_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Replace AUS with AST in national_focus/05_china.txt
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
