Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

update MD_corrupt_operations.txt + changelog
  Changelog.txt
  common/operations/MD_corrupt_operations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Record the Fleet Training Command doctrine flag on every open and click so levels bought before a doctrine show their spirit
  common/scripted_effects/00_fleet_training_command_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Andrew's inner circle chain stalling before Duty of the Crown (#4968)
  events/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove duplicate decision unlock tooltips from UK inner circle focuses (#4969)
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cap UK yearly steel and Scottish industry windfalls at 10 payouts (#4963)
  common/decisions/05_ENG_decisions.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Show UK Union Settlement referendum cooldown and wins during cooldown (#4954)
  common/decisions/05_ENG_decisions.txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  events/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Restore literal Fleet Training Command loc text because scripted GUI tooltips do not resolve $KEY$ references
  localisation/english/MD_fleet_training_command_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix FLN SIBMAS upgrade and ENG-made artillery_2 variant references (#4998)
  history/countries/FLN - Flanders.txt
  history/units/BEN_2000_nsb.txt
  history/units/BHR_2000_nonnsb.txt
  history/units/BHR_2000_nsb.txt
  history/units/BOS_2000_nonnsb.txt
  history/units/BOS_2000_nsb.txt
  history/units/BOT_2000_nonnsb.txt
  history/units/BOT_2000_nsb.txt
  history/units/BRA_2000_nonnsb.txt
  history/units/BRA_2000_nsb.txt
  history/units/BRU_2000_nonnsb.txt
  history/units/BRU_2000_nsb.txt
  history/units/ENG_2000_nonnsb.txt
  history/units/ENG_2000_nsb.txt
  history/units/IRE_2000_nonnsb.txt
  history/units/IRE_2000_nsb.txt
  history/units/MOR_2000_nonnsb.txt
  history/units/MOR_2000_nsb.txt
  history/units/NZL_2000_nonnsb.txt
  history/units/NZL_2000_nsb.txt
  history/units/POR_2000_nonnsb.txt
  history/units/POR_2000_nsb.txt
  history/units/SPR_2000_nonnsb.txt
  history/units/SPR_2000_nsb.txt
  history/units/TUN_2000_nonnsb.txt
  history/units/TUN_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix GER historical-path trigger call and lint bare scripted calls (#4997)
  common/scripted_triggers/99_GER_scripted_triggers.txt
  tools/linting/check_common_mistakes.py
  tools/tests/linting/check_common_mistakes_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_operations_l_english.yml
  localisation/english/MD_operations_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

beazley tree and new focuses
  common/national_focus/beazley_tree_TEMP.txt
  gfx/interface/goals/00_economy/focus_generic_childcare.dds
  gfx/interface/goals/00_navy/focus_PHI_the_concrete_battleship.dds
  gfx/interface/goals/00_security/focus_border_jail.dds
  gfx/interface/goals/australia/AST_disability_care.dds
  gfx/interface/goals/australia/AST_focus_latham_plan.dds
  gfx/interface/goals/australia/beazley_gov_icon.dds
  gfx/interface/goals/australia/focus_ambulance_services.dds
  gfx/interface/goals/australia/focus_kiwi_guns.dds
  gfx/interface/goals/australia/focus_telstra_dollar.dds
  gfx/interface/goals/australia/hold_on_world_ast.dds
  gfx/interface/goals/indonesia/focus_indonesian_prison.dds
  gfx/interface/goals/philippines/focus_generic_befriend_philippines.dds
  gfx/interface/goals/taiwan/focus_chi_cooperation_with_the_nationalists.dds
  interface/goals.gfx
  interface/goals_shine.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Hide Independence Pressure from UK devolution GUI tooltips
  Changelog.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

remove tooltip
  localisation/braz_por/MD_operations_l_braz_por.yml
  localisation/french/MD_operations_l_french.yml
  localisation/german/MD_operations_l_german.yml
  localisation/japanese/MD_operations_l_japanese.yml
  localisation/korean/MD_operations_l_korean.yml
  localisation/polish/MD_operations_l_polish.yml
  localisation/russian/MD_operations_l_russian.yml
  localisation/simp_chinese/MD_operations_l_simp_chinese.yml
  localisation/spanish/MD_operations_l_spanish.yml
Due: none

Update Lobby the Government operations (#5000)
  Changelog.txt
  common/operations/MD_corrupt_operations.txt
  localisation/braz_por/MD_operations_l_braz_por.yml
  localisation/english/MD_operations_l_english.yml
  localisation/french/MD_operations_l_french.yml
  localisation/german/MD_operations_l_german.yml
  localisation/japanese/MD_operations_l_japanese.yml
  localisation/korean/MD_operations_l_korean.yml
  localisation/polish/MD_operations_l_polish.yml
  localisation/russian/MD_operations_l_russian.yml
  localisation/simp_chinese/MD_operations_l_simp_chinese.yml
  localisation/spanish/MD_operations_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Localise flags shown in cancel_trigger and bypass requirement lines
  .claude/docs/validation-pipeline.md
  Changelog.txt
  localisation/english/MD_BRICS_events_l_english.yml
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_FRA_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_LBA_l_english.yml
  localisation/english/MD_focus_NRY_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_SAU_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  tools/tests/validation/unlocalised_available_flag_test.py
  tools/validation/validate_variables.py
Due: validate-localization-encoding, fix-localization-encoding

Fix unsupported upgrades on NL, SWE and UKR equipment variants (#4998)
  common/national_focus/05_netherlands.txt
  history/countries/SWE - Sweden.txt
  history/countries/UKR - Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add validator check for unsupported equipment variant upgrades (#4998)
  tools/tests/validation/equipment_module_slots_test.py
  tools/validation/README.md
  tools/validation/equipment_module_slots.py
  tools/validation/validate_oob_units.py
Due: none

Georgia electric focus fix
  Changelog.txt
  common/national_focus/05_georgia.txt
  common/scripted_effects/99_GEO_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize party localisation for EGY
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/EGY_political_leaders.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/Egypt.txt
  localisation/english/MD_focus_EGY_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Georgia electric focus fix (#4983) (#5003)
  Changelog.txt
  common/national_focus/05_georgia.txt
  common/scripted_effects/99_GEO_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add 2002 Tampa plane crash event (#4823) (#4959)
  Changelog.txt
  events/United States.txt
  events/waronterror.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Localise raids missing names and descriptions and validate raid loc
  Changelog.txt
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_military_raids_l_english.yml
  tools/tests/validation/validate_localisation_checks_test.py
  tools/validation/validate_localisation.py
  tools/validation/validator_common.py
Due: validate-localization-encoding, fix-localization-encoding

Add reverse engineering bonuses for bought and captured hulls
  Changelog.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_market_on_actions.txt
  common/scripted_effects/00_reverse_engineering_effects.txt
  events/MD_reverse_engineering_events.txt
  localisation/english/MD_reverse_engineering_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Flag every dynamic modifier without an English loc key and localise the Alstom rail industry modifier
  Changelog.txt
  localisation/english/MD_focus_FRA_l_english.yml
  tools/tests/validation/loc_integrity_checks_test.py
  tools/validation/validate_modifiers.py
Due: validate-localization-encoding, fix-localization-encoding

Parametrize the dynamic modifier loc tests to clear the jscpd duplicate
  tools/tests/validation/loc_integrity_checks_test.py
Due: none

UK inner circle, devolution and flag localisation fixes (#4954, #4963, #4968, #4969) (#4999)
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/decisions/05_ENG_decisions.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  events/05_united_kingdom.txt
  localisation/english/MD_BRICS_events_l_english.yml
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_FRA_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_LBA_l_english.yml
  localisation/english/MD_focus_NRY_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_SAU_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  tools/tests/validation/unlocalised_available_flag_test.py
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add a scaffolder for International Systems tabs
  tools/README.md
  tools/generators/add_international_system.py
  tools/tests/add_international_system_test.py
Due: none

Fix start-date equipment variant errors (#4998) (#5002)
  Changelog.txt
  common/national_focus/05_netherlands.txt
  history/countries/FLN - Flanders.txt
  history/countries/SWE - Sweden.txt
  history/countries/UKR - Ukraine.txt
  history/units/BEN_2000_nsb.txt
  history/units/BHR_2000_nonnsb.txt
  history/units/BHR_2000_nsb.txt
  history/units/BOS_2000_nonnsb.txt
  history/units/BOS_2000_nsb.txt
  history/units/BOT_2000_nonnsb.txt
  history/units/BOT_2000_nsb.txt
  history/units/BRA_2000_nonnsb.txt
  history/units/BRA_2000_nsb.txt
  history/units/BRU_2000_nonnsb.txt
  history/units/BRU_2000_nsb.txt
  history/units/ENG_2000_nonnsb.txt
  history/units/ENG_2000_nsb.txt
  history/units/IRE_2000_nonnsb.txt
  history/units/IRE_2000_nsb.txt
  history/units/MOR_2000_nonnsb.txt
  history/units/MOR_2000_nsb.txt
  history/units/NZL_2000_nonnsb.txt
  history/units/NZL_2000_nsb.txt
  history/units/POR_2000_nonnsb.txt
  history/units/POR_2000_nsb.txt
  history/units/SPR_2000_nonnsb.txt
  history/units/SPR_2000_nsb.txt
  history/units/TUN_2000_nonnsb.txt
  history/units/TUN_2000_nsb.txt
  tools/tests/validation/equipment_module_slots_test.py
  tools/validation/README.md
  tools/validation/equipment_module_slots.py
  tools/validation/validate_oob_units.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Kharkiv
  common/national_focus/05_ukraine.txt
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix unlocalised raids and validate raid localisation (#5005)
  Changelog.txt
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_military_raids_l_english.yml
  tools/tests/validation/validate_localisation_checks_test.py
  tools/validation/validate_localisation.py
  tools/validation/validator_common.py
Due: validate-localization-encoding, fix-localization-encoding

Fix GER historical-path trigger call and lint bare scripted calls (#4997) (#5001)
  Changelog.txt
  common/scripted_triggers/99_GER_scripted_triggers.txt
  tools/linting/check_common_mistakes.py
  tools/tests/linting/check_common_mistakes_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Kharkiv concern clarification (#5008)
  common/national_focus/05_ukraine.txt
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add an Economic Forums tab to the International Systems screen
  Changelog.txt
  common/scripted_effects/01_econ_forum_effects.txt
  common/scripted_effects/01_targeted_operations_view.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_guis/01_international_forums_gui.txt
  common/scripted_localisation/01_econ_forum_scripted_localisation.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  gfx/interface/scripted_gui/missiles/ledger_icon_small_forums.dds
  gfx/interface/scripted_gui/missiles/missiles_gui_ledger_btn_narrow.dds
  interface/MD_countrymissilesview.gfx
  interface/MD_countrymissilesview.gui
  interface/MD_international_forums.gui
  localisation/english/MD_econ_forum_l_english.yml
  localisation/english/MD_international_forums_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

additional collateral damage to missile packs
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Cover the International Systems scaffolder's CLI and error paths
  tools/generators/add_international_system.py
  tools/tests/add_international_system_test.py
Due: none
