Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

added gfx leader
  common/scripted_effects/LKT_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Patched subideologies
  common/scripted_localisation/00_subideology_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update SEO for a new pages
  docs/_config.yml
Due: none

Algerian Code Standardization
  common/decisions/categories/99_ALG_decision_categories.txt
  common/ideas/Algerian.txt
  common/national_focus/05_algeria.txt
  common/on_actions/99_ALG_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  history/countries/ALG - Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on standardization and cleanup
  common/country_tags/00_countries.txt
  common/dynamic_modifiers/ALG_dynamic_modifiers.txt
  common/ideas/Algerian.txt
  common/ideas/Kabylian.txt
  common/ideas/Sahrawi.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

pushing up more work pre-merge
  common/ideas/Various.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More code cleanup and prepping for merge
  common/characters/ALG.txt
  common/decisions/Algeria.txt
  common/decisions/categories/99_ALG_decision_categories.txt
  common/national_focus/05_algeria.txt
  common/on_actions/99_ALG_parliament_gui_on_actions.txt
  common/scripted_guis/Algeria_parliament_gui.txt
  common/unit_medals/ALG_medals.txt
  localisation/english/ALG_parliament_gui_l_english.yml
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add files via upload
  history/units/CAN_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  common/units/names_ships/ENG_ship_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  common/units/names_divisions/CAN_names_divisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

some fix and remove
  common/decisions/JAP.txt
  common/national_focus/05_japan.txt
  events/JAP.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

even more un aid work, we're almost there
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/ideas/Various.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH chimera balance
  common/ideas/Chimera.txt
  common/on_actions/99_EH_on_actions.txt
  common/units/equipment/EH_HACS_mech.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

aid calcuation math is done lets goooooooooo BIRD IS A RICH BASTARD, LISTEN TO HIM TALK ABOUT "OOOHHH MY TV IS TOO SMALLLL" while we all STARVE
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH chimera now takes states in pc
  common/ai_strategy/ALN.txt
  common/peace_conference/ai_peace/00_misc.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH this should fix static screen on larger resolutions
  interface/EH_scripted_gui.gui
Due: none

Fixed loc for several dynamic modifiers
  localisation/english/MD_dm_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

pre-ai-work (oh god dont fuck this up claude)
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

another bulk commit
  common/ideas/Various.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  history/countries/AST - Australia.txt
  history/countries/AUS - Austria.txt
  history/countries/BEL - Belgium.txt
  history/countries/BRA - Brazil.txt
  history/countries/CAN - Canada.txt
  history/countries/CHI - China.txt
  history/countries/CZE - Czech Republic.txt
  history/countries/DEN - Denmark.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/FIN - Finland.txt
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/GRE - Greece.txt
  history/countries/HOL - Holland.txt
  history/countries/ICE - Iceland.txt
  history/countries/IRE - Ireland.txt
  history/countries/ISR - Israel.txt
  history/countries/ITA - Italy.txt
  history/countries/JAP - Japan.txt
  history/countries/KOR - Korea.txt
  history/countries/LUX - Luxemburg.txt
  history/countries/MEX - Mexico.txt
  history/countries/NOR - Norway.txt
  history/countries/NZL - New Zealand.txt
  history/countries/POR - Portugal.txt
  history/countries/RAJ - India.txt
  history/countries/SAF - South Africa.txt
  history/countries/SAU - Saudi Arabia.txt
  history/countries/SLO - Slovakia.txt
  history/countries/SPR - Spain.txt
  history/countries/SWE - Sweden.txt
  history/countries/SWI - Switzerland.txt
  history/countries/TUR - Turkey.txt
  history/countries/UAE - United Arab Emirates.txt
  history/countries/USA - USA.txt
  interface/MD_countrymissilesview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed a CT bug
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

finally you let me push you bastard
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/modifier_definitions/money_modifier_definitions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

doin that work work work
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adding in the checks to remove subsidies
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adding more fuuun
  common/ideas/Various.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

adding more stuff
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing a math oopsie
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing a few caught bugs
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/scripted_effects/01_international_systems_effects.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

political events
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
  localisation/japanese/MD_subideology_parties_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes and thingies
  common/country_tags/00_countries.txt
  common/decisions/Algeria.txt
  common/national_focus/05_algeria.txt
  events/Algeria.txt
  interface/Algeria_hirak.gui
  interface/Algeria_hirak_gfx.gfx
  localisation/english/MD_bookmarks_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/decisions/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Make more pages data-driven
  docs/_data/dev_diaries.yml
  docs/_data/release.yml
  docs/dev-diaries-list.md
  docs/index.md
  docs/technical-support.md
Due: none

Data driven roadmaps and stuff on the main page
  docs/_data/home.yml
  docs/_data/known_submods.yml
  docs/index.md
  docs/misc/known-submods.md
Due: none

fixes
  gfx/interface/equipmentdesigner/graphic_db/00_plane_icons.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
