Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Fix milestone focus gates, MIO layouts and validator output (#3797)
  common/military_industrial_organization/organizations/MD_FRA_organizations.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  common/military_industrial_organization/organizations/MD_TAI_organizations.txt
  common/national_focus/05_fiji.txt
  common/national_focus/05_israel.txt
  common/national_focus/05_nigeria.txt
  common/national_focus/05_sahrawi.txt
  common/national_focus/05_syria.txt
  common/national_focus/05_usa.txt
  tools/tests/validation/run_all_validators_test.py
  tools/validation/run_all_validators.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revert unverified Randallite adjustment cleanup
  common/scripted_effects/99_EH_scripted_effects.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More trigger cleanup
  common/achievements/MD_achievements.txt
  common/achievements/MD_ribbons.txt
  common/ai_strategy/CHI.txt
  common/ai_strategy/MD_econ_ai.txt
  common/ai_strategy/NATO.txt
  common/ai_strategy/intelligence_agency.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work
  common/ai_strategy/NATO.txt
  common/ai_strategy/USA.txt
  common/decisions/00_political_decisions.txt
  common/decisions/01_pmc_decisions.txt
  common/decisions/99_ai_templates_decisions.txt
  common/decisions/99_civilian_equipment_decisions.txt
  common/decisions/France.txt
  common/decisions/Hungary.txt
  common/decisions/Romania.txt
  common/decisions/categories/99_ai_templates_category.txt
  common/decisions/categories/99_civilian_equipment_category.txt
  common/decisions/categories/NATO_decision_categories.txt
  common/decisions/taiwan.txt
  common/ideas/arab_spirits.txt
  common/scripted_effects/00_startup_effects.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  localisation/english/MD_decisions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix stale English localisation variable references (#3799)
  events/Algeria.txt
  localisation/english/MD_country_economy_view_l_english.yml
  localisation/english/MD_dynamic_topbar_l_english.yml
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_HKG_l_english.yml
  localisation/english/MD_focus_PHI_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
  localisation/english/MD_focus_SYR_l_english.yml
  localisation/english/MD_focus_TUR_l_english.yml
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/events_l_english.yml
  tools/tests/validation/validate_localisation_checks_test.py
  tools/validation/validate_localisation.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Convert the parameterised scripted effects too
  common/decisions/Israel.txt
  common/decisions/USA.txt
  common/decisions/War on Terror.txt
  common/decisions/targeted_operations_political.txt
  common/scripted_effects/00_targeted_operations_effects.txt
  common/scripted_effects/01_targeted_operations_view.txt
  common/scripted_effects/01_targeted_operations_world.txt
  common/scripted_effects/02_targeted_operations_authorization_effects.txt
  common/scripted_effects/03_targeted_operations_political_roster.txt
  common/scripted_effects/03_targeted_operations_security.txt
  common/scripted_effects/04_targeted_operations_cases.txt
  common/scripted_effects/99_ISI_scripted_effects.txt
  common/scripted_effects/99_war_on_terror_scripted_effects.txt
  common/scripted_guis/01_targeted_operations_gui.txt
  common/scripted_guis/03_targeted_operations_security.txt
  events/Iran.txt
  events/Middle East Peace Plan.txt
  events/Targeted Operations.txt
  events/waronterror.txt
  tools/tests/targeted_operations_authorization_test.py
  tools/tests/targeted_operations_core_test.py
  tools/tests/targeted_operations_legacy_test.py
  tools/tests/targeted_operations_political_test.py
  tools/tests/targeted_operations_security_test.py
  tools/tests/validation/validate_scripted_params_test.py
  tools/validation/validate_scripted_params.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add USA plane role coverage + historical designs
  common/ai_equipment/USA_plane.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix reviewed event picture mismatches
  events/05_japan.txt
  events/Iran.txt
  events/South Ossetia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Black Freburacy Debuffs more
  common/ideas/saudi_arabia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_AST_l_english.yml
  localisation/english/MD_focus_SAU_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Remove redundant original_tag re-checks from achievement happened blocks
  common/achievements/MD_achievements.txt
  tools/tests/validation/validate_achievements_test.py
  tools/tests/validation/validator_batches_test.py
  tools/validation/validate_achievements.py
  tools/validation/validator_batches.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add 2020, 2024 and 2028 election branches, and make Vance reachable
  common/national_focus/05_usa.txt
  common/scripted_effects/USA_political_leaders.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Restore NATO access to the NATO-CSTO agreement category
  common/decisions/categories/NATO_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Give Rubio his own term and gate the rest of the succession
  common/scripted_effects/USA_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Expand Targeted Operations through 2032
  common/raids/targeted_operations_raids.txt
  common/scripted_effects/00_targeted_operations_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/01_targeted_operations_registry.txt
  common/scripted_effects/01_targeted_operations_world.txt
  common/scripted_effects/02_targeted_operations_authorization_effects.txt
  common/scripted_effects/03_targeted_operations_political_roster.txt
  common/scripted_effects/04_targeted_operations_cases.txt
  common/scripted_effects/05_targeted_operations_runtime.txt
  common/scripted_effects/BRA_political_leaders.txt
  common/scripted_effects/BRM_political_leaders.txt
  common/scripted_effects/CHI_political_leaders.txt
  common/scripted_effects/EGY_political_leaders.txt
  common/scripted_effects/IND_political_leaders.txt
  common/scripted_effects/ISR_political_leaders.txt
  common/scripted_effects/NKO_political_leaders.txt
  common/scripted_effects/SAU_political_leaders.txt
  common/scripted_effects/TUR_political_leaders.txt
  common/scripted_effects/USA_political_leaders.txt
  common/scripted_effects/VEN_political_leaders.txt
  common/scripted_guis/01_targeted_operations_gui.txt
  common/scripted_localisation/01_targeted_operations_names.txt
  common/scripted_localisation/01_targeted_operations_status.txt
  common/scripted_localisation/02_targeted_operations_authorization.txt
  common/scripted_triggers/01_targeted_operations_triggers.txt
  common/scripted_triggers/02_targeted_operations_authorization_triggers.txt
  common/scripted_triggers/03_targeted_operations_political_roster.txt
  common/scripted_triggers/04_targeted_operations_cases.txt
  common/scripted_triggers/05_targeted_operations_runtime.txt
  events/Targeted Operations Runtime.txt
  interface/targeted_operations.gui
  localisation/english/MD_targeted_operations_authorization_l_english.yml
  localisation/english/MD_targeted_operations_l_english.yml
  localisation/english/MD_targeted_operations_roster_l_english.yml
  tools/data/targeted_operations.json
  tools/generators/generate_targeted_operations.py
  tools/tests/targeted_operations_authorization_test.py
  tools/tests/targeted_operations_core_test.py
  tools/tests/targeted_operations_generator_test.py
  tools/tests/targeted_operations_political_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add the USA executive mandate system
  common/decisions/USA_executive_mandate.txt
  common/decisions/categories/99_USA_executive_mandate_categories.txt
  common/dynamic_modifiers/99_USA_executive_mandate.txt
  common/national_focus/05_usa.txt
  common/scripted_effects/99_USA_executive_mandate_effects.txt
  localisation/english/MD_USA_executive_mandate_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give the new election roots an available matching their bypass
  common/national_focus/05_usa.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 2 of 14)
  events/Abkhazia.txt
  events/Czech Republic.txt
  events/Migration Events.txt
  events/Sahrawi.txt
  events/Yemen.txt
  events/agricultural_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 3 of 14)
  events/Germany.txt
  events/Indian.txt
  events/Kuban.txt
  events/SalehEvents.txt
  events/Uzbekistan.txt
  events/Vitebsk.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 4 of 14)
  events/Algeria.txt
  events/Chechnya.txt
  events/Cuba.txt
  events/Ecuador.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Give the remaining election roots an available matching their bypass
  common/national_focus/05_usa.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 5 of 14)
  events/05_north_korea_events.txt
  events/Burma.txt
  events/Romania.txt
  events/Spain.txt
  events/War.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 6 of 14)
  events/International Recognition.txt
  events/Nigeria.txt
  events/Russia.txt
  events/San Marino.txt
  events/SubjectRussia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Pyre workflow for type checking Python code
  .github/workflows/pyre.yml
Due: none

Standardize event files (batch 7 of 14)
  events/05_muslim_brotherhood.txt
  events/Mali.txt
  events/Norway.txt
  events/Sweden.txt
  events/Tajikistan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 8 of 14)
  events/Global Reactions.txt
  events/Haiti.txt
  events/Iraq.txt
  events/Turkey.txt
  events/education_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 9 of 14)
  events/05_united_kingdom.txt
  events/Econ_events.txt
  events/Egypt.txt
  events/Georgia.txt
  events/Zombies.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 10 of 14)
  events/05_japan.txt
  events/Serbia.txt
  events/Singapore.txt
  events/South Ossetia.txt
  events/belarus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 11 of 14)
  events/05_switzerland_events.txt
  events/Afghanistan.txt
  events/Indonesia.txt
  events/Poland.txt
  events/comoros.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 12 of 14)
  events/05_netherlands.txt
  events/Denmark.txt
  events/Korea.txt
  events/PMC.txt
  events/Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Drop the redundant tag gate on the executive mandate modifier
  common/dynamic_modifiers/99_USA_executive_mandate.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 1 of 14)
  events/Commonwealth.txt
  events/DPR.txt
  events/Iran.txt
  events/LAR_occupation.txt
  events/Morocco.txt
  events/yugoslavia_events.txt
  tools/standardization/standardize_events.py
  tools/tests/standardization/standardize_events_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 13 of 14)
  events/Brazilian.txt
  events/Middle East Peace Plan.txt
  events/Syria.txt
  events/UN_Voting_Events.txt
  events/Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files (batch 14 of 14)
  events/05_australia_events.txt
  events/EU_USoE_events.txt
  events/France.txt
  events/Venezuela.txt
  events/cartel_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reorder trigger checks, consolidate NATO AI strategies (#3801)
  common/achievements/MD_achievements.txt
  common/achievements/MD_ribbons.txt
  common/ai_strategy/CHI.txt
  common/ai_strategy/MD_econ_ai.txt
  common/ai_strategy/NATO.txt
  common/ai_strategy/USA.txt
  common/ai_strategy/intelligence_agency.txt
  common/decisions/00_political_decisions.txt
  common/decisions/01_pmc_decisions.txt
  common/decisions/99_ai_templates_decisions.txt
  common/decisions/99_civilian_equipment_decisions.txt
  common/decisions/France.txt
  common/decisions/Hungary.txt
  common/decisions/Romania.txt
  common/decisions/categories/99_ai_templates_category.txt
  common/decisions/categories/99_civilian_equipment_category.txt
  common/decisions/categories/NATO_decision_categories.txt
  common/decisions/taiwan.txt
  common/ideas/arab_spirits.txt
  common/scripted_effects/00_startup_effects.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  common/technologies/engineering.txt
  localisation/english/MD_decisions_l_english.yml
  tools/tests/validation/validate_achievements_test.py
  tools/tests/validation/validator_batches_test.py
  tools/validation/validate_achievements.py
  tools/validation/validator_batches.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Harden and standardize event files — batch 01/14 (#3804)
  events/Commonwealth.txt
  events/DPR.txt
  events/Iran.txt
  events/LAR_occupation.txt
  events/Morocco.txt
  events/yugoslavia_events.txt
  tools/standardization/standardize_events.py
  tools/tests/standardization/standardize_events_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize event files — batch 02/14 (#3803)
  events/Abkhazia.txt
  events/Czech Republic.txt
  events/Migration Events.txt
  events/Sahrawi.txt
  events/Yemen.txt
  events/agricultural_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

No more comments
  common/ai_equipment/USA_plane.txt
  common/ai_strategy/USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
