Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

fra fix
  common/ideas/05_france.txt
  common/national_focus/05_france.txt
  events/France.txt
  history/countries/FRA - France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add the French corporate systems history
  common/ideas/05_france.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_triggers/99_FRA_scripted_triggers.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Use the general computing category, not the armour one
  common/ideas/05_france.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use the general computing category, not the armour one
  common/ideas/05_taiwan.txt
  events/Taiwan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use the general computing category, not the armour one
  events/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra fix
  common/dynamic_modifiers/99_FRA_dynamic_modifiers.txt
  common/national_focus/05_france.txt
  history/countries/FRA - France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix two wrong technology categories in the corporate history chains
  common/ideas/Canadian.txt
  common/ideas/Israeli.txt
  common/ideas/united_states.txt
  events/Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix fra oups
  common/national_focus/05_france.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add a technology category validator
  .github/workflows/coding-pipeline.yml
  common/ideas/Algerian.txt
  tools/validation/tests/tech_categories_test.py
  tools/validation/validate_tech_categories.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Drop an f-string with no placeholders in the category tests
  tools/validation/tests/tech_categories_test.py
Due: none

Format the category validator with black
  tools/validation/tests/tech_categories_test.py
  tools/validation/validate_tech_categories.py
Due: none

Last round of tweaks n fixes
  common/decisions/05_australia.txt
  common/national_focus/05_Australia.txt
  common/scripted_effects/00_internal_faction_effects.txt
  events/05_australia_events.txt
  interface/MD_decisions.gfx
  localisation/english/MD_focus_AST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add the Arm Holdings corporate history for the United Kingdom (#3212)
  common/ideas/05_united_kingdom.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  common/scripted_triggers/99_ENG_scripted_triggers.txt
  events/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Balance the corporate history outcomes, fix two wrong tech categories, and cut the yearly effects fan-out (#3213)
  .github/workflows/coding-pipeline.yml
  common/ideas/Algerian.txt
  common/ideas/Canadian.txt
  common/ideas/Israeli.txt
  common/ideas/Russian.txt
  common/ideas/united_states.txt
  common/scripted_effects/00_CAN_scripted_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_effects/99_FIN_scripted_effects.txt
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_effects/99_ISR_scripted_effects.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  common/scripted_effects/99_POL_scripted_effects.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_effects/99_TAI_scripted_effects.txt
  common/scripted_effects/99_UKR_scripted_effects.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  events/05_china.txt
  events/05_japan.txt
  events/Canada.txt
  events/Finland.txt
  events/Germany.txt
  events/Israel_events.txt
  events/Poland.txt
  events/Russia.txt
  events/Taiwan.txt
  events/Ukraine.txt
  events/United States.txt
  tools/validation/tests/tech_categories_test.py
  tools/validation/validate_tech_categories.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Aus added to the bookmark. Internal factions file tweaked to keep minimum low for per industrialists idea.
  common/bookmarks/blitzkrieg.txt
  common/scripted_effects/00_internal_faction_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed missing icons and implemented ideas for Elra
  common/dynamic_modifiers/99_FRA_dynamic_modifiers.txt
  common/ideas/05_Australia.txt
  common/ideas/05_france.txt
  gfx/interface/ideas/France/FRA_carolingian_crusade.dds
  gfx/interface/ideas/France/FRA_commune_flag.dds
  gfx/interface/ideas/France/FRA_communist_victory.dds
  gfx/interface/ideas/France/FRA_economy_flag.dds
  gfx/interface/ideas/France/FRA_european_biceps.dds
  gfx/interface/ideas/France/FRA_franco_russian_handshake.dds
  gfx/interface/ideas/France/FRA_franco_soviet_handshake.dds
  gfx/interface/ideas/France/FRA_frankish_kingdom_flag.dds
  gfx/interface/ideas/France/FRA_french_flame.dds
  gfx/interface/ideas/France/FRA_green_victory.dds
  gfx/interface/ideas/France/FRA_jerusalem_cross.dds
  gfx/interface/ideas/France/FRA_jerusalem_kingdom_flag.dds
  gfx/interface/ideas/France/FRA_king_camelots.dds
  gfx/interface/ideas/France/FRA_liberal_victory.dds
  gfx/interface/ideas/France/FRA_lys_and_eagle.dds
  gfx/interface/ideas/France/FRA_lys_flag.dds
  gfx/interface/ideas/France/FRA_lys_flower.dds
  gfx/interface/ideas/France/FRA_marianne.dds
  gfx/interface/ideas/France/FRA_napoleonic_eagle.dds
  gfx/interface/ideas/France/FRA_napoleonic_eagle_flag.dds
  gfx/interface/ideas/France/FRA_sixth_republic.dds
  gfx/interface/ideas/France/FRA_social_flag.dds
  gfx/interface/ideas/ukraine/ukr_neglect_of_state_interests.dds
  gfx/interface/ideas/ukraine/ukr_neglect_of_state_interests_old.dds
  interface/MD_ideas.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix auto-agency verify_queue reversing the queue each pass
  common/scripted_effects/00_MD_auto_agency_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Compact the agency queue in place instead of rebuilding via a hold array
  common/scripted_effects/00_MD_auto_agency_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add the French corporate systems history (#3217)
  common/ideas/05_france.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_triggers/99_FRA_scripted_triggers.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes to events and political_leaders file
  common/scripted_effects/AST_political_leaders.txt
  events/05_australia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/national_focus/05_Australia.txt
  common/scripted_effects/AST_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Clean up Saudi localization
  events/SAU_events.txt
  localisation/english/MD_focus_SAU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed some of the missing log warnings
  events/05_australia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Australia 2.0 tweaks and fixes (#3219)
  common/bookmarks/blitzkrieg.txt
  common/decisions/05_australia.txt
  common/ideas/05_Australia.txt
  common/national_focus/05_Australia.txt
  common/on_actions/05_AST_on_actions.txt
  common/scripted_effects/00_internal_faction_effects.txt
  common/scripted_effects/AST_political_leaders.txt
  events/05_australia_events.txt
  gfx/interface/ideas/INS_western_trade_astedit.dds
  gfx/interface/ideas/boat_arrivals_icon.dds
  gfx/interface/ideas/generic_exploit_mines_edit.dds
  gfx/leaders/AST/John_Howard.dds
  gfx/leaders/AST/Kevin_Rudd.dds
  interface/MD_decisions.gfx
  interface/MD_ideas.gfx
  localisation/english/MD_Australia_events_l_english.yml
  localisation/english/MD_focus_AST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix auto-agency queue picking the bottom upgrade first (#3218)
  common/scripted_effects/00_MD_auto_agency_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refine Saudi localization prose
  localisation/english/MD_focus_SAU_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Remove orphaned Saudi localization keys
  localisation/english/MD_focus_SAU_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Move mislabeled focus loc out of Unreferenced section
  localisation/english/MD_focus_SAU_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Optimize North Korea SPA mechanic
  common/decisions/05_north_korea.txt
  common/ideas/north_korea.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  common/scripted_guis/99_NKO_scripted_guis.txt
  common/scripted_localisation/99_NKO_scripted_localisation.txt
  common/scripted_triggers/NKO_spa_triggers.txt
  events/05_north_korea_events.txt
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

['
  common/national_focus/05_turkey.txt
  events/Turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Effects for focuses
  common/national_focus/05_turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Enable North Korea SPA at game start
  common/national_focus/05_north_korea.txt
  common/on_actions/NKO_spa_on_actions.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  common/scripted_triggers/NKO_spa_triggers.txt
  history/countries/NKO - North Korea.txt
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra fix
  common/dynamic_modifiers/99_FRA_dynamic_modifiers.txt
  common/ideas/05_france.txt
  common/national_focus/05_france.txt
  events/France.txt
  history/countries/FRA - France.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_VEN_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_PMR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Link TSMC's growth to Taiwanese and American resource trade
  common/dynamic_modifiers/00_MD_dynamic_modifiers.txt
  common/military_industrial_organization/organizations/MD_TAI_organizations.txt
  localisation/english/MD_focus_TAI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Make puppets actually adopt the overlord's ideology
  common/national_focus/turkey.txt
  common/on_actions/01_tfv_on_actions.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_guis/01_influence_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Enforce scripted effect parameter wiring
  .github/workflows/coding-pipeline.yml
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  tools/validate_staged.py
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_scripted_params_test.py
  tools/validation/validate_scripted_params.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Format scripted parameter tests
  tools/validation/tests/validate_scripted_params_test.py
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
