Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Restore the HKG rule options the merge ate and close the plan focus lists
  common/ai_strategy_plans/HKG_strategy_plans.txt
  common/game_rules/00_game_rules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix the Israel AI path review findings (#3162)
  .claude/skills/country-ai-path/references/write.md
  common/decisions/Israel.txt
  common/decisions/categories/israel_categories.txt
  common/national_focus/05_israel.txt
  common/scripted_triggers/99_ISR_scripted_triggers.txt
  tools/analysis/ai_path_report.py
  tools/tests/ai_path_report_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rework the Polish MIO roster
  common/military_industrial_organization/organizations/MD_POL_organizations.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  interface/MD_ideas.gfx
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_focus_POL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix the Japan AI war brakes flagged in review (#3162)
  common/ai_strategy/JAP.txt
  events/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Split Iran's bunched AI paths one per spine (#3162)
  common/game_rules/00_game_rules.txt
  common/national_focus/05_iran.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_PER_scripted_triggers.txt
  events/Iran.txt
  localisation/english/MD_game_rules_l_english.yml
  tools/analysis/ai_path_report.py
  tools/tests/ai_path_report_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give Japan a five-path country AI path game rule (#3162) (#3483)
  common/ai_strategy/JAP.txt
  common/ai_strategy_plans/JAP_strategy_plans.txt
  common/decisions/05_japan.txt
  common/decisions/categories/99_JAP_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_japan.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_triggers/99_JAP_scripted_triggers.txt
  events/05_japan.txt
  localisation/english/MD_game_rules_l_english.yml
  tools/analysis/ai_path_report.py
  tools/tests/ai_path_report_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give Hong Kong a country AI path game rule (#3162) (#3452)
  common/ai_strategy/HKG.txt
  common/ai_strategy_plans/HKG_strategy_plans.txt
  common/decisions/Hong Kong.txt
  common/decisions/categories/99_HKG_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_hong_kong.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_HKG_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Format the ai_path_report owner-finding assert with black
  tools/tests/ai_path_report_test.py
Due: none

Fix border conflict claim progress cleanup (#3480)
  common/scripted_effects/99_RAJ_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Factor the duplicated graph-findings setup out of the AI path tests
  tools/tests/ai_path_report_test.py
Due: none

Remove redundant coalition drift recalculations (#3481)
  common/decisions/05_egypt_decisions.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_centralasia.txt
  common/national_focus/05_comoros.txt
  common/national_focus/05_georgia.txt
  common/national_focus/05_india.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  events/Algeria.txt
  events/France.txt
  events/Turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Give Israel a country AI path game rule (#3162) (#3477)
  .claude/skills/country-ai-path/references/write.md
  common/decisions/Israel.txt
  common/decisions/categories/israel_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_israel.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_ISR_scripted_triggers.txt
  events/Israel_events.txt
  localisation/english/MD_game_rules_l_english.yml
  tools/analysis/ai_path_report.py
  tools/tests/ai_path_report_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Saudi Arabia.txt
  common/decisions/Saudi Arabia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Taduwal National Spirit Fixed (#3475)
  common/decisions/Saudi Arabia.txt
  common/national_focus/05_saudi_arabia.txt
  common/scripted_effects/SAU_scripted_effects.txt
  localisation/english/MD_focus_SAU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

libya AI
  common/ai_strategy/MD_war_declaration_ai.txt
  common/ai_strategy_plans/LBA_strategy_plans.txt
  common/decisions/categories/99_LBA_decision_categories.txt
  common/decisions/libya.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_libya.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_LBA_scripted_triggers.txt
  events/Libya.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Clean redundant VP loc
  localisation/english/victory_points_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add full trait tree for FB Lucznik-Radom MIO
  common/military_industrial_organization/organizations/MD_POL_organizations.txt
  localisation/english/MD_focus_POL_l_english.yml
  tools/assign_mio_icons.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Libya review findings: dead bypass cleanup, kingdom desc mismatch
  common/national_focus/05_libya.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 05_germany.txt
  common/national_focus/05_germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use civil war primitive for Polish revolt
  events/Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Give Libya a country AI path game rule (#3162) (#3487)
  common/ai_strategy/MD_war_declaration_ai.txt
  common/ai_strategy_plans/LBA_strategy_plans.txt
  common/decisions/categories/99_LBA_decision_categories.txt
  common/decisions/libya.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_libya.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_LBA_scripted_triggers.txt
  events/Libya.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Actually create Putin at rung 0 of the Conservative ladder (#3466)
  common/scripted_effects/SOV_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Multiple bug fixes (#3386, #3441, #3442, #3470, #3476) (#3445)
  common/decisions/Saudi Arabia.txt
  common/dynamic_modifiers/99_FRA_dynamic_modifiers.txt
  common/dynamic_modifiers/99_HOL_dynamic_modifiers.txt
  common/ideas/05_france.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/national_focus/05_china.txt
  common/national_focus/05_france.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_indonesia.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  common/scripted_effects/99_HOL_Scripted_Effects.txt
  common/scripted_triggers/99_FRA_scripted_triggers.txt
  common/units/names_divisions/HOL_names_divisions.txt
  events/05_netherlands.txt
  events/France.txt
  history/countries/FRA - France.txt
  history/units/HOL_2000_nonnsb.txt
  history/units/HOL_2000_nsb.txt
  localisation/english/MD_focus_FRA_l_english.yml
  tools/tests/validation/validate_mios_test.py
  tools/validation/validate_mios.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give Montenegro a country AI path game rule (#3162)
  common/ai_strategy/MNT.txt
  common/ai_strategy_plans/MNT_strategy_plans.txt
  common/decisions/Montenegro.txt
  common/decisions/categories/99_MNT_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_montenegro.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_triggers/99_MNT_scripted_triggers.txt
  events/Serbia.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Stop ACA carrier-alliance trait discounting helicopter operators
  common/country_leader/defense_company_traits.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ASEAN: accession flow, SEATO cohesion, and fixes
  common/ai_strategy/ASEAN.txt
  common/decisions/ASEAN.txt
  common/decisions/categories/06_ASEAN_decision_categories.txt
  common/ideas/asean.txt
  common/national_focus/05_thailand.txt
  common/national_focus/06_ASEAN_shared.txt
  common/scripted_effects/99_ASEAN_scripted_effects.txt
  common/scripted_triggers/99_ASEAN_scripted_triggers.txt
  events/ASEAN.txt
  localisation/english/MD_ASEAN_decisions_l_english.yml
  localisation/english/MD_ASEAN_events_l_english.yml
  localisation/english/MD_ASEAN_ideas_l_english.yml
  localisation/english/MD_focus_ASEAN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Seed ruling_party at game start instead of leaving it unset until the first election
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/00_leader_setup_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Scope ENG Carrier Alliance MIO to real carrier hulls
  common/equipment_groups/mio_equipment_groups.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/military_industrial_organization/policies/_navy_policies.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra fix
  common/ideas/05_france.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra fixx
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add the Samsung and ASML corporate histories (#3390)
  common/ideas/05_netherlands.txt
  common/ideas/Korea.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_south_korea.txt
  common/on_actions/99_HOL_on_actions.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_HOL_Scripted_Effects.txt
  common/scripted_effects/99_KOR_scripted_effects.txt
  common/scripted_triggers/99_HOL_scripted_triggers.txt
  events/05_netherlands.txt
  events/Korea.txt
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_KOR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give Myanmar a country AI path game rule (#3162)
  common/ai_strategy_plans/BRM_strategy_plans.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_myanmar.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_BRM_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Guard the Saudi economic focuses the AI can take while broke or unstaffed
  common/national_focus/05_saudi_arabia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refactor ASEAN/SEATO invite & suspension logic
  common/ai_strategy/ASEAN.txt
  common/decisions/ASEAN.txt
  common/national_focus/05_thailand.txt
  common/national_focus/06_ASEAN_shared.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_ASEAN_scripted_effects.txt
  common/scripted_effects/SIA_thailand_effects.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  events/ASEAN.txt
  localisation/english/MD_ASEAN_events_l_english.yml
  localisation/english/MD_focus_ASEAN_l_english.yml
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra fix
  common/ideas/05_france.txt
  events/France.txt
  gfx/event_pictures/europe/france - FRA/FRA_crusade.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Replace manual civil war constructions
  common/decisions/Ukraine.txt
  common/national_focus/05_georgia.txt
  common/national_focus/05_north_korea.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_ukraine.txt
  common/scripted_effects/!_global_reaction_effects.txt
  common/scripted_effects/99_ARM_scripted_effects.txt
  common/scripted_effects/99_BUL_scripted_effects.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_effects/99_UKR_scripted_effects.txt
  events/Armenia.txt
  events/Global Reactions.txt
  events/Russia.txt
  events/Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove Muslim Brotherhood covert operations
  common/operations/05_muslim_brotherhood_operations.txt
  localisation/english/MD_operations_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix ACA carrier-cost helicopter leak and guard the Saudi economic focuses (#3493)
  common/country_leader/defense_company_traits.txt
  common/equipment_groups/mio_equipment_groups.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/military_industrial_organization/policies/_navy_policies.txt
  common/national_focus/05_saudi_arabia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Correct the stale header comment left on the split effect
  common/scripted_effects/00_leader_setup_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ASEAN: decisions, scripts and localisation updates
  common/decisions/ASEAN.txt
  common/decisions/categories/06_ASEAN_decision_categories.txt
  common/dynamic_modifiers/05_ASEAN_dynamic_modifiers.txt
  common/ideas/asean.txt
  common/national_focus/06_ASEAN_shared.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/99_ASEAN_scripted_effects.txt
  common/scripted_localisation/03_ASEAN_scripted_localisation.txt
  common/scripted_triggers/99_ASEAN_scripted_triggers.txt
  events/ASEAN.txt
  localisation/english/MD_ASEAN_decisions_l_english.yml
  localisation/english/MD_ASEAN_events_l_english.yml
  localisation/english/MD_ASEAN_ideas_l_english.yml
  localisation/english/MD_focus_ASEAN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
