Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Validator work pt.2
  Changelog.txt
  common/national_focus/05_cascadia.txt
  common/national_focus/05_egypt.txt
  common/national_focus/05_indonesia.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_japan.txt
  events/Cascadia.txt
  events/Egypt.txt
  events/Iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix focus outcome tooltips
  common/national_focus/05_indonesia.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_japan.txt
  events/Egypt.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix CI validation failures
  Changelog.txt
  common/national_focus/05_egypt.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

stuff
  common/national_focus/turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat(eu): add passive europeanism drift to pre-accession assistance and lower ai application threshold
  common/decisions/EU_voting_decisions.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update turkey.txt
  common/national_focus/turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix(eu): directly modify europeanism in update tick to prevent engine crash on invalid FROM scope
  common/scripted_effects/99_eu_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  common/national_focus/france.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

edited the asymmetric warfare branch
  common/ideas/Hezbollah.txt
  common/national_focus/Hezbollah.txt
  localisation/english/MD_focus_HEZ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

is bork; i fix
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  common/national_focus/france.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

e
  common/national_focus/turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

BRI
  common/decisions/05_CHI_decisions.txt
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  Changelog.txt
  common/decisions/05_CHI_decisions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix USA
  Changelog.txt
  common/units/names_divisions/USA_names_divisions.txt
  history/units/BOS_2000_nsb.txt
  history/units/FYR_2000_nsb.txt
  history/units/USA_2000_bba.txt
  history/units/USA_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rebalanced Thai commanders and expanded namelists
  common/characters/SIA.txt
  common/units/names_divisions/SIA_names_divisions.txt
  common/units/names_ships/SIA_ship_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Localised new Thai advisors and updated changelog
  Changelog.txt
  docs/src/content/misc/authors.md
  localisation/english/MD_focus_SIA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Added Thailand focus tree and national content
  common/ai_strategy_plans/SIA_strategy_plans.txt
  common/decisions/Thailand.txt
  common/decisions/categories/99_SIA_decision_categories.txt
  common/dynamic_modifiers/SIA_trade_diplomacy_modifier.txt
  common/game_rules/00_game_rules.txt
  common/ideas/Thailand.txt
  common/ideas/zz_SIA_defence_companies.txt
  common/military_industrial_organization/organizations/MD_SIA_organizations.txt
  common/national_focus/05_thailand.txt
  common/on_actions/99_SIA_on_actions.txt
  common/opinion_modifiers/Thailand.txt
  common/scripted_effects/SIA_thailand_effects.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  events/Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Consolidated Thailand localisation into one country file
  localisation/english/MD_focus_SIA_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/countries_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

work
  Changelog.txt
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/ideas/05_china.txt
  common/modifier_definitions/CHI_modifier.definitions.txt
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_localisation/99_CHI_scripted_localisation.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Tighten scripted localisation validation and ENG loc wiring
  .claude/docs/validation-pipeline.md
  .github/workflows/coding-pipeline.yml
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  events/05_united_kingdom.txt
  interface/MD_israel_gui.gui
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_scripted_localisation_test.py
  tools/validation/validate_scripted_localisation.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Named Thai equipment and added Thai tech icons
  interface/mdult_land.gfx
  localisation/english/equipment_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixes
  common/decisions/05_SWI_decisions.txt
  common/military_industrial_organization/organizations/MD_SWI_organizations.txt
  common/national_focus/05_switzerland_focus.txt
  events/05_switzerland_events.txt
  events/Switzerland_News.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Documented Thailand and updated the changelog
  Changelog.txt
  docs/src/content/countries/thailand.md
Due: none

refactor(eu): define europeanism_drift custom modifier and implement cleaner if-else triggers for membership application
  common/decisions/EU_voting_decisions.txt
  common/ideas/EU_ideas.txt
  common/modifier_definitions/modifier_definitions.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Removed submod development markers from Thailand comments
  common/decisions/Thailand.txt
  common/decisions/categories/99_SIA_decision_categories.txt
  common/ideas/Thailand.txt
  common/national_focus/05_thailand.txt
  common/on_actions/99_SIA_on_actions.txt
  common/scripted_effects/SIA_thailand_effects.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  events/Thailand.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Hewlett-Packard history events
  common/scripted_effects/00_yearly_effects.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Add OEM focus and event content for USA industry expansion
  common/scripted_effects/00_yearly_effects.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Resolve USA OEM event merge conflict
  common/scripted_effects/00_yearly_effects.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Reworked Thai leader rotation and fixed portrait case
  Changelog.txt
  common/scripted_effects/SIA_political_leaders.txt
  gfx/leaders/SIA/pita_limjaroenrat.dds
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra locs
  common/ideas/French.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Done
  common/ai_strategy/SWI.txt
  common/ai_strategy_plans/SWI_strategy_plans.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_switzerland.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_SWI_scripted_triggers.txt
  events/05_switzerland_events.txt
  events/Switzerland_News.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add USA OEM storage resilience events
  common/scripted_effects/00_yearly_effects.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/ideas/05_china.txt
  common/ideas/hong_kong.txt
  common/modifier_definitions/CHI_modifier.definitions.txt
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_localisation/99_CHI_scripted_localisation.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Validation: focus tree improvements pt. 7
  common/national_focus/05_brazil.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/05_venezuela.txt
  events/05_united_kingdom.txt
  events/Germany.txt
  events/Sweden.txt
  events/Venezuela.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
  localisation/english/MD_focus_VEN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Validate orphan money-variable setters; fix in-scope dead transfers
  common/national_focus/05_sweden.txt
  events/Germany.txt
  tools/validation/tests/orphan_money_setter_test.py
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  localisation/english/MD_dm_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
