Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

yeS
  common/ai_equipment/zz_SAF_naval_variants.txt
  common/ai_equipment/zz_VEN_naval_variants.txt
  common/ai_equipment/zz_VIE_naval_variants.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

yet more convfersions
  common/ai_equipment/ZZ_DEN_FRIGATES.txt
  common/ai_equipment/ZZ_LUX_FRIGATES.txt
  common/ai_equipment/ZZ_MOR_FRIGATES.txt
  common/ai_equipment/ZZ_NKO_FRIGATES.txt
  common/ai_equipment/zz_BEL_naval_variants.txt
  common/ai_equipment/zz_COL_naval_variants.txt
  common/ai_equipment/zz_DEN_naval_variants.txt
  common/ai_equipment/zz_MOR_naval_variants.txt
  common/ai_equipment/zz_NIG_naval_variants.txt
  common/ai_equipment/zz_NKO_naval_variants.txt
  common/ai_equipment/zz_VEN_naval_variants.txt
  common/ai_equipment/zzz_BEL_Cruisers.txt
  common/ai_equipment/zzz_BEL_Destroyers.txt
  common/ai_equipment/zzz_NKO_Cruisers.txt
  common/ai_equipment/zzz_NKO_Destroyers.txt
  common/ai_equipment/zzz_bel_attack_subs.txt
  common/ai_equipment/zzz_bel_corvettes.txt
  common/ai_equipment/zzz_bel_missile_subs.txt
  common/ai_equipment/zzz_french_battleships.txt
  common/ai_equipment/zzz_nko_attack_subs.txt
  common/ai_equipment/zzz_nko_corvettes.txt
  common/ai_equipment/zzz_nko_missile_subs.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more naval ai work
  common/ai_navy/fleet/generic_fleet_templates.txt
  common/ai_navy/taskforce/generic_taskforce_templates.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

finally got this fucking shit working fuck you stupid ass code i win
  common/ai_navy/fleet/generic_fleet_templates.txt
  common/ai_navy/taskforce/generic_taskforce_templates.txt
  common/decisions/Syria.txt
  common/decisions/categories/bulgaria_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Somalia events
  events/Somalia.txt
  gfx/leaders/SHB/SHB_Sharif_Sheikh_Ahmed.dds
  gfx/leaders/SHB/SHB_Sharif_Sheikh_Ahmed_ARS.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

push
  common/characters/SOM.txt
  common/country_leader/00_traits.txt
  common/country_tag_aliases/tag_aliases.txt
  common/on_actions/99_somalia_on_actions.txt
  events/Somalia.txt
  gfx/leaders/SOM/SOM_Mohamed_Qanyare_Afrah.dds
  history/countries/SOM - Somalia.txt
  localisation/english/MD_africa_events_l_english.yml
  localisation/english/MD_new_traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

new gfx
  common/characters/ENG.txt
  common/characters/FRA.txt
  common/characters/GER.txt
  common/characters/SOV.txt
  common/characters/USA.txt
  gfx/leaders/ENG/small/Alex_Younger_small.dds
  gfx/leaders/ENG/small/Jeremy_Fleming_small.dds
  gfx/leaders/ENG/small/Ken_McCallum_small.dds
  gfx/leaders/ENG/small/Richard_Moore_small.dds
  gfx/leaders/FRA/small/Bernard_Emie_small.dds
  gfx/leaders/FRA/small/Guillaume_Poupard_small.dds
  gfx/leaders/FRA/small/Nicolas_Lerner_small.dds
  gfx/leaders/FRA/small/Thierry_Delville_small.dds
  gfx/leaders/GER/small/Arne_Schonbohm_small.dds
  gfx/leaders/GER/small/Bruno_Kahl_small.dds
  gfx/leaders/GER/small/Sinan_Selen_small.dds
  gfx/leaders/GER/small/Thomas_Haldenwang_small.dds
  gfx/leaders/SOV/small/Alexander_Bortnikov_small.dds
  gfx/leaders/SOV/small/Igor_Kostyukov_small.dds
  gfx/leaders/SOV/small/Nikolai_Patrushev_small.dds
  gfx/leaders/SOV/small/Sergey_Naryshkin_small.dds
  gfx/leaders/USA/small/Christopher_Wray_small.dds
  gfx/leaders/USA/small/Gina_Haspel_small.dds
  gfx/leaders/USA/small/Paul_Nakasone_small.dds
  gfx/leaders/USA/small/Stanley_McChrystal_small.dds
  gfx/leaders/USA/small/William_Burns_small.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

financial aid for Kosovo (Issue #230)
  Changelog.txt
  common/ideas/Serbian.txt
  common/scripted_effects/00_money_system.txt
  history/countries/KOS - Kosovo.txt
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

a lot of fixes
  Changelog.txt
  common/national_focus/Belarus.txt
  history/countries/KOS - Kosovo.txt
  localisation/english/MD_focus_BLR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Revert "financial aid for Kosovo (Issue #230)"
  Changelog.txt
  history/countries/KOS - Kosovo.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff yes thats the name
  common/characters/SOM.txt
  common/country_tag_aliases/tag_aliases.txt
  common/on_actions/99_somalia_on_actions.txt
  events/Somalia.txt
  gfx/leaders/SOM/SOM_Abdi_Qeybdiid.dds
  gfx/leaders/SOM/SOM_Mohamed_Warsame_Ali.dds
  gfx/leaders/SOM/small/SOM_Abdi_Qeybdiid.dds
  history/countries/SOM - Somalia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

enough today
  common/on_actions/99_somalia_on_actions.txt
  events/Somalia.txt
  gfx/flags/SOM_Galmudug.tga
  gfx/flags/medium/SOM_Galmudug.tga
  gfx/flags/small/SOM_Galmudug.tga
  localisation/english/MD_africa_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

refactored and what not
  Changelog.txt
  common/decisions/categories/01_gulf_decision_categories.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_middle_east_scripted_effects.txt
  common/scripted_effects/01_counter_terror_scripted_effects.txt
  events/Counter Terror.txt
  events/Gulf.txt
  localisation/english/MD_middle_east_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/scripted_effects/00_middle_east_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adjusting buildings and money stuff
  common/buildings/00_buildings.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/!_energy_effects.txt
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

special project adjustments, building adjustments, setting up microchip effects
  common/buildings/00_buildings.txt
  common/scripted_effects/00_microchip_effects.txt
  common/special_projects/projects/civilian_projects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

a lot of fixes
  common/characters/00_generic_intel_advisors.txt
  gfx/leaders/generic_politicians/small/white_001_small.dds
  gfx/leaders/generic_politicians/small/white_005_small.dds
  gfx/leaders/generic_politicians/small/white_010_small.dds
  gfx/leaders/generic_politicians/small/white_015_small.dds
  gfx/leaders/generic_politicians/small/white_020_small.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix MIO trait errors and focus/NS issues for AAT DLC
  Changelog.txt
  common/ideas/Venezuelan.txt
  common/national_focus/netherlands.txt
  history/countries/SOV - Russia.txt
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added gfx dds
  common/characters/00_generic_intel_advisors.txt
  gfx/leaders/generic_politicians/small/white_001_small.dds
  gfx/leaders/generic_politicians/small/white_005_small.dds
  gfx/leaders/generic_politicians/small/white_010_small.dds
  gfx/leaders/generic_politicians/small/white_015_small.dds
  gfx/leaders/generic_politicians/small/white_020_small.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed and more optimization on the weekly tick
  Changelog.txt
  common/decisions/categories/iraq_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/ideas/Bolivian.txt
  common/ideas/Cascadia.txt
  common/ideas/Hezbollah.txt
  common/ideas/Iraqi.txt
  common/ideas/Serbian.txt
  common/ideas/Subject_Russia.txt
  common/ideas/Ukrainian.txt
  common/ideas/United States.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  common/on_actions/MD_on_actions.txt
  common/script_enums.txt
  common/scripted_effects/01_counter_terror_scripted_effects.txt
  common/scripted_guis/01_international_guis.txt
  common/units/equipment/MD_x_tank_chassis.txt
  common/units/names/00_EST_names.txt
  common/units/names/00_KAZ_names.txt
  common/units/names/00_KYR_names.txt
  common/units/names/00_LAT_names.txt
  common/units/names/00_LIT_names.txt
  common/units/names/00_UZB_names.txt
  events/Counter Terror.txt
  events/Libya.txt
  localisation/english/MD_decisions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/national_focus/Belarus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed changelilng
  Changelog.txt
Due: none

Added original_tag = BUL to both allowed and available blocks for the oligarchs faction.
  common/ideas/AA_law_internal_factions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed this to where Fiji takes the microstates
  Changelog.txt
  common/on_actions/999_game_rules_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

expanding the civilian consumption of microchips stuff
  common/dynamic_modifiers/MD_microchips_dynamic_modifiers.txt
  common/modifier_definitions/money_modifier_definitions.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_microchip_effects.txt
  common/special_projects/projects/civilian_projects.txt
  localisation/english/MD_tooltips_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

added civilian consumption effects in full
  common/dynamic_modifiers/MD_microchips_dynamic_modifiers.txt
  common/scripted_effects/00_microchip_effects.txt
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

defines and some other cleanup
  Changelog.txt
  common/ai_strategy/default.txt
  common/defines/MD_defines.lua
  common/scripted_diplomatic_actions/01_peace_deal_diplomatic_actions.txt
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_localisation/02_conditional_peace_deal_scripted_localisation.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
  history/countries/FLN - Flanders.txt
  history/countries/PER - Iran.txt
  localisation/english/MD_scripted_diplomatic_actions_l_english.yml
  localisation/english/conditional_peace_deals_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

changelog update. Final update, huzzah!
  Changelog.txt
Due: none

setting up the fleet AI stuff
  Changelog.txt
  common/ai_areas/default.txt
  common/ai_strategy/SOV.txt
  common/ai_strategy/naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work damn you
  common/ai_areas/default.txt
  common/ai_navy/fleet/generic_fleet_templates.txt
  common/ai_navy/goals/goals_generic.txt
  common/ai_navy/taskforce/generic_taskforce_templates.txt
  common/ai_strategy/naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

trying to fix the naval crashing stuff, trying reduced zone size now
  common/ai_areas/default.txt
  common/ai_strategy/naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work on the naval ai
  common/ai_navy/fleet/generic_fleet_templates.txt
  common/ai_navy/taskforce/generic_taskforce_templates.txt
  common/ai_strategy/naval.txt
  common/defines/MD_defines.lua
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more AI testing, why do you do this
  common/ai_navy/fleet/generic_fleet_templates.txt
  common/ai_navy/taskforce/generic_taskforce_templates.txt
  common/defines/MD_defines.lua
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

content
  common/characters/SHB.txt
  common/country_tag_aliases/tag_aliases.txt
  common/ideas/African.txt
  common/on_actions/02_dod_on_actions.txt
  common/on_actions/99_somalia_on_actions.txt
  events/Captured_Cities.txt
  events/Somalia.txt
  gfx/flags/SHB_Islamic_Emirate.tga
  gfx/flags/medium/SHB_Islamic_Emirate.tga
  gfx/flags/small/SHB_Islamic_Emirate.tga
  gfx/leaders/SHB/SHB_abu_mansoor.dds
  history/countries/SOM - Somalia.txt
  localisation/english/MD_africa_events_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

edit push
  events/Somalia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Small Scripted-Loc fix
  common/scripted_localisation/00_subideology_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

doing more AI work, we finally got this figured out I think. annoying in how it's run, but hey, thems the hois
  common/ai_navy/fleet/generic_fleet_templates.txt
  common/ai_navy/taskforce/generic_taskforce_templates.txt
  common/defines/MD_defines.lua
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

image quality
  gfx/interface/buildings/building_icon_strip.dds
  gfx/interface/buildings/state_building_icon_strip.dds
Due: none

upload to save some progress
  common/ai_navy/fleet/generic_fleet_templates.txt
  common/ai_navy/taskforce/USA_taskforce_templates.txt
  common/ai_navy/taskforce/generic_taskforce_templates.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
