Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Skip create_unit parse for files without the effect (#4520)
  .github/workflows/test-suite.yml
  tools/validation/validate_oob_units.py
Due: none

ukr equipment fix1
  common/decisions/Ukraine.txt
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  localisation/english/MD_defence_companies_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Share per-file reads across variables validator sections (#4521)
  tools/validation/validate_variables.py
Due: none

Kirov Class Event
  common/decisions/Russia.txt
  common/decisions/categories/99_SOV_decision_categories.txt
  events/Russia.txt
  history/countries/SOV - Russia.txt
  history/units/SOV_2000_naval_mtg.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

GFX update
  common/scripted_effects/99_USA_main_scripted_effects.txt
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_1.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_2.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_3.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_4.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_5.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_6.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_7.dds
  gfx/interface/technologies/0_modules/arty_builder/SPAA_main_armament/spaa_long_range_missiles_8.dds
  gfx/interface/technologies/SOV/LAND/S-300V.dds
  gfx/interface/technologies/UKR/LAND/S-300V1.dds
  history/countries/SOV - Russia.txt
  interface/artillery_modules_icons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

Share per-file reads across variables validator sections (#4521) (#4523)
  tools/validation/validate_variables.py
Due: none

Stop GDP compounding on every on-demand economy refresh
  Changelog.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed Validator Errors
  history/countries/CZE - Czech Republic.txt
  history/countries/RAJ - India.txt
  history/countries/SER - Serbia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update RAJ - India.txt
  history/countries/RAJ - India.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revert "Stop GDP compounding on every on-demand economy refresh"
  Changelog.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Further fixes
  history/countries/CZE - Czech Republic.txt
  history/countries/RAJ - India.txt
  history/countries/ROM - Romania.txt
  history/countries/URA - Ural Republic.txt
  history/units/SOV_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

e
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed Hezbollah's additional income focuses issue
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_focus_HEZ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

changelog for HEZ fix
  Changelog.txt
Due: none

Hezbollah income fix (#4529)
  Changelog.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_focus_HEZ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix QA findings on Russian equipment pass (#4525)
  events/Czech Republic.txt
  history/countries/SOV - Russia.txt
  history/units/CRO_2000_nonnsb.txt
  history/units/SLV_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Document full equipment pass in changelog
  Changelog.txt
Due: none

Share per-file reads across events validator call-site checks (part of #4524)
  tools/tests/validation/validate_events_call_scan_test.py
  tools/validation/validate_events.py
Due: none

Share per-file reads across localisation yml checks
  tools/validation/validate_localisation.py
Due: none

Deduplicate loc value iteration and mangled-issue construction
  tools/validation/validate_localisation.py
Due: none

Added uncompressed templates
  gfx/leaders/generic_politicians/white_062.dds
  gfx/leaders/generic_politicians/white_063.dds
  gfx/leaders/generic_politicians/white_064.dds
Due: none

Add uncompressed female leaders
  gfx/leaders/generic_politicians/white_female_009.dds
  gfx/leaders/generic_politicians/white_female_010.dds
  gfx/leaders/generic_politicians/white_female_011.dds
Due: none

Added uncompressed operatives
  gfx/leaders/generic_operatives/generic_spy_69.dds
  gfx/leaders/generic_operatives/generic_spy_70.dds
  gfx/leaders/generic_operatives/generic_spy_71.dds
  gfx/leaders/generic_operatives/generic_spy_72.dds
Due: none

Share per-file reads across events validator call-site checks (#4533)
  tools/tests/validation/validate_events_call_scan_test.py
  tools/validation/validate_events.py
Due: none

Share per-file reads across localisation yml checks (#4536)
  tools/validation/validate_localisation.py
Due: none

Added uncompressed scientists
  gfx/leaders/scientists/generic_scientists/portrait_generic_europe_female_11.dds
  gfx/leaders/scientists/generic_scientists/portrait_generic_europe_female_12.dds
  gfx/leaders/scientists/generic_scientists/portrait_generic_europe_male_13.dds
  gfx/leaders/scientists/generic_scientists/portrait_generic_europe_male_14.dds
Due: none

Use line offsets for clamp check extraction
  tools/validation/validate_variables.py
Due: none

Use line offsets for clamp check extraction (#4537)
  tools/validation/validate_variables.py
Due: none

Update Print Money tooltip to describe inflation effect - Closes #4508
  Changelog.txt
  common/scripted_guis/00_MD_economyview_scripted_guis.txt
  localisation/english/MD_country_economy_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Clamp the productivity-centre divisor so a missing global cannot explode GDP
  Changelog.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_productivity_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Print Money tooltip describes the inflation effect it actually has
  localisation/english/MD_country_economy_view_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Change combat width from 5 to 4
  common/units/MD_land_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ghana: Western Togoland Rebellion event chain (Issue #388)
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Ghana.txt
  localisation/english/MD_focus_GAH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Change combat width from 5 to 4 (#4540)
  common/units/MD_land_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Regular update
  localisation/simp_chinese/MD_countries_cosmetic_l_simp_chinese.yml
  localisation/simp_chinese/MD_dm_modifiers_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ALG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ARM_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_BOT_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_BRA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_FRA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_HEZ_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_IND_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SAU_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SWI_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_UKR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_VEN_l_simp_chinese.yml
  localisation/simp_chinese/MD_game_rules_l_simp_chinese.yml
  localisation/simp_chinese/MD_politics_view_parties_l_simp_chinese.yml
  localisation/simp_chinese/MD_subparty_policies_l_simp_chinese.yml
  localisation/simp_chinese/MD_techs_l_simp_chinese.yml
  localisation/simp_chinese/equipment_l_simp_chinese.yml
  localisation/simp_chinese/replace/replaced_from_vanilla_research_l_simp_chinese.yml
Due: none

Ghana: the Western Togoland chain can escalate into a Volta militia war
  Changelog.txt
  events/Ghana.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_GAH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
