Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

main menu fix
  interface/frontendmainview.gui
Due: none

fix
  interface/frontendmainview.gui
Due: none

Minimize the changes
  interface/frontendmainview.gui
Due: none

ver fix
  interface/frontendmainview.gui
Due: none

reduced sam missile cost
  common/units/equipment/MD_sam_missile.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Cambodian-Thai Border Dispute gameplay mechanics
  Changelog.txt
  common/decisions/categories/preah_vihear_decision_categories.txt
  common/decisions/preah_vihear_decisions.txt
  events/PreahVihear.txt
  localisation/english/MD_preah_vihear_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Preah Vihear UNESCO designation events and related border dispute mechanics
  common/on_actions/99_preah_vihear_on_actions.txt
  common/opinion_modifiers/Diplomatic.txt
  events/PreahVihear.txt
  localisation/english/MD_preah_vihear_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

happy military low tension
  Changelog.txt
  common/dynamic_modifiers/MD_internal_factions_modifiers.txt
  common/scripted_effects/00_internal_faction_effects.txt
  localisation/english/MD_internal_factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more work
  common/national_focus/05_comoros.txt
  events/comoros.txt
  localisation/english/MD_focus_COM_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove on_actions handling for Preah Vihear events; shift logic to yearly scripted effects
  common/on_actions/99_preah_vihear_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/decisions/categories/preah_vihear_decision_categories.txt
  common/decisions/preah_vihear_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ver left
  interface/frontendmainview.gui
Due: none

Refactored Niger Delta Crisis event triggers: relocated historical events (MEND, Amnesty, NDA) to yearly effects and streamlined non-historical paths
  common/on_actions/99_NIG_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Nigeria_Niger_Delta.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add escalating border clash event to Preah Vihear conflict mechanics
  common/decisions/preah_vihear_decisions.txt
  events/PreahVihear.txt
  localisation/english/MD_preah_vihear_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  events/Nigeria_Niger_Delta.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Streamlined Niger Delta Crisis event triggers: simplified logic for historical events and adjusted scripted effects for improved readability
  common/scripted_effects/00_yearly_effects.txt
  events/Nigeria_Niger_Delta.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

tribal aswan
  Changelog.txt
  common/decisions/Egypt.txt
  common/decisions/categories/egypt_decision_categories.txt
  common/national_focus/egypt.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Egypt.txt
  localisation/english/MD_focus_EGY_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Main menu error fix
  interface/frontendmainview.gui
Due: none

change start ups
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  gfx/flags/KIR_communism.tga
  gfx/flags/medium/KIR_communism.tga
  gfx/flags/small/KIR_communism.tga
  gfx/leaders/KIR/Taneti_Maamau.dds
  gfx/leaders/KIR/Teburoro_Tito.dds
  gfx/leaders/MAR/Imata_Kabua.dds
  gfx/leaders/NAU/Baron_Waqa.dds
  gfx/leaders/NAU/Rene_Harris.dds
  gfx/leaders/PAU/kuniwo_nakamura.dds
  gfx/leaders/TON/Akilisi_Pohiva.dds
  gfx/leaders/TON/George_Tupou_V.dds
  gfx/leaders/TON/Tupou_IV.dds
  gfx/leaders/TON/Tupou_VI.dds
  gfx/leaders/TUL/Enele_Sopoaga.dds
  gfx/leaders/TUL/Ionatana_Ionatana.dds
  gfx/leaders/VAN/Barak_Sope.dds
  gfx/leaders/VAN/Charlot_Salwa.dds
  history/countries/KIR - Kiribati.txt
  history/countries/MAR - Marshall Islands.txt
  history/countries/NAU - Nauru.txt
  history/countries/PAU - Palau.txt
  history/countries/TON - Tonga.txt
  history/countries/VAN - Vanuatu.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

loc touch up
  history/countries/PAU - Palau.txt
  history/countries/TUL - Tuvalu.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

scroll bar
  interface/frontendmainview.gui
Due: none

fixes
  interface/frontendmainview.gui
Due: none

more names
  common/names/00_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work
  common/country_tag_aliases/tag_aliases.txt
  common/decisions/05_egypt_decisions.txt
  common/decisions/categories/05_EGY_decision_categories.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/01_tfv_on_actions.txt
  common/scripted_effects/00_money_system.txt
  events/Egypt.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_EGY_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Egypt
  events/Egypt.txt
  localisation/english/MD_focus_EGY_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed auto influence on nations annex
  Changelog.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed a on action
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Potential fix to broken ratification
  common/decisions/NATO.txt
  common/scripted_effects/01_NATO_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

1
  common/scripted_localisation/00_subideology_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

2
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add files via upload
  common/scripted_localisation/00_subideology_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
