Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

EH chimera and hacs stats buff
  common/units/MD_land_units.txt
  common/units/equipment/EH_HACS_mech.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

reset Algeria in Japan
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed Japanese idea
  common/ideas/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH fixed drone success and chimera aggressive
  common/ideas/Chimera.txt
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

docs: align hoiscript syntax highlighting with hoi4.xml (Kate)
  docs/src/shared/lib/shiki-hoiscript.ts
Due: none

docs: reference kate-paradox-hoi4-syntax repo instead of local hoi4.xml
  docs/src/shared/lib/shiki-hoiscript.ts
Due: none

EH tesla icons order + chimera buff
  common/units/MD_land_units.txt
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_blueprint_airframe.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_blueprint_airframe_completed.dds
  interface/EH_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH stop megastates from nato programs
  common/decisions/NATO.txt
  common/decisions/categories/NATO_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH UN nations don't want peace with chimera
  events/UN_Voting_Events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH some rules for megastates
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix German dynamic modifier localisation missing tooltips (#790)
  common/national_focus/05_germany.txt
  events/Germany.txt
  localisation/english/MD_dm_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update changelog for German dynamic modifier localisation fix
  Changelog.txt
Due: none

Replace GER-specific tooltip keys with existing generic equivalents
  Changelog.txt
  events/Germany.txt
  localisation/english/MD_dm_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Restrict GER_Cold_War events to Germany only
  events/Germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for GER_Cold_War event scope fix
  Changelog.txt
Due: none

Remove unused paradrop_organization_factor_luftwaffe_tt loc key
  localisation/english/MD_dm_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

More Algerian work and improvements
  common/national_focus/05_algeria.txt
  common/on_actions/99_ALG_on_actions.txt
  common/scripted_effects/00_startup_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_triggers/00_economic_triggers.txt
  events/Algeria.txt
  events/Algeria_Hirak.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed
  common/national_focus/05_algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix review issues: broken loc keys, missing guards, log errors
  common/national_focus/05_algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix FAO history file
  history/countries/FAO - Faroe Islands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed Wrong Tags
  common/national_focus/sweden.txt
  gfx/flags/medium/GRN_communism.tga
  gfx/flags/medium/GRN_democratic.tga
  gfx/flags/medium/GRN_fascism.tga
  gfx/flags/medium/GRN_nationalist.tga
  gfx/flags/medium/GRN_neutrality.tga
  gfx/flags/small/GRN_communism.tga
  gfx/flags/small/GRN_democratic.tga
  gfx/flags/small/GRN_fascism.tga
  gfx/flags/small/GRN_nationalist.tga
  gfx/flags/small/GRN_neutrality.tga
  localisation/japanese/MD_focus_EU_l_japanese.yml
  localisation/russian/MD_focus_EU_POTEF_l_russian.yml
  tools/gfx_entry_generator_gui.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Independence Intro Tree Part 1
  common/national_focus/greenland.txt
  events/Greenland.txt
  history/countries/GRN - Greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

WURF
  common/national_focus/korea_confederation.txt
  common/national_focus/korea_north.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Independence Intro Tree War Path Part 2
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

focus tweaks
  common/national_focus/greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

SOV decision fix
  common/decisions/JAP.txt
  common/decisions/categories/JAP_decision_categories.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

RYU remove
  history/countries/RYU - Ryukyu.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix and remove
  common/decisions/JAP.txt
  common/decisions/categories/JAP_decision_categories.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Algeria wiki page + Dev Diary #55: Le Pouvoir
  docs/src/content/countries/algeria.md
  docs/src/content/devDiaries/55-algeria-le-pouvoir.md
Due: none

Independence Intro Tree Complete
  common/ideas/Greenlandic.txt
  common/national_focus/greenland.txt
  events/Greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/national_focus/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Philippine victory points pt. 2
  history/states/1227-Cordillera.txt
  history/states/1228-Ilocos.txt
  history/states/1229-Central Luzon.txt
  history/states/1230-Metro Manila.txt
  history/states/1231-Bicol.txt
  history/states/1232-Eastern Visayas.txt
  history/states/1233-Western Visayas.txt
  history/states/1234-Mindoro.txt
  history/states/1235-Caraga.txt
  history/states/1236-Soccsksargen.txt
  history/states/1237-Northern Mindanao.txt
  history/states/1238-Zamboanga.txt
  history/states/1239-Sulu Archipelago.txt
  history/states/735-Northern Luzon.txt
  history/states/736-Southern Luzon.txt
  history/states/737-Visayas.txt
  history/states/738-Moro.txt
  history/states/739-Mindanao.txt
  history/states/740-Palawan.txt
  localisation/english/victory_points_l_english.yml
  map/unitstacks.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Decision fix
  common/decisions/JAP.txt
  common/decisions/Political Desicions.txt
  common/decisions/categories/JAP_decision_categories.txt
  common/ideas/JAP.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

loc
  common/scripted_localisation/99_JAP_scripted_localisation.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

loc remove
  localisation/english/MD_focus_JAP_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update heightmap.bmp
  map/heightmap.bmp
Due: none

Political Tree Setup
  common/national_focus/denmark.txt
  common/national_focus/greenland.txt
  events/Greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  interface/Algeria_hirak.gui
  localisation/english/MD_focus_ALG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
