Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Keep non-English localisation unchanged
  localisation/braz_por/MD_focus_CZE_l_braz_por.yml
Due: none

Standardize Fiji focus identifiers
  common/achievements/MD_ribbons.txt
  common/bookmarks/blitzkrieg.txt
  common/national_focus/05_fiji.txt
  localisation/english/MD_focus_FIJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardize Fiji focus identifiers (#3058)
  common/achievements/MD_ribbons.txt
  common/bookmarks/blitzkrieg.txt
  common/national_focus/05_fiji.txt
  localisation/english/MD_focus_FIJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Czech Skoda export flow
  common/national_focus/05_czech_republic.txt
  common/on_actions/99_CZE_on_actions.txt
  common/scripted_effects/99_CZE_scripted_effects.txt
  common/scripted_guis/99_CZE_scripted_gui.txt
  common/scripted_triggers/99_CZE_scripted_triggers.txt
  events/Czech Republic.txt
  interface/cze_scripted_gui.gui
  localisation/english/MD_focus_CZE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update UKR_2000_nsb.txt
  history/units/UKR_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize Free States focus identifiers
  common/national_focus/05_free_states_of_america.txt
  localisation/english/MD_focus_USB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Generate generic intel advisors per country
  Changelog.txt
  common/characters/00_generic_intel_advisors.txt
  history/general/intel_advisors.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

Replace Skoda meta state with buyer scopes
  common/national_focus/05_czech_republic.txt
  common/scripted_effects/99_CZE_scripted_effects.txt
  common/scripted_guis/99_CZE_scripted_gui.txt
  common/scripted_triggers/99_CZE_scripted_triggers.txt
  events/Czech Republic.txt
  localisation/english/MD_focus_CZE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardize Free States focus identifiers (#3061)
  common/national_focus/05_free_states_of_america.txt
  localisation/english/MD_focus_USB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fun...not
  common/national_focus/05_fiji.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Address Skoda export review feedback
  common/scripted_guis/99_CZE_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop reserve currency adoption counts going negative
  common/ideas/AA_law_expanded_economics.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_economic_system_utilities.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Guard naxalite dynamic modifier removals
  common/national_focus/05_india.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  events/Indian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Keep naxalite presence var in sync with its modifiers
  common/dynamic_modifiers/99_RAJ_dynamic_modifiers.txt
  common/on_actions/99_RAJ_on_actions.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop reserve currency adoption counts going negative (#3063)
  common/ideas/AA_law_expanded_economics.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_economic_system_utilities.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Generate generic intel advisors per country (#3062)
  Changelog.txt
  common/characters/00_generic_intel_advisors.txt
  history/general/intel_advisors.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix naxalite modifier removal errors and presence desync (#3064)
  common/dynamic_modifiers/99_RAJ_dynamic_modifiers.txt
  common/national_focus/05_india.txt
  common/on_actions/99_RAJ_on_actions.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  events/Indian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix and enable idea icon validation
  .claude/docs/validation-pipeline.md
  .github/workflows/coding-pipeline.yml
  tools/validation/README.md
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_ideas_icons_test.py
  tools/validation/validate_ideas.py
Due: none

Refactor Czech Škoda exports and fix Polish/Czech content (#3056)
  common/decisions/Czech_Republic.txt
  common/decisions/Poland.txt
  common/national_focus/05_czech_republic.txt
  common/on_actions/99_CZE_on_actions.txt
  common/scripted_effects/99_CZE_scripted_effects.txt
  common/scripted_guis/99_CZE_scripted_gui.txt
  common/scripted_triggers/99_CZE_scripted_triggers.txt
  events/Czech Republic.txt
  interface/cze_scripted_gui.gui
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_POL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix lint and streamline tools validation
  .github/workflows/tools-validation.yml
  tools/tests/staged_validators_real_test.py
  tools/tests/staged_validators_test.py
  tools/validation/tests/config_drift_test.py
Due: none

Add missing province to provincial building construction
  common/decisions/Indonesia.txt
  common/decisions/Turkey.txt
  common/decisions/netherlands.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/national_focus/05_china.txt
  common/national_focus/05_indonesia.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_spain.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_switzerland.txt
  common/national_focus/Hezbollah.txt
  common/national_focus/denmark.txt
  common/national_focus/hongkong.txt
  common/national_focus/turkey.txt
  events/05_china.txt
  events/05_netherlands.txt
  tools/linting/check_common_mistakes.py
  tools/linting/tests/check_common_mistakes_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Optimize tools validation checkout and fix pi-lens warnings
  .github/workflows/tools-validation.yml
  tools/tests/staged_validators_real_test.py
  tools/tests/staged_validators_test.py
Due: none

Promote dead equipment_bonus checks to ERROR and clear the backlog
  .claude/docs/mio-reference.md
  .claude/docs/validation-pipeline.md
  common/military_industrial_organization/organizations/MD_ALG_organizations.txt
  common/military_industrial_organization/organizations/MD_AST_organizations.txt
  common/military_industrial_organization/organizations/MD_BEL_organizations.txt
  common/military_industrial_organization/organizations/MD_BRA_organizations.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/military_industrial_organization/organizations/MD_CRO_organizations.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/military_industrial_organization/organizations/MD_FRA_organizations.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/military_industrial_organization/organizations/MD_GRE_organizations.txt
  common/military_industrial_organization/organizations/MD_HOL_organizations.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/military_industrial_organization/organizations/MD_RAJ_organizations.txt
  common/military_industrial_organization/organizations/MD_ROM_organizations.txt
  common/military_industrial_organization/organizations/MD_SIA_organizations.txt
  common/military_industrial_organization/organizations/MD_SLV_organizations.txt
  common/military_industrial_organization/organizations/MD_SOV_organizations.txt
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  common/military_industrial_organization/organizations/MD_USA_organizations.txt
  common/military_industrial_organization/organizations/MD_VEN_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  localisation/english/MD_focus_GRE_l_english.yml
  tools/validation/tests/validate_mios_test.py
  tools/validation/validate_mios.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

changes
  common/scripted_guis/01_expected_spending.txt
  common/scripted_triggers/00_desired_law_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix adversarial review findings on the province change
  common/factions/goals/faction_goals_medium_term.txt
  common/national_focus/05_indonesia.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_switzerland.txt
  common/national_focus/turkey.txt
  tools/linting/check_common_mistakes.py
  tools/linting/tests/check_common_mistakes_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Retarget supply nodes that landed on an occupied province
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_republic_of_lakota.txt
  common/national_focus/denmark.txt
  common/national_focus/norway.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update FRA - France.txt
  history/countries/FRA - France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

cleanup
  common/ai_strategy/NATO.txt
  common/decisions/Ukraine.txt
  common/dynamic_modifiers/05_POTEF_dynamic_modifiers.txt
  common/dynamic_modifiers/05_benelux.txt
  common/dynamic_modifiers/99_ALG_dynamic_modifiers.txt
  common/dynamic_modifiers/99_BLR_dynamic_modifiers.txt
  common/dynamic_modifiers/99_GER_dynamic_modifiers.txt
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/dynamic_modifiers/99_MNT_dynamic_modifiers.txt
  common/dynamic_modifiers/99_SIA_dynamic_modifiers.txt
  common/national_focus/05_cuba.txt
  history/countries/USA - USA.txt
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  events/Kurdistan.txt
  interface/MD_ideas.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  common/ideas/Indian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add public sector workforce system
  common/dynamic_modifiers/00_money_dynamic_modifiers.txt
  common/ideas/AA_corruption_laws.txt
  common/ideas/AA_law_expanded_economics.txt
  common/modifier_definitions/money_modifier_definitions.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_productivity_effects.txt
  localisation/english/MD_money_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

some stuff done
  common/scripted_guis/01_expected_spending.txt
  common/scripted_localisation/00_protests_scripted_localisation.txt
  common/scripted_triggers/00_desired_law_triggers.txt
  interface/MD_protests_system.gui
  localisation/english/MD_better_protests_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix idea icon validation, duplicates and orphaned gfx
  .claude/docs/validation-pipeline.md
  .github/workflows/coding-pipeline.yml
  common/ideas/05_united_kingdom.txt
  common/ideas/Algerian.txt
  common/ideas/Belarusian.txt
  common/ideas/EU_USoE_ideas.txt
  common/ideas/Georgian.txt
  common/ideas/Iranian.txt
  common/ideas/Israeli.txt
  common/ideas/Kabylian.txt
  common/ideas/Serbian.txt
  common/ideas/Vitebsk.txt
  common/ideas/hong_kong.txt
  common/ideas/zz_power_ranking.txt
  gfx/interface/ideas/companies/Brazil/BRA_imbel.dds
  gfx/interface/ideas/companies/Germany/Airbus_Defence.dds
  gfx/interface/ideas/companies/Germany/MBDA.dds
  gfx/interface/ideas/companies/Spain/Airbus_Defence.dds
  gfx/interface/ideas/diplomacy/intel_bonus.dds
  gfx/interface/ideas/iran/national_unity.dds
  gfx/interface/ideas/panama/full_control_of_panama.dds
  gfx/interface/ideas/russia/msc_idea.dds
  gfx/interface/ideas/slovakia/migrant_crisis_europe.dds
  gfx/interface/ideas/slovakia/nationalism.dds
  gfx/interface/ideas/spain/bitcoin.dds
  gfx/interface/ideas/sweden/idea_SWE_ericsson.dds
  gfx/interface/ideas/ukraine/idea_political_support.dds
  interface/MD_ideas.gfx
  tools/validation/README.md
  tools/validation/tests/config_drift_test.py
  tools/validation/validate_ideas.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Simplify staged validator path guards
  tools/tests/staged_validators_test.py
Due: none

Optimize strip_comments hot path
  tools/shared_utils.py
Due: none

typo
  common/national_focus/05_nigeria.txt
  history/states/530-Singapore.txt
  history/states/9-Central Belt.txt
  localisation/english/MD_doctrines_ncns_l_english.yml
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
