Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

[ARM] Fixed typos, grammar and wrong names in Armenian localization (#5078)
  Changelog.txt
  localisation/english/MD_focus_ARM_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/equipment_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed typos and grammar in smaller localization files (#5092)
  Changelog.txt
  localisation/english/0_energy_l_english.yml
  localisation/english/0_political_system_l_english.yml
  localisation/english/MD_CSTO_events_l_english.yml
  localisation/english/MD_aces_l_english.yml
  localisation/english/MD_antarctica_l_english.yml
  localisation/english/MD_automation_settings_l_english.yml
  localisation/english/MD_country_economy_view_l_english.yml
  localisation/english/MD_country_politics_view_l_english.yml
  localisation/english/MD_currency_l_english.yml
  localisation/english/MD_custom_achievements_l_english.yml
  localisation/english/MD_custom_defence_companies_l_english.yml
  localisation/english/MD_cyberwarfare_l_english.yml
  localisation/english/MD_decisions_flags_l_english.yml
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_doctrines_ncns_l_english.yml
  localisation/english/MD_focus_ABK_l_english.yml
  localisation/english/MD_focus_BOL_l_english.yml
  localisation/english/MD_focus_BOS_l_english.yml
  localisation/english/MD_focus_BRM_l_english.yml
  localisation/english/MD_focus_CAN_l_english.yml
  localisation/english/MD_focus_CES_l_english.yml
  localisation/english/MD_focus_CHE_l_english.yml
  localisation/english/MD_focus_CHI_SOV_l_english.yml
  localisation/english/MD_focus_CMW_l_english.yml
  localisation/english/MD_focus_CUB_l_english.yml
  localisation/english/MD_focus_DPR_LPR_HPR_OPR_l_english.yml
  localisation/english/agrarian_economy_l_english.yml
  localisation/english/attack_helicopter_modules_l_english.yml
  localisation/english/conditional_peace_deals_l_english.yml
  localisation/english/countries_l_english.yml
  localisation/english/education_l_english.yml
  localisation/english/equip_naval_l_english.yml
  localisation/english/loading_tips_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Ship Icons Update (#5098)
  gfx/army_icons/army_icons.txt
  gfx/army_icons/naval_equipment_role_icons.dds
  gfx/army_icons/naval_equipment_role_icons_selected.dds
  interface/equipment.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed typos, grammar and wrong references in African event localization (#5086)
  Changelog.txt
  localisation/english/MD_africa_events_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed typos, grammar and wrong references in shared event localization (#5084)
  Changelog.txt
  localisation/english/events_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

[AZE] Fixed typos and grammar in Azerbaijani localization (#5080)
  Changelog.txt
  localisation/english/MD_focus_AZE_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

[BOT/BUL] Fixed typos, grammar and factual errors in Botswana and Bulgaria localization (#5087)
  Changelog.txt
  localisation/english/MD_focus_BOT_l_english.yml
  localisation/english/MD_focus_BUL_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix Portugal's starting content and write its party descriptions
  common/characters/POR.txt
  common/scripted_effects/POR_political_leaders.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  history/countries/POR - Portugal.txt
  history/units/POR_2000_nonnsb.txt
  history/units/POR_2000_nsb.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Lusophone Realpolitik, Portugal's shadow war
  common/decisions/Portugal.txt
  common/decisions/categories/99_POR_decision_categories.txt
  common/operations/MD_POR_operations.txt
  common/scripted_guis/99_POR_scripted_guis.txt
  common/scripted_localisation/99_POR_scripted_localisation.txt
  events/05_portugal.txt
  gfx/interface/scripted_gui/portugal/POR_ops_flag_frame.dds
  gfx/interface/scripted_gui/portugal/POR_ops_flag_grey.dds
  interface/POR_ops_filter.gfx
  interface/POR_ops_filter.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Document Portugal and add its changelog line
  .claude/docs/decision-reference.md
  Changelog.txt
  docs/src/content/countries/portugal.md
  docs/src/content/pages/countries.md
Due: none

Add Portugal's focus tree
  common/achievements/MD_achievements.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/05_portugal.txt
  localisation/english/MD_custom_achievements_l_english.yml
  localisation/english/MD_focus_POR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Portugal's national spirits, ledgers, AI behaviour rule and shared hooks
  common/ai_strategy/POR.txt
  common/ai_strategy_plans/POR_strategy_plans.txt
  common/dynamic_modifiers/99_POR_dynamic_modifiers.txt
  common/game_rules/00_game_rules.txt
  common/ideas/05_portugal.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/07_nsb_on_actions.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_POR_on_actions.txt
  common/opinion_modifiers/Portugal.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/01_civil_war_effects.txt
  common/scripted_effects/99_POR_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_triggers/99_POR_scripted_triggers.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

[DEN] Fixed typos, names and facts in Danish localization (#5079)
  Changelog.txt
  localisation/english/MD_focus_DEN_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Economy AI: stop the monthly defence-law cut/re-buy loop
  common/scripted_effects/00_desired_law_calculations.txt
  common/scripted_effects/00_economy_automation_effects.txt
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Economy AI: expected military spending no longer flips with the moderate-deficit gate
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Shorten the defence-law fix comments to one line each
  common/scripted_effects/00_desired_law_calculations.txt
  common/scripted_effects/00_economy_automation_effects.txt
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Changelog: AI stops cutting and re-buying its defence law
  Changelog.txt
Due: none

[AFG/BRA] Fixed typos, grammar, wrong names and facts in Afghanistan and Brazil localization (#5088)
  Changelog.txt
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_focus_BRA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Removed the Changelog entry, not needed for this fix
  Changelog.txt
Due: none

Fixed typos, grammar and wrong designations in equipment localization (#5085)
  Changelog.txt
  localisation/english/equipment_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixes
  events/05_australia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

AST major event fixes (#5102)
  events/05_australia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

[GEO/VEN] Escaped two quotes added without a backslash in #5094 (#5099)
  localisation/english/MD_focus_GEO_l_english.yml
  localisation/english/MD_focus_VEN_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

[BLR/CHI] Fixed typos, grammar, names and factual errors in Belarus and China localization (#5091)
  Changelog.txt
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Replace 15 International Systems window flags with three variables
  Changelog.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Replace the PMC company selection flags with one variable
  Changelog.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_triggers/01_international_triggers.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add an opt-in validator for event AI weights that ignore option costs
  .claude/docs/event-reference.md
  .claude/docs/validation-pipeline.md
  tools/tests/validation/validate_events_ai_chance_cost_test.py
  tools/validation/README.md
  tools/validation/validate_events.py
Due: none

Move the picker state checks into scripted triggers with visible tooltips
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_triggers/MD_missile_scripted_triggers.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Name the PMC selection checks and show the selected company in the hire tooltip
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  common/scripted_triggers/01_international_triggers.txt
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Follow money math in the AI weight cost check and mark gated events
  .claude/docs/event-reference.md
  .claude/docs/validation-pipeline.md
  tools/tests/validation/validate_events_ai_chance_cost_test.py
  tools/validation/README.md
  tools/validation/validate_events.py
Due: none

Validate token: literals against the synchronized dynamic token list
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  tools/tests/validation/unregistered_dynamic_token_test.py
  tools/tests/validation/validate_ideas_scan_test.py
  tools/validation/README.md
  tools/validation/validate_ideas.py
  tools/validation/validate_variables.py
  tools/validation/validator_common.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Follow scripted effect calls and direct money writes in the AI weight cost check
  .claude/docs/event-reference.md
  .claude/docs/validation-pipeline.md
  tools/tests/validation/validate_events_ai_chance_cost_test.py
  tools/validation/validate_events.py
Due: none

Cover game-variable token targets in the dynamic token check
  .claude/docs/validation-pipeline.md
  tools/tests/validation/unregistered_dynamic_token_test.py
  tools/validation/README.md
  tools/validation/validate_variables.py
Due: none

Scan English localisation in the dynamic token check
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  tools/tests/validation/unregistered_dynamic_token_test.py
  tools/validation/README.md
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cover tax rate changes, branches, stored signs, and long-form writes in the AI weight cost check
  .claude/docs/event-reference.md
  .claude/docs/validation-pipeline.md
  tools/tests/validation/validate_events_ai_chance_cost_test.py
  tools/validation/README.md
  tools/validation/validate_events.py
Due: none

Scan GUI text and quoted strings in the dynamic token check
  .claude/docs/validation-pipeline.md
  Changelog.txt
  tools/tests/validation/unregistered_dynamic_token_test.py
  tools/validation/README.md
  tools/validation/validate_variables.py
Due: none
