Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

flags
  gfx/flags/ADS_nationalist.tga
  gfx/flags/medium/ADS_nationalist.tga
  gfx/flags/small/ADS_nationalist.tga
Due: none

e
  gfx/flags/ADS_nationalist.tga
  gfx/flags/medium/ADS_nationalist.tga
  gfx/flags/small/ADS_nationalist.tga
Due: none

stuff
  common/countries/Aegist.txt
  common/countries/colors.txt
  common/country_tags/00_countries.txt
  common/decisions/United_Kingdom.txt
  common/decisions/categories/united_kingdom_categories.txt
  common/names/00_names.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  history/countries/ADS - Aegist.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
  localisation/english/countries_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

idea
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix
  common/characters/ENG.txt
  common/country_leader/ENG_traits.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

filename update
  common/national_focus/05_japan.txt
  common/national_focus/japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

docs: add kotru21 to AUTHORS.md and update Changelog
  docs/misc/authors.md
Due: none

docs(site): improve Jekyll wiki
  docs/.bundle/config
  docs/404.html
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/breadcrumbs.html
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_includes/skip-link.html
  docs/_layouts/default.html
  docs/_sass/_accessibility.scss
  docs/_sass/_code.scss
  docs/_sass/_components.scss
  docs/_sass/_dark-mode.scss
  docs/_sass/_layout.scss
  docs/_sass/_navigation.scss
  docs/_sass/_reset.scss
  docs/_sass/_responsive.scss
  docs/_sass/_tables.scss
  docs/_sass/_typography.scss
  docs/_sass/_variables.scss
  docs/assets/css/main.css
  docs/assets/css/main.scss
  docs/countries-list.md
  docs/dev-diaries-list.md
  docs/faq.md
  docs/index.md
  docs/technical-support.md
  docs/tutorials.md
Due: none

feat(header): implement sticky header and condensed state on scroll
  docs/_layouts/default.html
  docs/_sass/_layout.scss
  docs/_sass/_typography.scss
Due: none

feat(details): enhance collapsible details component with animations and variants
  docs/_sass/_components.scss
Due: none

Military Code Optimisation
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/JAP.txt
  common/national_focus/05_japan.txt
  common/scripted_localisation/99_JAP_scripted_localisation.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Rebalanced economic stats for buildings
  Changelog.txt
  common/buildings/00_buildings.txt
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_money_l_english.yml
  localisation/english/replace/replaced_from_vanilla_buildings_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: add table of contents sidebar with responsive design
  docs/_includes/toc-sidebar.html
  docs/_layouts/default.html
  docs/_sass/_layout.scss
  docs/_sass/_toc-sidebar.scss
  docs/_sass/_typography.scss
  docs/_sass/_variables.scss
  docs/assets/css/main.scss
Due: none

Refactor TOC sidebar behavior and header styles
  docs/_includes/header.html
  docs/_includes/toc-sidebar.html
  docs/_layouts/default.html
  docs/_sass/_layout.scss
  docs/_sass/_navigation.scss
  docs/_sass/_responsive.scss
  docs/dev-diaries-list.md
  docs/national-content/Afghan-Northern-Alliance.md
  docs/national-content/Armenia.md
  docs/national-content/Azerbaijan.md
  docs/national-content/Botswana.md
  docs/national-content/Brazil.md
  docs/national-content/Canada.md
  docs/national-content/China.md
  docs/national-content/Denmark.md
  docs/national-content/Ethiopia.md
  docs/national-content/Finland.md
  docs/national-content/France.md
  docs/national-content/Germany.md
  docs/national-content/Greece.md
  docs/national-content/Iran.md
  docs/national-content/Italy.md
  docs/national-content/Japan.md
  docs/national-content/Liechtenstein.md
  docs/national-content/Myanmar.md
  docs/national-content/Nigeria.md
  docs/national-content/North-Korea.md
  docs/national-content/Norway.md
  docs/national-content/Poland.md
  docs/national-content/Russia.md
  docs/national-content/South-Korea.md
  docs/national-content/Sweden.md
  docs/national-content/Switzerland.md
  docs/national-content/Syria.md
  docs/national-content/Ukraine.md
  docs/national-content/United-Kingdom.md
  docs/national-content/United-States.md
Due: none

fix: update actions/checkout and Ruby version in workflows for improved compatibility
  .github/workflows/docs-quality.yml
  .github/workflows/github-pages.yml
Due: none

fix: add fetch-depth option to actions/checkout in workflows for consistency
  .github/workflows/docs-quality.yml
  .github/workflows/github-pages.yml
Due: none

fix: update Ruby version in docs quality workflow for compatibility
  .github/workflows/docs-quality.yml
Due: none

portraits
  gfx/leaders/ENG/ENG_pmc_leader_1.dds
  gfx/leaders/ENG/ENG_pmc_leader_2.dds
Due: none

fix: enhance GitHub Pages workflow with Ruby setup and dependency installation
  .github/workflows/github-pages.yml
Due: none

Enhance GitHub Pages workflow with Ruby setup
  .github/workflows/github-pages.yml
Due: none

e
  gfx/leaders/ADS/ENG_pmc_leader_1.dds
  gfx/leaders/ADS/ENG_pmc_leader_2.dds
Due: none

stuff
  common/national_focus/05_united_kingdom.txt
  events/united_kingdom.txt
  history/countries/ADS - Aegist.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix: correct indentation for deploy job in GitHub Pages workflow
  .github/workflows/github-pages.yml
Due: none

e
  common/national_focus/05_united_kingdom.txt
  events/united_kingdom.txt
  history/countries/ADS - Aegist.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/national_focus/05_united_kingdom.txt
  history/countries/ADS - Aegist.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_subideology_parties_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

stuff
  common/characters/ADS.txt
  common/national_focus/05_united_kingdom.txt
  history/countries/ADS - Aegist.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix: enhance responsive design for tables and header layout
  docs/_sass/_components.scss
  docs/_sass/_layout.scss
  docs/_sass/_tables.scss
  docs/assets/js/site.js
Due: none

fix: remove permalink from military tutorial
  docs/player-tutorials/military-tutorial.md
Due: none

fix: add fallback URLs for breadcrumbs navigation
  docs/_includes/breadcrumbs.html
Due: none

feat: add fallback syntax highlighting for non-Rouge languages
  docs/_sass/_code.scss
  docs/assets/js/site.js
Due: none

feat: Refactor TOC and add new site features
  docs/_includes/head.html
  docs/assets/js/site-code-highlight.js
  docs/assets/js/site-header-nav.js
  docs/assets/js/site-theme.js
  docs/assets/js/site-toc-render.js
  docs/assets/js/site-toc-runtime.js
  docs/assets/js/site-ui-helpers.js
  docs/assets/js/site.js
  docs/assets/js/toc.js
Due: none

Work 1.0
  common/decisions/Belarus.txt
  common/decisions/Chechnya.txt
  common/decisions/Denmark.txt
  common/decisions/India.txt
  common/decisions/Russia.txt
  common/decisions/South_Ossetia.txt
  common/decisions/Ukraine.txt
  common/decisions/netherlands.txt
  common/dynamic_modifiers/00_indian_dynamic_modifiers.txt
  common/ideas/Libyan.txt
  common/ideas/Ukrainian.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_san_marino.txt
  common/national_focus/Ural.txt
  common/national_focus/iraq2.txt
  common/national_focus/israel_tree.txt
  common/national_focus/italy.txt
  common/national_focus/serbia.txt
  common/national_focus/ukraine.txt
  common/on_actions/99_PER_on_actions.txt
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_guis/01_subideology_scripted_guis.txt
  common/scripted_triggers/01_political_triggers.txt
  common/unit_medals/MD_default.txt
  events/Germany.txt
  events/Tajikistan.txt
  events/netherlands.txt
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Monarchism and Article9 Expansion
  common/decisions/JAP.txt
  common/national_focus/05_japan.txt
  common/national_focus/korea_north.txt
  common/national_focus/russia.txt
  events/JAP.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

stuff
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  events/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
