Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Stop tools/ from writing CRLF into mod files on Windows (#3076)
  .editorconfig
  .gitattributes
  .vscode/hoi4_millennium_dawn.code-workspace
  AGENTS.md
  tools/analysis/_reference_finder.py
  tools/analysis/tick_audit.py
  tools/assets/find_duplicate_textures.py
  tools/baseline_check.py
  tools/cleanup_effect_tooltip.py
  tools/cleanup_or.py
  tools/generate_validation_report.py
  tools/generators/generate_tribute_ideas.py
  tools/linting/fix_styling.py
  tools/loc.py
  tools/logging_tool.py
  tools/publishing/publish_workshop.py
  tools/report_lib/baseline.py
  tools/report_lib/tests/baseline_check_test.py
  tools/shared_utils.py
  tools/standardization/common_utils.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/standardize_ideas.py
  tools/standardization/standardize_localisation.py
  tools/sync_dynamic_tokens.py
  tools/tests/text_write_newline_test.py
  tools/validation/disk_cache.py
  tools/validation/refresh_vanilla_data.py
  tools/validation/run_all_validators.py
  tools/validation/validate_decisions.py
  tools/validation/validator_common.py
Due: none

CHI: rebalance focus tree costs onto a 5-tier rubric (#3080)
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Collect more live GFX refs in the unused-sprite check (#3075)
  .claude/docs/validation-pipeline.md
  tools/validation/tests/gfx_case_and_duplicate_test.py
  tools/validation/tests/gfx_gui_ref_parse_test.py
  tools/validation/validate_gfx_references.py
Due: none

Overhaul China's Belt and Road Initiative mechanic (#3072)
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix merge artifacts in event picture sprites and BNG party loc
  interface/MD_eventpictures.gfx
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix PHI branch validator errors and activate dead PHI mechanics
  common/decisions/99_PHI_decisions.txt
  common/decisions/categories/99_PHI_decision_categories.txt
  common/dynamic_modifiers/99_PHI_dynamic_modifiers.txt
  common/scripted_effects/99_PHI_scripted_effects.txt
  common/scripted_effects/BNG_political_leaders.txt
  common/scripted_effects/PHI_political_leaders.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  common/scripted_triggers/00_PHI_corruption_triggers.txt
  events/Philippines.txt
  history/countries/PHI - Philippines.txt
  localisation/english/MD_focus_PHI_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
  localisation/english/PHI_corruption_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 00_names.txt
  common/names/00_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix ambiguous NOT blocks and wire up dead PHI corruption roll helpers
  common/decisions/99_PHI_decisions.txt
  common/scripted_effects/99_PHI_scripted_effects.txt
  events/Philippines.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix engine and validator errors from the border war migration
  common/decisions/05_CHI_decisions.txt
  common/scripted_effects/99_border_war_scripted_effects.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Widen validator coverage and surface Style Check in the PR report (#3082, #2806, #2704)
  .claude/docs/scripting-edge-cases.md
  .claude/docs/validation-pipeline.md
  .github/workflows/coding-pipeline.yml
  tools/README.md
  tools/linting/check_common_mistakes.py
  tools/report_lib/loader.py
  tools/validation/tests/building_guards_test.py
  tools/validation/tests/loc_prose_test.py
  tools/validation/validate_building_guards.py
  tools/validation/validate_localisation.py
Due: none

Make the border war system readable and stop spurious cancels
  .claude/docs/validation-pipeline.md
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/kasmir_war_decision_categories.txt
  common/decisions/kasmir_war_decisions.txt
  common/decisions/sino_indian_border_war_decisions.txt
  common/dynamic_modifiers/99_border_war_dynamic_modifiers.txt
  common/on_actions/99_CHI_on_actions.txt
  common/on_actions/99_PAK_on_actions.txt
  common/scripted_effects/99_border_war_scripted_effects.txt
  common/scripted_triggers/99_border_war_triggers.txt
  events/border_war_events.txt
  localisation/english/MD_border_war_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  tools/validation/tests/unlocalised_available_flag_test.py
  tools/validation/tests/untooltipped_available_scripted_trigger_test.py
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 05_india.txt
  common/national_focus/05_india.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ukraine Startup Law change
  history/countries/UKR - Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

gfx
  gfx/event_pictures/middle_east/turkey - TUR/turkey_war1.dds
  gfx/event_pictures/middle_east/turkey - TUR/turkey_war2.dds
  gfx/event_pictures/middle_east/turkey - TUR/turkey_war3.dds
  gfx/event_pictures/middle_east/turkey - TUR/turkey_war4.dds
Due: none

Fix tools validation CI failures
  tools/analysis/_reference_finder.py
  tools/analysis/find_idea_references.py
  tools/analysis/tick_audit.py
  tools/assets/state_gfx.py
  tools/report_lib/tests/baseline_check_test.py
  tools/tests/staged_validators_real_test.py
  tools/tests/staged_validators_test.py
  tools/tests/text_write_newline_test.py
  tools/validation/disk_cache.py
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_oob_variant_modules_test.py
  tools/validation/validate_focus_tree.py
  tools/validation/validate_oob_units.py
  tools/validation/validate_variables.py
Due: none

Update MD_eventpictures.gfx
  interface/MD_eventpictures.gfx
Due: none

Make border war decisions preview their real effects and file them under RAJ
  common/decisions/India.txt
  common/decisions/categories/99_RAJ_decision_categories.txt
  common/decisions/categories/kasmir_war_decision_categories.txt
  common/decisions/kasmir_war_decisions.txt
  common/decisions/sino_indian_border_war_decisions.txt
  common/dynamic_modifiers/99_RAJ_dynamic_modifiers.txt
  common/dynamic_modifiers/99_border_war_dynamic_modifiers.txt
  common/ideas/Indian.txt
  common/ideas/zz_border_war_ideas.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  common/scripted_effects/99_border_war_scripted_effects.txt
  common/scripted_triggers/99_RAJ_scripted_triggers.txt
  common/scripted_triggers/99_border_war_triggers.txt
  events/Indian.txt
  events/border_war_events.txt
  localisation/english/MD_border_war_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Explain the Identity of India mechanic and give it an end state
  common/decisions/India.txt
  common/decisions/categories/99_RAJ_decision_categories.txt
  common/ideas/AA_religion.txt
  common/national_focus/05_india.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  common/scripted_triggers/99_RAJ_scripted_triggers.txt
  events/Indian.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fold event checks onto metadata and drop the body-list parser
  tools/validation/tests/validate_events_metadata_checks_test.py
  tools/validation/validate_events.py
Due: none

Hide the RAJ pluralist religions from the religion law list
  common/ideas/AA_religion.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_focus_RAJ_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Bring India party localisation up to the MD subideology standard
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Constrain tool file IO under a base path
  common/on_actions/00_on_actions.txt
  common/unit_leader/01_army_leader_traits.txt
  tools/analysis/_reference_finder.py
  tools/analysis/tick_audit.py
  tools/assets/state_gfx.py
  tools/shared_utils.py
  tools/tests/shared_utils_io_test.py
  tools/tests/text_write_newline_test.py
  tools/validation/disk_cache.py
  tools/validation/tests/focus_ai_will_do_guards_test.py
  tools/validation/tests/orphan_money_setter_test.py
  tools/validation/tests/validate_events_metadata_checks_test.py
  tools/validation/tests/validate_oob_variant_modules_test.py
  tools/validation/validate_focus_tree.py
  tools/validation/validate_oob_units.py
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Show both sides' readiness and gate border preparations on the right troops
  common/decisions/India.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  common/scripted_triggers/99_RAJ_scripted_triggers.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Let border preparations target a state and settle on their own timer
  common/decisions/05_india.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  common/scripted_triggers/99_RAJ_scripted_triggers.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix common-mistakes false positives for script-completed focuses
  tools/validation/validate_common_mistakes.py
Due: none

Fix multiple original_tag in AND blocks: wrap in OR
  common/ai_strategy/BOT.txt
  common/autonomous_states/MD_IRQ_autonomies.txt
  common/autonomous_states/MD_serbian_autonomies.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Limit border preparations to the states on the actual frontier
  common/decisions/05_india.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Rotate border preparations through one assigned frontier sector
  common/decisions/05_india.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Build the border frontier lists from state IDs with owner flags
  localisation/english/MD_focus_RAJ_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Drive the border sector off a state flag so the cards show from day one
  common/decisions/05_india.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_RAJ_scripted_effects.txt
  common/scripted_triggers/99_RAJ_scripted_triggers.txt
  history/countries/CHI - China.txt
  history/countries/PAK - Pakistan.txt
  history/countries/RAJ - India.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Show the real effects on the press-the-claim decisions
  common/decisions/05_india.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Widen validator coverage and surface Style Check in the PR validation report (#3084)
  .claude/docs/scripting-edge-cases.md
  .claude/docs/validation-pipeline.md
  .github/workflows/coding-pipeline.yml
  tools/README.md
  tools/linting/check_common_mistakes.py
  tools/report_lib/loader.py
  tools/validation/tests/building_guards_test.py
  tools/validation/tests/loc_prose_test.py
  tools/validation/validate_building_guards.py
  tools/validation/validate_localisation.py
Due: none

Regular update
  localisation/simp_chinese/MD_focus_CHI_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SIA_l_simp_chinese.yml
Due: none

Make AI PAK and CHI keep preparing while behind RAJ readiness
  common/decisions/05_india.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Keep the border sector bookkeeping out of tooltips
  common/scripted_effects/99_RAJ_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Let only one border preparation run per front at a time
  common/decisions/05_india.txt
  common/scripted_triggers/99_RAJ_scripted_triggers.txt
  history/countries/CHI - China.txt
  history/countries/PAK - Pakistan.txt
  history/countries/RAJ - India.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed
  common/national_focus/05_netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
