Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Fold duplicated cache calls in disk_cache_test to clear the jscpd gate
  tools/tests/validation/disk_cache_test.py
Due: none

Update USA_ship_names.txt
  common/units/names_ships/USA_ship_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Make decision-icon-slot-mismatch report in CI for MD and vanilla art
  .claude/docs/validation-pipeline.md
  .github/workflows/test-suite.yml
  .github/workflows/validator-cache.yml
  tools/tests/validation/change_groups_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/refresh_vanilla_data_test.py
  tools/tests/validation/sprite_index_test.py
  tools/tests/validation/validate_decisions_edge_cases_test.py
  tools/tests/validation/validate_decisions_icon_type_test.py
  tools/tests/validation/vanilla_sprite_manifest_test.py
  tools/validation/README.md
  tools/validation/change_groups.py
  tools/validation/refresh_vanilla_data.py
  tools/validation/sprite_index.py
  tools/validation/validate_decisions.py
  tools/validation/validate_gfx_references.py
  tools/validation/vanilla_sprites.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

party-names skill: verified sources only, max 5 TAGs per PR
  .claude/skills/party-names/SKILL.md
Due: none

typo
  localisation/english/MD_doctrines_ncns_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Resize the Australian and rebel decision icons in place and swap the remaining vanilla-slot icons
  .claude/docs/validation-pipeline.md
  common/decisions/05_afghanistan.txt
  common/decisions/05_australia.txt
  common/decisions/categories/99_HOL_decisions_categories.txt
  gfx/interface/decisions/antenna_ast.dds
  gfx/interface/decisions/bus_ast.dds
  gfx/interface/decisions/com_rebel_high.dds
  gfx/interface/decisions/com_rebel_highest.dds
  gfx/interface/decisions/com_rebel_medium.dds
  gfx/interface/decisions/com_rebel_moderat.dds
  gfx/interface/decisions/com_rebel_weak.dds
  gfx/interface/decisions/com_rebel_weaken.dds
  gfx/interface/decisions/debate_icon_ast.dds
  gfx/interface/decisions/decision_category_antenna_ast.dds
  gfx/interface/decisions/decision_category_elections_icon_ast.dds
  gfx/interface/decisions/decision_category_foreign_work_ast.dds
  gfx/interface/decisions/decision_generic_leave_commonwealth_of_nation.dds
  gfx/interface/decisions/elections_icon_ast.dds
  gfx/interface/decisions/festivals_ast.dds
  gfx/interface/decisions/foreign_work_ast.dds
  gfx/interface/decisions/greens_party_ast.dds
  gfx/interface/decisions/ind_flag_ast.dds
  gfx/interface/decisions/independent_parties_ast.dds
  gfx/interface/decisions/jap_flag_ast.dds
  gfx/interface/decisions/kor_flag_ast.dds
  gfx/interface/decisions/liberal_party_ast.dds
  gfx/interface/decisions/liberal_party_burning_aus.dds
  gfx/interface/decisions/media_icon_ast.dds
  gfx/interface/decisions/nzl_flag_ast.dds
  gfx/interface/decisions/opal_card_ast.dds
  gfx/interface/decisions/pap_flag_ast.dds
  gfx/interface/decisions/phone_icon_ast.dds
  gfx/interface/decisions/rally_icon_ast.dds
  gfx/interface/decisions/road_construction_ast.dds
  gfx/interface/decisions/roc_flag_ast.dds
  gfx/interface/decisions/rudd_bye_decision.dds
  gfx/interface/decisions/smear_icon_ast.dds
  gfx/interface/decisions/stall_ast.dds
  gfx/interface/decisions/van_flag_ast.dds
  interface/MD_decisions.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

works
  common/decisions/EU_voting_decisions.txt
  common/decisions/categories/99_GRE_decision_categories.txt
  common/dynamic_modifiers/99_GRE_dynamic_modifiers.txt
  common/national_focus/05_greece.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Algeria focus indentation validation
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update USA_2000_nsb.txt (#3931)
  history/units/USA_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Mech Militia Integration (#3932)
  common/doctrines/grand_doctrines/land_doctrine.txt
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/subdoctrines/land/land_doctrines_combat.txt
  common/doctrines/subdoctrines/land/land_doctrines_dedicated.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/technologies/custom_tech.txt
  common/units/MD_land_units.txt
  common/units/MD_regimental_support.txt
  gfx/texticons/mech_militia_bat_icon.dds
  gfx/texticons/unit_mech_milita_bat_icon.dds
  interface/MD_texticons.gfx
  localisation/english/MD_techs_l_english.yml
  localisation/english/MD_traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update USA_ship_names.txt (#3935)
  common/units/names_ships/USA_ship_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Move Greek political and economic focus ideas into dynamic modifiers
  common/dynamic_modifiers/99_GRE_dynamic_modifiers.txt
  common/ideas/Greek.txt
  common/national_focus/05_greece.txt
  events/Greece.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_GRE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 05_greece.txt
  common/national_focus/05_greece.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize party localisation for ABK, ACE, ADJ and ADO
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

pics added
  events/Italy.txt
  events/PMC.txt
  events/Ukraine.txt
  gfx/event_pictures/africa/morocco - MOR/MOR_casablanca_bombings.dds
  gfx/event_pictures/africa/somalia - SOM/SOM_civil_war_ends.dds
  gfx/event_pictures/africa/somalia - SOM/SOM_juba_valley_alliance.dds
  gfx/event_pictures/africa/somalia - SOM/SOM_puntland_breakaway.dds
  gfx/event_pictures/africa/somalia - SOM/SOM_unification_talks.dds
  gfx/event_pictures/americas/carribbean/haiti - HAI/HAI_cannibal_army.dds
  gfx/event_pictures/americas/carribbean/haiti - HAI/HAI_metayer_killed.dds
  gfx/event_pictures/americas/north_america/united_states - USA/USA_auto_industry_crisis.dds
  gfx/event_pictures/americas/north_america/united_states - USA/USA_energy_crisis_2000s.dds
  gfx/event_pictures/americas/north_america/united_states - USA/constellis_pmc_news.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_amazon_conservation.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_ambassador_selection.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_debt_negotiations.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_democratas_founded.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_jungle_drug_lab.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_nationalist_summit.dds
  gfx/event_pictures/europe/britain - GBR/ENG_major_non_nato_ally.dds
  gfx/event_pictures/europe/european_union - EUU/EUU_alliance_offer.dds
  gfx/event_pictures/europe/european_union - EUU/EUU_environmental_sanctions.dds
  gfx/event_pictures/europe/european_union - EUU/EUU_environmental_treaty.dds
  gfx/event_pictures/europe/european_union - EUU/EUU_nonaggression_pact.dds
  gfx/event_pictures/europe/italy - ITA/ITA_denard_arrest.dds
  gfx/event_pictures/europe/russia - SOV/SOV_romanov_canonization.dds
  gfx/event_pictures/europe/russia - SOV/SOV_su37_crash.dds
  gfx/event_pictures/europe/ukraine - UKR/UKR_factory_sabotage.dds
  gfx/event_pictures/europe/ukraine - UKR/UKR_stockpile_sabotage.dds
  gfx/event_pictures/generic/events/migrant_crime_report.dds
  gfx/event_pictures/generic/events/migrant_protest.dds
  gfx/event_pictures/generic/news/news_nuclear_plant.dds
  gfx/event_pictures/generic/news/news_refinery_industry.dds
  gfx/event_pictures/middle_east/_generic_middle_east/peace_plan_signing.dds
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Trim the new party descriptions to three sentences
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Pr.61 Kashin class
  history/countries/RAJ - India.txt
  history/countries/SOV - Russia.txt
  history/units/POL_2000_naval_mtg.txt
  history/units/SOV_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use Image.Resampling.LANCZOS so pylint resolves the resampling filter
  tools/assets/resize_decision_icons.py
Due: none

Standardize the decision files flagged by the standardization check
  common/decisions/01_pmc_decisions.txt
  common/decisions/05_CHI_decisions.txt
  common/decisions/05_afghanistan.txt
  common/decisions/99_PHI_decisions.txt
  common/decisions/99_mp_decisions.txt
  common/decisions/Coalition Decisions.txt
  common/decisions/Cuba.txt
  common/decisions/EH_decisions.txt
  common/decisions/France.txt
  common/decisions/Gulf.txt
  common/decisions/Italy.txt
  common/decisions/Korea.txt
  common/decisions/Malorossiya.txt
  common/decisions/Nigeria.txt
  common/decisions/Romania.txt
  common/decisions/Saudi Arabia.txt
  common/decisions/SubjectsOfRussia.txt
  common/decisions/Uzebkistan.txt
  common/decisions/categories/02_pmc_decision_categories.txt
  common/decisions/categories/99_ABK_decision_categories.txt
  common/decisions/categories/99_CUB_decision_categories.txt
  common/decisions/categories/99_GRE_decision_categories.txt
  common/decisions/categories/99_HOL_decisions_categories.txt
  common/decisions/categories/99_KUR_decision_categories.txt
  common/decisions/categories/99_MLR_decision_categories.txt
  common/decisions/categories/99_SIN_decision_categories.txt
  common/decisions/categories/99_SPR_decision_categories.txt
  common/decisions/categories/99_TUR_decision_categories.txt
  common/decisions/categories/99_USA_decision_categories.txt
  common/decisions/categories/MD_auto_agency_category.txt
  common/decisions/categories/SAU_decision_categories.txt
  common/decisions/categories/subparty_policies.txt
  common/decisions/netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Italy.txt
  events/Italy.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Point USoE leaders at country portraits and traits
  common/scripted_effects/CRO_political_leaders.txt
  common/scripted_effects/DEN_political_leaders.txt
  common/scripted_effects/FRA_political_leaders.txt
  common/scripted_effects/HUN_political_leaders.txt
  common/scripted_effects/IRE_political_leaders.txt
  common/scripted_effects/SPR_political_leaders.txt
  common/scripted_effects/USoE_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

party-names skill: verified sources only, max 5 TAGs per PR (#3906)
  .claude/skills/party-names/SKILL.md
Due: none

Fixed France AI strategy - Closes #3944
  common/ai_strategy/FRA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Point USoE leaders at country portraits and traits (#3949)
  common/scripted_effects/CRO_political_leaders.txt
  common/scripted_effects/DEN_political_leaders.txt
  common/scripted_effects/FRA_political_leaders.txt
  common/scripted_effects/HUN_political_leaders.txt
  common/scripted_effects/IRE_political_leaders.txt
  common/scripted_effects/SPR_political_leaders.txt
  common/scripted_effects/USoE_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Slim agent guidance and improve documentation routing (#3912)
  .claude/agents/ai-debugger.md
  .claude/agents/bug-fixer.md
  .claude/agents/code-quality-reviewer.md
  .claude/agents/event-builder.md
  .claude/agents/focus-tree-builder.md
  .claude/agents/head-mod-developer.md
  .claude/agents/localisation-editor.md
  .claude/agents/performance-analyzer.md
  .claude/agents/simplify-analyzer.md
  .claude/agents/tools-reviewer.md
  .claude/docs/agent-conventions.md
  .claude/docs/bug-patterns.md
  .claude/docs/decision-reference.md
  .claude/docs/documentation-references.md
  .claude/docs/event-reference.md
  .claude/docs/focus-tree-reference.md
  .claude/docs/hoi4-data-structures.md
  .claude/docs/idea-reference.md
  .claude/docs/localisation-rules.md
  .claude/docs/mio-reference.md
  .claude/docs/scripting-edge-cases.md
  .claude/docs/simplification-patterns.md
  .claude/docs/validation-pipeline.md
  .claude/rules/ai-strategy.md
  .claude/rules/general-rules.md
  .claude/rules/intel-agency.md
  .claude/skills/adversarial-review/SKILL.md
  .claude/skills/country-ai-path/references/audit.md
  .claude/skills/update-claude/SKILL.md
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/src/content/pages/faq.md
  docs/src/content/pages/getting-started.md
  docs/src/content/resources/code-stylization-guide.md
  docs/src/content/resources/developer-setup.md
  docs/src/content/tutorials/troubleshooting-guide.md
  tools/README.md
Due: none

Restore GRE_com_resources loc keys and standardize the flagged Greek files
  common/decisions/EU_voting_decisions.txt
  common/ideas/Greek.txt
  common/national_focus/05_greece.txt
  events/Greece.txt
  localisation/english/MD_focus_GRE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Maghreb focus requirement when Libya does not exist (#3926)
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

TODO events checklist (#3946)
  events/Italy.txt
  events/PMC.txt
  events/Ukraine.txt
  gfx/event_pictures/africa/morocco - MOR/MOR_casablanca_bombings.dds
  gfx/event_pictures/africa/somalia - SOM/SOM_civil_war_ends.dds
  gfx/event_pictures/africa/somalia - SOM/SOM_juba_valley_alliance.dds
  gfx/event_pictures/africa/somalia - SOM/SOM_puntland_breakaway.dds
  gfx/event_pictures/africa/somalia - SOM/SOM_unification_talks.dds
  gfx/event_pictures/americas/carribbean/haiti - HAI/HAI_cannibal_army.dds
  gfx/event_pictures/americas/carribbean/haiti - HAI/HAI_metayer_killed.dds
  gfx/event_pictures/americas/north_america/united_states - USA/USA_auto_industry_crisis.dds
  gfx/event_pictures/americas/north_america/united_states - USA/USA_energy_crisis_2000s.dds
  gfx/event_pictures/americas/north_america/united_states - USA/constellis_pmc_news.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_amazon_conservation.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_ambassador_selection.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_debt_negotiations.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_democratas_founded.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_jungle_drug_lab.dds
  gfx/event_pictures/americas/south_america/brazil - BRA/BRA_nationalist_summit.dds
  gfx/event_pictures/europe/britain - GBR/ENG_major_non_nato_ally.dds
  gfx/event_pictures/europe/european_union - EUU/EUU_alliance_offer.dds
  gfx/event_pictures/europe/european_union - EUU/EUU_environmental_sanctions.dds
  gfx/event_pictures/europe/european_union - EUU/EUU_environmental_treaty.dds
  gfx/event_pictures/europe/european_union - EUU/EUU_nonaggression_pact.dds
  gfx/event_pictures/europe/italy - ITA/ITA_denard_arrest.dds
  gfx/event_pictures/europe/russia - SOV/SOV_romanov_canonization.dds
  gfx/event_pictures/europe/russia - SOV/SOV_su37_crash.dds
  gfx/event_pictures/europe/ukraine - UKR/UKR_factory_sabotage.dds
  gfx/event_pictures/europe/ukraine - UKR/UKR_stockpile_sabotage.dds
  gfx/event_pictures/generic/events/migrant_crime_report.dds
  gfx/event_pictures/generic/events/migrant_protest.dds
  gfx/event_pictures/generic/news/news_nuclear_plant.dds
  gfx/event_pictures/generic/news/news_refinery_industry.dds
  gfx/event_pictures/middle_east/_generic_middle_east/peace_plan_signing.dds
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gate the GRE union reversal on wild_unions_tier = 1 instead of a bare else
  common/national_focus/05_greece.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Changed decision localisation
  localisation/english/MD_focus_UKR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

work
  common/decisions/categories/99_GRE_decision_categories.txt
  common/dynamic_modifiers/99_GRE_dynamic_modifiers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop six USA focuses from sharing cells with other focuses
  common/national_focus/05_usa.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Move PER election weekly tick to on_weekly_PER
  common/decisions/Iran.txt
  common/on_actions/99_PER_on_actions.txt
  common/scripted_effects/99_PER_scripted_effects.txt
  events/Iran.txt
  localisation/english/MD_focus_PER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Kabylia unrest spirit cleanup
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
