Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

trat
  gfx/interface/traits/CHI/CHI_chinese_aligned_icon.dds
  interface/unitleaderwindow.gfx
Due: none

work
  .vscode/hoi4_millennium_dawn.code-workspace
  common/characters/ENG.txt
  common/characters/IRQ.txt
  common/characters/LBA.txt
  common/characters/PER.txt
  common/characters/UKR.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/brazil.txt
  common/on_actions/99_HOL_on_actions.txt
  common/unit_leader/01_army_leader_traits.txt
  common/unit_leader/HOL_traits.txt
  gfx/interface/traits/CHI/CHI_chinese_aligned_icon.dds
  gfx/interface/traits/ENG/ENG_prince_andrew_icon.dds
  gfx/interface/traits/ENG/ENG_princess_anne_icon.dds
  interface/unitleaderwindow.gfx
  localisation/english/MD_focus_HOL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/ideas/!_special_project_ideas.txt
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/land_projects.txt
  gfx/interface/special_project/project_icons/Land/sp_secure_military_network_bg.dds
  interface/special_projects/MD_project.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/special_projects/projects/civilian_projects.txt
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Final Fixes and value balance
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
  events/05_china.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  history/countries/NKO - North Korea.txt
  history/countries/SOV - Russia.txt
  history/units/ABK_2000_nsb.txt
  history/units/ARM_2000_nsb.txt
  history/units/AZE_2000_nsb.txt
  history/units/CHE_2000_nsb.txt
  history/units/NKO_2000_nsb.txt
  history/units/NKR_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix the issues the pre-merge audit found in the War on Terror branch
  Changelog.txt
  common/decisions/Afghanistan.txt
  common/decisions/Iran.txt
  common/decisions/War on Terror.txt
  common/factions/rules/dismissal_rules.txt
  common/ideas/afghan_taliban.txt
  common/national_focus/05_myanmar.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_event_on_actions.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_effects/99_afghanistan_scripted_effects.txt
  common/scripted_effects/99_war_on_terror_scripted_effects.txt
  events/Afghanistan.txt
  events/Iran.txt
  events/UN_Voting_Events.txt
  events/waronterror.txt
  localisation/english/MD_War_on_terror_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More fixes from various things
  common/decisions/War on Terror.txt
  common/ideas/afghan_taliban.txt
  common/on_actions/99_USA_on_actions.txt
  events/waronterror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat(ai): add support and repair ships to task force templates optimal compositions
  common/ai_navy/taskforce/BRA_taskforce_templates.txt
  common/ai_navy/taskforce/CHI_taskforce_templates.txt
  common/ai_navy/taskforce/ENG_taskforce_templates.txt
  common/ai_navy/taskforce/FRA_taskforce_templates.txt
  common/ai_navy/taskforce/GER_taskforce_templates.txt
  common/ai_navy/taskforce/GRE_taskforce_templates.txt
  common/ai_navy/taskforce/ITA_taskforce_templates.txt
  common/ai_navy/taskforce/JAP_taskforce_templates.txt
  common/ai_navy/taskforce/MEX_taskforce_templates.txt
  common/ai_navy/taskforce/RAJ_taskforce_templates.txt
  common/ai_navy/taskforce/SOV_taskforce_templates.txt
  common/ai_navy/taskforce/SPR_taskforce_templates.txt
  common/ai_navy/taskforce/TAI_taskforce_templates.txt
  common/ai_navy/taskforce/TUR_taskforce_templates.txt
  common/ai_navy/taskforce/USA_taskforce_templates.txt
  common/ai_navy/taskforce/generic_taskforce_templates.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat(ai): use unit_ratio and min_factories for support and repair ships
  common/ai_strategy/naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix(equipment): make support and repair ship variants buildable
  common/units/equipment/MD_Support_Vessels.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revert "Merge pull request #3 from JasonBreen/jasonbreen-fixing-open-issue"
  Changelog.txt
  events/Influence.txt
  localisation/english/MD_influence_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix(units): change need to need_equipment for support and repair ships
  common/units/MD_naval_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Consolidate OEM events and fix validation
  events/USA_oem_events.txt
  events/United States.txt
  localisation/english/USA_oem_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

AI: Add support/repair ship role ratios and relax shipyard constraints
  common/ai_equipment/generic_naval.txt
  common/ai_strategy/naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Save
  gfx/interface/technologies/NKO/LAND/Type68.dds
  history/countries/NKO - North Korea.txt
  history/units/NKO_2000_bba.txt
  history/units/NKO_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix uk focus 'national service debate' requiring two mutually exclusive foci
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed more issues with the various UI as they are
  common/ai_strategy/naval.txt
  interface/MD_NKO_guis.gui
  interface/core.gui
  interface/countryofficercorpview.gui
  interface/cze_scripted_gui.gui
  interface/equipmentdesigner/MD_ship_hull_battlecruiser.gui
  interface/equipmentdesigner/MD_ship_hull_corvette.gui
  interface/equipmentdesigner/MD_ship_hull_patrol_boat.gui
  interface/equipmentdesigner/MD_ship_hull_stealth_corvette.gui
  interface/equipmentdesigner/MD_ship_hull_stealth_destroyer.gui
  interface/equipmentdesigner/tanks/tank_chassis_medium_tank.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank.gui
  interface/ledger.gui
  interface/naviesview.gui
  interface/pol_scripted_gui.gui
  interface/unitleaderwindow.gui
  interface/unitview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed UI interface issues
  interface/equipmentdesigner/MD_ship_hull_attack_submarine.gui
  interface/equipmentdesigner/MD_ship_hull_battlecruiser.gui
  interface/equipmentdesigner/MD_ship_hull_battleship.gui
  interface/equipmentdesigner/MD_ship_hull_carrier.gui
  interface/equipmentdesigner/MD_ship_hull_corvette.gui
  interface/equipmentdesigner/MD_ship_hull_cruiser.gui
  interface/equipmentdesigner/MD_ship_hull_destroyer.gui
  interface/equipmentdesigner/MD_ship_hull_frigate.gui
  interface/equipmentdesigner/MD_ship_hull_helicopter_operator.gui
  interface/equipmentdesigner/MD_ship_hull_missile_submarine.gui
  interface/equipmentdesigner/MD_ship_hull_patrol_boat.gui
  interface/equipmentdesigner/MD_ship_hull_stealth_corvette.gui
  interface/equipmentdesigner/MD_ship_hull_stealth_destroyer.gui
  interface/equipmentdesigner/MD_ship_hull_stealth_frigate.gui
  tools/validation/validate_ai_roles.py
Due: none

Texticons
  interface/MD_texticons.gfx
Due: none

Fixed validatiuon false positive
  common/decisions/Political Desicions.txt
  common/ideas/afghan_taliban.txt
  common/scripted_effects/99_AFG_scripted_effects.txt
  common/scripted_effects/99_UKR_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers_FR_loc.txt
  common/scripted_triggers/99_AU_scripted_triggers.txt
  common/scripted_triggers/99_DPR_scripted_triggers.txt
  events/Afghanistan.txt
  events/Commonwealth.txt
  localisation/english/MD_focus_CMW_l_english.yml
  localisation/english/MD_money_l_english.yml
  tools/validation/validate_modifiers.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/decisions/Political Desicions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

refactor(tech): move microchip and composite tech resource modifiers to scripted effects to avoid double-granting
  common/scripted_effects/00_microchip_effects.txt
  common/technologies/engineering.txt
  common/technologies/industry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the two UNSC/UNGA issues with capitulation or annexd nations
  .claude/docs/un-system-reference.md
  common/scripted_effects/01_international_systems_effects.txt
  events/International Recognition.txt
  events/UN_Voting_Events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

perf(tech): optimize microchip and composite updates using country variables instead of tech checks
  common/scripted_effects/00_microchip_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix(tech): remove invalid UTF-8 BOM from technology and scripted effects files
  common/scripted_effects/00_microchip_effects.txt
  common/technologies/engineering.txt
  common/technologies/industry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Save
  common/units/names_divisions/USA_names_divisions.txt
  history/countries/USA - USA.txt
  history/units/USA_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Palantir origins event chain
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  events/USA_oem_events.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/USA_oem_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Replace PR #3 with upstream influence fix
  Changelog.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_localisation/01_influence_scripted_localisation.txt
  events/Influence.txt
  localisation/english/MD_influence_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Added weekly self-heal sweep that clears dead nations from the UN GA/UNSC when an annexation path skips on_annex
  .claude/docs/un-system-reference.md
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Asymmetric Warfare branch
  common/ideas/Hezbollah.txt
  common/national_focus/Hezbollah.txt
  localisation/english/MD_focus_HEZ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add JasonBreen to authors list
  docs/src/content/misc/authors.md
Due: none

fra locs event
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Implement USA OEM second draft
  Changelog.txt
  common/national_focus/05_usa.txt
  common/on_actions/99_USA_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Update JasonBreen's entry in authors.md
  docs/src/content/misc/authors.md
Due: none

Fix scoped scripted localisation validation
  tools/validation/tests/validate_scripted_localisation_test.py
  tools/validation/validate_scripted_localisation.py
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
