Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Standardize MD_POR_organizations.txt
  common/military_industrial_organization/organizations/MD_POR_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Thailand: add IMF repayment focus bypass
  common/national_focus/05_thailand.txt
  events/Thailand.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Strip the UTF-8 BOM these two files picked up
  common/scripted_effects/99_BRA_scripted_effects.txt
  common/scripted_effects/99_PER_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Generic MIO Catalog For Custom MIO Nations (#3973) (#4341)
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/military_industrial_organization/organizations/MD_generic_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organizations_old.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_mio_scripted_effects.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_guis/00_mio_unlock_catalog.txt
  common/scripted_localisation/00_mio_catalog_scripted_loc.txt
  common/scripted_triggers/00_mio_catalog_triggers.txt
  common/scripted_triggers/00_mio_generic_gap_triggers.txt
  history/countries/ALG - Algeria.txt
  history/countries/AST - Australia.txt
  history/countries/BEL - Belgium.txt
  history/countries/BOS - Bosnia.txt
  history/countries/BRA - Brazil.txt
  history/countries/CRO - Croatia.txt
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/GRE - Greece.txt
  history/countries/HOL - Holland.txt
  history/countries/ITA - Italy.txt
  history/countries/JAP - Japan.txt
  history/countries/NKO - North Korea.txt
  history/countries/POL - Poland.txt
  history/countries/ROM - Romania.txt
  history/countries/SLV - Slovenia.txt
  history/countries/SOV - Russia.txt
  history/countries/SWE - Sweden.txt
  interface/military_industrial_organization/zz_mio_unlock_catalog.gui
  localisation/english/MD_mio_catalog_l_english.yml
  tools/validation/validate_mios.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add changelog entry
  Changelog.txt
Due: none

Restore bankruptcy AI guard on UKR_pan_slavic_ssr
  common/national_focus/05_ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add the missing unit category texticons (#4337)
  Changelog.txt
  interface/MD_texticons.gfx
Due: none

Restore the rescue-a-captured-general raid
  Changelog.txt
  common/raids/land_infiltration_raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop the Iraqi civil war GUI firing events at every country (#4336)
  Changelog.txt
  common/scripted_guis/99_IRQ_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use the suggested generic templates for UMM and UAVision
  common/military_industrial_organization/organizations/MD_POR_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Guard five divide-by-zero sites in recurring calculations (#4382)
  Changelog.txt
  common/scripted_effects/99_BRA_scripted_effects.txt
  common/scripted_effects/99_PER_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Thailand red-road election logic
  common/decisions/Thailand.txt
  common/national_focus/05_thailand.txt
  common/on_actions/99_SIA_on_actions.txt
  common/scripted_effects/SIA_thailand_effects.txt
  common/scripted_triggers/SIA_thailand_triggers.txt
  localisation/english/MD_focus_SIA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Put the restored raid in an existing MD raid category
  common/raids/land_infiltration_raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gate Prince's Lodge Plantation behind the productivity commission, keep full conglomerate opinion on the halved collapse path and add the expenditure filter to Made Smarter
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use tabs for indentation in the restored raid
  common/raids/land_infiltration_raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_tank_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Ukraine to the custom MIO catalog system
  Changelog.txt
  common/scripted_triggers/00_mio_generic_gap_triggers.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  history/countries/UKR - Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

GFX
  Changelog.txt
  gfx/interface/counters/divisions_large/inf_hvy_mot.dds
  gfx/interface/counters/divisions_small/onmap_unit_inf_hvy_mot_bat_icon.dds
  interface/subuniticons.gfx
Due: none

design changes
  history/countries/IRE - Ireland.txt
  history/countries/IRQ - Iraq.txt
  history/countries/ISR - Israel.txt
  history/countries/ITA - Italy.txt
  history/countries/JAP - Japan.txt
  history/countries/KOR - Korea.txt
  history/countries/MEX - Mexico.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Japan's private investment focus granting no demand recovery (#4385)
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Share USA starting equipment variants with breakaways
  common/scripted_effects/99_USA_main_scripted_effects.txt
  history/countries/ASK - Alaska.txt
  history/countries/CAL - California.txt
  history/countries/CAS - Cascadia.txt
  history/countries/CSA - Confederate States.txt
  history/countries/FLA - Florida.txt
  history/countries/GLC - Great Lakes Confederation.txt
  history/countries/HWI - Hawaii.txt
  history/countries/IDH - Idaho.txt
  history/countries/KAN - Kansas.txt
  history/countries/LKT - Lakota.txt
  history/countries/NEN - New England.txt
  history/countries/NYK - New York.txt
  history/countries/PTR - Puerto Rico.txt
  history/countries/TEX - Texas.txt
  history/countries/UDT - Union of Deseret.txt
  history/countries/USA - USA.txt
  history/countries/USB - Free States of America.txt
  history/countries/WVA - West Virginia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix SAR integration focuses leaving the states occupied (#4379)
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Ukraine to the custom MIO catalog system (#4395)
  Changelog.txt
  common/scripted_triggers/00_mio_generic_gap_triggers.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  history/countries/UKR - Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix the Combined Economic System gate for five rulings (#4366)
  common/national_focus/05_russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Rework the UK economy focus paths (#4358)
  Changelog.txt
  common/ai_strategy_plans/ENG_strategy_plans.txt
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Type 10 Bug Fix
  Changelog.txt
  common/national_focus/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

save
  history/countries/SOV - Russia.txt
  history/units/AZE_2000_naval_mtg.txt
  history/units/BUL_2000_naval_mtg.txt
  history/units/CUB_2000_naval_mtg.txt
  history/units/SOV_2000_naval_mtg.txt
  history/units/SYR_2000_naval_mtg.txt
  history/units/UKR_2000_naval_mtg.txt
  history/units/VIE_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Let Iraq see The Arab Unification decisions
  common/decisions/categories/different_country_flags.txt
  history/countries/IRQ - Iraq.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Document the Iraq UAR tab fix in the changelog
  Changelog.txt
Due: none

Fix Russia's Outdated Army, Air Force and Plundered Navy spirits being invisible (#4363)
  common/ideas/Russian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gate the USoE AI strategy on the cosmetic tag, not the EUU tag
  common/ai_strategy/EUU.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
