Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Operation Olive Branch
  common/country_tag_aliases/tag_aliases.txt
  common/decisions/Turkey.txt
  common/national_focus/05_turkey.txt
  common/scripted_effects/99_TUR_scripted_effects.txt
  events/Turkey.txt
  gfx/leaders/TUR/yasar_buyuk.dds
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_techs_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

works
  common/ai_strategy/FRA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update FRA_strategy_plans.txt
  common/ai_strategy_plans/FRA_strategy_plans.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update France.txt
  common/decisions/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 00_game_rules.txt
  common/game_rules/00_game_rules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_france.txt
  common/ideas/05_france.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed findings
  .claude/agents/tools-reviewer.md
  .claude/docs/validation-pipeline.md
  .github/workflows/tools-validation.yml
  common/ideas/05_united_kingdom.txt
  common/ideas/Armenian.txt
  common/ideas/Bolivian.txt
  common/ideas/Singapore.txt
  common/ideas/Subject_Russia.txt
  common/ideas/estonia.txt
  common/ideas/generic_ideas.txt
  common/ideas/zz_power_ranking.txt
  interface/MD_ideas.gfx
  tools/validation/README.md
  tools/validation/run_all_validators.py
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_ideas_icons_test.py
  tools/validation/validate_ideas.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add missing province to provincial building construction (#3068)
  common/decisions/Indonesia.txt
  common/decisions/Turkey.txt
  common/decisions/netherlands.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_china.txt
  common/national_focus/05_indonesia.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_republic_of_lakota.txt
  common/national_focus/05_spain.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_switzerland.txt
  common/national_focus/Hezbollah.txt
  common/national_focus/denmark.txt
  common/national_focus/hongkong.txt
  common/national_focus/norway.txt
  common/national_focus/turkey.txt
  events/05_china.txt
  events/05_netherlands.txt
  tools/linting/check_common_mistakes.py
  tools/linting/tests/check_common_mistakes_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Overhaul the Belt and Road Initiative mechanic
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

resolves #3032, resolves #3027, resolves #3033, resolves #3034, resolves #3036, resolves #3048, resolves #3041, resolves #3045, resolves #3047, resolves #3050, resolves #3039
  common/decisions/Gulf.txt
  common/decisions/Thailand.txt
  common/ideas/zzz_air_spirits.txt
  common/ideas/zzz_navy_spirits.txt
  common/national_focus/05_afghanistan.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_switzerland.txt
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
  common/scripted_effects/!_cwtools_dummy_effects.txt
  common/scripted_effects/99_investment_scripted_effects.txt
  common/scripted_guis/01_investment_scripted_gui.txt
  common/scripted_localisation/00_investment_scripted_localisation.txt
  common/scripted_triggers/00_MD_politicsview_scripted_triggers.txt
  common/scripted_triggers/00_investment_scripted_triggers.txt
  common/technologies/naval_modules.txt
  events/05_netherlands.txt
  events/05_switzerland_events.txt
  events/Georgia.txt
  events/Gulf.txt
  events/Hezbollah.txt
  events/Kurdistan.txt
  events/Somalia.txt
  history/countries/CBD - Cambodia.txt
  history/countries/SIA - Thailand.txt
  history/units/CZE_2000_nonnsb.txt
  history/units/SHB_ICU_2006.txt
  history/units/USA_2000_nonnsb.txt
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing validator
  history/countries/DEN - Denmark.txt
  history/countries/POL - Poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Simplify BRI lifecycle and target evaluation
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix BRI presence modifier precision
  common/scripted_effects/05_CHI_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing error log, and updating planes
  common/national_focus/05_netherlands.txt
  common/on_actions/00_on_actions.txt
  common/units/equipment/MD_plane_airframes.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing more errors
  common/military_industrial_organization/ai_bonus_weights/ai_bonus_weights.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reduce BRI recurring script work
  common/scripted_effects/05_CHI_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing the one birb issue
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More Bugfixing (#3073)
  common/decisions/Gulf.txt
  common/decisions/Thailand.txt
  common/ideas/zzz_air_spirits.txt
  common/ideas/zzz_navy_spirits.txt
  common/military_industrial_organization/ai_bonus_weights/ai_bonus_weights.txt
  common/national_focus/05_afghanistan.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_switzerland.txt
  common/on_actions/00_on_actions.txt
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
  common/scripted_effects/!_cwtools_dummy_effects.txt
  common/scripted_effects/99_investment_scripted_effects.txt
  common/scripted_guis/01_investment_scripted_gui.txt
  common/scripted_localisation/00_investment_scripted_localisation.txt
  common/scripted_triggers/00_MD_politicsview_scripted_triggers.txt
  common/scripted_triggers/00_investment_scripted_triggers.txt
  common/technologies/naval_modules.txt
  common/units/equipment/MD_plane_airframes.txt
  events/05_netherlands.txt
  events/05_switzerland_events.txt
  events/Georgia.txt
  events/Gulf.txt
  events/Hezbollah.txt
  events/Kurdistan.txt
  events/Somalia.txt
  history/countries/CBD - Cambodia.txt
  history/countries/DEN - Denmark.txt
  history/countries/POL - Poland.txt
  history/countries/SIA - Thailand.txt
  history/units/CZE_2000_nonnsb.txt
  history/units/SHB_ICU_2006.txt
  history/units/USA_2000_nonnsb.txt
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/simp_chinese/MD_autonomy_l_simp_chinese.yml
  localisation/simp_chinese/MD_doctrines_ncns_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ALG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CZE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_FIJ_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_GRE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_JAP_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_NIG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_POL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SER_VOJ_MNT_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SIA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_USB_l_simp_chinese.yml
  localisation/simp_chinese/MD_mio_l_simp_chinese.yml
  localisation/simp_chinese/MD_techs_l_simp_chinese.yml
Due: none

Collect more live GFX refs in the unused-sprite check
  .claude/docs/validation-pipeline.md
  tools/validation/tests/gfx_case_and_duplicate_test.py
  tools/validation/tests/gfx_gui_ref_parse_test.py
  tools/validation/validate_gfx_references.py
Due: none

FRA: rework AI path game rules and add presidential succession events
  common/decisions/categories/99_FRA_decision_categories.txt
  common/national_focus/05_france.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_FRA_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

FRA: drop PP maluses and redundant bankruptcy guard
  common/national_focus/05_france.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix PHI error.log entries: vanilla ideas leak and unbacked OOB
  common/ideas/05_philippines.txt
  history/countries/PHI - Philippines.txt
  history/units/PHI_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize PHI decisions, categories, characters and events
  common/characters/PHI.txt
  common/decisions/99_PHI_decisions.txt
  common/decisions/categories/99_PHI_decision_categories.txt
  events/Philippines.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop tools/ from writing CRLF into mod files on Windows
  .editorconfig
  .gitattributes
  .vscode/hoi4_millennium_dawn.code-workspace
  AGENTS.md
  tools/analysis/_reference_finder.py
  tools/analysis/tick_audit.py
  tools/assets/find_duplicate_textures.py
  tools/baseline_check.py
  tools/cleanup_effect_tooltip.py
  tools/cleanup_or.py
  tools/generate_validation_report.py
  tools/generators/generate_tribute_ideas.py
  tools/linting/fix_styling.py
  tools/loc.py
  tools/logging_tool.py
  tools/publishing/publish_workshop.py
  tools/report_lib/baseline.py
  tools/report_lib/tests/baseline_check_test.py
  tools/shared_utils.py
  tools/standardization/common_utils.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/standardize_ideas.py
  tools/standardization/standardize_localisation.py
  tools/sync_dynamic_tokens.py
  tools/tests/text_write_newline_test.py
  tools/validation/disk_cache.py
  tools/validation/refresh_vanilla_data.py
  tools/validation/run_all_validators.py
  tools/validation/validate_decisions.py
  tools/validation/validator_common.py
Due: none

FRA: rewrite economic branch localisation with real-world anchors
  localisation/english/MD_focus_FRA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

small fixes
  common/national_focus/05_france.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

FRA: realign chief and high command advisor slots
  common/characters/FRA.txt
  common/national_focus/05_france.txt
  history/countries/FRA - France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

FRA: add party platform ideas, fix duplicate event 509, add missing focus tooltips
  common/ideas/05_france.txt
  common/national_focus/05_france.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

FRA: swap energy idea at capstone, fix treasury_change placement
  common/ideas/05_france.txt
  common/national_focus/05_france.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more stuff
  common/decisions/Turkey.txt
  common/dynamic_modifiers/99_TUR_dynamic_modifiers.txt
  common/national_focus/05_turkey.txt
  common/scripted_effects/99_TUR_scripted_effects.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

FRA: rework economic branch onto FRA_econ_policy, fix reward/loc mismatches
  common/dynamic_modifiers/99_FRA_dynamic_modifiers.txt
  common/ideas/05_france.txt
  common/national_focus/05_france.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_mio_l_english.yml
  localisation/english/MD_mio_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update 05_france.txt
  common/national_focus/05_france.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

yes
  common/decisions/Turkey.txt
  common/national_focus/05_turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

changes
  common/scripted_guis/01_expected_spending.txt
  common/scripted_localisation/00_protests_scripted_localisation.txt
  interface/MD_protests_system.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

CHI: rebalance focus tree costs onto a 5-tier rubric
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
