Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

skyfore included
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_UKR_organizations.txt
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  gfx/interface/ideas/companies/Ukraine/KhTZ.dds
  gfx/interface/ideas/companies/Ukraine/KrAZ.dds
  gfx/interface/ideas/companies/Ukraine/Kyiv_Plant.dds
  gfx/interface/ideas/companies/Ukraine/LDARZ.dds
  gfx/interface/ideas/companies/Ukraine/Luch.dds
  gfx/interface/ideas/companies/Ukraine/MigRemont.dds
  gfx/interface/ideas/companies/Ukraine/More_Shipyard.dds
  gfx/interface/ideas/companies/Ukraine/Mykolayiv_Plant.dds
  gfx/interface/ideas/companies/Ukraine/Mykolayiv_Shipyard.dds
  gfx/interface/ideas/companies/Ukraine/NARP.dds
  gfx/interface/ideas/companies/Ukraine/Praktyka.dds
  gfx/interface/ideas/companies/Ukraine/Zhytomyr_Plant.dds
  gfx/interface/ideas/companies/Ukraine/fire_point.dds
Due: none

Mio changes
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  gfx/interface/ideas/companies/Ukraine/pivdenne.dds
  interface/MD_ideas.gfx
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

delete the unused icons
  gfx/interface/ideas/companies/Ukraine/Nikolayev.dds
Due: none

delete the wrong placed icon
  gfx/interface/ideas/companies/NARP.dds
Due: none

delete the wrong placed icon
  gfx/interface/ideas/companies/Luch.dds
Due: none

delete the wrong placed icon2
  gfx/interface/ideas/companies/fire_point.dds
Due: none

double usa tag fix
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

delete the wrong placed icon
  gfx/interface/ideas/companies/Mykolayiv_Plant.dds
Due: none

Pivdenne Modifier fix
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  common/technologies/custom_tech.txt
  localisation/english/MD_defence_companies_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardizer
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

delete the wrong placed icon
  gfx/interface/ideas/companies/MigRemont.dds
Due: none

Ukr mios (#2780)
  .claude/docs/md-custom-modifiers.md
  common/decisions/Ukraine.txt
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
  common/modifier_definitions/missile_modifier_definitions.txt
  common/national_focus/05_ukraine.txt
  common/scripted_effects/00_missiles_models.txt
  common/scripted_effects/00_space_automation_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  common/technologies/custom_tech.txt
  common/technologies/space.txt
  gfx/interface/ideas/companies/Ukraine/61 Communards.dds
  gfx/interface/ideas/companies/Ukraine/Aviakon.dds
  gfx/interface/ideas/companies/Ukraine/Deviro.dds
  gfx/interface/ideas/companies/Ukraine/Fort.dds
  gfx/interface/ideas/companies/Ukraine/KBAO.dds
  gfx/interface/ideas/companies/Ukraine/KhTZ.dds
  gfx/interface/ideas/companies/Ukraine/KrAZ.dds
  gfx/interface/ideas/companies/Ukraine/Kyiv_Plant.dds
  gfx/interface/ideas/companies/Ukraine/LDARZ.dds
  gfx/interface/ideas/companies/Ukraine/Luch.dds
  gfx/interface/ideas/companies/Ukraine/MigRemont.dds
  gfx/interface/ideas/companies/Ukraine/More_Shipyard.dds
  gfx/interface/ideas/companies/Ukraine/Mykolayiv_Plant.dds
  gfx/interface/ideas/companies/Ukraine/Mykolayiv_Shipyard.dds
  gfx/interface/ideas/companies/Ukraine/NARP.dds
  gfx/interface/ideas/companies/Ukraine/Nikolayev.dds
  gfx/interface/ideas/companies/Ukraine/Praktyka.dds
  gfx/interface/ideas/companies/Ukraine/Zhytomyr_Plant.dds
  gfx/interface/ideas/companies/Ukraine/fire_point.dds
  gfx/interface/ideas/companies/Ukraine/pivdenne.dds
  interface/MD_ideas.gfx
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more satellite loc cutdowns
  common/scripted_localisation/01_missiles_scripted_localisation.txt
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Bug
  history/units/AST_2000_bba.txt
  history/units/CHI_2000_nsb.txt
  history/units/EST_2000_bba.txt
  history/units/MON_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the AI Bonus Weights - Closes #2796
  common/military_industrial_organization/ai_bonus_weights/ai_bonus_weights.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use Event Horizon mech models for Walker Tanks - Closes #2792
  gfx/entities/MD_HACS.asset
  gfx/entities/MD_HACS.gfx
  gfx/interface/equipmentdesigner/graphic_db/00_tank_icons.txt
  interface/subuniticons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Countering the Al-Manar
  Changelog.txt
  common/decisions/Hezbollah.txt
  common/decisions/categories/99_HEZ_decision_categories.txt
  common/ideas/Hezbollah.txt
  common/national_focus/Hezbollah.txt
  localisation/english/MD_focus_HEZ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Removed the redundant every_country setting values to 0
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

quick fix
  common/ideas/Hezbollah.txt
  common/national_focus/Hezbollah.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Hezbollah: Countering the Al-Manar (#2799)
  Changelog.txt
  common/decisions/Hezbollah.txt
  common/decisions/categories/99_HEZ_decision_categories.txt
  common/ideas/Hezbollah.txt
  common/national_focus/Hezbollah.txt
  localisation/english/MD_focus_HEZ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed more work
  common/special_projects/projects/zz_event_horizon_special_projects.txt
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_bra.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_chi.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_eng.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_fra.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_gah.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_ger.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_isr.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_ita.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_jap.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_pol.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery_usa.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_bra.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_chi.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_bra.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_chi.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_eng.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_fra.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_gah.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_ger.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_isr.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_ita.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_jap.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_pol.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer_usa.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_eng.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_fra.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_gah.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_ger.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_isr.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_ita.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_jap.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_pol.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_usa.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleanup Ansar Allah and streamlined some contents
  common/decisions/Iran.txt
  common/decisions/USA.txt
  common/decisions/categories/99_PER_decision_categories.txt
  common/national_focus/05_iran.txt
  common/on_actions/MD_event_on_actions.txt
  localisation/english/MD_focus_PER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more work on this
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/01_civil_war_effects.txt
  events/Ivory_Coast.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize civil war global flags
  common/achievements/MD_ribbons.txt
  common/decisions/Syria.txt
  common/decisions/War on Terror.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_libya.txt
  common/national_focus/05_syria.txt
  common/national_focus/france.txt
  common/on_actions/99_middle_east_on_actions.txt
  common/on_actions/MD_event_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/01_civil_war_effects.txt
  common/scripted_effects/99_LBA_scripted_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/00_arab_spring.txt
  events/Afghanistan.txt
  events/Central African Republic.txt
  events/France.txt
  events/Haiti.txt
  events/Ivory_Coast.txt
  events/Liberia.txt
  events/Mali.txt
  events/SalehEvents.txt
  events/Senegal.txt
  events/Sierra Leone.txt
  events/Somalia.txt
  events/Syria.txt
  localisation/english/MD_africa_events_l_english.yml
  localisation/english/MD_focus_SYR_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Migrate civil war cleanup to event hooks
  common/decisions/USA.txt
  common/national_focus/05_iran.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/99_LBA_on_actions.txt
  common/on_actions/99_SYR_on_actions.txt
  common/on_actions/MD_event_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/01_civil_war_effects.txt
  events/Mali.txt
  events/Senegal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  common/scripted_effects/01_civil_war_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added
  common/scripted_effects/01_civil_war_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Migrate civil war cleanups to event hooks (#2768)
  common/achievements/MD_ribbons.txt
  common/decisions/Iran.txt
  common/decisions/Syria.txt
  common/decisions/USA.txt
  common/decisions/War on Terror.txt
  common/decisions/categories/99_PER_decision_categories.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_libya.txt
  common/national_focus/05_syria.txt
  common/national_focus/france.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/99_LBA_on_actions.txt
  common/on_actions/99_SYR_on_actions.txt
  common/on_actions/99_middle_east_on_actions.txt
  common/on_actions/MD_event_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/01_civil_war_effects.txt
  common/scripted_effects/99_LBA_scripted_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/00_arab_spring.txt
  events/Afghanistan.txt
  events/Central African Republic.txt
  events/France.txt
  events/Haiti.txt
  events/Ivory_Coast.txt
  events/Liberia.txt
  events/Mali.txt
  events/SalehEvents.txt
  events/Senegal.txt
  events/Sierra Leone.txt
  events/Somalia.txt
  events/Syria.txt
  localisation/english/MD_africa_events_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_SYR_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_regimental_support.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Military Rule Branch added.
  common/decisions/Saudi Arabia.txt
  common/decisions/categories/SAU_decision_categories.txt
  common/dynamic_modifiers/99_SAU_dynamic_modifiers.txt
  common/ideas/Saudi_Arabia.txt
  common/national_focus/sau_focus.txt
  common/on_actions/SAU_on_actions.txt
  common/scripted_effects/SAU_scripted_effects.txt
  common/scripted_localisation/SAU_scripted_localisation.txt
  events/SAU_events.txt
  localisation/english/SAU_focus_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update turkey.txt
  common/national_focus/turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Wagner button lost
  gfx/interface/decisions/chvk/w3rew3_button.dds
  gfx/interface/decisions/chvk/wag_button.dds
  gfx/interface/decisions/chvk/wde2_button.dds
  interface/MD_decisions.gfx
  interface/MD_international_screen.gfx
Due: none

Decisions for Each King
  common/decisions/Saudi Arabia.txt
  common/decisions/categories/SAU_decision_categories.txt
  common/ideas/Saudi_Arabia.txt
  common/scripted_effects/SAU_scripted_effects.txt
  events/SAU_events.txt
  history/countries/SAU - Saudi Arabia.txt
  localisation/english/SAU_focus_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fasial Ideology focuses without buffs
  common/national_focus/sau_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Isolationist Vs Interventionist Mechanic
  common/decisions/Saudi Arabia.txt
  common/decisions/categories/SAU_decision_categories.txt
  common/ideas/Saudi_Arabia.txt
  common/national_focus/sau_focus.txt
  common/on_actions/SAU_on_actions.txt
  common/scripted_effects/SAU_scripted_effects.txt
  common/scripted_localisation/SAU_scripted_localisation.txt
  localisation/english/SAU_focus_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed the UAR induced crash - Closes #2779
  Changelog.txt
  common/autonomous_states/MD_colored_autonomies.txt
  common/autonomous_states/MD_default_autonomies.txt
  common/scripted_triggers/00_diplomacy_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
