Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Defensive blocking
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work on validations
  .github/workflows/coding-pipeline.yml
  common/ideas/Chinese.txt
  common/ideas/German.txt
  common/ideas/Syrian.txt
  common/national_focus/05_italy.txt
  events/EU_events.txt
  localisation/english/MD_focus_EU_l_english.yml
  tools/balance/set_energy_tech_scurves.py
  tools/linting/check_common_mistakes.py
  tools/validation/validate_modifiers.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Cleaned up some more issues with the system
  common/scripted_triggers/99_SWE_scripted_triggers.txt
  common/scripted_triggers/MD_missile_scripted_triggers.txt
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_scripted_diplomatic_actions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more work on validatiosn
  common/scripted_effects/00_scriptlanguage.txt
  common/scripted_localisation/01_market_scripted_localisation.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  localisation/english/MD_dynamic_scripting_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Energy GUI rework
  Changelog.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_MD_alert_scripted_effect.txt
  common/scripted_guis/00_MD_economyview_scripted_guis.txt
  common/scripted_guis/01_energy_gui.txt
  gfx/interface/md_divider_short.dds
  interface/MD_countryeconomyview.gui
  interface/MD_energy_scripted.gfx
  interface/MD_energy_scripted.gui
  localisation/english/0_energy_l_english.yml
  localisation/english/MD_country_economy_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed an excessive allowed trigger issue
  common/ai_strategy/Africa.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Simplify has_government ideology comparisons
  common/ai_strategy/CAN.txt
  common/continuous_focus/generic.txt
  common/decisions/Afghanistan.txt
  common/decisions/Argentina.txt
  common/decisions/Free_syrian_army.txt
  common/decisions/Political Desicions.txt
  common/decisions/Sudan.txt
  common/decisions/categories/99_FSA_decision_categories.txt
  common/doctrines/grand_doctrines/land_doctrine.txt
  common/national_focus/05_japan.txt
  common/national_focus/brazil.txt
  common/national_focus/china.txt
  common/national_focus/france.txt
  common/national_focus/libya.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_diplomatic_actions/02_ai_attach_diplomatic_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_effects/99_AI_influence_scripted_effects.txt
  common/scripted_guis/01_influence_scripted_guis.txt
  common/scripted_localisation/01_influence_scripted_localisation.txt
  common/scripted_triggers/00_influence_scripted_triggers.txt
  common/scripted_triggers/00_scripted_triggers.txt
  events/AfricanUnion.txt
  events/CSTO_system.txt
  events/Econ_events.txt
  events/Estonia.txt
  events/Generic.txt
  events/International Recognition.txt
  events/Iraq.txt
  events/Somalia.txt
  events/Syria.txt
  events/Taiwan.txt
  events/UN_Voting_Events.txt
  events/energy_events.txt
  events/investments_events.txt
  events/netherlands.txt
  localisation/english/replace/replaced_from_vanilla_triggers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix scope in make_puppet and diplomatic-action government checks
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_guis/01_influence_scripted_guis.txt
  common/scripted_localisation/01_influence_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Future Decks
  gfx/interface/technologies/0_modules/plane_builder/engines/engines_double_3.dds
  gfx/interface/technologies/0_modules/ship_builder/HELIDECK4.dds
  gfx/interface/technologies/0_modules/ship_builder/TLAND1.dds
  gfx/interface/technologies/0_modules/ship_builder/future_heli_deck_1.dds
  gfx/interface/technologies/0_modules/ship_builder/future_heli_deck_2.dds
  gfx/interface/technologies/0_modules/ship_builder/futuredeckXI.dds
  gfx/interface/technologies/0_modules/ship_builder/futuredeckXII.dds
  gfx/interface/technologies/0_modules/ship_builder/futuredeckXIII.dds
  gfx/interface/technologies/0_modules/ship_builder/futuredeckXIV.dds
  gfx/interface/technologies/0_modules/ship_builder/futuredeckXV.dds
  gfx/interface/technologies/TUR/LAND/APC5.dds
  gfx/interface/technologies/TUR/LAND/IFV5.dds
  gfx/interface/technologies/TUR/LAND/ParsXI.dds
  gfx/interface/technologies/TUR/LAND/ParsXIApc.dds
  gfx/interface/technologies/TUR/LAND/ParsXILT.dds
  gfx/interface/technologies/TUR/LAND/SahinLT.dds
  gfx/interface/technologies/TUR/LAND/SahinM.dds
  gfx/interface/technologies/TUR/LAND/SahinX.dds
  interface/equipmentdesignermoduleicons.gfx
Due: none

Add government-match enumeration detector to simplification validator
  .claude/docs/simplification-patterns.md
  tools/validation/tests/validate_simplifications_test.py
  tools/validation/validate_simplifications.py
Due: none

Harden government-match detector against extra-condition false positives
  tools/validation/tests/validate_simplifications_test.py
  tools/validation/validate_simplifications.py
Due: none

Parallelize commit-stage content validation into one hook
  .pre-commit-config.yaml
  tools/precommit_validate.py
  tools/tests/precommit_validate_test.py
  tools/validation/tests/config_drift_test.py
Due: none

Drop unused manual validator hooks already covered by CI
  .pre-commit-config.yaml
  tools/validation/tests/config_drift_test.py
Due: none

Update docs for the parallel dispatcher and removed manual hooks
  AGENTS.md
  docs/src/content/resources/developer-setup.md
  tools/README.md
  tools/validation/README.md
Due: none

Remove has_government government-match section from simplification docs
  .claude/docs/simplification-patterns.md
Due: none

Restore a streamlined government-match simplification doc
  .claude/docs/simplification-patterns.md
Due: none

more cleaneup
  localisation/english/0_energy_l_english.yml
  localisation/english/MD_focus_FSA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

FSA
  common/decisions/Free_syrian_army.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  tools/summarize_game_log.py
Due: none

Validation false positives, part 2 (#1813, #1812, #1804, #1803)
  common/decisions/Ethiopia.txt
  common/decisions/Turkey.txt
  common/national_focus/denmark.txt
  common/national_focus/sweden.txt
  events/Germany.txt
  tools/validation/validate_events.py
  tools/validation/validate_ideas.py
  tools/validation/validate_unused_scripted.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Synced more OOS tokens
  common/synchronized_dynamic_tokens/MD_tokens.txt
  tools/sync_dynamic_tokens.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Validation false positives, part 2 (#1813, #1812, #1804, #1803)
  common/decisions/Ethiopia.txt
  common/decisions/Turkey.txt
  common/national_focus/denmark.txt
  common/national_focus/sweden.txt
  events/Germany.txt
  events/Iran.txt
  events/Space_GFXlaunches.txt
  events/United States.txt
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  tools/validation/validate_events.py
  tools/validation/validate_ideas.py
  tools/validation/validate_unused_scripted.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/synchronized_dynamic_tokens/MD_tokens.txt
  interface/MD_auto_agency_queue.gui
  tools/sync_dynamic_tokens.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleanup more scripted GUi errors and warnings
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_guis/99_AFG scripted_gui.txt
  localisation/english/0_energy_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed
  common/scripted_effects/99_eu_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated CODEOWNERS
  CODEOWNERS
Due: none

changes
  common/decisions/Political Desicions.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_guis/00_MD_politicsview_scripted_guis.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  common/scripted_triggers/00_MD_politicsview_scripted_triggers.txt
  common/scripted_triggers/01_MD_party_action_triggers.txt
  gfx/FX/circularprogresschart.shader
  gfx/interface/politicsview/election_date_icon.dds
  interface/MD_countrypoliticsview.gfx
  interface/MD_countrypoliticsview.gui
  localisation/english/MD_countrypoliticsview_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

cleanup
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
  common/scripted_guis/00_MD_politicsview_scripted_guis.txt
  common/scripted_guis/01_subideology_scripted_guis.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  gfx/interface/SI_information_view_bg.dds
  gfx/interface/allow_party_button_inactive.dds
  gfx/interface/attack_party_button_inactive.dds
  gfx/interface/ban_party_button_inactive.dds
  gfx/interface/boost_party_button_inactive.dds
  gfx/interface/politicsview/SI_open_button.dds
  gfx/interface/politicsview/allow_party_button.dds
  gfx/interface/politicsview/approval_rating.dds
  gfx/interface/politicsview/attack_party_button.dds
  gfx/interface/politicsview/ban_party_button.dds
  gfx/interface/politicsview/boost_party_button.dds
  gfx/interface/politicsview/create_one_party_state.dds
  gfx/interface/politicsview/make_puppet_button.dds
  gfx/interface/politicsview/make_puppet_button_inactive.dds
  gfx/interface/politicsview/manage_exile_button.dds
  gfx/interface/politicsview/manage_occupied_button.dds
  gfx/interface/politicsview/manage_puppets_button.dds
  gfx/interface/politicsview/manipulate_politics_button.dds
  gfx/interface/politicsview/open_partyview_button.dds
  gfx/interface/politicsview/remove_one_party_state.dds
  interface/MD_countrypoliticsview.gfx
  interface/MD_countrypoliticsview.gui
  interface/MD_subideologies.gfx
  interface/MD_subideologies.gui
  interface/topbar.gui
  localisation/english/MD_politicsview_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

dirty variable implemented
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_guis/00_MD_politicsview_scripted_guis.txt
  gfx/interface/button_223x32.dds
  interface/MD_countrypoliticsview.gui
  interface/core.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Updated Masteries
  common/doctrines/grand_doctrines/land_doctrine.txt
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/subdoctrines/air/air.txt
  common/doctrines/subdoctrines/land/land_doctrines_combat.txt
  common/doctrines/subdoctrines/land/land_doctrines_dedicated.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/units/equipment/MD_infantry_equipment.txt
  localisation/english/MD_doctrines_ncns_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

New Allied Build BUildings
  common/buildings/00_buildings.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update land_equipment.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

spare checkout
  .github/workflows/docs-quality.yml
  .github/workflows/github-pages.yml
Due: none

docs: fix markdown lint issues in contributing and developer-setup
  docs/src/content/resources/contributing.md
  docs/src/content/resources/developer-setup.md
Due: none

docs: add bug-bot pages to OG image generation
  docs/src/shared/lib/seo/page-meta.ts
Due: none

fix(docs): remove bug-bot pages from bespoke routes so catch-all serves them
  docs/src/shared/lib/seo/og-pages.ts
  docs/src/shared/lib/seo/page-meta.ts
Due: none

Fixed more of the content herE
  .github/workflows/docs-quality.yml
  .github/workflows/github-pages.yml
  docs/CONTRIBUTING.md
  docs/src/styles/app.css
  docs/tailwind.config.mjs
Due: none
