Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

fixing the SC council idea to work with the UN stuff now
  common/ideas/Organizations.txt
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

econ event
  events/Econ_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

territorial disputes
  common/decisions/JAP.txt
  common/ideas/JAP.txt
  common/national_focus/05_japan.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

filter and adjustment
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/national_focus/05_japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

docs: translate contributing guidelines to English
  docs/CONTRIBUTING.md
Due: none

saving the work for the merge
  common/scripted_effects/00_ct_effects.txt
  events/Counter Terror.txt
  localisation/english/MD_War_on_terror_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Changelogeriono
  Changelog.txt
  common/technologies/cruise_missiles.txt
  common/technologies/non_got_missiles.txt
  common/units/equipment/MD_ballistic_missiles.txt
  common/units/equipment/MD_guided_missiles.txt
  common/units/equipment/MD_nuclear_missiles.txt
  common/units/equipment/MD_sam_missile.txt
  resources/InternetParty.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed ballistic missile one
  Changelog.txt
  common/technologies/cruise_missiles.txt
  common/technologies/non_got_missiles.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

all the rangeS
  common/units/equipment/MD_ballistic_missiles.txt
  common/units/equipment/MD_guided_missiles.txt
  common/units/equipment/MD_sam_missile.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: add remark plugins for country directives and root-relative URLs
  docs/astro.config.ts
  docs/scripts/migration/bootstrap_astro_content.py
  docs/src/components/Header.astro
  docs/src/components/SearchableIndex.astro
  docs/src/components/TocSidebar.astro
  docs/src/env.d.ts
  docs/src/layouts/BaseLayout.astro
  docs/src/layouts/CountryLayout.astro
  docs/src/lib/rehype-table-wrapper.ts
  docs/src/lib/remark-country-directives.ts
  docs/src/lib/remark-root-relative.ts
  docs/src/lib/shiki-hoiscript.ts
  docs/src/lib/toc.ts
  docs/src/pages/changelogs/[slug].astro
  docs/src/pages/countries/[slug].astro
  docs/src/pages/dev-diaries/[slug].astro
  docs/src/pages/dev-resources/[slug].astro
  docs/src/pages/faq/index.astro
  docs/src/pages/getting-started/index.astro
  docs/src/pages/misc/[slug].astro
  docs/src/pages/player-tutorials/[slug].astro
  docs/src/scripts/modules/changelog-index.js
  docs/src/scripts/modules/changelog-index.ts
  docs/src/scripts/modules/code-highlight.js
  docs/src/scripts/modules/header-nav.js
  docs/src/scripts/modules/header-nav.ts
  docs/src/scripts/modules/theme.js
  docs/src/scripts/modules/theme.ts
  docs/src/scripts/modules/toc/index.js
  docs/src/scripts/modules/toc/index.ts
  docs/src/scripts/modules/toc/render.js
  docs/src/scripts/modules/toc/render.ts
  docs/src/scripts/modules/toc/runtime.js
  docs/src/scripts/modules/toc/runtime.ts
  docs/src/scripts/modules/tokens.js
  docs/src/scripts/modules/tokens.ts
  docs/src/scripts/modules/ui-helpers.js
  docs/src/scripts/modules/ui-helpers.ts
  docs/src/scripts/site.js
Due: none

More fixes
  common/decisions/GER.txt
  common/units/equipment/MD_guided_missiles.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

missiles and changelogs
  Changelog.txt
Due: none

push to save progress
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chore: update dependencies and improve accessibility
  docs/package-lock.json
  docs/package.json
  docs/src/components/Breadcrumbs.astro
  docs/src/components/Footer.astro
  docs/src/components/Header.astro
  docs/src/components/ResponsiveImage.astro
  docs/src/content.config.ts
  docs/src/content/devDiaries/053-military-of-japan.md
  docs/src/layouts/BaseLayout.astro
  docs/src/pages/dev-diaries/index.astro
  docs/src/styles/app.css
Due: none

pushing more work to save it
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: enhance site functionality with structured data, improved navigation, and optimized assets
  docs/src/components/HeadSeo.astro
  docs/src/components/Header.astro
  docs/src/components/Hero.astro
  docs/src/components/SearchableIndex.astro
  docs/src/components/TocSidebar.astro
  docs/src/content.config.ts
  docs/src/layouts/BaseLayout.astro
  docs/src/scripts/modules/header-nav.ts
  docs/src/scripts/modules/toc/runtime.ts
  docs/src/scripts/modules/ui-helpers.ts
  docs/src/scripts/site.ts
  docs/tsconfig.json
Due: none

feat: implement theme preference management and dark mode toggle functionality
  docs/src/scripts/modules/theme.ts
  docs/src/scripts/site.ts
Due: none

pushing up even more saved work yo
  common/scripted_effects/00_ct_effects.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/International Recognition.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

savig push cause boutta make a bunchof changes and dont wanna lose the progress. save scumming, if you will
  common/opinion_modifiers/International Recognition.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/International Recognition.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

saving the progress made again in prepreation for cyberwarfare additions
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/International Recognition.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

saving the loc changes for review as part of the events
  events/International Recognition.txt
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

saving more progress
  common/ideas/Various.txt
  common/intelligence_agency_upgrades/intelligence_agency_upgrades.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/opinion_modifiers/International Recognition.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more cyberwarfare progress
  common/scripted_guis/00_missiles_scripted_guis.txt
  interface/MD_countrymissilesview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

pushing up the initial cyberwarfare progress
  common/scripted_guis/00_missiles_scripted_guis.txt
  interface/MD_countrymissilesview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

even more cyberwarfare expansion, working on fixing up the intel investment stuff
  common/intelligence_agency_upgrades/intelligence_agency_upgrades.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  localisation/english/replace/replaced_from_operatives_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

bugfixing for the branch
  common/on_actions/MD_on_actions.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

intel system setup finished
  common/intelligence_agency_upgrades/intelligence_agency_upgrades.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

last cyber push for the night
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adjustment
  common/decisions/JAP.txt
  common/decisions/categories/JAP_decision_categories.txt
  common/national_focus/05_japan.txt
  events/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Suff
  common/decisions/Political Desicions.txt
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/!_special_project_ideas.txt
  common/national_focus/05_japan.txt
  events/JAP.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Clean up
  common/scripted_effects/mdmosjap_JAP_scripted_effects.txt
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Refactor code structure for improved readability and maintainability
  .github/workflows/docs-quality.yml
  .github/workflows/github-pages.yml
  CONTRIBUTING.md
  docs/CONTRIBUTING.md
  docs/bun.lock
  docs/package-lock.json
  docs/package.json
  docs/src/content/pages/countries.md
Due: none

fix
  CONTRIBUTING.md
Due: none

ok it should work even like that
  CONTRIBUTING.md
Due: none

Removed the blankspace tt
  common/decisions/USA.txt
  common/national_focus/usa.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

intro focus tree setup
  common/dynamic_modifiers/GRN_dynamic_modifiers.txt
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/ideas/Algerian.txt
  common/national_focus/05_algeria.txt
  history/countries/ALG - Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

saving more progress!
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More resources
  common/ideas/Algerian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
