Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Soften rate protests and shorten the policy rate cooldown
  Changelog.txt
  common/scripted_effects/00_protests_effects.txt
  common/scripted_guis/00_MD_economyview_scripted_guis.txt
  localisation/english/MD_country_economy_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Flag unlocalised dynamic modifiers and localise Alstom rail industry (#5006)
  Changelog.txt
  localisation/english/MD_focus_FRA_l_english.yml
  tools/tests/validation/loc_integrity_checks_test.py
  tools/validation/validate_modifiers.py
Due: validate-localization-encoding, fix-localization-encoding

Keep the Forums tab current and show no sole leader on a tied track
  common/scripted_effects/01_econ_forum_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use the World Economic Forum logo for the Economic Forums tab icon
  gfx/interface/scripted_gui/missiles/ledger_icon_small_forums.dds
Due: none

Explain Dossiers in the Counter-Terror tab and the empty Dossiers screen
  Changelog.txt
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_targeted_operations_l_english.yml
  localisation/english/MD_targeted_operations_redesign_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Share the six-tab strip setup between the narrow-sprite tests
  tools/tests/add_international_system_test.py
Due: none

Drop the unread econ_forum_seat_0 state flag
  common/scripted_effects/01_econ_forum_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add a scaffolder for International Systems tabs (#5007)
  tools/README.md
  tools/generators/add_international_system.py
  tools/tests/add_international_system_test.py
Due: none

Standardize party localisation for EGY (#5004)
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/EGY_political_leaders.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/Egypt.txt
  localisation/english/MD_focus_EGY_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Point the Dossiers guide at the Cold filter and the Dossiers button
  Changelog.txt
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_targeted_operations_l_english.yml
  localisation/english/MD_targeted_operations_redesign_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

lower the collateral damage of mlrs modules
  common/units/equipment/modules/MD_arty_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add premade icons, image conversion and a strip preview to the tab scaffolder
  tools/README.md
  tools/generators/add_international_system.py
  tools/generators/international_system_art.py
  tools/tests/add_international_system_test.py
Due: none

MLRS module rebalance (#4979)
  common/units/equipment/modules/MD_arty_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use Image.Resampling.LANCZOS in the tab icon converter
  tools/generators/international_system_art.py
Due: none

Restore Dutch coalition focus progression (#4941)
  Changelog.txt
  common/scripted_effects/99_HOL_Scripted_Effects.txt
  events/05_netherlands.txt
  history/countries/HOL - Holland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Clarify AI vs player policy rate cooldown comment
  common/scripted_effects/00_economic_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Soften rate protests and shorten the policy rate cooldown (#5010)
  Changelog.txt
  common/scripted_effects/00_economic_effects.txt
  common/scripted_effects/00_protests_effects.txt
  common/scripted_guis/00_MD_economyview_scripted_guis.txt
  localisation/english/MD_country_economy_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

[AZE] Azerbaijan AI path game rule (#4988)
  Changelog.txt
  common/decisions/Azerbaijan.txt
  common/decisions/categories/99_AZE_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_azerbaijan.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_AZE_scripted_triggers.txt
  events/Azerbaijan.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  common/national_focus/05_belarus.txt
  localisation/english/MD_focus_BLR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Cap raid AA plane-loss multiplier and loss ratio
  Changelog.txt
  common/scripted_effects/00_raid_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Clamp raid aircraft losses to assigned wing size (#4942)
  Changelog.txt
  common/raids/air_raids.txt
  common/scripted_effects/00_raid_scripted_effects.txt
  localisation/english/MD_military_raids_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes
  Changelog.txt
  history/countries/SOV - Russia.txt
  history/units/NKO_2000_bba.txt
  history/units/SOV_2000_naval_mtg.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Bolivia AI path game rule
  Changelog.txt
  common/ai_strategy/BOL.txt
  common/decisions/Bolivia.txt
  common/decisions/categories/99_BOL_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_bolivia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_BOL_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Let Bolivia cure the Cochabamba crisis and ethnic divides
  common/national_focus/05_bolivia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize party localisation for FIJ
  Changelog.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/Fiji.txt
  localisation/english/MD_focus_FIJ_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

future of MD
  docs/src/content/devDiaries/061-the-future-of-md.mdx
Due: none

Dev Diary - Future of MD (#5016)
  docs/src/content/devDiaries/061-the-future-of-md.mdx
Due: none

Name every dynamic modifier and make missing names block
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/country_modifiers/02_PHI_corruption_modifiers.txt
  common/dynamic_modifiers/00_MD_dynamic_modifiers.txt
  common/dynamic_modifiers/99_CES_dynamic_modifiers.txt
  common/dynamic_modifiers/99_GER_dynamic_modifiers.txt
  common/dynamic_modifiers/99_KOS_dynamic_modifiers.txt
  common/dynamic_modifiers/99_PER_dynamic_modifiers.txt
  common/dynamic_modifiers/99_PHI_dynamic_modifiers.txt
  common/dynamic_modifiers/99_SOO_dynamic_modifiers.txt
  common/dynamic_modifiers/PHI_dynamic_modifiers.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_EU_POTEF_l_english.yml
  localisation/english/MD_focus_ITA_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
  localisation/english/MD_internal_factions_l_english.yml
  tools/tests/validation/loc_integrity_checks_test.py
  tools/validation/validate_modifiers.py
  tools/validation/validator_common.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Handle invalid custom tab icons and correct reuse wording
  tools/README.md
  tools/generators/add_international_system.py
  tools/generators/international_system_art.py
  tools/tests/add_international_system_test.py
Due: none

Tooltip the CZE_SLO NATO bypass and gate the scripted-trigger tooltip check
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/national_focus/06_czehcoslavakia_shared.txt
  localisation/english/MD_focus_CZE_l_english.yml
  tools/tests/validation/untooltipped_available_scripted_trigger_test.py
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Replace the last IRQ and SYR focus-set flags with has_completed_focus
  Changelog.txt
  common/ai_strategy/PER.txt
  common/characters/IRQ.txt
  common/decisions/Iraq.txt
  common/decisions/categories/99_IRQ_decision_categories.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_syria.txt
  common/on_actions/99_IRQ_on_actions.txt
  common/scripted_effects/99_IRQ_scripted_effects.txt
  common/scripted_effects/IRQ_political_leaders.txt
  events/Iraq.txt
  localisation/english/MD_focus_IRQ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Replace the FSA election focus flags with has_completed_focus
  common/national_focus/05_free_states_of_america.txt
  localisation/english/MD_focus_USB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Replace the FSA election focus flags with has_completed_focus (#5021)
  common/national_focus/05_free_states_of_america.txt
  localisation/english/MD_focus_USB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Tooltip the CZE_SLO NATO bypass and gate the scripted-trigger tooltip check (#5019)
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/national_focus/06_czehcoslavakia_shared.txt
  localisation/english/MD_focus_CZE_l_english.yml
  tools/tests/validation/untooltipped_available_scripted_trigger_test.py
  tools/validation/validate_variables.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Replace the last IRQ and SYR focus-set flags with has_completed_focus (#5020)
  Changelog.txt
  common/ai_strategy/PER.txt
  common/characters/IRQ.txt
  common/decisions/Iraq.txt
  common/decisions/categories/99_IRQ_decision_categories.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_syria.txt
  common/on_actions/99_IRQ_on_actions.txt
  common/scripted_effects/99_IRQ_scripted_effects.txt
  common/scripted_effects/IRQ_political_leaders.txt
  events/Iraq.txt
  localisation/english/MD_focus_IRQ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Name every dynamic modifier and make missing names block (#5017)
  .claude/docs/validation-pipeline.md
  Changelog.txt
  common/country_modifiers/02_PHI_corruption_modifiers.txt
  common/dynamic_modifiers/00_MD_dynamic_modifiers.txt
  common/dynamic_modifiers/99_CES_dynamic_modifiers.txt
  common/dynamic_modifiers/99_GER_dynamic_modifiers.txt
  common/dynamic_modifiers/99_KOS_dynamic_modifiers.txt
  common/dynamic_modifiers/99_PER_dynamic_modifiers.txt
  common/dynamic_modifiers/99_PHI_dynamic_modifiers.txt
  common/dynamic_modifiers/99_SOO_dynamic_modifiers.txt
  common/dynamic_modifiers/PHI_dynamic_modifiers.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_EU_POTEF_l_english.yml
  localisation/english/MD_focus_ITA_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
  localisation/english/MD_internal_factions_l_english.yml
  tools/tests/validation/loc_integrity_checks_test.py
  tools/validation/validate_modifiers.py
  tools/validation/validator_common.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
