Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Fix scripted parameter scope tracking
  tools/validation/tests/validate_scripted_params_test.py
  tools/validation/validate_scripted_params.py
Due: none

Format scripted parameter validation
  tools/validation/validate_scripted_params.py
Due: none

Scan every script tree for scripted effect callers
  .github/workflows/coding-pipeline.yml
  .github/workflows/tools-validation.yml
  tools/validate_staged.py
  tools/validation/README.md
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_scripted_params_test.py
  tools/validation/validate_scripted_params.py
Due: none

Make puppets actually adopt the overlord's ideology (#3223)
  .github/workflows/coding-pipeline.yml
  .github/workflows/tools-validation.yml
  common/national_focus/turkey.txt
  common/on_actions/01_tfv_on_actions.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_guis/01_influence_scripted_guis.txt
  tools/validate_staged.py
  tools/validation/README.md
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_scripted_params_test.py
  tools/validation/validate_scripted_params.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reworked the jobs branch into Corporate and Labour Policy
  common/decisions/Saudi Arabia.txt
  common/dynamic_modifiers/99_SAU_dynamic_modifiers.txt
  common/ideas/saudi_arabia.txt
  common/national_focus/sau_focus.txt
  common/scripted_effects/SAU_scripted_effects.txt
  events/SAU_events.txt
  history/countries/SAU - Saudi Arabia.txt
  localisation/english/MD_focus_SAU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_focus_SAU_l_english.yml
  localisation/english/MD_focus_SAU_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Deduplicate budget law availability guards
  common/ideas/AA_law_budget.txt
  common/scripted_triggers/00_law_blocking_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Clear scripting validation warnings
  common/scripted_effects/00_budget_effects.txt
  events/Russia.txt
  events/Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Replace placeholder idea icons
  common/ideas/05_Australia.txt
  common/ideas/05_china.txt
  common/ideas/05_philippines.txt
  common/ideas/Belarusian.txt
  common/ideas/Comorosian.txt
  common/ideas/EU_USoE_ideas.txt
  common/ideas/Factions.txt
  common/ideas/Finnish.txt
  common/ideas/Georgian.txt
  common/ideas/Iranian.txt
  common/ideas/Israeli.txt
  common/ideas/Italian.txt
  common/ideas/Libyan.txt
  common/ideas/Polish.txt
  common/ideas/SanMarino.txt
  common/ideas/Subject_Russia.txt
  common/ideas/Swedish.txt
  common/ideas/arab_spirits.txt
  common/ideas/czech_republic.txt
  common/ideas/estonia.txt
  common/ideas/hong_kong.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Address adversarial review findings
  common/ideas/05_Australia.txt
  common/ideas/05_china.txt
  common/ideas/05_philippines.txt
  common/ideas/AA_law_military_ideas.txt
  common/ideas/Belarusian.txt
  common/ideas/Comorosian.txt
  common/ideas/EU_USoE_ideas.txt
  common/ideas/Factions.txt
  common/ideas/Finnish.txt
  common/ideas/Georgian.txt
  common/ideas/Iranian.txt
  common/ideas/Israeli.txt
  common/ideas/Italian.txt
  common/ideas/Libyan.txt
  common/ideas/Polish.txt
  common/ideas/SanMarino.txt
  common/ideas/Subject_Russia.txt
  common/ideas/Swedish.txt
  common/ideas/arab_spirits.txt
  common/ideas/czech_republic.txt
  common/ideas/estonia.txt
  common/ideas/hong_kong.txt
  common/scripted_triggers/00_law_blocking_triggers.txt
  events/Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes water crisis
  common/decisions/Saudi Arabia.txt
  common/ideas/saudi_arabia.txt
  common/national_focus/sau_focus.txt
  common/on_actions/SAU_on_actions.txt
  common/scripted_effects/SAU_scripted_effects.txt
  events/SAU_events.txt
  localisation/english/MD_focus_SAU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add the TSMC and Taiwanese PC industry corporate histories (#3214)
  common/ideas/05_taiwan.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_TAI_scripted_effects.txt
  common/scripted_triggers/99_TAI_scripted_triggers.txt
  events/Taiwan.txt
  localisation/english/MD_focus_TAI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Deduplicate budget law availability guards (#3225)
  common/ideas/05_Australia.txt
  common/ideas/05_china.txt
  common/ideas/05_philippines.txt
  common/ideas/AA_law_budget.txt
  common/ideas/AA_law_military_ideas.txt
  common/ideas/Belarusian.txt
  common/ideas/Comorosian.txt
  common/ideas/EU_USoE_ideas.txt
  common/ideas/Factions.txt
  common/ideas/Finnish.txt
  common/ideas/Georgian.txt
  common/ideas/Iranian.txt
  common/ideas/Israeli.txt
  common/ideas/Italian.txt
  common/ideas/Libyan.txt
  common/ideas/Polish.txt
  common/ideas/SanMarino.txt
  common/ideas/Subject_Russia.txt
  common/ideas/Swedish.txt
  common/ideas/arab_spirits.txt
  common/ideas/czech_republic.txt
  common/ideas/estonia.txt
  common/ideas/hong_kong.txt
  common/scripted_effects/00_budget_effects.txt
  common/scripted_triggers/00_law_blocking_triggers.txt
  events/Russia.txt
  events/Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Retire the corpus-walking scripted param caller guard
  .github/workflows/tools-validation.yml
  tools/validate_staged.py
  tools/validation/tests/config_drift_test.py
Due: none

Give Taiwan a lever to cut off American chip access
  common/decisions/taiwan.txt
  common/dynamic_modifiers/00_MD_dynamic_modifiers.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_TAI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix: add missing state decisions
  .gitignore
  Changelog.txt
  common/decisions/Canada.txt
  localisation/english/MD_focus_CAN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix the review findings on the gate sweep
  common/dynamic_modifiers/99_SOV_dynamic_modifiers.txt
  common/national_focus/05_bashkiriya.txt
  tools/standardization/README.md
  tools/standardization/common_utils.py
  tools/standardization/strip_dynmod_tag_gates.py
  tools/standardization/strip_idea_allowed_gates.py
  tools/standardization/tests/strip_dynmod_tag_gates_test.py
  tools/standardization/tests/strip_idea_allowed_gates_test.py
  tools/validation/tests/validate_ideas_slotless_allowed_test.py
  tools/validation/tests/validate_ideas_tag_test.py
  tools/validation/tests/validate_modifiers_enable_test.py
  tools/validation/validate_ideas.py
  tools/validation/validate_modifiers.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop the AI reopening chip exports the moment it closes them
  common/decisions/taiwan.txt
  localisation/english/MD_decisions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Retire the corpus-walking scripted param caller guard (#3229)
  .github/workflows/tools-validation.yml
  tools/validate_staged.py
  tools/validation/tests/config_drift_test.py
Due: none

renamed a flag containing a slur
  common/decisions/Canada.txt
  events/Canada.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_CHE_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_traits_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Make redundant gate checks enforceable
  .github/workflows/coding-pipeline.yml
  .github/workflows/tools-validation.yml
  tools/precommit_validate.py
  tools/standardization/common_utils.py
  tools/standardization/strip_dynmod_tag_gates.py
  tools/standardization/strip_idea_allowed_gates.py
  tools/tests/precommit_validate_test.py
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_ideas_icons_test.py
  tools/validation/tests/validate_ideas_slotless_allowed_test.py
  tools/validation/tests/validate_ideas_tag_test.py
  tools/validation/tests/validate_modifiers_enable_test.py
  tools/validation/validate_ideas.py
  tools/validation/validate_modifiers.py
Due: none

Apply formatter output to config drift tests
  tools/validation/tests/config_drift_test.py
Due: none

Link TSMC's growth to Taiwanese and American resource trade (#3227)
  common/decisions/taiwan.txt
  common/dynamic_modifiers/00_MD_dynamic_modifiers.txt
  common/military_industrial_organization/organizations/MD_TAI_organizations.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_TAI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix missing Canadian infrastructure decisions (#3232)
  .gitignore
  Changelog.txt
  common/decisions/Canada.txt
  events/Canada.txt
  localisation/english/MD_focus_CAN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix the review findings on the redundant gate sweep
  .claude/docs/validation-pipeline.md
  common/dynamic_modifiers/README.md
  common/national_focus/05_bashkiriya.txt
  tools/shared_utils.py
  tools/standardization/common_utils.py
  tools/standardization/strip_dynmod_tag_gates.py
  tools/standardization/strip_idea_allowed_gates.py
  tools/standardization/tests/common_utils_braces_test.py
  tools/standardization/tests/strip_dynmod_tag_gates_test.py
  tools/standardization/tests/strip_idea_allowed_gates_test.py
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/validate_ideas_icons_test.py
  tools/validation/tests/validate_ideas_slotless_allowed_test.py
  tools/validation/tests/validate_ideas_tag_test.py
  tools/validation/tests/validate_modifiers_enable_test.py
  tools/validation/validate_ideas.py
  tools/validation/validate_modifiers.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  tools/standardization/strip_dynmod_tag_gates.py
  tools/standardization/strip_idea_allowed_gates.py
Due: none

Drop the leftover TSMC USA tag and jscpd clones
  common/dynamic_modifiers/00_MD_dynamic_modifiers.txt
  tools/standardization/strip_idea_allowed_gates.py
  tools/standardization/tests/strip_dynmod_tag_gates_test.py
  tools/standardization/tests/strip_idea_allowed_gates_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  tools/standardization/strip_idea_allowed_gates.py
Due: none

Stop poor nations locking to minimum spending desire
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_desired_law_calculations.txt
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Drop the single-value lookup table from the economy-size tier
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fold the duplicated law-desire offset reset into one effect
  common/scripted_effects/00_desired_law_calculations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

deal tooltips, scope fixes, GIP rework, restored loc
  common/decisions/Saudi Arabia.txt
  common/national_focus/sau_focus.txt
  events/SAU_events.txt
  localisation/english/MD_focus_SAU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Stop poor nations locking to minimum spending desire (#3236)
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_desired_law_calculations.txt
  common/scripted_effects/00_expected_spending_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

GIP Agnecy Fix
  common/decisions/Saudi Arabia.txt
  common/dynamic_modifiers/99_SAU_dynamic_modifiers.txt
  common/national_focus/sau_focus.txt
  localisation/english/MD_focus_SAU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

GIP spirit, Council Works fixes, missing expense loc
  common/decisions/Saudi Arabia.txt
  common/dynamic_modifiers/99_SAU_dynamic_modifiers.txt
  common/ideas/saudi_arabia.txt
  common/national_focus/sau_focus.txt
  common/scripted_effects/SAU_scripted_effects.txt
  events/SAU_events.txt
  localisation/english/MD_focus_SAU_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add the E3 corporate history for the United States
  common/ideas/united_states.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra erasing old stuff
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
