Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Test Description Change "Revitalising The Government"
  localisation/english/MD_focus_POL_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/russian/0_energy_l_russian.yml
  localisation/russian/EP_l_russian.yml
  localisation/russian/MD_defence_companies_l_russian.yml
  localisation/russian/MD_focus_BOL_l_russian.yml
  localisation/russian/MD_focus_EU_l_russian.yml
  localisation/russian/MD_focus_GCC_l_russian.yml
  localisation/russian/MD_focus_GEO_l_russian.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/russian/MD_focus_HOL_l_russian.yml
  localisation/russian/MD_focus_ITA_l_russian.yml
  localisation/russian/MD_focus_KOR_l_russian.yml
  localisation/russian/MD_focus_KOR_unified_l_russian.yml
  localisation/russian/MD_focus_NKO_l_russian.yml
  localisation/russian/MD_focus_SIN_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_focus_UKR_l_russian.yml
  localisation/russian/MD_investments_l_russian.yml
  localisation/russian/MD_laws_l_russian.yml
  localisation/russian/MD_mio_l_russian.yml
  localisation/russian/MD_money_l_russian.yml
  localisation/russian/MD_subideology_parties_l_russian.yml
  localisation/russian/MD_techs_l_russian.yml
  localisation/russian/MD_traits_l_russian.yml
  localisation/russian/equipment_l_russian.yml
  localisation/russian/replace/replaced_from_vanilla_buildings_l_russian.yml
Due: none

Regular update
  localisation/simp_chinese/MD_focus_AFG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CUB_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_HOL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_IRQ_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_PER_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_RAJ_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SOV_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SWE_l_simp_chinese.yml
  localisation/simp_chinese/MD_map_modes_l_simp_chinese.yml
  localisation/simp_chinese/MD_mio_l_simp_chinese.yml
  localisation/simp_chinese/MD_money_l_simp_chinese.yml
Due: none

USA QoL
  common/national_focus/usa.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

space program + intervention shit in focus with idea and loc
  common/dynamic_modifiers/ALG_dynamic_modifiers.txt
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
  history/countries/ALG - Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Enhance Venezuela's national focus tree and state resources
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
  history/states/876-Orinoco-Llanos.txt
  history/states/877-Guyana.txt
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

added autonomy icons
  gfx/interface/autonomy/autonomy_france.dds
  gfx/interface/autonomy/autonomy_france2.dds
  interface/MD_autonomy_icons.gfx
Due: none

items
  common/scripted_guis/IRQ_insurgent_gui.txt
  gfx/interface/scripted_gui/iraq/iraq_gui_background_main.dds
  gfx/interface/scripted_gui/iraq/iraq_gui_side_window.dds
  interface/IRQ_gui_items.gfx
  interface/IRQ_insurgent.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

gui changes
  gfx/interface/scripted_gui/iraq/iraq_gui_background_main.dds
  gfx/interface/scripted_gui/iraq/iraq_gui_side_window.dds
  gfx/interface/scripted_gui/iraq/iraqi_map.png
  interface/IRQ_gui_items.gfx
  interface/IRQ_insurgent.gui
Due: none

Rework Dutch focus, ideas, and modifiers; add Brainport
  common/decisions/netherlands.txt
  common/dynamic_modifiers/HOL_Dynamic_modifiers.txt
  common/ideas/netherlands.txt
  common/military_industrial_organization/organizations/MD_HOL_organizations.txt
  common/national_focus/netherlands.txt
  events/netherlands.txt
  localisation/braz_por/MD_focus_HOL_l_braz_por.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/french/MD_focus_HOL_l_french.yml
  localisation/polish/MD_focus_HOL_l_polish.yml
  localisation/russian/MD_focus_HOL_l_russian.yml
  localisation/simp_chinese/MD_focus_HOL_l_simp_chinese.yml
  localisation/spanish/MD_focus_HOL_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

some changes
  common/on_actions/CAC_on_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  gfx/interface/companies_and_corporations/ceo/portrait_generic_ceo_0.dds
  gfx/interface/companies_and_corporations/ceo_type_icon_0 kopia.dds
  gfx/interface/companies_and_corporations/ceo_type_icon_0.dds
  interface/CAC_company_detail.gui
  interface/CAC_scripted_guis.gfx
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Refactor code structure for improved readability and maintainability
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
  temp_close_braces.txt
  temp_close_braces_with_lines.txt
  temp_open_braces.txt
  temp_open_braces_with_lines.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

new branch + more loc
  common/decisions/Algeria.txt
  common/decisions/categories/algeria_decision_categories.txt
  common/ideas/Algerian.txt
  common/national_focus/AfricanUnion_shared.txt
  common/national_focus/Algeria.txt
  common/national_focus/Kabyle.txt
  common/on_actions/99_ALG_on_actions.txt
  common/scripted_effects/99_ALG_scripted_effects.txt
  common/scripted_localisation/99_ALG_scripted_localisation.txt
  events/Algeria.txt
  gfx/interface/goals/algeria/alg_media.dds
  history/countries/ALG - Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/decisions/Algeria.txt
  common/decisions/categories/algeria_decision_categories.txt
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
  common/national_focus/Kabyle.txt
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ceo gui update
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  interface/CAC_company_detail.gui
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more fixes
  common/decisions/categories/algeria_decision_categories.txt
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add custom Australian MIO trees and traits
  Changelog.txt
  common/military_industrial_organization/organizations/MD_AST_organizations.txt
  interface/military_industrial_organization/industrial_organization_policies_and_traits_icons.gfx
  localisation/english/MD_focus_AST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

added another event
  events/Lebanon
Due: none

new economy branch + loc + ideas
  common/dynamic_modifiers/ALG_dynamic_modifiers.txt
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
  history/countries/ALG - Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/russian/MD_NATO_events_l_russian.yml
  localisation/russian/MD_decisions_l_russian.yml
  localisation/russian/MD_focus_BOL_l_russian.yml
  localisation/russian/MD_focus_CZE_l_russian.yml
  localisation/russian/MD_focus_EU_l_russian.yml
  localisation/russian/MD_focus_HOL_l_russian.yml
  localisation/russian/MD_focus_ROM_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_focus_UKR_l_russian.yml
  localisation/russian/MD_techs_l_russian.yml
  localisation/russian/equipment_l_russian.yml
  localisation/russian/replace/replaced_from_vanilla_buildings_l_russian.yml
  localisation/russian/replace/replaced_from_vanilla_core_l_russian.yml
  localisation/russian/tank_modules_l_russian.yml
Due: none

typo
  localisation/english/0_energy_l_english.yml
  localisation/english/MD_focus_AZE_l_english.yml
  localisation/english/MD_focus_CAN_l_english.yml
  localisation/english/MD_focus_CAS_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_ISR_l_english.yml
  localisation/english/MD_focus_LKT_l_english.yml
  localisation/english/MD_focus_POL_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/replace/replaced_from_vanilla_buildings_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/simp_chinese/MD_focus_AZE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_BOL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CAN_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CAS_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_HOL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ISR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_LKT_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SPR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SWE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_USA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_USB_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_VEN_l_simp_chinese.yml
  localisation/simp_chinese/MD_game_rules_l_simp_chinese.yml
  localisation/simp_chinese/MD_laws_l_simp_chinese.yml
  localisation/simp_chinese/MD_techs_l_simp_chinese.yml
Due: none

Implement CEO selection and experience mechanics, update GUI elements, and localize new features
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  gfx/interface/companies_and_corporations/ceo_type_icon_0 kopia.dds
  gfx/interface/companies_and_corporations/ceo_type_icon_0.dds
  gfx/interface/companies_and_corporations/ceo_type_icon_1.dds
  gfx/interface/companies_and_corporations/ceo_type_icon_2.dds
  gfx/interface/companies_and_corporations/ceo_type_icon_3.dds
  interface/CAC_company_detail.gui
  interface/CAC_scripted_guis.gfx
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

some changes
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  interface/CAC_scripted_guis.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

reworking the nuclear branch
  common/national_focus/Algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: Update Venezuelan focus tree and localization for improved clarity and detail
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/russian/MD_cartel_content_l_russian.yml
  localisation/russian/MD_decisions_l_russian.yml
  localisation/russian/MD_focus_AZE_l_russian.yml
  localisation/russian/MD_focus_BOL_l_russian.yml
  localisation/russian/MD_focus_CAN_l_russian.yml
  localisation/russian/MD_focus_CES_l_russian.yml
  localisation/russian/MD_focus_CHI_l_russian.yml
  localisation/russian/MD_focus_CZE_l_russian.yml
  localisation/russian/MD_focus_EGY_l_russian.yml
  localisation/russian/MD_focus_GCC_l_russian.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/russian/MD_focus_HEZ_l_russian.yml
  localisation/russian/MD_focus_HOL_l_russian.yml
  localisation/russian/MD_focus_KOR_l_russian.yml
  localisation/russian/MD_focus_LBA_l_russian.yml
  localisation/russian/MD_focus_LKT_l_russian.yml
  localisation/russian/MD_focus_LRP_l_russian.yml
  localisation/russian/MD_focus_MLR_l_russian.yml
  localisation/russian/MD_focus_NKO_l_russian.yml
  localisation/russian/MD_focus_POL_l_russian.yml
  localisation/russian/MD_focus_RAJ_l_russian.yml
  localisation/russian/MD_focus_SER_VOJ_MNT_l_russian.yml
  localisation/russian/MD_focus_SOV_l_russian.yml
  localisation/russian/MD_focus_SPR_l_russian.yml
  localisation/russian/MD_focus_SUB_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_focus_SYR_l_russian.yml
  localisation/russian/MD_focus_USA_l_russian.yml
  localisation/russian/MD_focus_VEN_l_russian.yml
  localisation/russian/MD_game_rules_l_russian.yml
  localisation/russian/MD_missiles_models_l_russian.yml
  localisation/russian/MD_subideology_parties_l_russian.yml
  localisation/russian/MD_techs_l_russian.yml
  localisation/russian/equipment_l_russian.yml
  localisation/russian/events_l_russian.yml
  localisation/russian/replace/replaced_from_vanilla_buildings_l_russian.yml
  localisation/russian/tank_modules_l_russian.yml
Due: none

rework on the society branch
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Enhance Venezuelan Focus Tree and Ideas
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: Update Venezuela focus tree positions and prerequisites for improved gameplay balance
  common/national_focus/venezuela.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adopt another country mechanic base
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  gfx/interface/companies_and_corporations/foreing_companies_entry_bg.dds
  interface/CAC_scripted_guis.gui
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: Expand Venezuelan focus tree with new ideas and localization for enhanced gameplay depth
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/english/MD_ideas_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
  localisation/spanish/MD_ideas_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: Add new ideas and localization for peace-focused strategies in Venezuelan focus tree
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add new Raytheon and Tenix MIO traits for Australia
  common/military_industrial_organization/organizations/MD_AST_organizations.txt
  localisation/english/MD_focus_AST_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

adjustments for microchips
  common/units/equipment/MD_ElectrionicEquipment.txt
  common/units/equipment/MD_anti_air.txt
  common/units/equipment/MD_anti_tank.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: Update pictures for dictatorship and conservative ideology ideas in Venezuelan focus tree
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
