Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Condense the project skills and keep backlog out of docs
  .claude/docs/documentation-references.md
  .claude/docs/known-false-positives.md
  .claude/docs/validator-check-notes.md
  .claude/skills/add-leader/SKILL.md
  .claude/skills/additional-income/SKILL.md
  .claude/skills/adversarial-review/SKILL.md
  .claude/skills/audit/SKILL.md
  .claude/skills/content-review/SKILL.md
  .claude/skills/country-ai-path/SKILL.md
  .claude/skills/country-ai-path/references/audit.md
  .claude/skills/country-ai-path/references/write.md
  .claude/skills/dev-diary-mdx/SKILL.md
  .claude/skills/lifecycle-check/SKILL.md
  .claude/skills/md-tick-profiler/SKILL.md
  .claude/skills/md-tick-profiler/references/reading-the-flamegraph.md
  .claude/skills/new-focus/SKILL.md
  .claude/skills/new-namelist/SKILL.md
  .claude/skills/party-names/SKILL.md
  .claude/skills/rework-brief/SKILL.md
  .claude/skills/search-filter-check/SKILL.md
  .claude/skills/update-claude/SKILL.md
  .claude/skills/warnings/SKILL.md
Due: none

Update MD_focus_ENG_l_german.yml
  localisation/german/MD_focus_ENG_l_german.yml
Due: none

Update MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed three bugs in the Syrian events
  Changelog.txt
  events/Syria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Extended three validators to catch the Syrian event bug classes
  .claude/docs/validation-pipeline.md
  tools/linting/check_common_mistakes.py
  tools/linting/fix_log_ids.py
  tools/tests/linting/check_common_mistakes_test.py
  tools/tests/linting/fix_log_ids_test.py
  tools/tests/validation/orphan_money_setter_test.py
  tools/tests/validation/validate_simplifications_test.py
  tools/validation/validate_simplifications.py
  tools/validation/validate_variables.py
Due: none

Corrected 120 copy-pasted event option log lines
  events/05_australia_events.txt
  events/05_united_kingdom.txt
  events/AfricanUnion.txt
  events/Algeria.txt
  events/Burma.txt
  events/Canada.txt
  events/Cuba.txt
  events/Czech Republic.txt
  events/Egypt.txt
  events/France.txt
  events/Georgia.txt
  events/Gulf.txt
  events/Indian.txt
  events/Internal Faction Events.txt
  events/Iran.txt
  events/Iraq.txt
  events/Israel_events.txt
  events/Karabakh.txt
  events/Korea.txt
  events/Libya.txt
  events/Mali.txt
  events/Nigeria.txt
  events/Sahrawi.txt
  events/Somalia.txt
  events/Tajikistan.txt
  events/Ukraine.txt
  events/Union State.txt
  events/United States.txt
  events/Uzbekistan.txt
  events/agricultural_events.txt
  events/centralasia_events.txt
  events/waronterror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove duplicate clauses from 30 OR blocks
  Changelog.txt
  common/ai_strategy/MD_econ_ai.txt
  common/decisions/Coalition Decisions.txt
  common/decisions/Iran.txt
  common/ideas/05_armenia.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/02_EU_POTEF_shared.txt
  common/national_focus/05_france.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_israel.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_spain.txt
  common/on_actions/02_dod_on_actions.txt
  common/on_actions/99_PER_on_actions.txt
  common/scripted_effects/LBA_political_leaders.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  common/scripted_triggers/00_economic_triggers.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Make the policy rate always help and stop AI hikes at 20%
  Changelog.txt
  common/scripted_effects/00_currency_effects.txt
  common/scripted_effects/00_economic_effects.txt
  docs/src/content/tutorials/economy-guide.md
  localisation/english/MD_country_economy_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/scripted_effects/00_currency_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Battlecruiser and Missiles
  Changelog.txt
  common/technologies/naval_modules.txt
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed the variable
  events/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove duplicate clauses from 30 OR blocks (#5270)
  Changelog.txt
  common/ai_strategy/MD_econ_ai.txt
  common/decisions/Coalition Decisions.txt
  common/decisions/Iran.txt
  common/ideas/05_armenia.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/02_EU_POTEF_shared.txt
  common/national_focus/05_france.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_israel.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_spain.txt
  common/on_actions/02_dod_on_actions.txt
  common/on_actions/99_PER_on_actions.txt
  common/scripted_effects/LBA_political_leaders.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  common/scripted_triggers/00_economic_triggers.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

reduced starting values of IND/LAO
  Changelog.txt
  common/ideas/Venezuelan.txt
  history/countries/IND - Indonesia.txt
  history/countries/LAO - Laos.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rebalanced Serbia
  Changelog.txt
  history/countries/SER - Serbia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Make the policy rate always help and stop AI hikes at 20% (#5271)
  Changelog.txt
  common/scripted_effects/00_currency_effects.txt
  common/scripted_effects/00_economic_effects.txt
  docs/src/content/tutorials/economy-guide.md
  localisation/english/MD_country_economy_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed more of the history starting positiosn for nations
  Changelog.txt
  history/countries/BLR - Belarus.txt
  history/countries/CUB - Cuba.txt
  history/countries/EGY - Egypt.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

v2.0.2 Version Bump
  Changelog.txt
  descriptions/descriptions_BR.txt
  descriptions/descriptions_DE.txt
  descriptions/descriptions_EN.txt
  descriptions/descriptions_ES.txt
  descriptions/descriptions_FR.txt
  descriptions/descriptions_JP.txt
  descriptions/descriptions_KR.txt
  descriptions/descriptions_PL.txt
  descriptions/descriptions_RU.txt
  descriptions/descriptions_SC.txt
  descriptions/descriptions_TC.txt
  descriptor.mod
  docs/src/content/changelogSections/v2-0-changes.md
  docs/src/content/devDiaries/054-performance-of-the-md-beta.mdx
  docs/src/content/devDiaries/058-the-united-kingdom.mdx
  docs/src/content/devDiaries/061-the-future-of-md.mdx
  docs/src/content/release/index.yml
  tools/tests/publishing_coverage_test.py
Due: check-mod-file-encoding

AI: cut civil spending on a peacetime deficit and lower expected levels with it
  Changelog.txt
  common/scripted_effects/00_desired_law_calculations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

AI deficit spending cut: leave focus offsets alone and skip laws whose expected level is capped
  common/scripted_effects/00_desired_law_calculations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

AI deficit spending cut: reuse the law-desired triggers
  common/scripted_effects/00_desired_law_calculations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

AI deficit spending cut: run monthly before the law recalc, peacetime only, recompute only after a cut
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_desired_law_calculations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

AI deficit spending cut: 180-day cooldown per trimmed category
  common/scripted_effects/00_desired_law_calculations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Promote cleared validator warnings to errors
  .claude/docs/validator-check-notes.md
  tools/tests/validation/building_guards_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/equipment_module_slots_test.py
  tools/tests/validation/equipment_variants_test.py
  tools/tests/validation/loc_prose_test.py
  tools/tests/validation/loc_prose_warnings_test.py
  tools/tests/validation/validate_events_option_log_test.py
  tools/tests/validation/validate_events_picture_format_test.py
  tools/tests/validation/validate_math_expressions_test.py
  tools/tests/validation/validate_mios_test.py
  tools/validation/README.md
  tools/validation/validate_ai_equipment.py
  tools/validation/validate_building_guards.py
  tools/validation/validate_equipment_variants.py
  tools/validation/validate_events.py
  tools/validation/validate_localisation.py
  tools/validation/validate_math_expressions.py
  tools/validation/validate_mios.py
  tools/validation/validator_batches.py
Due: none

Split v2.0 hotfix notes into their own changelog page
  Changelog.txt
  docs/src/content/changelogSections/v2-0-changes-hotfixes.md
  docs/src/content/changelogSections/v2-0-changes.md
Due: none

Move the cheats page to player tutorials
  docs/src/content/redirects/unique-cheats.md
  docs/src/content/tutorials/unique-cheats.md
Due: none

Update BBA_aircraft.txt
  common/technologies/BBA_aircraft.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop docs pages loading oversized images
  docs/src/content/home/index.yml
  docs/src/shared/lib/markdown/markdown-sanitize-schema.ts
  docs/src/shared/ui/ResponsiveImage.astro
Due: none

Budget docs page weight instead of file size
  docs/CONTRIBUTING.md
  tools/docs_checks/check_docs.py
  tools/docs_checks/check_perf_budgets.py
  tools/tests/docs_checks/coverage_edges_test.py
Due: none

Run docs quality on pushes to main
  .github/workflows/docs-quality.yml
Due: none

Update MD_ship_modules.txt
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Read the docs base path from common in the perf check
  tools/docs_checks/check_docs.py
  tools/docs_checks/check_perf_budgets.py
  tools/tests/docs_checks/coverage_edges_test.py
Due: none

Run the unannounced decision category check in CI
  .claude/docs/validator-check-notes.md
  tools/tests/validation/run_all_validators_test.py
  tools/tests/validation/validate_decisions_unannounced_category_test.py
  tools/tests/validation/validator_batches_test.py
  tools/validation/run_all_validators.py
  tools/validation/validate_decisions.py
  tools/validation/validator_batches.py
  validation_config.json
Due: none

Announce the decision categories that 22 focuses open
  Changelog.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_azerbaijan.txt
  common/national_focus/05_bosnia.txt
  common/national_focus/05_greece.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_poland.txt
  common/national_focus/05_saudi_arabia.txt
  common/national_focus/05_syria.txt
  common/national_focus/05_thailand.txt
  common/national_focus/06_czehcoslavakia_shared.txt
  common/national_focus/06_event_horizon_generic.txt
  common/national_focus/turkey.txt
  localisation/english/MD_focus_IRQ_l_english.yml
  localisation/english/MD_focus_POL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Exempt balance of power categories with no name key
  .claude/docs/validator-check-notes.md
  tools/validation/validate_decisions.py
  validation_config.json
Due: none

AI deficit spending cut: deep-deficit cuts respect the trim cooldown
  common/scripted_effects/00_desired_law_calculations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Announce the categories opened by flags that focuses set
  Changelog.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_azerbaijan.txt
  common/national_focus/05_czech_republic.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_italy.txt
  common/national_focus/05_poland.txt
  common/national_focus/05_tajikistan.txt
  common/national_focus/05_thailand.txt
  common/national_focus/06_czehcoslavakia_shared.txt
  common/national_focus/turkey.txt
  localisation/english/MD_focus_IRQ_l_english.yml
  localisation/english/MD_focus_TAJ_l_english.yml
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Exempt three more categories that are open from game start
  validation_config.json
Due: none

Announce the decision categories that 21 event options open
  Changelog.txt
  events/Algeria.txt
  events/Czech Republic.txt
  events/Germany.txt
  events/Iraq.txt
  events/Italy.txt
  events/Middle East Peace Plan.txt
  events/Russia.txt
  events/SAU_events.txt
  events/Turkey.txt
  events/waronterror.txt
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_IRQ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Announce 13 more decision categories opened by ideas, events and decisions
  Changelog.txt
  common/decisions/Civil War Decisions.txt
  common/decisions/Iran.txt
  common/decisions/Poland.txt
  common/national_focus/05_bosnia.txt
  common/national_focus/05_cuba.txt
  common/national_focus/05_denmark.txt
  common/national_focus/05_france.txt
  common/national_focus/05_switzerland.txt
  events/France.txt
  events/Iran.txt
  events/Tajikistan.txt
  events/United States.txt
  events/bosnia_events.txt
  localisation/english/MD_focus_POL_l_english.yml
  localisation/english/MD_focus_TAJ_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
