Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

claude's pointed out issues fixed
  common/decisions/00_missile_decisions.txt
  common/decisions/Cheat Decisions.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_missiles_scripted_localisation.txt
  common/scripted_localisation/01_missiles_textures.txt
  common/units/equipment/MD_mtg_ships.txt
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Extend the bankruptcy guard to Belarus and Chechnya
  Changelog.txt
  common/national_focus/05_belarus.txt
  common/national_focus/05_chechnya.txt
  events/Kuban.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize the Belarus and Chechnya focus trees
  common/national_focus/05_belarus.txt
  common/national_focus/05_chechnya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Isolate USA OEM event draft
  events/USA_oem_events.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

[pi] Work in progress
  .claude/docs/validation-pipeline.md
  .github/workflows/coding-pipeline.yml
  .github/workflows/tools-validation.yml
  tools/precommit_validate.py
  tools/tests/precommit_validate_test.py
  tools/validation/run_all_validators.py
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/run_all_validators_test.py
  tools/validation/tests/validate_history_dlc_test.py
  tools/validation/tests/validate_ideas_refs_test.py
  tools/validation/tests/validate_modifiers_test.py
  tools/validation/tests/validate_scripted_gui_test.py
  tools/validation/tests/validate_scripted_localisation_test.py
  tools/validation/validate_history.py
  tools/validation/validate_ideas.py
  tools/validation/validate_modifiers.py
  tools/validation/validate_scripted_gui.py
  tools/validation/validate_scripted_localisation.py
Due: none

Validation: Focus Tree Pt. 5
  Changelog.txt
  common/national_focus/05_armenia.txt
  common/national_focus/05_czech_republic.txt
  common/national_focus/05_italy.txt
  common/national_focus/05_poland.txt
  common/national_focus/05_republic_of_lakota.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_syria.txt
  common/national_focus/05_usa.txt
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_ITA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix standardize_focus_tree.py ai_will_do idempotency and default value
  tools/standardization/standardize_focus_tree.py
Due: none

Standardizers: convert root ai_will_do factor to base
  common/national_focus/05_poland.txt
  tools/shared_utils.py
  tools/standardization/standardize_decisions.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/tests/convert_root_factor_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix validation parser edge cases
  tools/validation/tests/validate_ideas_refs_test.py
  tools/validation/tests/validate_scripted_localisation_test.py
  tools/validation/validate_ideas.py
  tools/validation/validate_scripted_localisation.py
Due: none

Review fixes: complete ITA war hints, correct Changelog claims
  Changelog.txt
  common/national_focus/05_italy.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix decision standardizer ID corruption
  tools/standardization/standardize_decisions.py
  tools/standardization/tests/standardize_decisions_test.py
Due: none

Fix validator false positives; make scripted-loc CI informational
  .claude/docs/validation-pipeline.md
  .github/workflows/coding-pipeline.yml
  tools/validation/tests/validate_modifiers_test.py
  tools/validation/tests/validate_scripted_localisation_test.py
  tools/validation/validate_modifiers.py
  tools/validation/validate_scripted_localisation.py
Due: none

Fix standardizer block drops, log corruption, and hyphen-blind lint regexes
  tools/cleanup_or.py
  tools/linting/check_common_mistakes.py
  tools/linting/tests/check_common_mistakes_test.py
  tools/standardization/standardize_decisions.py
  tools/standardization/standardize_focus_tree.py
  tools/standardization/tests/standardize_focus_tree_test.py
Due: none

Adversarial review fixes for the Pt. 5 trees
  Changelog.txt
  common/national_focus/05_armenia.txt
  common/national_focus/05_czech_republic.txt
  common/national_focus/05_italy.txt
  common/national_focus/05_syria.txt
  events/Armenia.txt
  events/Czech Republic.txt
  localisation/english/MD_focus_CZE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix adversarial review findings across the Nordic branch
  common/decisions/05_SWE_decision.txt
  common/decisions/Denmark.txt
  common/decisions/Norway.txt
  common/national_focus/denmark.txt
  common/national_focus/sweden.txt
  common/on_actions/99_DEN_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_DEN_scripted_effects.txt
  common/scripted_effects/99_NRY_scripted_effects.txt
  events/Denmark.txt
  events/Sweden.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_DEN_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix scripted-loc validator false positives on hyphenated/Unicode names
  .github/workflows/coding-pipeline.yml
  tools/validation/tests/disk_cache_test.py
  tools/validation/tests/validate_scripted_localisation_test.py
  tools/validation/validate_scripted_localisation.py
  tools/validation/validator_common.py
Due: none

Fix broken and dead scripted localisation found by the validator pass
  Changelog.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  common/scripted_localisation/01_missiles_scripted_localisation.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  common/scripted_localisation/99_ITA_scripted_localisation.txt
  common/scripted_localisation/99_PMR_scripted_localisation.txt
  localisation/english/MD_dynamic_topbar_l_english.yml
  localisation/english/MD_focus_African_Union_l_english.yml
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_HKG_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_LBA_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_TIE_l_english.yml
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Implement missing scripted localisation; drop dead entries
  .github/workflows/coding-pipeline.yml
  common/scripted_localisation/01_international_scripted_localisation.txt
  common/scripted_localisation/01_missiles_scripted_localisation.txt
  common/scripted_localisation/99_ALG_scripted_localisation.txt
  common/scripted_localisation/99_ARM_scripted_localisation.txt
  common/scripted_localisation/99_HKG_scripted_localisation.txt
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_HKG_l_english.yml
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Review fixes: BUL volunteer size, ROM monarchist plan gate, MNT vehicle tooltip, SER export idea collision
  common/ai_strategy_plans/ROM_strategy_plans.txt
  common/national_focus/05_bulgaria.txt
  common/national_focus/05_montenegro.txt
  common/national_focus/05_serbia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Review fixes pt. 2: KOS guards, MNT bypass, SER plan and modifier cleanup, loc fixes
  .claude/skills/content-review/SKILL.md
  common/ai_strategy_plans/SER_strategy_plans.txt
  common/dynamic_modifiers/99_SER_dynamic_modifiers.txt
  common/national_focus/05_greece.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_montenegro.txt
  localisation/english/MD_focus_ROM_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

moar minor fixes
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/units/equipment/MD_tank_chassis.txt
  common/units/equipment/modules/MD_helicopter_modules.txt
  interface/MD_countrymissilesview.gui
  interface/airselectionview.gui
  localisation/braz_por/MD_cyberwarfare_l_braz_por.yml
  localisation/braz_por/MD_missiles_l_braz_por.yml
  localisation/english/MD_cyberwarfare_l_english.yml
  localisation/french/MD_cyberwarfare_l_french.yml
  localisation/french/MD_missiles_l_french.yml
  localisation/german/MD_cyberwarfare_l_german.yml
  localisation/german/MD_missiles_l_german.yml
  localisation/japanese/MD_cyberwarfare_l_japanese.yml
  localisation/japanese/MD_missiles_l_japanese.yml
  localisation/korean/MD_cyberwarfare_l_korean.yml
  localisation/korean/MD_missiles_l_korean.yml
  localisation/polish/MD_cyberwarfare_l_polish.yml
  localisation/polish/MD_missiles_l_polish.yml
  localisation/simp_chinese/MD_cyberwarfare_l_simp_chinese.yml
  localisation/spanish/MD_cyberwarfare_l_spanish.yml
  localisation/spanish/MD_missiles_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

[pi] Done. The difficulty boons now use precise equalit...
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Getting rid of more odd numbers.
  common/doctrines/grand_doctrines/land_doctrine.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

[pi] Note: 18 deletions are from the user's existing un...
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Caucasus OOB
  common/national_focus/05_georgia.txt
  history/countries/SOV - Russia.txt
  history/units/ABK_2000_nsb.txt
  history/units/ARM_2000_nsb.txt
  history/units/AZE_2000_nsb.txt
  history/units/GEO_2000_nsb.txt
  history/units/JAP_2000_nsb.txt
  history/units/KOR_2000_nsb.txt
  history/units/NKO_2000_nsb.txt
  history/units/NKR_2000_nsb.txt
  history/units/SOO_2000_nsb.txt
  history/units/USA_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

[pi] 88 = 22 (d0) + 22 (d1) + 22 (d3) + 22 (d4) for the...
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Transnistria OOB
  common/units/names_divisions/USA_names_divisions.txt
  history/units/CHE_2000_nsb.txt
  history/units/PMR_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Undid a thing causing a validator failure
  events/Norway.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

forgot this part of the commit
  common/scripted_effects/99_NRY_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More audit fixes
  common/ai_strategy_plans/ROM_strategy_plans.txt
  common/ai_strategy_plans/SER_strategy_plans.txt
  common/decisions/Romania.txt
  common/decisions/bulgaria.txt
  common/decisions/categories/99_ROM_decision_categories.txt
  common/ideas/Serbian.txt
  common/national_focus/05_bulgaria.txt
  common/national_focus/05_greece.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_montenegro.txt
  common/national_focus/05_romania.txt
  common/national_focus/05_serbia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/99_SER_scripted_effects.txt
  events/05_bulgaria.txt
  events/Romania.txt
  events/Serbia.txt
  localisation/english/MD_focus_BUL_l_english.yml
  localisation/english/MD_focus_GRE_l_english.yml
  localisation/english/MD_focus_ROM_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra locs
  common/decisions/France.txt
  common/scripted_effects/00_yearly_effects.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

balance F bird
  common/national_focus/05_bulgaria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

validator fixed
  common/decisions/Romania.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Validator Fixes
  common/decisions/Romania.txt
  common/national_focus/05_kosovo.txt
  events/Romania.txt
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

first work
  common/scientist_traits/00_traits.txt
  common/special_projects/project_tags/tags.txt
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/antarctica_projects.txt
  common/special_projects/projects/artillery_projects.txt
  common/special_projects/projects/civilian_projects.txt
  common/special_projects/projects/infantry_equipment_projects.txt
  common/special_projects/projects/missile_projects.txt
  common/special_projects/projects/naval_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra locs
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix auto-influencer report naming your own country (#2413)
  common/on_actions/MD_on_actions.txt
  common/scripted_localisation/01_influence_scripted_localisation.txt
  events/Influence.txt
  localisation/english/MD_influence_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix satellite access buffs disappearing after a few days (#2344)
  common/scripted_effects/00_missiles_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Create a Common Oil Fund penalising the completing nation (#2371)
  common/national_focus/06_AfricanUnion_shared.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
