Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

1. Improved Tribal Balance Decisions (3 decisions updated)
  Changelog.txt
  common/decisions/libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

1. Improved Tribal Balance Decisions (3 decisions updated)
  common/decisions/libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix changelog
  Changelog.txt
Due: none

1. Improved Tribal Balance Decisions (3 decisions updated)
  Changelog.txt
Due: none

Address PR #155 review feedback: adjust tribal loyalty thresholds
  common/decisions/libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Improve Libyan tribal AI with cross-referencing and escalating urgency
  Changelog.txt
  common/decisions/libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Thingies
  Changelog.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/templates/99_SOV.txt
  common/units/names_divisions/SWE_names_divisions.txt
  events/Sweden.txt
  history/states/9-Central Belt.txt
  sound/usa/us_idle_001.wav
  sound/usa/us_idle_002.wav
  sound/usa/us_idle_003.wav
  sound/usa/us_move_001.wav
  sound/usa/us_move_002.wav
  sound/usa/us_move_003.wav
  sound/usa/us_move_004.wav
  sound/usa/us_move_005.wav
  sound/usa/us_move_006.wav
  sound/usa/us_move_007.wav
  sound/usa/us_move_008.wav
  sound/usa/us_neutral_001.wav
  sound/usa/us_neutral_002.wav
  sound/usa/us_neutral_003.wav
  sound/usa/us_neutral_004.wav
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

- Fixed the Strv 121 tank model showing invisible due to missing entity definition (Issue #139)
  Changelog.txt
  docs/misc/authors.md
  gfx/entities/GER_tanks.asset
Due: none

more usa voicelines in wrong format
  Changelog.txt
  sound/usa/us_idle_005.wav
  sound/usa/us_idle_006.wav
  sound/usa/us_idle_007.wav
Due: none

Added GFX sprite definitions for 9 missing landmarks (90 lines total):
  Changelog.txt
  interface/buildings/MD_landmarks.gfx
Due: none

I updated the AI investment scoring for the 5 main building types:
  Changelog.txt
  common/scripted_effects/99_AI_investment_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

I updated the AI investment scoring for the 5 main building types:
  common/scripted_effects/99_AI_investment_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Complete fix for Issue #149: Add remaining 90 missing Georgian focus descriptions
  Changelog.txt
  localisation/english/MD_focus_GEO_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed the coding pipeline
  .github/workflows/coding-pipeline.yml
  Changelog.txt
  common/characters/PHI.txt
  common/decisions/Sahrawi.txt
  common/decisions/libya.txt
  common/factions/goals/faction_goals_long_term.txt
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_goals_short_term.txt
  common/ideas/United States.txt
  common/military_industrial_organization/organizations/MD_BRA_organizations.txt
  common/national_focus/germany.txt
  common/on_actions/99_ZOM_on_actions.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  events/Libya.txt
  history/units/TAJ_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work and fixes
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/raids/cruise_missile_strike.txt
  common/units/MD_land_units.txt
  common/units/MD_naval_units.txt
  history/countries/SAF - South Africa.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added a new "AIR Academy Spirits" section to the graphics file with icon definitions for all (I hope) 6 missing air force academy spirits:
  Changelog.txt
  interface/officer_corp_spirits.gfx
Due: none

- Total files scanned: 2,323 .yml files (across localisation/ and resources/ directories) - Files with duplicates: 13 - Total duplicates removed: 79
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_SHA_l_english.yml
  localisation/english/replace/replaced_from_deployment_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
  localisation/french/FR_LOCKEYS_l_french.yml
  resources/Brazil/MD_focus_BRA_l_english.yml
  resources/Laven-PRC-Rework/MD_ideas_l_english.yml
  resources/National Content/USA (Gearz)/localisation/MD_USA_focus_l_english.yml
  resources/National Content/USA (Gearz)/localisation/MD_USA_focus_l_french.yml
  resources/National Content/USA DJT/focus_USA_donald_trump_l_english.yml
  resources/ROC_Taiwan_Pack/localisation/english/MD_focus_TAI_l_english.yml
  resources/Space System/MD_space.yml
Due: validate-localization-encoding, fix-localization-encoding

- Total files scanned: 2,323 .yml files (across localisation/ and resources/ directories) - Files with duplicates: 13 - Total duplicates removed: 79
  Changelog.txt
Due: none

The crash was caused by multiple parsing errors that create corrupted data structures in the game engine, particularly problematic on Linux:
  Changelog.txt
  common/doctrines/subdoctrines/special_forces/special_forces.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

The crash was caused by multiple parsing errors that create corrupted data structures in the game engine, particularly problematic on Linux:
  Changelog.txt
Due: none

Revert " 1. Fixed common/doctrines/subdoctrines/land/land_equipment.txt"
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/scripted_guis/02_conditional_peace_deals_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog fix
  Changelog.txt
Due: none

removed can_be_produced
  common/units/equipment/MD_sam_missile.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Loc Fixes
  localisation/english/MD_focus_EGY_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add files via upload
  localisation/english/MD_focus_EGY_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

.
  common/decisions/Country Flag Decisions.txt
  common/decisions/categories/different_country_flags.txt
  gfx/flags/IRQ_AUTH.tga
  gfx/flags/IRQ_AUTH_SS_nationalist.tga
  gfx/flags/IRQ_AUTH_democratic.tga
  gfx/flags/IRQ_communism.tga
  gfx/flags/IRQ_democratic.tga
  gfx/flags/IRQ_fascism.tga
  gfx/flags/IRQ_nationalist.tga
  gfx/flags/IRQ_neutrality.tga
  gfx/flags/medium/IRQ.tga
  gfx/flags/medium/IRQ_AUTH.tga
  gfx/flags/medium/IRQ_AUTH_SS_nationalist.tga
  gfx/flags/medium/IRQ_AUTH_democratic.tga
  gfx/flags/medium/IRQ_communism.tga
  gfx/flags/medium/IRQ_democratic.tga
  gfx/flags/medium/IRQ_fascism.tga
  gfx/flags/medium/IRQ_nationalist.tga
  gfx/flags/medium/IRQ_neutrality.tga
  gfx/flags/small/IRQ_AUTH_SS_nationalist.tga
  gfx/flags/small/IRQ_AUTH_democratic.tga
  gfx/flags/small/IRQ_communism.tga
  gfx/flags/small/IRQ_democratic.tga
  gfx/flags/small/IRQ_fascism.tga
  gfx/flags/small/IRQ_nationalist.tga
  gfx/flags/small/IRQ_neutrality.tga
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Parties
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add files via upload
  common/scripted_localisation/00_subideology_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  docs/misc/authors.md
Due: none

Various focuses and fixes
  Changelog.txt
  common/ideas/German.txt
  common/ideas/bulgarian.txt
  common/national_focus/bulgaria.txt
  common/opinion_modifiers/Trade Relations.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  gfx/entities/MD4_ships.gfx
  gfx/entities/MD4_units_ships.asset
  history/units/UKR_2000_bba.txt
  history/units/UKR_2000_nonbba.txt
  interface/MD_texticons.gfx
  localisation/english/MD_focus_BUL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed battlecruiers
  common/ai_equipment/zz_ai_battlecruiser_ENG_variants.txt
  common/ai_equipment/zz_ai_battlecruiser_USA_variants.txt
  common/ai_equipment/zz_battlecruiser_ai_Big5_nations.txt
  common/ai_equipment/zzz_BRA_Battlecruisers.txt
  common/ai_equipment/zzz_French_BC.txt
  common/ai_equipment/zzz_GER_Battlecruisers.txt
  common/ai_equipment/zzz_ITA_Battlecruisers.txt
  common/ai_equipment/zzz_JAP_battlecruisers.txt
  common/ai_equipment/zzz_RAJ_Battlecruisers.txt
  common/ai_equipment/zzz_SOV_Battlecruisers.txt
  common/ai_equipment/zzz_generic_battlecruisers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed most critical errors with new designs
  common/ai_equipment/SOV_CHI_RAJ_Specific_Battlecruiser_Designs.txt
  common/ai_equipment/ZZZ_AST_CARRIERS.txt
  common/ai_equipment/zz_battlecruiser_ai_Big5_nations.txt
  common/ai_equipment/zzz_AFR_BlueWater_Carriers.txt
  common/ai_equipment/zzz_ARAB_CARRIERS.txt
  common/ai_equipment/zzz_ARG_Carriers.txt
  common/ai_equipment/zzz_BALTIC_UKR_Carriers.txt
  common/ai_equipment/zzz_BENELUX_POR_Carriers.txt
  common/ai_equipment/zzz_BRA_Carriers.txt
  common/ai_equipment/zzz_CAN_Carriers.txt
  common/ai_equipment/zzz_CHL_COL_PER_Carriers.txt
  common/ai_equipment/zzz_ENG_Carriers.txt
  common/ai_equipment/zzz_ENG_Cruisers.txt
  common/ai_equipment/zzz_FRA_Carriers.txt
  common/ai_equipment/zzz_GER_Carriers.txt
  common/ai_equipment/zzz_GRE_Carriers.txt
  common/ai_equipment/zzz_IRN_Carriers.txt
  common/ai_equipment/zzz_ISR_Carriers.txt
  common/ai_equipment/zzz_ITA_Carriers.txt
  common/ai_equipment/zzz_JAP_Carriers.txt
  common/ai_equipment/zzz_MLY_VIE_SeaCarriers.txt
  common/ai_equipment/zzz_NORDIC_Carriers.txt
  common/ai_equipment/zzz_RAJ_Carriers.txt
  common/ai_equipment/zzz_SEA_Carriers.txt
  common/ai_equipment/zzz_SPA_Carriers.txt
  common/ai_equipment/zzz_TUR_Carriers.txt
  common/ai_equipment/zzz_USA_Carriers.txt
  common/ai_equipment/zzz_USA_Cruisers.txt
  common/ai_equipment/zzz_VEN_Carriers.txt
  common/ai_equipment/zzz_nko_missile_subs.txt
  common/national_focus/bulgaria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/ai_equipment/zz_battlecruiser_ai_Big5_nations.txt
  common/ai_equipment/zzz_GER_Cruisers.txt
  common/ai_equipment/zzz_ITA_Cruisers.txt
  common/ai_equipment/zzz_JAP_battlecruisers.txt
  common/ai_equipment/zzz_JAP_battleships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

mass fixes #1 (down with the birdian empire, all rise for the doolittle regime)
  common/ai_equipment/NATO_Cruisers_2030s.txt
  common/ai_equipment/SOV_CHI_RAJ_Specific_Battlecruiser_Designs.txt
  common/ai_equipment/zz_battlecruiser_ai_Big5_nations.txt
  common/ai_equipment/zzz_JAP_battleships.txt
  common/units/MD_land_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed thingies
  common/ai_equipment/zz_ai_battlecruiser_ENG_variants.txt
  common/ai_equipment/zzz_AFR_BlueWater_Carriers.txt
  common/ai_equipment/zzz_Eng_Battleships.txt
  common/ai_equipment/zzz_IRN_Carriers.txt
  common/ai_equipment/zzz_NKO_Cruisers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

maybe this time bird wont crash my game by making me merge in the middle of starting to test it YOU BUM
  common/ai_equipment/NATO_Cruisers_2030s.txt
  common/ai_equipment/zz_battlecruiser_ai_Big5_nations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
