Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Chinese fixes
  common/characters/CHI.txt
  common/country_leader/CHI_traits.txt
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/ideas/05_china.txt
  common/national_focus/05_china.txt
  common/unit_leader/CHI_traits.txt
  localisation/english/MD_cats_generic_defcomp_l_english.yml
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/replace/replaced_from_doctrines_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_traits_l_english.yml
  localisation/english/MD_traits_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

consolidation
  common/ideas/05_switzerland_ideas.txt
  common/national_focus/05_switzerland.txt
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work
  common/dynamic_modifiers/99_SWI_dynamic_modifiers.txt
  common/ideas/05_switzerland_ideas.txt
  common/national_focus/05_switzerland.txt
  history/countries/SWI - Switzerland.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Japan Zombie Companies investigation storyline (#2583)
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

POL microchip focus adjustments
  common/decisions/Poland.txt
  common/decisions/categories/99_POL_decision_categories.txt
  common/national_focus/05_poland.txt
  events/Poland.txt
  localisation/english/MD_focus_POL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/scripted_effects/99_eu_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Doctrine/mastery fixes
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More changes
  common/dynamic_modifiers/99_AUS_dynamic_modifiers.txt
  common/ideas/Austrian.txt
  common/national_focus/05_austria.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_AUS_scripted_effects.txt
  events/05_austria.txt
  history/countries/AUS - Austria.txt
  interface/gui_austrian.gui
  localisation/english/MD_focus_AUS_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Small Austria fix
  common/national_focus/05_austria.txt
  events/05_austria.txt
  localisation/english/MD_focus_AUS_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

validator fixes
  common/ai_strategy/CHI.txt
  common/decisions/05_CHI_decisions.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/national_focus/03_china_north_korea_joint.txt
  common/national_focus/05_china.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/00_desired_law_triggers.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  common/unit_leader/CHI_traits.txt
  events/05_china.txt
  history/countries/CHI - China.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Japan Zombie Companies resolution branches (#2584)
  common/decisions/05_japan.txt
  common/decisions/categories/99_JAP_decision_categories.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Mech Bat 1:1 to design
  common/units/MD_special_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fiz
  common/decisions/05_CHI_decisions.txt
  common/national_focus/03_china_north_korea_joint.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

China Fixes: SCO Ideas, Semiconductor Focuses, and General Advisors (#2591)
  common/ai_strategy/CHI.txt
  common/characters/CHI.txt
  common/country_leader/CHI_traits.txt
  common/decisions/05_CHI_decisions.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/ideas/05_china.txt
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/national_focus/03_china_north_korea_joint.txt
  common/national_focus/05_china.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/00_desired_law_triggers.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  common/unit_leader/CHI_traits.txt
  events/05_china.txt
  history/countries/CHI - China.txt
  localisation/english/MD_cats_generic_defcomp_l_english.yml
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
  localisation/english/MD_traits_l_english.yml
  localisation/english/replace/replaced_from_doctrines_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra ideas fix
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Cleaned up some Ukrainian organization in thie history files
  history/countries/UKR - Ukraine.txt
  history/states/698-Kyiv.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the investment exploits + some other misc issues
  common/decisions/investments_decisions.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/99_investment_scripted_effects.txt
  common/scripted_guis/01_influence_scripted_guis.txt
  common/scripted_guis/01_investment_scripted_gui.txt
  events/investments_events.txt
  localisation/english/MD_investments_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed the investment exploits + some other misc issues (#2598)
  common/decisions/investments_decisions.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/99_investment_scripted_effects.txt
  common/scripted_guis/01_influence_scripted_guis.txt
  common/scripted_guis/01_investment_scripted_gui.txt
  events/investments_events.txt
  localisation/english/MD_investments_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Switzerland Political Party Focus Icons
  gfx/interface/goals/switzerland/SWI_fdp_gfx.dds
  gfx/interface/goals/switzerland/SWI_fdu_gfx.dds
  gfx/interface/goals/switzerland/SWI_grune_gfx.dds
  gfx/interface/goals/switzerland/SWI_nf_gfx.dds
  gfx/interface/goals/switzerland/SWI_sp_gfx.dds
  gfx/interface/goals/switzerland/SWI_svp_gfx.dds
  gfx/interface/goals/switzerland/pda_gfx.dds
Due: none

space code annihilation
  common/on_actions/MD_missiles_on_actions_history.txt
  common/scripted_effects/00_missiles_models.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_localisation/01_missiles_scripted_localisation.txt
  common/scripted_localisation/01_missiles_textures.txt
  common/scripted_triggers/MD_missile_scripted_triggers.txt
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_missiles_models_l_english.yml
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Japan Karoshi Corporate Laws path (#2585)
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix dangling add_relative_party_popularity calls in the Japan focus tree
  common/national_focus/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  common/ideas/French.txt
  common/national_focus/france.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

New state to Turkey
  history/states/1243-Trabzon.txt
  history/states/160-Turkish Black Sea.txt
  localisation/english/state_names_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update buildings.txt
  map/buildings.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Japan Karoshi Cultural Change path (#2586)
  common/decisions/05_japan.txt
  common/decisions/categories/99_JAP_decision_categories.txt
  common/national_focus/05_japan.txt
  common/on_actions/99_JAP_on_actions.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Japan Karoshi Keiretsu Pact path (#2587)
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

save
  common/units/names_divisions/IRQ_names_divisions.txt
  gfx/interface/technologies/USA/AIR/C-47.dds
  history/countries/AUS - Austria.txt
  history/countries/CHI - China.txt
  history/countries/IRQ - Iraq.txt
  history/countries/USA - USA.txt
  history/units/CHI_2000_nsb.txt
  history/units/IRQ_2000_bba.txt
  history/units/IRQ_2000_nsb.txt
  history/units/ISR_2000_bba.txt
  history/units/LBA_2000_nsb.txt
  history/units/SIA_2000_nsb.txt
  history/units/SYR_2000_nsb.txt
  interface/mdult_land.gfx
  interface/mdult_missiles.gfx
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Japan Galapagos Syndrome backbone (#2603)
  common/bookmarks/blitzkrieg.txt
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  common/on_actions/99_JAP_on_actions.txt
  common/scripted_triggers/99_JAP_scripted_triggers.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update settings.json
  .claude/settings.json
Due: none

Add Japan Galapagos temp fixes: international standards and English business environment (#2604)
  common/decisions/05_japan.txt
  common/decisions/categories/99_JAP_decision_categories.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Japan Cool Japan Galapagos path (#2605)
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Japan Cool Japan influence-sphere payout mechanic (#2606)
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/national_focus/05_japan.txt
  common/on_actions/99_JAP_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Japan Integration with the World Galapagos branch (#2607)
  common/dynamic_modifiers/99_JAP_dynamic_modifiers.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

save
  gfx/interface/technologies/USA/LAND/M42.dds
  gfx/interface/technologies/USA/LAND/M44.dds
  history/countries/UKR - Ukraine.txt
  history/countries/USA - USA.txt
  history/units/BOL_2000_bba.txt
  history/units/COL_2000_bba.txt
  history/units/DOM_2000_bba.txt
  history/units/ELS_2000_bba.txt
  history/units/GRE_2000_bba.txt
  history/units/GUA_2000_bba.txt
  history/units/HON_2000_bba.txt
  history/units/ISR_2000_bba.txt
  history/units/ISR_2000_nsb.txt
  history/units/JOR_2000_nsb.txt
  history/units/LBA_2000_nsb.txt
  history/units/LEB_2000_nsb.txt
  history/units/MOR_2000_nsb.txt
  history/units/PAR_2000_bba.txt
  history/units/SAF_2000_bba.txt
  history/units/SIA_2000_bba.txt
  history/units/SIA_2000_nsb.txt
  history/units/TAI_2000_bba.txt
  history/units/TAI_2000_nsb.txt
  history/units/TUR_2000_nsb.txt
  history/units/VEN_2000_nsb.txt
  history/units/ZAM_2000_bba.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Naval SPAA redo mk2
  common/units/equipment/modules/MD_arty_modules.txt
  history/countries/ITA - Italy.txt
  history/countries/POR - Portugal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  common/national_focus/france.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
