Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Update troubleshooting-guide.md
  docs/src/content/tutorials/troubleshooting-guide.md
Due: none

Fixed
  events/pandemics.txt
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

changelog
  Changelog.txt
Due: none

Political Tree Part 6
  common/ideas/Greenlandic.txt
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Political Tree Part 7
  common/national_focus/greenland.txt
  history/states/1-Central Plateau.txt
  history/states/1161-Kitaa.txt
  history/states/1240-Southern Interior.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on peace deals
  common/on_actions/13_conditional_peace_deal_on_actions.txt
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_guis/02_conditional_peace_deals_scripted_gui.txt
  localisation/english/conditional_peace_deals_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

ARM remove
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

share tree
  common/national_focus/00_generic.txt
  common/national_focus/06_MERCOSUR_shared.txt
  common/national_focus/brazil.txt
  events/Brazilian.txt
  history/countries/ARG - Argentina.txt
  history/countries/BRA - Brazil.txt
  history/countries/PAR - Paraguay.txt
  history/countries/URG - Uruguay.txt
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/MD_focus_MERCOSUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Political Tree Part 8
  common/ideas/Greenlandic.txt
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

updated stuff
  .claude/skills/oob-variants/SKILL.md
  common/buildings/00_buildings.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/!_energy_effects.txt
  common/scripted_guis/01_research_scripted_gui.txt
  history/units/ISR_2000_naval_mtg.txt
  history/units/ISR_buy_german_subs_MTG.txt
  history/units/ISR_buy_german_subs_again_MTG.txt
  localisation/english/0_energy_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/replace/replaced_from_vanilla_buildings_l_english.yml
  localisation/english/research_slots_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Finalized
  Changelog.txt
  common/on_actions/00_on_actions.txt
  common/scripted_guis/01_research_scripted_gui.txt
  localisation/english/research_slots_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More tweaks
  common/ideas/AA_law_expanded_economics.txt
  common/scripted_effects/00_money_system.txt
  events/netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Political Tree Part 9
  common/countries/cosmetic.txt
  common/national_focus/greenland.txt
  gfx/flags/GRN_Kingdom_Of_Greenland.tga
  gfx/flags/medium/GRN_Kingdom_Of_Greenland.tga
  gfx/flags/small/GRN_Kingdom_Of_Greenland.tga
  localisation/english/MD_focus_GRN_l_english.yml
  localisation/english/countries_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  gfx/flags/GRN_nationalist.tga
Due: none

Joining decision
  common/decisions/categories/MERCOSUR_decison_categories.txt
  common/decisions/mercosur_decisons.txt
  common/ideas/Brazilian.txt
  common/national_focus/06_MERCOSUR_shared.txt
  events/mercosur.txt
  localisation/english/MD_focus_MERCOSUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

tooltip updates
  localisation/english/MD_money_l_english.yml
  localisation/english/replace/replaced_from_vanilla_trade_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fix + dev diary
  common/ideas/Algerian.txt
  docs/src/assets/images/dev-diaries/055/bop_danger.PNG
  docs/src/assets/images/dev-diaries/055/bop_overview.PNG
  docs/src/assets/images/dev-diaries/055/bop_warning.png
  docs/src/assets/images/dev-diaries/055/cabinet_appointment.PNG
  docs/src/assets/images/dev-diaries/055/deep_state_variable.PNG
  docs/src/assets/images/flags/algeria.png
  docs/src/content/countries/algeria.md
  docs/src/content/devDiaries/55-algeria-le-pouvoir.md
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  docs/src/assets/images/dev-diaries/055/bop_danger.PNG
  docs/src/assets/images/dev-diaries/055/cabinet.PNG
Due: none

mercosur tree
  common/decisions/categories/MERCOSUR_decison_categories.txt
  common/decisions/mercosur_decisons.txt
  common/dynamic_modifiers/05_MERCOSUR_dynamic_modifiers.txt
  common/ideas/Brazilian.txt
  common/ideas/MERCOSUR.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_cuba.txt
  common/national_focus/05_singapore.txt
  common/national_focus/06_MERCOSUR_shared.txt
  common/national_focus/venezuela.txt
  common/scripted_effects/00_startup_effects.txt
  events/mercosur.txt
  history/countries/ARG - Argentina.txt
  history/countries/BOL - Bolivia.txt
  history/countries/BRA - Brazil.txt
  history/countries/CHL - Chile.txt
  history/countries/COL - Colombia.txt
  history/countries/ECU - Ecuador.txt
  history/countries/GUY - Guyana.txt
  history/countries/MEX - Mexico.txt
  history/countries/PAN - Panama.txt
  history/countries/PAR - Paraguay.txt
  history/countries/PRU - Peru.txt
  history/countries/SUR - Suriname.txt
  history/countries/URG - Uruguay.txt
  history/countries/VEN - Venezula.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/MD_focus_MERCOSUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

warnings fixed
  common/national_focus/israel_tree.txt
  events/Israel_events.txt
  history/countries/ISR - Israel.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix icons for patrol_boat: icons of patrol boats in fleet view are shown correctly
  interface/subuniticons.gfx
Due: none

unused tags commented
  interface/subuniticons.gfx
Due: none

bug fix (event ID restored)
  common/national_focus/israel_tree.txt
  events/Israel_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed security dependency issues
  docs/bun.lock
  docs/package-lock.json
  docs/package.json
  docs/public/assets/images/dev-diaries/055/bop_overview.png
  docs/public/assets/images/dev-diaries/055/bop_warning.png
  docs/public/assets/images/dev-diaries/055/cabinet.png
  docs/public/assets/images/dev-diaries/055/cabinet_appointment.png
  docs/public/assets/images/dev-diaries/055/deep_state_variable.png
  docs/src/assets/images/dev-diaries/053/image-0.png
  docs/src/assets/images/dev-diaries/053/image-1.png
  docs/src/assets/images/dev-diaries/053/image-10.png
  docs/src/assets/images/dev-diaries/053/image-11.png
  docs/src/assets/images/dev-diaries/053/image-12.png
  docs/src/assets/images/dev-diaries/053/image-13.png
  docs/src/assets/images/dev-diaries/053/image-2.png
  docs/src/assets/images/dev-diaries/053/image-3.png
  docs/src/assets/images/dev-diaries/053/image-4.png
  docs/src/assets/images/dev-diaries/053/image-5.png
  docs/src/assets/images/dev-diaries/053/image-6.png
  docs/src/assets/images/dev-diaries/053/image-7.png
  docs/src/assets/images/dev-diaries/053/image-8.png
  docs/src/assets/images/dev-diaries/053/image-9.png
  docs/src/content/devDiaries/055-algeria-le-pouvoir.md
  docs/src/content/devDiaryArchive/index.yml
Due: none

Package lock and depdencies
  docs/bun.lock
  docs/package-lock.json
  docs/package.json
Due: none

Auto milestone and auto label
  .github/labeler.yml
  .github/workflows/auto-label.yml
  .github/workflows/auto-milestone.yml
Due: none

More work
  .github/workflows/auto-label.yml
  .github/workflows/auto-milestone.yml
  .github/workflows/release.yml
Due: none

mission
  common/decisions/categories/MERCOSUR_decison_categories.txt
  common/decisions/mercosur_decisons.txt
  common/ideas/MERCOSUR.txt
  common/national_focus/06_MERCOSUR_shared.txt
  events/Brazilian.txt
  events/mercosur.txt
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/MD_focus_MERCOSUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

special zone decisions
  common/decisions/05_japan.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Polar Express Achievement setup
  common/achievements/MD_achievements.txt
  localisation/english/MD_custom_achievements_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Japanese idea picture fix
  common/ideas/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Military Tree Part 1
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

ID for event according to convection: israel_navy.13 changed to israel.153
  common/national_focus/israel_tree.txt
  events/Israel_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

module restored for Sa'ar 4.5 Hetz
  history/countries/ISR - Israel.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix a label of patrol_boat equipment for MIO's
  Changelog.txt
  localisation/braz_por/equip_naval_l_braz_por.yml
  localisation/english/equip_naval_l_english.yml
  localisation/french/equip_naval_l_french.yml
  localisation/german/equip_naval_l_german.yml
  localisation/japanese/equip_naval_l_japanese.yml
  localisation/korean/equip_naval_l_korean.yml
  localisation/polish/equip_naval_l_polish.yml
  localisation/russian/equip_naval_l_russian.yml
  localisation/simp_chinese/equip_naval_l_simp_chinese.yml
  localisation/spanish/equip_naval_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

Rewrote and modernized indonesia and grammar/typo passed through it
  common/national_focus/05_indonesia.txt
  localisation/english/MD_focus_IND_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

bank
  common/decisions/05_japan.txt
  common/decisions/categories/JAP_decision_categories.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

corporate
  common/decisions/05_japan.txt
  common/decisions/categories/JAP_decision_categories.txt
  common/ideas/05_japan.txt
  common/national_focus/05_japan.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
