Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

feat: Adjust submarine tech bonuses and add new naval ideas for enhanced gameplay
  common/national_focus/venezuela.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: Add wolfpack tactics idea with naval modifiers and equipment bonuses
  common/ideas/Venezuelan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refactor Venezuelan military focus and opinion modifiers
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
  common/opinion_modifiers/Venezuela.txt
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Almost completed the prague conference
  common/decisions/Czech_Republic.txt
  common/ideas/Czech Republic.txt
  common/on_actions/99_CZE_on_actions.txt
  events/Czech Republic.txt
  localisation/english/MD_focus_CZE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Refactor Venezuelan opinion modifiers and localization updates
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
  common/opinion_modifiers/Venezuela.txt
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: Update Venezuelan focus tree and opinion modifiers for improved gameplay and localization
  common/ideas/Venezuelan.txt
  common/national_focus/venezuela.txt
  common/opinion_modifiers/Venezuela.txt
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: Update aircraft equipment variants and production details for improved gameplay balance
  common/national_focus/venezuela.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix: Update Venezuela color code for consistency with graphical culture
  common/countries/Venezuela.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog
  Changelog.txt
Due: none

feat: Enhance Venezuela's military assets with updated air, infantry, and land sprite types
  common/national_focus/venezuela.txt
  interface/mdult_air.gfx
  interface/mdult_inf.gfx
  interface/mdult_land.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  docs/countries-list.md
  docs/dev-resources/focus-tree-tool.md
  docs/dev-resources/logging-tool.md
  docs/national-content/Canada.md
  docs/national-content/Denmark.md
  docs/national-content/Greece.md
  docs/national-content/Myanmar.md
  docs/national-content/Syria.md
  docs/player-tutorials/eu-law-flowchart.md
  docs/uploads/CrocsFocusTreeTool-temp.zip
  docs/uploads/CrocsLoggerTool-temp.zip
Due: none

More fixes
  docs/uploads/CrocsFocusTreeTool.zip
  docs/uploads/CrocsLoggerTool.zip
Due: none

feat: Revise Venezuelan infantry and vehicle equipment descriptions for improved localization
  localisation/english/equipment_l_english.yml
  localisation/spanish/equipment_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

feat: Add branch headers to Venezuela national focus tree for improved organization
  common/national_focus/venezuela.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added a story event chain (Damascus's Dove)
  events/Lebanon
Due: none

Regular update
  localisation/russian/MD_focus_AFG_l_russian.yml
  localisation/russian/MD_focus_ARM_l_russian.yml
  localisation/russian/MD_focus_BUL_l_russian.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/russian/MD_focus_GRE_l_russian.yml
  localisation/russian/MD_focus_HOL_l_russian.yml
  localisation/russian/MD_focus_SOV_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_focus_TIE_l_russian.yml
  localisation/russian/MD_focus_USR_l_russian.yml
  localisation/russian/MD_ideas_l_russian.yml
  localisation/russian/MD_influence_l_russian.yml
  localisation/russian/MD_internal_factions_l_russian.yml
  localisation/russian/MD_investments_l_russian.yml
  localisation/russian/MD_missiles_models_l_russian.yml
  localisation/russian/MD_techs_l_russian.yml
  localisation/russian/equipment_l_russian.yml
Due: none

added story event chain (Fateful February) and fixed event trigger codes
  events/Lebanon
Due: none

Add military-industrial traits and national focus for Venezuela
  common/military_industrial_organization/organizations/MD_VEN_organizations.txt
  common/national_focus/venezuela.txt
  interface/mdult_air.gfx
  interface/mdult_inf.gfx
  localisation/english/MD_focus_VEN_l_english.yml
  localisation/spanish/MD_focus_VEN_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

pie chart mk23
  common/on_actions/00_on_actions.txt
  common/on_actions/99_IRQ_on_actions.txt
  common/scripted_effects/99_IRQ_scripted_effects.txt
  common/scripted_guis/IRQ_insurgent_gui.txt
  common/scripted_localisation/Iraqi_pie_charts.txt
  gfx/FX/piechart.shader
  interface/IRQ_gui_items.gfx
  interface/IRQ_insurgent.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix(venezuela): correct military industrial organization additions and equipment bonus scopes
  common/military_industrial_organization/organizations/MD_VEN_organizations.txt
  common/national_focus/venezuela.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EEF Laws groundwork
  common/decisions/EU_voting_decisions.txt
  common/scripted_effects/!_cwtools_dummy_effects.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_localisation/00_EU_parliament_scripted_localisation.txt
  common/scripted_localisation/00_EU_voting_scripted_localisation.txt
  common/scripted_triggers/99_EU_voting_scripted_triggers.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Updated Military Tech GFX & Names
  common/ideas/Irish.txt
  common/national_focus/ireland.txt
  interface/mdult_inf.gfx
  interface/mdult_land.gfx
  localisation/english/MD_focus_IRE_l_english.yml
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Decision_pic fix
  interface/MD_decisions_desc_gfx.gfx
  localisation/english/MD_NATO_events_l_english.yml
  localisation/english/MD_focus_HEZ_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_IRQ_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Decision_pic fix
  localisation/english/MD_decisions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_techs_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/russian/MD_NATO_events_l_russian.yml
  localisation/russian/MD_War_on_terror_content_l_russian.yml
  localisation/russian/MD_cartel_content_l_russian.yml
  localisation/russian/MD_decisions_l_russian.yml
  localisation/russian/MD_focus_AFG_l_russian.yml
  localisation/russian/MD_focus_ARM_l_russian.yml
  localisation/russian/MD_focus_BOL_l_russian.yml
  localisation/russian/MD_focus_CZE_l_russian.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/russian/MD_focus_HEZ_l_russian.yml
  localisation/russian/MD_focus_HOL_l_russian.yml
  localisation/russian/MD_focus_IRQ_l_russian.yml
  localisation/russian/MD_focus_ISR_l_russian.yml
  localisation/russian/MD_focus_PMR_l_russian.yml
  localisation/russian/MD_focus_SOV_l_russian.yml
  localisation/russian/MD_focus_SUB_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_focus_TUR_l_russian.yml
  localisation/russian/MD_opinion_modifiers_l_russian.yml
  localisation/russian/MD_techs_l_russian.yml
Due: none

Fixed and some other minor issues
  Changelog.txt
  common/buildings/00_buildings.txt
  common/ideas/Singapore.txt
  common/national_focus/bolivia.txt
  common/scripted_triggers/01_raids_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed
  common/special_projects/projects/air_projects.txt
  history/countries/USA - USA.txt
  interface/special_projects/MD_project.gfx
  localisation/english/replace/replaced_from_special_projects_l_english.yml
  tools/find_duplicate_textures.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
