Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Perf Improvements Pt 1 (#3632)
  .claude/docs/ai-strategy-reference.md
  common/collections/collections.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_AI_scripted_effects.txt
  common/scripted_effects/00_faction_goal_effects.txt
  common/scripted_effects/00_resource_storage_effects.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed the final findings -- GUI dirty
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed cleanup
  common/scripted_effects/99_AFG_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  common/national_focus/05_russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Drop the SOV company tooltip chain
  common/decisions/Russia.txt
  common/dynamic_modifiers/99_SOV_dynamic_modifiers.txt
  common/ideas/Subject_Russia.txt
  common/scripted_localisation/99_SOV_scripted_localisation.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

optimising withdrawal treaty
  common/decisions/EU_voting_decisions.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix three validator warnings
  common/national_focus/05_belarus.txt
  common/national_focus/05_russia.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix misleading embargo tooltip on International Organisation Blockade (#3639)
  common/national_focus/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Make the US withdrawal over Taiwan actually take effect (#3638)
  common/ai_strategy/USA.txt
  common/decisions/NATO.txt
  common/decisions/USA.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/01_NATO_effects.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Taiwan embargo tooltip and US withdrawal effects (#3639, #3638) (#3640)
  common/ai_strategy/USA.txt
  common/decisions/NATO.txt
  common/decisions/USA.txt
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/01_NATO_effects.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix staged-mode faction-goal scan reading only staged events
  tools/tests/validation/validate_on_actions_refs_test.py
  tools/validation/validate_on_actions.py
Due: none

trying to improve ai strategies performance
  .claude/docs/ai-strategy-reference.md
  common/ai_strategy/00_area_prioritiy_strategies.txt
  common/ai_strategy/00_market_access.txt
  common/ai_strategy/AST.txt
  common/ai_strategy/BRA.txt
  common/ai_strategy/CAN.txt
  common/ai_strategy/CHI.txt
  common/ai_strategy/DEN.txt
  common/ai_strategy/ENG.txt
  common/ai_strategy/EUU.txt
  common/ai_strategy/GER.txt
  common/ai_strategy/HOL.txt
  common/ai_strategy/IND.txt
  common/ai_strategy/ISIS.txt
  common/ai_strategy/JAP.txt
  common/ai_strategy/MD_combat_ai_strategies.txt
  common/ai_strategy/MD_econ_ai.txt
  common/ai_strategy/Middle East.txt
  common/ai_strategy/SOV.txt
  common/ai_strategy/SPR.txt
  common/ai_strategy/USA.txt
  common/ai_strategy/default.txt
  common/ai_strategy/faction_ai.txt
  common/ai_strategy/naval.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_AI_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing stuff
  common/national_focus/05_belarus.txt
  localisation/english/MD_focus_SUB_l_english.yml
  localisation/english/MD_focus_USR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

quick combat width define change for combat stuff
  common/defines/MD_defines.lua
Due: none

define tweak #2
  common/defines/MD_defines.lua
Due: none

first round of work here
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

even more work
  common/decisions/00_monetary_policy_decisions.txt
  common/decisions/Cartel Decisions.txt
  common/decisions/bankruptcy_decisions.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/01_tfv_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/01_civil_war_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Performance: AI Strategy (#3644)
  .claude/docs/ai-strategy-reference.md
  common/ai_strategy/00_area_prioritiy_strategies.txt
  common/ai_strategy/00_market_access.txt
  common/ai_strategy/AST.txt
  common/ai_strategy/BRA.txt
  common/ai_strategy/CAN.txt
  common/ai_strategy/CHI.txt
  common/ai_strategy/DEN.txt
  common/ai_strategy/ENG.txt
  common/ai_strategy/EUU.txt
  common/ai_strategy/GER.txt
  common/ai_strategy/HOL.txt
  common/ai_strategy/IND.txt
  common/ai_strategy/ISIS.txt
  common/ai_strategy/JAP.txt
  common/ai_strategy/MD_combat_ai_strategies.txt
  common/ai_strategy/MD_econ_ai.txt
  common/ai_strategy/Middle East.txt
  common/ai_strategy/SOV.txt
  common/ai_strategy/SPR.txt
  common/ai_strategy/USA.txt
  common/ai_strategy/default.txt
  common/ai_strategy/faction_ai.txt
  common/ai_strategy/naval.txt
  common/national_focus/05_belarus.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_AI_scripted_effects.txt
  localisation/english/MD_focus_SUB_l_english.yml
  localisation/english/MD_focus_USR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

phase 2 of the implementation
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Check out complete test fixture directories in CI
  .github/workflows/tools-validation.yml
  tools/tests/validation/config_drift_test.py
Due: none

phase 3
  common/decisions/00_political_decisions.txt
  common/ideas/AA_corruption_laws.txt
  common/ideas/AA_law_budget.txt
  common/ideas/AA_law_economics.txt
  common/ideas/AA_law_internal_factions.txt
  common/ideas/AA_law_migration_ideas.txt
  common/ideas/AA_law_military_ideas.txt
  common/ideas/Algerian.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_canada.txt
  common/national_focus/05_comoros.txt
  common/national_focus/05_czech_republic.txt
  common/national_focus/05_france.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_italy.txt
  common/national_focus/05_spain.txt
  common/national_focus/05_syria.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_effects/!_energy_effects.txt
  common/scripted_effects/00_CAN_scripted_effects.txt
  common/scripted_effects/00_budget_effects.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/01_energy_gui.txt
  common/technologies/industry.txt
  events/Central African Republic.txt
  events/Econ_events.txt
  events/Egypt.txt
  events/Internal Faction Events.txt
  events/Senegal.txt
  events/Tajikistan.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes in full
  events/Greece.txt
  events/International Recognition.txt
  events/cartel_events.txt
  events/yugoslavia_events.txt
  gfx/event_pictures/americas/_generic_americas/cartels_caught.dds
  gfx/event_pictures/europe/bosnia - BOS/bosnia_yugo_parade.dds
  gfx/event_pictures/europe/greece - GRE/GRE_political_news.dds
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

lil fix
  events/cartel_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add military equipment guide
  docs/src/content/tutorials/military-tutorial.md
Due: none

Surface the Russian broken economy ideas, drop their scripted loc
  common/ideas/Russian.txt
  common/scripted_localisation/99_SOV_scripted_localisation.txt
  history/countries/SOV - Russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fold the RAO UES penalty into SOV_economy_modifier
  common/ideas/Russian.txt
  common/national_focus/05_russia.txt
  history/countries/SOV - Russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Explain how to remove the Russian economic national spirits
  localisation/english/MD_focus_SOV_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_HKG_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_dm_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Move the Moscow mayor onto a state dynamic modifier
  common/decisions/SubjectsOfRussia.txt
  common/dynamic_modifiers/99_SUB_dynamic_modifiers.txt
  common/ideas/Subject_Russia.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
  events/SubjectRussia.txt
  history/countries/SOV - Russia.txt
  localisation/english/MD_focus_SUB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardise Russia's AI path game rule (#3162)
  common/decisions/Russia.txt
  common/decisions/categories/99_SOV_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_ukraine.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_SOV_scripted_triggers.txt
  events/Russia.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Collapse the Russian federal city modifiers onto variables
  common/decisions/SubjectsOfRussia.txt
  common/dynamic_modifiers/99_SUB_dynamic_modifiers.txt
  common/national_focus/05_ural.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
  common/scripted_triggers/99_SUB_scripted_triggers.txt
  history/countries/SOV - Russia.txt
  localisation/english/MD_focus_SUB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Move the Tatar and Bashkir party modifiers onto the party-change hook
  common/dynamic_modifiers/99_SOV_dynamic_modifiers.txt
  common/dynamic_modifiers/99_SUB_dynamic_modifiers.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Move the Russian political modifiers onto the FRA hook pattern
  common/decisions/Russia.txt
  common/dynamic_modifiers/99_SOV_dynamic_modifiers.txt
  common/national_focus/05_russia.txt
  common/on_actions/99_SOV_on_actions.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  events/Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 99_SUB_dynamic_modifiers.txt
  common/dynamic_modifiers/99_SUB_dynamic_modifiers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Warn on dynamic modifier enable blocks
  tools/tests/validation/validate_modifiers_enable_test.py
  tools/tests/validation/validate_modifiers_test.py
  tools/validation/validate_modifiers.py
Due: none

Document the dynamic modifier enable warning
  .claude/docs/validation-pipeline.md
  common/dynamic_modifiers/README.md
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
