Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Angevin flags
  gfx/flags/AVG_communism.tga
  gfx/flags/AVG_democratic.tga
  gfx/flags/AVG_fascism.tga
  gfx/flags/AVG_nationalist.tga
  gfx/flags/AVG_neutrality.tga
  gfx/flags/medium/AVG_communism.tga
  gfx/flags/medium/AVG_democratic.tga
  gfx/flags/medium/AVG_fascism.tga
  gfx/flags/medium/AVG_nationalist.tga
  gfx/flags/medium/AVG_neutrality.tga
  gfx/flags/small/AVG_communism.tga
  gfx/flags/small/AVG_democratic.tga
  gfx/flags/small/AVG_fascism.tga
  gfx/flags/small/AVG_nationalist.tga
  gfx/flags/small/AVG_neutrality.tga
Due: none

Removed multiple formables rule
  common/decisions/categories/formable_nations.txt
  common/game_rules/00_game_rules.txt
  common/on_actions/999_game_rules_on_actions.txt
  docs/src/content/tutorials/game-rules.md
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed formables highlighted states
  common/decisions/formable_nation_decisions.txt
  localisation/english/MD_formable_nations_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Formable localisation fixes
  localisation/english/MD_formable_nations_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Scop expansion
  .claude/docs/hoi4-data-structures.md
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_diplomatic_actions/01_peace_deal_diplomatic_actions.txt
  common/scripted_diplomatic_actions/02_ai_attach_diplomatic_actions.txt
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
  localisation/english/MD_scripted_diplomatic_actions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on the scope expasion
  .claude/docs/hoi4-data-structures.md
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

thingies before PR
  common/dynamic_modifiers/05_HKG_dynamic_modifiers.txt
  common/ideas/Hong Kong.txt
  common/national_focus/hongkong.txt
  common/scripted_effects/99_HKG_scripted_effects.txt
  common/scripted_triggers/99_HKG_scripted_triggers.txt
  events/Hong Kong.txt
  localisation/english/MD_focus_HKG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Events and more Error log fixes
  common/national_focus/hongkong.txt
  events/Hong Kong.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Audit fixes
  Changelog.txt
  common/decisions/Hong Kong.txt
  common/decisions/categories/hong_kong_decision_categories.txt
  common/dynamic_modifiers/05_HKG_dynamic_modifiers.txt
  common/ideas/Hong Kong.txt
  common/national_focus/hongkong.txt
  common/scripted_effects/99_HKG_scripted_effects.txt
  common/scripted_triggers/99_HKG_scripted_triggers.txt
  events/Hong Kong.txt
  localisation/english/MD_focus_HKG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

AI and filter Improvement
  common/national_focus/hongkong.txt
  events/Hong Kong.txt
  localisation/english/MD_focus_HKG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Validator fixes
  common/decisions/Hong Kong.txt
  common/national_focus/hongkong.txt
  common/opinion_modifiers/China.txt
  common/scripted_effects/99_HKG_scripted_effects.txt
  events/Hong Kong.txt
  localisation/english/MD_ideas_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more validator fixes
  common/decisions/Hong Kong.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Regular update
  .claude/docs/content-guidelines.md
  AGENTS.md
  Changelog.txt
  common/decisions/Political Desicions.txt
  common/decisions/Turkey.txt
  common/decisions/netherlands.txt
  common/factions/goals/faction_goals_short_term.txt
  common/ideas/AA_law_expanded_economics.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  common/national_focus/libya.txt
  common/national_focus/tibesti.txt
  common/opinion_modifiers/Francosphere.txt
  common/raids/drone_strike_raids.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/00_power_ranking_effects.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
  common/scripted_effects/02_pmc_scripted_effects.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
  common/scripted_guis/01_influence_scripted_guis.txt
  common/units/MD_land_units.txt
  docs/src/content/misc/beta-changelogs.md
  events/Armenia.txt
  events/France.txt
  events/Influence.txt
  events/SubjectRussia.txt
  events/netherlands.txt
  localisation/english/MD_focus_FRA_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
  localisation/english/MD_influence_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More cleanup
  Changelog.txt
  common/decisions/netherlands.txt
  common/national_focus/france.txt
  common/on_actions/00_on_actions.txt
  common/raids/drone_strike_raids.txt
  events/Armenia.txt
  events/France.txt
  events/Influence.txt
  events/netherlands.txt
  history/countries/ITA - Italy.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

cleanup: round 2 — case 4, outer-scope, dead code (#1126)
  common/decisions/Afghanistan.txt
  common/decisions/Belarus.txt
  common/decisions/China.txt
  common/decisions/Denmark.txt
  common/decisions/Hezbollah.txt
  common/decisions/Iraq.txt
  common/decisions/libya.txt
  common/decisions/north_korea.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_comoros.txt
  common/national_focus/05_ethiopia.txt
  common/national_focus/05_georgia.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_india.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_liechtenstein.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_san_marino.txt
  common/national_focus/05_singapore.txt
  common/national_focus/china.txt
  common/national_focus/denmark.txt
  common/national_focus/france.txt
  common/national_focus/greece.txt
  common/national_focus/gulf.txt
  common/national_focus/poland.txt
  common/national_focus/spain.txt
  common/national_focus/tajikistan.txt
  common/scripted_effects/!_global_reaction_effects.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  events/Afghanistan.txt
  events/Brazilian.txt
  events/Egypt.txt
  events/Germany.txt
  events/Indian.txt
  events/Iran.txt
  events/Israel_events.txt
  events/Serbia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix: add 17 missing change_influence_percentage = yes calls
  common/decisions/Belarus.txt
  common/national_focus/05_abkhazia.txt
  common/national_focus/05_azerbaijan.txt
  common/national_focus/05_egypt.txt
  common/national_focus/05_georgia.txt
  events/Armenia.txt
  events/Egypt.txt
  events/belarus.txt
  events/netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix: 10 more pre-existing orphan influence setters
  common/decisions/Belarus.txt
  common/decisions/libya.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_netherlands.txt
  common/national_focus/05_singapore.txt
  common/national_focus/tajikistan.txt
  common/national_focus/turkey.txt
  common/on_actions/01_tfv_on_actions.txt
  events/Internal Faction Events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

docs: add changelog entries for influence cleanup branch
  Changelog.txt
Due: none

docs: simplify changelog wording for influence cleanup branch
  Changelog.txt
Due: none

Final cleanup
  common/raids/drone_strike_raids.txt
  common/scripted_effects/00_raid_scripted_effects.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
  events/France.txt
  events/SubjectRussia.txt
  localisation/english/MD_focus_SUB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update hong_kong_decision_categories.txt
  common/decisions/categories/hong_kong_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Duplicate LOC file placed in german folder
  localisation/german/MD_focus_HKG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

loc fixes
  localisation/english/MD_focus_HKG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fix: HEZ Brazil/Colombia influence typo + document c_i_p defaults
  .claude/rules/general-rules.md
  Changelog.txt
  common/decisions/Hezbollah.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize elections enable/disable scripted effects (#628)
  Changelog.txt
  common/decisions/Italy.txt
  common/ideas/Italian.txt
  common/national_focus/05_comoros.txt
  common/national_focus/05_cuba.txt
  common/national_focus/05_ethiopia.txt
  common/national_focus/05_italy.txt
  common/national_focus/06_Commonwealth_Shared.txt
  common/national_focus/gulf.txt
  common/national_focus/korea_north.txt
  common/national_focus/korea_south.txt
  common/scripted_effects/99_ITA_scripted_effects.txt
  events/Brotherhood.txt
  events/Tajikistan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

audit cleanup: FRA eco tooltip, bypass flatten, drone damage simplify
  Changelog.txt
  common/national_focus/france.txt
  common/scripted_effects/00_raid_scripted_effects.txt
  events/France.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Deduplicate plane-loss and AA-defense blocks across non-drone raids
  common/raids/air_raids.txt
  common/raids/cruise_missile_strike.txt
  common/raids/naval_raids.txt
  common/scripted_effects/00_raid_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Deduplicate missile_luck_mod random+multiply across raid tiers
  common/raids/air_raids.txt
  common/raids/cruise_missile_strike.txt
  common/raids/naval_raids.txt
  common/scripted_effects/00_raid_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Extract guarded divide-by-aa-defense helper
  common/raids/air_raids.txt
  common/raids/naval_raids.txt
  common/scripted_effects/00_raid_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fold luck-roll and divide-by-aa into combined building-damage helpers
  common/raids/air_raids.txt
  common/raids/cruise_missile_strike.txt
  common/raids/naval_raids.txt
  common/scripted_effects/00_raid_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Clamp aa_defense >= 1 upstream; drop redundant divide guards
  common/scripted_effects/00_raid_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix for refe
  common/scripted_effects/00_MD_alert_scripted_effect.txt
  interface/Counter_UI.gfx
  localisation/english/MD_alerts_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Save
  history/countries/ENG - United Kingdom.txt
  history/states/1191-East Midlands.txt
  history/states/1195-Aberdenshire.txt
  history/states/14-East of England.txt
  history/states/9-Central Belt.txt
  history/units/ENG_2000_bba.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Placeholders
  gfx/interface/technologies/0_generic/naval/radar_jammer_0.dds
  gfx/interface/technologies/0_generic/naval/tech_anti_drone_laser_6.dds
  interface/equipmentdesignermoduleicons.gfx
  interface/mdult_Naval_Technologies_mtg.gfx
Due: none

Modules
  gfx/interface/technologies/0_generic/naval/CIWS1.dds
  gfx/interface/technologies/0_generic/naval/CIWS8.dds
  gfx/interface/technologies/0_generic/naval/rail_battery_1.dds
  gfx/interface/technologies/0_modules/ship_builder/CIWS1.dds
  gfx/interface/technologies/0_modules/ship_builder/CIWS8.dds
  gfx/interface/technologies/0_modules/ship_builder/JET1_module.dds
  gfx/interface/technologies/0_modules/ship_builder/JET2_module.dds
  gfx/interface/technologies/0_modules/ship_builder/JET3_module.dds
  gfx/interface/technologies/0_modules/ship_builder/JET4_module.dds
  gfx/interface/technologies/0_modules/ship_builder/JET5_module.dds
  gfx/interface/technologies/0_modules/ship_builder/JET6_module.dds
  gfx/interface/technologies/0_modules/ship_builder/tech_module_anti_torpedo_1.dds
  gfx/interface/technologies/0_modules/ship_builder/tech_module_anti_torpedo_2.dds
  gfx/interface/technologies/0_modules/ship_builder/tech_module_anti_torpedo_3.dds
  gfx/interface/technologies/0_modules/ship_builder/tech_module_anti_torpedo_4.dds
  gfx/interface/technologies/0_modules/ship_builder/tech_module_anti_torpedo_5.dds
  gfx/interface/technologies/0_modules/ship_builder/tech_module_anti_torpedo_6.dds
  interface/equipmentdesignermoduleicons.gfx
Due: none

Fixed allowed
  common/decisions/NATO.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
