Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

fxied the bom issues
  common/decisions/05_SWE_decision.txt
  common/decisions/05_comoros_decisions.txt
  common/decisions/05_japan.txt
  common/decisions/Afghanistan.txt
  common/decisions/Algeria.txt
  common/decisions/Armenia.txt
  common/decisions/Belarus.txt
  common/decisions/Bosnia.txt
  common/decisions/Cascadia.txt
  common/decisions/Denmark.txt
  common/decisions/EU_USoE_decisions.txt
  common/decisions/Gulf.txt
  common/decisions/Italy.txt
  common/decisions/New England.txt
  common/decisions/Poland.txt
  common/decisions/Political Desicions.txt
  common/decisions/Southern Republic of America.txt
  common/decisions/Turkey.txt
  common/decisions/bulgaria.txt
  common/decisions/netherlands.txt
  common/raids/categories/raid_categories.txt
  common/scripted_guis/02_conditional_peace_deals_scripted_gui.txt
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

decision fixes
  common/decisions/Greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardizator for MIO Files
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
  tools/standardization/standardize_mio.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

civil war fix
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

1
  common/national_focus/05_algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

e
  common/decisions/Iran.txt
  localisation/english/MD_focus_PER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_ITA_organizations.txt
  common/military_industrial_organization/organizations/MD_ITA_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

US MIO
  common/military_industrial_organization/organizations/MD_USA_organizations.txt
  history/countries/USA - USA.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

In The Navy
  common/decisions/Greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
  localisation/japanese/MD_focus_EU_l_japanese.yml
  localisation/korean/MD_focus_EU_l_korean.yml
  localisation/polish/MD_focus_EU_l_polish.yml
  localisation/russian/MD_focus_EU_l_russian.yml
  localisation/simp_chinese/MD_focus_EU_l_simp_chinese.yml
  localisation/spanish/MD_focus_EU_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed issue #1080
  common/scripted_triggers/99_CZE_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

progress
  interface/Tank_Technologies.gfx
  interface/Technologies.gfx
  interface/plane_modules_icons.gfx
Due: none

Update 99_CZE_scripted_triggers.txt
  common/scripted_triggers/99_CZE_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

pdl gfx defines
  interface/plane_modules_icons.gfx
Due: none

Bug found, both options available
  common/decisions/Czech_Republic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Railguns-Hypersonic Engines
  gfx/interface/technologies/modules/plane_builder/engines/hypersonic_engine_1.dds
  gfx/interface/technologies/modules/plane_builder/engines/hypersonic_engine_2.dds
  gfx/interface/technologies/modules/plane_builder/support/anti_ship_drone_missile_1.dds
  gfx/interface/technologies/modules/plane_builder/support/anti_ship_drone_missile_2.dds
  gfx/interface/technologies/modules/plane_builder/support/anti_ship_drone_missile_3.dds
  gfx/interface/technologies/modules/plane_builder/support/anti_ship_drone_missile_4.dds
  gfx/interface/technologies/modules/plane_builder/weapons/railgun_cannon_1.dds
  gfx/interface/technologies/modules/plane_builder/weapons/railgun_cannon_2.dds
  gfx/interface/technologies/modules/plane_builder/weapons/railgun_cannon_3.dds
Due: none

PDLs
  gfx/interface/technologies/modules/plane_builder/weapons/tech_pdl_1.dds
  gfx/interface/technologies/modules/plane_builder/weapons/tech_pdl_2.dds
  gfx/interface/technologies/modules/plane_builder/weapons/tech_pdl_3.dds
  gfx/interface/technologies/modules/plane_builder/weapons/tech_pdl_4.dds
  gfx/interface/technologies/modules/plane_builder/weapons/tech_pdl_5.dds
  gfx/interface/technologies/modules/plane_builder/weapons/tech_pdl_6.dds
Due: none

tweaks
  common/decisions/Greenland.txt
  common/ideas/Greenlandic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Polish Infantry Equipment - Extended Tech MANPADS'
  gfx/interface/technologies/POL/INF/9K111.dds
  gfx/interface/technologies/POL/INF/9K32.dds
  gfx/interface/technologies/POL/INF/AT2.dds
  gfx/interface/technologies/POL/INF/Grom.dds
  gfx/interface/technologies/POL/INF/JAVELIN.dds
  gfx/interface/technologies/POL/INF/Jack-S.dds
  gfx/interface/technologies/POL/INF/Komar.dds
  gfx/interface/technologies/POL/INF/M102.dds
  gfx/interface/technologies/POL/INF/M198.dds
  gfx/interface/technologies/POL/INF/M777.dds
  gfx/interface/technologies/POL/INF/M801.dds
  gfx/interface/technologies/POL/INF/M987.dds
  gfx/interface/technologies/POL/INF/MANPADS1.dds
  gfx/interface/technologies/POL/INF/MANPADS3.dds
  gfx/interface/technologies/POL/INF/MANPADS5.dds
  gfx/interface/technologies/POL/INF/Piorun.dds
  gfx/interface/technologies/POL/INF/PiorunFG.dds
  gfx/interface/technologies/POL/INF/PiorunNG.dds
  gfx/interface/technologies/POL/INF/Pirat.dds
  gfx/interface/technologies/POL/INF/Spike-LR.dds
  gfx/interface/technologies/SOV/INF/MANPADS6.dds
  gfx/interface/technologies/SOV/INF/MANPADS7.dds
  gfx/interface/technologies/SOV/INF/MANPADS8.dds
  gfx/interface/technologies/SOV/INF/MANPADS9.dds
  gfx/interface/technologies/USA/INF/MANPADS6.dds
  gfx/interface/technologies/USA/INF/MANPADS7.dds
  gfx/interface/technologies/USA/INF/MANPADS8.dds
  gfx/interface/technologies/USA/INF/MANPADS9.dds
  interface/mdult_land.gfx
Due: none

pdl move and helicopter tech gfx
  gfx/interface/technologies/modules/plane_builder/support/tech_pdl_1.dds
  gfx/interface/technologies/modules/plane_builder/support/tech_pdl_2.dds
  gfx/interface/technologies/modules/plane_builder/support/tech_pdl_3.dds
  gfx/interface/technologies/modules/plane_builder/support/tech_pdl_4.dds
  gfx/interface/technologies/modules/plane_builder/support/tech_pdl_5.dds
  gfx/interface/technologies/modules/plane_builder/support/tech_pdl_6.dds
  interface/Tank_Technologies.gfx
  interface/equipmentdesignermoduleicons.gfx
  interface/plane_modules_icons.gfx
Due: none

Add files via upload
  common/units/names_ships/ENG_ship_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update ENG_ship_names.txt
  common/units/names_ships/ENG_ship_names.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Overhaul validation PR reporting + tooling cleanup
  .github/workflows/coding-pipeline.yml
  .github/workflows/tools-validation.yml
  tools/README.md
  tools/generate_validation_report.py
  tools/report_lib/__init__.py
  tools/report_lib/checks_api.py
  tools/report_lib/comment.py
  tools/report_lib/dedupe.py
  tools/report_lib/loader.py
  tools/report_lib/markdown.py
  tools/report_lib/models.py
  tools/report_lib/requirements-dev.txt
  tools/report_lib/tests/__init__.py
  tools/report_lib/tests/checks_api_test.py
  tools/report_lib/tests/comment_test.py
  tools/report_lib/tests/conftest.py
  tools/report_lib/tests/dedupe_test.py
  tools/report_lib/tests/loader_test.py
  tools/report_lib/tests/markdown_test.py
  tools/report_lib/tests/truncation_test.py
  tools/report_lib/truncation.py
  tools/setup.py
  tools/validation/tests/__init__.py
  tools/validation/tests/conftest.py
  tools/validation/tests/report_parsing_test.py
  tools/validation/validate_variables.py
  tools/validation/validator_common.py
  tools/validation/validator_config.yaml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

loc fix
  common/ideas/Greenlandic.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ideas Tweaks
  common/ideas/Greenlandic.txt
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

new decisions
  common/decisions/Greenland.txt
  common/ideas/Greenlandic.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

loc fix
  localisation/english/MD_focus_GRN_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

More work on the United States
  Changelog.txt
  common/ai_strategy/ABK.txt
  common/decisions/USA.txt
  common/decisions/bankruptcy_decisions.txt
  common/scripted_effects/00_budget_effects.txt
  common/scripted_effects/GAH_political_leaders.txt
  common/scripted_localisation/01_SubjectRussia_scripted_localisation.txt
  common/scripted_triggers/99_EU_voting_scripted_triggers.txt
  events/Iraq.txt
  events/United States.txt
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_money_l_english.yml
  tools/validation/validate_decisions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on Foreign Polic y
  common/decisions/USA.txt
  common/ideas/United States.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  events/Iraq.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

hormuz
  common/decisions/Iran.txt
  common/ideas/Iranian.txt
  events/Iran.txt
  history/units/PER_2000_nonnsb.txt
  history/units/PER_2000_nsb.txt
  localisation/english/MD_focus_PER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work on the auto agency upgradeS
  CLAUDE.md
  common/intelligence_agency_upgrades/README.md
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/national_focus/denmark.txt
  common/on_actions/MD_auto_agency_on_actions.txt
  common/scripted_effects/00_mio_scripted_effects.txt
  common/scripted_guis/00_MD_auto_agency_scripted_gui.txt
  common/scripted_localisation/00_MD_auto_agency_scripted_localisation.txt
  interface/MD_auto_agency_queue.gui
  interface/countryintelligenceagencyview.gfx
  localisation/english/MD_auto_agency_l_english.yml
  localisation/english/MD_mio_l_english.yml
  tools/validation/validate_agency_upgrades.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

tweaks
  common/ideas/Greenlandic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on auto agency upgarde and an agency validation
  .claude/rules/general-rules.md
  .github/workflows/coding-pipeline.yml
  .pre-commit-config.yaml
  common/decisions/MD_auto_agency_decisions.txt
  common/decisions/categories/00_cyber_decision_categories.txt
  common/intelligence_agency_upgrades/README.md
  common/intelligence_agency_upgrades/intelligence_agency_upgrades.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_MD_alert_scripted_effect.txt
  common/scripted_effects/00_MD_auto_agency_scripted_effects.txt
  common/scripted_guis/00_MD_alerts_scripted_gui.txt
  common/scripted_guis/00_MD_auto_agency_scripted_gui.txt
  common/scripted_triggers/00_MD_auto_agency_scripted_triggers.txt
  events/MD_auto_agency_events.txt
  localisation/english/MD_alerts_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Diryt variable
  common/on_actions/MD_auto_agency_on_actions.txt
  common/scripted_effects/00_MD_auto_agency_scripted_effects.txt
  common/scripted_guis/00_MD_auto_agency_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

trimmed/slimmed down some stuff
  common/decisions/categories/MERCOSUR_decision_categories.txt
  common/decisions/mercosur_decisons.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/06_MERCOSUR_shared.txt
  common/scripted_effects/05_MERCOSUR_effects.txt
  events/mercosur.txt
  history/countries/ARG - Argentina.txt
  history/countries/BOL - Bolivia.txt
  history/countries/BRA - Brazil.txt
  history/countries/CHL - Chile.txt
  history/countries/COL - Colombia.txt
  history/countries/ECU - Ecuador.txt
  history/countries/GUY - Guyana.txt
  history/countries/MEX - Mexico.txt
  history/countries/PAN - Panama.txt
  history/countries/PAR - Paraguay.txt
  history/countries/PRU - Peru.txt
  history/countries/SUR - Suriname.txt
  history/countries/URG - Uruguay.txt
  history/countries/VEN - Venezula.txt
  localisation/english/MD_focus_MERCOSUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

starting tweaks
  history/countries/GRN - Greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed
  common/decisions/mercosur_decisions.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/06_MERCOSUR_shared.txt
  events/mercosur.txt
  localisation/english/MD_focus_MERCOSUR_l_english.yml
  localisation/japanese/MD_focus_BRA_l_japanese.yml
  localisation/japanese/MD_focus_MERCOSUR_l_japanese.yml
  localisation/japanese/MD_opinion_modifiers_l_japanese.yml
  localisation/japanese/replace/replaced_from_faction_l_japanese.yml
  localisation/japanese/replace/replaced_from_focus_filter_tag_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

political focus tweaks
  common/ideas/Greenlandic.txt
  common/national_focus/greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Mercosur
  common/decisions/mercosur_decisions.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/06_MERCOSUR_shared.txt
  events/mercosur.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed decisions
  common/decisions/Greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
