Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Fix scripted_localisation CI failure: restore JAP dynamic modifier name refs
  localisation/english/MD_focus_JAP_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

rmoved a misc Iranian remove_from_array that doesn't match the rest of the elections
  events/Iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

some fixes
  common/national_focus/05_south_korea.txt
  common/scripted_effects/99_USA_main_scripted_effects.txt
  common/synchronized_dynamic_tokens/MD_tokens.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes for [BUG] Brazil Focus Branch Issues #1491
  common/national_focus/brazil.txt
  localisation/english/MD_focus_BRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Incoming Revolt firing despite no resistance (#2384)
  common/decisions/protests.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove Iran's Shiite oppression opinion on Iraq going Shiite (#2386)
  events/Iraq.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix cyber attacks ignoring target defense rating (#2314)
  common/scripted_effects/00_cyber_effects.txt
  localisation/english/MD_cyberwarfare_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update changelog
  Changelog.txt
Due: none

extended satellite work
  common/decisions/Cheat Decisions.txt
  common/on_actions/MD_missiles_on_actions_history.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_localisation/01_missiles_scripted_localisation.txt
  common/scripted_localisation/01_missiles_scripted_localisation2
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_missiles_models_l_english.yml
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fire Support related unit addition
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Validation: Focus Tree Pt. 4
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_kharkiv.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_kuban.txt
  common/national_focus/05_south_ossetia.txt
  common/national_focus/05_tatarstan.txt
  common/national_focus/05_ukraine.txt
  localisation/english/MD_focus_DPR_LPR_HPR_OPR_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
  localisation/english/MD_focus_SOO_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Fix pre-existing bugs found while validating Pt.4 focus trees
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_tatarstan.txt
  common/national_focus/05_ukraine.txt
  events/Kuban.txt
  events/bashkiria.txt
  tools/standardization/standardize.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix audit findings across the Nordic branch
  Changelog.txt
  common/ai_strategy_plans/SWE_strategy_plans.txt
  common/decisions/05_SWE_decision.txt
  common/national_focus/denmark.txt
  common/national_focus/norway.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/00_power_ranking_effects.txt
  common/scripted_effects/99_DEN_scripted_effects.txt
  common/scripted_effects/99_NRY_scripted_effects.txt
  common/scripted_triggers/99_SWE_scripted_triggers.txt
  events/Denmark.txt
  events/Sweden.txt
  localisation/english/MD_focus_DEN_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Re-intergrating the Corruption System
  common/decisions/99_PHI_decisions.txt
  common/decisions/categories/99_PHI_decision_categories.txt
  common/ideas/PHI_corruption_ideas.txt
  common/ideas/Philippines.txt
  common/scripted_effects/99_PHI_scripted_effects.txt
  common/scripted_localisation/99_PHI_corruption_scripted_loc.txt
  gfx/leaders/PHI/Portrait_Roy_Cimatu.dds
  history/countries/PHI - Philippines.txt
  localisation/english/MD_focus_PHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Updated Army Docs, added/removed techs from Portugal. Localizer changes
  common/doctrines/subdoctrines/land/land_doctrines_combat.txt
  common/doctrines/subdoctrines/land/land_doctrines_dedicated.txt
  common/doctrines/subdoctrines/land/land_doctrines_supporting.txt
  history/countries/POR - Portugal.txt
  history/units/POR_2000_nonnsb.txt
  interface/mdult_inf.gfx
  localisation/braz_por/equipment_l_braz_por.yml
  localisation/english/equipment_l_english.yml
  localisation/french/equipment_l_french.yml
  localisation/german/equipment_l_german.yml
  localisation/japanese/equipment_l_japanese.yml
  localisation/korean/equipment_l_korean.yml
  localisation/polish/equipment_l_polish.yml
  localisation/russian/equipment_l_russian.yml
  localisation/simp_chinese/equipment_l_simp_chinese.yml
  localisation/spanish/equipment_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix: apply building resource modifications for starting technologies and make update variables dynamic
  common/on_actions/00_on_actions.txt
  common/raids/categories/raid_categories.txt
  common/scripted_effects/00_microchip_effects.txt
  events/Turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat(ai): teach AI how to build support and repair ships
  common/ai_equipment/generic_naval.txt
  common/ai_strategy/naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Further refinements
  common/doctrines/subdoctrines/land/land_equipment.txt
  history/countries/POR - Portugal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix review findings from the misc-issues verification pass
  Changelog.txt
  common/decisions/Iran.txt
  common/military_industrial_organization/organizations/MD_ROM_organizations.txt
  common/scripted_effects/99_LBA_scripted_effects.txt
  events/Iran.txt
  events/Iraq.txt
  events/Libya.txt
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update POR - Portugal.txt
  history/countries/POR - Portugal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix audit findings across the Nordic branch
  Changelog.txt
  common/ai_strategy_plans/DEN_strategy_plans.txt
  common/decisions/05_SWE_decision.txt
  common/decisions/Denmark.txt
  common/decisions/Norway.txt
  common/national_focus/denmark.txt
  common/on_actions/99_DEN_on_actions.txt
  common/scripted_effects/99_DEN_scripted_effects.txt
  common/scripted_effects/99_NRY_scripted_effects.txt
  events/Denmark.txt
  events/Sweden.txt
  localisation/english/MD_focus_DEN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix sibling bugs found by the bug-class sweep
  Changelog.txt
  common/national_focus/05_afghanistan.txt
  common/national_focus/05_south_ossetia.txt
  common/national_focus/gulf.txt
  common/national_focus/turkey.txt
  events/Kurdistan.txt
  events/Tajikistan.txt
  events/Turkey.txt
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

[IRQ] Fix the GMCIR civil-war victory leader check
  Changelog.txt
  common/on_actions/00_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Wire event pictures and restore the Strf 9040BILL variant
  common/national_focus/sweden.txt
  events/Norway.txt
  events/Sweden.txt
  localisation/english/MD_focus_SWE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix guard regression and event bugs found reviewing Pt.4 focus trees
  Changelog.txt
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_belarus.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_chechnya.txt
  common/national_focus/05_kharkiv.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_kuban.txt
  common/national_focus/05_south_ossetia.txt
  common/national_focus/05_tatarstan.txt
  common/national_focus/05_ukraine.txt
  events/Kuban.txt
  events/South Ossetia.txt
  events/SubjectRussia.txt
  localisation/english/MD_focus_DPR_LPR_HPR_OPR_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
  localisation/english/MD_focus_SOO_l_english.yml
  localisation/english/MD_focus_SUB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_land_units.txt
  common/units/MD_land_units.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Show bloc-loop effects in focus, decision and event previews
  Changelog.txt
  common/decisions/00_antarctica_decisions.txt
  common/decisions/EU_POTEF_decisions.txt
  common/decisions/USA.txt
  common/decisions/mercosur_decisions.txt
  common/national_focus/05_comoros.txt
  common/national_focus/05_greece.txt
  common/national_focus/05_india.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_singapore.txt
  common/national_focus/centralasia.txt
  common/national_focus/poland.txt
  events/AfricanUnion.txt
  events/MD_Antarctica.txt
  events/Poland.txt
  events/Russia.txt
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_regimental_support.txt
  common/units/MD_regimental_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Bolivia and Ukraine search filters, closing the guard blind spot
  Changelog.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_division_support.txt
  common/units/MD_division_support.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_tank_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

H Autcannon adjustments
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Brazil Focus Tree
  common/characters/BRA.txt
  common/national_focus/brazil.txt
  localisation/english/MD_focus_BRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

enough for today
  common/decisions/Cheat Decisions.txt
  common/scripted_localisation/01_missiles_scripted_localisation.txt
  common/scripted_localisation/01_missiles_scripted_localisation2
  common/scripted_localisation/01_missiles_textures.txt
  interface/MD_countrymissilesview.gfx
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_missiles_models_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

validator loc fix
  localisation/english/MD_missiles_models_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

[pi] Work in progress
  tools/validation/disk_cache.py
  tools/validation/validate_scripted_localisation.py
  tools/validation/validate_scripted_params.py
Due: none

Fix AI guard inversions and gaps found auditing Pt.4
  Changelog.txt
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_chechnya.txt
  common/national_focus/05_kharkiv.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_kuban.txt
  common/national_focus/05_south_ossetia.txt
  common/national_focus/05_tatarstan.txt
  common/national_focus/05_ukraine.txt
  events/Kuban.txt
  events/South Ossetia.txt
  events/SubjectRussia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

[pi] Work in progress
  .github/workflows/coding-pipeline.yml
  .github/workflows/tools-validation.yml
  .github/workflows/validator-cache.yml
  tools/validation/disk_cache.py
  tools/validation/tests/config_drift_test.py
  tools/validation/tests/disk_cache_test.py
  tools/validation/tests/validate_scripted_params_test.py
  tools/validation/validate_history.py
  tools/validation/validate_scripted_localisation.py
  tools/validation/validate_scripted_params.py
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
