Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Define Ka-29 and Mil Mi-8T for renamed OOB consumers
  history/countries/SOV - Russia.txt
  history/units/UZB_2000_nsb.txt
  history/units/VIE_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

battleship
  common/country_leader/defense_company_traits.txt
  common/doctrines/subdoctrines/sea/naval.txt
  common/equipment_groups/mio_equipment_groups.txt
  common/ideas/05_united_kingdom.txt
  common/ideas/Subject_Russia.txt
  common/ideas/zzz_navy_spirits.txt
  common/military_industrial_organization/organizations/MD_generic_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organizations_old.txt
  common/military_industrial_organization/policies/_navy_policies.txt
  common/script_enums.txt
  common/units/MD_naval_units.txt
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/equipment_archetypes.md
  events/United States.txt
  interface/equipmentdesigner/MD_ship_hull_battleship.gui
  interface/military_industrial_organization/zMD_military_industrial_icons.gfx
  localisation/english/MD_techs_l_english.yml
  localisation/english/MD_traits_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix O.E.F. softlock, add Afghan invite-back, rebalance Department of State AI (#4795)
  Changelog.txt
  common/decisions/05_afghanistan.txt
  common/decisions/USA.txt
  common/decisions/categories/99_USA_decision_categories.txt
  common/ideas/united_states.txt
  common/on_actions/99_USA_on_actions.txt
  common/scripted_effects/99_war_on_terror_scripted_effects.txt
  events/Iraq.txt
  events/United States.txt
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_effects/99_GER_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Brazilian real reserve focus and Bitcoin launch event (#4817)
  Changelog.txt
  common/ideas/AA_law_expanded_economics.txt
  common/national_focus/05_brazil.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_currency_effects.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_triggers/00_economic_triggers.txt
  events/00_currency_events.txt
  localisation/english/MD_currency_l_english.yml
  localisation/english/MD_focus_BRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

changelog
  Changelog.txt
Due: none

Lapse the Verteidigungsfall once its threat ends (#4819)
  Changelog.txt
  common/decisions/Germany.txt
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_triggers/99_GER_scripted_triggers.txt
  localisation/english/MD_focus_GER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  common/ideas/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

artillery fixes
  common/technologies/NSB_artillery.txt
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_0.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_1.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_9.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rescale AI focus research weights to 1-10
  .claude/docs/ai-strategy-reference.md
  Changelog.txt
  common/ai_focuses/MD_RAJ.txt
  common/ai_focuses/MD_SOV.txt
  common/ai_focuses/MD_USA.txt
  common/ai_focuses/MD_generic.txt
  common/ai_focuses/README.md
  common/defines/MD_defines.lua
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revert "Merge branch 'main' into tech-standardization-3"
  Changelog.txt
  common/decisions/05_afghanistan.txt
  common/decisions/Germany.txt
  common/decisions/USA.txt
  common/decisions/categories/99_USA_decision_categories.txt
  common/ideas/05_china.txt
  common/ideas/AA_law_expanded_economics.txt
  common/ideas/united_states.txt
  common/national_focus/05_brazil.txt
  common/on_actions/99_USA_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_currency_effects.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_effects/99_war_on_terror_scripted_effects.txt
  common/scripted_triggers/00_economic_triggers.txt
  common/scripted_triggers/99_GER_scripted_triggers.txt
  events/00_currency_events.txt
  events/Iraq.txt
  events/United States.txt
  localisation/english/MD_currency_l_english.yml
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Revert "artillery fixes"
  common/technologies/NSB_artillery.txt
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_0.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_1.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_9.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Document AI research selection and defines in ai_focuses README
  common/ai_focuses/README.md
  common/defines/MD_defines.lua
Due: none

Name the AI research debug commands in ai_focuses README
  common/ai_focuses/README.md
Due: none

Reapply "artillery fixes"
  common/technologies/NSB_artillery.txt
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_0.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_1.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_9.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reapply "Merge branch 'main' into tech-standardization-3"
  Changelog.txt
  common/decisions/05_afghanistan.txt
  common/decisions/Germany.txt
  common/decisions/USA.txt
  common/decisions/categories/99_USA_decision_categories.txt
  common/ideas/05_china.txt
  common/ideas/AA_law_expanded_economics.txt
  common/ideas/united_states.txt
  common/national_focus/05_brazil.txt
  common/on_actions/99_USA_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_currency_effects.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_effects/99_war_on_terror_scripted_effects.txt
  common/scripted_triggers/00_economic_triggers.txt
  common/scripted_triggers/99_GER_scripted_triggers.txt
  events/00_currency_events.txt
  events/Iraq.txt
  events/United States.txt
  localisation/english/MD_currency_l_english.yml
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix UN arms embargo, counter-terror token, Iraq and Afghanistan bugs from the OEM fork (#4824)
  Changelog.txt
  common/decisions/Iraq.txt
  common/scripted_effects/01_international_systems_effects.txt
  events/Counter Terror.txt
  events/Iraq.txt
  events/Middle East Peace Plan.txt
  history/units/AFG_2000_nsb.txt
  tools/tests/un_ai_resolution_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

battleship rename
  common/country_leader/defense_company_traits.txt
  common/doctrines/subdoctrines/sea/naval.txt
  common/equipment_groups/mio_equipment_groups.txt
  common/ideas/05_united_kingdom.txt
  common/ideas/Subject_Russia.txt
  common/ideas/zzz_navy_spirits.txt
  common/military_industrial_organization/organizations/MD_generic_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organizations_old.txt
  common/military_industrial_organization/policies/_navy_policies.txt
  common/script_enums.txt
  common/units/MD_naval_units.txt
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/equipment_archetypes.md
  events/United States.txt
  interface/equipmentdesigner/MD_ship_hull_battleship.gui
  interface/military_industrial_organization/zMD_military_industrial_icons.gfx
  localisation/english/MD_techs_l_english.yml
  localisation/english/MD_traits_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_mtg_ships.txt
  common/units/equipment/MD_mtg_ships.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

dual missile gfx fix
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_0.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_2.dds
  gfx/interface/technologies/0_modules/tank_builder/tech_nsb_dual_role_missile_9.dds
Due: none

dupliated loc
  localisation/english/MD_techs_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

DUAL ROLE MISSILES
  common/decisions/Ukraine.txt
  common/technologies/NSB_anti_air.txt
  common/unit_leader/01_army_leader_traits.txt
  history/countries/CAN - Canada.txt
  interface/Tank_Technologies.gfx
  localisation/english/MD_techs_l_english.yml
  localisation/english/traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Split protest drift into policy rate and interest rate
  Changelog.txt
  common/scripted_effects/00_protests_effects.txt
  interface/MD_protests_system.gui
  localisation/english/MD_better_protests_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Australian commander portraits missing on Linux
  Changelog.txt
  common/scripted_effects/AST_political_leaders.txt
  gfx/leaders/AST/chris_barrie.dds
  gfx/leaders/AST/david_hurley.dds
  gfx/leaders/AST/david_morrison.dds
  gfx/leaders/AST/david_shackleton.dds
  gfx/leaders/AST/mark_evans.dds
  gfx/leaders/AST/peter_cosgrove.dds
  gfx/leaders/AST/peter_leahy.dds
  gfx/leaders/AST/russ_crane.dds
  gfx/leaders/AST/small/david_hurley_small.dds
  gfx/leaders/AST/small/david_morrison_small.dds
  gfx/leaders/AST/small/david_shackleton_small.dds
  gfx/leaders/AST/small/mark_evans_small.dds
  gfx/leaders/AST/small/peter_cosgrove_small.dds
  gfx/leaders/AST/small/peter_leahy_small.dds
  gfx/leaders/AST/small/russ_crane_small.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Rescale AI focus research weights to 1-10 (#4835)
  .claude/docs/ai-strategy-reference.md
  Changelog.txt
  common/ai_focuses/MD_RAJ.txt
  common/ai_focuses/MD_SOV.txt
  common/ai_focuses/MD_USA.txt
  common/ai_focuses/MD_generic.txt
  common/ai_focuses/README.md
  common/defines/MD_defines.lua
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Split protest drift into policy rate and interest rate (#4838)
  Changelog.txt
  common/scripted_effects/00_protests_effects.txt
  interface/MD_protests_system.gui
  localisation/english/MD_better_protests_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Australian commander portraits missing on Linux (#4844)
  Changelog.txt
  common/scripted_effects/AST_political_leaders.txt
  gfx/leaders/AST/chris_barrie.dds
  gfx/leaders/AST/david_hurley.dds
  gfx/leaders/AST/david_morrison.dds
  gfx/leaders/AST/david_shackleton.dds
  gfx/leaders/AST/mark_evans.dds
  gfx/leaders/AST/peter_cosgrove.dds
  gfx/leaders/AST/peter_leahy.dds
  gfx/leaders/AST/russ_crane.dds
  gfx/leaders/AST/small/david_hurley_small.dds
  gfx/leaders/AST/small/david_morrison_small.dds
  gfx/leaders/AST/small/david_shackleton_small.dds
  gfx/leaders/AST/small/mark_evans_small.dds
  gfx/leaders/AST/small/peter_cosgrove_small.dds
  gfx/leaders/AST/small/peter_leahy_small.dds
  gfx/leaders/AST/small/russ_crane_small.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Delete common/decisions/sample_decisions.txt
  common/decisions/sample_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Delete interface/line_graph_sample.gui
  interface/line_graph_sample.gui
Due: none

Delete interface/line_graph_sample.gfx
  interface/line_graph_sample.gfx
Due: none

Fix tab indentation, add zero-guards, and clean sample files
  common/on_actions/md_submod_on_actions.txt
  common/scripted_effects/md_submod_base_overrides.txt
  common/scripted_effects/md_submod_budget_effects.txt
  common/scripted_effects/md_submod_debt_effects.txt
  common/scripted_effects/md_submod_defense_effects.txt
  common/scripted_effects/md_submod_energy_effects.txt
  common/scripted_effects/md_submod_gdp_effects.txt
  common/scripted_effects/md_submod_gdpc_effects.txt
  common/scripted_effects/md_submod_inflation_effects.txt
  common/scripted_effects/md_submod_pop_effects.txt
  common/scripted_effects/md_submod_prod_effects.txt
  common/scripted_effects/md_submod_trade_effects.txt
  common/scripted_guis/md_submod_gdp_sgui.txt
  common/scripted_localisation/md_submod_econ_cycle_loc.txt
  interface/md_submod_budget_graph.gui
  interface/md_submod_debt_graph.gui
  interface/md_submod_defense_graph.gui
  interface/md_submod_energy_graph.gui
  interface/md_submod_gdp_graph.gfx
  interface/md_submod_gdp_graph.gui
  interface/md_submod_gdpc_graph.gui
  interface/md_submod_inflation_graph.gui
  interface/md_submod_pop_graph.gui
  interface/md_submod_prod_graph.gui
  interface/md_submod_trade_graph.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Delete localisation/graph_sample_localisation_l_english.yml
  localisation/graph_sample_localisation_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
