Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

GRN Colonial Subsidy
  common/ideas/Greenlandic.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  history/countries/GRN - Greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  history/countries/GRN - Greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  history/countries/GRN - Greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed constant investments
  history/countries/GRN - Greenland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  common/scripted_localisation/00_subideology_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add files via upload
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixing errors
  common/decisions/Coalition Decisions.txt
  common/on_actions/MD_on_actions.txt
  common/operations/01_operations.txt
  common/raids/drone_strike_raids.txt
  common/raids/special_forces_raids.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

test
  common/on_actions/99_EGY_on_actions.txt
  common/on_actions/99_ENG_on_actions.txt
  common/on_actions/99_ISR_on_actions.txt
  common/on_actions/99_LBA_on_actions.txt
  common/on_actions/99_TUR_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_resource_storage_effects.txt
  common/scripted_localisation/01_missiles_textures.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more game ai stuff pushed
  common/scripted_effects/00_ct_ai_effects.txt
  common/scripted_triggers/00_ct_ai_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed thingies
  common/decisions/Coalition Decisions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

pushing up the last of the ai stuff
  common/decisions/00_cyberwarfare_decisions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_ct_ai_effects.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_effects/00_cyber_ai_effects.txt
  common/scripted_effects/00_cyber_effects.txt
  common/scripted_triggers/00_ct_ai_triggers.txt
  common/scripted_triggers/00_cyber_triggers.txt
  events/CyberWarfare.txt
  events/International Recognition.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

The Great Ice Shelf
  common/dynamic_modifiers/GRN_dynamic_modifiers.txt
  common/ideas/Greenlandic.txt
  history/countries/GRN - Greenland.txt
  localisation/english/MD_focus_GRN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Map leading CTD fix
  common/achievements/MD_achievements.txt
  common/decisions/formable_nation_decisions.txt
  common/scripted_effects/00_startup_effects.txt
  history/countries/PHI - Philippines.txt
  history/states/1230-Metro Manila.txt
  history/states/1233-Western Visayas.txt
  history/states/1234-Mindoro.txt
  history/states/735-Northern Luzon.txt
  history/states/740-Palawan.txt
  map/buildings.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH this should make chimera more resistant against nukes
  resources/Space Rework/00_missiles_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH static ui fix?
  interface/EH_scripted_gui.gui
Due: none

EH more cody stylization
  common/national_focus/EH_generic.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Greenland revamp #3
  common/scripted_triggers/MD_regional_owned_triggers.txt
  common/scripted_triggers/MD_regional_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH dynamic modifiers stylization
  common/national_focus/EH_generic.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH more code styling
  common/dynamic_modifiers/EH_dynamic_modifiers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH stupid window work already
  interface/EH_scripted_gui.gui
Due: none

fixing all the birdplaints, and now it should be good for the REAL bird to review, none of this claude shiz
  common/decisions/00_cyberwarfare_decisions.txt
  common/scripted_effects/00_cyber_ai_effects.txt
  common/scripted_effects/00_cyber_effects.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/International Recognition.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_cyberwarfare_l_english.yml
  localisation/english/replace/replaced_from_operatives_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

improving the on actions cycle
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removing dead flags
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

influence system improvements
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/99_AI_influence_scripted_effects.txt
  common/scripted_localisation/01_influence_scripted_localisation.txt
  common/scripted_triggers/00_influence_scripted_triggers.txt
  events/Influence.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing event issues, adding requirements for nations to not be in civil war to campaign for recog
  common/scripted_effects/00_cyber_ai_effects.txt
  common/scripted_effects/01_recog_ai_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed Netherlands modifiers not being flagged properly
  common/decisions/netherlands.txt
  common/national_focus/05_netherlands.txt
  localisation/english/MD_dm_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

nato GUI additions to make it easier to understand ratification
  common/decisions/NATO.txt
  common/decisions/categories/NATO_decision_categories.txt
  common/scripted_guis/01_nato_scripted_guis.txt
  interface/nato_decision.gui
  localisation/english/MD_NATO_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more ct tweaks and fixes
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adding more nato stuff
  common/decisions/NATO.txt
  common/scripted_guis/01_nato_scripted_guis.txt
  interface/nato_decision.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more nato stuff being added here
  common/scripted_guis/01_nato_scripted_guis.txt
  interface/nato_decision.gui
  localisation/english/MD_NATO_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing the decision error
  common/decisions/NATO.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing the nato go boom bug
  common/scripted_effects/01_NATO_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
