Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Drop em dashes from CPD player-facing tooltips
  localisation/english/conditional_peace_deals_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

CPD: tighten tooltips, full money-system integration, em-dash rule
  .claude/docs/pr-conventions.md
  .claude/rules/localisation-rules.md
  common/scripted_localisation/02_conditional_peace_deal_scripted_localisation.txt
  localisation/english/MD_money_l_english.yml
  localisation/english/conditional_peace_deals_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

CPD: 3 audit fixes (econ_temp mismatch, liberate filter, orphans)
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_localisation/02_conditional_peace_deal_scripted_localisation.txt
  localisation/english/conditional_peace_deals_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

CPD: fix three deferred edge cases
  common/ideas/02_peace_deal_ideas.txt
  common/on_actions/13_conditional_peace_deal_on_actions.txt
  common/scripted_effects/02_peace_deal_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work
  common/on_actions/13_conditional_peace_deal_on_actions.txt
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_localisation/02_conditional_peace_deal_scripted_localisation.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
  localisation/english/conditional_peace_deals_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

CPD: AI peace offers game rule, scripted GUI CI gate, changelog
  .github/workflows/coding-pipeline.yml
  .github/workflows/tools-validation.yml
  Changelog.txt
  common/game_rules/00_game_rules.txt
  common/on_actions/13_conditional_peace_deal_on_actions.txt
  common/on_actions/999_game_rules_on_actions.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix four bugs: CAN NATO/MEX, JAP Indonesia puppet, JAP Toshiba MIO, SWE MIO names
  common/decisions/categories/NATO_decision_categories.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
  common/national_focus/05_canada.txt
  common/on_actions/99_JAP_on_actions.txt
  events/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

CAN focus tree: fix 34 log messages, improve AI weights for key branches
  common/national_focus/05_canada.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

CAN: review fixes + historical AI pass for remaining branching points
  common/national_focus/05_canada.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

CAN: fix 3 set_temp_Variable typos, economic AI weights, MEX guard
  common/national_focus/05_canada.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More simplifictation and misc simplifiactions
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
  events/agricultural_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

CAN: fix bugs in decisions, events, and scripted effects
  common/decisions/Canada.txt
  common/scripted_effects/00_CAN_scripted_effects.txt
  events/Canada.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

CAN: fix log typo, faction ordering in draw_in_mexico
  common/national_focus/05_canada.txt
  events/Canada.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Convert remaining building helpers to every_owned_controlled_state pattern
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ISR: fix Golan transfer reversed by focus reward; SER: fix Montenegro mission unfailable
  common/decisions/Serbia.txt
  events/Israel_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix peace deal exploits: demilitarize repeat, puppet concessions, faction strength inflation (#1348)
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_guis/02_conditional_peace_deals_scripted_gui.txt
  common/scripted_localisation/02_conditional_peace_deal_scripted_localisation.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
  localisation/english/conditional_peace_deals_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Revert Japan Toshiba fix
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/on_actions/99_JAP_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Updated defense companies for Sweden to use the right icon
  common/ideas/zz_defence_companies.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes and Loc
  common/scripted_guis/99_NKO_scripted_guis.txt
  interface/Counter_UI.gfx
  interface/MD_decisions.gfx
  localisation/braz_por/MD_focus_NKO_l_braz_por.yml
  localisation/english/MD_NKO_spa_l_english.yml
  localisation/english/MD_alerts_l_english.yml
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

1
  localisation/english/MD_alerts_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix foreign investment not constructing buildings (#1287)
  common/decisions/investments_decisions.txt
  common/scripted_effects/99_investment_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for foreign investment fix (#1287)
  Changelog.txt
Due: none

WIP unique mechanic
  common/national_focus/hongkong.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix IKR revolt spawning zero divisions (#877)
  common/ideas/IKR.txt
  common/scripted_effects/99_PER_scripted_effects.txt
  history/countries/IKR - Iranian Kurdistan.txt
  localisation/english/MD_focus_PER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Save (bugged)
  history/countries/ENG - United Kingdom.txt
  history/states/1192-North Wales.txt
  history/units/ENG_2000_bba.txt
  history/units/ENG_2000_nsb.txt
  history/units/JAP_2000_bba.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

remove extra spaces, lines
  common/ideas/Ukrainian.txt
  common/military_industrial_organization/organizations/MD_UKR_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed investment decisions
  common/decisions/investments_decisions.txt
  common/scripted_effects/00_subideology_scripted_effects.txt
  common/scripted_effects/99_investment_scripted_effects.txt
  localisation/english/MD_investments_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

removed investment debug log
  common/scripted_effects/99_investment_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Replaced effects of couple of focusses
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More work
  common/scripted_effects/00_missiles_scripted_effects.txt
  events/International Recognition.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More UI improvements
  common/decisions/China.txt
  common/national_focus/05_netherlands.txt
  events/Afghanistan.txt
  events/Serbia.txt
  events/Turkey.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more work on the international systems
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_effects/01_recog_ai_effects.txt
  events/International Recognition.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

restored the scripted effect
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More work on de-spamming
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_effects/01_recog_ai_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/International Recognition.txt
  history/countries/ABK - Abkhazia.txt
  history/countries/AIA - Al-Shabaabya.txt
  history/countries/DPR - Donetsk People's Republic.txt
  history/countries/HAM - Hamas.txt
  history/countries/HEZ - Hezbollah.txt
  history/countries/HOU - Houthi Yemen.txt
  history/countries/KOS - Kosovo.txt
  history/countries/KUR - Kurdistan.txt
  history/countries/LPR - Lugansk People's Republic.txt
  history/countries/NKR - Artsakh.txt
  history/countries/ROJ - Rojava.txt
  history/countries/SOO - South Ossetia.txt
  history/countries/TAL - Afghan Taliban.txt
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

UI updating
  common/scripted_effects/01_international_systems_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix pre-existing undefined idea reference errors blocking CI
  common/decisions/un_voting_decisions.txt
  common/ideas/AA_law_expanded_economics.txt
  common/ideas/netherlands.txt
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_germany.txt
  common/scripted_effects/01_international_systems_effects.txt
  common/scripted_effects/99_ALG_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  events/Algeria.txt
  tools/validation/validate_ideas.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix all validate_ideas.py warnings across common/ideas/
  common/ideas/05_japan.txt
  common/ideas/AA_law_nuclear_ideas.txt
  common/ideas/Algerian.txt
  common/ideas/Belarusian.txt
  common/ideas/Commonwealth.txt
  common/ideas/EU_POTEF_ideas.txt
  common/ideas/Factions.txt
  common/ideas/Georgian.txt
  common/ideas/German.txt
  common/ideas/Indian.txt
  common/ideas/Israeli.txt
  common/ideas/LIT_event_ideas.txt
  common/ideas/PAK_event_ideas.txt
  common/ideas/Russian.txt
  common/ideas/United_Kingdom.txt
  common/ideas/Various.txt
  common/ideas/arab_spirits.txt
  common/ideas/hong_kong.txt
  common/ideas/netherlands.txt
  common/ideas/nigerian.txt
  common/ideas/north_korea.txt
  common/ideas/tribute_ideas.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
