Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Restore influence-status icon on the investment window (#2114)
  common/scripted_guis/01_investment_scripted_gui.txt
  common/scripted_localisation/00_investment_scripted_localisation.txt
  interface/MD_investments.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

resolves #2098
  common/raids/naval_raids.txt
  common/raids/special_forces_raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Slim Changelog.txt entries for special project AI work
  Changelog.txt
Due: none

Simplify Changelog.txt entries further
  Changelog.txt
Due: none

Remove stray brace typo from 6 UK duplicate comments
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Wire up unused generic scientist portraits
  interface/MD_portraits.gfx
Due: none

Consolidate gfx_entry_generator.py into one OS-agnostic script
  tools/README.md
  tools/assets/gfx_entry_generator_gui.py
  tools/gfx_entry_generator.py
  tools/run.py
Due: none

Regenerate goals/ideas/event_pictures via consolidated generator
  interface/MD_eventpictures.gfx
  interface/MD_ideas.gfx
  interface/goals.gfx
  interface/goals_shine.gfx
Due: none

Standardize space program focus bonus and fix UK variable corruption
  common/national_focus/00_generic.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_botswana.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_effects/00_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix corrupted log strings in two more national focuses
  common/national_focus/05_san_marino.txt
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix trailing whitespace/period typos in NEP/JAP leader portrait refs
  common/scripted_effects/JAP_political_leaders.txt
  common/scripted_effects/NEP_political_leaders.txt
  gfx/leaders/JAP/Yuichiro_Tamaki.dds
  gfx/leaders/NEP/Dipendra_of_Nepal.dds
  gfx/leaders/NEP/Krishna_Prasad_Bhattarai.dds
  gfx/leaders/NEP/Paras_Bir_Bikram_Shah_Dev.dds
  gfx/leaders/NEP/Queen_Himani.dds
  gfx/leaders/NEP/Queen_Purnika.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix GEO_negotiate_red_cross granting Botswana's idea
  common/ideas/Georgian.txt
  common/national_focus/05_georgia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix case-typo'd leader portrait references
  common/scripted_effects/BRA_political_leaders.txt
  common/scripted_effects/CAN_political_leaders.txt
  common/scripted_effects/CAS_political_leaders.txt
  common/scripted_effects/EGY_political_leaders.txt
  common/scripted_effects/FRA_political_leaders.txt
  common/scripted_effects/FSA_political_leaders.txt
  common/scripted_effects/IRE_political_leaders.txt
  common/scripted_effects/ITA_political_leaders.txt
  common/scripted_effects/KUW_political_leaders.txt
  common/scripted_effects/KYR_political_leaders.txt
  common/scripted_effects/MEX_political_leaders.txt
  common/scripted_effects/MON_political_leaders.txt
  common/scripted_effects/NRY_political_leaders.txt
  common/scripted_effects/NUS_political_leaders.txt
  common/scripted_effects/NZL_political_leaders.txt
  common/scripted_effects/PAK_political_leaders.txt
  common/scripted_effects/PHI_political_leaders.txt
  common/scripted_effects/SIA_political_leaders.txt
  common/scripted_effects/SYR_political_leaders.txt
  common/scripted_effects/USA_political_leaders.txt
  common/scripted_effects/VEN_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

standardisation
  common/national_focus/03_shared_korea_confederation.txt
  common/national_focus/05_north_korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_north_korea.txt
  common/national_focus/05_north_korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

FRA fix focus names
  localisation/english/MD_focus_FRA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

FRA loc
  localisation/english/MD_focus_FRA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

FRA loc
  common/national_focus/france.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/national_focus/03_joint_korea_confederation.txt
  common/national_focus/03_shared_korea_unified.txt
  common/national_focus/05_north_korea.txt
  common/national_focus/05_south_korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  common/ai_strategy_plans/NKO_strategy_plans.txt
  common/decisions/categories/99_NKO_decision_categories.txt
  common/decisions/north_korea.txt
  common/national_focus/05_north_korea.txt
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/decisions/categories/99_NKO_decision_categories.txt
  common/ideas/Korea.txt
  common/national_focus/05_north_korea.txt
  history/countries/NKO - North Korea.txt
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

lowercasing NKO content
  common/ai_strategy_plans/NKO_strategy_plans.txt
  common/bookmarks/blitzkrieg.txt
  common/decisions/05_japan.txt
  common/decisions/Korea.txt
  common/decisions/categories/99_NKO_decision_categories.txt
  common/decisions/north_korea.txt
  common/dynamic_modifiers/99_KOR_dynamic_modifiers.txt
  common/game_rules/00_game_rules.txt
  common/ideas/Korea.txt
  common/ideas/north_korea.txt
  common/national_focus/03_joint_korea_confederation.txt
  common/national_focus/05_north_korea.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/opinion_modifiers/Korean Conflict.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  common/scripted_guis/99_NKO_scripted_guis.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  common/scripted_localisation/99_NKO_scripted_localisation.txt
  events/Korea.txt
  history/countries/KOR - Korea.txt
  history/countries/NKO - North Korea.txt
  localisation/english/MD_focus_KOR_l_english.yml
  localisation/english/MD_focus_KOR_unified_l_english.yml
  localisation/english/MD_focus_NKO_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

obsolete paths. I facking hate russians
  common/national_focus/03_shared_korea_unified.txt
  common/national_focus/05_north_korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  common/national_focus/05_north_korea.txt
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix loc color false positive, dedup idea gfx, consolidate gfx entries
  gfx/interface/ideas/companies/China/Norinco_CHI.dds
  gfx/interface/ideas/companies/Romania/engesa_company.dds
  gfx/interface/ideas/companies/Spain/Airbus_helicopters.dds
  gfx/interface/ideas/italy/idea_ETH_customs_barrier_ITA.dds
  gfx/interface/ideas/italy/idea_ETH_italian_settlers.dds
  gfx/interface/ideas/japan/idea_jap_supremacy_of_will.dds
  gfx/interface/ideas/philippines/milf_man.dds
  gfx/interface/ideas/politics/idea_gre_schachtplan.dds
  gfx/interface/ideas/politics/idea_gre_schachtplan3.dds
  gfx/interface/ideas/politics/slightly_radical.dds
  gfx/interface/ideas/politics/slightly_reformist.dds
  gfx/interface/ideas/politics/well_balanced.dds
  gfx/interface/ideas/sweden/idea_SWE_coastal_support.dds
  gfx/interface/ideas/sweden/idea_SWE_ga_pa_tactics.dds
  gfx/interface/ideas/ukraine/ukr_ukrenergy_idea.png
  interface/MD_ideas.gfx
  tools/gfx_entry_generator.py
  tools/validation/validate_localisation.py
Due: none

Clean up duplicate icons in the goals and then removed some other misc stuff
  .secrets.baseline
  common/national_focus/05_iran.txt
  gfx/interface/goals/00_align/serbian_bosnia.dds
  gfx/interface/goals/00_alliance/BLR_Integration_processes_post_Soviet.dds
  gfx/interface/goals/00_conflict/attack_x/attack_germany.dds
  gfx/interface/goals/00_conflict/attack_x/attack_germany2.dds
  gfx/interface/goals/00_economy/GER_four_year_plan.dds
  gfx/interface/goals/00_expansion/blr_territorial_claims.dds
  gfx/interface/goals/00_media/blr_wot.dds
  gfx/interface/goals/00_navy/Generic_Naval_Helicopter.dds
  gfx/interface/goals/00_politics/Generic_Urban_Partisans.dds
  gfx/interface/goals/Bosnia/ratko_mladic_jail.dds
  gfx/interface/goals/Bosnia/srpska_improve.dds
  gfx/interface/goals/belarus/BLR_Anti_Corruption.dds
  gfx/interface/goals/france/FRA_Reform_Military_Mass_Mobilization_Volksturm.dds
  gfx/interface/goals/germany/deutsche_bahn.dds
  gfx/interface/goals/india/focus_RAJ_trickle_down_economics.dds
  gfx/interface/goals/india/focus_RAJ_tryst_with_destiny_hand.dds
  gfx/interface/goals/india/focus_RAJ_uranium_tipped_bullets.dds
  gfx/interface/goals/india/focus_RAJ_war_taxes.dds
  gfx/interface/goals/india/focus_RAJ_water_privatization.dds
  gfx/interface/goals/iran/iran_workers_party.dds
  gfx/interface/goals/italy/focus_ETH_the_second_italo_ethiopian_war.dds
  gfx/interface/goals/italy/focus_ITA_the_new_emperor_of_ethiopia.dds
  gfx/interface/goals/italy/focus_SWI_fortify_border_with_italy.dds
  gfx/interface/goals/japan/focus_JAP_expand_coal_islands.dds
  gfx/interface/goals/russia/SOV_nemmeli.dds
  interface/MD_eventpictures.gfx
  interface/MD_ideas.gfx
  interface/MD_intelligence_icons.gfx
  interface/MD_parties_icons.gfx
  interface/goals.gfx
  interface/goals_shine.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

math expressions for blended inflation
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed investment exploit
  common/continuous_focus/generic.txt
  common/on_actions/02_dod_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/99_investment_scripted_effects.txt
  localisation/english/0_energy_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

POL Heavy Utility Vehicles
  gfx/interface/technologies/POL/LAND/HU1.dds
  gfx/interface/technologies/POL/LAND/HU2.dds
  gfx/interface/technologies/POL/LAND/HU3.dds
  gfx/interface/technologies/POL/LAND/HU4.dds
  gfx/interface/technologies/POL/LAND/HU5.dds
  gfx/interface/technologies/POL/LAND/HU6.dds
  gfx/interface/technologies/POL/LAND/HU7.dds
  gfx/interface/technologies/POL/LAND/HU8.dds
  gfx/interface/technologies/POL/LAND/U1.dds
  gfx/interface/technologies/POL/LAND/U2.dds
  gfx/interface/technologies/POL/LAND/U3.dds
  gfx/interface/technologies/POL/LAND/U4.dds
  gfx/interface/technologies/POL/LAND/U5.dds
  gfx/interface/technologies/POL/LAND/U6.dds
  gfx/interface/technologies/POL/LAND/U9.dds
  history/countries/GER - Germany.txt
  interface/mdult_land.gfx
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

POL localisation fixes, modifier tone-downs
  common/ideas/Polish.txt
  common/national_focus/poland.txt
  common/on_actions/99_POL_on_actions.txt
  localisation/english/MD_focus_POL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
