Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Balkan trees: treasury fix, event consolidation, decisions cleanup, Romania variety pass
  Changelog.txt
  common/decisions/05_GRE_decisions.txt
  common/decisions/Romania.txt
  common/decisions/Serbia.txt
  common/decisions/bulgaria.txt
  common/ideas/Serbian.txt
  common/national_focus/05_bulgaria.txt
  common/national_focus/05_greece.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_montenegro.txt
  common/national_focus/05_romania.txt
  common/national_focus/05_serbia.txt
  events/05_bulgaria.txt
  events/Greece.txt
  events/Romania.txt
  events/Serbia.txt
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_BUL_l_english.yml
  localisation/english/MD_focus_GRE_l_english.yml
  localisation/english/MD_focus_ROM_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  common/national_focus/03_china_russia_joint.txt
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_netherlands.txt
  common/national_focus/05_netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/national_focus/05_china.txt
  common/on_actions/99_CHI_on_actions.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 05_china.txt
  events/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 99_CHI_on_actions.txt
  common/on_actions/99_CHI_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

small fix
  common/national_focus/03_benelux_shared.txt
  common/national_focus/05_greece.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more italian work and corrections
  common/decisions/Italy.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_italy.txt
  common/on_actions/07_italy_on_actions.txt
  common/scripted_effects/99_ITA_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed comments
  common/scripted_effects/00_mio_scripted_effects.txt
  common/scripted_effects/99_ITA_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Balkan balance pass: normalize MNT political PP, restore BUL decision gates, trim ROM/KOS outliers
  common/decisions/bulgaria.txt
  common/national_focus/05_kosovo.txt
  common/national_focus/05_montenegro.txt
  common/national_focus/05_romania.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Heavy Frigate fixes
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more works
  .gitignore
  common/decisions/Italy.txt
  common/national_focus/05_italy.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Streamlined math functions for treasury_change
  common/decisions/05_GRE_decisions.txt
  common/decisions/Bolivia.txt
  common/decisions/Denmark.txt
  common/national_focus/05_italy.txt
  common/on_actions/99_TAJ_on_actions.txt
  events/Spain.txt
  events/Tajikistan.txt
  events/United States.txt
  events/raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Streamlined the checks for Tajikstan to simplify the line numbers
  common/ideas/tajik.txt
  common/national_focus/tajikistan.txt
  common/scripted_triggers/99_TAJ_scripted_triggers.txt
  events/Tajikistan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More cleanup and work
  common/ideas/tajik.txt
  common/national_focus/05_italy.txt
  common/national_focus/tajikistan.txt
  common/scripted_triggers/99_TAJ_scripted_triggers.txt
  events/Tajikistan.txt
  events/United States.txt
  events/raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed decision validation
  common/decisions/Country Flag Decisions.txt
  common/decisions/Free States of America.txt
  common/decisions/Iran.txt
  common/decisions/New England.txt
  common/decisions/Republic of Lakota.txt
  common/decisions/Southern Republic of America.txt
  common/decisions/categories/99_PER_decision_categories.txt
  common/national_focus/05_bulgaria.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_DEN_l_english.yml
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_focus_IRQ_l_english.yml
  localisation/english/MD_focus_ISR_l_english.yml
  localisation/english/MD_focus_LBA_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_focus_TAJ_l_english.yml
  localisation/english/MD_focus_UAR_l_english.yml
  localisation/english/MD_focus_UKR_l_english.yml
  tools/validation/validate_decisions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Italy and validation decisiosn
  common/national_focus/05_italy.txt
  tools/validation/validate_decisions.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Counter-Terror overhaul: regional strikes, Caliphate exclusion, AI fixes, temp variable folding
  Changelog.txt
  common/scripted_effects/00_ct_ai_effects.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_effects/00_power_ranking_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/Counter Terror.txt
  localisation/english/MD_War_on_terror_content_l_english.yml
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Simplify Counter-Terror internals
  common/scripted_effects/00_ct_ai_effects.txt
  common/scripted_effects/00_ct_effects.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix regressions found in adversarial review
  common/scripted_effects/00_ct_ai_effects.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra locs
  localisation/english/MD_focus_FRA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Changelog update
  Changelog.txt
Due: none

Fix Bug
  history/units/CHI_2000_bba.txt
  history/units/SOV_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Unstarve the CT AI action ladder
  common/scripted_effects/00_ct_ai_effects.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix math expression parse failure in ambition_chance
  .claude/docs/hoi4-data-structures.md
  .claude/docs/simplification-patterns.md
  .claude/rules/general-rules.md
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Guard Danish focus AI against bankruptcy and unstaffable buildings
  common/national_focus/denmark.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add DEN AI behavior game rule with five focus paths
  common/ai_strategy_plans/DEN_strategy_plans.txt
  common/game_rules/00_game_rules.txt
  common/on_actions/999_game_rules_on_actions.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Danish shenangians
  common/ai_strategy_plans/DEN_strategy_plans.txt
  common/national_focus/denmark.txt
  common/on_actions/999_game_rules_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

UK oob
  common/national_focus/05_georgia.txt
  history/units/ENG_2000_nsb.txt
  interface/mdult_land.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_switzerland_focus.txt
  common/national_focus/05_switzerland_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Pre Merge Fix
  AGENTS.md
  common/ai_strategy_plans/SWI_strategy_plans.txt
  common/decisions/05_SWI_decisions.txt
  common/dynamic_modifiers/99_SWI_dynamic_modifiers.txt
  common/ideas/05_switzerland_ideas.txt
  common/military_industrial_organization/organizations/MD_SWI_organizations.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/05_switzerland_focus.txt
  common/opinion_modifiers/SWI_opinion_modifiers.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  events/05_switzerland_events.txt
  events/Switzerland_News.txt
  history/countries/SWI - Switzerland.txt
  interface/MD_ideas.gfx
  interface/goals.gfx
  localisation/braz_por/replace/replaced_from_vanilla_modifiers_l_braz_por.yml
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  common/dynamic_modifiers/99_SWI_dynamic_modifiers.txt
  common/ideas/05_switzerland_ideas.txt
  common/national_focus/05_switzerland_focus.txt
  interface/goals_shine.gfx
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

SWE / NRY AI game rules and plan fixes
  Changelog.txt
  common/ai_strategy_plans/DEN_strategy_plans.txt
  common/ai_strategy_plans/NRY_strategy_plans.txt
  common/ai_strategy_plans/SWE_strategy_plans.txt
  common/game_rules/00_game_rules.txt
  common/ideas/Norwegian.txt
  common/ideas/Swedish.txt
  common/ideas/denmark.txt
  common/national_focus/denmark.txt
  common/national_focus/norway.txt
  common/national_focus/sweden.txt
  common/on_actions/999_game_rules_on_actions.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Nordic AI path coverage and adversarial review fixes
  common/ai_strategy_plans/DEN_strategy_plans.txt
  common/ai_strategy_plans/NRY_strategy_plans.txt
  common/ai_strategy_plans/SWE_strategy_plans.txt
  common/ideas/Norwegian.txt
  common/national_focus/denmark.txt
  common/national_focus/sweden.txt
  common/on_actions/999_game_rules_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Nordic decisions/events cleanup, event consolidation, treaty-gated Danish investments
  common/decisions/05_SWE_decision.txt
  common/decisions/Denmark.txt
  common/decisions/Norway.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_DEN_scripted_effects.txt
  common/scripted_effects/99_NRY_scripted_effects.txt
  common/scripted_triggers/99_DEN_scripted_triggers.txt
  common/scripted_triggers/99_SWE_scripted_triggers.txt
  events/Denmark.txt
  events/Norway.txt
  events/Sweden.txt
  localisation/english/MD_focus_DEN_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Rename shadowed loop variable in CT escalation alerts
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

validator fix
  common/decisions/EU_voting_decisions.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
