Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Extend the Microsoft corporate history with twelve events (#3350)
  common/scripted_effects/99_USA_main_scripted_effects.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Default every country AI path rule to No Path (#3162)
  .claude/skills/country-ai-path/SKILL.md
  .claude/skills/country-ai-path/references/write.md
  common/game_rules/00_game_rules.txt
  tools/analysis/ai_path_report.py
  tools/standardization/apply_ai_path_weights.py
  tools/tests/ai_path_report_test.py
  tools/tests/report_lib/checks_api_test.py
  tools/tests/standardization/apply_ai_path_weights_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/validate_localisation_checks_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Optimize game speed and AI performance in MD_defines.lua (#17)
  common/defines/MD_defines.lua
Due: none

Fixes the SOL AI Behavior case mismathc -- closes #3352
  events/Solomon_Islands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Restore protest tooltip scripted locs and politics UI from #3321
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  common/scripted_localisation/00_protests_scripted_localisation.txt
  interface/MD_countrypoliticsview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Default every country AI path rule to No Path, and cut the skill's token cost (#3162) (#3346)
  .claude/skills/README.md
  .claude/skills/country-ai-path/SKILL.md
  .claude/skills/country-ai-path/references/audit.md
  .claude/skills/country-ai-path/references/write.md
  common/game_rules/00_game_rules.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  common/scripted_localisation/00_protests_scripted_localisation.txt
  events/Solomon_Islands.txt
  interface/MD_countrypoliticsview.gui
  tools/README.md
  tools/analysis/ai_path_report.py
  tools/standardization/README.md
  tools/standardization/apply_ai_path_weights.py
  tools/tests/ai_path_report_test.py
  tools/tests/report_lib/checks_api_test.py
  tools/tests/standardization/apply_ai_path_weights_test.py
  tools/tests/validation/config_drift_test.py
  tools/tests/validation/validate_localisation_checks_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/events_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Wire up and standardise the Estonia AI path game rule (#3162)
  common/ai_strategy/EST.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_estonia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/99_EST_scripted_effects.txt
  common/scripted_triggers/99_EST_scripted_triggers.txt
  events/Estonia.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardise the Ethiopia AI path game rule (#3162)
  common/ai_strategy/ETH.txt
  common/decisions/Ethiopia.txt
  common/decisions/categories/99_ETH_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_ethiopia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_ETH_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardise the Fiji AI path game rule (#3162)
  common/game_rules/00_game_rules.txt
  common/national_focus/05_fiji.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_FIJ_scripted_triggers.txt
  events/Fiji.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/english/MD_focus_POL_l_english.yml
  localisation/simp_chinese/MD_better_protests_l_simp_chinese.yml
  localisation/simp_chinese/MD_currency_l_simp_chinese.yml
  localisation/simp_chinese/MD_decisions_l_simp_chinese.yml
  localisation/simp_chinese/MD_defence_companies_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_AFG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_AST_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_BLR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_BOT_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CAN_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ENG_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_EU_POTEF_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_FRA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_GER_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_GRE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_HOL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ITA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_JAP_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_PHI_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_POL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_RAJ_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ROM_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SAU_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SWE_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SYR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_USA_l_simp_chinese.yml
  localisation/simp_chinese/MD_game_rules_l_simp_chinese.yml
  localisation/simp_chinese/MD_middle_east_content_l_simp_chinese.yml
  localisation/simp_chinese/MD_mio_l_simp_chinese.yml
  localisation/simp_chinese/MD_opinion_modifiers_l_simp_chinese.yml
  localisation/simp_chinese/MD_politics_view_parties_l_simp_chinese.yml
  localisation/simp_chinese/equipment_l_simp_chinese.yml
  localisation/simp_chinese/replace/replaced_from_game_rules_l_simp_chinese.yml
  localisation/simp_chinese/victory_points_l_simp_chinese.yml
Due: validate-localization-encoding, fix-localization-encoding

Standardise the France AI path game rule (#3162)
  common/ai_strategy/FRA.txt
  common/ai_strategy_plans/FRA_strategy_plans.txt
  common/decisions/France.txt
  common/decisions/categories/99_FRA_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_france.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_FRA_scripted_triggers.txt
  events/France.txt
  localisation/english/MD_game_rules_l_english.yml
  tools/standardization/apply_ai_path_weights.py
  tools/tests/standardization/apply_ai_path_weights_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardise the Fiji AI path game rule (#3162) (#3356)
  common/game_rules/00_game_rules.txt
  common/national_focus/05_fiji.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_FIJ_scripted_triggers.txt
  events/Fiji.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Wire up and standardise the Estonia AI path game rule (#3162) (#3354)
  common/ai_strategy/EST.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_estonia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/99_EST_scripted_effects.txt
  common/scripted_triggers/99_EST_scripted_triggers.txt
  events/Estonia.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Standardise the Georgia AI path game rule (#3162)
  common/ai_strategy/GEO.txt
  common/decisions/Georgia.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_georgia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_GEO_scripted_triggers.txt
  events/Georgia.txt
  localisation/english/MD_game_rules_l_english.yml
  tools/standardization/apply_ai_path_weights.py
  tools/tests/standardization/apply_ai_path_weights_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Collapse single-child OR wrappers in the GEO path triggers (#3162)
  common/scripted_triggers/99_GEO_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gate the Ethiopia-Eritrea war strategy on Eritrea being an open target
  common/scripted_triggers/99_ETH_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Wire up and standardise the Ethiopia AI path game rule (#3162) (#3355)
  common/ai_strategy/ETH.txt
  common/decisions/Ethiopia.txt
  common/decisions/categories/99_ETH_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_ethiopia.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_ETH_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add the GPU development history
  common/ideas/00_gpu_development.txt
  common/scripted_effects/00_gpu_development_effects.txt
  common/scripted_effects/00_yearly_effects.txt
  events/00_gpu_development.txt
  localisation/english/MD_gpu_development_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Drop the empty equipment_type block from the Ericsson organization
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Drop the thirty flags the lean port orphaned
  events/00_gpu_development.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix France Unbowed and National Rally AI path dead ends (#3162)
  common/decisions/France.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop the American corporate histories running through the collapse
  common/scripted_effects/99_USA_main_scripted_effects.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Guard the Outcomes Only writes against a collapsed United States
  common/scripted_effects/00_gpu_development_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardise the France AI path game rule (#3162) (#3358)
  common/ai_strategy/FRA.txt
  common/ai_strategy_plans/FRA_strategy_plans.txt
  common/decisions/France.txt
  common/decisions/categories/99_FRA_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_france.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_FRA_scripted_triggers.txt
  events/France.txt
  localisation/english/MD_game_rules_l_english.yml
  tools/standardization/apply_ai_path_weights.py
  tools/tests/standardization/apply_ai_path_weights_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give the Quebec transfer decisions a visible happiness requirement
  common/decisions/Canada.txt
  localisation/english/MD_focus_CAN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Wire up and standardise the Germany AI path game rule (#3162)
  common/ai_strategy/GER.txt
  common/decisions/Germany.txt
  common/decisions/categories/99_GER_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_germany.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_GER_on_actions.txt
  common/scripted_triggers/99_GER_scripted_triggers.txt
  events/Germany.txt
  history/countries/GER - Germany.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Wire up and standardise the Greece AI path game rule (#3162)
  common/ai_strategy/GRE.txt
  common/ai_strategy_plans/GRE_strategy_plans.txt
  common/decisions/Greece.txt
  common/decisions/categories/99_GRE_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_greece.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_GRE_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add an Ericsson military industrial organization for Sweden (#3343)
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
  localisation/english/MD_focus_SWE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give the Quebec transfer decisions a visible happiness requirement (#3362)
  common/decisions/Canada.txt
  localisation/english/MD_focus_CAN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Address conversion audit findings
  common/national_focus/05_bulgaria.txt
  common/scripted_effects/00_MD_politicsview_scripted_effects.txt
  common/scripted_effects/01_civil_war_effects.txt
  common/scripted_guis/00_MD_politicsview_scripted_guis.txt
  common/scripted_triggers/00_MD_politicsview_scripted_triggers.txt
  events/Libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra fix
  common/national_focus/05_france.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stop the American corporate histories running through the collapse (#3361)
  common/scripted_effects/99_USA_main_scripted_effects.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Wire up and standardise the Greenland AI path game rule (#3162)
  common/ai_strategy/GRN.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_greenland.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_GRN_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
