Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Added logs
  events/Zombies.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated changelog
  Changelog.txt
  descriptions/descriptions_EN.txt
Due: none

Fixed a container issues
  events/Zombies.txt
  interface/countrystateview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Cleanup and finalized some of the game rule for zambies
  common/ideas/zombies.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/99_ZOM_on_actions.txt
  common/technologies/custom_tech.txt
  events/Zombies.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/USA - USA.txt
  localisation/english/MD_wars_l_english.yml
  localisation/english/zombie_game_mode_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed some stuff
  common/national_focus/libya.txt
  events/Zombies.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More Comoros work...
  Changelog.txt
  common/country_leader/00_traits.txt
  common/game_rules/00_game_rules.txt
  common/ideas/Comorosian.txt
  common/national_focus/05_comoros.txt
  common/national_focus/iraq2.txt
  common/national_focus/norway.txt
  common/scripted_effects/99_COM_scripted_effects.txt
  events/Italy.txt
  events/Norway.txt
  events/comoros.txt
  history/countries/FRA - France.txt
  localisation/english/MD_focus_African_Union_l_english.yml
  localisation/english/MD_focus_COM_l_english.yml
  localisation/english/MD_focus_NOR_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Oh and madagascar decisions
  common/decisions/10_MAD_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added source
  common/decisions/10_MAD_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

add initial setup for MIO
  common/scripted_effects/00_startup_effects.txt
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updates to sov mios
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update doctrine folder color frames and add UI assets
  common/doctrines/folders/doctrine_folders.txt
  gfx/interface/doctrines/UI/grand_doctrine_frame.dds
  interface/doctrines/doctrines.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix: `FOCUS_FILTER_EQUIPMENT` typo in default focus tree
  Changelog.txt
  common/national_focus/generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add new doctrine UI sprites and update sprite definitions
  gfx/interface/doctrines/UI/doctrine_mastery_backgrounds.dds
  gfx/interface/doctrines/UI/doctrines_chess_piece_bg.dds
  gfx/interface/doctrines/UI/mastery_progress_bar_strip_equipment.dds
  gfx/interface/doctrines/UI/mastery_progress_bar_strip_specialforces.dds
  gfx/interface/doctrines/UI/subdoctrine_button_and_text_frame.dds
  interface/doctrines/doctrines.gfx
Due: none

Add and update doctrine decor icons and references
  common/doctrines/tracks/air.txt
  common/doctrines/tracks/equipment.txt
  gfx/interface/doctrines/UI/doctrines_chess_piece_bg.dds
  gfx/interface/doctrines/window/doctrine_decor_air_cas.dds
  gfx/interface/doctrines/window/doctrine_decor_airmobile.dds
  gfx/interface/doctrines/window/doctrine_decor_apc_ifv.dds
  gfx/interface/doctrines/window/doctrine_decor_artillery.dds
  gfx/interface/doctrines/window/doctrine_decor_equipment.dds
  gfx/interface/doctrines/window/doctrine_decor_infantry.dds
  gfx/interface/doctrines/window/doctrine_decor_mbt.dds
  gfx/interface/doctrines/window/doctrine_decor_motorised.dds
  interface/doctrines/doctrines.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update air doctrine icon frames and doctrine decor images
  common/doctrines/tracks/air.txt
  gfx/interface/doctrines/window/doctrine_decor_airmobile.dds
  gfx/interface/doctrines/window/doctrine_decor_apc_ifv.dds
  gfx/interface/doctrines/window/doctrine_decor_artillery.dds
  gfx/interface/doctrines/window/doctrine_decor_infantry.dds
  gfx/interface/doctrines/window/doctrine_decor_motorised.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add air fighter and bomber doctrine icons
  common/doctrines/tracks/air.txt
  gfx/interface/doctrines/window/doctrine_decor_air_bomber.dds
  gfx/interface/doctrines/window/doctrine_decor_air_fighter.dds
  interface/doctrines/doctrines.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update air doctrine icons and graphics
  common/doctrines/tracks/air.txt
  gfx/interface/doctrines/window/doctrine_decor_air_cas.dds
  gfx/interface/doctrines/window/doctrine_decor_air_fighter.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

finish SOV setup for MIOs
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

start the USA mio setup
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_startup_effects.txt
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

gitignore fix
  .gitignore
Due: none

CZE small fix
  common/decisions/Czech_Republic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

CZE indents
  common/decisions/Czech_Republic.txt
  common/decisions/categories/czech_republic.txt
  common/scripted_effects/99_CZE_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refactored the Init Relations Script
  Changelog.txt
  common/on_actions/00_on_actions.txt
  events/Init_Relations.txt
  history/countries/AST - Australia.txt
  history/countries/CAN - Canada.txt
  history/countries/CHI - China.txt
  history/countries/EGY - Egypt.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/GER - Germany.txt
  history/countries/HEZ - Hezbollah.txt
  history/countries/IRQ - Iraq.txt
  history/countries/ISR - Israel.txt
  history/countries/JAP - Japan.txt
  history/countries/JOR - Jordan.txt
  history/countries/KAZ - Kazakhstan.txt
  history/countries/KOR - Korea.txt
  history/countries/LEB - Lebanon.txt
  history/countries/PER - Iran.txt
  history/countries/QAT - Qatar.txt
  history/countries/RAJ - India.txt
  history/countries/SAU - Saudi Arabia.txt
  history/countries/SYR - Syria.txt
  history/countries/TAI - Taiwan.txt
  history/countries/UAE - United Arab Emirates.txt
  history/countries/USA - USA.txt
  history/countries/YEM - Yemen.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

SHA leaders
  common/characters/SHA.txt
  common/scripted_effects/SHA_political_leaders.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  gfx/leaders/SHA/SHA_abba_ali_hamudi.dds
  gfx/leaders/SHA/SHA_addah_al_bendir.dds
  gfx/leaders/SHA/SHA_lahbib_ayoub.dds
  gfx/leaders/SHA/SHA_sidi_ouagal.dds
  gfx/leaders/SHA/desktop.ini
  gfx/leaders/SHA/small/SHA_abba_ali_hamudi.dds
  gfx/leaders/SHA/small/SHA_addah_al_bendir.dds
  gfx/leaders/SHA/small/SHA_hamma_salama.dds
  gfx/leaders/SHA/small/SHA_sidi_ouagalRecovered.dds
  gfx/leaders/SHA/small/desktop.ini
  history/countries/SHA - Sahrawi.txt
  history/units/SHA_2000_nonnsb.txt
  history/units/SHA_2000_nsb.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

add more us mios
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Removed too many tanks
  gfx/models/units/tanks/USA/USA_SPG_M109.dds
  gfx/models/units/tanks/USA/USA_SPG_M109.dds_hcm.swatch
  gfx/models/units/tanks/USA/USA_SPG_M109.mesh
  gfx/models/units/tanks/USA/USA_SPG_M109_attack.anim
  gfx/models/units/tanks/USA/USA_SPG_M109_idle.anim
  gfx/models/units/tanks/USA/USA_SPG_M109_moving.anim
  gfx/models/units/tanks/USA/USA__animation_tanks.asset
Due: none

USA tanks fix
  gfx/models/units/tanks/USA/USA_SPG_M109.dds
  gfx/models/units/tanks/USA/USA_SPG_M109.dds_hcm.swatch
  gfx/models/units/tanks/USA/USA_SPG_M109.mesh
  gfx/models/units/tanks/USA/USA_SPG_M109_attack.anim
  gfx/models/units/tanks/USA/USA_SPG_M109_idle.anim
  gfx/models/units/tanks/USA/USA_SPG_M109_moving.anim
  gfx/models/units/tanks/USA/USA_SPG_M109_support_attack.anim
  gfx/models/units/tanks/USA/USA__animation_tanks.asset
Due: none

added the kee lung destroyer sale
  Changelog.txt
  common/decisions/USA.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/doctrines/subdoctrines/sea/naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Doctrine Fix for Switching Away
  Changelog.txt
  common/doctrines/grand_doctrines/air_doctrine.txt
  common/doctrines/grand_doctrines/land_doctrine.txt
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/grand_doctrines/naval_doctrine.txt
  common/doctrines/grand_doctrines/special_forces.txt
  common/doctrines/subdoctrines/air/air.txt
  common/doctrines/subdoctrines/land/land_doctrines_combat.txt
  common/doctrines/subdoctrines/land/land_doctrines_dedicated.txt
  common/doctrines/subdoctrines/land/land_doctrines_supporting.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_doctrines_scripted_effects.txt
  docs/misc/unique-cheats.md
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Improved the AI for the selections for Grand Doctrines
  Changelog.txt
  common/doctrines/grand_doctrines/air_doctrine.txt
  common/doctrines/grand_doctrines/land_doctrine.txt
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/grand_doctrines/naval_doctrine.txt
  common/doctrines/grand_doctrines/special_forces.txt
  interface/doctrines/doctrines_view.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog for the current main
  docs/changelogs.md
Due: none

i added this without Permission
  common/game_rules/00_game_rules.txt
  common/on_actions/999_game_rules_on_actions.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix the has_doctrine
  common/doctrines/grand_doctrines/air_doctrine.txt
  common/doctrines/grand_doctrines/land_doctrine.txt
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/grand_doctrines/naval_doctrine.txt
  common/doctrines/grand_doctrines/special_forces.txt
  common/doctrines/subdoctrines/air/air.txt
  common/doctrines/subdoctrines/land/land_doctrines_combat.txt
  common/doctrines/subdoctrines/land/land_doctrines_dedicated.txt
  common/doctrines/subdoctrines/land/land_doctrines_supporting.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/doctrines/subdoctrines/sea/naval.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_doctrines_scripted_effects.txt
  common/scripted_triggers/00_doctrines_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog
  Changelog.txt
  docs/changelogs.md
Due: none

fixed naval doctrines
  common/doctrines/subdoctrines/sea/naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed an interface
  Changelog.txt
Due: none

Fixed
  docs/misc/unique-cheats.md
Due: none

Update doctrines_chess_piece_bg.dds
  gfx/interface/doctrines/UI/doctrines_chess_piece_bg.dds
Due: none
