Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Raid improvements
  common/defines/MD_defines.lua
  common/scripted_triggers/01_raids_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Inline Ideological Powers modifier refs, drop scripted localisation
  Changelog.txt
  common/scripted_localisation/01_subparty_policies_scripted_localisation.txt
  localisation/english/MD_country_politics_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/dynamic_modifiers/05_benelux.txt
  common/on_actions/00_on_actions.txt
  common/technology_sharing/00_tech_sharing_groups.txt
  localisation/braz_por/replace/replaced_from_vanilla_modifiers_l_braz_por.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
  localisation/french/replace/replaced_from_vanilla_modifiers_l_french.yml
  localisation/german/replace/replaced_from_vanilla_modifiers_l_german.yml
  localisation/japanese/replace/replaced_from_vanilla_modifiers_l_japanese.yml
  localisation/korean/replace/replaced_from_vanilla_modifiers_l_korean.yml
  localisation/polish/replace/replaced_from_vanilla_modifiers_l_polish.yml
  localisation/russian/replace/replaced_from_vanilla_modifiers_l_russian.yml
  localisation/simp_chinese/replace/replaced_from_vanilla_modifiers_l_simp_chinese.yml
  localisation/spanish/replace/replaced_from_vanilla_modifiers_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Unify Ideological Powers tooltips into one scripted loc per category
  Changelog.txt
  common/scripted_localisation/01_subparty_policies_scripted_localisation.txt
  localisation/english/MD_country_politics_view_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

FRA loc
  localisation/english/MD_focus_FRA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

work
  .claude/settings.json
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/00_titlebar_styles.txt
  common/national_focus/03_benelux_shared.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_public_war_weariness.txt
  common/scripted_effects/HOL_wilders_split.txt
  common/scripted_triggers/05_misc_mechanic_scripted_triggers.txt
  common/scripted_triggers/99_HOL_scripted_triggers.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  common/technology_sharing/00_tech_sharing_groups.txt
  interface/MD_technology_sharing.gfx
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
  tools/gfx_entry_generator.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

change
  common/decisions/Influence Decisions.txt
  common/decisions/netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update influence_decision_category.txt
  common/decisions/categories/influence_decision_category.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

name change
  events/03_benelux.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stupid validator
  Changelog.txt
  common/decisions/Influence Decisions.txt
  localisation/english/MD_focus_HOL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

finshing touches
  common/dynamic_modifiers/05_benelux.txt
  common/national_focus/03_benelux_shared.txt
  localisation/english/MD_dm_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

revert changes
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/game_rules/00_game_rules.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_public_war_weariness.txt
  common/scripted_triggers/05_misc_mechanic_scripted_triggers.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 00_public_war_weariness.txt
  common/scripted_effects/00_public_war_weariness.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update War.txt
  events/War.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix
  common/scripted_effects/00_public_war_weariness.txt
  localisation/braz_por/MD_ideas_l_braz_por.yml
  localisation/french/MD_ideas_l_french.yml
  localisation/german/MD_ideas_l_german.yml
  localisation/japanese/MD_ideas_l_japanese.yml
  localisation/korean/MD_ideas_l_korean.yml
  localisation/polish/MD_ideas_l_polish.yml
  localisation/russian/MD_ideas_l_russian.yml
  localisation/simp_chinese/MD_ideas_l_simp_chinese.yml
  localisation/spanish/MD_ideas_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add autonomous control module for surface combatants (#1833)
  common/special_projects/projects/naval_projects.txt
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/modules/MD_ship_modules.txt
  interface/equipmentdesignermoduleicons.gfx
  localisation/english/MD_techs_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt for #1833
  Changelog.txt
Due: none

Fix armor MIO policies not matching mio_cat_all_armor group (#2129)
  common/military_industrial_organization/policies/_land_policies.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update changelog for #2129 armor MIO policy fix
  Changelog.txt
Due: none

Fix Japan Taiwan claim decision softlock (#2049)
  common/decisions/05_japan.txt
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add changelog entry for Japan Taiwan claim fix (#2049)
  Changelog.txt
Due: none

Add Rock Island Arsenal artillery MIO for the USA (#2130)
  common/military_industrial_organization/organizations/MD_USA_organizations.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog for Rock Island Arsenal MIO (#2130)
  Changelog.txt
Due: none

Fix USA MIO bonus leakage and no-op tiles (#2122)
  common/military_industrial_organization/organizations/MD_USA_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add changelog entry for USA MIO cleanup (#2122)
  Changelog.txt
Due: none

Update 05_japan.txt
  common/decisions/05_japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix review bugs in Ukraine rework
  common/characters/UKR.txt
  common/decisions/Ukraine.txt
  common/decisions/categories/99_UKR_decision_categories.txt
  common/ideas/Ukrainian.txt
  common/national_focus/05_donetsk.txt
  common/national_focus/05_ukraine.txt
  common/national_focus/Crimea.txt
  common/special_projects/projects/air_projects.txt
  common/unit_medals/MD_default.txt
  events/Ukraine.txt
  history/countries/DPR - Donetsk People's Republic.txt
  history/countries/UKR - Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Updates for Ukrainian Naval OOB
  history/units/UKR_2000_naval_mtg.txt
  localisation/english/MD_leader_descriptions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ukraine rework: resolve flagged validator issues
  common/decisions/Ukraine.txt
  common/decisions/categories/99_UKR_decision_categories.txt
  common/ideas/DPR.txt
  common/ideas/Ukrainian.txt
  common/national_focus/05_donetsk.txt
  common/national_focus/05_ukraine.txt
  common/national_focus/Crimea.txt
  events/Ukraine.txt
  interface/MD_ideas.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Ukraine focuses: add generic content filter to all 449 single-custom search_filters
  common/national_focus/05_ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

FRA LOCS again
  common/national_focus/france.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
