Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Skip staged coverage floors on the tools-tests checkout
  tools/tests/staged_sparse_coverage_test.py
Due: none

e
  common/dynamic_modifiers/99_TUR_dynamic_modifiers.txt
  common/national_focus/05_turkey.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix hidden Korea Vietnam focus
  common/national_focus/05_south_korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Move PMC company unit spawns into 02_pmc_scripted_effects.txt
  common/scripted_effects/02_pmc_scripted_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_artillery.txt
  common/units/equipment/MD_artillery.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Flag create_unit spawns missing start_equipment_factor
  tools/tests/validation/validate_create_unit_test.py
  tools/tests/validation/validate_oob_create_unit_edges_test.py
  tools/validation/validate_oob_units.py
Due: none

Ukraine - Small Update
  Changelog.txt
  common/decisions/Ukraine.txt
  events/Ukraine.txt
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

e
  common/national_focus/05_turkey.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes + Interest Rates Events
  Changelog.txt
  common/decisions/Ukraine.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Ukraine.txt
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_develop_domestic_stuhna_p.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_mig29mu1.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_su25m1.dds
  gfx/interface/decisions/ukraine/icons/decision_icon_UKR_modernize_planes_su27s1m.dds
  history/countries/UKR - Ukraine.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 00_yearly_effects.txt
  common/scripted_effects/00_yearly_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

wwd
  gfx/interface/technologies/CHE/INF/Borz20.dds
  gfx/interface/technologies/CHE/INF/gorza.dds
  gfx/interface/technologies/CHE/INF/gorza2.dds
  gfx/interface/technologies/CHE/INF/m1992.dds
  interface/mdult_inf.gfx
Due: none

Fix China tech crackdown firing right after Ant Group focus (#4091)
  common/national_focus/05_china.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  events/05_china.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add changelog entry for China tech crackdown fix (#4091)
  Changelog.txt
Due: none

Add wish intake forms, wish board workflow, and check-in reminder
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new-country.yml
  .github/ISSUE_TEMPLATE/rework.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/ISSUE_TEMPLATE/team_work.md
  .github/wish-management.md
  .github/workflows/check-in-reminder.yml
  .github/workflows/wish-intake.yml
  CONTRIBUTING.md
Due: none

Point wish intake at the Millennium Dawn Wishes board
  .github/wish-management.md
  .github/workflows/wish-intake.yml
Due: none

Fix coalition drift ideas never being removed (#4088)
  common/scripted_effects/00_ideology_drifts.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

equipment designs for BUL, FRA, POR, USA
  history/countries/BUL - Bulgaria.txt
  history/countries/FRA - France.txt
  history/countries/POR - Portugal.txt
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Record full council mentor list
  .github/wish-management.md
Due: none

Fix AI Hong Kong ignoring historical AI in strategy plans (#4109)
  common/ai_strategy_plans/HKG_strategy_plans.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add changelog entry for Hong Kong historical AI fix (#4109)
  Changelog.txt
Due: none

Fix Poland communist path dead-end after failed coup (#4134)
  common/decisions/Poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Restore Automatic Twin Barrel Mortar special project (#4123)
  common/special_projects/projects/artillery_projects.txt
  common/units/equipment/modules/MD_arty_modules.txt
  interface/artillery_modules_icons.gfx
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add changelog entry for Poland coup fix (#4134)
  Changelog.txt
Due: none

Fix HOL imec focus requiring more microchip plants than the state cap (#4150)
  common/national_focus/05_netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add changelog entry for HOL imec focus fix (#4150)
  Changelog.txt
Due: none

Fix UK Developing Greater London mission target (#4172)
  common/decisions/05_ENG_decisions.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Russian Helicopters MIO trait overlap after consolidation (#4169)
  common/military_industrial_organization/organizations/MD_SOV_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add changelog entry for Russian Helicopters MIO fix (#4169)
  Changelog.txt
Due: none

Standardize party localisation for BAN
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  history/countries/BAN - Bangladesh.txt
  localisation/english/MD_politics_view_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Rebuild the Singapore AI path game rule (#3162)
  common/ai_strategy/SIN.txt
  common/ai_strategy_plans/SIN_strategy_plans.txt
  common/decisions/Singapore.txt
  common/decisions/categories/99_SIN_decision_categories.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/05_singapore.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_triggers/99_SIN_scripted_triggers.txt
  events/Singapore.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add country names validator (#4144)
  .claude/docs/validation-pipeline.md
  common/names/00_names.txt
  tools/tests/validation/validate_country_names_test.py
  tools/tests/validation/validator_batches_test.py
  tools/validation/README.md
  tools/validation/validate_country_names.py
  tools/validation/validator_batches.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add changelog entry for country names validator (#4144)
  Changelog.txt
Due: none

Rewrite BAN party descriptions in the ENG/HOL register
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Replace CHI_TAI_pro_china_networks_active flag with has_completed_focus
  common/decisions/05_CHI_decisions.txt
  common/national_focus/05_china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize 05_netherlands.txt
  common/national_focus/05_netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize 05_ENG_decisions.txt
  common/decisions/05_ENG_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Standardize MD_SOV_organizations.txt (#4169)
  common/military_industrial_organization/organizations/MD_SOV_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Replace HOL_gkn_aerospace_unlocked flag with has_completed_focus
  common/military_industrial_organization/organizations/MD_HOL_organizations.txt
  common/national_focus/05_netherlands.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Make disk cache rehome test path-separator neutral
  tools/tests/validation/disk_cache_test.py
Due: none

Replace focus-set party loc flags with has_completed_focus
  common/national_focus/05_algeria.txt
  common/national_focus/05_armenia.txt
  common/national_focus/05_denmark.txt
  common/national_focus/05_egypt.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_japan.txt
  common/national_focus/05_romania.txt
  common/national_focus/05_serbia.txt
  common/national_focus/turkey.txt
  common/scripted_effects/ARM_political_leaders.txt
  common/scripted_effects/TUR_political_leaders.txt
  common/scripted_localisation/00_MD_politicsview_scripted_localisation.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
