Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

stuff
  common/decisions/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  common/on_actions/99_ENG_on_actions.txt
  common/scripted_guis/ENG_British_guis.txt
  interface/ENG_British_guis.gui
  interface/MD_ENG_decisions.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

contont
  common/countries/cosmetic.txt
  common/national_focus/05_united_kingdom.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

right tree
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/national_focus/JAP.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

POL allow branch cleanup
  common/national_focus/poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes and additions
  common/decisions/Algeria.txt
  common/decisions/categories/99_ALG_decision_categories.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

this turned into me just tighetning the code for this flat across the board
  common/ai_strategy/SIL.txt
  common/ai_strategy/Warsaw Pact.txt
  common/autonomous_states/MD_russian_autonomies.txt
  common/decisions/Russia.txt
  common/decisions/SubjectsOfRussia.txt
  common/ideas/Factions.txt
  common/ideas/Russian.txt
  common/national_focus/russia.txt
  common/on_actions/99_SOV_on_actions.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  common/scripted_triggers/99_SOV_scripted_triggers.txt
  events/Russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more simplification
  common/decisions/Russia.txt
  common/scripted_triggers/99_SOV_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL f35 influence fix
  common/national_focus/poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work
  common/decisions/99_mp_decisions.txt
  common/decisions/EU_voting_decisions.txt
  common/decisions/GER.txt
  common/decisions/Gulf.txt
  common/ideas/zz_power_ranking.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/99_SOV_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_education_effects.txt
  common/scripted_guis/00_money_scripted_guis.txt
  common/scripted_guis/01_european_union_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

some cleanup
  common/decisions/EU_POTEF_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed more every country
  common/national_focus/gulf.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more cleanup
  common/ai_strategy/LBA.txt
  common/ai_strategy/PMR.txt
  common/decisions/Kurdistan.txt
  common/ideas/Subject_Russia.txt
  common/national_focus/05_canada.txt
  common/national_focus/05_donetsk.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/99_EGY_on_actions.txt
  common/on_actions/99_GER_on_actions.txt
  common/on_actions/99_ISR_on_actions.txt
  common/on_actions/99_KOR_on_actions.txt
  common/on_actions/99_MOR_on_actions.txt
  common/on_actions/99_PER_on_actions.txt
  common/on_actions/99_SYR_on_actions.txt
  common/on_actions/99_TUR_on_actions.txt
  common/scripted_effects/99_ISR_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

additions + fixes
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revert "fix"
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

flags
  gfx/flags/ENG_commonwealth_federation.tga
  gfx/flags/medium/ENG_commonwealth_federation.tga
  gfx/flags/small/ENG_commonwealth_federation.tga
Due: none

e
  gfx/flags/ENG_commonwealth_federation.tga
  gfx/flags/medium/ENG_commonwealth_federation.tga
  gfx/flags/small/ENG_commonwealth_federation.tga
Due: none

Further cleanup on allowed
  common/decisions/categories/00_agrarian_economics_category.txt
  common/decisions/categories/00_education_category.txt
  common/decisions/categories/01_american_decision_categories.txt
  common/decisions/categories/05_SWE_decision_categories.txt
  common/decisions/categories/99_BOS_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more simplifiaction
  common/decisions/bankruptcy_decisions.txt
  common/scripted_effects/00_money_system.txt
  interface/MD_energy_scripted.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

French focus gates
  common/on_actions/99_FRA_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

some backwards fixes
  common/decisions/EU_POTEF_decisions.txt
  common/ideas/Factions.txt
  common/on_actions/99_SOV_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stanadrdized to remove_effect
  common/decisions/Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 00_yearly_effects.txt
  common/scripted_effects/00_yearly_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

e
  gfx/flags/ENG_evil_britain.tga
  gfx/flags/medium/ENG_evil_britain.tga
  gfx/flags/small/ENG_evil_britain.tga
Due: none

stuff
  common/countries/cosmetic.txt
  common/national_focus/05_united_kingdom.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

focus icon
  common/national_focus/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More game rules and work on Warasw pact
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

standardization of code
  common/decisions/United_Kingdom.txt
  common/dynamic_modifiers/Commonwealth_Dynamic_Modifiers.txt
  common/ideas/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/Commonwealth_Shared.txt
  common/scripted_effects/99_CMW_scripted_effects.txt
  localisation/english/MD_focus_CMW_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/replace/replaced_from_focus_filter_tag_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

pushing up the new events
  events/UN_Voting_Events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_dm_modifiers_l_english.yml
  localisation/english/MD_dm_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update 05_united_kingdom.txt
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes for MIO's
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/military_industrial_organization/organizations/MD_JAP_organizations.txt
  common/military_industrial_organization/organizations/MD_NKO_organizations.txt
  common/military_industrial_organization/organizations/MD_RAJ_organizations.txt
  common/military_industrial_organization/organizations/MD_TAI_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  localisation/english/MD_dm_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

added event AI for choices
  common/scripted_effects/01_international_systems_effects.txt
  events/UN_Voting_Events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated docuemtation and included now an ai-modding-guide for local hosting AI
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/dev-resources/ai-modding-guide.md
  docs/dev-resources/code-resource.md
  docs/dev-resources/code-stylization-guide.md
  docs/dev-resources/error-debug-codes.md
  docs/faq.md
  docs/getting-started.md
  docs/player-tutorials/economy-guide.md
  docs/player-tutorials/game-rules.md
Due: none

Fixed a missing code resource
  docs/dev-resources/code-resource.md
Due: none

fixed CLAUDE
  CLAUDE.md
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
