Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Add changelog entry for issue 2745
  Changelog.txt
Due: none

Add Vietnam VPA business reform event
  common/on_actions/99_VIE_on_actions.txt
  events/Vietnam.txt
  localisation/english/MD_focus_VIE_l_english.yml
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Keep Vietnam localisation with ideas
  localisation/english/MD_focus_VIE_l_english.yml
  localisation/english/MD_ideas_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Use military picture for Vietnam reform
  events/Vietnam.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix validation
  common/ideas/05_united_kingdom.txt
  common/raids/carrier_raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

where did those = go
  common/scripted_triggers/01_raids_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Iran landing craft focus progression
  common/national_focus/05_iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Correct MNNA rejection cooldown tooltip
  localisation/english/MD_focus_USA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix Ukrainian election and gas responses
  events/Ukraine.txt
  localisation/english/MD_focus_UKR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Optimize raid notification recipients
  common/opinion_modifiers/Diplomatic.txt
  common/scripted_effects/00_raid_scripted_effects.txt
  events/raids.txt
  localisation/english/MD_military_raids_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Economic Capacity Surplus tooltip info
  Changelog.txt
  localisation/english/replace/replaced_from_constructions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  common/decisions/Korea.txt
  common/national_focus/03_china_north_korea_joint.txt
  history/states/556-Nei Mongol.txt
  history/states/589-Xizang.txt
  history/states/592-Xinjiang.txt
  localisation/english/MD_focus_KOR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Economic Capacity Surplus TT tweak v2
  localisation/english/replace/replaced_from_constructions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Economic capacity surplus tt tweak (#2960)
  Changelog.txt
  localisation/english/replace/replaced_from_constructions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_doctrines_ncns_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Label light-fighter doctrine bonuses correctly (#2953)
  Changelog.txt
  common/doctrines/subdoctrines/air/air.txt
  common/unit_tags/00_categories.txt
  common/units/MD_air_units.txt
  localisation/english/equip_air_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Vietnam VPA business reform event (#2956)
  common/on_actions/99_VIE_on_actions.txt
  events/Vietnam.txt
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix focus, event, and tooltip issues (#2957)
  common/national_focus/05_iran.txt
  events/Ukraine.txt
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Optimize raid notification scope
  common/scripted_effects/00_raid_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Limit raid notifications to allies and neighbors (#2958)
  common/opinion_modifiers/Diplomatic.txt
  common/scripted_effects/00_raid_scripted_effects.txt
  events/raids.txt
  localisation/english/MD_military_raids_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ship Module Improvements (#2944)
  common/ai_equipment/BRA_naval.txt
  common/ai_equipment/generic_naval.txt
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/modules/MD_ship_modules.txt
  interface/equipmentdesigner/MD_ship_hull_attack_submarine.gui
  interface/equipmentdesigner/MD_ship_hull_battlecruiser.gui
  interface/equipmentdesigner/MD_ship_hull_battleship.gui
  interface/equipmentdesigner/MD_ship_hull_carrier.gui
  interface/equipmentdesigner/MD_ship_hull_corvette.gui
  interface/equipmentdesigner/MD_ship_hull_cruiser.gui
  interface/equipmentdesigner/MD_ship_hull_destroyer.gui
  interface/equipmentdesigner/MD_ship_hull_frigate.gui
  interface/equipmentdesigner/MD_ship_hull_helicopter_operator.gui
  interface/equipmentdesigner/MD_ship_hull_missile_submarine.gui
  interface/equipmentdesigner/MD_ship_hull_patrol_boat.gui
  interface/equipmentdesigner/MD_ship_hull_stealth_corvette.gui
  interface/equipmentdesigner/MD_ship_hull_stealth_destroyer.gui
  interface/equipmentdesigner/MD_ship_hull_stealth_frigate.gui
  interface/equipmentdesignermoduleicons.gfx
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Stop zero-strength protest spread
  common/decisions/categories/protests.txt
  common/decisions/protests.txt
  common/scripted_effects/00_protests_effects.txt
  common/scripted_guis/01_expected_spending.txt
  events/protests.txt
  localisation/english/MD_better_protests_l_english.yml
  localisation/english/MD_decisions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing the MIO errors
  common/military_industrial_organization/organizations/MD_SIA_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

MIO Validator Cleanup (#2963)
  common/military_industrial_organization/organizations/MD_SIA_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix pre-existing script bugs
  common/decisions/05_CHI_decisions.txt
  common/decisions/Korea.txt
  common/decisions/protests.txt
  common/national_focus/05_syria.txt
  common/national_focus/05_ukraine.txt
  common/on_actions/99_GRE_on_actions.txt
  events/Algeria.txt
  events/Greece.txt
  events/Nigeria_Niger_Delta.txt
  events/Russia.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_COM_l_english.yml
  localisation/english/MD_focus_ISR_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix pre-existing script bugs from QA (#2964)
  common/decisions/05_CHI_decisions.txt
  common/decisions/Korea.txt
  common/decisions/protests.txt
  common/national_focus/05_syria.txt
  common/national_focus/05_ukraine.txt
  common/on_actions/99_GRE_on_actions.txt
  events/Algeria.txt
  events/Greece.txt
  events/Nigeria_Niger_Delta.txt
  events/Russia.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_COM_l_english.yml
  localisation/english/MD_focus_ISR_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

resolves #2949 , fixes bugs introduced with ship designs requiring missile launchers for missiles, and works on MEP display for tooltipping
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  history/countries/BRA - Brazil.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/GER - Germany.txt
  history/countries/ITA - Italy.txt
  history/countries/PER - Iran.txt
  history/countries/RAJ - India.txt
  history/countries/SOV - Russia.txt
  history/countries/SPR - Spain.txt
  history/countries/USA - USA.txt
  interface/eu.gui
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Archive unused GFX sprites
  interface/MD_RAJ_decision.gfx
  interface/MD_eventpictures.gfx
  interface/MD_parties_icons.gfx
  interface/Technologies.gfx
  interface/mdult_land.gfx
  interface/mdult_missiles.gfx
  resources/misc-graphics/event_pictures/africa/angola - AGL/ANG_jonas_savimbi.dds
  resources/misc-graphics/event_pictures/americas/south_america/argentina - ARG/ARG_generic.dds
  resources/misc-graphics/event_pictures/europe/moldova - MLV/2003_protests.dds
  resources/misc-graphics/event_pictures/europe/moldova - MLV/2009_protests.dds
  resources/misc-graphics/event_pictures/europe/moldova - MLV/2009_protests_news.dds
  resources/misc-graphics/event_pictures/middle_east/hezbollah - HEZ/2006-Border-Raid-Success.dds
  resources/misc-graphics/event_pictures/middle_east/hezbollah - HEZ/2006-Ceasefire.dds
  resources/misc-graphics/event_pictures/middle_east/hezbollah - HEZ/2006-Hezbollah-Defeat.dds
  resources/misc-graphics/event_pictures/middle_east/hezbollah - HEZ/2006-Hezbollah-Victory.dds
  resources/misc-graphics/event_pictures/middle_east/hezbollah - HEZ/2006-Syria-Joining.dds
  resources/misc-graphics/event_pictures/oceania/australia - AST/2002_bali_bombings.dds
  resources/misc-graphics/event_pictures/oceania/australia - AST/2008_aboriginal_apology.dds
  resources/misc-graphics/event_pictures/oceania/australia - AST/2014_flight_mh17.dds
  resources/misc-graphics/event_pictures/oceania/australia - AST/2014_mh17_footage.dds
  resources/misc-graphics/event_pictures/oceania/australia - AST/2014_mh17_jit_investigation.dds
  resources/misc-graphics/event_pictures/oceania/australia - AST/2019_black_summer_bushfires.dds
  resources/misc-graphics/event_pictures/oceania/solomon_islands - SOL/2003_solomon_gun_burning.dds
  resources/misc-graphics/event_pictures/oceania/solomon_islands - SOL/2003_solomon_unrest.dds
  resources/misc-graphics/event_pictures/oceania/solomon_islands - SOL/2023_solomon_china_security.dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/ded_grey/region (1).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/ded_grey/region (4).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/ded_grey/region (8).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/grey/region (1).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/grey/region (4).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/grey/region (8).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/red/region (1).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/red/region (4).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/red/region (8).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/yellow/region (1).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/yellow/region (4).dds
  resources/misc-graphics/interface/scripted_gui/indian_gui/yellow/region (8).dds
  resources/misc-graphics/interface/technologies/ARM/body_armor/body_armor2.dds
  resources/misc-graphics/interface/technologies/ARM/body_armor/body_armor3.dds
  resources/misc-graphics/texticons/parties_icons/armenia/ARM_Nat_Autocracy_wagner.dds
Due: none

Fix nuclear weapons research categories
  common/country_leader/CHI_traits.txt
  common/decisions/Iran.txt
  common/ideas/05_netherlands.txt
  common/ideas/05_united_kingdom.txt
  common/ideas/African.txt
  common/ideas/Iranian.txt
  common/technologies/ballistic_missiles.txt
  common/technologies/industry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

resolves #2947, resolves #2948 in the technologies; it does not appear possible to actually apply these hints in the designer itself, due to how the loc works
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  interface/eu.gui
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_units_l_english.yml
  localisation/english/zombie_game_mode_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Guard nuclear weapons bonuses by DLC
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  common/national_focus/05_germany.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_north_korea.txt
  common/national_focus/05_poland.txt
  common/national_focus/05_thailand.txt
  common/scripted_effects/00_antarctica_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

half a dozen changes
  common/national_focus/05_chechnya.txt
  localisation/english/MD_focus_CHE_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_ideas_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Revert "allow plane_asw_systems on light frames"
  common/units/equipment/MD_plane_airframes.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

requested changes
  common/ai_equipment/USA_plane.txt
  common/ai_equipment/generic_plane.txt
  localisation/braz_por/MD_focus_CHI_l_braz_por.yml
  localisation/french/MD_focus_CHI_l_french.yml
  localisation/german/MD_focus_CHI_l_german.yml
  localisation/japanese/MD_focus_CHI_l_japanese.yml
  localisation/korean/MD_focus_CHI_l_korean.yml
  localisation/polish/MD_focus_CHI_l_polish.yml
  localisation/russian/MD_focus_CHI_l_russian.yml
  localisation/simp_chinese/MD_focus_CHI_l_simp_chinese.yml
  localisation/spanish/MD_focus_CHI_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

ai equipment and module fixes
  common/ai_equipment/CHI_tank.txt
  common/ai_equipment/CRO_tank.txt
  common/ai_equipment/DEN_tank.txt
  common/ai_equipment/GER_tank.txt
  common/ai_equipment/NKO_tank.txt
  common/ai_equipment/PER_tank.txt
  common/ai_equipment/RAJ_tank.txt
  common/ai_equipment/SER_tank.txt
  common/ai_equipment/UKR_tank.txt
  common/ai_equipment/USA_plane.txt
  common/ai_equipment/generic_afv.txt
  common/ai_equipment/generic_plane.txt
  common/ai_equipment/generic_tank.txt
  common/units/equipment/MD_plane_airframes.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_custom_achievements_l_korean.yml
  localisation/korean/MD_custom_achievements_l_korean.yml
Due: none

hide raids on zom and aln
  common/raids/air_raids.txt
  common/raids/carrier_raids.txt
  common/raids/cruise_missile_strike.txt
  common/raids/drone_strike_raids.txt
  common/raids/naval_raids.txt
  common/raids/special_forces_raids.txt
  common/scripted_triggers/01_raids_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
