Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Limit Transport Bay to one per large plane design
  Changelog.txt
  common/units/equipment/MD_plane_airframes.txt
  history/countries/SOV - Russia.txt
  history/countries/UKR - Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Reweight USA treason trunk and election fraud so No Path ahistorical rarely collapses
  Changelog.txt
  common/national_focus/05_usa.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add congressional decisions to ban or re-allow election fraud
  Changelog.txt
  common/decisions/USA.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

R3D drone systems tweaks (#4667)
  Changelog.txt
  common/doctrines/grand_doctrines/air_doctrine.txt
  common/doctrines/subdoctrines/air/air.txt
  common/units/MD_division_support.txt
  common/units/MD_land_units.txt
  common/units/MD_regimental_support.txt
  common/units/equipment/MD_anti_tank.txt
  common/units/equipment/MD_x_plane_airframes.txt
  common/units/equipment/modules/MD_plane_modules.txt
  history/countries/POR - Portugal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Follow sent-event chains in will_lead_to_war_with check
  .claude/docs/bug-patterns.md
  tools/linting/check_common_mistakes.py
  tools/tests/linting/check_common_mistakes_test.py
Due: none

Weight AI reserve-currency picks by ties and issuer health (#4664)
  Changelog.txt
  common/ideas/AA_law_expanded_economics.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_triggers/00_economic_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix debt loan, repay and auto-repay clicks (#4605)
  Changelog.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_guis/00_MD_economyview_scripted_guis.txt
  interface/MD_countryeconomyview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Limit Transport Bay to one per large plane design (#4670)
  Changelog.txt
  common/units/equipment/MD_plane_airframes.txt
  history/countries/SOV - Russia.txt
  history/countries/UKR - Ukraine.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix Spanish influence focus rewards stacking on one country (#4592)
  Changelog.txt
  common/national_focus/05_spain.txt
  tools/tests/validation/influence_calls_test.py
  tools/tests/validation/validator_batches_test.py
  tools/validation/validate_influence_calls.py
  tools/validation/validator_batches.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix PR validation findings
  common/decisions/USA.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Delete TUR_strategy_plans.txt
  common/ai_strategy_plans/TUR_strategy_plans.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_politics_view_parties_l_english.yml
  localisation/english/MD_politics_view_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

More Turkish work
  common/decisions/Turkey.txt
  common/decisions/categories/99_TUR_decision_categories.txt
  common/ideas/Turkish.txt
  common/national_focus/05_turkey.txt
  events/Turkey.txt
  gfx/texticons/parties_icons/turkey/TUR_Nat_Fascism.dds
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

AST party icon and idea tweaks. Changed how focus slots are distributed and calculated. Needs another tweak to check for minor status on startup
  common/ideas/05_Australia.txt
  common/national_focus/05_Australia.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_research_slots_effects.txt
  common/scripted_effects/00_startup_effects.txt
  common/scripted_guis/01_research_scripted_gui.txt
  common/scripted_localisation/01_research_slots_scripted_localisation.txt
  gfx/interface/goals/australia/general_dynamics_eagle_four.dds
  gfx/texticons/parties_icons/australia/AST_Communist_State.dds
  gfx/texticons/parties_icons/australia/AST_conservatism.dds
  localisation/english/MD_tooltips_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

- Update Ukrainian Decisions
  common/decisions/Ukraine.txt
  events/Ukraine.txt
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_develop_domestic_t38_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_kvadrat_2l_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_rokach_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_ryf_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_s125_2d1_for_tooltip.dds
  gfx/interface/decisions/ukraine/decision_text/UKR_desctext_modernize_sov_s125_m1_for_tooltip.dds
  interface/MD_decisions_desc.gfx
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix to startup focus slot distribution
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_research_slots_effects.txt
  common/scripted_effects/00_startup_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Replace older satellites at capacity without wasting launch inventory
  Changelog.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_effects/00_space_automation_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

party icon format fix
  gfx/texticons/parties_icons/australia/AST_conservatism.dds
Due: none

Fix E-2 name
  common/scripted_effects/99_USA_main_scripted_effects.txt
  history/units/EGY_2000_bba.txt
  history/units/FRA_2000_bba.txt
  history/units/JAP_2000_bba.txt
  history/units/SIN_2000_bba.txt
  history/units/TAI_2000_bba.txt
  history/units/USA_2000_bba.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Explain automatic satellite replacement in automation tooltip
  localisation/english/MD_missiles_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Remove empty ISS tab from International Systems
  Changelog.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  common/scripted_localisation/01_international_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Pr. 1134B event
  Changelog.txt
  common/decisions/Russia.txt
  events/Russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

decisions
  common/decisions/USA.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixing Validator issues
  common/decisions/Ukraine.txt
  events/Ukraine.txt
  interface/MD_decisions_desc.gfx
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Reweight USA treason trunk and election fraud so No Path ahistorical rarely collapses (#4671)
  Changelog.txt
  common/decisions/USA.txt
  common/national_focus/05_usa.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update NKO - North Korea.txt
  history/countries/NKO - North Korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix influence validator duplication and target assignment checks
  tools/tests/validation/dynamic_modifier_guards_test.py
  tools/tests/validation/influence_calls_test.py
  tools/validation/guard_scan.py
  tools/validation/validate_dynamic_modifier_guards.py
  tools/validation/validate_influence_calls.py
Due: none

Fix event definition parsing and bounded war-chain traversal
  tools/linting/check_common_mistakes.py
  tools/tests/linting/check_common_mistakes_test.py
Due: none

Fix Spanish influence focus rewards stacking on one country (#4592) (#4676)
  Changelog.txt
  common/national_focus/05_spain.txt
  tools/tests/validation/dynamic_modifier_guards_test.py
  tools/tests/validation/influence_calls_test.py
  tools/tests/validation/validator_batches_test.py
  tools/validation/guard_scan.py
  tools/validation/validate_dynamic_modifier_guards.py
  tools/validation/validate_influence_calls.py
  tools/validation/validator_batches.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Follow sent-event chains in will_lead_to_war_with check (#4674)
  .claude/docs/bug-patterns.md
  tools/linting/check_common_mistakes.py
  tools/tests/linting/check_common_mistakes_test.py
Due: none

Filter Satellite Orbit picker to active owners
  Changelog.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_missiles_scripted_effects.txt
  common/scripted_guis/00_missiles_scripted_guis.txt
  events/missiles_events.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove redundant KUB owner scopes from Kuban focus tree
  common/national_focus/05_kuban.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Use compact flags in Satellite Orbit country picker
  interface/MD_countrymissilesview.gui
Due: none

Clarify satellite fixes in changelog
  Changelog.txt
Due: none

Remove redundant KUB owner scopes from Kuban focus tree (#1) (#4687)
  common/national_focus/05_kuban.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stabilize financial collapse outcomes
  Changelog.txt
  common/decisions/bankruptcy_decisions.txt
  common/scripted_effects/00_currency_effects.txt
  common/scripted_effects/00_economic_system_utilities.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/01_civil_war_effects.txt
  events/Econ_events.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Show Siemens corporate state in a German dashboard
  Changelog.txt
  common/decisions/GER_corporate_systems_dashboard.txt
  common/decisions/categories/99_GER_decision_categories.txt
  common/scripted_localisation/GER_corporate_systems_dashboard_scripted_localisation.txt
  common/scripted_triggers/99_GER_scripted_triggers.txt
  localisation/english/MD_focus_GER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Show ASML's corporate state in a Netherlands dashboard
  Changelog.txt
  common/decisions/HOL_corporate_systems_dashboard.txt
  common/decisions/categories/99_HOL_decisions_categories.txt
  common/scripted_localisation/HOL_corporate_systems_dashboard_scripted_localisation.txt
  common/scripted_triggers/99_HOL_scripted_triggers.txt
  localisation/english/MD_focus_HOL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
