Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Add exclusive STALKER MIO specializations
  common/decisions/STALKER_global_decisions.txt
  common/military_industrial_organization/organizations/99_STALKER_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add artifact-funded STALKER MIO
  common/decisions/STALKER_global_decisions.txt
  common/military_industrial_organization/organizations/99_STALKER_organizations.txt
  localisation/english/MD_STALKER_l_english.yml
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fund further STALKER MIO development with artifacts
  common/decisions/STALKER_global_decisions.txt
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Show STALKER Zone crises on the Targeted Operations package page
  .claude/docs/targeted-operations.md
  common/scripted_effects/99_STALKER_top_effects.txt
  common/scripted_localisation/00_STALKER_scripted_localisation.txt
  common/scripted_triggers/99_STALKER_scripted_triggers.txt
  localisation/english/MD_STALKER_l_english.yml
  localisation/english/MD_targeted_operations_redesign_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

main window revamp and offices overhaul
  common/ideas/EU_ideas.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_localisation/00_EU_scripted_localisation.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  gfx/interface/euro/eu_button_180x50_blue.dds
  gfx/interface/euro/eu_button_180x50_yellow.dds
  gfx/interface/euro/eu_logo_big.dds
  gfx/interface/euro/eu_stars_big.dds
  gfx/interface/tiles/md_tiled_window3_border.dds
  interface/MD_countrytradeview.gfx
  interface/eu.gfx
  interface/eu.gui
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Document STALKER TOP Zone consequences
  Changelog.txt
Due: none

Apply STALKER Zone fallout to successful TOP operations
  .claude/docs/targeted-operations.md
  common/scripted_effects/07_targeted_operations_organization_cases.txt
  common/scripted_effects/08_targeted_operations_resolution.txt
  common/scripted_effects/99_STALKER_top_effects.txt
  localisation/english/MD_STALKER_l_english.yml
  tools/tests/targeted_operations_core_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_currency_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_GER_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_CHI_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add STALKER 2022 outcome routes
  common/scripted_effects/99_STALKER_2022_effects.txt
  common/scripted_effects/99_STALKER_scripted_effects.txt
  events/STALKER.txt
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

gfx fix
  gfx/interface/goals/china/focus_CHI_retake_the_coastal_cities.dds
Due: none

Add STALKER 2022 aftermath crisis
  Changelog.txt
  common/scripted_effects/99_STALKER_aftermath_effects.txt
  events/STALKER.txt
  events/STALKER_aftermath.txt
  localisation/english/MD_STALKER_aftermath_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/russian/MD_currency_l_russian.yml
  localisation/russian/MD_cyberwarfare_l_russian.yml
  localisation/russian/MD_defence_companies_l_russian.yml
  localisation/russian/MD_focus_BLR_l_russian.yml
  localisation/russian/MD_focus_CHI_l_russian.yml
  localisation/russian/MD_focus_CZE_l_russian.yml
  localisation/russian/MD_focus_DEN_l_russian.yml
  localisation/russian/MD_focus_ENG_l_russian.yml
  localisation/russian/MD_focus_EU_POTEF_l_russian.yml
  localisation/russian/MD_focus_EU_USoE_l_russian.yml
  localisation/russian/MD_focus_EU_l_russian.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/russian/MD_focus_ITA_l_russian.yml
  localisation/russian/MD_focus_POL_l_russian.yml
  localisation/russian/MD_focus_SMA_l_russian.yml
  localisation/russian/MD_focus_UKR_l_russian.yml
  localisation/russian/MD_game_rules_l_russian.yml
  localisation/russian/MD_international_l_russian.yml
  localisation/russian/MD_mio_catalog_l_russian.yml
  localisation/russian/MD_techs_l_russian.yml
  localisation/russian/attack_helicopter_modules_l_russian.yml
  localisation/russian/equipment_l_russian.yml
  localisation/russian/tank_modules_l_russian.yml
  localisation/simp_chinese/MD_currency_l_simp_chinese.yml
  localisation/simp_chinese/MD_doctrines_ncns_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_AST_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CHI_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_GER_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_IRQ_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_ITA_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_JAP_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_NKO_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SAU_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_USA_l_simp_chinese.yml
  localisation/simp_chinese/MD_game_rules_l_simp_chinese.yml
  localisation/simp_chinese/MD_wars_l_simp_chinese.yml
  localisation/simp_chinese/events_l_simp_chinese.yml
  localisation/simp_chinese/replace/replaced_from_faction_l_simp_chinese.yml
  localisation/simp_chinese/replace/replaced_from_vanilla_core_l_simp_chinese.yml
  localisation/simp_chinese/zombie_game_mode_l_simp_chinese.yml
Due: none

Fix STALKER aftermath routing after controller changes
  Changelog.txt
  common/on_actions/99_STALKER_on_actions.txt
  common/scripted_effects/99_STALKER_aftermath_effects.txt
  events/STALKER_aftermath.txt
  localisation/english/MD_STALKER_aftermath_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update idea/DPR.txt and Ukrainian.txt
  common/ideas/DPR.txt
  common/ideas/Ukrainian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix STALKER MIO review findings
  common/decisions/STALKER_global_decisions.txt
  common/scripted_effects/00_startup_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 00_money_system.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_decisions_l_english.yml
  localisation/english/MD_decisions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Let a coastal nation with no dockyard take the generic yard focus
  common/national_focus/00_generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Let an empty sea satisfy the invasion launch gate
  common/defines/MD_defines.lua
  common/terrain/00_terrain.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Form patrol task forces from the hulls navies actually own
  common/ai_navy/taskforce/generic_taskforce_templates.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Give a navy with no capital ship a buildable flagship
  common/ai_equipment/zz_MD_flagship_fallback.txt
  common/ai_strategy/MD_flagship_instinct.txt
  common/scripted_triggers/zzz_AI_naval_triggers.txt
  tools/analysis/naval_capital_hull_census.py
  tools/tests/analysis/naval_capital_hull_census_test.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Changelog: AI naval invasions
  Changelog.txt
Due: none

Trim naval AI comments to one-line reasons
  common/ai_equipment/zz_MD_flagship_fallback.txt
  common/ai_navy/taskforce/generic_taskforce_templates.txt
  common/ai_strategy/MD_flagship_instinct.txt
  common/defines/MD_defines.lua
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Iraq black market fix (#4887)
  Changelog.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Coalition forming localization fix (#4889)
  localisation/english/MD_decisions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Reduce Russia's starting inflation to 21.5%
  Changelog.txt
  docs/src/content/resources/data-sources.md
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Apply requested Belarus Iran and Turkey inflation targets
  Changelog.txt
  docs/src/content/resources/data-sources.md
  history/countries/BLR - Belarus.txt
  history/countries/PER - Iran.txt
  history/countries/TUR - Turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix North Korea spirit visibility and rebalance SPA rewards
  Changelog.txt
  common/decisions/05_north_korea.txt
  common/dynamic_modifiers/99_KOR_dynamic_modifiers.txt
  common/ideas/north_korea.txt
  common/national_focus/05_north_korea.txt
  common/scripted_effects/99_NKO_scripted_effects.txt
  events/05_north_korea_events.txt
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Give Belarus its own STALKER Zone gameplay
  Changelog.txt
  common/decisions/STALKER_belarus_decisions.txt
  common/scripted_effects/99_STALKER_belarus_effects.txt
  common/scripted_effects/99_STALKER_international_effects.txt
  events/STALKER.txt
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add the Monolith to the STALKER Zone society
  Changelog.txt
  common/decisions/STALKER_monolith_decisions.txt
  common/scripted_effects/99_STALKER_society_effects.txt
  common/scripted_effects/99_STALKER_xlab_effects.txt
  events/STALKER.txt
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add MDST penetration after the STALKER X-Lab network reveal
  Changelog.txt
  common/decisions/STALKER_mdst_decisions.txt
  common/decisions/categories/00_STALKER_decision_categories.txt
  common/opinion_modifiers/00_STALKER_opinion_modifiers.txt
  common/scripted_effects/99_STALKER_international_effects.txt
  common/scripted_effects/99_STALKER_mdst_effects.txt
  common/scripted_effects/99_STALKER_xlab_effects.txt
  events/STALKER.txt
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add mutants and emission aftermath to STALKER Zones
  Changelog.txt
  common/decisions/STALKER_mutant_decisions.txt
  common/dynamic_modifiers/00_STALKER_dynamic_modifiers.txt
  common/scripted_effects/99_STALKER_mutant_effects.txt
  common/scripted_effects/99_STALKER_scripted_effects.txt
  common/scripted_effects/99_STALKER_society_effects.txt
  events/STALKER.txt
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix: guard STALKER 2022 outcomes
  events/STALKER.txt
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix: repair STALKER MIO lifecycle
  common/decisions/STALKER_global_decisions.txt
  common/military_industrial_organization/organizations/99_STALKER_organizations.txt
  common/scripted_effects/00_startup_effects.txt
  localisation/english/MD_STALKER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
