Repository MillenniumDawn/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

resolves #2981, resolves #2846, resolves #2776, resolves #2620
  common/ai_strategy/TUR.txt
  common/defines/MD_defines.lua
  common/units/equipment/MD_mtg_ships.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes more bugs (#3000)
  common/ai_strategy/TUR.txt
  common/defines/MD_defines.lua
  common/units/equipment/MD_mtg_ships.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Hide dynamic protest flag from mission tooltip
  common/decisions/protests.txt
  localisation/english/MD_decisions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add exhaustion to regional protest spread (#2962)
  common/decisions/categories/protests.txt
  common/decisions/protests.txt
  common/scripted_effects/00_protests_effects.txt
  common/scripted_guis/01_expected_spending.txt
  events/protests.txt
  localisation/english/MD_better_protests_l_english.yml
  localisation/english/MD_decisions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add country names to satellite access tooltips
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

alllll the tweaks baby
  common/decisions/00_monetary_policy_decisions.txt
  common/decisions/Czech_Republic.txt
  common/decisions/EH_decisions.txt
  common/decisions/India.txt
  common/decisions/Iraq.txt
  common/decisions/Italy.txt
  common/decisions/USA.txt
  common/military_industrial_organization/organizations/MD_TAI_organizations.txt
  common/national_focus/05_Kabyle.txt
  common/national_focus/05_algeria.txt
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_bolivia.txt
  common/national_focus/05_czech_republic.txt
  common/national_focus/05_greece.txt
  common/national_focus/05_india.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_italy.txt
  common/national_focus/05_libya.txt
  common/national_focus/05_russia.txt
  common/national_focus/05_sweden.txt
  common/national_focus/05_syria.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/EH_generic.txt
  events/05_china.txt
  events/Algeria.txt
  events/Event Horizon.txt
  events/Greece.txt
  events/Iraq.txt
  events/Tajikistan.txt
  events/United States.txt
  localisation/english/MD_currency_l_english.yml
  localisation/english/MD_dm_modifiers_l_english.yml
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_IRQ_l_english.yml
  localisation/english/MD_focus_ITA_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
  tools/validation/tests/variable_tooltip_test.py
  tools/validation/validator_common.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix bailout localisation lexer errors
  common/scripted_localisation/01_money_scripted_localisation.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_frontend_l_english.yml
  localisation/english/MD_frontend_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Show country names in satellite access tooltips (#3001)
  common/scripted_localisation/01_money_scripted_localisation.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing stuff
  common/ai_equipment/AST_naval.txt
  common/ai_equipment/BRA_naval.txt
  common/ai_equipment/CAN_naval.txt
  common/ai_equipment/CHI_naval.txt
  common/ai_equipment/ENG_naval.txt
  common/ai_equipment/FRA_naval.txt
  common/ai_equipment/GER_naval.txt
  common/ai_equipment/ITA_naval.txt
  common/ai_equipment/JAP_naval.txt
  common/ai_equipment/KOR_naval.txt
  common/ai_equipment/NKO_naval.txt
  common/ai_equipment/POR_naval.txt
  common/ai_equipment/RAJ_naval.txt
  common/ai_equipment/SOV_naval.txt
  common/ai_equipment/SPR_naval.txt
  common/ai_equipment/TUR_naval.txt
  common/ai_equipment/USA_naval.txt
  common/ai_equipment/generic_naval.txt
  interface/equipmentdesigner/MD_ship_hull_stealth_destroyer.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Adding the free captured operative raid type
  common/raids/special_forces_raids.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_military_raids_l_braz_por.yml
  localisation/braz_por/MD_military_raids_l_braz_por.yml
Due: none

Update MD_military_raids_l_english.yml
  localisation/english/MD_military_raids_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update MD_military_raids_l_french.yml
  localisation/french/MD_military_raids_l_french.yml
Due: none

Update MD_military_raids_l_german.yml
  localisation/german/MD_military_raids_l_german.yml
Due: none

fix typo in MD_military_raids_l_french.yml
  localisation/french/MD_military_raids_l_french.yml
Due: none

Update MD_military_raids_l_japanese.yml
  localisation/japanese/MD_military_raids_l_japanese.yml
Due: none

Update MD_military_raids_l_korean.yml
  localisation/korean/MD_military_raids_l_korean.yml
Due: none

Update MD_military_raids_l_polish.yml
  localisation/polish/MD_military_raids_l_polish.yml
Due: none

Update MD_military_raids_l_russian.yml
  localisation/russian/MD_military_raids_l_russian.yml
Due: none

Update MD_military_raids_l_simp_chinese.yml
  localisation/simp_chinese/MD_military_raids_l_simp_chinese.yml
Due: none

Update MD_military_raids_l_spanish.yml
  localisation/spanish/MD_military_raids_l_spanish.yml
Due: none

Update Changelog.txt
  Changelog.txt
Due: none

Update MD_military_raids.gfx to add an interface icon
  interface/military_raids/MD_military_raids.gfx
Due: none

New raid type: Free captured Operative (#3003)
  Changelog.txt
  common/raids/special_forces_raids.txt
  interface/military_raids/MD_military_raids.gfx
  localisation/braz_por/MD_military_raids_l_braz_por.yml
  localisation/english/MD_military_raids_l_english.yml
  localisation/french/MD_military_raids_l_french.yml
  localisation/german/MD_military_raids_l_german.yml
  localisation/japanese/MD_military_raids_l_japanese.yml
  localisation/korean/MD_military_raids_l_korean.yml
  localisation/polish/MD_military_raids_l_polish.yml
  localisation/russian/MD_military_raids_l_russian.yml
  localisation/simp_chinese/MD_military_raids_l_simp_chinese.yml
  localisation/spanish/MD_military_raids_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing the missing three font bug FINALLY ITS DEAD LONG REIGN THE KING
  common/scripted_localisation/01_missiles_textures.txt
  interface/MD_countrymissilesview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

resolves #2829, resolves #2830, resolves #2874
  common/decisions/Sudan.txt
  common/national_focus/05_indonesia.txt
  common/national_focus/05_iran.txt
  common/national_focus/05_iraq.txt
  common/national_focus/05_libya.txt
  common/national_focus/turkey.txt
  common/on_actions/99_EH_on_actions.txt
  common/technologies/engineering.txt
  common/technologies/industry.txt
  events/Egypt.txt
  events/Israel_events.txt
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Finished niger delta crisis chain
  common/ideas/nigerian.txt
  common/national_focus/05_nigeria.txt
  events/Nigeria_Niger_Delta.txt
  localisation/english/MD_focus_NIG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add missing SAR states for Inner Mongolia and Xinjiang (#3002)
  common/dynamic_modifiers/99_CHI_dynamic_modifiers.txt
  common/dynamic_modifiers/README.md
  common/national_focus/05_china.txt
  common/scripted_effects/05_CHI_scripted_effects.txt
  common/scripted_triggers/99_CHI_scripted_triggers.txt
  history/countries/CHI - China.txt
  history/states/1097-Hulunbuir.txt
  history/states/591-Aksai Chin.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Increase MIO funds gain defines by 15% (#2892)
  common/defines/MD_defines.lua
Due: none

Update changelog for MIO funds gain increase (#2892)
  Changelog.txt
Due: none

stuff
  common/decisions/Turkey.txt
  common/national_focus/05_turkey.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Chinese megaproject decisions: Hainan Free Trade Port and Kra Canal hooks (#2058)
  common/decisions/05_CHI_decisions.txt
  localisation/english/MD_focus_CHI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Rework the Royal Navy focus branch (#1986)
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
